In [20]:
import pandas as pd
import matplotlib as mpl
import numpy as np

#rom sys import argv
#script, pileup, SNPS = argv
#infile= pileup
#outfile = SNPS

In [21]:
###read in file line by line
pileup = "Fragaria_x_ananassa-Winter_Dawn_vs_fvesca_v1.1_pseudo.fna.LG1_50K.pileup"
putable = pd.read_table(pileup, sep="\t",header=None)

In [ ]:
###convert basequality to phred
# for index,row in putable.iterrows():
#     PHRED_LIST =[] 
#     for char in row[5]:
#         PHRED= ord(char)-33
#         PHRED_LIST.append(PHRED)
#         print(PHRED_LIST)
    
#for ficklin- function that skips lines you don't want, including has more than 10 reads

In [43]:
###skip lines containing *,+,-,<,>, or that have less than 10 reads

skips = ['\*','\+','\-','\<','\>']
putable= putable[putable[4].str.contains('|'.join(skips)) == False & (putable[4].str.len() >= 10)]

#replace $ or ^ with empty string

In [45]:
###Count base if
    #phred > 30
    #Assign count to variant
for index,row in putable.iterrows():
    match = 0
    A = 0
    T= 0
    G=0
    C=0  
    PHRED_LIST =[] ##convert basequality to phred, get rid of character characters for deginning of read so qualtiy string and read string oare same lingth
    #for i in reange 0 to len(string)
    for char in row[5]:
        if ord(char)-33 >= 30:
            for digit in row[6]:
                if digit = > 30:
                if row[4] = "." or ","
                match + 1
                elif row[4]= 'A' or 'a'
                    A + 1
                
                elif row[4]= 'G' or 'g'
                    B + 1
                        
                elif row[4]= 'C' or 'c'
                    C + 1
                 
                elif row[4]= 'T' or 't'
                    T + 1

0           LG1
1            40
2             A
3             8
4    .......^].
5      ?JJAHC1B
Name: 39, dtype: object
0           LG1
1            40
2             A
3             8
4    .......^].
5      ?JJAHC1B
Name: 39, dtype: object
0           LG1
1            40
2             A
3             8
4    .......^].
5      ?JJAHC1B
Name: 39, dtype: object
0           LG1
1            40
2             A
3             8
4    .......^].
5      ?JJAHC1B
Name: 39, dtype: object
0           LG1
1            40
2             A
3             8
4    .......^].
5      ?JJAHC1B
Name: 39, dtype: object
0           LG1
1            40
2             A
3             8
4    .......^].
5      ?JJAHC1B
Name: 39, dtype: object
0           LG1
1            40
2             A
3             8
4    .......^].
5      ?JJAHC1B
Name: 39, dtype: object
0           LG1
1            47
2             A
3            10
4    ..........
5    ?IJCJHDF;@
Name: 46, dtype: object
0           LG1
1            47
2             A
3            10
4    ..........
5    ?IJCJHDF;@
Name: 46, dtype: object
0           LG1
1            47
2             A
3            10
4    ..........
5    ?IJCJHDF;@
Name: 46, dtype: object
0           LG1
1            47
2             A
3            10
4    ..........
5    ?IJCJHDF;@
Name: 46, dtype: object
0           LG1
1            47
2             A
3            10
4    ..........
5    ?IJCJHDF;@
Name: 46, dtype: object
0           LG1
1            47
2             A
3            10
4    ..........
5    ?IJCJHDF;@
Name: 46, dtype: object
0           LG1
1            47
2             A
3            10
4    ..........
5    ?IJCJHDF;@
Name: 46, dtype: object
0           LG1
1            47
2             A
3            10
4    ..........
5    ?IJCJHDF;@
Name: 46, dtype: object
0           LG1
1            47
2             A
3            10
4    ..........
5    ?IJCJHDF;@
Name: 46, dtype: object
0           LG1
1            48
2             T
3            10
4    ..........
5    9JI?JH?HD@
Name: 47, dtype: object
0           LG1
1            48
2             T
3            10
4    ..........
5    9JI?JH?HD@
Name: 47, dtype: object
0           LG1
1            48
2             T
3            10
4    ..........
5    9JI?JH?HD@
Name: 47, dtype: object
0           LG1
1            48
2             T
3            10
4    ..........
5    9JI?JH?HD@
Name: 47, dtype: object
0           LG1
1            48
2             T
3            10
4    ..........
5    9JI?JH?HD@
Name: 47, dtype: object
0           LG1
1            48
2             T
3            10
4    ..........
5    9JI?JH?HD@
Name: 47, dtype: object
0           LG1
1            48
2             T
3            10
4    ..........
5    9JI?JH?HD@
Name: 47, dtype: object
0           LG1
1            48
2             T
3            10
4    ..........
5    9JI?JH?HD@
Name: 47, dtype: object
0           LG1
1            48
2             T
3            10
4    ..........
5    9JI?JH?HD@
Name: 47, dtype: object
0           LG1
1            49
2             A
3            10
4    ..........
5    0JJ<JH:H;D
Name: 48, dtype: object
0           LG1
1            49
2             A
3            10
4    ..........
5    0JJ<JH:H;D
Name: 48, dtype: object
0           LG1
1            49
2             A
3            10
4    ..........
5    0JJ<JH:H;D
Name: 48, dtype: object
0           LG1
1            49
2             A
3            10
4    ..........
5    0JJ<JH:H;D
Name: 48, dtype: object
0           LG1
1            49
2             A
3            10
4    ..........
5    0JJ<JH:H;D
Name: 48, dtype: object
0           LG1
1            49
2             A
3            10
4    ..........
5    0JJ<JH:H;D
Name: 48, dtype: object
0           LG1
1            50
2             C
3            10
4    ..........
5    ?JJEIH2HBF
Name: 49, dtype: object
0           LG1
1            50
2             C
3            10
4    ..........
5    ?JJEIH2HBF
Name: 49, dtype: object
0           LG1
1            50
2             C
3            10
4    ..........
5    ?JJEIH2HBF
Name: 49, dtype: object
0           LG1
1            50
2             C
3            10
4    ..........
5    ?JJEIH2HBF
Name: 49, dtype: object
0           LG1
1            50
2             C
3            10
4    ..........
5    ?JJEIH2HBF
Name: 49, dtype: object
0           LG1
1            50
2             C
3            10
4    ..........
5    ?JJEIH2HBF
Name: 49, dtype: object
0           LG1
1            50
2             C
3            10
4    ..........
5    ?JJEIH2HBF
Name: 49, dtype: object
0           LG1
1            50
2             C
3            10
4    ..........
5    ?JJEIH2HBF
Name: 49, dtype: object
0           LG1
1            50
2             C
3            10
4    ..........
5    ?JJEIH2HBF
Name: 49, dtype: object
0           LG1
1            51
2             G
3            10
4    ..........
5    ?JJFJJAHBF
Name: 50, dtype: object
0           LG1
1            51
2             G
3            10
4    ..........
5    ?JJFJJAHBF
Name: 50, dtype: object
0           LG1
1            51
2             G
3            10
4    ..........
5    ?JJFJJAHBF
Name: 50, dtype: object
0           LG1
1            51
2             G
3            10
4    ..........
5    ?JJFJJAHBF
Name: 50, dtype: object
0           LG1
1            51
2             G
3            10
4    ..........
5    ?JJFJJAHBF
Name: 50, dtype: object
0           LG1
1            51
2             G
3            10
4    ..........
5    ?JJFJJAHBF
Name: 50, dtype: object
0           LG1
1            51
2             G
3            10
4    ..........
5    ?JJFJJAHBF
Name: 50, dtype: object
0           LG1
1            51
2             G
3            10
4    ..........
5    ?JJFJJAHBF
Name: 50, dtype: object
0           LG1
1            51
2             G
3            10
4    ..........
5    ?JJFJJAHBF
Name: 50, dtype: object
0           LG1
1            51
2             G
3            10
4    ..........
5    ?JJFJJAHBF
Name: 50, dtype: object
0           LG1
1            53
2             A
3            10
4    ..........
5    ?HG>HIEJAD
Name: 52, dtype: object
0           LG1
1            53
2             A
3            10
4    ..........
5    ?HG>HIEJAD
Name: 52, dtype: object
0           LG1
1            53
2             A
3            10
4    ..........
5    ?HG>HIEJAD
Name: 52, dtype: object
0           LG1
1            53
2             A
3            10
4    ..........
5    ?HG>HIEJAD
Name: 52, dtype: object
0           LG1
1            53
2             A
3            10
4    ..........
5    ?HG>HIEJAD
Name: 52, dtype: object
0           LG1
1            53
2             A
3            10
4    ..........
5    ?HG>HIEJAD
Name: 52, dtype: object
0           LG1
1            53
2             A
3            10
4    ..........
5    ?HG>HIEJAD
Name: 52, dtype: object
0           LG1
1            53
2             A
3            10
4    ..........
5    ?HG>HIEJAD
Name: 52, dtype: object
0           LG1
1            53
2             A
3            10
4    ..........
5    ?HG>HIEJAD
Name: 52, dtype: object
0           LG1
1            54
2             G
3            10
4    ..........
5    DII;HI<JAD
Name: 53, dtype: object
0           LG1
1            54
2             G
3            10
4    ..........
5    DII;HI<JAD
Name: 53, dtype: object
0           LG1
1            54
2             G
3            10
4    ..........
5    DII;HI<JAD
Name: 53, dtype: object
0           LG1
1            54
2             G
3            10
4    ..........
5    DII;HI<JAD
Name: 53, dtype: object
0           LG1
1            54
2             G
3            10
4    ..........
5    DII;HI<JAD
Name: 53, dtype: object
0           LG1
1            54
2             G
3            10
4    ..........
5    DII;HI<JAD
Name: 53, dtype: object
0           LG1
1            54
2             G
3            10
4    ..........
5    DII;HI<JAD
Name: 53, dtype: object
0           LG1
1            54
2             G
3            10
4    ..........
5    DII;HI<JAD
Name: 53, dtype: object
0           LG1
1            55
2             G
3            10
4    ..........
5    @IJGIJ<JAH
Name: 54, dtype: object
0           LG1
1            55
2             G
3            10
4    ..........
5    @IJGIJ<JAH
Name: 54, dtype: object
0           LG1
1            55
2             G
3            10
4    ..........
5    @IJGIJ<JAH
Name: 54, dtype: object
0           LG1
1            55
2             G
3            10
4    ..........
5    @IJGIJ<JAH
Name: 54, dtype: object
0           LG1
1            55
2             G
3            10
4    ..........
5    @IJGIJ<JAH
Name: 54, dtype: object
0           LG1
1            55
2             G
3            10
4    ..........
5    @IJGIJ<JAH
Name: 54, dtype: object
0           LG1
1            55
2             G
3            10
4    ..........
5    @IJGIJ<JAH
Name: 54, dtype: object
0           LG1
1            55
2             G
3            10
4    ..........
5    @IJGIJ<JAH
Name: 54, dtype: object
0           LG1
1            55
2             G
3            10
4    ..........
5    @IJGIJ<JAH
Name: 54, dtype: object
0           LG1
1            56
2             A
3            10
4    ..........
5    FFIHJJEJ2D
Name: 55, dtype: object
0           LG1
1            56
2             A
3            10
4    ..........
5    FFIHJJEJ2D
Name: 55, dtype: object
0           LG1
1            56
2             A
3            10
4    ..........
5    FFIHJJEJ2D
Name: 55, dtype: object
0           LG1
1            56
2             A
3            10
4    ..........
5    FFIHJJEJ2D
Name: 55, dtype: object
0           LG1
1            56
2             A
3            10
4    ..........
5    FFIHJJEJ2D
Name: 55, dtype: object
0           LG1
1            56
2             A
3            10
4    ..........
5    FFIHJJEJ2D
Name: 55, dtype: object
0           LG1
1            56
2             A
3            10
4    ..........
5    FFIHJJEJ2D
Name: 55, dtype: object
0           LG1
1            56
2             A
3            10
4    ..........
5    FFIHJJEJ2D
Name: 55, dtype: object
0           LG1
1            56
2             A
3            10
4    ..........
5    FFIHJJEJ2D
Name: 55, dtype: object
0           LG1
1            57
2             C
3            10
4    ..........
5    >IJIIJ<JAH
Name: 56, dtype: object
0           LG1
1            57
2             C
3            10
4    ..........
5    >IJIIJ<JAH
Name: 56, dtype: object
0           LG1
1            57
2             C
3            10
4    ..........
5    >IJIIJ<JAH
Name: 56, dtype: object
0           LG1
1            57
2             C
3            10
4    ..........
5    >IJIIJ<JAH
Name: 56, dtype: object
0           LG1
1            57
2             C
3            10
4    ..........
5    >IJIIJ<JAH
Name: 56, dtype: object
0           LG1
1            57
2             C
3            10
4    ..........
5    >IJIIJ<JAH
Name: 56, dtype: object
0           LG1
1            57
2             C
3            10
4    ..........
5    >IJIIJ<JAH
Name: 56, dtype: object
0           LG1
1            57
2             C
3            10
4    ..........
5    >IJIIJ<JAH
Name: 56, dtype: object
0           LG1
1            60
2             A
3            10
4    ..........
5    @JGGIJ:J@I
Name: 59, dtype: object
0           LG1
1            60
2             A
3            10
4    ..........
5    @JGGIJ:J@I
Name: 59, dtype: object
0           LG1
1            60
2             A
3            10
4    ..........
5    @JGGIJ:J@I
Name: 59, dtype: object
0           LG1
1            60
2             A
3            10
4    ..........
5    @JGGIJ:J@I
Name: 59, dtype: object
0           LG1
1            60
2             A
3            10
4    ..........
5    @JGGIJ:J@I
Name: 59, dtype: object
0           LG1
1            60
2             A
3            10
4    ..........
5    @JGGIJ:J@I
Name: 59, dtype: object
0           LG1
1            60
2             A
3            10
4    ..........
5    @JGGIJ:J@I
Name: 59, dtype: object
0           LG1
1            60
2             A
3            10
4    ..........
5    @JGGIJ:J@I
Name: 59, dtype: object
0           LG1
1            60
2             A
3            10
4    ..........
5    @JGGIJ:J@I
Name: 59, dtype: object
0           LG1
1            61
2             G
3            10
4    ..........
5    FJIEJJEJFJ
Name: 60, dtype: object
0           LG1
1            61
2             G
3            10
4    ..........
5    FJIEJJEJFJ
Name: 60, dtype: object
0           LG1
1            61
2             G
3            10
4    ..........
5    FJIEJJEJFJ
Name: 60, dtype: object
0           LG1
1            61
2             G
3            10
4    ..........
5    FJIEJJEJFJ
Name: 60, dtype: object
0           LG1
1            61
2             G
3            10
4    ..........
5    FJIEJJEJFJ
Name: 60, dtype: object
0           LG1
1            61
2             G
3            10
4    ..........
5    FJIEJJEJFJ
Name: 60, dtype: object
0           LG1
1            61
2             G
3            10
4    ..........
5    FJIEJJEJFJ
Name: 60, dtype: object
0           LG1
1            61
2             G
3            10
4    ..........
5    FJIEJJEJFJ
Name: 60, dtype: object
0           LG1
1            61
2             G
3            10
4    ..........
5    FJIEJJEJFJ
Name: 60, dtype: object
0           LG1
1            61
2             G
3            10
4    ..........
5    FJIEJJEJFJ
Name: 60, dtype: object
0           LG1
1            66
2             T
3            10
4    ..........
5    JJGJJDJFIF
Name: 65, dtype: object
0           LG1
1            66
2             T
3            10
4    ..........
5    JJGJJDJFIF
Name: 65, dtype: object
0           LG1
1            66
2             T
3            10
4    ..........
5    JJGJJDJFIF
Name: 65, dtype: object
0           LG1
1            66
2             T
3            10
4    ..........
5    JJGJJDJFIF
Name: 65, dtype: object
0           LG1
1            66
2             T
3            10
4    ..........
5    JJGJJDJFIF
Name: 65, dtype: object
0           LG1
1            66
2             T
3            10
4    ..........
5    JJGJJDJFIF
Name: 65, dtype: object
0           LG1
1            66
2             T
3            10
4    ..........
5    JJGJJDJFIF
Name: 65, dtype: object
0           LG1
1            66
2             T
3            10
4    ..........
5    JJGJJDJFIF
Name: 65, dtype: object

0           LG1
1            66
2             T
3            10
4    ..........
5    JJGJJDJFIF
Name: 65, dtype: object
0           LG1
1            66
2             T
3            10
4    ..........
5    JJGJJDJFIF
Name: 65, dtype: object
0           LG1
1            67
2             G
3            10
4    ..........
5    IJHJJCJ;EF
Name: 66, dtype: object
0           LG1
1            67
2             G
3            10
4    ..........
5    IJHJJCJ;EF
Name: 66, dtype: object
0           LG1
1            67
2             G
3            10
4    ..........
5    IJHJJCJ;EF
Name: 66, dtype: object
0           LG1
1            67
2             G
3            10
4    ..........
5    IJHJJCJ;EF
Name: 66, dtype: object
0           LG1
1            67
2             G
3            10
4    ..........
5    IJHJJCJ;EF
Name: 66, dtype: object
0           LG1
1            67
2             G
3            10
4    ..........
5    IJHJJCJ;EF
Name: 66, dtype: object
0           LG1
1            67
2             G
3            10
4    ..........
5    IJHJJCJ;EF
Name: 66, dtype: object
0           LG1
1            67
2             G
3            10
4    ..........
5    IJHJJCJ;EF
Name: 66, dtype: object
0           LG1
1            67
2             G
3            10
4    ..........
5    IJHJJCJ;EF
Name: 66, dtype: object
0           LG1
1         11034
2             A
3            10
4    ,,,,,,,,,,
5    HIJJJJJIJH
Name: 11033, dtype: object
0           LG1
1         11034
2             A
3            10
4    ,,,,,,,,,,
5    HIJJJJJIJH
Name: 11033, dtype: object
0           LG1
1         11034
2             A
3            10
4    ,,,,,,,,,,
5    HIJJJJJIJH
Name: 11033, dtype: object
0           LG1
1         11034
2             A
3            10
4    ,,,,,,,,,,
5    HIJJJJJIJH
Name: 11033, dtype: object
0           LG1
1         11034
2             A
3            10
4    ,,,,,,,,,,
5    HIJJJJJIJH
Name: 11033, dtype: object
0           LG1
1         11034
2             A
3            10
4    ,,,,,,,,,,
5    HIJJJJJIJH
Name: 11033, dtype: object
0           LG1
1         11034
2             A
3            10
4    ,,,,,,,,,,
5    HIJJJJJIJH
Name: 11033, dtype: object
0           LG1
1         11034
2             A
3            10
4    ,,,,,,,,,,
5    HIJJJJJIJH
Name: 11033, dtype: object
0           LG1
1         11034
2             A
3            10
4    ,,,,,,,,,,
5    HIJJJJJIJH
Name: 11033, dtype: object
0           LG1
1         11034
2             A
3            10
4    ,,,,,,,,,,
5    HIJJJJJIJH
Name: 11033, dtype: object
0           LG1
1         11035
2             T
3            10
4    ,,,,,,,,,,
5    HFJJIJJJJH
Name: 11034, dtype: object
0           LG1
1         11035
2             T
3            10
4    ,,,,,,,,,,
5    HFJJIJJJJH
Name: 11034, dtype: object
0           LG1
1         11035
2             T
3            10
4    ,,,,,,,,,,
5    HFJJIJJJJH
Name: 11034, dtype: object
0           LG1
1         11035
2             T
3            10
4    ,,,,,,,,,,
5    HFJJIJJJJH
Name: 11034, dtype: object
0           LG1
1         11035
2             T
3            10
4    ,,,,,,,,,,
5    HFJJIJJJJH
Name: 11034, dtype: object
0           LG1
1         11035
2             T
3            10
4    ,,,,,,,,,,
5    HFJJIJJJJH
Name: 11034, dtype: object
0           LG1
1         11035
2             T
3            10
4    ,,,,,,,,,,
5    HFJJIJJJJH
Name: 11034, dtype: object
0           LG1
1         11035
2             T
3            10
4    ,,,,,,,,,,
5    HFJJIJJJJH
Name: 11034, dtype: object
0           LG1
1         11035
2             T
3            10
4    ,,,,,,,,,,
5    HFJJIJJJJH
Name: 11034, dtype: object
0           LG1
1         11035
2             T
3            10
4    ,,,,,,,,,,
5    HFJJIJJJJH
Name: 11034, dtype: object
0           LG1
1         11036
2             T
3            10
4    ,,,,,,,,,,
5    FDJJGJJJJH
Name: 11035, dtype: object
0           LG1
1         11036
2             T
3            10
4    ,,,,,,,,,,
5    FDJJGJJJJH
Name: 11035, dtype: object
0           LG1
1         11036
2             T
3            10
4    ,,,,,,,,,,
5    FDJJGJJJJH
Name: 11035, dtype: object
0           LG1
1         11036
2             T
3            10
4    ,,,,,,,,,,
5    FDJJGJJJJH
Name: 11035, dtype: object
0           LG1
1         11036
2             T
3            10
4    ,,,,,,,,,,
5    FDJJGJJJJH
Name: 11035, dtype: object
0           LG1
1         11036
2             T
3            10
4    ,,,,,,,,,,
5    FDJJGJJJJH
Name: 11035, dtype: object
0           LG1
1         11036
2             T
3            10
4    ,,,,,,,,,,
5    FDJJGJJJJH
Name: 11035, dtype: object
0           LG1
1         11036
2             T
3            10
4    ,,,,,,,,,,
5    FDJJGJJJJH
Name: 11035, dtype: object
0           LG1
1         11036
2             T
3            10
4    ,,,,,,,,,,
5    FDJJGJJJJH
Name: 11035, dtype: object
0           LG1
1         11036
2             T
3            10
4    ,,,,,,,,,,
5    FDJJGJJJJH
Name: 11035, dtype: object
0           LG1
1         11037
2             T
3            10
4    ,,,,,,,,,,
5    FGHJHJJJJH
Name: 11036, dtype: object
0           LG1
1         11037
2             T
3            10
4    ,,,,,,,,,,
5    FGHJHJJJJH
Name: 11036, dtype: object
0           LG1
1         11037
2             T
3            10
4    ,,,,,,,,,,
5    FGHJHJJJJH
Name: 11036, dtype: object
0           LG1
1         11037
2             T
3            10
4    ,,,,,,,,,,
5    FGHJHJJJJH
Name: 11036, dtype: object
0           LG1
1         11037
2             T
3            10
4    ,,,,,,,,,,
5    FGHJHJJJJH
Name: 11036, dtype: object
0           LG1
1         11037
2             T
3            10
4    ,,,,,,,,,,
5    FGHJHJJJJH
Name: 11036, dtype: object
0           LG1
1         11037
2             T
3            10
4    ,,,,,,,,,,
5    FGHJHJJJJH
Name: 11036, dtype: object
0           LG1
1         11037
2             T
3            10
4    ,,,,,,,,,,
5    FGHJHJJJJH
Name: 11036, dtype: object
0           LG1
1         11037
2             T
3            10
4    ,,,,,,,,,,
5    FGHJHJJJJH
Name: 11036, dtype: object
0           LG1
1         11037
2             T
3            10
4    ,,,,,,,,,,
5    FGHJHJJJJH
Name: 11036, dtype: object
0           LG1
1         11038
2             G
3            10
4    ,,,,,,,,,,
5    FHGJGJJJJG
Name: 11037, dtype: object
0           LG1
1         11038
2             G
3            10
4    ,,,,,,,,,,
5    FHGJGJJJJG
Name: 11037, dtype: object
0           LG1
1         11038
2             G
3            10
4    ,,,,,,,,,,
5    FHGJGJJJJG
Name: 11037, dtype: object
0           LG1
1         11038
2             G
3            10
4    ,,,,,,,,,,
5    FHGJGJJJJG
Name: 11037, dtype: object
0           LG1
1         11038
2             G
3            10
4    ,,,,,,,,,,
5    FHGJGJJJJG
Name: 11037, dtype: object
0           LG1
1         11038
2             G
3            10
4    ,,,,,,,,,,
5    FHGJGJJJJG
Name: 11037, dtype: object
0           LG1
1         11038
2             G
3            10
4    ,,,,,,,,,,
5    FHGJGJJJJG
Name: 11037, dtype: object
0           LG1
1         11038
2             G
3            10
4    ,,,,,,,,,,
5    FHGJGJJJJG
Name: 11037, dtype: object
0           LG1
1         11038
2             G
3            10
4    ,,,,,,,,,,
5    FHGJGJJJJG
Name: 11037, dtype: object
0           LG1
1         11038
2             G
3            10
4    ,,,,,,,,,,
5    FHGJGJJJJG
Name: 11037, dtype: object
0           LG1
1         11039
2             A
3            10
4    ,,g,,g,,,,
5    FHHHIJJJJG
Name: 11038, dtype: object
0           LG1
1         11039
2             A
3            10
4    ,,g,,g,,,,
5    FHHHIJJJJG
Name: 11038, dtype: object
0           LG1
1         11039
2             A
3            10
4    ,,g,,g,,,,
5    FHHHIJJJJG
Name: 11038, dtype: object
0           LG1
1         11039
2             A
3            10
4    ,,g,,g,,,,
5    FHHHIJJJJG
Name: 11038, dtype: object
0           LG1
1         11039
2             A
3            10
4    ,,g,,g,,,,
5    FHHHIJJJJG
Name: 11038, dtype: object
0           LG1
1         11039
2             A
3            10
4    ,,g,,g,,,,
5    FHHHIJJJJG
Name: 11038, dtype: object
0           LG1
1         11039
2             A
3            10
4    ,,g,,g,,,,
5    FHHHIJJJJG
Name: 11038, dtype: object
0           LG1
1         11039
2             A
3            10
4    ,,g,,g,,,,
5    FHHHIJJJJG
Name: 11038, dtype: object
0           LG1
1         11039
2             A
3            10
4    ,,g,,g,,,,
5    FHHHIJJJJG
Name: 11038, dtype: object
0           LG1
1         11039
2             A
3            10
4    ,,g,,g,,,,
5    FHHHIJJJJG
Name: 11038, dtype: object
0           LG1
1         11040
2             A
3            10
4    ,,,,,,,,,,
5    FFHHJJJJJH
Name: 11039, dtype: object
0           LG1
1         11040
2             A
3            10
4    ,,,,,,,,,,
5    FFHHJJJJJH
Name: 11039, dtype: object
0           LG1
1         11040
2             A
3            10
4    ,,,,,,,,,,
5    FFHHJJJJJH
Name: 11039, dtype: object
0           LG1
1         11040
2             A
3            10
4    ,,,,,,,,,,
5    FFHHJJJJJH
Name: 11039, dtype: object
0           LG1
1         11040
2             A
3            10
4    ,,,,,,,,,,
5    FFHHJJJJJH
Name: 11039, dtype: object
0           LG1
1         11040
2             A
3            10
4    ,,,,,,,,,,
5    FFHHJJJJJH
Name: 11039, dtype: object
0           LG1
1         11040
2             A
3            10
4    ,,,,,,,,,,
5    FFHHJJJJJH
Name: 11039, dtype: object
0           LG1
1         11040
2             A
3            10
4    ,,,,,,,,,,
5    FFHHJJJJJH
Name: 11039, dtype: object
0           LG1
1         11040
2             A
3            10
4    ,,,,,,,,,,
5    FFHHJJJJJH
Name: 11039, dtype: object
0           LG1
1         11040
2             A
3            10
4    ,,,,,,,,,,
5    FFHHJJJJJH
Name: 11039, dtype: object
0           LG1
1         11041
2             A
3            10
4    ,,,,,,,,,,
5    CFHHJJJJJJ
Name: 11040, dtype: object
0           LG1
1         11041
2             A
3            10
4    ,,,,,,,,,,
5    CFHHJJJJJJ
Name: 11040, dtype: object
0           LG1
1         11041
2             A
3            10
4    ,,,,,,,,,,
5    CFHHJJJJJJ
Name: 11040, dtype: object
0           LG1
1         11041
2             A
3            10
4    ,,,,,,,,,,
5    CFHHJJJJJJ
Name: 11040, dtype: object
0           LG1
1         11041
2             A
3            10
4    ,,,,,,,,,,
5    CFHHJJJJJJ
Name: 11040, dtype: object
0           LG1
1         11041
2             A
3            10
4    ,,,,,,,,,,
5    CFHHJJJJJJ
Name: 11040, dtype: object
0           LG1
1         11041
2             A
3            10
4    ,,,,,,,,,,
5    CFHHJJJJJJ
Name: 11040, dtype: object
0           LG1
1         11041
2             A
3            10
4    ,,,,,,,,,,
5    CFHHJJJJJJ
Name: 11040, dtype: object
0           LG1
1         11041
2             A
3            10
4    ,,,,,,,,,,
5    CFHHJJJJJJ
Name: 11040, dtype: object
0           LG1
1         11041
2             A
3            10
4    ,,,,,,,,,,
5    CFHHJJJJJJ
Name: 11040, dtype: object
0           LG1
1         11042
2             T
3            10
4    ,,,,,,,,,,
5    >DFHJIJJHI
Name: 11041, dtype: object
0           LG1
1         11042
2             T
3            10
4    ,,,,,,,,,,
5    >DFHJIJJHI
Name: 11041, dtype: object
0           LG1
1         11042
2             T
3            10
4    ,,,,,,,,,,
5    >DFHJIJJHI
Name: 11041, dtype: object
0           LG1
1         11042
2             T
3            10
4    ,,,,,,,,,,
5    >DFHJIJJHI
Name: 11041, dtype: object
0           LG1
1         11042
2             T
3            10
4    ,,,,,,,,,,
5    >DFHJIJJHI
Name: 11041, dtype: object
0           LG1
1         11042
2             T
3            10
4    ,,,,,,,,,,
5    >DFHJIJJHI
Name: 11041, dtype: object
0           LG1
1         11042
2             T
3            10
4    ,,,,,,,,,,
5    >DFHJIJJHI
Name: 11041, dtype: object
0           LG1
1         11042
2             T
3            10
4    ,,,,,,,,,,
5    >DFHJIJJHI
Name: 11041, dtype: object
0           LG1
1         11042
2             T
3            10
4    ,,,,,,,,,,
5    >DFHJIJJHI
Name: 11041, dtype: object
0           LG1
1         11045
2             G
3             9
4    ,$,,,,,,,,
5     :FFHJJJJJ
Name: 11044, dtype: object
0           LG1
1         11045
2             G
3             9
4    ,$,,,,,,,,
5     :FFHJJJJJ
Name: 11044, dtype: object
0           LG1
1         11045
2             G
3             9
4    ,$,,,,,,,,
5     :FFHJJJJJ
Name: 11044, dtype: object
0           LG1
1         11045
2             G
3             9
4    ,$,,,,,,,,
5     :FFHJJJJJ
Name: 11044, dtype: object
0           LG1
1         11045
2             G
3             9
4    ,$,,,,,,,,
5     :FFHJJJJJ
Name: 11044, dtype: object
0           LG1
1         11045
2             G
3             9
4    ,$,,,,,,,,
5     :FFHJJJJJ
Name: 11044, dtype: object
0           LG1
1         11045
2             G
3             9
4    ,$,,,,,,,,
5     :FFHJJJJJ
Name: 11044, dtype: object
0           LG1
1         11045
2             G
3             9
4    ,$,,,,,,,,
5     :FFHJJJJJ
Name: 11044, dtype: object
0           LG1
1         11900
2             T
3             8
4    .......^].
5      JJImJF3C
Name: 11169, dtype: object
0           LG1
1         11900
2             T
3             8
4    .......^].
5      JJImJF3C
Name: 11169, dtype: object
0           LG1
1         11900
2             T
3             8
4    .......^].
5      JJImJF3C
Name: 11169, dtype: object
0           LG1
1         11900
2             T
3             8
4    .......^].
5      JJImJF3C
Name: 11169, dtype: object
0           LG1
1         11900
2             T
3             8
4    .......^].
5      JJImJF3C
Name: 11169, dtype: object
0           LG1
1         11900
2             T
3             8
4    .......^].
5      JJImJF3C
Name: 11169, dtype: object
0           LG1
1         11900
2             T
3             8
4    .......^].
5      JJImJF3C
Name: 11169, dtype: object
0           LG1
1         11908
2             A
3            10
4    ..........
5    JJInIGCHC@
Name: 11177, dtype: object
0           LG1
1         11908
2             A
3            10
4    ..........
5    JJInIGCHC@
Name: 11177, dtype: object
0           LG1
1         11908
2             A
3            10
4    ..........
5    JJInIGCHC@
Name: 11177, dtype: object
0           LG1
1         11908
2             A
3            10
4    ..........
5    JJInIGCHC@
Name: 11177, dtype: object
0           LG1
1         11908
2             A
3            10
4    ..........
5    JJInIGCHC@
Name: 11177, dtype: object

0           LG1
1         11908
2             A
3            10
4    ..........
5    JJInIGCHC@
Name: 11177, dtype: object
0           LG1
1         11908
2             A
3            10
4    ..........
5    JJInIGCHC@
Name: 11177, dtype: object
0           LG1
1         11908
2             A
3            10
4    ..........
5    JJInIGCHC@
Name: 11177, dtype: object
0           LG1
1         11908
2             A
3            10
4    ..........
5    JJInIGCHC@
Name: 11177, dtype: object
0           LG1
1         11908
2             A
3            10
4    ..........
5    JJInIGCHC@
Name: 11177, dtype: object
0           LG1
1         13156
2             T
3             6
4    ,,,,^].^],
5        DCC>AA
Name: 12425, dtype: object
0           LG1
1         13156
2             T
3             6
4    ,,,,^].^],
5        DCC>AA
Name: 12425, dtype: object
0           LG1
1         13156
2             T
3             6
4    ,,,,^].^],
5        DCC>AA
Name: 12425, dtype: object
0           LG1
1         13156
2             T
3             6
4    ,,,,^].^],
5        DCC>AA
Name: 12425, dtype: object
0           LG1
1         13156
2             T
3             6
4    ,,,,^].^],
5        DCC>AA
Name: 12425, dtype: object
0           LG1
1         14313
2             C
3            10
4    ,,,.,,,,,.
5    FDJHJGJJJJ
Name: 13582, dtype: object
0           LG1
1         14313
2             C
3            10
4    ,,,.,,,,,.
5    FDJHJGJJJJ
Name: 13582, dtype: object
0           LG1
1         14313
2             C
3            10
4    ,,,.,,,,,.
5    FDJHJGJJJJ
Name: 13582, dtype: object
0           LG1
1         14313
2             C
3            10
4    ,,,.,,,,,.
5    FDJHJGJJJJ
Name: 13582, dtype: object
0           LG1
1         14313
2             C
3            10
4    ,,,.,,,,,.
5    FDJHJGJJJJ
Name: 13582, dtype: object
0           LG1
1         14313
2             C
3            10
4    ,,,.,,,,,.
5    FDJHJGJJJJ
Name: 13582, dtype: object
0           LG1
1         14313
2             C
3            10
4    ,,,.,,,,,.
5    FDJHJGJJJJ
Name: 13582, dtype: object
0           LG1
1         14313
2             C
3            10
4    ,,,.,,,,,.
5    FDJHJGJJJJ
Name: 13582, dtype: object
0           LG1
1         14313
2             C
3            10
4    ,,,.,,,,,.
5    FDJHJGJJJJ
Name: 13582, dtype: object
0           LG1
1         14313
2             C
3            10
4    ,,,.,,,,,.
5    FDJHJGJJJJ
Name: 13582, dtype: object
0           LG1
1         14314
2             T
3            10
4    ,,,.,,,,,.
5    FHJGJCIJJI
Name: 13583, dtype: object
0           LG1
1         14314
2             T
3            10
4    ,,,.,,,,,.
5    FHJGJCIJJI
Name: 13583, dtype: object
0           LG1
1         14314
2             T
3            10
4    ,,,.,,,,,.
5    FHJGJCIJJI
Name: 13583, dtype: object
0           LG1
1         14314
2             T
3            10
4    ,,,.,,,,,.
5    FHJGJCIJJI
Name: 13583, dtype: object
0           LG1
1         14314
2             T
3            10
4    ,,,.,,,,,.
5    FHJGJCIJJI
Name: 13583, dtype: object
0           LG1
1         14314
2             T
3            10
4    ,,,.,,,,,.
5    FHJGJCIJJI
Name: 13583, dtype: object
0           LG1
1         14314
2             T
3            10
4    ,,,.,,,,,.
5    FHJGJCIJJI
Name: 13583, dtype: object
0           LG1
1         14314
2             T
3            10
4    ,,,.,,,,,.
5    FHJGJCIJJI
Name: 13583, dtype: object
0           LG1
1         14314
2             T
3            10
4    ,,,.,,,,,.
5    FHJGJCIJJI
Name: 13583, dtype: object
0           LG1
1         14314
2             T
3            10
4    ,,,.,,,,,.
5    FHJGJCIJJI
Name: 13583, dtype: object
0           LG1
1         14315
2             G
3            10
4    ,,,.,,,,,.
5    FHJHJ<JJJJ
Name: 13584, dtype: object
0           LG1
1         14315
2             G
3            10
4    ,,,.,,,,,.
5    FHJHJ<JJJJ
Name: 13584, dtype: object
0           LG1
1         14315
2             G
3            10
4    ,,,.,,,,,.
5    FHJHJ<JJJJ
Name: 13584, dtype: object
0           LG1
1         14315
2             G
3            10
4    ,,,.,,,,,.
5    FHJHJ<JJJJ
Name: 13584, dtype: object
0           LG1
1         14315
2             G
3            10
4    ,,,.,,,,,.
5    FHJHJ<JJJJ
Name: 13584, dtype: object
0           LG1
1         14315
2             G
3            10
4    ,,,.,,,,,.
5    FHJHJ<JJJJ
Name: 13584, dtype: object
0           LG1
1         14315
2             G
3            10
4    ,,,.,,,,,.
5    FHJHJ<JJJJ
Name: 13584, dtype: object
0           LG1
1         14315
2             G
3            10
4    ,,,.,,,,,.
5    FHJHJ<JJJJ
Name: 13584, dtype: object
0           LG1
1         14315
2             G
3            10
4    ,,,.,,,,,.
5    FHJHJ<JJJJ
Name: 13584, dtype: object
0           LG1
1         14320
2             C
3            10
4    ,,.,,,,,..
5    IJFCFGIIIJ
Name: 13589, dtype: object
0           LG1
1         14320
2             C
3            10
4    ,,.,,,,,..
5    IJFCFGIIIJ
Name: 13589, dtype: object
0           LG1
1         14320
2             C
3            10
4    ,,.,,,,,..
5    IJFCFGIIIJ
Name: 13589, dtype: object
0           LG1
1         14320
2             C
3            10
4    ,,.,,,,,..
5    IJFCFGIIIJ
Name: 13589, dtype: object
0           LG1
1         14320
2             C
3            10
4    ,,.,,,,,..
5    IJFCFGIIIJ
Name: 13589, dtype: object
0           LG1
1         14320
2             C
3            10
4    ,,.,,,,,..
5    IJFCFGIIIJ
Name: 13589, dtype: object
0           LG1
1         14320
2             C
3            10
4    ,,.,,,,,..
5    IJFCFGIIIJ
Name: 13589, dtype: object
0           LG1
1         14320
2             C
3            10
4    ,,.,,,,,..
5    IJFCFGIIIJ
Name: 13589, dtype: object
0           LG1
1         14320
2             C
3            10
4    ,,.,,,,,..
5    IJFCFGIIIJ
Name: 13589, dtype: object
0           LG1
1         14320
2             C
3            10
4    ,,.,,,,,..
5    IJFCFGIIIJ
Name: 13589, dtype: object
0           LG1
1         14336
2             C
3            10
4    .,,,,,....
5    ;I2JJJIJ9C
Name: 13605, dtype: object
0           LG1
1         14336
2             C
3            10
4    .,,,,,....
5    ;I2JJJIJ9C
Name: 13605, dtype: object
0           LG1
1         14336
2             C
3            10
4    .,,,,,....
5    ;I2JJJIJ9C
Name: 13605, dtype: object
0           LG1
1         14336
2             C
3            10
4    .,,,,,....
5    ;I2JJJIJ9C
Name: 13605, dtype: object
0           LG1
1         14336
2             C
3            10
4    .,,,,,....
5    ;I2JJJIJ9C
Name: 13605, dtype: object
0           LG1
1         14336
2             C
3            10
4    .,,,,,....
5    ;I2JJJIJ9C
Name: 13605, dtype: object
0           LG1
1         14336
2             C
3            10
4    .,,,,,....
5    ;I2JJJIJ9C
Name: 13605, dtype: object
0           LG1
1         14338
2             G
3            10
4    .,,,,,....
5    CIDJJJJJH?
Name: 13607, dtype: object
0           LG1
1         14338
2             G
3            10
4    .,,,,,....
5    CIDJJJJJH?
Name: 13607, dtype: object
0           LG1
1         14338
2             G
3            10
4    .,,,,,....
5    CIDJJJJJH?
Name: 13607, dtype: object
0           LG1
1         14338
2             G
3            10
4    .,,,,,....
5    CIDJJJJJH?
Name: 13607, dtype: object
0           LG1
1         14338
2             G
3            10
4    .,,,,,....
5    CIDJJJJJH?
Name: 13607, dtype: object
0           LG1
1         14338
2             G
3            10
4    .,,,,,....
5    CIDJJJJJH?
Name: 13607, dtype: object
0           LG1
1         14338
2             G
3            10
4    .,,,,,....
5    CIDJJJJJH?
Name: 13607, dtype: object
0           LG1
1         14338
2             G
3            10
4    .,,,,,....
5    CIDJJJJJH?
Name: 13607, dtype: object
0           LG1
1         14338
2             G
3            10
4    .,,,,,....
5    CIDJJJJJH?
Name: 13607, dtype: object
0           LG1
1         14338
2             G
3            10
4    .,,,,,....
5    CIDJJJJJH?
Name: 13607, dtype: object
0           LG1
1         14339
2             A
3            10
4    .,,,,,....
5    CHFJJJJJA<
Name: 13608, dtype: object
0           LG1
1         14339
2             A
3            10
4    .,,,,,....
5    CHFJJJJJA<
Name: 13608, dtype: object
0           LG1
1         14339
2             A
3            10
4    .,,,,,....
5    CHFJJJJJA<
Name: 13608, dtype: object
0           LG1
1         14339
2             A
3            10
4    .,,,,,....
5    CHFJJJJJA<
Name: 13608, dtype: object
0           LG1
1         14339
2             A
3            10
4    .,,,,,....
5    CHFJJJJJA<
Name: 13608, dtype: object
0           LG1
1         14339
2             A
3            10
4    .,,,,,....
5    CHFJJJJJA<
Name: 13608, dtype: object
0           LG1
1         14339
2             A
3            10
4    .,,,,,....
5    CHFJJJJJA<
Name: 13608, dtype: object
0           LG1
1         14339
2             A
3            10
4    .,,,,,....
5    CHFJJJJJA<
Name: 13608, dtype: object
0           LG1
1         14339
2             A
3            10
4    .,,,,,....
5    CHFJJJJJA<
Name: 13608, dtype: object
0           LG1
1         14340
2             A
3            10
4    .,,,,,....
5    EGDJJJJIH:
Name: 13609, dtype: object
0           LG1
1         14340
2             A
3            10
4    .,,,,,....
5    EGDJJJJIH:
Name: 13609, dtype: object
0           LG1
1         14340
2             A
3            10
4    .,,,,,....
5    EGDJJJJIH:
Name: 13609, dtype: object
0           LG1
1         14340
2             A
3            10
4    .,,,,,....
5    EGDJJJJIH:
Name: 13609, dtype: object
0           LG1
1         14340
2             A
3            10
4    .,,,,,....
5    EGDJJJJIH:
Name: 13609, dtype: object
0           LG1
1         14340
2             A
3            10
4    .,,,,,....
5    EGDJJJJIH:
Name: 13609, dtype: object
0           LG1
1         14340
2             A
3            10
4    .,,,,,....
5    EGDJJJJIH:
Name: 13609, dtype: object
0           LG1
1         14340
2             A
3            10
4    .,,,,,....
5    EGDJJJJIH:
Name: 13609, dtype: object
0           LG1
1         14340
2             A
3            10
4    .,,,,,....
5    EGDJJJJIH:
Name: 13609, dtype: object
0           LG1
1         14341
2             G
3            10
4    .,,,,,....
5    CH=IJIJJ@C
Name: 13610, dtype: object
0           LG1
1         14341
2             G
3            10
4    .,,,,,....
5    CH=IJIJJ@C
Name: 13610, dtype: object
0           LG1
1         14341
2             G
3            10
4    .,,,,,....
5    CH=IJIJJ@C
Name: 13610, dtype: object
0           LG1
1         14341
2             G
3            10
4    .,,,,,....
5    CH=IJIJJ@C
Name: 13610, dtype: object
0           LG1
1         14341
2             G
3            10
4    .,,,,,....
5    CH=IJIJJ@C
Name: 13610, dtype: object
0           LG1
1         14341
2             G
3            10
4    .,,,,,....
5    CH=IJIJJ@C
Name: 13610, dtype: object
0           LG1
1         14341
2             G
3            10
4    .,,,,,....
5    CH=IJIJJ@C
Name: 13610, dtype: object
0           LG1
1         14341
2             G
3            10
4    .,,,,,....
5    CH=IJIJJ@C
Name: 13610, dtype: object
0           LG1
1         14341
2             G
3            10
4    .,,,,,....
5    CH=IJIJJ@C
Name: 13610, dtype: object
0           LG1
1         14342
2             A
3            10
4    .,,,,,....
5    :F2HIHJJEG
Name: 13611, dtype: object
0           LG1
1         14342
2             A
3            10
4    .,,,,,....
5    :F2HIHJJEG
Name: 13611, dtype: object
0           LG1
1         14342
2             A
3            10
4    .,,,,,....
5    :F2HIHJJEG
Name: 13611, dtype: object
0           LG1
1         14342
2             A
3            10
4    .,,,,,....
5    :F2HIHJJEG
Name: 13611, dtype: object
0           LG1
1         14342
2             A
3            10
4    .,,,,,....
5    :F2HIHJJEG
Name: 13611, dtype: object
0           LG1
1         14342
2             A
3            10
4    .,,,,,....
5    :F2HIHJJEG
Name: 13611, dtype: object
0           LG1
1         14342
2             A
3            10
4    .,,,,,....
5    :F2HIHJJEG
Name: 13611, dtype: object
0           LG1
1         14342
2             A
3            10
4    .,,,,,....
5    :F2HIHJJEG
Name: 13611, dtype: object
0           LG1
1         14343
2             G
3            10
4    CcccccCCCC
5    @HCHHJHJ@;

Name: 13612, dtype: object
0           LG1
1         14343
2             G
3            10
4    CcccccCCCC
5    @HCHHJHJ@;
Name: 13612, dtype: object
0           LG1
1         14343
2             G
3            10
4    CcccccCCCC
5    @HCHHJHJ@;
Name: 13612, dtype: object
0           LG1
1         14343
2             G
3            10
4    CcccccCCCC
5    @HCHHJHJ@;
Name: 13612, dtype: object
0           LG1
1         14343
2             G
3            10
4    CcccccCCCC
5    @HCHHJHJ@;
Name: 13612, dtype: object
0           LG1
1         14343
2             G
3            10
4    CcccccCCCC
5    @HCHHJHJ@;
Name: 13612, dtype: object
0           LG1
1         14343
2             G
3            10
4    CcccccCCCC
5    @HCHHJHJ@;
Name: 13612, dtype: object
0           LG1
1         14343
2             G
3            10
4    CcccccCCCC
5    @HCHHJHJ@;
Name: 13612, dtype: object
0           LG1
1         14343
2             G
3            10
4    CcccccCCCC
5    @HCHHJHJ@;
Name: 13612, dtype: object
0           LG1
1         14344
2             A
3            10
4    .,,,,,....
5    @H?HHJIJGD
Name: 13613, dtype: object
0           LG1
1         14344
2             A
3            10
4    .,,,,,....
5    @H?HHJIJGD
Name: 13613, dtype: object
0           LG1
1         14344
2             A
3            10
4    .,,,,,....
5    @H?HHJIJGD
Name: 13613, dtype: object
0           LG1
1         14344
2             A
3            10
4    .,,,,,....
5    @H?HHJIJGD
Name: 13613, dtype: object
0           LG1
1         14344
2             A
3            10
4    .,,,,,....
5    @H?HHJIJGD
Name: 13613, dtype: object
0           LG1
1         14344
2             A
3            10
4    .,,,,,....
5    @H?HHJIJGD
Name: 13613, dtype: object
0           LG1
1         14344
2             A
3            10
4    .,,,,,....
5    @H?HHJIJGD
Name: 13613, dtype: object
0           LG1
1         14344
2             A
3            10
4    .,,,,,....
5    @H?HHJIJGD
Name: 13613, dtype: object
0           LG1
1         14344
2             A
3            10
4    .,,,,,....
5    @H?HHJIJGD
Name: 13613, dtype: object
0           LG1
1         14344
2             A
3            10
4    .,,,,,....
5    @H?HHJIJGD
Name: 13613, dtype: object
0           LG1
1         14345
2             G
3            10
4    .,,,,,....
5    @HBHHJHI;?
Name: 13614, dtype: object
0           LG1
1         14345
2             G
3            10
4    .,,,,,....
5    @HBHHJHI;?
Name: 13614, dtype: object
0           LG1
1         14345
2             G
3            10
4    .,,,,,....
5    @HBHHJHI;?
Name: 13614, dtype: object
0           LG1
1         14345
2             G
3            10
4    .,,,,,....
5    @HBHHJHI;?
Name: 13614, dtype: object
0           LG1
1         14345
2             G
3            10
4    .,,,,,....
5    @HBHHJHI;?
Name: 13614, dtype: object
0           LG1
1         14345
2             G
3            10
4    .,,,,,....
5    @HBHHJHI;?
Name: 13614, dtype: object
0           LG1
1         14345
2             G
3            10
4    .,,,,,....
5    @HBHHJHI;?
Name: 13614, dtype: object
0           LG1
1         14345
2             G
3            10
4    .,,,,,....
5    @HBHHJHI;?
Name: 13614, dtype: object
0           LG1
1         14345
2             G
3            10
4    .,,,,,....
5    @HBHHJHI;?
Name: 13614, dtype: object
0           LG1
1         14346
2             A
3            10
4    .,,,,,....
5    @F=HHJHJGD
Name: 13615, dtype: object
0           LG1
1         14346
2             A
3            10
4    .,,,,,....
5    @F=HHJHJGD
Name: 13615, dtype: object
0           LG1
1         14346
2             A
3            10
4    .,,,,,....
5    @F=HHJHJGD
Name: 13615, dtype: object
0           LG1
1         14346
2             A
3            10
4    .,,,,,....
5    @F=HHJHJGD
Name: 13615, dtype: object
0           LG1
1         14346
2             A
3            10
4    .,,,,,....
5    @F=HHJHJGD
Name: 13615, dtype: object
0           LG1
1         14346
2             A
3            10
4    .,,,,,....
5    @F=HHJHJGD
Name: 13615, dtype: object
0           LG1
1         14346
2             A
3            10
4    .,,,,,....
5    @F=HHJHJGD
Name: 13615, dtype: object
0           LG1
1         14346
2             A
3            10
4    .,,,,,....
5    @F=HHJHJGD
Name: 13615, dtype: object
0           LG1
1         14346
2             A
3            10
4    .,,,,,....
5    @F=HHJHJGD
Name: 13615, dtype: object
0           LG1
1         14351
2             T
3             9
4    ,,$,,,....
5     C=FFJJJFB
Name: 13620, dtype: object
0           LG1
1         14351
2             T
3             9
4    ,,$,,,....
5     C=FFJJJFB
Name: 13620, dtype: object
0           LG1
1         14351
2             T
3             9
4    ,,$,,,....
5     C=FFJJJFB
Name: 13620, dtype: object
0           LG1
1         14351
2             T
3             9
4    ,,$,,,....
5     C=FFJJJFB
Name: 13620, dtype: object
0           LG1
1         14351
2             T
3             9
4    ,,$,,,....
5     C=FFJJJFB
Name: 13620, dtype: object
0           LG1
1         14351
2             T
3             9
4    ,,$,,,....
5     C=FFJJJFB
Name: 13620, dtype: object
0           LG1
1         14351
2             T
3             9
4    ,,$,,,....
5     C=FFJJJFB
Name: 13620, dtype: object
0           LG1
1         14351
2             T
3             9
4    ,,$,,,....
5     C=FFJJJFB
Name: 13620, dtype: object
0           LG1
1         15153
2             T
3            10
4    ,,,,,,,,,,
5    FIGEJJJJEI
Name: 14294, dtype: object
0           LG1
1         15153
2             T
3            10
4    ,,,,,,,,,,
5    FIGEJJJJEI
Name: 14294, dtype: object
0           LG1
1         15153
2             T
3            10
4    ,,,,,,,,,,
5    FIGEJJJJEI
Name: 14294, dtype: object
0           LG1
1         15153
2             T
3            10
4    ,,,,,,,,,,
5    FIGEJJJJEI
Name: 14294, dtype: object
0           LG1
1         15153
2             T
3            10
4    ,,,,,,,,,,
5    FIGEJJJJEI
Name: 14294, dtype: object
0           LG1
1         15153
2             T
3            10
4    ,,,,,,,,,,
5    FIGEJJJJEI
Name: 14294, dtype: object
0           LG1
1         15153
2             T
3            10
4    ,,,,,,,,,,
5    FIGEJJJJEI
Name: 14294, dtype: object
0           LG1
1         15153
2             T
3            10
4    ,,,,,,,,,,
5    FIGEJJJJEI
Name: 14294, dtype: object
0           LG1
1         15153
2             T
3            10
4    ,,,,,,,,,,
5    FIGEJJJJEI
Name: 14294, dtype: object
0           LG1
1         15153
2             T
3            10
4    ,,,,,,,,,,
5    FIGEJJJJEI
Name: 14294, dtype: object
0           LG1
1         15154
2             A
3            10
4    ,,,,,,,,,,
5    CFF<JJJJIG
Name: 14295, dtype: object
0           LG1
1         15154
2             A
3            10
4    ,,,,,,,,,,
5    CFF<JJJJIG
Name: 14295, dtype: object
0           LG1
1         15154
2             A
3            10
4    ,,,,,,,,,,
5    CFF<JJJJIG
Name: 14295, dtype: object
0           LG1
1         15154
2             A
3            10
4    ,,,,,,,,,,
5    CFF<JJJJIG
Name: 14295, dtype: object
0           LG1
1         15154
2             A
3            10
4    ,,,,,,,,,,
5    CFF<JJJJIG
Name: 14295, dtype: object
0           LG1
1         15154
2             A
3            10
4    ,,,,,,,,,,
5    CFF<JJJJIG
Name: 14295, dtype: object
0           LG1
1         15154
2             A
3            10
4    ,,,,,,,,,,
5    CFF<JJJJIG
Name: 14295, dtype: object
0           LG1
1         15154
2             A
3            10
4    ,,,,,,,,,,
5    CFF<JJJJIG
Name: 14295, dtype: object
0           LG1
1         15154
2             A
3            10
4    ,,,,,,,,,,
5    CFF<JJJJIG
Name: 14295, dtype: object
0           LG1
1         15155
2             A
3            10
4    ,,,,,,,,,,
5    CFF<JIGJGJ
Name: 14296, dtype: object
0           LG1
1         15155
2             A
3            10
4    ,,,,,,,,,,
5    CFF<JIGJGJ
Name: 14296, dtype: object
0           LG1
1         15155
2             A
3            10
4    ,,,,,,,,,,
5    CFF<JIGJGJ
Name: 14296, dtype: object
0           LG1
1         15155
2             A
3            10
4    ,,,,,,,,,,
5    CFF<JIGJGJ
Name: 14296, dtype: object
0           LG1
1         15155
2             A
3            10
4    ,,,,,,,,,,
5    CFF<JIGJGJ
Name: 14296, dtype: object
0           LG1
1         15155
2             A
3            10
4    ,,,,,,,,,,
5    CFF<JIGJGJ
Name: 14296, dtype: object
0           LG1
1         15155
2             A
3            10
4    ,,,,,,,,,,
5    CFF<JIGJGJ
Name: 14296, dtype: object
0           LG1
1         15155
2             A
3            10
4    ,,,,,,,,,,
5    CFF<JIGJGJ
Name: 14296, dtype: object
0           LG1
1         15155
2             A
3            10
4    ,,,,,,,,,,
5    CFF<JIGJGJ
Name: 14296, dtype: object
0           LG1
1         15166
2             A
3             9
4    ,$,,,,,,,,
5     @A?JJEHIJ
Name: 14307, dtype: object
0           LG1
1         15166
2             A
3             9
4    ,$,,,,,,,,
5     @A?JJEHIJ
Name: 14307, dtype: object
0           LG1
1         15166
2             A
3             9
4    ,$,,,,,,,,
5     @A?JJEHIJ
Name: 14307, dtype: object
0           LG1
1         15166
2             A
3             9
4    ,$,,,,,,,,
5     @A?JJEHIJ
Name: 14307, dtype: object
0           LG1
1         15166
2             A
3             9
4    ,$,,,,,,,,
5     @A?JJEHIJ
Name: 14307, dtype: object
0           LG1
1         15166
2             A
3             9
4    ,$,,,,,,,,
5     @A?JJEHIJ
Name: 14307, dtype: object
0           LG1
1         15166
2             A
3             9
4    ,$,,,,,,,,
5     @A?JJEHIJ
Name: 14307, dtype: object
0           LG1
1         15166
2             A
3             9
4    ,$,,,,,,,,
5     @A?JJEHIJ
Name: 14307, dtype: object
0           LG1
1         15166
2             A
3             9
4    ,$,,,,,,,,
5     @A?JJEHIJ
Name: 14307, dtype: object
0           LG1
1         16109
2             A
3             8
4    .......^].
5      JJGHFFCC
Name: 15166, dtype: object
0           LG1
1         16109
2             A
3             8
4    .......^].
5      JJGHFFCC
Name: 15166, dtype: object
0           LG1
1         16109
2             A
3             8
4    .......^].
5      JJGHFFCC
Name: 15166, dtype: object
0           LG1
1         16109
2             A
3             8
4    .......^].
5      JJGHFFCC
Name: 15166, dtype: object
0           LG1
1         16109
2             A
3             8
4    .......^].
5      JJGHFFCC
Name: 15166, dtype: object
0           LG1
1         16109
2             A
3             8
4    .......^].
5      JJGHFFCC
Name: 15166, dtype: object
0           LG1
1         16109
2             A
3             8
4    .......^].
5      JJGHFFCC
Name: 15166, dtype: object
0           LG1
1         16109
2             A
3             8
4    .......^].
5      JJGHFFCC
Name: 15166, dtype: object
0           LG1
1         16110
2             T
3             8
4    .......^].
5      IJHDFFC<
Name: 15167, dtype: object
0           LG1
1         16110
2             T
3             8
4    .......^].
5      IJHDFFC<
Name: 15167, dtype: object
0           LG1
1         16110
2             T
3             8
4    .......^].
5      IJHDFFC<
Name: 15167, dtype: object
0           LG1
1         16110
2             T
3             8
4    .......^].
5      IJHDFFC<
Name: 15167, dtype: object
0           LG1
1         16110
2             T
3             8
4    .......^].
5      IJHDFFC<
Name: 15167, dtype: object
0           LG1
1         16110
2             T
3             8
4    .......^].
5      IJHDFFC<
Name: 15167, dtype: object
0           LG1
1         16110
2             T
3             8
4    .......^].
5      IJHDFFC<
Name: 15167, dtype: object
0           LG1
1         16116
2             C
3            10
4    ..........
5    JICIGHHF;C
Name: 15173, dtype: object

0           LG1
1         16116
2             C
3            10
4    ..........
5    JICIGHHF;C
Name: 15173, dtype: object
0           LG1
1         16116
2             C
3            10
4    ..........
5    JICIGHHF;C
Name: 15173, dtype: object
0           LG1
1         16116
2             C
3            10
4    ..........
5    JICIGHHF;C
Name: 15173, dtype: object
0           LG1
1         16116
2             C
3            10
4    ..........
5    JICIGHHF;C
Name: 15173, dtype: object
0           LG1
1         16116
2             C
3            10
4    ..........
5    JICIGHHF;C
Name: 15173, dtype: object
0           LG1
1         16116
2             C
3            10
4    ..........
5    JICIGHHF;C
Name: 15173, dtype: object
0           LG1
1         16116
2             C
3            10
4    ..........
5    JICIGHHF;C
Name: 15173, dtype: object
0           LG1
1         16116
2             C
3            10
4    ..........
5    JICIGHHF;C
Name: 15173, dtype: object
0           LG1
1         16117
2             A
3            10
4    ..........
5    JIDGGJHH1C
Name: 15174, dtype: object
0           LG1
1         16117
2             A
3            10
4    ..........
5    JIDGGJHH1C
Name: 15174, dtype: object
0           LG1
1         16117
2             A
3            10
4    ..........
5    JIDGGJHH1C
Name: 15174, dtype: object
0           LG1
1         16117
2             A
3            10
4    ..........
5    JIDGGJHH1C
Name: 15174, dtype: object
0           LG1
1         16117
2             A
3            10
4    ..........
5    JIDGGJHH1C
Name: 15174, dtype: object
0           LG1
1         16117
2             A
3            10
4    ..........
5    JIDGGJHH1C
Name: 15174, dtype: object
0           LG1
1         16117
2             A
3            10
4    ..........
5    JIDGGJHH1C
Name: 15174, dtype: object
0           LG1
1         16117
2             A
3            10
4    ..........
5    JIDGGJHH1C
Name: 15174, dtype: object
0           LG1
1         16117
2             A
3            10
4    ..........
5    JIDGGJHH1C
Name: 15174, dtype: object
0           LG1
1         16118
2             G
3            10
4    ..........
5    JJEIGJHH@F
Name: 15175, dtype: object
0           LG1
1         16118
2             G
3            10
4    ..........
5    JJEIGJHH@F
Name: 15175, dtype: object
0           LG1
1         16118
2             G
3            10
4    ..........
5    JJEIGJHH@F
Name: 15175, dtype: object
0           LG1
1         16118
2             G
3            10
4    ..........
5    JJEIGJHH@F
Name: 15175, dtype: object
0           LG1
1         16118
2             G
3            10
4    ..........
5    JJEIGJHH@F
Name: 15175, dtype: object
0           LG1
1         16118
2             G
3            10
4    ..........
5    JJEIGJHH@F
Name: 15175, dtype: object
0           LG1
1         16118
2             G
3            10
4    ..........
5    JJEIGJHH@F
Name: 15175, dtype: object
0           LG1
1         16118
2             G
3            10
4    ..........
5    JJEIGJHH@F
Name: 15175, dtype: object
0           LG1
1         16118
2             G
3            10
4    ..........
5    JJEIGJHH@F
Name: 15175, dtype: object
0           LG1
1         16118
2             G
3            10
4    ..........
5    JJEIGJHH@F
Name: 15175, dtype: object
0           LG1
1         16119
2             A
3            10
4    ..........
5    JJDGBJHH8F
Name: 15176, dtype: object
0           LG1
1         16119
2             A
3            10
4    ..........
5    JJDGBJHH8F
Name: 15176, dtype: object
0           LG1
1         16119
2             A
3            10
4    ..........
5    JJDGBJHH8F
Name: 15176, dtype: object
0           LG1
1         16119
2             A
3            10
4    ..........
5    JJDGBJHH8F
Name: 15176, dtype: object
0           LG1
1         16119
2             A
3            10
4    ..........
5    JJDGBJHH8F
Name: 15176, dtype: object
0           LG1
1         16119
2             A
3            10
4    ..........
5    JJDGBJHH8F
Name: 15176, dtype: object
0           LG1
1         16119
2             A
3            10
4    ..........
5    JJDGBJHH8F
Name: 15176, dtype: object
0           LG1
1         16119
2             A
3            10
4    ..........
5    JJDGBJHH8F
Name: 15176, dtype: object
0           LG1
1         16119
2             A
3            10
4    ..........
5    JJDGBJHH8F
Name: 15176, dtype: object
0           LG1
1         16263
2             A
3            10
4    ..........
5    6<6556?512
Name: 15320, dtype: object
0           LG1
1         16287
2             T
3            10
4    ,.,,,,.,,.
5    5.7889DD3=
Name: 15344, dtype: object
0           LG1
1         16287
2             T
3            10
4    ,.,,,,.,,.
5    5.7889DD3=
Name: 15344, dtype: object
0           LG1
1         18421
2             T
3            10
4    ,,.,,.,,,.
5    HJJIGJA>D@
Name: 17478, dtype: object
0           LG1
1         18421
2             T
3            10
4    ,,.,,.,,,.
5    HJJIGJA>D@
Name: 17478, dtype: object
0           LG1
1         18421
2             T
3            10
4    ,,.,,.,,,.
5    HJJIGJA>D@
Name: 17478, dtype: object
0           LG1
1         18421
2             T
3            10
4    ,,.,,.,,,.
5    HJJIGJA>D@
Name: 17478, dtype: object
0           LG1
1         18421
2             T
3            10
4    ,,.,,.,,,.
5    HJJIGJA>D@
Name: 17478, dtype: object
0           LG1
1         18421
2             T
3            10
4    ,,.,,.,,,.
5    HJJIGJA>D@
Name: 17478, dtype: object
0           LG1
1         18421
2             T
3            10
4    ,,.,,.,,,.
5    HJJIGJA>D@
Name: 17478, dtype: object
0           LG1
1         18421
2             T
3            10
4    ,,.,,.,,,.
5    HJJIGJA>D@
Name: 17478, dtype: object
0           LG1
1         18421
2             T
3            10
4    ,,.,,.,,,.
5    HJJIGJA>D@
Name: 17478, dtype: object
0           LG1
1         18422
2             T
3            10
4    ,,.,,.,,,.
5    DJJJJJECD@
Name: 17479, dtype: object
0           LG1
1         18422
2             T
3            10
4    ,,.,,.,,,.
5    DJJJJJECD@
Name: 17479, dtype: object
0           LG1
1         18422
2             T
3            10
4    ,,.,,.,,,.
5    DJJJJJECD@
Name: 17479, dtype: object
0           LG1
1         18422
2             T
3            10
4    ,,.,,.,,,.
5    DJJJJJECD@
Name: 17479, dtype: object
0           LG1
1         18422
2             T
3            10
4    ,,.,,.,,,.
5    DJJJJJECD@
Name: 17479, dtype: object
0           LG1
1         18422
2             T
3            10
4    ,,.,,.,,,.
5    DJJJJJECD@
Name: 17479, dtype: object
0           LG1
1         18422
2             T
3            10
4    ,,.,,.,,,.
5    DJJJJJECD@
Name: 17479, dtype: object
0           LG1
1         18422
2             T
3            10
4    ,,.,,.,,,.
5    DJJJJJECD@
Name: 17479, dtype: object
0           LG1
1         18422
2             T
3            10
4    ,,.,,.,,,.
5    DJJJJJECD@
Name: 17479, dtype: object
0           LG1
1         18422
2             T
3            10
4    ,,.,,.,,,.
5    DJJJJJECD@
Name: 17479, dtype: object
0           LG1
1         18423
2             G
3            10
4    ,,.,,.,,,.
5    FHIJIJGADD
Name: 17480, dtype: object
0           LG1
1         18423
2             G
3            10
4    ,,.,,.,,,.
5    FHIJIJGADD
Name: 17480, dtype: object
0           LG1
1         18423
2             G
3            10
4    ,,.,,.,,,.
5    FHIJIJGADD
Name: 17480, dtype: object
0           LG1
1         18423
2             G
3            10
4    ,,.,,.,,,.
5    FHIJIJGADD
Name: 17480, dtype: object
0           LG1
1         18423
2             G
3            10
4    ,,.,,.,,,.
5    FHIJIJGADD
Name: 17480, dtype: object
0           LG1
1         18423
2             G
3            10
4    ,,.,,.,,,.
5    FHIJIJGADD
Name: 17480, dtype: object
0           LG1
1         18423
2             G
3            10
4    ,,.,,.,,,.
5    FHIJIJGADD
Name: 17480, dtype: object
0           LG1
1         18423
2             G
3            10
4    ,,.,,.,,,.
5    FHIJIJGADD
Name: 17480, dtype: object
0           LG1
1         18423
2             G
3            10
4    ,,.,,.,,,.
5    FHIJIJGADD
Name: 17480, dtype: object
0           LG1
1         18423
2             G
3            10
4    ,,.,,.,,,.
5    FHIJIJGADD
Name: 17480, dtype: object
0           LG1
1         18602
2             G
3            10
4    .,,,....,,
5    DHDJFHFHIJ
Name: 17659, dtype: object
0           LG1
1         18602
2             G
3            10
4    .,,,....,,
5    DHDJFHFHIJ
Name: 17659, dtype: object
0           LG1
1         18602
2             G
3            10
4    .,,,....,,
5    DHDJFHFHIJ
Name: 17659, dtype: object
0           LG1
1         18602
2             G
3            10
4    .,,,....,,
5    DHDJFHFHIJ
Name: 17659, dtype: object
0           LG1
1         18602
2             G
3            10
4    .,,,....,,
5    DHDJFHFHIJ
Name: 17659, dtype: object
0           LG1
1         18602
2             G
3            10
4    .,,,....,,
5    DHDJFHFHIJ
Name: 17659, dtype: object
0           LG1
1         18602
2             G
3            10
4    .,,,....,,
5    DHDJFHFHIJ
Name: 17659, dtype: object
0           LG1
1         18602
2             G
3            10
4    .,,,....,,
5    DHDJFHFHIJ
Name: 17659, dtype: object
0           LG1
1         18602
2             G
3            10
4    .,,,....,,
5    DHDJFHFHIJ
Name: 17659, dtype: object
0           LG1
1         18602
2             G
3            10
4    .,,,....,,
5    DHDJFHFHIJ
Name: 17659, dtype: object
0           LG1
1         18603
2             G
3            10
4    .,,,....,,
5    DHFJFHCHJJ
Name: 17660, dtype: object
0           LG1
1         18603
2             G
3            10
4    .,,,....,,
5    DHFJFHCHJJ
Name: 17660, dtype: object
0           LG1
1         18603
2             G
3            10
4    .,,,....,,
5    DHFJFHCHJJ
Name: 17660, dtype: object
0           LG1
1         18603
2             G
3            10
4    .,,,....,,
5    DHFJFHCHJJ
Name: 17660, dtype: object
0           LG1
1         18603
2             G
3            10
4    .,,,....,,
5    DHFJFHCHJJ
Name: 17660, dtype: object
0           LG1
1         18603
2             G
3            10
4    .,,,....,,
5    DHFJFHCHJJ
Name: 17660, dtype: object
0           LG1
1         18603
2             G
3            10
4    .,,,....,,
5    DHFJFHCHJJ
Name: 17660, dtype: object
0           LG1
1         18603
2             G
3            10
4    .,,,....,,
5    DHFJFHCHJJ
Name: 17660, dtype: object
0           LG1
1         18603
2             G
3            10
4    .,,,....,,
5    DHFJFHCHJJ
Name: 17660, dtype: object
0           LG1
1         18603
2             G
3            10
4    .,,,....,,
5    DHFJFHCHJJ
Name: 17660, dtype: object
0           LG1
1         18604
2             A
3            10
4    .,,,....,,
5    <HFHFHGGIJ
Name: 17661, dtype: object
0           LG1
1         18604
2             A
3            10
4    .,,,....,,
5    <HFHFHGGIJ
Name: 17661, dtype: object
0           LG1
1         18604
2             A
3            10
4    .,,,....,,
5    <HFHFHGGIJ
Name: 17661, dtype: object
0           LG1
1         18604
2             A
3            10
4    .,,,....,,
5    <HFHFHGGIJ
Name: 17661, dtype: object
0           LG1
1         18604
2             A
3            10
4    .,,,....,,
5    <HFHFHGGIJ
Name: 17661, dtype: object
0           LG1
1         18604
2             A
3            10
4    .,,,....,,
5    <HFHFHGGIJ
Name: 17661, dtype: object
0           LG1
1         18604
2             A
3            10
4    .,,,....,,
5    <HFHFHGGIJ
Name: 17661, dtype: object
0           LG1
1         18604
2             A
3            10
4    .,,,....,,
5    <HFHFHGGIJ
Name: 17661, dtype: object
0           LG1
1         18604
2             A
3            10
4    .,,,....,,
5    <HFHFHGGIJ
Name: 17661, dtype: object
0           LG1
1         18605
2             T
3            10
4    .,,,....,,
5    AH:HFFIEEJ
Name: 17662, dtype: object
0           LG1
1         18605
2             T
3            10
4    .,,,....,,
5    AH:HFFIEEJ
Name: 17662, dtype: object
0           LG1
1         18605
2             T
3            10
4    .,,,....,,
5    AH:HFFIEEJ
Name: 17662, dtype: object
0           LG1
1         18605
2             T
3            10
4    .,,,....,,
5    AH:HFFIEEJ
Name: 17662, dtype: object
0           LG1
1         18605
2             T
3            10
4    .,,,....,,
5    AH:HFFIEEJ
Name: 17662, dtype: object
0           LG1
1         18605
2             T
3            10
4    .,,,....,,
5    AH:HFFIEEJ
Name: 17662, dtype: object

0           LG1
1         18605
2             T
3            10
4    .,,,....,,
5    AH:HFFIEEJ
Name: 17662, dtype: object
0           LG1
1         18605
2             T
3            10
4    .,,,....,,
5    AH:HFFIEEJ
Name: 17662, dtype: object
0           LG1
1         18605
2             T
3            10
4    .,,,....,,
5    AH:HFFIEEJ
Name: 17662, dtype: object
0           LG1
1         18610
2             T
3             9
4    ,$,,....,,
5     ABFEFEJJJ
Name: 17667, dtype: object
0           LG1
1         18610
2             T
3             9
4    ,$,,....,,
5     ABFEFEJJJ
Name: 17667, dtype: object
0           LG1
1         18610
2             T
3             9
4    ,$,,....,,
5     ABFEFEJJJ
Name: 17667, dtype: object
0           LG1
1         18610
2             T
3             9
4    ,$,,....,,
5     ABFEFEJJJ
Name: 17667, dtype: object
0           LG1
1         18610
2             T
3             9
4    ,$,,....,,
5     ABFEFEJJJ
Name: 17667, dtype: object
0           LG1
1         18610
2             T
3             9
4    ,$,,....,,
5     ABFEFEJJJ
Name: 17667, dtype: object
0           LG1
1         18610
2             T
3             9
4    ,$,,....,,
5     ABFEFEJJJ
Name: 17667, dtype: object
0           LG1
1         18610
2             T
3             9
4    ,$,,....,,
5     ABFEFEJJJ
Name: 17667, dtype: object
0           LG1
1         18610
2             T
3             9
4    ,$,,....,,
5     ABFEFEJJJ
Name: 17667, dtype: object
0           LG1
1         18686
2             G
3            10
4    ,,,,,,,,,,
5    JGJIAE>ECE
Name: 17743, dtype: object
0           LG1
1         18686
2             G
3            10
4    ,,,,,,,,,,
5    JGJIAE>ECE
Name: 17743, dtype: object
0           LG1
1         18686
2             G
3            10
4    ,,,,,,,,,,
5    JGJIAE>ECE
Name: 17743, dtype: object
0           LG1
1         18686
2             G
3            10
4    ,,,,,,,,,,
5    JGJIAE>ECE
Name: 17743, dtype: object
0           LG1
1         18686
2             G
3            10
4    ,,,,,,,,,,
5    JGJIAE>ECE
Name: 17743, dtype: object
0           LG1
1         18686
2             G
3            10
4    ,,,,,,,,,,
5    JGJIAE>ECE
Name: 17743, dtype: object
0           LG1
1         18686
2             G
3            10
4    ,,,,,,,,,,
5    JGJIAE>ECE
Name: 17743, dtype: object
0           LG1
1         18686
2             G
3            10
4    ,,,,,,,,,,
5    JGJIAE>ECE
Name: 17743, dtype: object
0           LG1
1         18686
2             G
3            10
4    ,,,,,,,,,,
5    JGJIAE>ECE
Name: 17743, dtype: object
0           LG1
1         18687
2             A
3            10
4    ,,,,,,,,,,
5    JJJI@E;EAE
Name: 17744, dtype: object
0           LG1
1         18687
2             A
3            10
4    ,,,,,,,,,,
5    JJJI@E;EAE
Name: 17744, dtype: object
0           LG1
1         18687
2             A
3            10
4    ,,,,,,,,,,
5    JJJI@E;EAE
Name: 17744, dtype: object
0           LG1
1         18687
2             A
3            10
4    ,,,,,,,,,,
5    JJJI@E;EAE
Name: 17744, dtype: object
0           LG1
1         18687
2             A
3            10
4    ,,,,,,,,,,
5    JJJI@E;EAE
Name: 17744, dtype: object
0           LG1
1         18687
2             A
3            10
4    ,,,,,,,,,,
5    JJJI@E;EAE
Name: 17744, dtype: object
0           LG1
1         18687
2             A
3            10
4    ,,,,,,,,,,
5    JJJI@E;EAE
Name: 17744, dtype: object
0           LG1
1         18687
2             A
3            10
4    ,,,,,,,,,,
5    JJJI@E;EAE
Name: 17744, dtype: object
0           LG1
1         18687
2             A
3            10
4    ,,,,,,,,,,
5    JJJI@E;EAE
Name: 17744, dtype: object
0           LG1
1         18688
2             A
3            10
4    ,,,,,,,,c,
5    JJJJAD;D>D
Name: 17745, dtype: object
0           LG1
1         18688
2             A
3            10
4    ,,,,,,,,c,
5    JJJJAD;D>D
Name: 17745, dtype: object
0           LG1
1         18688
2             A
3            10
4    ,,,,,,,,c,
5    JJJJAD;D>D
Name: 17745, dtype: object
0           LG1
1         18688
2             A
3            10
4    ,,,,,,,,c,
5    JJJJAD;D>D
Name: 17745, dtype: object
0           LG1
1         18688
2             A
3            10
4    ,,,,,,,,c,
5    JJJJAD;D>D
Name: 17745, dtype: object
0           LG1
1         18688
2             A
3            10
4    ,,,,,,,,c,
5    JJJJAD;D>D
Name: 17745, dtype: object
0           LG1
1         18688
2             A
3            10
4    ,,,,,,,,c,
5    JJJJAD;D>D
Name: 17745, dtype: object
0           LG1
1         18688
2             A
3            10
4    ,,,,,,,,c,
5    JJJJAD;D>D
Name: 17745, dtype: object
0           LG1
1         18689
2             T
3            10
4    ,,,,,,,,,,
5    JIII;C@D>D
Name: 17746, dtype: object
0           LG1
1         18689
2             T
3            10
4    ,,,,,,,,,,
5    JIII;C@D>D
Name: 17746, dtype: object
0           LG1
1         18689
2             T
3            10
4    ,,,,,,,,,,
5    JIII;C@D>D
Name: 17746, dtype: object
0           LG1
1         18689
2             T
3            10
4    ,,,,,,,,,,
5    JIII;C@D>D
Name: 17746, dtype: object
0           LG1
1         18689
2             T
3            10
4    ,,,,,,,,,,
5    JIII;C@D>D
Name: 17746, dtype: object
0           LG1
1         18689
2             T
3            10
4    ,,,,,,,,,,
5    JIII;C@D>D
Name: 17746, dtype: object
0           LG1
1         18689
2             T
3            10
4    ,,,,,,,,,,
5    JIII;C@D>D
Name: 17746, dtype: object
0           LG1
1         18689
2             T
3            10
4    ,,,,,,,,,,
5    JIII;C@D>D
Name: 17746, dtype: object
0           LG1
1         18690
2             T
3            10
4    ,,,,,,,,,,
5    JGHJED>EAE
Name: 17747, dtype: object
0           LG1
1         18690
2             T
3            10
4    ,,,,,,,,,,
5    JGHJED>EAE
Name: 17747, dtype: object
0           LG1
1         18690
2             T
3            10
4    ,,,,,,,,,,
5    JGHJED>EAE
Name: 17747, dtype: object
0           LG1
1         18690
2             T
3            10
4    ,,,,,,,,,,
5    JGHJED>EAE
Name: 17747, dtype: object
0           LG1
1         18690
2             T
3            10
4    ,,,,,,,,,,
5    JGHJED>EAE
Name: 17747, dtype: object
0           LG1
1         18690
2             T
3            10
4    ,,,,,,,,,,
5    JGHJED>EAE
Name: 17747, dtype: object
0           LG1
1         18690
2             T
3            10
4    ,,,,,,,,,,
5    JGHJED>EAE
Name: 17747, dtype: object
0           LG1
1         18690
2             T
3            10
4    ,,,,,,,,,,
5    JGHJED>EAE
Name: 17747, dtype: object
0           LG1
1         18690
2             T
3            10
4    ,,,,,,,,,,
5    JGHJED>EAE
Name: 17747, dtype: object
0           LG1
1         18691
2             A
3            10
4    ,,,,,,,,,,
5    HJIIEE?DCD
Name: 17748, dtype: object
0           LG1
1         18691
2             A
3            10
4    ,,,,,,,,,,
5    HJIIEE?DCD
Name: 17748, dtype: object
0           LG1
1         18691
2             A
3            10
4    ,,,,,,,,,,
5    HJIIEE?DCD
Name: 17748, dtype: object
0           LG1
1         18691
2             A
3            10
4    ,,,,,,,,,,
5    HJIIEE?DCD
Name: 17748, dtype: object
0           LG1
1         18691
2             A
3            10
4    ,,,,,,,,,,
5    HJIIEE?DCD
Name: 17748, dtype: object
0           LG1
1         18691
2             A
3            10
4    ,,,,,,,,,,
5    HJIIEE?DCD
Name: 17748, dtype: object
0           LG1
1         18691
2             A
3            10
4    ,,,,,,,,,,
5    HJIIEE?DCD
Name: 17748, dtype: object
0           LG1
1         18691
2             A
3            10
4    ,,,,,,,,,,
5    HJIIEE?DCD
Name: 17748, dtype: object
0           LG1
1         18691
2             A
3            10
4    ,,,,,,,,,,
5    HJIIEE?DCD
Name: 17748, dtype: object
0           LG1
1         18691
2             A
3            10
4    ,,,,,,,,,,
5    HJIIEE?DCD
Name: 17748, dtype: object
0           LG1
1         18692
2             G
3            10
4    ,,,,,,,,,,
5    HJHJEE<DCD
Name: 17749, dtype: object
0           LG1
1         18692
2             G
3            10
4    ,,,,,,,,,,
5    HJHJEE<DCD
Name: 17749, dtype: object
0           LG1
1         18692
2             G
3            10
4    ,,,,,,,,,,
5    HJHJEE<DCD
Name: 17749, dtype: object
0           LG1
1         18692
2             G
3            10
4    ,,,,,,,,,,
5    HJHJEE<DCD
Name: 17749, dtype: object
0           LG1
1         18692
2             G
3            10
4    ,,,,,,,,,,
5    HJHJEE<DCD
Name: 17749, dtype: object
0           LG1
1         18692
2             G
3            10
4    ,,,,,,,,,,
5    HJHJEE<DCD
Name: 17749, dtype: object
0           LG1
1         18692
2             G
3            10
4    ,,,,,,,,,,
5    HJHJEE<DCD
Name: 17749, dtype: object
0           LG1
1         18692
2             G
3            10
4    ,,,,,,,,,,
5    HJHJEE<DCD
Name: 17749, dtype: object
0           LG1
1         18692
2             G
3            10
4    ,,,,,,,,,,
5    HJHJEE<DCD
Name: 17749, dtype: object
0           LG1
1         18693
2             C
3            10
4    ,,,,,,,,,,
5    HIIGEDEECD
Name: 17750, dtype: object
0           LG1
1         18693
2             C
3            10
4    ,,,,,,,,,,
5    HIIGEDEECD
Name: 17750, dtype: object
0           LG1
1         18693
2             C
3            10
4    ,,,,,,,,,,
5    HIIGEDEECD
Name: 17750, dtype: object
0           LG1
1         18693
2             C
3            10
4    ,,,,,,,,,,
5    HIIGEDEECD
Name: 17750, dtype: object
0           LG1
1         18693
2             C
3            10
4    ,,,,,,,,,,
5    HIIGEDEECD
Name: 17750, dtype: object
0           LG1
1         18693
2             C
3            10
4    ,,,,,,,,,,
5    HIIGEDEECD
Name: 17750, dtype: object
0           LG1
1         18693
2             C
3            10
4    ,,,,,,,,,,
5    HIIGEDEECD
Name: 17750, dtype: object
0           LG1
1         18693
2             C
3            10
4    ,,,,,,,,,,
5    HIIGEDEECD
Name: 17750, dtype: object
0           LG1
1         18693
2             C
3            10
4    ,,,,,,,,,,
5    HIIGEDEECD
Name: 17750, dtype: object
0           LG1
1         18693
2             C
3            10
4    ,,,,,,,,,,
5    HIIGEDEECD
Name: 17750, dtype: object
0           LG1
1         18694
2             A
3            10
4    ,,,,,,,,,,
5    HIJGDEFECD
Name: 17751, dtype: object
0           LG1
1         18694
2             A
3            10
4    ,,,,,,,,,,
5    HIJGDEFECD
Name: 17751, dtype: object
0           LG1
1         18694
2             A
3            10
4    ,,,,,,,,,,
5    HIJGDEFECD
Name: 17751, dtype: object
0           LG1
1         18694
2             A
3            10
4    ,,,,,,,,,,
5    HIJGDEFECD
Name: 17751, dtype: object
0           LG1
1         18694
2             A
3            10
4    ,,,,,,,,,,
5    HIJGDEFECD
Name: 17751, dtype: object
0           LG1
1         18694
2             A
3            10
4    ,,,,,,,,,,
5    HIJGDEFECD
Name: 17751, dtype: object
0           LG1
1         18694
2             A
3            10
4    ,,,,,,,,,,
5    HIJGDEFECD
Name: 17751, dtype: object
0           LG1
1         18694
2             A
3            10
4    ,,,,,,,,,,
5    HIJGDEFECD
Name: 17751, dtype: object
0           LG1
1         18694
2             A
3            10
4    ,,,,,,,,,,
5    HIJGDEFECD
Name: 17751, dtype: object
0           LG1
1         18694
2             A
3            10
4    ,,,,,,,,,,
5    HIJGDEFECD
Name: 17751, dtype: object
0           LG1
1         18695
2             A
3            10
4    ,,,,,,,,,,
5    HIJIFEBECD
Name: 17752, dtype: object
0           LG1
1         18695
2             A
3            10
4    ,,,,,,,,,,
5    HIJIFEBECD
Name: 17752, dtype: object
0           LG1
1         18695
2             A
3            10
4    ,,,,,,,,,,
5    HIJIFEBECD
Name: 17752, dtype: object
0           LG1
1         18695
2             A
3            10
4    ,,,,,,,,,,
5    HIJIFEBECD
Name: 17752, dtype: object
0           LG1
1         18695
2             A
3            10
4    ,,,,,,,,,,
5    HIJIFEBECD
Name: 17752, dtype: object
0           LG1
1         18695
2             A
3            10
4    ,,,,,,,,,,
5    HIJIFEBECD
Name: 17752, dtype: object
0           LG1
1         18695
2             A
3            10
4    ,,,,,,,,,,
5    HIJIFEBECD
Name: 17752, dtype: object
0           LG1
1         18695
2             A
3            10
4    ,,,,,,,,,,
5    HIJIFEBECD
Name: 17752, dtype: object
0           LG1
1         18695
2             A
3            10
4    ,,,,,,,,,,
5    HIJIFEBECD
Name: 17752, dtype: object
0           LG1
1         18695
2             A
3            10
4    ,,,,,,,,,,
5    HIJIFEBECD
Name: 17752, dtype: object
0           LG1
1         18696
2             T
3            10
4    ,,,,,,,,,,
5    FIJJCEAE@D
Name: 17753, dtype: object
0           LG1
1         18696
2             T
3            10
4    ,,,,,,,,,,
5    FIJJCEAE@D
Name: 17753, dtype: object
0           LG1
1         18696
2             T
3            10
4    ,,,,,,,,,,
5    FIJJCEAE@D
Name: 17753, dtype: object
0           LG1
1         18696
2             T
3            10
4    ,,,,,,,,,,
5    FIJJCEAE@D
Name: 17753, dtype: object
0           LG1
1         18696
2             T
3            10
4    ,,,,,,,,,,
5    FIJJCEAE@D
Name: 17753, dtype: object
0           LG1
1         18696
2             T
3            10
4    ,,,,,,,,,,
5    FIJJCEAE@D
Name: 17753, dtype: object
0           LG1
1         18696
2             T
3            10
4    ,,,,,,,,,,
5    FIJJCEAE@D
Name: 17753, dtype: object
0           LG1
1         18696
2             T
3            10
4    ,,,,,,,,,,
5    FIJJCEAE@D
Name: 17753, dtype: object
0           LG1
1         18696
2             T
3            10
4    ,,,,,,,,,,
5    FIJJCEAE@D
Name: 17753, dtype: object
0           LG1
1         18696
2             T
3            10
4    ,,,,,,,,,,
5    FIJJCEAE@D
Name: 17753, dtype: object
0           LG1
1         18697
2             T
3            10
4    ,,,,,,,,,,
5    FJIJ?F?ECD
Name: 17754, dtype: object
0           LG1
1         18697
2             T
3            10
4    ,,,,,,,,,,
5    FJIJ?F?ECD
Name: 17754, dtype: object
0           LG1
1         18697
2             T
3            10
4    ,,,,,,,,,,
5    FJIJ?F?ECD
Name: 17754, dtype: object
0           LG1
1         18697
2             T
3            10
4    ,,,,,,,,,,
5    FJIJ?F?ECD
Name: 17754, dtype: object
0           LG1
1         18697
2             T
3            10
4    ,,,,,,,,,,
5    FJIJ?F?ECD
Name: 17754, dtype: object
0           LG1
1         18697
2             T
3            10
4    ,,,,,,,,,,
5    FJIJ?F?ECD
Name: 17754, dtype: object
0           LG1
1         18697
2             T
3            10
4    ,,,,,,,,,,
5    FJIJ?F?ECD
Name: 17754, dtype: object
0           LG1
1         18697
2             T
3            10
4    ,,,,,,,,,,
5    FJIJ?F?ECD

Name: 17754, dtype: object
0           LG1
1         18697
2             T
3            10
4    ,,,,,,,,,,
5    FJIJ?F?ECD
Name: 17754, dtype: object
0           LG1
1         18697
2             T
3            10
4    ,,,,,,,,,,
5    FJIJ?F?ECD
Name: 17754, dtype: object
0           LG1
1         18698
2             T
3            10
4    ,,,,,,,,,,
5    FIII=F;DBB
Name: 17755, dtype: object
0           LG1
1         18698
2             T
3            10
4    ,,,,,,,,,,
5    FIII=F;DBB
Name: 17755, dtype: object
0           LG1
1         18698
2             T
3            10
4    ,,,,,,,,,,
5    FIII=F;DBB
Name: 17755, dtype: object
0           LG1
1         18698
2             T
3            10
4    ,,,,,,,,,,
5    FIII=F;DBB
Name: 17755, dtype: object
0           LG1
1         18698
2             T
3            10
4    ,,,,,,,,,,
5    FIII=F;DBB
Name: 17755, dtype: object
0           LG1
1         18698
2             T
3            10
4    ,,,,,,,,,,
5    FIII=F;DBB
Name: 17755, dtype: object
0           LG1
1         18698
2             T
3            10
4    ,,,,,,,,,,
5    FIII=F;DBB
Name: 17755, dtype: object
0           LG1
1         18698
2             T
3            10
4    ,,,,,,,,,,
5    FIII=F;DBB
Name: 17755, dtype: object
0           LG1
1         18699
2             T
3            10
4    cccccccccc
5    FIHGEFAFBD
Name: 17756, dtype: object
0           LG1
1         18699
2             T
3            10
4    cccccccccc
5    FIHGEFAFBD
Name: 17756, dtype: object
0           LG1
1         18699
2             T
3            10
4    cccccccccc
5    FIHGEFAFBD
Name: 17756, dtype: object
0           LG1
1         18699
2             T
3            10
4    cccccccccc
5    FIHGEFAFBD
Name: 17756, dtype: object
0           LG1
1         18699
2             T
3            10
4    cccccccccc
5    FIHGEFAFBD
Name: 17756, dtype: object
0           LG1
1         18699
2             T
3            10
4    cccccccccc
5    FIHGEFAFBD
Name: 17756, dtype: object
0           LG1
1         18699
2             T
3            10
4    cccccccccc
5    FIHGEFAFBD
Name: 17756, dtype: object
0           LG1
1         18699
2             T
3            10
4    cccccccccc
5    FIHGEFAFBD
Name: 17756, dtype: object
0           LG1
1         18699
2             T
3            10
4    cccccccccc
5    FIHGEFAFBD
Name: 17756, dtype: object
0           LG1
1         18699
2             T
3            10
4    cccccccccc
5    FIHGEFAFBD
Name: 17756, dtype: object
0           LG1
1         18700
2             C
3            10
4    ,,,,,,,,,,
5    FHGGHH<FCD
Name: 17757, dtype: object
0           LG1
1         18700
2             C
3            10
4    ,,,,,,,,,,
5    FHGGHH<FCD
Name: 17757, dtype: object
0           LG1
1         18700
2             C
3            10
4    ,,,,,,,,,,
5    FHGGHH<FCD
Name: 17757, dtype: object
0           LG1
1         18700
2             C
3            10
4    ,,,,,,,,,,
5    FHGGHH<FCD
Name: 17757, dtype: object
0           LG1
1         18700
2             C
3            10
4    ,,,,,,,,,,
5    FHGGHH<FCD
Name: 17757, dtype: object
0           LG1
1         18700
2             C
3            10
4    ,,,,,,,,,,
5    FHGGHH<FCD
Name: 17757, dtype: object
0           LG1
1         18700
2             C
3            10
4    ,,,,,,,,,,
5    FHGGHH<FCD
Name: 17757, dtype: object
0           LG1
1         18700
2             C
3            10
4    ,,,,,,,,,,
5    FHGGHH<FCD
Name: 17757, dtype: object
0           LG1
1         18700
2             C
3            10
4    ,,,,,,,,,,
5    FHGGHH<FCD
Name: 17757, dtype: object
0           LG1
1         18704
2             G
3            10
4    ,,,,,,,,,,
5    JJJEJIHBED
Name: 17761, dtype: object
0           LG1
1         18704
2             G
3            10
4    ,,,,,,,,,,
5    JJJEJIHBED
Name: 17761, dtype: object
0           LG1
1         18704
2             G
3            10
4    ,,,,,,,,,,
5    JJJEJIHBED
Name: 17761, dtype: object
0           LG1
1         18704
2             G
3            10
4    ,,,,,,,,,,
5    JJJEJIHBED
Name: 17761, dtype: object
0           LG1
1         18704
2             G
3            10
4    ,,,,,,,,,,
5    JJJEJIHBED
Name: 17761, dtype: object
0           LG1
1         18704
2             G
3            10
4    ,,,,,,,,,,
5    JJJEJIHBED
Name: 17761, dtype: object
0           LG1
1         18704
2             G
3            10
4    ,,,,,,,,,,
5    JJJEJIHBED
Name: 17761, dtype: object
0           LG1
1         18704
2             G
3            10
4    ,,,,,,,,,,
5    JJJEJIHBED
Name: 17761, dtype: object
0           LG1
1         18704
2             G
3            10
4    ,,,,,,,,,,
5    JJJEJIHBED
Name: 17761, dtype: object
0           LG1
1         18704
2             G
3            10
4    ,,,,,,,,,,
5    JJJEJIHBED
Name: 17761, dtype: object
0           LG1
1         18705
2             G
3            10
4    ,,,,,,,,,,
5    IJI>JIJ@ED
Name: 17762, dtype: object
0           LG1
1         18705
2             G
3            10
4    ,,,,,,,,,,
5    IJI>JIJ@ED
Name: 17762, dtype: object
0           LG1
1         18705
2             G
3            10
4    ,,,,,,,,,,
5    IJI>JIJ@ED
Name: 17762, dtype: object
0           LG1
1         18705
2             G
3            10
4    ,,,,,,,,,,
5    IJI>JIJ@ED
Name: 17762, dtype: object
0           LG1
1         18705
2             G
3            10
4    ,,,,,,,,,,
5    IJI>JIJ@ED
Name: 17762, dtype: object
0           LG1
1         18705
2             G
3            10
4    ,,,,,,,,,,
5    IJI>JIJ@ED
Name: 17762, dtype: object
0           LG1
1         18705
2             G
3            10
4    ,,,,,,,,,,
5    IJI>JIJ@ED
Name: 17762, dtype: object
0           LG1
1         18705
2             G
3            10
4    ,,,,,,,,,,
5    IJI>JIJ@ED
Name: 17762, dtype: object
0           LG1
1         18705
2             G
3            10
4    ,,,,,,,,,,
5    IJI>JIJ@ED
Name: 17762, dtype: object
0           LG1
1         18706
2             A
3            10
4    cccccccccc
5    JJDCJIJBFF
Name: 17763, dtype: object
0           LG1
1         18706
2             A
3            10
4    cccccccccc
5    JJDCJIJBFF
Name: 17763, dtype: object
0           LG1
1         18706
2             A
3            10
4    cccccccccc
5    JJDCJIJBFF
Name: 17763, dtype: object
0           LG1
1         18706
2             A
3            10
4    cccccccccc
5    JJDCJIJBFF
Name: 17763, dtype: object
0           LG1
1         18706
2             A
3            10
4    cccccccccc
5    JJDCJIJBFF
Name: 17763, dtype: object
0           LG1
1         18706
2             A
3            10
4    cccccccccc
5    JJDCJIJBFF
Name: 17763, dtype: object
0           LG1
1         18706
2             A
3            10
4    cccccccccc
5    JJDCJIJBFF
Name: 17763, dtype: object
0           LG1
1         18706
2             A
3            10
4    cccccccccc
5    JJDCJIJBFF
Name: 17763, dtype: object
0           LG1
1         18706
2             A
3            10
4    cccccccccc
5    JJDCJIJBFF
Name: 17763, dtype: object
0           LG1
1         18706
2             A
3            10
4    cccccccccc
5    JJDCJIJBFF
Name: 17763, dtype: object
0           LG1
1         18707
2             A
3            10
4    ,,,,,,,,,,
5    IJJGJIJAFE
Name: 17764, dtype: object
0           LG1
1         18707
2             A
3            10
4    ,,,,,,,,,,
5    IJJGJIJAFE
Name: 17764, dtype: object
0           LG1
1         18707
2             A
3            10
4    ,,,,,,,,,,
5    IJJGJIJAFE
Name: 17764, dtype: object
0           LG1
1         18707
2             A
3            10
4    ,,,,,,,,,,
5    IJJGJIJAFE
Name: 17764, dtype: object
0           LG1
1         18707
2             A
3            10
4    ,,,,,,,,,,
5    IJJGJIJAFE
Name: 17764, dtype: object
0           LG1
1         18707
2             A
3            10
4    ,,,,,,,,,,
5    IJJGJIJAFE
Name: 17764, dtype: object
0           LG1
1         18707
2             A
3            10
4    ,,,,,,,,,,
5    IJJGJIJAFE
Name: 17764, dtype: object
0           LG1
1         18707
2             A
3            10
4    ,,,,,,,,,,
5    IJJGJIJAFE
Name: 17764, dtype: object
0           LG1
1         18707
2             A
3            10
4    ,,,,,,,,,,
5    IJJGJIJAFE
Name: 17764, dtype: object
0           LG1
1         18707
2             A
3            10
4    ,,,,,,,,,,
5    IJJGJIJAFE
Name: 17764, dtype: object
0           LG1
1         18708
2             A
3            10
4    ,,,,,,,,,,
5    JJJEJIJHFE
Name: 17765, dtype: object
0           LG1
1         18708
2             A
3            10
4    ,,,,,,,,,,
5    JJJEJIJHFE
Name: 17765, dtype: object
0           LG1
1         18708
2             A
3            10
4    ,,,,,,,,,,
5    JJJEJIJHFE
Name: 17765, dtype: object
0           LG1
1         18708
2             A
3            10
4    ,,,,,,,,,,
5    JJJEJIJHFE
Name: 17765, dtype: object
0           LG1
1         18708
2             A
3            10
4    ,,,,,,,,,,
5    JJJEJIJHFE
Name: 17765, dtype: object
0           LG1
1         18708
2             A
3            10
4    ,,,,,,,,,,
5    JJJEJIJHFE
Name: 17765, dtype: object
0           LG1
1         18708
2             A
3            10
4    ,,,,,,,,,,
5    JJJEJIJHFE
Name: 17765, dtype: object
0           LG1
1         18708
2             A
3            10
4    ,,,,,,,,,,
5    JJJEJIJHFE
Name: 17765, dtype: object
0           LG1
1         18708
2             A
3            10
4    ,,,,,,,,,,
5    JJJEJIJHFE
Name: 17765, dtype: object
0           LG1
1         18708
2             A
3            10
4    ,,,,,,,,,,
5    JJJEJIJHFE
Name: 17765, dtype: object
0           LG1
1         18709
2             A
3            10
4    ,,,,,,,,,,
5    JJJHJGJFFD
Name: 17766, dtype: object
0           LG1
1         18709
2             A
3            10
4    ,,,,,,,,,,
5    JJJHJGJFFD
Name: 17766, dtype: object
0           LG1
1         18709
2             A
3            10
4    ,,,,,,,,,,
5    JJJHJGJFFD
Name: 17766, dtype: object
0           LG1
1         18709
2             A
3            10
4    ,,,,,,,,,,
5    JJJHJGJFFD
Name: 17766, dtype: object
0           LG1
1         18709
2             A
3            10
4    ,,,,,,,,,,
5    JJJHJGJFFD
Name: 17766, dtype: object
0           LG1
1         18709
2             A
3            10
4    ,,,,,,,,,,
5    JJJHJGJFFD
Name: 17766, dtype: object
0           LG1
1         18709
2             A
3            10
4    ,,,,,,,,,,
5    JJJHJGJFFD
Name: 17766, dtype: object
0           LG1
1         18709
2             A
3            10
4    ,,,,,,,,,,
5    JJJHJGJFFD
Name: 17766, dtype: object
0           LG1
1         18709
2             A
3            10
4    ,,,,,,,,,,
5    JJJHJGJFFD
Name: 17766, dtype: object
0           LG1
1         18709
2             A
3            10
4    ,,,,,,,,,,
5    JJJHJGJFFD
Name: 17766, dtype: object
0           LG1
1         18710
2             T
3            10
4    ,,,,,,,,,,
5    JIICJHJHFD
Name: 17767, dtype: object
0           LG1
1         18710
2             T
3            10
4    ,,,,,,,,,,
5    JIICJHJHFD
Name: 17767, dtype: object
0           LG1
1         18710
2             T
3            10
4    ,,,,,,,,,,
5    JIICJHJHFD
Name: 17767, dtype: object
0           LG1
1         18710
2             T
3            10
4    ,,,,,,,,,,
5    JIICJHJHFD
Name: 17767, dtype: object
0           LG1
1         18710
2             T
3            10
4    ,,,,,,,,,,
5    JIICJHJHFD
Name: 17767, dtype: object
0           LG1
1         18710
2             T
3            10
4    ,,,,,,,,,,
5    JIICJHJHFD
Name: 17767, dtype: object
0           LG1
1         18710
2             T
3            10
4    ,,,,,,,,,,
5    JIICJHJHFD
Name: 17767, dtype: object
0           LG1
1         18710
2             T
3            10
4    ,,,,,,,,,,
5    JIICJHJHFD
Name: 17767, dtype: object
0           LG1
1         18710
2             T
3            10
4    ,,,,,,,,,,
5    JIICJHJHFD
Name: 17767, dtype: object
0           LG1
1         18710
2             T
3            10
4    ,,,,,,,,,,
5    JIICJHJHFD
Name: 17767, dtype: object
0           LG1
1         18711
2             A
3            10
4    ,,,,,,,,,,
5    JJJIJGJCFD
Name: 17768, dtype: object
0           LG1
1         18711
2             A
3            10
4    ,,,,,,,,,,
5    JJJIJGJCFD
Name: 17768, dtype: object
0           LG1
1         18711
2             A
3            10
4    ,,,,,,,,,,
5    JJJIJGJCFD
Name: 17768, dtype: object
0           LG1
1         18711
2             A
3            10
4    ,,,,,,,,,,
5    JJJIJGJCFD
Name: 17768, dtype: object
0           LG1
1         18711
2             A
3            10
4    ,,,,,,,,,,
5    JJJIJGJCFD
Name: 17768, dtype: object
0           LG1
1         18711
2             A
3            10
4    ,,,,,,,,,,
5    JJJIJGJCFD
Name: 17768, dtype: object
0           LG1
1         18711
2             A
3            10
4    ,,,,,,,,,,
5    JJJIJGJCFD
Name: 17768, dtype: object
0           LG1
1         18711
2             A
3            10
4    ,,,,,,,,,,
5    JJJIJGJCFD
Name: 17768, dtype: object
0           LG1
1         18711
2             A
3            10
4    ,,,,,,,,,,
5    JJJIJGJCFD
Name: 17768, dtype: object
0           LG1
1         18711
2             A
3            10
4    ,,,,,,,,,,
5    JJJIJGJCFD
Name: 17768, dtype: object
0           LG1
1         18712
2             A
3            10
4    ,,,,,,,,,,
5    JIJHJIJGHD
Name: 17769, dtype: object
0           LG1
1         18712
2             A
3            10
4    ,,,,,,,,,,
5    JIJHJIJGHD
Name: 17769, dtype: object
0           LG1
1         18712
2             A
3            10
4    ,,,,,,,,,,
5    JIJHJIJGHD
Name: 17769, dtype: object
0           LG1
1         18712
2             A
3            10
4    ,,,,,,,,,,
5    JIJHJIJGHD
Name: 17769, dtype: object
0           LG1
1         18712
2             A
3            10
4    ,,,,,,,,,,
5    JIJHJIJGHD
Name: 17769, dtype: object
0           LG1
1         18712
2             A
3            10
4    ,,,,,,,,,,
5    JIJHJIJGHD
Name: 17769, dtype: object
0           LG1
1         18712
2             A
3            10
4    ,,,,,,,,,,
5    JIJHJIJGHD
Name: 17769, dtype: object
0           LG1
1         18712
2             A
3            10
4    ,,,,,,,,,,
5    JIJHJIJGHD
Name: 17769, dtype: object
0           LG1
1         18712
2             A
3            10
4    ,,,,,,,,,,
5    JIJHJIJGHD
Name: 17769, dtype: object

0           LG1
1         18712
2             A
3            10
4    ,,,,,,,,,,
5    JIJHJIJGHD
Name: 17769, dtype: object
0           LG1
1         18713
2             T
3            10
4    ,,,,,,,,,,
5    JJJGJEJIHD
Name: 17770, dtype: object
0           LG1
1         18713
2             T
3            10
4    ,,,,,,,,,,
5    JJJGJEJIHD
Name: 17770, dtype: object
0           LG1
1         18713
2             T
3            10
4    ,,,,,,,,,,
5    JJJGJEJIHD
Name: 17770, dtype: object
0           LG1
1         18713
2             T
3            10
4    ,,,,,,,,,,
5    JJJGJEJIHD
Name: 17770, dtype: object
0           LG1
1         18713
2             T
3            10
4    ,,,,,,,,,,
5    JJJGJEJIHD
Name: 17770, dtype: object
0           LG1
1         18713
2             T
3            10
4    ,,,,,,,,,,
5    JJJGJEJIHD
Name: 17770, dtype: object
0           LG1
1         18713
2             T
3            10
4    ,,,,,,,,,,
5    JJJGJEJIHD
Name: 17770, dtype: object
0           LG1
1         18713
2             T
3            10
4    ,,,,,,,,,,
5    JJJGJEJIHD
Name: 17770, dtype: object
0           LG1
1         18713
2             T
3            10
4    ,,,,,,,,,,
5    JJJGJEJIHD
Name: 17770, dtype: object
0           LG1
1         18713
2             T
3            10
4    ,,,,,,,,,,
5    JJJGJEJIHD
Name: 17770, dtype: object
0           LG1
1         18714
2             C
3            10
4    ,,,,,,,,,,
5    GJJHJIJIHD
Name: 17771, dtype: object
0           LG1
1         18714
2             C
3            10
4    ,,,,,,,,,,
5    GJJHJIJIHD
Name: 17771, dtype: object
0           LG1
1         18714
2             C
3            10
4    ,,,,,,,,,,
5    GJJHJIJIHD
Name: 17771, dtype: object
0           LG1
1         18714
2             C
3            10
4    ,,,,,,,,,,
5    GJJHJIJIHD
Name: 17771, dtype: object
0           LG1
1         18714
2             C
3            10
4    ,,,,,,,,,,
5    GJJHJIJIHD
Name: 17771, dtype: object
0           LG1
1         18714
2             C
3            10
4    ,,,,,,,,,,
5    GJJHJIJIHD
Name: 17771, dtype: object
0           LG1
1         18714
2             C
3            10
4    ,,,,,,,,,,
5    GJJHJIJIHD
Name: 17771, dtype: object
0           LG1
1         18714
2             C
3            10
4    ,,,,,,,,,,
5    GJJHJIJIHD
Name: 17771, dtype: object
0           LG1
1         18714
2             C
3            10
4    ,,,,,,,,,,
5    GJJHJIJIHD
Name: 17771, dtype: object
0           LG1
1         18714
2             C
3            10
4    ,,,,,,,,,,
5    GJJHJIJIHD
Name: 17771, dtype: object
0           LG1
1         18715
2             G
3            10
4    ,,,,,,,,,,
5    JJJGJIJGJE
Name: 17772, dtype: object
0           LG1
1         18715
2             G
3            10
4    ,,,,,,,,,,
5    JJJGJIJGJE
Name: 17772, dtype: object
0           LG1
1         18715
2             G
3            10
4    ,,,,,,,,,,
5    JJJGJIJGJE
Name: 17772, dtype: object
0           LG1
1         18715
2             G
3            10
4    ,,,,,,,,,,
5    JJJGJIJGJE
Name: 17772, dtype: object
0           LG1
1         18715
2             G
3            10
4    ,,,,,,,,,,
5    JJJGJIJGJE
Name: 17772, dtype: object
0           LG1
1         18715
2             G
3            10
4    ,,,,,,,,,,
5    JJJGJIJGJE
Name: 17772, dtype: object
0           LG1
1         18715
2             G
3            10
4    ,,,,,,,,,,
5    JJJGJIJGJE
Name: 17772, dtype: object
0           LG1
1         18715
2             G
3            10
4    ,,,,,,,,,,
5    JJJGJIJGJE
Name: 17772, dtype: object
0           LG1
1         18715
2             G
3            10
4    ,,,,,,,,,,
5    JJJGJIJGJE
Name: 17772, dtype: object
0           LG1
1         18715
2             G
3            10
4    ,,,,,,,,,,
5    JJJGJIJGJE
Name: 17772, dtype: object
0           LG1
1         18716
2             T
3            10
4    ,,,,,,,,,,
5    IJJIJGJIIF
Name: 17773, dtype: object
0           LG1
1         18716
2             T
3            10
4    ,,,,,,,,,,
5    IJJIJGJIIF
Name: 17773, dtype: object
0           LG1
1         18716
2             T
3            10
4    ,,,,,,,,,,
5    IJJIJGJIIF
Name: 17773, dtype: object
0           LG1
1         18716
2             T
3            10
4    ,,,,,,,,,,
5    IJJIJGJIIF
Name: 17773, dtype: object
0           LG1
1         18716
2             T
3            10
4    ,,,,,,,,,,
5    IJJIJGJIIF
Name: 17773, dtype: object
0           LG1
1         18716
2             T
3            10
4    ,,,,,,,,,,
5    IJJIJGJIIF
Name: 17773, dtype: object
0           LG1
1         18716
2             T
3            10
4    ,,,,,,,,,,
5    IJJIJGJIIF
Name: 17773, dtype: object
0           LG1
1         18716
2             T
3            10
4    ,,,,,,,,,,
5    IJJIJGJIIF
Name: 17773, dtype: object
0           LG1
1         18716
2             T
3            10
4    ,,,,,,,,,,
5    IJJIJGJIIF
Name: 17773, dtype: object
0           LG1
1         18716
2             T
3            10
4    ,,,,,,,,,,
5    IJJIJGJIIF
Name: 17773, dtype: object
0           LG1
1         18717
2             G
3            10
4    ,,,,,,,,,,
5    IJIHJCJGJF
Name: 17774, dtype: object
0           LG1
1         18717
2             G
3            10
4    ,,,,,,,,,,
5    IJIHJCJGJF
Name: 17774, dtype: object
0           LG1
1         18717
2             G
3            10
4    ,,,,,,,,,,
5    IJIHJCJGJF
Name: 17774, dtype: object
0           LG1
1         18717
2             G
3            10
4    ,,,,,,,,,,
5    IJIHJCJGJF
Name: 17774, dtype: object
0           LG1
1         18717
2             G
3            10
4    ,,,,,,,,,,
5    IJIHJCJGJF
Name: 17774, dtype: object
0           LG1
1         18717
2             G
3            10
4    ,,,,,,,,,,
5    IJIHJCJGJF
Name: 17774, dtype: object
0           LG1
1         18717
2             G
3            10
4    ,,,,,,,,,,
5    IJIHJCJGJF
Name: 17774, dtype: object
0           LG1
1         18717
2             G
3            10
4    ,,,,,,,,,,
5    IJIHJCJGJF
Name: 17774, dtype: object
0           LG1
1         18717
2             G
3            10
4    ,,,,,,,,,,
5    IJIHJCJGJF
Name: 17774, dtype: object
0           LG1
1         18717
2             G
3            10
4    ,,,,,,,,,,
5    IJIHJCJGJF
Name: 17774, dtype: object
0           LG1
1         18718
2             G
3            10
4    ,,,,,,,,,,
5    JJJEJBJHJF
Name: 17775, dtype: object
0           LG1
1         18718
2             G
3            10
4    ,,,,,,,,,,
5    JJJEJBJHJF
Name: 17775, dtype: object
0           LG1
1         18718
2             G
3            10
4    ,,,,,,,,,,
5    JJJEJBJHJF
Name: 17775, dtype: object
0           LG1
1         18718
2             G
3            10
4    ,,,,,,,,,,
5    JJJEJBJHJF
Name: 17775, dtype: object
0           LG1
1         18718
2             G
3            10
4    ,,,,,,,,,,
5    JJJEJBJHJF
Name: 17775, dtype: object
0           LG1
1         18718
2             G
3            10
4    ,,,,,,,,,,
5    JJJEJBJHJF
Name: 17775, dtype: object
0           LG1
1         18718
2             G
3            10
4    ,,,,,,,,,,
5    JJJEJBJHJF
Name: 17775, dtype: object
0           LG1
1         18718
2             G
3            10
4    ,,,,,,,,,,
5    JJJEJBJHJF
Name: 17775, dtype: object
0           LG1
1         18718
2             G
3            10
4    ,,,,,,,,,,
5    JJJEJBJHJF
Name: 17775, dtype: object
0           LG1
1         18718
2             G
3            10
4    ,,,,,,,,,,
5    JJJEJBJHJF
Name: 17775, dtype: object
0           LG1
1         18719
2             A
3            10
4    ,,,,,,,,,,
5    JJJFJDJDJF
Name: 17776, dtype: object
0           LG1
1         18719
2             A
3            10
4    ,,,,,,,,,,
5    JJJFJDJDJF
Name: 17776, dtype: object
0           LG1
1         18719
2             A
3            10
4    ,,,,,,,,,,
5    JJJFJDJDJF
Name: 17776, dtype: object
0           LG1
1         18719
2             A
3            10
4    ,,,,,,,,,,
5    JJJFJDJDJF
Name: 17776, dtype: object
0           LG1
1         18719
2             A
3            10
4    ,,,,,,,,,,
5    JJJFJDJDJF
Name: 17776, dtype: object
0           LG1
1         18719
2             A
3            10
4    ,,,,,,,,,,
5    JJJFJDJDJF
Name: 17776, dtype: object
0           LG1
1         18719
2             A
3            10
4    ,,,,,,,,,,
5    JJJFJDJDJF
Name: 17776, dtype: object
0           LG1
1         18719
2             A
3            10
4    ,,,,,,,,,,
5    JJJFJDJDJF
Name: 17776, dtype: object
0           LG1
1         18719
2             A
3            10
4    ,,,,,,,,,,
5    JJJFJDJDJF
Name: 17776, dtype: object
0           LG1
1         18719
2             A
3            10
4    ,,,,,,,,,,
5    JJJFJDJDJF
Name: 17776, dtype: object
0           LG1
1         18720
2             A
3            10
4    ,,,,,,,,,,
5    JJIIJCJFJF
Name: 17777, dtype: object
0           LG1
1         18720
2             A
3            10
4    ,,,,,,,,,,
5    JJIIJCJFJF
Name: 17777, dtype: object
0           LG1
1         18720
2             A
3            10
4    ,,,,,,,,,,
5    JJIIJCJFJF
Name: 17777, dtype: object
0           LG1
1         18720
2             A
3            10
4    ,,,,,,,,,,
5    JJIIJCJFJF
Name: 17777, dtype: object
0           LG1
1         18720
2             A
3            10
4    ,,,,,,,,,,
5    JJIIJCJFJF
Name: 17777, dtype: object
0           LG1
1         18720
2             A
3            10
4    ,,,,,,,,,,
5    JJIIJCJFJF
Name: 17777, dtype: object
0           LG1
1         18720
2             A
3            10
4    ,,,,,,,,,,
5    JJIIJCJFJF
Name: 17777, dtype: object
0           LG1
1         18720
2             A
3            10
4    ,,,,,,,,,,
5    JJIIJCJFJF
Name: 17777, dtype: object
0           LG1
1         18720
2             A
3            10
4    ,,,,,,,,,,
5    JJIIJCJFJF
Name: 17777, dtype: object
0           LG1
1         18720
2             A
3            10
4    ,,,,,,,,,,
5    JJIIJCJFJF
Name: 17777, dtype: object
0           LG1
1         18721
2             T
3            10
4    ,,,,,,,,,,
5    JJJGJGJ@IF
Name: 17778, dtype: object
0           LG1
1         18721
2             T
3            10
4    ,,,,,,,,,,
5    JJJGJGJ@IF
Name: 17778, dtype: object
0           LG1
1         18721
2             T
3            10
4    ,,,,,,,,,,
5    JJJGJGJ@IF
Name: 17778, dtype: object
0           LG1
1         18721
2             T
3            10
4    ,,,,,,,,,,
5    JJJGJGJ@IF
Name: 17778, dtype: object
0           LG1
1         18721
2             T
3            10
4    ,,,,,,,,,,
5    JJJGJGJ@IF
Name: 17778, dtype: object
0           LG1
1         18721
2             T
3            10
4    ,,,,,,,,,,
5    JJJGJGJ@IF
Name: 17778, dtype: object
0           LG1
1         18721
2             T
3            10
4    ,,,,,,,,,,
5    JJJGJGJ@IF
Name: 17778, dtype: object
0           LG1
1         18721
2             T
3            10
4    ,,,,,,,,,,
5    JJJGJGJ@IF
Name: 17778, dtype: object
0           LG1
1         18721
2             T
3            10
4    ,,,,,,,,,,
5    JJJGJGJ@IF
Name: 17778, dtype: object
0           LG1
1         18721
2             T
3            10
4    ,,,,,,,,,,
5    JJJGJGJ@IF
Name: 17778, dtype: object
0           LG1
1         18722
2             T
3            10
4    ,,,,,,,,,,
5    JJJEJEJIJF
Name: 17779, dtype: object
0           LG1
1         18722
2             T
3            10
4    ,,,,,,,,,,
5    JJJEJEJIJF
Name: 17779, dtype: object
0           LG1
1         18722
2             T
3            10
4    ,,,,,,,,,,
5    JJJEJEJIJF
Name: 17779, dtype: object
0           LG1
1         18722
2             T
3            10
4    ,,,,,,,,,,
5    JJJEJEJIJF
Name: 17779, dtype: object
0           LG1
1         18722
2             T
3            10
4    ,,,,,,,,,,
5    JJJEJEJIJF
Name: 17779, dtype: object
0           LG1
1         18722
2             T
3            10
4    ,,,,,,,,,,
5    JJJEJEJIJF
Name: 17779, dtype: object
0           LG1
1         18722
2             T
3            10
4    ,,,,,,,,,,
5    JJJEJEJIJF
Name: 17779, dtype: object
0           LG1
1         18722
2             T
3            10
4    ,,,,,,,,,,
5    JJJEJEJIJF
Name: 17779, dtype: object
0           LG1
1         18722
2             T
3            10
4    ,,,,,,,,,,
5    JJJEJEJIJF
Name: 17779, dtype: object
0           LG1
1         18722
2             T
3            10
4    ,,,,,,,,,,
5    JJJEJEJIJF
Name: 17779, dtype: object
0           LG1
1         18723
2             T
3            10
4    ,,,,,,,,,,
5    JJJDJIJGIF
Name: 17780, dtype: object

0           LG1
1         18723
2             T
3            10
4    ,,,,,,,,,,
5    JJJDJIJGIF
Name: 17780, dtype: object
0           LG1
1         18723
2             T
3            10
4    ,,,,,,,,,,
5    JJJDJIJGIF
Name: 17780, dtype: object
0           LG1
1         18723
2             T
3            10
4    ,,,,,,,,,,
5    JJJDJIJGIF
Name: 17780, dtype: object
0           LG1
1         18723
2             T
3            10
4    ,,,,,,,,,,
5    JJJDJIJGIF
Name: 17780, dtype: object
0           LG1
1         18723
2             T
3            10
4    ,,,,,,,,,,
5    JJJDJIJGIF
Name: 17780, dtype: object
0           LG1
1         18723
2             T
3            10
4    ,,,,,,,,,,
5    JJJDJIJGIF
Name: 17780, dtype: object
0           LG1
1         18723
2             T
3            10
4    ,,,,,,,,,,
5    JJJDJIJGIF
Name: 17780, dtype: object
0           LG1
1         18723
2             T
3            10
4    ,,,,,,,,,,
5    JJJDJIJGIF
Name: 17780, dtype: object
0           LG1
1         18723
2             T
3            10
4    ,,,,,,,,,,
5    JJJDJIJGIF
Name: 17780, dtype: object
0           LG1
1         18724
2             A
3            10
4    ,,,,,,,,,,
5    JJJHJIJCJH
Name: 17781, dtype: object
0           LG1
1         18724
2             A
3            10
4    ,,,,,,,,,,
5    JJJHJIJCJH
Name: 17781, dtype: object
0           LG1
1         18724
2             A
3            10
4    ,,,,,,,,,,
5    JJJHJIJCJH
Name: 17781, dtype: object
0           LG1
1         18724
2             A
3            10
4    ,,,,,,,,,,
5    JJJHJIJCJH
Name: 17781, dtype: object
0           LG1
1         18724
2             A
3            10
4    ,,,,,,,,,,
5    JJJHJIJCJH
Name: 17781, dtype: object
0           LG1
1         18724
2             A
3            10
4    ,,,,,,,,,,
5    JJJHJIJCJH
Name: 17781, dtype: object
0           LG1
1         18724
2             A
3            10
4    ,,,,,,,,,,
5    JJJHJIJCJH
Name: 17781, dtype: object
0           LG1
1         18724
2             A
3            10
4    ,,,,,,,,,,
5    JJJHJIJCJH
Name: 17781, dtype: object
0           LG1
1         18724
2             A
3            10
4    ,,,,,,,,,,
5    JJJHJIJCJH
Name: 17781, dtype: object
0           LG1
1         18724
2             A
3            10
4    ,,,,,,,,,,
5    JJJHJIJCJH
Name: 17781, dtype: object
0           LG1
1         18725
2             G
3            10
4    ,,,,,,,,,,
5    JJJIJIJHJH
Name: 17782, dtype: object
0           LG1
1         18725
2             G
3            10
4    ,,,,,,,,,,
5    JJJIJIJHJH
Name: 17782, dtype: object
0           LG1
1         18725
2             G
3            10
4    ,,,,,,,,,,
5    JJJIJIJHJH
Name: 17782, dtype: object
0           LG1
1         18725
2             G
3            10
4    ,,,,,,,,,,
5    JJJIJIJHJH
Name: 17782, dtype: object
0           LG1
1         18725
2             G
3            10
4    ,,,,,,,,,,
5    JJJIJIJHJH
Name: 17782, dtype: object
0           LG1
1         18725
2             G
3            10
4    ,,,,,,,,,,
5    JJJIJIJHJH
Name: 17782, dtype: object
0           LG1
1         18725
2             G
3            10
4    ,,,,,,,,,,
5    JJJIJIJHJH
Name: 17782, dtype: object
0           LG1
1         18725
2             G
3            10
4    ,,,,,,,,,,
5    JJJIJIJHJH
Name: 17782, dtype: object
0           LG1
1         18725
2             G
3            10
4    ,,,,,,,,,,
5    JJJIJIJHJH
Name: 17782, dtype: object
0           LG1
1         18725
2             G
3            10
4    ,,,,,,,,,,
5    JJJIJIJHJH
Name: 17782, dtype: object
0           LG1
1         18726
2             A
3            10
4    gggggggggg
5    JJJIJGJGJH
Name: 17783, dtype: object
0           LG1
1         18726
2             A
3            10
4    gggggggggg
5    JJJIJGJGJH
Name: 17783, dtype: object
0           LG1
1         18726
2             A
3            10
4    gggggggggg
5    JJJIJGJGJH
Name: 17783, dtype: object
0           LG1
1         18726
2             A
3            10
4    gggggggggg
5    JJJIJGJGJH
Name: 17783, dtype: object
0           LG1
1         18726
2             A
3            10
4    gggggggggg
5    JJJIJGJGJH
Name: 17783, dtype: object
0           LG1
1         18726
2             A
3            10
4    gggggggggg
5    JJJIJGJGJH
Name: 17783, dtype: object
0           LG1
1         18726
2             A
3            10
4    gggggggggg
5    JJJIJGJGJH
Name: 17783, dtype: object
0           LG1
1         18726
2             A
3            10
4    gggggggggg
5    JJJIJGJGJH
Name: 17783, dtype: object
0           LG1
1         18726
2             A
3            10
4    gggggggggg
5    JJJIJGJGJH
Name: 17783, dtype: object
0           LG1
1         18726
2             A
3            10
4    gggggggggg
5    JJJIJGJGJH
Name: 17783, dtype: object
0           LG1
1         18727
2             A
3            10
4    ,,,,,,,,,,
5    JJJIJIJFJH
Name: 17784, dtype: object
0           LG1
1         18727
2             A
3            10
4    ,,,,,,,,,,
5    JJJIJIJFJH
Name: 17784, dtype: object
0           LG1
1         18727
2             A
3            10
4    ,,,,,,,,,,
5    JJJIJIJFJH
Name: 17784, dtype: object
0           LG1
1         18727
2             A
3            10
4    ,,,,,,,,,,
5    JJJIJIJFJH
Name: 17784, dtype: object
0           LG1
1         18727
2             A
3            10
4    ,,,,,,,,,,
5    JJJIJIJFJH
Name: 17784, dtype: object
0           LG1
1         18727
2             A
3            10
4    ,,,,,,,,,,
5    JJJIJIJFJH
Name: 17784, dtype: object
0           LG1
1         18727
2             A
3            10
4    ,,,,,,,,,,
5    JJJIJIJFJH
Name: 17784, dtype: object
0           LG1
1         18727
2             A
3            10
4    ,,,,,,,,,,
5    JJJIJIJFJH
Name: 17784, dtype: object
0           LG1
1         18727
2             A
3            10
4    ,,,,,,,,,,
5    JJJIJIJFJH
Name: 17784, dtype: object
0           LG1
1         18727
2             A
3            10
4    ,,,,,,,,,,
5    JJJIJIJFJH
Name: 17784, dtype: object
0           LG1
1         18728
2             G
3            10
4    ,,,,,,,,,,
5    JJJGJGJ:JH
Name: 17785, dtype: object
0           LG1
1         18728
2             G
3            10
4    ,,,,,,,,,,
5    JJJGJGJ:JH
Name: 17785, dtype: object
0           LG1
1         18728
2             G
3            10
4    ,,,,,,,,,,
5    JJJGJGJ:JH
Name: 17785, dtype: object
0           LG1
1         18728
2             G
3            10
4    ,,,,,,,,,,
5    JJJGJGJ:JH
Name: 17785, dtype: object
0           LG1
1         18728
2             G
3            10
4    ,,,,,,,,,,
5    JJJGJGJ:JH
Name: 17785, dtype: object
0           LG1
1         18728
2             G
3            10
4    ,,,,,,,,,,
5    JJJGJGJ:JH
Name: 17785, dtype: object
0           LG1
1         18728
2             G
3            10
4    ,,,,,,,,,,
5    JJJGJGJ:JH
Name: 17785, dtype: object
0           LG1
1         18728
2             G
3            10
4    ,,,,,,,,,,
5    JJJGJGJ:JH
Name: 17785, dtype: object
0           LG1
1         18728
2             G
3            10
4    ,,,,,,,,,,
5    JJJGJGJ:JH
Name: 17785, dtype: object
0           LG1
1         18729
2             C
3            10
4    ,,,,,,,,,,
5    JJJEJHJHJI
Name: 17786, dtype: object
0           LG1
1         18729
2             C
3            10
4    ,,,,,,,,,,
5    JJJEJHJHJI
Name: 17786, dtype: object
0           LG1
1         18729
2             C
3            10
4    ,,,,,,,,,,
5    JJJEJHJHJI
Name: 17786, dtype: object
0           LG1
1         18729
2             C
3            10
4    ,,,,,,,,,,
5    JJJEJHJHJI
Name: 17786, dtype: object
0           LG1
1         18729
2             C
3            10
4    ,,,,,,,,,,
5    JJJEJHJHJI
Name: 17786, dtype: object
0           LG1
1         18729
2             C
3            10
4    ,,,,,,,,,,
5    JJJEJHJHJI
Name: 17786, dtype: object
0           LG1
1         18729
2             C
3            10
4    ,,,,,,,,,,
5    JJJEJHJHJI
Name: 17786, dtype: object
0           LG1
1         18729
2             C
3            10
4    ,,,,,,,,,,
5    JJJEJHJHJI
Name: 17786, dtype: object
0           LG1
1         18729
2             C
3            10
4    ,,,,,,,,,,
5    JJJEJHJHJI
Name: 17786, dtype: object
0           LG1
1         18729
2             C
3            10
4    ,,,,,,,,,,
5    JJJEJHJHJI
Name: 17786, dtype: object
0           LG1
1         18730
2             T
3            10
4    ,,,,,,,,,,
5    IJIIIAJFJI
Name: 17787, dtype: object
0           LG1
1         18730
2             T
3            10
4    ,,,,,,,,,,
5    IJIIIAJFJI
Name: 17787, dtype: object
0           LG1
1         18730
2             T
3            10
4    ,,,,,,,,,,
5    IJIIIAJFJI
Name: 17787, dtype: object
0           LG1
1         18730
2             T
3            10
4    ,,,,,,,,,,
5    IJIIIAJFJI
Name: 17787, dtype: object
0           LG1
1         18730
2             T
3            10
4    ,,,,,,,,,,
5    IJIIIAJFJI
Name: 17787, dtype: object
0           LG1
1         18730
2             T
3            10
4    ,,,,,,,,,,
5    IJIIIAJFJI
Name: 17787, dtype: object
0           LG1
1         18730
2             T
3            10
4    ,,,,,,,,,,
5    IJIIIAJFJI
Name: 17787, dtype: object
0           LG1
1         18730
2             T
3            10
4    ,,,,,,,,,,
5    IJIIIAJFJI
Name: 17787, dtype: object
0           LG1
1         18730
2             T
3            10
4    ,,,,,,,,,,
5    IJIIIAJFJI
Name: 17787, dtype: object
0           LG1
1         18730
2             T
3            10
4    ,,,,,,,,,,
5    IJIIIAJFJI
Name: 17787, dtype: object
0           LG1
1         18731
2             T
3            10
4    ,,,,,,,,,,
5    HJJIJIJGJI
Name: 17788, dtype: object
0           LG1
1         18731
2             T
3            10
4    ,,,,,,,,,,
5    HJJIJIJGJI
Name: 17788, dtype: object
0           LG1
1         18731
2             T
3            10
4    ,,,,,,,,,,
5    HJJIJIJGJI
Name: 17788, dtype: object
0           LG1
1         18731
2             T
3            10
4    ,,,,,,,,,,
5    HJJIJIJGJI
Name: 17788, dtype: object
0           LG1
1         18731
2             T
3            10
4    ,,,,,,,,,,
5    HJJIJIJGJI
Name: 17788, dtype: object
0           LG1
1         18731
2             T
3            10
4    ,,,,,,,,,,
5    HJJIJIJGJI
Name: 17788, dtype: object
0           LG1
1         18731
2             T
3            10
4    ,,,,,,,,,,
5    HJJIJIJGJI
Name: 17788, dtype: object
0           LG1
1         18731
2             T
3            10
4    ,,,,,,,,,,
5    HJJIJIJGJI
Name: 17788, dtype: object

0           LG1
1         18731
2             T
3            10
4    ,,,,,,,,,,
5    HJJIJIJGJI
Name: 17788, dtype: object
0           LG1
1         18731
2             T
3            10
4    ,,,,,,,,,,
5    HJJIJIJGJI
Name: 17788, dtype: object
0           LG1
1         18732
2             A
3            10
4    ,,,,,,,,,,
5    HGJHJGJHJJ
Name: 17789, dtype: object
0           LG1
1         18732
2             A
3            10
4    ,,,,,,,,,,
5    HGJHJGJHJJ
Name: 17789, dtype: object
0           LG1
1         18732
2             A
3            10
4    ,,,,,,,,,,
5    HGJHJGJHJJ
Name: 17789, dtype: object
0           LG1
1         18732
2             A
3            10
4    ,,,,,,,,,,
5    HGJHJGJHJJ
Name: 17789, dtype: object
0           LG1
1         18732
2             A
3            10
4    ,,,,,,,,,,
5    HGJHJGJHJJ
Name: 17789, dtype: object
0           LG1
1         18732
2             A
3            10
4    ,,,,,,,,,,
5    HGJHJGJHJJ
Name: 17789, dtype: object
0           LG1
1         18732
2             A
3            10
4    ,,,,,,,,,,
5    HGJHJGJHJJ
Name: 17789, dtype: object
0           LG1
1         18732
2             A
3            10
4    ,,,,,,,,,,
5    HGJHJGJHJJ
Name: 17789, dtype: object
0           LG1
1         18732
2             A
3            10
4    ,,,,,,,,,,
5    HGJHJGJHJJ
Name: 17789, dtype: object
0           LG1
1         18732
2             A
3            10
4    ,,,,,,,,,,
5    HGJHJGJHJJ
Name: 17789, dtype: object
0           LG1
1         18733
2             A
3            10
4    ,,,,,,,,,,
5    HJJGJHJIIJ
Name: 17790, dtype: object
0           LG1
1         18733
2             A
3            10
4    ,,,,,,,,,,
5    HJJGJHJIIJ
Name: 17790, dtype: object
0           LG1
1         18733
2             A
3            10
4    ,,,,,,,,,,
5    HJJGJHJIIJ
Name: 17790, dtype: object
0           LG1
1         18733
2             A
3            10
4    ,,,,,,,,,,
5    HJJGJHJIIJ
Name: 17790, dtype: object
0           LG1
1         18733
2             A
3            10
4    ,,,,,,,,,,
5    HJJGJHJIIJ
Name: 17790, dtype: object
0           LG1
1         18733
2             A
3            10
4    ,,,,,,,,,,
5    HJJGJHJIIJ
Name: 17790, dtype: object
0           LG1
1         18733
2             A
3            10
4    ,,,,,,,,,,
5    HJJGJHJIIJ
Name: 17790, dtype: object
0           LG1
1         18733
2             A
3            10
4    ,,,,,,,,,,
5    HJJGJHJIIJ
Name: 17790, dtype: object
0           LG1
1         18733
2             A
3            10
4    ,,,,,,,,,,
5    HJJGJHJIIJ
Name: 17790, dtype: object
0           LG1
1         18733
2             A
3            10
4    ,,,,,,,,,,
5    HJJGJHJIIJ
Name: 17790, dtype: object
0           LG1
1         18734
2             A
3            10
4    ,,,,,,,,,,
5    HIJHJBJIIJ
Name: 17791, dtype: object
0           LG1
1         18734
2             A
3            10
4    ,,,,,,,,,,
5    HIJHJBJIIJ
Name: 17791, dtype: object
0           LG1
1         18734
2             A
3            10
4    ,,,,,,,,,,
5    HIJHJBJIIJ
Name: 17791, dtype: object
0           LG1
1         18734
2             A
3            10
4    ,,,,,,,,,,
5    HIJHJBJIIJ
Name: 17791, dtype: object
0           LG1
1         18734
2             A
3            10
4    ,,,,,,,,,,
5    HIJHJBJIIJ
Name: 17791, dtype: object
0           LG1
1         18734
2             A
3            10
4    ,,,,,,,,,,
5    HIJHJBJIIJ
Name: 17791, dtype: object
0           LG1
1         18734
2             A
3            10
4    ,,,,,,,,,,
5    HIJHJBJIIJ
Name: 17791, dtype: object
0           LG1
1         18734
2             A
3            10
4    ,,,,,,,,,,
5    HIJHJBJIIJ
Name: 17791, dtype: object
0           LG1
1         18734
2             A
3            10
4    ,,,,,,,,,,
5    HIJHJBJIIJ
Name: 17791, dtype: object
0           LG1
1         18734
2             A
3            10
4    ,,,,,,,,,,
5    HIJHJBJIIJ
Name: 17791, dtype: object
0           LG1
1         18735
2             T
3            10
4    ,,,,,,,,,,
5    HIJDIBJIIJ
Name: 17792, dtype: object
0           LG1
1         18735
2             T
3            10
4    ,,,,,,,,,,
5    HIJDIBJIIJ
Name: 17792, dtype: object
0           LG1
1         18735
2             T
3            10
4    ,,,,,,,,,,
5    HIJDIBJIIJ
Name: 17792, dtype: object
0           LG1
1         18735
2             T
3            10
4    ,,,,,,,,,,
5    HIJDIBJIIJ
Name: 17792, dtype: object
0           LG1
1         18735
2             T
3            10
4    ,,,,,,,,,,
5    HIJDIBJIIJ
Name: 17792, dtype: object
0           LG1
1         18735
2             T
3            10
4    ,,,,,,,,,,
5    HIJDIBJIIJ
Name: 17792, dtype: object
0           LG1
1         18735
2             T
3            10
4    ,,,,,,,,,,
5    HIJDIBJIIJ
Name: 17792, dtype: object
0           LG1
1         18735
2             T
3            10
4    ,,,,,,,,,,
5    HIJDIBJIIJ
Name: 17792, dtype: object
0           LG1
1         18735
2             T
3            10
4    ,,,,,,,,,,
5    HIJDIBJIIJ
Name: 17792, dtype: object
0           LG1
1         18735
2             T
3            10
4    ,,,,,,,,,,
5    HIJDIBJIIJ
Name: 17792, dtype: object
0           LG1
1         18736
2             T
3            10
4    ,,,,,,,,,,
5    FJI9I@JIJJ
Name: 17793, dtype: object
0           LG1
1         18736
2             T
3            10
4    ,,,,,,,,,,
5    FJI9I@JIJJ
Name: 17793, dtype: object
0           LG1
1         18736
2             T
3            10
4    ,,,,,,,,,,
5    FJI9I@JIJJ
Name: 17793, dtype: object
0           LG1
1         18736
2             T
3            10
4    ,,,,,,,,,,
5    FJI9I@JIJJ
Name: 17793, dtype: object
0           LG1
1         18736
2             T
3            10
4    ,,,,,,,,,,
5    FJI9I@JIJJ
Name: 17793, dtype: object
0           LG1
1         18736
2             T
3            10
4    ,,,,,,,,,,
5    FJI9I@JIJJ
Name: 17793, dtype: object
0           LG1
1         18736
2             T
3            10
4    ,,,,,,,,,,
5    FJI9I@JIJJ
Name: 17793, dtype: object
0           LG1
1         18736
2             T
3            10
4    ,,,,,,,,,,
5    FJI9I@JIJJ
Name: 17793, dtype: object
0           LG1
1         18736
2             T
3            10
4    ,,,,,,,,,,
5    FJI9I@JIJJ
Name: 17793, dtype: object
0           LG1
1         18737
2             C
3            10
4    ,,,,,,,,,,
5    FJHIIGJGJJ
Name: 17794, dtype: object
0           LG1
1         18737
2             C
3            10
4    ,,,,,,,,,,
5    FJHIIGJGJJ
Name: 17794, dtype: object
0           LG1
1         18737
2             C
3            10
4    ,,,,,,,,,,
5    FJHIIGJGJJ
Name: 17794, dtype: object
0           LG1
1         18737
2             C
3            10
4    ,,,,,,,,,,
5    FJHIIGJGJJ
Name: 17794, dtype: object
0           LG1
1         18737
2             C
3            10
4    ,,,,,,,,,,
5    FJHIIGJGJJ
Name: 17794, dtype: object
0           LG1
1         18737
2             C
3            10
4    ,,,,,,,,,,
5    FJHIIGJGJJ
Name: 17794, dtype: object
0           LG1
1         18737
2             C
3            10
4    ,,,,,,,,,,
5    FJHIIGJGJJ
Name: 17794, dtype: object
0           LG1
1         18737
2             C
3            10
4    ,,,,,,,,,,
5    FJHIIGJGJJ
Name: 17794, dtype: object
0           LG1
1         18737
2             C
3            10
4    ,,,,,,,,,,
5    FJHIIGJGJJ
Name: 17794, dtype: object
0           LG1
1         18737
2             C
3            10
4    ,,,,,,,,,,
5    FJHIIGJGJJ
Name: 17794, dtype: object
0           LG1
1         18738
2             C
3            10
4    ,,,,,,,,,,
5    FHGGJ>IHJJ
Name: 17795, dtype: object
0           LG1
1         18738
2             C
3            10
4    ,,,,,,,,,,
5    FHGGJ>IHJJ
Name: 17795, dtype: object
0           LG1
1         18738
2             C
3            10
4    ,,,,,,,,,,
5    FHGGJ>IHJJ
Name: 17795, dtype: object
0           LG1
1         18738
2             C
3            10
4    ,,,,,,,,,,
5    FHGGJ>IHJJ
Name: 17795, dtype: object
0           LG1
1         18738
2             C
3            10
4    ,,,,,,,,,,
5    FHGGJ>IHJJ
Name: 17795, dtype: object
0           LG1
1         18738
2             C
3            10
4    ,,,,,,,,,,
5    FHGGJ>IHJJ
Name: 17795, dtype: object
0           LG1
1         18738
2             C
3            10
4    ,,,,,,,,,,
5    FHGGJ>IHJJ
Name: 17795, dtype: object
0           LG1
1         18738
2             C
3            10
4    ,,,,,,,,,,
5    FHGGJ>IHJJ
Name: 17795, dtype: object
0           LG1
1         18738
2             C
3            10
4    ,,,,,,,,,,
5    FHGGJ>IHJJ
Name: 17795, dtype: object
0           LG1
1         18739
2             C
3            10
4    tttttttttt
5    FHHGJBJFJJ
Name: 17796, dtype: object
0           LG1
1         18739
2             C
3            10
4    tttttttttt
5    FHHGJBJFJJ
Name: 17796, dtype: object
0           LG1
1         18739
2             C
3            10
4    tttttttttt
5    FHHGJBJFJJ
Name: 17796, dtype: object
0           LG1
1         18739
2             C
3            10
4    tttttttttt
5    FHHGJBJFJJ
Name: 17796, dtype: object
0           LG1
1         18739
2             C
3            10
4    tttttttttt
5    FHHGJBJFJJ
Name: 17796, dtype: object
0           LG1
1         18739
2             C
3            10
4    tttttttttt
5    FHHGJBJFJJ
Name: 17796, dtype: object
0           LG1
1         18739
2             C
3            10
4    tttttttttt
5    FHHGJBJFJJ
Name: 17796, dtype: object
0           LG1
1         18739
2             C
3            10
4    tttttttttt
5    FHHGJBJFJJ
Name: 17796, dtype: object
0           LG1
1         18739
2             C
3            10
4    tttttttttt
5    FHHGJBJFJJ
Name: 17796, dtype: object
0           LG1
1         18739
2             C
3            10
4    tttttttttt
5    FHHGJBJFJJ
Name: 17796, dtype: object
0           LG1
1         18740
2             G
3            10
4    ,,,,,,,,,,
5    FHHHJCJBJJ
Name: 17797, dtype: object
0           LG1
1         18740
2             G
3            10
4    ,,,,,,,,,,
5    FHHHJCJBJJ
Name: 17797, dtype: object
0           LG1
1         18740
2             G
3            10
4    ,,,,,,,,,,
5    FHHHJCJBJJ
Name: 17797, dtype: object
0           LG1
1         18740
2             G
3            10
4    ,,,,,,,,,,
5    FHHHJCJBJJ
Name: 17797, dtype: object
0           LG1
1         18740
2             G
3            10
4    ,,,,,,,,,,
5    FHHHJCJBJJ
Name: 17797, dtype: object
0           LG1
1         18740
2             G
3            10
4    ,,,,,,,,,,
5    FHHHJCJBJJ
Name: 17797, dtype: object
0           LG1
1         18740
2             G
3            10
4    ,,,,,,,,,,
5    FHHHJCJBJJ
Name: 17797, dtype: object
0           LG1
1         18740
2             G
3            10
4    ,,,,,,,,,,
5    FHHHJCJBJJ
Name: 17797, dtype: object
0           LG1
1         18740
2             G
3            10
4    ,,,,,,,,,,
5    FHHHJCJBJJ
Name: 17797, dtype: object
0           LG1
1         18740
2             G
3            10
4    ,,,,,,,,,,
5    FHHHJCJBJJ
Name: 17797, dtype: object
0           LG1
1         18741
2             A
3            10
4    ,,,,,,,,,,
5    BHHIJBIHJI
Name: 17798, dtype: object
0           LG1
1         18741
2             A
3            10
4    ,,,,,,,,,,
5    BHHIJBIHJI
Name: 17798, dtype: object
0           LG1
1         18741
2             A
3            10
4    ,,,,,,,,,,
5    BHHIJBIHJI
Name: 17798, dtype: object
0           LG1
1         18741
2             A
3            10
4    ,,,,,,,,,,
5    BHHIJBIHJI
Name: 17798, dtype: object
0           LG1
1         18741
2             A
3            10
4    ,,,,,,,,,,
5    BHHIJBIHJI
Name: 17798, dtype: object
0           LG1
1         18741
2             A
3            10
4    ,,,,,,,,,,
5    BHHIJBIHJI

Name: 17798, dtype: object
0           LG1
1         18741
2             A
3            10
4    ,,,,,,,,,,
5    BHHIJBIHJI
Name: 17798, dtype: object
0           LG1
1         18741
2             A
3            10
4    ,,,,,,,,,,
5    BHHIJBIHJI
Name: 17798, dtype: object
0           LG1
1         18741
2             A
3            10
4    ,,,,,,,,,,
5    BHHIJBIHJI
Name: 17798, dtype: object
0           LG1
1         18741
2             A
3            10
4    ,,,,,,,,,,
5    BHHIJBIHJI
Name: 17798, dtype: object
0           LG1
1         18742
2             C
3            10
4    ,,,,,,,,,,
5    @HDHJHJIJJ
Name: 17799, dtype: object
0           LG1
1         18742
2             C
3            10
4    ,,,,,,,,,,
5    @HDHJHJIJJ
Name: 17799, dtype: object
0           LG1
1         18742
2             C
3            10
4    ,,,,,,,,,,
5    @HDHJHJIJJ
Name: 17799, dtype: object
0           LG1
1         18742
2             C
3            10
4    ,,,,,,,,,,
5    @HDHJHJIJJ
Name: 17799, dtype: object
0           LG1
1         18742
2             C
3            10
4    ,,,,,,,,,,
5    @HDHJHJIJJ
Name: 17799, dtype: object
0           LG1
1         18742
2             C
3            10
4    ,,,,,,,,,,
5    @HDHJHJIJJ
Name: 17799, dtype: object
0           LG1
1         18742
2             C
3            10
4    ,,,,,,,,,,
5    @HDHJHJIJJ
Name: 17799, dtype: object
0           LG1
1         18742
2             C
3            10
4    ,,,,,,,,,,
5    @HDHJHJIJJ
Name: 17799, dtype: object
0           LG1
1         18742
2             C
3            10
4    ,,,,,,,,,,
5    @HDHJHJIJJ
Name: 17799, dtype: object
0           LG1
1         18742
2             C
3            10
4    ,,,,,,,,,,
5    @HDHJHJIJJ
Name: 17799, dtype: object
0           LG1
1         18749
2             T
3             9
4    ,,$,,,,,,,
5     CBEJ9IBJI
Name: 17806, dtype: object
0           LG1
1         18749
2             T
3             9
4    ,,$,,,,,,,
5     CBEJ9IBJI
Name: 17806, dtype: object
0           LG1
1         18749
2             T
3             9
4    ,,$,,,,,,,
5     CBEJ9IBJI
Name: 17806, dtype: object
0           LG1
1         18749
2             T
3             9
4    ,,$,,,,,,,
5     CBEJ9IBJI
Name: 17806, dtype: object
0           LG1
1         18749
2             T
3             9
4    ,,$,,,,,,,
5     CBEJ9IBJI
Name: 17806, dtype: object
0           LG1
1         18749
2             T
3             9
4    ,,$,,,,,,,
5     CBEJ9IBJI
Name: 17806, dtype: object
0           LG1
1         18749
2             T
3             9
4    ,,$,,,,,,,
5     CBEJ9IBJI
Name: 17806, dtype: object
0           LG1
1         18749
2             T
3             9
4    ,,$,,,,,,,
5     CBEJ9IBJI
Name: 17806, dtype: object
0           LG1
1         19479
2             G
3             8
4    .......^2.
5      B4FAJHF=
Name: 17952, dtype: object
0           LG1
1         19479
2             G
3             8
4    .......^2.
5      B4FAJHF=
Name: 17952, dtype: object
0           LG1
1         19479
2             G
3             8
4    .......^2.
5      B4FAJHF=
Name: 17952, dtype: object
0           LG1
1         19479
2             G
3             8
4    .......^2.
5      B4FAJHF=
Name: 17952, dtype: object
0           LG1
1         19479
2             G
3             8
4    .......^2.
5      B4FAJHF=
Name: 17952, dtype: object
0           LG1
1         19479
2             G
3             8
4    .......^2.
5      B4FAJHF=
Name: 17952, dtype: object
0           LG1
1         19485
2             A
3            10
4    G.........
5    ;83FJIHCD@
Name: 17958, dtype: object
0           LG1
1         19485
2             A
3            10
4    G.........
5    ;83FJIHCD@
Name: 17958, dtype: object
0           LG1
1         19485
2             A
3            10
4    G.........
5    ;83FJIHCD@
Name: 17958, dtype: object
0           LG1
1         19485
2             A
3            10
4    G.........
5    ;83FJIHCD@
Name: 17958, dtype: object
0           LG1
1         19485
2             A
3            10
4    G.........
5    ;83FJIHCD@
Name: 17958, dtype: object
0           LG1
1         19485
2             A
3            10
4    G.........
5    ;83FJIHCD@
Name: 17958, dtype: object
0           LG1
1         19485
2             A
3            10
4    G.........
5    ;83FJIHCD@
Name: 17958, dtype: object
0           LG1
1         19487
2             A
3            10
4    ..........
5    A?1CJGH:DD
Name: 17960, dtype: object
0           LG1
1         19487
2             A
3            10
4    ..........
5    A?1CJGH:DD
Name: 17960, dtype: object
0           LG1
1         19487
2             A
3            10
4    ..........
5    A?1CJGH:DD
Name: 17960, dtype: object
0           LG1
1         19487
2             A
3            10
4    ..........
5    A?1CJGH:DD
Name: 17960, dtype: object
0           LG1
1         19487
2             A
3            10
4    ..........
5    A?1CJGH:DD
Name: 17960, dtype: object
0           LG1
1         19487
2             A
3            10
4    ..........
5    A?1CJGH:DD
Name: 17960, dtype: object
0           LG1
1         19487
2             A
3            10
4    ..........
5    A?1CJGH:DD
Name: 17960, dtype: object
0           LG1
1         19487
2             A
3            10
4    ..........
5    A?1CJGH:DD
Name: 17960, dtype: object
0           LG1
1         19488
2             A
3            10
4    ..........
5    C?CFJIHADF
Name: 17961, dtype: object
0           LG1
1         19488
2             A
3            10
4    ..........
5    C?CFJIHADF
Name: 17961, dtype: object
0           LG1
1         19488
2             A
3            10
4    ..........
5    C?CFJIHADF
Name: 17961, dtype: object
0           LG1
1         19488
2             A
3            10
4    ..........
5    C?CFJIHADF
Name: 17961, dtype: object
0           LG1
1         19488
2             A
3            10
4    ..........
5    C?CFJIHADF
Name: 17961, dtype: object
0           LG1
1         19488
2             A
3            10
4    ..........
5    C?CFJIHADF
Name: 17961, dtype: object
0           LG1
1         19488
2             A
3            10
4    ..........
5    C?CFJIHADF
Name: 17961, dtype: object
0           LG1
1         19488
2             A
3            10
4    ..........
5    C?CFJIHADF
Name: 17961, dtype: object
0           LG1
1         19488
2             A
3            10
4    ..........
5    C?CFJIHADF
Name: 17961, dtype: object
0           LG1
1         19488
2             A
3            10
4    ..........
5    C?CFJIHADF
Name: 17961, dtype: object
0           LG1
1         19492
2             T
3            10
4    ..........
5    5A:1HFHFFH
Name: 17965, dtype: object
0           LG1
1         19492
2             T
3            10
4    ..........
5    5A:1HFHFFH
Name: 17965, dtype: object
0           LG1
1         19492
2             T
3            10
4    ..........
5    5A:1HFHFFH
Name: 17965, dtype: object
0           LG1
1         19492
2             T
3            10
4    ..........
5    5A:1HFHFFH
Name: 17965, dtype: object
0           LG1
1         19492
2             T
3            10
4    ..........
5    5A:1HFHFFH
Name: 17965, dtype: object
0           LG1
1         19492
2             T
3            10
4    ..........
5    5A:1HFHFFH
Name: 17965, dtype: object
0           LG1
1         19492
2             T
3            10
4    ..........
5    5A:1HFHFFH
Name: 17965, dtype: object
0           LG1
1         19493
2             C
3             9
4    ..$.......
5     5A?IHIHFH
Name: 17966, dtype: object
0           LG1
1         19493
2             C
3             9
4    ..$.......
5     5A?IHIHFH
Name: 17966, dtype: object
0           LG1
1         19493
2             C
3             9
4    ..$.......
5     5A?IHIHFH
Name: 17966, dtype: object
0           LG1
1         19493
2             C
3             9
4    ..$.......
5     5A?IHIHFH
Name: 17966, dtype: object
0           LG1
1         19493
2             C
3             9
4    ..$.......
5     5A?IHIHFH
Name: 17966, dtype: object
0           LG1
1         19493
2             C
3             9
4    ..$.......
5     5A?IHIHFH
Name: 17966, dtype: object
0           LG1
1         19493
2             C
3             9
4    ..$.......
5     5A?IHIHFH
Name: 17966, dtype: object
0           LG1
1         19493
2             C
3             9
4    ..$.......
5     5A?IHIHFH
Name: 17966, dtype: object
0           LG1
1         19495
2             T
3            10
4    ..........
5    @@0EFHGGF@
Name: 17968, dtype: object
0           LG1
1         19495
2             T
3            10
4    ..........
5    @@0EFHGGF@
Name: 17968, dtype: object
0           LG1
1         19495
2             T
3            10
4    ..........
5    @@0EFHGGF@
Name: 17968, dtype: object
0           LG1
1         19495
2             T
3            10
4    ..........
5    @@0EFHGGF@
Name: 17968, dtype: object
0           LG1
1         19495
2             T
3            10
4    ..........
5    @@0EFHGGF@
Name: 17968, dtype: object
0           LG1
1         19495
2             T
3            10
4    ..........
5    @@0EFHGGF@
Name: 17968, dtype: object
0           LG1
1         19495
2             T
3            10
4    ..........
5    @@0EFHGGF@
Name: 17968, dtype: object
0           LG1
1         19495
2             T
3            10
4    ..........
5    @@0EFHGGF@
Name: 17968, dtype: object
0           LG1
1         19495
2             T
3            10
4    ..........
5    @@0EFHGGF@
Name: 17968, dtype: object
0           LG1
1         19498
2             A
3            10
4    ..........
5    C/BHIJ3DFD
Name: 17971, dtype: object
0           LG1
1         19498
2             A
3            10
4    ..........
5    C/BHIJ3DFD
Name: 17971, dtype: object
0           LG1
1         19498
2             A
3            10
4    ..........
5    C/BHIJ3DFD
Name: 17971, dtype: object
0           LG1
1         19498
2             A
3            10
4    ..........
5    C/BHIJ3DFD
Name: 17971, dtype: object
0           LG1
1         19498
2             A
3            10
4    ..........
5    C/BHIJ3DFD
Name: 17971, dtype: object
0           LG1
1         19498
2             A
3            10
4    ..........
5    C/BHIJ3DFD
Name: 17971, dtype: object
0           LG1
1         19498
2             A
3            10
4    ..........
5    C/BHIJ3DFD
Name: 17971, dtype: object
0           LG1
1         19498
2             A
3            10
4    ..........
5    C/BHIJ3DFD
Name: 17971, dtype: object
0           LG1
1         19499
2             G
3            10
4    A.........
5    D8DHJIAFBD
Name: 17972, dtype: object
0           LG1
1         19499
2             G
3            10
4    A.........
5    D8DHJIAFBD
Name: 17972, dtype: object
0           LG1
1         19499
2             G
3            10
4    A.........
5    D8DHJIAFBD
Name: 17972, dtype: object
0           LG1
1         19499
2             G
3            10
4    A.........
5    D8DHJIAFBD
Name: 17972, dtype: object
0           LG1
1         19499
2             G
3            10
4    A.........
5    D8DHJIAFBD
Name: 17972, dtype: object
0           LG1
1         19499
2             G
3            10
4    A.........
5    D8DHJIAFBD
Name: 17972, dtype: object
0           LG1
1         19499
2             G
3            10
4    A.........
5    D8DHJIAFBD
Name: 17972, dtype: object
0           LG1
1         19499
2             G
3            10
4    A.........
5    D8DHJIAFBD
Name: 17972, dtype: object
0           LG1
1         19499
2             G
3            10
4    A.........
5    D8DHJIAFBD
Name: 17972, dtype: object
0           LG1
1         19503
2             A
3            10
4    .........C
5    A8DFII<FFC
Name: 17976, dtype: object
0           LG1
1         19503
2             A
3            10
4    .........C
5    A8DFII<FFC
Name: 17976, dtype: object
0           LG1
1         19503
2             A
3            10
4    .........C
5    A8DFII<FFC
Name: 17976, dtype: object
0           LG1
1         19503
2             A
3            10
4    .........C
5    A8DFII<FFC
Name: 17976, dtype: object
0           LG1
1         19503
2             A
3            10
4    .........C
5    A8DFII<FFC
Name: 17976, dtype: object
0           LG1
1         19503
2             A
3            10
4    .........C
5    A8DFII<FFC
Name: 17976, dtype: object
0           LG1
1         19503
2             A
3            10
4    .........C
5    A8DFII<FFC
Name: 17976, dtype: object
0           LG1
1         19503
2             A
3            10
4    .........C
5    A8DFII<FFC
Name: 17976, dtype: object
0           LG1
1         19510
2             C
3             9
4    ..$...T...
5     8>DIJCCFI
Name: 17983, dtype: object
0           LG1
1         19510
2             C
3             9
4    ..$...T...
5     8>DIJCCFI
Name: 17983, dtype: object
0           LG1
1         19510
2             C
3             9
4    ..$...T...
5     8>DIJCCFI
Name: 17983, dtype: object
0           LG1
1         19510
2             C
3             9
4    ..$...T...
5     8>DIJCCFI
Name: 17983, dtype: object
0           LG1
1         19510
2             C
3             9
4    ..$...T...
5     8>DIJCCFI
Name: 17983, dtype: object
0           LG1
1         19510
2             C
3             9
4    ..$...T...
5     8>DIJCCFI
Name: 17983, dtype: object
0           LG1
1         19510
2             C
3             9
4    ..$...T...
5     8>DIJCCFI
Name: 17983, dtype: object
0           LG1
1         19677
2             T
3            10
4    ....,,.,.,
5    CGJIDCFCBB
Name: 18135, dtype: object
0           LG1
1         19677
2             T
3            10
4    ....,,.,.,
5    CGJIDCFCBB
Name: 18135, dtype: object
0           LG1
1         19677
2             T
3            10
4    ....,,.,.,
5    CGJIDCFCBB
Name: 18135, dtype: object
0           LG1
1         19677
2             T
3            10
4    ....,,.,.,
5    CGJIDCFCBB
Name: 18135, dtype: object
0           LG1
1         19677
2             T
3            10
4    ....,,.,.,
5    CGJIDCFCBB
Name: 18135, dtype: object
0           LG1
1         19677
2             T
3            10
4    ....,,.,.,
5    CGJIDCFCBB
Name: 18135, dtype: object
0           LG1
1         19677
2             T
3            10
4    ....,,.,.,
5    CGJIDCFCBB
Name: 18135, dtype: object
0           LG1
1         19677
2             T
3            10
4    ....,,.,.,
5    CGJIDCFCBB
Name: 18135, dtype: object
0           LG1
1         19677
2             T
3            10
4    ....,,.,.,
5    CGJIDCFCBB
Name: 18135, dtype: object
0           LG1
1         19677
2             T
3            10
4    ....,,.,.,
5    CGJIDCFCBB
Name: 18135, dtype: object
0           LG1
1         19678
2             T
3            10
4    ....,,.,.,
5    BGJJD;F@@D
Name: 18136, dtype: object
0           LG1
1         19678
2             T
3            10
4    ....,,.,.,
5    BGJJD;F@@D
Name: 18136, dtype: object
0           LG1
1         19678
2             T
3            10
4    ....,,.,.,
5    BGJJD;F@@D

Name: 18136, dtype: object
0           LG1
1         19678
2             T
3            10
4    ....,,.,.,
5    BGJJD;F@@D
Name: 18136, dtype: object
0           LG1
1         19678
2             T
3            10
4    ....,,.,.,
5    BGJJD;F@@D
Name: 18136, dtype: object
0           LG1
1         19678
2             T
3            10
4    ....,,.,.,
5    BGJJD;F@@D
Name: 18136, dtype: object
0           LG1
1         19678
2             T
3            10
4    ....,,.,.,
5    BGJJD;F@@D
Name: 18136, dtype: object
0           LG1
1         19678
2             T
3            10
4    ....,,.,.,
5    BGJJD;F@@D
Name: 18136, dtype: object
0           LG1
1         19678
2             T
3            10
4    ....,,.,.,
5    BGJJD;F@@D
Name: 18136, dtype: object
0           LG1
1         19691
2             T
3            10
4    ...,.,.c,,
5    >FBDJCJD>C
Name: 18149, dtype: object
0           LG1
1         19691
2             T
3            10
4    ...,.,.c,,
5    >FBDJCJD>C
Name: 18149, dtype: object
0           LG1
1         19691
2             T
3            10
4    ...,.,.c,,
5    >FBDJCJD>C
Name: 18149, dtype: object
0           LG1
1         19691
2             T
3            10
4    ...,.,.c,,
5    >FBDJCJD>C
Name: 18149, dtype: object
0           LG1
1         19691
2             T
3            10
4    ...,.,.c,,
5    >FBDJCJD>C
Name: 18149, dtype: object
0           LG1
1         19691
2             T
3            10
4    ...,.,.c,,
5    >FBDJCJD>C
Name: 18149, dtype: object
0           LG1
1         19691
2             T
3            10
4    ...,.,.c,,
5    >FBDJCJD>C
Name: 18149, dtype: object
0           LG1
1         19691
2             T
3            10
4    ...,.,.c,,
5    >FBDJCJD>C
Name: 18149, dtype: object
0           LG1
1         19755
2             G
3            10
4    .,.,,,,,..
5    DJ>IIJ;C<3
Name: 18213, dtype: object
0           LG1
1         19755
2             G
3            10
4    .,.,,,,,..
5    DJ>IIJ;C<3
Name: 18213, dtype: object
0           LG1
1         19755
2             G
3            10
4    .,.,,,,,..
5    DJ>IIJ;C<3
Name: 18213, dtype: object
0           LG1
1         19755
2             G
3            10
4    .,.,,,,,..
5    DJ>IIJ;C<3
Name: 18213, dtype: object
0           LG1
1         19755
2             G
3            10
4    .,.,,,,,..
5    DJ>IIJ;C<3
Name: 18213, dtype: object
0           LG1
1         19755
2             G
3            10
4    .,.,,,,,..
5    DJ>IIJ;C<3
Name: 18213, dtype: object
0           LG1
1         19756
2             C
3            10
4    .,.,,,,,,.
5    DICJGJ==BC
Name: 18214, dtype: object
0           LG1
1         19756
2             C
3            10
4    .,.,,,,,,.
5    DICJGJ==BC
Name: 18214, dtype: object
0           LG1
1         19756
2             C
3            10
4    .,.,,,,,,.
5    DICJGJ==BC
Name: 18214, dtype: object
0           LG1
1         19756
2             C
3            10
4    .,.,,,,,,.
5    DICJGJ==BC
Name: 18214, dtype: object
0           LG1
1         19756
2             C
3            10
4    .,.,,,,,,.
5    DICJGJ==BC
Name: 18214, dtype: object
0           LG1
1         19756
2             C
3            10
4    .,.,,,,,,.
5    DICJGJ==BC
Name: 18214, dtype: object
0           LG1
1         19756
2             C
3            10
4    .,.,,,,,,.
5    DICJGJ==BC
Name: 18214, dtype: object
0           LG1
1         19756
2             C
3            10
4    .,.,,,,,,.
5    DICJGJ==BC
Name: 18214, dtype: object
0           LG1
1         19757
2             T
3            10
4    .,.,,,,,..
5    DICGGJ;C<2
Name: 18215, dtype: object
0           LG1
1         19757
2             T
3            10
4    .,.,,,,,..
5    DICGGJ;C<2
Name: 18215, dtype: object
0           LG1
1         19757
2             T
3            10
4    .,.,,,,,..
5    DICGGJ;C<2
Name: 18215, dtype: object
0           LG1
1         19757
2             T
3            10
4    .,.,,,,,..
5    DICGGJ;C<2
Name: 18215, dtype: object
0           LG1
1         19757
2             T
3            10
4    .,.,,,,,..
5    DICGGJ;C<2
Name: 18215, dtype: object
0           LG1
1         19757
2             T
3            10
4    .,.,,,,,..
5    DICGGJ;C<2
Name: 18215, dtype: object
0           LG1
1         19757
2             T
3            10
4    .,.,,,,,..
5    DICGGJ;C<2
Name: 18215, dtype: object
0           LG1
1         19759
2             G
3            10
4    .,.,,,,,,.
5    DHDJJJAACE
Name: 18217, dtype: object
0           LG1
1         19759
2             G
3            10
4    .,.,,,,,,.
5    DHDJJJAACE
Name: 18217, dtype: object
0           LG1
1         19759
2             G
3            10
4    .,.,,,,,,.
5    DHDJJJAACE
Name: 18217, dtype: object
0           LG1
1         19759
2             G
3            10
4    .,.,,,,,,.
5    DHDJJJAACE
Name: 18217, dtype: object
0           LG1
1         19759
2             G
3            10
4    .,.,,,,,,.
5    DHDJJJAACE
Name: 18217, dtype: object
0           LG1
1         19759
2             G
3            10
4    .,.,,,,,,.
5    DHDJJJAACE
Name: 18217, dtype: object
0           LG1
1         19759
2             G
3            10
4    .,.,,,,,,.
5    DHDJJJAACE
Name: 18217, dtype: object
0           LG1
1         19759
2             G
3            10
4    .,.,,,,,,.
5    DHDJJJAACE
Name: 18217, dtype: object
0           LG1
1         19759
2             G
3            10
4    .,.,,,,,,.
5    DHDJJJAACE
Name: 18217, dtype: object
0           LG1
1         19759
2             G
3            10
4    .,.,,,,,,.
5    DHDJJJAACE
Name: 18217, dtype: object
0           LG1
1         19760
2             T
3            10
4    .,.,,,,,..
5    9H3JJJAB<2
Name: 18218, dtype: object
0           LG1
1         19760
2             T
3            10
4    .,.,,,,,..
5    9H3JJJAB<2
Name: 18218, dtype: object
0           LG1
1         19760
2             T
3            10
4    .,.,,,,,..
5    9H3JJJAB<2
Name: 18218, dtype: object
0           LG1
1         19760
2             T
3            10
4    .,.,,,,,..
5    9H3JJJAB<2
Name: 18218, dtype: object
0           LG1
1         19760
2             T
3            10
4    .,.,,,,,..
5    9H3JJJAB<2
Name: 18218, dtype: object
0           LG1
1         19760
2             T
3            10
4    .,.,,,,,..
5    9H3JJJAB<2
Name: 18218, dtype: object
0           LG1
1         19761
2             C
3            10
4    .,.,,,,,,.
5    @H:JJJ1=B?
Name: 18219, dtype: object
0           LG1
1         19761
2             C
3            10
4    .,.,,,,,,.
5    @H:JJJ1=B?
Name: 18219, dtype: object
0           LG1
1         19761
2             C
3            10
4    .,.,,,,,,.
5    @H:JJJ1=B?
Name: 18219, dtype: object
0           LG1
1         19761
2             C
3            10
4    .,.,,,,,,.
5    @H:JJJ1=B?
Name: 18219, dtype: object
0           LG1
1         19761
2             C
3            10
4    .,.,,,,,,.
5    @H:JJJ1=B?
Name: 18219, dtype: object
0           LG1
1         19761
2             C
3            10
4    .,.,,,,,,.
5    @H:JJJ1=B?
Name: 18219, dtype: object
0           LG1
1         19761
2             C
3            10
4    .,.,,,,,,.
5    @H:JJJ1=B?
Name: 18219, dtype: object
0           LG1
1         19762
2             T
3            10
4    .,.,,,,,,.
5    CH@JII=BC?
Name: 18220, dtype: object
0           LG1
1         19762
2             T
3            10
4    .,.,,,,,,.
5    CH@JII=BC?
Name: 18220, dtype: object
0           LG1
1         19762
2             T
3            10
4    .,.,,,,,,.
5    CH@JII=BC?
Name: 18220, dtype: object
0           LG1
1         19762
2             T
3            10
4    .,.,,,,,,.
5    CH@JII=BC?
Name: 18220, dtype: object
0           LG1
1         19762
2             T
3            10
4    .,.,,,,,,.
5    CH@JII=BC?
Name: 18220, dtype: object
0           LG1
1         19762
2             T
3            10
4    .,.,,,,,,.
5    CH@JII=BC?
Name: 18220, dtype: object
0           LG1
1         19762
2             T
3            10
4    .,.,,,,,,.
5    CH@JII=BC?
Name: 18220, dtype: object
0           LG1
1         19762
2             T
3            10
4    .,.,,,,,,.
5    CH@JII=BC?
Name: 18220, dtype: object
0           LG1
1         19762
2             T
3            10
4    .,.,,,,,,.
5    CH@JII=BC?
Name: 18220, dtype: object
0           LG1
1         19764
2             G
3            10
4    .,.,,,,,..
5    CF:HJI<B1?
Name: 18222, dtype: object
0           LG1
1         19764
2             G
3            10
4    .,.,,,,,..
5    CF:HJI<B1?
Name: 18222, dtype: object
0           LG1
1         19764
2             G
3            10
4    .,.,,,,,..
5    CF:HJI<B1?
Name: 18222, dtype: object
0           LG1
1         19764
2             G
3            10
4    .,.,,,,,..
5    CF:HJI<B1?
Name: 18222, dtype: object
0           LG1
1         19764
2             G
3            10
4    .,.,,,,,..
5    CF:HJI<B1?
Name: 18222, dtype: object
0           LG1
1         19764
2             G
3            10
4    .,.,,,,,..
5    CF:HJI<B1?
Name: 18222, dtype: object
0           LG1
1         19764
2             G
3            10
4    .,.,,,,,..
5    CF:HJI<B1?
Name: 18222, dtype: object
0           LG1
1         19765
2             G
3            10
4    .,.,,,,,..
5    DF@HJJE@?F
Name: 18223, dtype: object
0           LG1
1         19765
2             G
3            10
4    .,.,,,,,..
5    DF@HJJE@?F
Name: 18223, dtype: object
0           LG1
1         19765
2             G
3            10
4    .,.,,,,,..
5    DF@HJJE@?F
Name: 18223, dtype: object
0           LG1
1         19765
2             G
3            10
4    .,.,,,,,..
5    DF@HJJE@?F
Name: 18223, dtype: object
0           LG1
1         19765
2             G
3            10
4    .,.,,,,,..
5    DF@HJJE@?F
Name: 18223, dtype: object
0           LG1
1         19765
2             G
3            10
4    .,.,,,,,..
5    DF@HJJE@?F
Name: 18223, dtype: object
0           LG1
1         19765
2             G
3            10
4    .,.,,,,,..
5    DF@HJJE@?F
Name: 18223, dtype: object
0           LG1
1         19765
2             G
3            10
4    .,.,,,,,..
5    DF@HJJE@?F
Name: 18223, dtype: object
0           LG1
1         19765
2             G
3            10
4    .,.,,,,,..
5    DF@HJJE@?F
Name: 18223, dtype: object
0           LG1
1         19765
2             G
3            10
4    .,.,,,,,..
5    DF@HJJE@?F
Name: 18223, dtype: object
0           LG1
1         19766
2             G
3            10
4    .,.,,,,,..
5    DFAHJI=B?3
Name: 18224, dtype: object
0           LG1
1         19766
2             G
3            10
4    .,.,,,,,..
5    DFAHJI=B?3
Name: 18224, dtype: object
0           LG1
1         19766
2             G
3            10
4    .,.,,,,,..
5    DFAHJI=B?3
Name: 18224, dtype: object
0           LG1
1         19766
2             G
3            10
4    .,.,,,,,..
5    DFAHJI=B?3
Name: 18224, dtype: object
0           LG1
1         19766
2             G
3            10
4    .,.,,,,,..
5    DFAHJI=B?3
Name: 18224, dtype: object
0           LG1
1         19766
2             G
3            10
4    .,.,,,,,..
5    DFAHJI=B?3
Name: 18224, dtype: object
0           LG1
1         19766
2             G
3            10
4    .,.,,,,,..
5    DFAHJI=B?3
Name: 18224, dtype: object
0           LG1
1         19766
2             G
3            10
4    .,.,,,,,..
5    DFAHJI=B?3
Name: 18224, dtype: object
0           LG1
1         19767
2             T
3            10
4    CcCcccccCC
5    BF<DGIAC?C
Name: 18225, dtype: object
0           LG1
1         19767
2             T
3            10
4    CcCcccccCC
5    BF<DGIAC?C
Name: 18225, dtype: object
0           LG1
1         19767
2             T
3            10
4    CcCcccccCC
5    BF<DGIAC?C
Name: 18225, dtype: object
0           LG1
1         19767
2             T
3            10
4    CcCcccccCC
5    BF<DGIAC?C
Name: 18225, dtype: object
0           LG1
1         19767
2             T
3            10
4    CcCcccccCC
5    BF<DGIAC?C
Name: 18225, dtype: object
0           LG1
1         19767
2             T
3            10
4    CcCcccccCC
5    BF<DGIAC?C
Name: 18225, dtype: object
0           LG1
1         19767
2             T
3            10
4    CcCcccccCC
5    BF<DGIAC?C
Name: 18225, dtype: object
0           LG1
1         19767
2             T
3            10
4    CcCcccccCC
5    BF<DGIAC?C
Name: 18225, dtype: object
0           LG1
1         19767
2             T
3            10
4    CcCcccccCC
5    BF<DGIAC?C
Name: 18225, dtype: object
0           LG1
1         19768
2             G
3            10
4    .,.,,,,,..
5    DF5DHH@C80
Name: 18226, dtype: object
0           LG1
1         19768
2             G
3            10
4    .,.,,,,,..
5    DF5DHH@C80
Name: 18226, dtype: object
0           LG1
1         19768
2             G
3            10
4    .,.,,,,,..
5    DF5DHH@C80
Name: 18226, dtype: object
0           LG1
1         19768
2             G
3            10
4    .,.,,,,,..
5    DF5DHH@C80
Name: 18226, dtype: object
0           LG1
1         19768
2             G
3            10
4    .,.,,,,,..
5    DF5DHH@C80
Name: 18226, dtype: object
0           LG1
1         19768
2             G
3            10
4    .,.,,,,,..
5    DF5DHH@C80
Name: 18226, dtype: object
0           LG1
1         19768
2             G
3            10
4    .,.,,,,,..
5    DF5DHH@C80
Name: 18226, dtype: object
0           LG1
1         19772
2             A
3             8
4    .,,,,,.^2,
5      5DFHDC0A
Name: 18230, dtype: object
0           LG1
1         19772
2             A
3             8
4    .,,,,,.^2,
5      5DFHDC0A
Name: 18230, dtype: object
0           LG1
1         19772
2             A
3             8
4    .,,,,,.^2,
5      5DFHDC0A
Name: 18230, dtype: object
0           LG1
1         19772
2             A
3             8
4    .,,,,,.^2,
5      5DFHDC0A
Name: 18230, dtype: object
0           LG1
1         19772
2             A
3             8
4    .,,,,,.^2,
5      5DFHDC0A
Name: 18230, dtype: object
0           LG1
1         19772
2             A
3             8
4    .,,,,,.^2,
5      5DFHDC0A
Name: 18230, dtype: object
0           LG1
1         19940
2             T
3             8
4    ,,,,,,.^!,
5      FGGJ=B0?
Name: 18398, dtype: object
0           LG1
1         19940
2             T
3             8
4    ,,,,,,.^!,
5      FGGJ=B0?
Name: 18398, dtype: object
0           LG1
1         19940
2             T
3             8
4    ,,,,,,.^!,
5      FGGJ=B0?
Name: 18398, dtype: object
0           LG1
1         19940
2             T
3             8
4    ,,,,,,.^!,
5      FGGJ=B0?
Name: 18398, dtype: object
0           LG1
1         19940
2             T
3             8
4    ,,,,,,.^!,
5      FGGJ=B0?

Name: 18398, dtype: object
0           LG1
1         19940
2             T
3             8
4    ,,,,,,.^!,
5      FGGJ=B0?
Name: 18398, dtype: object
0           LG1
1         19948
2             T
3             9
4    ,$,,,,.,,.
5     BCJAB>A@F
Name: 18406, dtype: object
0           LG1
1         19948
2             T
3             9
4    ,$,,,,.,,.
5     BCJAB>A@F
Name: 18406, dtype: object
0           LG1
1         19948
2             T
3             9
4    ,$,,,,.,,.
5     BCJAB>A@F
Name: 18406, dtype: object
0           LG1
1         19948
2             T
3             9
4    ,$,,,,.,,.
5     BCJAB>A@F
Name: 18406, dtype: object
0           LG1
1         19948
2             T
3             9
4    ,$,,,,.,,.
5     BCJAB>A@F
Name: 18406, dtype: object
0           LG1
1         19948
2             T
3             9
4    ,$,,,,.,,.
5     BCJAB>A@F
Name: 18406, dtype: object
0           LG1
1         19948
2             T
3             9
4    ,$,,,,.,,.
5     BCJAB>A@F
Name: 18406, dtype: object
0           LG1
1         19948
2             T
3             9
4    ,$,,,,.,,.
5     BCJAB>A@F
Name: 18406, dtype: object
0           LG1
1         19963
2             T
3             9
4    ,,$,,,....
5     J>J=>JJF?
Name: 18421, dtype: object
0           LG1
1         19963
2             T
3             9
4    ,,$,,,....
5     J>J=>JJF?
Name: 18421, dtype: object
0           LG1
1         19963
2             T
3             9
4    ,,$,,,....
5     J>J=>JJF?
Name: 18421, dtype: object
0           LG1
1         19963
2             T
3             9
4    ,,$,,,....
5     J>J=>JJF?
Name: 18421, dtype: object
0           LG1
1         19963
2             T
3             9
4    ,,$,,,....
5     J>J=>JJF?
Name: 18421, dtype: object
0           LG1
1         19963
2             T
3             9
4    ,,$,,,....
5     J>J=>JJF?
Name: 18421, dtype: object
0           LG1
1         19973
2             A
3            10
4    ,,,,....,,
5    JGBHIJIHAF
Name: 18431, dtype: object
0           LG1
1         19973
2             A
3            10
4    ,,,,....,,
5    JGBHIJIHAF
Name: 18431, dtype: object
0           LG1
1         19973
2             A
3            10
4    ,,,,....,,
5    JGBHIJIHAF
Name: 18431, dtype: object
0           LG1
1         19973
2             A
3            10
4    ,,,,....,,
5    JGBHIJIHAF
Name: 18431, dtype: object
0           LG1
1         19973
2             A
3            10
4    ,,,,....,,
5    JGBHIJIHAF
Name: 18431, dtype: object
0           LG1
1         19973
2             A
3            10
4    ,,,,....,,
5    JGBHIJIHAF
Name: 18431, dtype: object
0           LG1
1         19973
2             A
3            10
4    ,,,,....,,
5    JGBHIJIHAF
Name: 18431, dtype: object
0           LG1
1         19973
2             A
3            10
4    ,,,,....,,
5    JGBHIJIHAF
Name: 18431, dtype: object
0           LG1
1         19973
2             A
3            10
4    ,,,,....,,
5    JGBHIJIHAF
Name: 18431, dtype: object
0           LG1
1         19973
2             A
3            10
4    ,,,,....,,
5    JGBHIJIHAF
Name: 18431, dtype: object
0           LG1
1         19974
2             A
3            10
4    ,,,,....,,
5    JGBEJJJHAB
Name: 18432, dtype: object
0           LG1
1         19974
2             A
3            10
4    ,,,,....,,
5    JGBEJJJHAB
Name: 18432, dtype: object
0           LG1
1         19974
2             A
3            10
4    ,,,,....,,
5    JGBEJJJHAB
Name: 18432, dtype: object
0           LG1
1         19974
2             A
3            10
4    ,,,,....,,
5    JGBEJJJHAB
Name: 18432, dtype: object
0           LG1
1         19974
2             A
3            10
4    ,,,,....,,
5    JGBEJJJHAB
Name: 18432, dtype: object
0           LG1
1         19974
2             A
3            10
4    ,,,,....,,
5    JGBEJJJHAB
Name: 18432, dtype: object
0           LG1
1         19974
2             A
3            10
4    ,,,,....,,
5    JGBEJJJHAB
Name: 18432, dtype: object
0           LG1
1         19974
2             A
3            10
4    ,,,,....,,
5    JGBEJJJHAB
Name: 18432, dtype: object
0           LG1
1         19974
2             A
3            10
4    ,,,,....,,
5    JGBEJJJHAB
Name: 18432, dtype: object
0           LG1
1         19974
2             A
3            10
4    ,,,,....,,
5    JGBEJJJHAB
Name: 18432, dtype: object
0           LG1
1         19975
2             G
3            10
4    ,,,,....,,
5    J@BBJIJG=?
Name: 18433, dtype: object
0           LG1
1         19975
2             G
3            10
4    ,,,,....,,
5    J@BBJIJG=?
Name: 18433, dtype: object
0           LG1
1         19975
2             G
3            10
4    ,,,,....,,
5    J@BBJIJG=?
Name: 18433, dtype: object
0           LG1
1         19975
2             G
3            10
4    ,,,,....,,
5    J@BBJIJG=?
Name: 18433, dtype: object
0           LG1
1         19975
2             G
3            10
4    ,,,,....,,
5    J@BBJIJG=?
Name: 18433, dtype: object
0           LG1
1         19975
2             G
3            10
4    ,,,,....,,
5    J@BBJIJG=?
Name: 18433, dtype: object
0           LG1
1         19975
2             G
3            10
4    ,,,,....,,
5    J@BBJIJG=?
Name: 18433, dtype: object
0           LG1
1         19975
2             G
3            10
4    ,,,,....,,
5    J@BBJIJG=?
Name: 18433, dtype: object
0           LG1
1         19975
2             G
3            10
4    ,,,,....,,
5    J@BBJIJG=?
Name: 18433, dtype: object
0           LG1
1         19981
2             A
3            10
4    ,,,....,..
5    GG=JJIEAEF
Name: 18439, dtype: object
0           LG1
1         19981
2             A
3            10
4    ,,,....,..
5    GG=JJIEAEF
Name: 18439, dtype: object
0           LG1
1         19981
2             A
3            10
4    ,,,....,..
5    GG=JJIEAEF
Name: 18439, dtype: object
0           LG1
1         19981
2             A
3            10
4    ,,,....,..
5    GG=JJIEAEF
Name: 18439, dtype: object
0           LG1
1         19981
2             A
3            10
4    ,,,....,..
5    GG=JJIEAEF
Name: 18439, dtype: object
0           LG1
1         19981
2             A
3            10
4    ,,,....,..
5    GG=JJIEAEF
Name: 18439, dtype: object
0           LG1
1         19981
2             A
3            10
4    ,,,....,..
5    GG=JJIEAEF
Name: 18439, dtype: object
0           LG1
1         19981
2             A
3            10
4    ,,,....,..
5    GG=JJIEAEF
Name: 18439, dtype: object
0           LG1
1         19981
2             A
3            10
4    ,,,....,..
5    GG=JJIEAEF
Name: 18439, dtype: object
0           LG1
1         20027
2             A
3            10
4    ..........
5    D=BHFDIJIB
Name: 18485, dtype: object
0           LG1
1         20027
2             A
3            10
4    ..........
5    D=BHFDIJIB
Name: 18485, dtype: object
0           LG1
1         20027
2             A
3            10
4    ..........
5    D=BHFDIJIB
Name: 18485, dtype: object
0           LG1
1         20027
2             A
3            10
4    ..........
5    D=BHFDIJIB
Name: 18485, dtype: object
0           LG1
1         20027
2             A
3            10
4    ..........
5    D=BHFDIJIB
Name: 18485, dtype: object
0           LG1
1         20027
2             A
3            10
4    ..........
5    D=BHFDIJIB
Name: 18485, dtype: object
0           LG1
1         20027
2             A
3            10
4    ..........
5    D=BHFDIJIB
Name: 18485, dtype: object
0           LG1
1         20027
2             A
3            10
4    ..........
5    D=BHFDIJIB
Name: 18485, dtype: object
0           LG1
1         20027
2             A
3            10
4    ..........
5    D=BHFDIJIB
Name: 18485, dtype: object
0           LG1
1         20028
2             A
3            10
4    ..........
5    BAE>HFIGJH
Name: 18486, dtype: object
0           LG1
1         20028
2             A
3            10
4    ..........
5    BAE>HFIGJH
Name: 18486, dtype: object
0           LG1
1         20028
2             A
3            10
4    ..........
5    BAE>HFIGJH
Name: 18486, dtype: object
0           LG1
1         20028
2             A
3            10
4    ..........
5    BAE>HFIGJH
Name: 18486, dtype: object
0           LG1
1         20028
2             A
3            10
4    ..........
5    BAE>HFIGJH
Name: 18486, dtype: object
0           LG1
1         20028
2             A
3            10
4    ..........
5    BAE>HFIGJH
Name: 18486, dtype: object
0           LG1
1         20028
2             A
3            10
4    ..........
5    BAE>HFIGJH
Name: 18486, dtype: object
0           LG1
1         20028
2             A
3            10
4    ..........
5    BAE>HFIGJH
Name: 18486, dtype: object
0           LG1
1         20028
2             A
3            10
4    ..........
5    BAE>HFIGJH
Name: 18486, dtype: object
0           LG1
1         20029
2             C
3            10
4    ..........
5    DBF=8CAEJI
Name: 18487, dtype: object
0           LG1
1         20029
2             C
3            10
4    ..........
5    DBF=8CAEJI
Name: 18487, dtype: object
0           LG1
1         20029
2             C
3            10
4    ..........
5    DBF=8CAEJI
Name: 18487, dtype: object
0           LG1
1         20029
2             C
3            10
4    ..........
5    DBF=8CAEJI
Name: 18487, dtype: object
0           LG1
1         20029
2             C
3            10
4    ..........
5    DBF=8CAEJI
Name: 18487, dtype: object
0           LG1
1         20029
2             C
3            10
4    ..........
5    DBF=8CAEJI
Name: 18487, dtype: object
0           LG1
1         20029
2             C
3            10
4    ..........
5    DBF=8CAEJI
Name: 18487, dtype: object
0           LG1
1         20029
2             C
3            10
4    ..........
5    DBF=8CAEJI
Name: 18487, dtype: object
0           LG1
1         20856
2             T
3            10
4    ,,c,.,,cc,
5    FHBJIJJIAJ
Name: 19295, dtype: object
0           LG1
1         20856
2             T
3            10
4    ,,c,.,,cc,
5    FHBJIJJIAJ
Name: 19295, dtype: object
0           LG1
1         20856
2             T
3            10
4    ,,c,.,,cc,
5    FHBJIJJIAJ
Name: 19295, dtype: object
0           LG1
1         20856
2             T
3            10
4    ,,c,.,,cc,
5    FHBJIJJIAJ
Name: 19295, dtype: object
0           LG1
1         20856
2             T
3            10
4    ,,c,.,,cc,
5    FHBJIJJIAJ
Name: 19295, dtype: object
0           LG1
1         20856
2             T
3            10
4    ,,c,.,,cc,
5    FHBJIJJIAJ
Name: 19295, dtype: object
0           LG1
1         20856
2             T
3            10
4    ,,c,.,,cc,
5    FHBJIJJIAJ
Name: 19295, dtype: object
0           LG1
1         20856
2             T
3            10
4    ,,c,.,,cc,
5    FHBJIJJIAJ
Name: 19295, dtype: object
0           LG1
1         20856
2             T
3            10
4    ,,c,.,,cc,
5    FHBJIJJIAJ
Name: 19295, dtype: object
0           LG1
1         20856
2             T
3            10
4    ,,c,.,,cc,
5    FHBJIJJIAJ
Name: 19295, dtype: object
0           LG1
1         20857
2             T
3            10
4    gggg.ggggg
5    FFDJIGJJ7J
Name: 19296, dtype: object
0           LG1
1         20857
2             T
3            10
4    gggg.ggggg
5    FFDJIGJJ7J
Name: 19296, dtype: object
0           LG1
1         20857
2             T
3            10
4    gggg.ggggg
5    FFDJIGJJ7J
Name: 19296, dtype: object
0           LG1
1         20857
2             T
3            10
4    gggg.ggggg
5    FFDJIGJJ7J
Name: 19296, dtype: object
0           LG1
1         20857
2             T
3            10
4    gggg.ggggg
5    FFDJIGJJ7J
Name: 19296, dtype: object
0           LG1
1         20857
2             T
3            10
4    gggg.ggggg
5    FFDJIGJJ7J
Name: 19296, dtype: object
0           LG1
1         20857
2             T
3            10
4    gggg.ggggg
5    FFDJIGJJ7J
Name: 19296, dtype: object
0           LG1
1         20857
2             T
3            10
4    gggg.ggggg
5    FFDJIGJJ7J
Name: 19296, dtype: object
0           LG1
1         20857
2             T
3            10
4    gggg.ggggg
5    FFDJIGJJ7J
Name: 19296, dtype: object
0           LG1
1         20859
2             G
3            10
4    ,,a,.,,,,,
5    FFDJJIJI?I
Name: 19298, dtype: object
0           LG1
1         20859
2             G
3            10
4    ,,a,.,,,,,
5    FFDJJIJI?I
Name: 19298, dtype: object
0           LG1
1         20859
2             G
3            10
4    ,,a,.,,,,,
5    FFDJJIJI?I
Name: 19298, dtype: object
0           LG1
1         20859
2             G
3            10
4    ,,a,.,,,,,
5    FFDJJIJI?I
Name: 19298, dtype: object
0           LG1
1         20859
2             G
3            10
4    ,,a,.,,,,,
5    FFDJJIJI?I
Name: 19298, dtype: object
0           LG1
1         20859
2             G
3            10
4    ,,a,.,,,,,
5    FFDJJIJI?I
Name: 19298, dtype: object
0           LG1
1         20859
2             G
3            10
4    ,,a,.,,,,,
5    FFDJJIJI?I
Name: 19298, dtype: object
0           LG1
1         20859
2             G
3            10
4    ,,a,.,,,,,
5    FFDJJIJI?I
Name: 19298, dtype: object
0           LG1
1         20859
2             G
3            10
4    ,,a,.,,,,,
5    FFDJJIJI?I
Name: 19298, dtype: object
0           LG1
1         20859
2             G
3            10
4    ,,a,.,,,,,
5    FFDJJIJI?I
Name: 19298, dtype: object
0           LG1
1         20860
2             C
3            10
4    ,,,,.,,t,,
5    FFDJHGJG7G
Name: 19299, dtype: object
0           LG1
1         20860
2             C
3            10
4    ,,,,.,,t,,
5    FFDJHGJG7G
Name: 19299, dtype: object
0           LG1
1         20860
2             C
3            10
4    ,,,,.,,t,,
5    FFDJHGJG7G
Name: 19299, dtype: object
0           LG1
1         20860
2             C
3            10
4    ,,,,.,,t,,
5    FFDJHGJG7G

Name: 19299, dtype: object
0           LG1
1         20860
2             C
3            10
4    ,,,,.,,t,,
5    FFDJHGJG7G
Name: 19299, dtype: object
0           LG1
1         20860
2             C
3            10
4    ,,,,.,,t,,
5    FFDJHGJG7G
Name: 19299, dtype: object
0           LG1
1         20860
2             C
3            10
4    ,,,,.,,t,,
5    FFDJHGJG7G
Name: 19299, dtype: object
0           LG1
1         20860
2             C
3            10
4    ,,,,.,,t,,
5    FFDJHGJG7G
Name: 19299, dtype: object
0           LG1
1         20860
2             C
3            10
4    ,,,,.,,t,,
5    FFDJHGJG7G
Name: 19299, dtype: object
0           LG1
1         20861
2             A
3            10
4    ,,,,.,,,,,
5    CF?JGIJI<G
Name: 19300, dtype: object
0           LG1
1         20861
2             A
3            10
4    ,,,,.,,,,,
5    CF?JGIJI<G
Name: 19300, dtype: object
0           LG1
1         20861
2             A
3            10
4    ,,,,.,,,,,
5    CF?JGIJI<G
Name: 19300, dtype: object
0           LG1
1         20861
2             A
3            10
4    ,,,,.,,,,,
5    CF?JGIJI<G
Name: 19300, dtype: object
0           LG1
1         20861
2             A
3            10
4    ,,,,.,,,,,
5    CF?JGIJI<G
Name: 19300, dtype: object
0           LG1
1         20861
2             A
3            10
4    ,,,,.,,,,,
5    CF?JGIJI<G
Name: 19300, dtype: object
0           LG1
1         20861
2             A
3            10
4    ,,,,.,,,,,
5    CF?JGIJI<G
Name: 19300, dtype: object
0           LG1
1         20861
2             A
3            10
4    ,,,,.,,,,,
5    CF?JGIJI<G
Name: 19300, dtype: object
0           LG1
1         20861
2             A
3            10
4    ,,,,.,,,,,
5    CF?JGIJI<G
Name: 19300, dtype: object
0           LG1
1         20864
2             A
3             9
4    ,$,,.,,,,,
5     >=HHIJJ4J
Name: 19303, dtype: object
0           LG1
1         20864
2             A
3             9
4    ,$,,.,,,,,
5     >=HHIJJ4J
Name: 19303, dtype: object
0           LG1
1         20864
2             A
3             9
4    ,$,,.,,,,,
5     >=HHIJJ4J
Name: 19303, dtype: object
0           LG1
1         20864
2             A
3             9
4    ,$,,.,,,,,
5     >=HHIJJ4J
Name: 19303, dtype: object
0           LG1
1         20864
2             A
3             9
4    ,$,,.,,,,,
5     >=HHIJJ4J
Name: 19303, dtype: object
0           LG1
1         20864
2             A
3             9
4    ,$,,.,,,,,
5     >=HHIJJ4J
Name: 19303, dtype: object
0           LG1
1         20867
2             T
3             8
4    ,.,,,,,^2.
5      HFIJG9GC
Name: 19306, dtype: object
0           LG1
1         20867
2             T
3             8
4    ,.,,,,,^2.
5      HFIJG9GC
Name: 19306, dtype: object
0           LG1
1         20867
2             T
3             8
4    ,.,,,,,^2.
5      HFIJG9GC
Name: 19306, dtype: object
0           LG1
1         20867
2             T
3             8
4    ,.,,,,,^2.
5      HFIJG9GC
Name: 19306, dtype: object
0           LG1
1         20867
2             T
3             8
4    ,.,,,,,^2.
5      HFIJG9GC
Name: 19306, dtype: object
0           LG1
1         20867
2             T
3             8
4    ,.,,,,,^2.
5      HFIJG9GC
Name: 19306, dtype: object
0           LG1
1         20867
2             T
3             8
4    ,.,,,,,^2.
5      HFIJG9GC
Name: 19306, dtype: object
0           LG1
1         20928
2             T
3            10
4    .,A,,.,,,,
5    IGJJ8<DEDD
Name: 19367, dtype: object
0           LG1
1         20928
2             T
3            10
4    .,A,,.,,,,
5    IGJJ8<DEDD
Name: 19367, dtype: object
0           LG1
1         20928
2             T
3            10
4    .,A,,.,,,,
5    IGJJ8<DEDD
Name: 19367, dtype: object
0           LG1
1         20928
2             T
3            10
4    .,A,,.,,,,
5    IGJJ8<DEDD
Name: 19367, dtype: object
0           LG1
1         20928
2             T
3            10
4    .,A,,.,,,,
5    IGJJ8<DEDD
Name: 19367, dtype: object
0           LG1
1         20928
2             T
3            10
4    .,A,,.,,,,
5    IGJJ8<DEDD
Name: 19367, dtype: object
0           LG1
1         20928
2             T
3            10
4    .,A,,.,,,,
5    IGJJ8<DEDD
Name: 19367, dtype: object
0           LG1
1         20928
2             T
3            10
4    .,A,,.,,,,
5    IGJJ8<DEDD
Name: 19367, dtype: object
0           LG1
1         20929
2             T
3            10
4    .,.,,.,,,,
5    JJJJ8AAD=B
Name: 19368, dtype: object
0           LG1
1         20929
2             T
3            10
4    .,.,,.,,,,
5    JJJJ8AAD=B
Name: 19368, dtype: object
0           LG1
1         20929
2             T
3            10
4    .,.,,.,,,,
5    JJJJ8AAD=B
Name: 19368, dtype: object
0           LG1
1         20929
2             T
3            10
4    .,.,,.,,,,
5    JJJJ8AAD=B
Name: 19368, dtype: object
0           LG1
1         20929
2             T
3            10
4    .,.,,.,,,,
5    JJJJ8AAD=B
Name: 19368, dtype: object
0           LG1
1         20929
2             T
3            10
4    .,.,,.,,,,
5    JJJJ8AAD=B
Name: 19368, dtype: object
0           LG1
1         20929
2             T
3            10
4    .,.,,.,,,,
5    JJJJ8AAD=B
Name: 19368, dtype: object
0           LG1
1         20929
2             T
3            10
4    .,.,,.,,,,
5    JJJJ8AAD=B
Name: 19368, dtype: object
0           LG1
1         20930
2             T
3            10
4    .,.,,.,,,,
5    JIJJ;FDEDD
Name: 19369, dtype: object
0           LG1
1         20930
2             T
3            10
4    .,.,,.,,,,
5    JIJJ;FDEDD
Name: 19369, dtype: object
0           LG1
1         20930
2             T
3            10
4    .,.,,.,,,,
5    JIJJ;FDEDD
Name: 19369, dtype: object
0           LG1
1         20930
2             T
3            10
4    .,.,,.,,,,
5    JIJJ;FDEDD
Name: 19369, dtype: object
0           LG1
1         20930
2             T
3            10
4    .,.,,.,,,,
5    JIJJ;FDEDD
Name: 19369, dtype: object
0           LG1
1         20930
2             T
3            10
4    .,.,,.,,,,
5    JIJJ;FDEDD
Name: 19369, dtype: object
0           LG1
1         20930
2             T
3            10
4    .,.,,.,,,,
5    JIJJ;FDEDD
Name: 19369, dtype: object
0           LG1
1         20930
2             T
3            10
4    .,.,,.,,,,
5    JIJJ;FDEDD
Name: 19369, dtype: object
0           LG1
1         20930
2             T
3            10
4    .,.,,.,,,,
5    JIJJ;FDEDD
Name: 19369, dtype: object
0           LG1
1         20931
2             G
3            10
4    .,.,,.,,,,
5    GJJHB4EC@D
Name: 19370, dtype: object
0           LG1
1         20931
2             G
3            10
4    .,.,,.,,,,
5    GJJHB4EC@D
Name: 19370, dtype: object
0           LG1
1         20931
2             G
3            10
4    .,.,,.,,,,
5    GJJHB4EC@D
Name: 19370, dtype: object
0           LG1
1         20931
2             G
3            10
4    .,.,,.,,,,
5    GJJHB4EC@D
Name: 19370, dtype: object
0           LG1
1         20931
2             G
3            10
4    .,.,,.,,,,
5    GJJHB4EC@D
Name: 19370, dtype: object
0           LG1
1         20931
2             G
3            10
4    .,.,,.,,,,
5    GJJHB4EC@D
Name: 19370, dtype: object
0           LG1
1         20931
2             G
3            10
4    .,.,,.,,,,
5    GJJHB4EC@D
Name: 19370, dtype: object
0           LG1
1         20931
2             G
3            10
4    .,.,,.,,,,
5    GJJHB4EC@D
Name: 19370, dtype: object
0           LG1
1         20931
2             G
3            10
4    .,.,,.,,,,
5    GJJHB4EC@D
Name: 19370, dtype: object
0           LG1
1         21746
2             A
3            10
4    ,.,,,,.,,,
5    C@FFEFDH<J
Name: 20185, dtype: object
0           LG1
1         21746
2             A
3            10
4    ,.,,,,.,,,
5    C@FFEFDH<J
Name: 20185, dtype: object
0           LG1
1         21746
2             A
3            10
4    ,.,,,,.,,,
5    C@FFEFDH<J
Name: 20185, dtype: object
0           LG1
1         21746
2             A
3            10
4    ,.,,,,.,,,
5    C@FFEFDH<J
Name: 20185, dtype: object
0           LG1
1         21746
2             A
3            10
4    ,.,,,,.,,,
5    C@FFEFDH<J
Name: 20185, dtype: object
0           LG1
1         21746
2             A
3            10
4    ,.,,,,.,,,
5    C@FFEFDH<J
Name: 20185, dtype: object
0           LG1
1         21746
2             A
3            10
4    ,.,,,,.,,,
5    C@FFEFDH<J
Name: 20185, dtype: object
0           LG1
1         21746
2             A
3            10
4    ,.,,,,.,,,
5    C@FFEFDH<J
Name: 20185, dtype: object
0           LG1
1         21746
2             A
3            10
4    ,.,,,,.,,,
5    C@FFEFDH<J
Name: 20185, dtype: object
0           LG1
1         21747
2             A
3            10
4    ,.,,,,.,,,
5    CDCFBFBHBJ
Name: 20186, dtype: object
0           LG1
1         21747
2             A
3            10
4    ,.,,,,.,,,
5    CDCFBFBHBJ
Name: 20186, dtype: object
0           LG1
1         21747
2             A
3            10
4    ,.,,,,.,,,
5    CDCFBFBHBJ
Name: 20186, dtype: object
0           LG1
1         21747
2             A
3            10
4    ,.,,,,.,,,
5    CDCFBFBHBJ
Name: 20186, dtype: object
0           LG1
1         21747
2             A
3            10
4    ,.,,,,.,,,
5    CDCFBFBHBJ
Name: 20186, dtype: object
0           LG1
1         21747
2             A
3            10
4    ,.,,,,.,,,
5    CDCFBFBHBJ
Name: 20186, dtype: object
0           LG1
1         21747
2             A
3            10
4    ,.,,,,.,,,
5    CDCFBFBHBJ
Name: 20186, dtype: object
0           LG1
1         21747
2             A
3            10
4    ,.,,,,.,,,
5    CDCFBFBHBJ
Name: 20186, dtype: object
0           LG1
1         21747
2             A
3            10
4    ,.,,,,.,,,
5    CDCFBFBHBJ
Name: 20186, dtype: object
0           LG1
1         21747
2             A
3            10
4    ,.,,,,.,,,
5    CDCFBFBHBJ
Name: 20186, dtype: object
0           LG1
1         21848
2             C
3            10
4    .,,,,,,,,,
5    IJJFFD@AB@
Name: 20287, dtype: object
0           LG1
1         21848
2             C
3            10
4    .,,,,,,,,,
5    IJJFFD@AB@
Name: 20287, dtype: object
0           LG1
1         21848
2             C
3            10
4    .,,,,,,,,,
5    IJJFFD@AB@
Name: 20287, dtype: object
0           LG1
1         21848
2             C
3            10
4    .,,,,,,,,,
5    IJJFFD@AB@
Name: 20287, dtype: object
0           LG1
1         21848
2             C
3            10
4    .,,,,,,,,,
5    IJJFFD@AB@
Name: 20287, dtype: object
0           LG1
1         21848
2             C
3            10
4    .,,,,,,,,,
5    IJJFFD@AB@
Name: 20287, dtype: object
0           LG1
1         21848
2             C
3            10
4    .,,,,,,,,,
5    IJJFFD@AB@
Name: 20287, dtype: object
0           LG1
1         21848
2             C
3            10
4    .,,,,,,,,,
5    IJJFFD@AB@
Name: 20287, dtype: object
0           LG1
1         21848
2             C
3            10
4    .,,,,,,,,,
5    IJJFFD@AB@
Name: 20287, dtype: object
0           LG1
1         21848
2             C
3            10
4    .,,,,,,,,,
5    IJJFFD@AB@
Name: 20287, dtype: object
0           LG1
1         21849
2             C
3            10
4    .,a,,a,a,,
5    IJJEFC:CDD
Name: 20288, dtype: object
0           LG1
1         21849
2             C
3            10
4    .,a,,a,a,,
5    IJJEFC:CDD
Name: 20288, dtype: object
0           LG1
1         21849
2             C
3            10
4    .,a,,a,a,,
5    IJJEFC:CDD
Name: 20288, dtype: object
0           LG1
1         21849
2             C
3            10
4    .,a,,a,a,,
5    IJJEFC:CDD
Name: 20288, dtype: object
0           LG1
1         21849
2             C
3            10
4    .,a,,a,a,,
5    IJJEFC:CDD
Name: 20288, dtype: object
0           LG1
1         21849
2             C
3            10
4    .,a,,a,a,,
5    IJJEFC:CDD
Name: 20288, dtype: object
0           LG1
1         21849
2             C
3            10
4    .,a,,a,a,,
5    IJJEFC:CDD
Name: 20288, dtype: object
0           LG1
1         21849
2             C
3            10
4    .,a,,a,a,,
5    IJJEFC:CDD
Name: 20288, dtype: object
0           LG1
1         21849
2             C
3            10
4    .,a,,a,a,,
5    IJJEFC:CDD
Name: 20288, dtype: object
0           LG1
1         21850
2             T
3            10
4    .,,,,,,,,,
5    IJJFHDA@DC
Name: 20289, dtype: object
0           LG1
1         21850
2             T
3            10
4    .,,,,,,,,,
5    IJJFHDA@DC
Name: 20289, dtype: object
0           LG1
1         21850
2             T
3            10
4    .,,,,,,,,,
5    IJJFHDA@DC
Name: 20289, dtype: object
0           LG1
1         21850
2             T
3            10
4    .,,,,,,,,,
5    IJJFHDA@DC
Name: 20289, dtype: object
0           LG1
1         21850
2             T
3            10
4    .,,,,,,,,,
5    IJJFHDA@DC
Name: 20289, dtype: object
0           LG1
1         21850
2             T
3            10
4    .,,,,,,,,,
5    IJJFHDA@DC
Name: 20289, dtype: object
0           LG1
1         21850
2             T
3            10
4    .,,,,,,,,,
5    IJJFHDA@DC
Name: 20289, dtype: object
0           LG1
1         21850
2             T
3            10
4    .,,,,,,,,,
5    IJJFHDA@DC
Name: 20289, dtype: object
0           LG1
1         21850
2             T
3            10
4    .,,,,,,,,,
5    IJJFHDA@DC

Name: 20289, dtype: object
0           LG1
1         21850
2             T
3            10
4    .,,,,,,,,,
5    IJJFHDA@DC
Name: 20289, dtype: object
0           LG1
1         21948
2             A
3            10
4    ,,,,,,,,.,
5    FF:HJJJJ3A
Name: 20387, dtype: object
0           LG1
1         21948
2             A
3            10
4    ,,,,,,,,.,
5    FF:HJJJJ3A
Name: 20387, dtype: object
0           LG1
1         21948
2             A
3            10
4    ,,,,,,,,.,
5    FF:HJJJJ3A
Name: 20387, dtype: object
0           LG1
1         21948
2             A
3            10
4    ,,,,,,,,.,
5    FF:HJJJJ3A
Name: 20387, dtype: object
0           LG1
1         21948
2             A
3            10
4    ,,,,,,,,.,
5    FF:HJJJJ3A
Name: 20387, dtype: object
0           LG1
1         21948
2             A
3            10
4    ,,,,,,,,.,
5    FF:HJJJJ3A
Name: 20387, dtype: object
0           LG1
1         21948
2             A
3            10
4    ,,,,,,,,.,
5    FF:HJJJJ3A
Name: 20387, dtype: object
0           LG1
1         21948
2             A
3            10
4    ,,,,,,,,.,
5    FF:HJJJJ3A
Name: 20387, dtype: object
0           LG1
1         21950
2             T
3            10
4    ,,,,,,,,.,
5    CF=HJGIJ?F
Name: 20389, dtype: object
0           LG1
1         21950
2             T
3            10
4    ,,,,,,,,.,
5    CF=HJGIJ?F
Name: 20389, dtype: object
0           LG1
1         21950
2             T
3            10
4    ,,,,,,,,.,
5    CF=HJGIJ?F
Name: 20389, dtype: object
0           LG1
1         21950
2             T
3            10
4    ,,,,,,,,.,
5    CF=HJGIJ?F
Name: 20389, dtype: object
0           LG1
1         21950
2             T
3            10
4    ,,,,,,,,.,
5    CF=HJGIJ?F
Name: 20389, dtype: object
0           LG1
1         21950
2             T
3            10
4    ,,,,,,,,.,
5    CF=HJGIJ?F
Name: 20389, dtype: object
0           LG1
1         21950
2             T
3            10
4    ,,,,,,,,.,
5    CF=HJGIJ?F
Name: 20389, dtype: object
0           LG1
1         21950
2             T
3            10
4    ,,,,,,,,.,
5    CF=HJGIJ?F
Name: 20389, dtype: object
0           LG1
1         21950
2             T
3            10
4    ,,,,,,,,.,
5    CF=HJGIJ?F
Name: 20389, dtype: object
0           LG1
1         22086
2             T
3            10
4    .,........
5    IJElFJ?JHB
Name: 20518, dtype: object
0           LG1
1         22086
2             T
3            10
4    .,........
5    IJElFJ?JHB
Name: 20518, dtype: object
0           LG1
1         22086
2             T
3            10
4    .,........
5    IJElFJ?JHB
Name: 20518, dtype: object
0           LG1
1         22086
2             T
3            10
4    .,........
5    IJElFJ?JHB
Name: 20518, dtype: object
0           LG1
1         22086
2             T
3            10
4    .,........
5    IJElFJ?JHB
Name: 20518, dtype: object
0           LG1
1         22086
2             T
3            10
4    .,........
5    IJElFJ?JHB
Name: 20518, dtype: object
0           LG1
1         22086
2             T
3            10
4    .,........
5    IJElFJ?JHB
Name: 20518, dtype: object
0           LG1
1         22086
2             T
3            10
4    .,........
5    IJElFJ?JHB
Name: 20518, dtype: object
0           LG1
1         22086
2             T
3            10
4    .,........
5    IJElFJ?JHB
Name: 20518, dtype: object
0           LG1
1         22086
2             T
3            10
4    .,........
5    IJElFJ?JHB
Name: 20518, dtype: object
0           LG1
1         22094
2             T
3            10
4    .,........
5    CJ@jIDHGFF
Name: 20526, dtype: object
0           LG1
1         22094
2             T
3            10
4    .,........
5    CJ@jIDHGFF
Name: 20526, dtype: object
0           LG1
1         22094
2             T
3            10
4    .,........
5    CJ@jIDHGFF
Name: 20526, dtype: object
0           LG1
1         22094
2             T
3            10
4    .,........
5    CJ@jIDHGFF
Name: 20526, dtype: object
0           LG1
1         22094
2             T
3            10
4    .,........
5    CJ@jIDHGFF
Name: 20526, dtype: object
0           LG1
1         22094
2             T
3            10
4    .,........
5    CJ@jIDHGFF
Name: 20526, dtype: object
0           LG1
1         22094
2             T
3            10
4    .,........
5    CJ@jIDHGFF
Name: 20526, dtype: object
0           LG1
1         22094
2             T
3            10
4    .,........
5    CJ@jIDHGFF
Name: 20526, dtype: object
0           LG1
1         22094
2             T
3            10
4    .,........
5    CJ@jIDHGFF
Name: 20526, dtype: object
0           LG1
1         22094
2             T
3            10
4    .,........
5    CJ@jIDHGFF
Name: 20526, dtype: object
0           LG1
1         22106
2             A
3            10
4    GgGG.G.GGG
5    FJFNGEJJIJ
Name: 20538, dtype: object
0           LG1
1         22106
2             A
3            10
4    GgGG.G.GGG
5    FJFNGEJJIJ
Name: 20538, dtype: object
0           LG1
1         22106
2             A
3            10
4    GgGG.G.GGG
5    FJFNGEJJIJ
Name: 20538, dtype: object
0           LG1
1         22106
2             A
3            10
4    GgGG.G.GGG
5    FJFNGEJJIJ
Name: 20538, dtype: object
0           LG1
1         22106
2             A
3            10
4    GgGG.G.GGG
5    FJFNGEJJIJ
Name: 20538, dtype: object
0           LG1
1         22106
2             A
3            10
4    GgGG.G.GGG
5    FJFNGEJJIJ
Name: 20538, dtype: object
0           LG1
1         22106
2             A
3            10
4    GgGG.G.GGG
5    FJFNGEJJIJ
Name: 20538, dtype: object
0           LG1
1         22106
2             A
3            10
4    GgGG.G.GGG
5    FJFNGEJJIJ
Name: 20538, dtype: object
0           LG1
1         22106
2             A
3            10
4    GgGG.G.GGG
5    FJFNGEJJIJ
Name: 20538, dtype: object
0           LG1
1         22106
2             A
3            10
4    GgGG.G.GGG
5    FJFNGEJJIJ
Name: 20538, dtype: object
0           LG1
1         22130
2             A
3            10
4    .........,
5    ZEBGGDIGIC
Name: 20562, dtype: object
0           LG1
1         22130
2             A
3            10
4    .........,
5    ZEBGGDIGIC
Name: 20562, dtype: object
0           LG1
1         22130
2             A
3            10
4    .........,
5    ZEBGGDIGIC
Name: 20562, dtype: object
0           LG1
1         22130
2             A
3            10
4    .........,
5    ZEBGGDIGIC
Name: 20562, dtype: object
0           LG1
1         22130
2             A
3            10
4    .........,
5    ZEBGGDIGIC
Name: 20562, dtype: object
0           LG1
1         22130
2             A
3            10
4    .........,
5    ZEBGGDIGIC
Name: 20562, dtype: object
0           LG1
1         22130
2             A
3            10
4    .........,
5    ZEBGGDIGIC
Name: 20562, dtype: object
0           LG1
1         22130
2             A
3            10
4    .........,
5    ZEBGGDIGIC
Name: 20562, dtype: object
0           LG1
1         22130
2             A
3            10
4    .........,
5    ZEBGGDIGIC
Name: 20562, dtype: object
0           LG1
1         22130
2             A
3            10
4    .........,
5    ZEBGGDIGIC
Name: 20562, dtype: object
0           LG1
1         22131
2             T
3            10
4    .........,
5    gEEIHHJHI8
Name: 20563, dtype: object
0           LG1
1         22131
2             T
3            10
4    .........,
5    gEEIHHJHI8
Name: 20563, dtype: object
0           LG1
1         22131
2             T
3            10
4    .........,
5    gEEIHHJHI8
Name: 20563, dtype: object
0           LG1
1         22131
2             T
3            10
4    .........,
5    gEEIHHJHI8
Name: 20563, dtype: object
0           LG1
1         22131
2             T
3            10
4    .........,
5    gEEIHHJHI8
Name: 20563, dtype: object
0           LG1
1         22131
2             T
3            10
4    .........,
5    gEEIHHJHI8
Name: 20563, dtype: object
0           LG1
1         22131
2             T
3            10
4    .........,
5    gEEIHHJHI8
Name: 20563, dtype: object
0           LG1
1         22131
2             T
3            10
4    .........,
5    gEEIHHJHI8
Name: 20563, dtype: object
0           LG1
1         22131
2             T
3            10
4    .........,
5    gEEIHHJHI8
Name: 20563, dtype: object
0           LG1
1         22134
2             T
3            10
4    ..,......,
5    CCEJJIJJJ?
Name: 20566, dtype: object
0           LG1
1         22134
2             T
3            10
4    ..,......,
5    CCEJJIJJJ?
Name: 20566, dtype: object
0           LG1
1         22134
2             T
3            10
4    ..,......,
5    CCEJJIJJJ?
Name: 20566, dtype: object
0           LG1
1         22134
2             T
3            10
4    ..,......,
5    CCEJJIJJJ?
Name: 20566, dtype: object
0           LG1
1         22134
2             T
3            10
4    ..,......,
5    CCEJJIJJJ?
Name: 20566, dtype: object
0           LG1
1         22134
2             T
3            10
4    ..,......,
5    CCEJJIJJJ?
Name: 20566, dtype: object
0           LG1
1         22134
2             T
3            10
4    ..,......,
5    CCEJJIJJJ?
Name: 20566, dtype: object
0           LG1
1         22134
2             T
3            10
4    ..,......,
5    CCEJJIJJJ?
Name: 20566, dtype: object
0           LG1
1         22134
2             T
3            10
4    ..,......,
5    CCEJJIJJJ?
Name: 20566, dtype: object
0           LG1
1         22134
2             T
3            10
4    ..,......,
5    CCEJJIJJJ?
Name: 20566, dtype: object
0           LG1
1         22338
2             A
3            10
4    TtTTTTTTtt
5    JJJIJJG@D>
Name: 20770, dtype: object
0           LG1
1         22338
2             A
3            10
4    TtTTTTTTtt
5    JJJIJJG@D>
Name: 20770, dtype: object
0           LG1
1         22338
2             A
3            10
4    TtTTTTTTtt
5    JJJIJJG@D>
Name: 20770, dtype: object
0           LG1
1         22338
2             A
3            10
4    TtTTTTTTtt
5    JJJIJJG@D>
Name: 20770, dtype: object
0           LG1
1         22338
2             A
3            10
4    TtTTTTTTtt
5    JJJIJJG@D>
Name: 20770, dtype: object
0           LG1
1         22338
2             A
3            10
4    TtTTTTTTtt
5    JJJIJJG@D>
Name: 20770, dtype: object
0           LG1
1         22338
2             A
3            10
4    TtTTTTTTtt
5    JJJIJJG@D>
Name: 20770, dtype: object
0           LG1
1         22338
2             A
3            10
4    TtTTTTTTtt
5    JJJIJJG@D>
Name: 20770, dtype: object
0           LG1
1         22338
2             A
3            10
4    TtTTTTTTtt
5    JJJIJJG@D>
Name: 20770, dtype: object
0           LG1
1         22471
2             T
3            10
4    ,,,,,,,.,,
5    HFJECIIA@>
Name: 20903, dtype: object
0           LG1
1         22471
2             T
3            10
4    ,,,,,,,.,,
5    HFJECIIA@>
Name: 20903, dtype: object
0           LG1
1         22471
2             T
3            10
4    ,,,,,,,.,,
5    HFJECIIA@>
Name: 20903, dtype: object
0           LG1
1         22471
2             T
3            10
4    ,,,,,,,.,,
5    HFJECIIA@>
Name: 20903, dtype: object
0           LG1
1         22471
2             T
3            10
4    ,,,,,,,.,,
5    HFJECIIA@>
Name: 20903, dtype: object
0           LG1
1         22471
2             T
3            10
4    ,,,,,,,.,,
5    HFJECIIA@>
Name: 20903, dtype: object
0           LG1
1         22471
2             T
3            10
4    ,,,,,,,.,,
5    HFJECIIA@>
Name: 20903, dtype: object
0           LG1
1         22471
2             T
3            10
4    ,,,,,,,.,,
5    HFJECIIA@>
Name: 20903, dtype: object
0           LG1
1         22471
2             T
3            10
4    ,,,,,,,.,,
5    HFJECIIA@>
Name: 20903, dtype: object
0           LG1
1         22610
2             G
3             9
4    ,$..,.....
5     @DDHEJHFF
Name: 21042, dtype: object
0           LG1
1         22610
2             G
3             9
4    ,$..,.....
5     @DDHEJHFF
Name: 21042, dtype: object
0           LG1
1         22610
2             G
3             9
4    ,$..,.....
5     @DDHEJHFF
Name: 21042, dtype: object
0           LG1
1         22610
2             G
3             9
4    ,$..,.....
5     @DDHEJHFF
Name: 21042, dtype: object
0           LG1
1         22610
2             G
3             9
4    ,$..,.....
5     @DDHEJHFF
Name: 21042, dtype: object
0           LG1
1         22610
2             G
3             9
4    ,$..,.....
5     @DDHEJHFF
Name: 21042, dtype: object
0           LG1
1         22610
2             G
3             9
4    ,$..,.....
5     @DDHEJHFF
Name: 21042, dtype: object
0           LG1
1         22610
2             G
3             9
4    ,$..,.....
5     @DDHEJHFF
Name: 21042, dtype: object
0           LG1
1         22610
2             G
3             9
4    ,$..,.....
5     @DDHEJHFF
Name: 21042, dtype: object
0           LG1
1         22612
2             A
3             9
4    .$.,......
5     >DH7JJHHC
Name: 21044, dtype: object
0           LG1
1         22612
2             A
3             9
4    .$.,......
5     >DH7JJHHC
Name: 21044, dtype: object
0           LG1
1         22612
2             A
3             9
4    .$.,......
5     >DH7JJHHC
Name: 21044, dtype: object
0           LG1
1         22612
2             A
3             9
4    .$.,......
5     >DH7JJHHC
Name: 21044, dtype: object
0           LG1
1         22612
2             A
3             9
4    .$.,......
5     >DH7JJHHC
Name: 21044, dtype: object
0           LG1
1         22612
2             A
3             9
4    .$.,......
5     >DH7JJHHC
Name: 21044, dtype: object
0           LG1
1         22612
2             A
3             9
4    .$.,......
5     >DH7JJHHC
Name: 21044, dtype: object
0           LG1
1         22657
2             G
3             9
4    .........$
5     GIJIJHJJ8
Name: 21089, dtype: object
0           LG1
1         22657
2             G
3             9
4    .........$
5     GIJIJHJJ8
Name: 21089, dtype: object
0           LG1
1         22657
2             G
3             9
4    .........$
5     GIJIJHJJ8
Name: 21089, dtype: object
0           LG1
1         22657
2             G
3             9
4    .........$
5     GIJIJHJJ8
Name: 21089, dtype: object
0           LG1
1         22657
2             G
3             9
4    .........$
5     GIJIJHJJ8
Name: 21089, dtype: object
0           LG1
1         22657
2             G
3             9
4    .........$
5     GIJIJHJJ8
Name: 21089, dtype: object
0           LG1
1         22657
2             G
3             9
4    .........$
5     GIJIJHJJ8
Name: 21089, dtype: object
0           LG1
1         22657
2             G
3             9
4    .........$
5     GIJIJHJJ8
Name: 21089, dtype: object
0           LG1
1         22665
2             C
3            10
4    ..........
5    FJJJIBJJFC
Name: 21097, dtype: object
0           LG1
1         22665
2             C
3            10
4    ..........
5    FJJJIBJJFC

Name: 21097, dtype: object
0           LG1
1         22665
2             C
3            10
4    ..........
5    FJJJIBJJFC
Name: 21097, dtype: object
0           LG1
1         22665
2             C
3            10
4    ..........
5    FJJJIBJJFC
Name: 21097, dtype: object
0           LG1
1         22665
2             C
3            10
4    ..........
5    FJJJIBJJFC
Name: 21097, dtype: object
0           LG1
1         22665
2             C
3            10
4    ..........
5    FJJJIBJJFC
Name: 21097, dtype: object
0           LG1
1         22665
2             C
3            10
4    ..........
5    FJJJIBJJFC
Name: 21097, dtype: object
0           LG1
1         22665
2             C
3            10
4    ..........
5    FJJJIBJJFC
Name: 21097, dtype: object
0           LG1
1         22665
2             C
3            10
4    ..........
5    FJJJIBJJFC
Name: 21097, dtype: object
0           LG1
1         22665
2             C
3            10
4    ..........
5    FJJJIBJJFC
Name: 21097, dtype: object
0           LG1
1         22788
2             G
3            10
4    .....,.,,.
5    FF@EJJ=HJ@
Name: 21220, dtype: object
0           LG1
1         22788
2             G
3            10
4    .....,.,,.
5    FF@EJJ=HJ@
Name: 21220, dtype: object
0           LG1
1         22788
2             G
3            10
4    .....,.,,.
5    FF@EJJ=HJ@
Name: 21220, dtype: object
0           LG1
1         22788
2             G
3            10
4    .....,.,,.
5    FF@EJJ=HJ@
Name: 21220, dtype: object
0           LG1
1         22788
2             G
3            10
4    .....,.,,.
5    FF@EJJ=HJ@
Name: 21220, dtype: object
0           LG1
1         22788
2             G
3            10
4    .....,.,,.
5    FF@EJJ=HJ@
Name: 21220, dtype: object
0           LG1
1         22788
2             G
3            10
4    .....,.,,.
5    FF@EJJ=HJ@
Name: 21220, dtype: object
0           LG1
1         22788
2             G
3            10
4    .....,.,,.
5    FF@EJJ=HJ@
Name: 21220, dtype: object
0           LG1
1         22788
2             G
3            10
4    .....,.,,.
5    FF@EJJ=HJ@
Name: 21220, dtype: object
0           LG1
1         22789
2             T
3            10
4    .....,.,,.
5    EF;ECJ=HJF
Name: 21221, dtype: object
0           LG1
1         22789
2             T
3            10
4    .....,.,,.
5    EF;ECJ=HJF
Name: 21221, dtype: object
0           LG1
1         22789
2             T
3            10
4    .....,.,,.
5    EF;ECJ=HJF
Name: 21221, dtype: object
0           LG1
1         22789
2             T
3            10
4    .....,.,,.
5    EF;ECJ=HJF
Name: 21221, dtype: object
0           LG1
1         22789
2             T
3            10
4    .....,.,,.
5    EF;ECJ=HJF
Name: 21221, dtype: object
0           LG1
1         22789
2             T
3            10
4    .....,.,,.
5    EF;ECJ=HJF
Name: 21221, dtype: object
0           LG1
1         22789
2             T
3            10
4    .....,.,,.
5    EF;ECJ=HJF
Name: 21221, dtype: object
0           LG1
1         22789
2             T
3            10
4    .....,.,,.
5    EF;ECJ=HJF
Name: 21221, dtype: object
0           LG1
1         22790
2             C
3            10
4    .....,.,,.
5    EF@DGH@JJH
Name: 21222, dtype: object
0           LG1
1         22790
2             C
3            10
4    .....,.,,.
5    EF@DGH@JJH
Name: 21222, dtype: object
0           LG1
1         22790
2             C
3            10
4    .....,.,,.
5    EF@DGH@JJH
Name: 21222, dtype: object
0           LG1
1         22790
2             C
3            10
4    .....,.,,.
5    EF@DGH@JJH
Name: 21222, dtype: object
0           LG1
1         22790
2             C
3            10
4    .....,.,,.
5    EF@DGH@JJH
Name: 21222, dtype: object
0           LG1
1         22790
2             C
3            10
4    .....,.,,.
5    EF@DGH@JJH
Name: 21222, dtype: object
0           LG1
1         22790
2             C
3            10
4    .....,.,,.
5    EF@DGH@JJH
Name: 21222, dtype: object
0           LG1
1         22790
2             C
3            10
4    .....,.,,.
5    EF@DGH@JJH
Name: 21222, dtype: object
0           LG1
1         22790
2             C
3            10
4    .....,.,,.
5    EF@DGH@JJH
Name: 21222, dtype: object
0           LG1
1         22790
2             C
3            10
4    .....,.,,.
5    EF@DGH@JJH
Name: 21222, dtype: object
0           LG1
1         22792
2             T
3             9
4    .$...,.,,.
5     BCEHHGJJG
Name: 21224, dtype: object
0           LG1
1         22792
2             T
3             9
4    .$...,.,,.
5     BCEHHGJJG
Name: 21224, dtype: object
0           LG1
1         22792
2             T
3             9
4    .$...,.,,.
5     BCEHHGJJG
Name: 21224, dtype: object
0           LG1
1         22792
2             T
3             9
4    .$...,.,,.
5     BCEHHGJJG
Name: 21224, dtype: object
0           LG1
1         22792
2             T
3             9
4    .$...,.,,.
5     BCEHHGJJG
Name: 21224, dtype: object
0           LG1
1         22792
2             T
3             9
4    .$...,.,,.
5     BCEHHGJJG
Name: 21224, dtype: object
0           LG1
1         22792
2             T
3             9
4    .$...,.,,.
5     BCEHHGJJG
Name: 21224, dtype: object
0           LG1
1         22792
2             T
3             9
4    .$...,.,,.
5     BCEHHGJJG
Name: 21224, dtype: object
0           LG1
1         22792
2             T
3             9
4    .$...,.,,.
5     BCEHHGJJG
Name: 21224, dtype: object
0           LG1
1         22818
2             T
3             8
4    .,,,,,,^2,
5      >FEDEE@D
Name: 21250, dtype: object
0           LG1
1         22818
2             T
3             8
4    .,,,,,,^2,
5      >FEDEE@D
Name: 21250, dtype: object
0           LG1
1         22818
2             T
3             8
4    .,,,,,,^2,
5      >FEDEE@D
Name: 21250, dtype: object
0           LG1
1         22818
2             T
3             8
4    .,,,,,,^2,
5      >FEDEE@D
Name: 21250, dtype: object
0           LG1
1         22818
2             T
3             8
4    .,,,,,,^2,
5      >FEDEE@D
Name: 21250, dtype: object
0           LG1
1         22818
2             T
3             8
4    .,,,,,,^2,
5      >FEDEE@D
Name: 21250, dtype: object
0           LG1
1         22818
2             T
3             8
4    .,,,,,,^2,
5      >FEDEE@D
Name: 21250, dtype: object
0           LG1
1         22834
2             T
3            10
4    ,,,,,,,,,,
5    IHHHHFDDDD
Name: 21266, dtype: object
0           LG1
1         22834
2             T
3            10
4    ,,,,,,,,,,
5    IHHHHFDDDD
Name: 21266, dtype: object
0           LG1
1         22834
2             T
3            10
4    ,,,,,,,,,,
5    IHHHHFDDDD
Name: 21266, dtype: object
0           LG1
1         22834
2             T
3            10
4    ,,,,,,,,,,
5    IHHHHFDDDD
Name: 21266, dtype: object
0           LG1
1         22834
2             T
3            10
4    ,,,,,,,,,,
5    IHHHHFDDDD
Name: 21266, dtype: object
0           LG1
1         22834
2             T
3            10
4    ,,,,,,,,,,
5    IHHHHFDDDD
Name: 21266, dtype: object
0           LG1
1         22834
2             T
3            10
4    ,,,,,,,,,,
5    IHHHHFDDDD
Name: 21266, dtype: object
0           LG1
1         22834
2             T
3            10
4    ,,,,,,,,,,
5    IHHHHFDDDD
Name: 21266, dtype: object
0           LG1
1         22834
2             T
3            10
4    ,,,,,,,,,,
5    IHHHHFDDDD
Name: 21266, dtype: object
0           LG1
1         22834
2             T
3            10
4    ,,,,,,,,,,
5    IHHHHFDDDD
Name: 21266, dtype: object
0           LG1
1         22835
2             G
3            10
4    ,,,,,,,,,,
5    JHHHFFFEDD
Name: 21267, dtype: object
0           LG1
1         22835
2             G
3            10
4    ,,,,,,,,,,
5    JHHHFFFEDD
Name: 21267, dtype: object
0           LG1
1         22835
2             G
3            10
4    ,,,,,,,,,,
5    JHHHFFFEDD
Name: 21267, dtype: object
0           LG1
1         22835
2             G
3            10
4    ,,,,,,,,,,
5    JHHHFFFEDD
Name: 21267, dtype: object
0           LG1
1         22835
2             G
3            10
4    ,,,,,,,,,,
5    JHHHFFFEDD
Name: 21267, dtype: object
0           LG1
1         22835
2             G
3            10
4    ,,,,,,,,,,
5    JHHHFFFEDD
Name: 21267, dtype: object
0           LG1
1         22835
2             G
3            10
4    ,,,,,,,,,,
5    JHHHFFFEDD
Name: 21267, dtype: object
0           LG1
1         22835
2             G
3            10
4    ,,,,,,,,,,
5    JHHHFFFEDD
Name: 21267, dtype: object
0           LG1
1         22835
2             G
3            10
4    ,,,,,,,,,,
5    JHHHFFFEDD
Name: 21267, dtype: object
0           LG1
1         22835
2             G
3            10
4    ,,,,,,,,,,
5    JHHHFFFEDD
Name: 21267, dtype: object
0           LG1
1         22935
2             G
3            10
4    aaA.a...aa
5    JJ@FCFJBJJ
Name: 21367, dtype: object
0           LG1
1         22935
2             G
3            10
4    aaA.a...aa
5    JJ@FCFJBJJ
Name: 21367, dtype: object
0           LG1
1         22935
2             G
3            10
4    aaA.a...aa
5    JJ@FCFJBJJ
Name: 21367, dtype: object
0           LG1
1         22935
2             G
3            10
4    aaA.a...aa
5    JJ@FCFJBJJ
Name: 21367, dtype: object
0           LG1
1         22935
2             G
3            10
4    aaA.a...aa
5    JJ@FCFJBJJ
Name: 21367, dtype: object
0           LG1
1         22935
2             G
3            10
4    aaA.a...aa
5    JJ@FCFJBJJ
Name: 21367, dtype: object
0           LG1
1         22935
2             G
3            10
4    aaA.a...aa
5    JJ@FCFJBJJ
Name: 21367, dtype: object
0           LG1
1         22935
2             G
3            10
4    aaA.a...aa
5    JJ@FCFJBJJ
Name: 21367, dtype: object
0           LG1
1         22935
2             G
3            10
4    aaA.a...aa
5    JJ@FCFJBJJ
Name: 21367, dtype: object
0           LG1
1         22935
2             G
3            10
4    aaA.a...aa
5    JJ@FCFJBJJ
Name: 21367, dtype: object
0           LG1
1         22936
2             T
3            10
4    ,,..,...,,
5    JGDHIBG8JJ
Name: 21368, dtype: object
0           LG1
1         22936
2             T
3            10
4    ,,..,...,,
5    JGDHIBG8JJ
Name: 21368, dtype: object
0           LG1
1         22936
2             T
3            10
4    ,,..,...,,
5    JGDHIBG8JJ
Name: 21368, dtype: object
0           LG1
1         22936
2             T
3            10
4    ,,..,...,,
5    JGDHIBG8JJ
Name: 21368, dtype: object
0           LG1
1         22936
2             T
3            10
4    ,,..,...,,
5    JGDHIBG8JJ
Name: 21368, dtype: object
0           LG1
1         22936
2             T
3            10
4    ,,..,...,,
5    JGDHIBG8JJ
Name: 21368, dtype: object
0           LG1
1         22936
2             T
3            10
4    ,,..,...,,
5    JGDHIBG8JJ
Name: 21368, dtype: object
0           LG1
1         22936
2             T
3            10
4    ,,..,...,,
5    JGDHIBG8JJ
Name: 21368, dtype: object
0           LG1
1         22936
2             T
3            10
4    ,,..,...,,
5    JGDHIBG8JJ
Name: 21368, dtype: object
0           LG1
1         22937
2             T
3            10
4    ,,..,...,,
5    JHF;IDI=IJ
Name: 21369, dtype: object
0           LG1
1         22937
2             T
3            10
4    ,,..,...,,
5    JHF;IDI=IJ
Name: 21369, dtype: object
0           LG1
1         22937
2             T
3            10
4    ,,..,...,,
5    JHF;IDI=IJ
Name: 21369, dtype: object
0           LG1
1         22937
2             T
3            10
4    ,,..,...,,
5    JHF;IDI=IJ
Name: 21369, dtype: object
0           LG1
1         22937
2             T
3            10
4    ,,..,...,,
5    JHF;IDI=IJ
Name: 21369, dtype: object
0           LG1
1         22937
2             T
3            10
4    ,,..,...,,
5    JHF;IDI=IJ
Name: 21369, dtype: object
0           LG1
1         22937
2             T
3            10
4    ,,..,...,,
5    JHF;IDI=IJ
Name: 21369, dtype: object
0           LG1
1         22937
2             T
3            10
4    ,,..,...,,
5    JHF;IDI=IJ
Name: 21369, dtype: object
0           LG1
1         22938
2             T
3            10
4    ,,..,...,,
5    JHFDHHJFJI
Name: 21370, dtype: object
0           LG1
1         22938
2             T
3            10
4    ,,..,...,,
5    JHFDHHJFJI
Name: 21370, dtype: object
0           LG1
1         22938
2             T
3            10
4    ,,..,...,,
5    JHFDHHJFJI
Name: 21370, dtype: object
0           LG1
1         22938
2             T
3            10
4    ,,..,...,,
5    JHFDHHJFJI
Name: 21370, dtype: object
0           LG1
1         22938
2             T
3            10
4    ,,..,...,,
5    JHFDHHJFJI
Name: 21370, dtype: object
0           LG1
1         22938
2             T
3            10
4    ,,..,...,,
5    JHFDHHJFJI
Name: 21370, dtype: object
0           LG1
1         22938
2             T
3            10
4    ,,..,...,,
5    JHFDHHJFJI
Name: 21370, dtype: object
0           LG1
1         22938
2             T
3            10
4    ,,..,...,,
5    JHFDHHJFJI
Name: 21370, dtype: object
0           LG1
1         22938
2             T
3            10
4    ,,..,...,,
5    JHFDHHJFJI
Name: 21370, dtype: object

0           LG1
1         22938
2             T
3            10
4    ,,..,...,,
5    JHFDHHJFJI
Name: 21370, dtype: object
0           LG1
1         22939
2             A
3            10
4    ,,..,...,,
5    HHFCEGIBIJ
Name: 21371, dtype: object
0           LG1
1         22939
2             A
3            10
4    ,,..,...,,
5    HHFCEGIBIJ
Name: 21371, dtype: object
0           LG1
1         22939
2             A
3            10
4    ,,..,...,,
5    HHFCEGIBIJ
Name: 21371, dtype: object
0           LG1
1         22939
2             A
3            10
4    ,,..,...,,
5    HHFCEGIBIJ
Name: 21371, dtype: object
0           LG1
1         22939
2             A
3            10
4    ,,..,...,,
5    HHFCEGIBIJ
Name: 21371, dtype: object
0           LG1
1         22939
2             A
3            10
4    ,,..,...,,
5    HHFCEGIBIJ
Name: 21371, dtype: object
0           LG1
1         22939
2             A
3            10
4    ,,..,...,,
5    HHFCEGIBIJ
Name: 21371, dtype: object
0           LG1
1         22939
2             A
3            10
4    ,,..,...,,
5    HHFCEGIBIJ
Name: 21371, dtype: object
0           LG1
1         22939
2             A
3            10
4    ,,..,...,,
5    HHFCEGIBIJ
Name: 21371, dtype: object
0           LG1
1         22939
2             A
3            10
4    ,,..,...,,
5    HHFCEGIBIJ
Name: 21371, dtype: object
0           LG1
1         22940
2             G
3            10
4    ,,..,...,,
5    HHCHG?IFHJ
Name: 21372, dtype: object
0           LG1
1         22940
2             G
3            10
4    ,,..,...,,
5    HHCHG?IFHJ
Name: 21372, dtype: object
0           LG1
1         22940
2             G
3            10
4    ,,..,...,,
5    HHCHG?IFHJ
Name: 21372, dtype: object
0           LG1
1         22940
2             G
3            10
4    ,,..,...,,
5    HHCHG?IFHJ
Name: 21372, dtype: object
0           LG1
1         22940
2             G
3            10
4    ,,..,...,,
5    HHCHG?IFHJ
Name: 21372, dtype: object
0           LG1
1         22940
2             G
3            10
4    ,,..,...,,
5    HHCHG?IFHJ
Name: 21372, dtype: object
0           LG1
1         22940
2             G
3            10
4    ,,..,...,,
5    HHCHG?IFHJ
Name: 21372, dtype: object
0           LG1
1         22940
2             G
3            10
4    ,,..,...,,
5    HHCHG?IFHJ
Name: 21372, dtype: object
0           LG1
1         22940
2             G
3            10
4    ,,..,...,,
5    HHCHG?IFHJ
Name: 21372, dtype: object
0           LG1
1         22940
2             G
3            10
4    ,,..,...,,
5    HHCHG?IFHJ
Name: 21372, dtype: object
0           LG1
1         22948
2             A
3            10
4    ,..,...,,,
5    CCBHEF=EFC
Name: 21380, dtype: object
0           LG1
1         22948
2             A
3            10
4    ,..,...,,,
5    CCBHEF=EFC
Name: 21380, dtype: object
0           LG1
1         22948
2             A
3            10
4    ,..,...,,,
5    CCBHEF=EFC
Name: 21380, dtype: object
0           LG1
1         22948
2             A
3            10
4    ,..,...,,,
5    CCBHEF=EFC
Name: 21380, dtype: object
0           LG1
1         22948
2             A
3            10
4    ,..,...,,,
5    CCBHEF=EFC
Name: 21380, dtype: object
0           LG1
1         22948
2             A
3            10
4    ,..,...,,,
5    CCBHEF=EFC
Name: 21380, dtype: object
0           LG1
1         22948
2             A
3            10
4    ,..,...,,,
5    CCBHEF=EFC
Name: 21380, dtype: object
0           LG1
1         22948
2             A
3            10
4    ,..,...,,,
5    CCBHEF=EFC
Name: 21380, dtype: object
0           LG1
1         22948
2             A
3            10
4    ,..,...,,,
5    CCBHEF=EFC
Name: 21380, dtype: object
0           LG1
1         22949
2             C
3            10
4    ,..,...,,,
5    CD7F:HAJED
Name: 21381, dtype: object
0           LG1
1         22949
2             C
3            10
4    ,..,...,,,
5    CD7F:HAJED
Name: 21381, dtype: object
0           LG1
1         22949
2             C
3            10
4    ,..,...,,,
5    CD7F:HAJED
Name: 21381, dtype: object
0           LG1
1         22949
2             C
3            10
4    ,..,...,,,
5    CD7F:HAJED
Name: 21381, dtype: object
0           LG1
1         22949
2             C
3            10
4    ,..,...,,,
5    CD7F:HAJED
Name: 21381, dtype: object
0           LG1
1         22949
2             C
3            10
4    ,..,...,,,
5    CD7F:HAJED
Name: 21381, dtype: object
0           LG1
1         22949
2             C
3            10
4    ,..,...,,,
5    CD7F:HAJED
Name: 21381, dtype: object
0           LG1
1         22949
2             C
3            10
4    ,..,...,,,
5    CD7F:HAJED
Name: 21381, dtype: object
0           LG1
1         22950
2             T
3             9
4    ,$.,...,,,
5     ><HCFAJJD
Name: 21382, dtype: object
0           LG1
1         22950
2             T
3             9
4    ,$.,...,,,
5     ><HCFAJJD
Name: 21382, dtype: object
0           LG1
1         22950
2             T
3             9
4    ,$.,...,,,
5     ><HCFAJJD
Name: 21382, dtype: object
0           LG1
1         22950
2             T
3             9
4    ,$.,...,,,
5     ><HCFAJJD
Name: 21382, dtype: object
0           LG1
1         22950
2             T
3             9
4    ,$.,...,,,
5     ><HCFAJJD
Name: 21382, dtype: object
0           LG1
1         22950
2             T
3             9
4    ,$.,...,,,
5     ><HCFAJJD
Name: 21382, dtype: object
0           LG1
1         22950
2             T
3             9
4    ,$.,...,,,
5     ><HCFAJJD
Name: 21382, dtype: object
0           LG1
1         22959
2             A
3             8
4    .,$.$..,,,
5      @>>FEJJE
Name: 21391, dtype: object
0           LG1
1         22959
2             A
3             8
4    .,$.$..,,,
5      @>>FEJJE
Name: 21391, dtype: object
0           LG1
1         22959
2             A
3             8
4    .,$.$..,,,
5      @>>FEJJE
Name: 21391, dtype: object
0           LG1
1         22959
2             A
3             8
4    .,$.$..,,,
5      @>>FEJJE
Name: 21391, dtype: object
0           LG1
1         22959
2             A
3             8
4    .,$.$..,,,
5      @>>FEJJE
Name: 21391, dtype: object
0           LG1
1         22959
2             A
3             8
4    .,$.$..,,,
5      @>>FEJJE
Name: 21391, dtype: object
0           LG1
1         23581
2             A
3            10
4    .....,...c
5    DDC/DIDH56
Name: 21850, dtype: object
0           LG1
1         23581
2             A
3            10
4    .....,...c
5    DDC/DIDH56
Name: 21850, dtype: object
0           LG1
1         23581
2             A
3            10
4    .....,...c
5    DDC/DIDH56
Name: 21850, dtype: object
0           LG1
1         23581
2             A
3            10
4    .....,...c
5    DDC/DIDH56
Name: 21850, dtype: object
0           LG1
1         23581
2             A
3            10
4    .....,...c
5    DDC/DIDH56
Name: 21850, dtype: object
0           LG1
1         23581
2             A
3            10
4    .....,...c
5    DDC/DIDH56
Name: 21850, dtype: object
0           LG1
1         23581
2             A
3            10
4    .....,...c
5    DDC/DIDH56
Name: 21850, dtype: object
0           LG1
1         23600
2             C
3            10
4    ....,.....
5    JJJJGDJGFF
Name: 21869, dtype: object
0           LG1
1         23600
2             C
3            10
4    ....,.....
5    JJJJGDJGFF
Name: 21869, dtype: object
0           LG1
1         23600
2             C
3            10
4    ....,.....
5    JJJJGDJGFF
Name: 21869, dtype: object
0           LG1
1         23600
2             C
3            10
4    ....,.....
5    JJJJGDJGFF
Name: 21869, dtype: object
0           LG1
1         23600
2             C
3            10
4    ....,.....
5    JJJJGDJGFF
Name: 21869, dtype: object
0           LG1
1         23600
2             C
3            10
4    ....,.....
5    JJJJGDJGFF
Name: 21869, dtype: object
0           LG1
1         23600
2             C
3            10
4    ....,.....
5    JJJJGDJGFF
Name: 21869, dtype: object
0           LG1
1         23600
2             C
3            10
4    ....,.....
5    JJJJGDJGFF
Name: 21869, dtype: object
0           LG1
1         23600
2             C
3            10
4    ....,.....
5    JJJJGDJGFF
Name: 21869, dtype: object
0           LG1
1         23600
2             C
3            10
4    ....,.....
5    JJJJGDJGFF
Name: 21869, dtype: object
0           LG1
1         23603
2             T
3            10
4    ....,..,..
5    IJGIJII3HF
Name: 21872, dtype: object
0           LG1
1         23603
2             T
3            10
4    ....,..,..
5    IJGIJII3HF
Name: 21872, dtype: object
0           LG1
1         23603
2             T
3            10
4    ....,..,..
5    IJGIJII3HF
Name: 21872, dtype: object
0           LG1
1         23603
2             T
3            10
4    ....,..,..
5    IJGIJII3HF
Name: 21872, dtype: object
0           LG1
1         23603
2             T
3            10
4    ....,..,..
5    IJGIJII3HF
Name: 21872, dtype: object
0           LG1
1         23603
2             T
3            10
4    ....,..,..
5    IJGIJII3HF
Name: 21872, dtype: object
0           LG1
1         23603
2             T
3            10
4    ....,..,..
5    IJGIJII3HF
Name: 21872, dtype: object
0           LG1
1         23603
2             T
3            10
4    ....,..,..
5    IJGIJII3HF
Name: 21872, dtype: object
0           LG1
1         23603
2             T
3            10
4    ....,..,..
5    IJGIJII3HF
Name: 21872, dtype: object
0           LG1
1         23604
2             T
3            10
4    ....,..,..
5    JJIIHIJ?HH
Name: 21873, dtype: object
0           LG1
1         23604
2             T
3            10
4    ....,..,..
5    JJIIHIJ?HH
Name: 21873, dtype: object
0           LG1
1         23604
2             T
3            10
4    ....,..,..
5    JJIIHIJ?HH
Name: 21873, dtype: object
0           LG1
1         23604
2             T
3            10
4    ....,..,..
5    JJIIHIJ?HH
Name: 21873, dtype: object
0           LG1
1         23604
2             T
3            10
4    ....,..,..
5    JJIIHIJ?HH
Name: 21873, dtype: object
0           LG1
1         23604
2             T
3            10
4    ....,..,..
5    JJIIHIJ?HH
Name: 21873, dtype: object
0           LG1
1         23604
2             T
3            10
4    ....,..,..
5    JJIIHIJ?HH
Name: 21873, dtype: object
0           LG1
1         23604
2             T
3            10
4    ....,..,..
5    JJIIHIJ?HH
Name: 21873, dtype: object
0           LG1
1         23604
2             T
3            10
4    ....,..,..
5    JJIIHIJ?HH
Name: 21873, dtype: object
0           LG1
1         23604
2             T
3            10
4    ....,..,..
5    JJIIHIJ?HH
Name: 21873, dtype: object
0           LG1
1         23605
2             T
3            10
4    ....,..,..
5    JJJICJJ?GH
Name: 21874, dtype: object
0           LG1
1         23605
2             T
3            10
4    ....,..,..
5    JJJICJJ?GH
Name: 21874, dtype: object
0           LG1
1         23605
2             T
3            10
4    ....,..,..
5    JJJICJJ?GH
Name: 21874, dtype: object
0           LG1
1         23605
2             T
3            10
4    ....,..,..
5    JJJICJJ?GH
Name: 21874, dtype: object
0           LG1
1         23605
2             T
3            10
4    ....,..,..
5    JJJICJJ?GH
Name: 21874, dtype: object
0           LG1
1         23605
2             T
3            10
4    ....,..,..
5    JJJICJJ?GH
Name: 21874, dtype: object
0           LG1
1         23605
2             T
3            10
4    ....,..,..
5    JJJICJJ?GH
Name: 21874, dtype: object
0           LG1
1         23605
2             T
3            10
4    ....,..,..
5    JJJICJJ?GH
Name: 21874, dtype: object
0           LG1
1         23605
2             T
3            10
4    ....,..,..
5    JJJICJJ?GH
Name: 21874, dtype: object
0           LG1
1         23605
2             T
3            10
4    ....,..,..
5    JJJICJJ?GH
Name: 21874, dtype: object
0           LG1
1         23606
2             T
3            10
4    ....,..,..
5    JJJIJJJAHH
Name: 21875, dtype: object
0           LG1
1         23606
2             T
3            10
4    ....,..,..
5    JJJIJJJAHH
Name: 21875, dtype: object
0           LG1
1         23606
2             T
3            10
4    ....,..,..
5    JJJIJJJAHH
Name: 21875, dtype: object
0           LG1
1         23606
2             T
3            10
4    ....,..,..
5    JJJIJJJAHH
Name: 21875, dtype: object
0           LG1
1         23606
2             T
3            10
4    ....,..,..
5    JJJIJJJAHH
Name: 21875, dtype: object
0           LG1
1         23606
2             T
3            10
4    ....,..,..
5    JJJIJJJAHH
Name: 21875, dtype: object
0           LG1
1         23606
2             T
3            10
4    ....,..,..
5    JJJIJJJAHH
Name: 21875, dtype: object
0           LG1
1         23606
2             T
3            10
4    ....,..,..
5    JJJIJJJAHH
Name: 21875, dtype: object
0           LG1
1         23606
2             T
3            10
4    ....,..,..
5    JJJIJJJAHH
Name: 21875, dtype: object
0           LG1
1         23606
2             T
3            10
4    ....,..,..
5    JJJIJJJAHH
Name: 21875, dtype: object
0           LG1
1         23607
2             A
3            10
4    ....,..t..
5    JJJJJJJAHH
Name: 21876, dtype: object
0           LG1
1         23607
2             A
3            10
4    ....,..t..
5    JJJJJJJAHH
Name: 21876, dtype: object
0           LG1
1         23607
2             A
3            10
4    ....,..t..
5    JJJJJJJAHH
Name: 21876, dtype: object
0           LG1
1         23607
2             A
3            10
4    ....,..t..
5    JJJJJJJAHH
Name: 21876, dtype: object
0           LG1
1         23607
2             A
3            10
4    ....,..t..
5    JJJJJJJAHH
Name: 21876, dtype: object
0           LG1
1         23607
2             A
3            10
4    ....,..t..
5    JJJJJJJAHH
Name: 21876, dtype: object
0           LG1
1         23607
2             A
3            10
4    ....,..t..
5    JJJJJJJAHH
Name: 21876, dtype: object
0           LG1
1         23607
2             A
3            10
4    ....,..t..
5    JJJJJJJAHH
Name: 21876, dtype: object
0           LG1
1         23607
2             A
3            10
4    ....,..t..
5    JJJJJJJAHH

Name: 21876, dtype: object
0           LG1
1         23607
2             A
3            10
4    ....,..t..
5    JJJJJJJAHH
Name: 21876, dtype: object
0           LG1
1         23608
2             G
3            10
4    ....,A.,..
5    JJJJJJIAIH
Name: 21877, dtype: object
0           LG1
1         23608
2             G
3            10
4    ....,A.,..
5    JJJJJJIAIH
Name: 21877, dtype: object
0           LG1
1         23608
2             G
3            10
4    ....,A.,..
5    JJJJJJIAIH
Name: 21877, dtype: object
0           LG1
1         23608
2             G
3            10
4    ....,A.,..
5    JJJJJJIAIH
Name: 21877, dtype: object
0           LG1
1         23608
2             G
3            10
4    ....,A.,..
5    JJJJJJIAIH
Name: 21877, dtype: object
0           LG1
1         23608
2             G
3            10
4    ....,A.,..
5    JJJJJJIAIH
Name: 21877, dtype: object
0           LG1
1         23608
2             G
3            10
4    ....,A.,..
5    JJJJJJIAIH
Name: 21877, dtype: object
0           LG1
1         23608
2             G
3            10
4    ....,A.,..
5    JJJJJJIAIH
Name: 21877, dtype: object
0           LG1
1         23608
2             G
3            10
4    ....,A.,..
5    JJJJJJIAIH
Name: 21877, dtype: object
0           LG1
1         23608
2             G
3            10
4    ....,A.,..
5    JJJJJJIAIH
Name: 21877, dtype: object
0           LG1
1         23609
2             G
3            10
4    ....,..,..
5    JJIJJJH<IJ
Name: 21878, dtype: object
0           LG1
1         23609
2             G
3            10
4    ....,..,..
5    JJIJJJH<IJ
Name: 21878, dtype: object
0           LG1
1         23609
2             G
3            10
4    ....,..,..
5    JJIJJJH<IJ
Name: 21878, dtype: object
0           LG1
1         23609
2             G
3            10
4    ....,..,..
5    JJIJJJH<IJ
Name: 21878, dtype: object
0           LG1
1         23609
2             G
3            10
4    ....,..,..
5    JJIJJJH<IJ
Name: 21878, dtype: object
0           LG1
1         23609
2             G
3            10
4    ....,..,..
5    JJIJJJH<IJ
Name: 21878, dtype: object
0           LG1
1         23609
2             G
3            10
4    ....,..,..
5    JJIJJJH<IJ
Name: 21878, dtype: object
0           LG1
1         23609
2             G
3            10
4    ....,..,..
5    JJIJJJH<IJ
Name: 21878, dtype: object
0           LG1
1         23609
2             G
3            10
4    ....,..,..
5    JJIJJJH<IJ
Name: 21878, dtype: object
0           LG1
1         23613
2             T
3            10
4    ....,..,..
5    JJIJJJF<GI
Name: 21882, dtype: object
0           LG1
1         23613
2             T
3            10
4    ....,..,..
5    JJIJJJF<GI
Name: 21882, dtype: object
0           LG1
1         23613
2             T
3            10
4    ....,..,..
5    JJIJJJF<GI
Name: 21882, dtype: object
0           LG1
1         23613
2             T
3            10
4    ....,..,..
5    JJIJJJF<GI
Name: 21882, dtype: object
0           LG1
1         23613
2             T
3            10
4    ....,..,..
5    JJIJJJF<GI
Name: 21882, dtype: object
0           LG1
1         23613
2             T
3            10
4    ....,..,..
5    JJIJJJF<GI
Name: 21882, dtype: object
0           LG1
1         23613
2             T
3            10
4    ....,..,..
5    JJIJJJF<GI
Name: 21882, dtype: object
0           LG1
1         23613
2             T
3            10
4    ....,..,..
5    JJIJJJF<GI
Name: 21882, dtype: object
0           LG1
1         23613
2             T
3            10
4    ....,..,..
5    JJIJJJF<GI
Name: 21882, dtype: object
0           LG1
1         23614
2             A
3            10
4    ....,..,..
5    JJJBJIHCII
Name: 21883, dtype: object
0           LG1
1         23614
2             A
3            10
4    ....,..,..
5    JJJBJIHCII
Name: 21883, dtype: object
0           LG1
1         23614
2             A
3            10
4    ....,..,..
5    JJJBJIHCII
Name: 21883, dtype: object
0           LG1
1         23614
2             A
3            10
4    ....,..,..
5    JJJBJIHCII
Name: 21883, dtype: object
0           LG1
1         23614
2             A
3            10
4    ....,..,..
5    JJJBJIHCII
Name: 21883, dtype: object
0           LG1
1         23614
2             A
3            10
4    ....,..,..
5    JJJBJIHCII
Name: 21883, dtype: object
0           LG1
1         23614
2             A
3            10
4    ....,..,..
5    JJJBJIHCII
Name: 21883, dtype: object
0           LG1
1         23614
2             A
3            10
4    ....,..,..
5    JJJBJIHCII
Name: 21883, dtype: object
0           LG1
1         23614
2             A
3            10
4    ....,..,..
5    JJJBJIHCII
Name: 21883, dtype: object
0           LG1
1         23614
2             A
3            10
4    ....,..,..
5    JJJBJIHCII
Name: 21883, dtype: object
0           LG1
1         23615
2             A
3            10
4    ....,..,..
5    GJJHJJF?JJ
Name: 21884, dtype: object
0           LG1
1         23615
2             A
3            10
4    ....,..,..
5    GJJHJJF?JJ
Name: 21884, dtype: object
0           LG1
1         23615
2             A
3            10
4    ....,..,..
5    GJJHJJF?JJ
Name: 21884, dtype: object
0           LG1
1         23615
2             A
3            10
4    ....,..,..
5    GJJHJJF?JJ
Name: 21884, dtype: object
0           LG1
1         23615
2             A
3            10
4    ....,..,..
5    GJJHJJF?JJ
Name: 21884, dtype: object
0           LG1
1         23615
2             A
3            10
4    ....,..,..
5    GJJHJJF?JJ
Name: 21884, dtype: object
0           LG1
1         23615
2             A
3            10
4    ....,..,..
5    GJJHJJF?JJ
Name: 21884, dtype: object
0           LG1
1         23615
2             A
3            10
4    ....,..,..
5    GJJHJJF?JJ
Name: 21884, dtype: object
0           LG1
1         23615
2             A
3            10
4    ....,..,..
5    GJJHJJF?JJ
Name: 21884, dtype: object
0           LG1
1         23615
2             A
3            10
4    ....,..,..
5    GJJHJJF?JJ
Name: 21884, dtype: object
0           LG1
1         23636
2             G
3            10
4    ...,......
5    EFHJJJI;GE
Name: 21905, dtype: object
0           LG1
1         23636
2             G
3            10
4    ...,......
5    EFHJJJI;GE
Name: 21905, dtype: object
0           LG1
1         23636
2             G
3            10
4    ...,......
5    EFHJJJI;GE
Name: 21905, dtype: object
0           LG1
1         23636
2             G
3            10
4    ...,......
5    EFHJJJI;GE
Name: 21905, dtype: object
0           LG1
1         23636
2             G
3            10
4    ...,......
5    EFHJJJI;GE
Name: 21905, dtype: object
0           LG1
1         23636
2             G
3            10
4    ...,......
5    EFHJJJI;GE
Name: 21905, dtype: object
0           LG1
1         23636
2             G
3            10
4    ...,......
5    EFHJJJI;GE
Name: 21905, dtype: object
0           LG1
1         23636
2             G
3            10
4    ...,......
5    EFHJJJI;GE
Name: 21905, dtype: object
0           LG1
1         23636
2             G
3            10
4    ...,......
5    EFHJJJI;GE
Name: 21905, dtype: object
0           LG1
1         24615
2             G
3            10
4    ,,,,aa.aaa
5    FHHI2JBFDD
Name: 22884, dtype: object
0           LG1
1         24615
2             G
3            10
4    ,,,,aa.aaa
5    FHHI2JBFDD
Name: 22884, dtype: object
0           LG1
1         24615
2             G
3            10
4    ,,,,aa.aaa
5    FHHI2JBFDD
Name: 22884, dtype: object
0           LG1
1         24615
2             G
3            10
4    ,,,,aa.aaa
5    FHHI2JBFDD
Name: 22884, dtype: object
0           LG1
1         24615
2             G
3            10
4    ,,,,aa.aaa
5    FHHI2JBFDD
Name: 22884, dtype: object
0           LG1
1         24615
2             G
3            10
4    ,,,,aa.aaa
5    FHHI2JBFDD
Name: 22884, dtype: object
0           LG1
1         24615
2             G
3            10
4    ,,,,aa.aaa
5    FHHI2JBFDD
Name: 22884, dtype: object
0           LG1
1         24615
2             G
3            10
4    ,,,,aa.aaa
5    FHHI2JBFDD
Name: 22884, dtype: object
0           LG1
1         24615
2             G
3            10
4    ,,,,aa.aaa
5    FHHI2JBFDD
Name: 22884, dtype: object
0           LG1
1         24616
2             A
3            10
4    ,,,,,,.,,,
5    FFF@2I3FDD
Name: 22885, dtype: object
0           LG1
1         24616
2             A
3            10
4    ,,,,,,.,,,
5    FFF@2I3FDD
Name: 22885, dtype: object
0           LG1
1         24616
2             A
3            10
4    ,,,,,,.,,,
5    FFF@2I3FDD
Name: 22885, dtype: object
0           LG1
1         24616
2             A
3            10
4    ,,,,,,.,,,
5    FFF@2I3FDD
Name: 22885, dtype: object
0           LG1
1         24616
2             A
3            10
4    ,,,,,,.,,,
5    FFF@2I3FDD
Name: 22885, dtype: object
0           LG1
1         24616
2             A
3            10
4    ,,,,,,.,,,
5    FFF@2I3FDD
Name: 22885, dtype: object
0           LG1
1         24616
2             A
3            10
4    ,,,,,,.,,,
5    FFF@2I3FDD
Name: 22885, dtype: object
0           LG1
1         24616
2             A
3            10
4    ,,,,,,.,,,
5    FFF@2I3FDD
Name: 22885, dtype: object
0           LG1
1         24618
2             C
3             9
4    ,tg,$,A,,,
5     CFH2J;FDD
Name: 22887, dtype: object
0           LG1
1         24618
2             C
3             9
4    ,tg,$,A,,,
5     CFH2J;FDD
Name: 22887, dtype: object
0           LG1
1         24618
2             C
3             9
4    ,tg,$,A,,,
5     CFH2J;FDD
Name: 22887, dtype: object
0           LG1
1         24618
2             C
3             9
4    ,tg,$,A,,,
5     CFH2J;FDD
Name: 22887, dtype: object
0           LG1
1         24618
2             C
3             9
4    ,tg,$,A,,,
5     CFH2J;FDD
Name: 22887, dtype: object
0           LG1
1         24618
2             C
3             9
4    ,tg,$,A,,,
5     CFH2J;FDD
Name: 22887, dtype: object
0           LG1
1         24618
2             C
3             9
4    ,tg,$,A,,,
5     CFH2J;FDD
Name: 22887, dtype: object
0           LG1
1         24635
2             G
3             8
4    ,,,,.,,^0.
5      JJIF8FC8
Name: 22904, dtype: object
0           LG1
1         24635
2             G
3             8
4    ,,,,.,,^0.
5      JJIF8FC8
Name: 22904, dtype: object
0           LG1
1         24635
2             G
3             8
4    ,,,,.,,^0.
5      JJIF8FC8
Name: 22904, dtype: object
0           LG1
1         24635
2             G
3             8
4    ,,,,.,,^0.
5      JJIF8FC8
Name: 22904, dtype: object
0           LG1
1         24635
2             G
3             8
4    ,,,,.,,^0.
5      JJIF8FC8
Name: 22904, dtype: object
0           LG1
1         24635
2             G
3             8
4    ,,,,.,,^0.
5      JJIF8FC8
Name: 22904, dtype: object
0           LG1
1         24676
2             T
3             8
4    ,,A,.,,^0,
5      HJIF?DB?
Name: 22945, dtype: object
0           LG1
1         24676
2             T
3             8
4    ,,A,.,,^0,
5      HJIF?DB?
Name: 22945, dtype: object
0           LG1
1         24676
2             T
3             8
4    ,,A,.,,^0,
5      HJIF?DB?
Name: 22945, dtype: object
0           LG1
1         24676
2             T
3             8
4    ,,A,.,,^0,
5      HJIF?DB?
Name: 22945, dtype: object
0           LG1
1         24676
2             T
3             8
4    ,,A,.,,^0,
5      HJIF?DB?
Name: 22945, dtype: object
0           LG1
1         24676
2             T
3             8
4    ,,A,.,,^0,
5      HJIF?DB?
Name: 22945, dtype: object
0           LG1
1         24676
2             T
3             8
4    ,,A,.,,^0,
5      HJIF?DB?
Name: 22945, dtype: object
0           LG1
1         24676
2             T
3             8
4    ,,A,.,,^0,
5      HJIF?DB?
Name: 22945, dtype: object
0           LG1
1         24733
2             C
3             8
4    ,,,,,,,^0,
5      I29FCE>1
Name: 23002, dtype: object
0           LG1
1         24733
2             C
3             8
4    ,,,,,,,^0,
5      I29FCE>1
Name: 23002, dtype: object
0           LG1
1         24733
2             C
3             8
4    ,,,,,,,^0,
5      I29FCE>1
Name: 23002, dtype: object
0           LG1
1         24733
2             C
3             8
4    ,,,,,,,^0,
5      I29FCE>1
Name: 23002, dtype: object
0           LG1
1         24745
2             G
3            10
4    ,,aa,.,A,.
5    F49DG:C;7;
Name: 23014, dtype: object
0           LG1
1         24745
2             G
3            10
4    ,,aa,.,A,.
5    F49DG:C;7;
Name: 23014, dtype: object
0           LG1
1         24745
2             G
3            10
4    ,,aa,.,A,.
5    F49DG:C;7;
Name: 23014, dtype: object
0           LG1
1         24745
2             G
3            10
4    ,,aa,.,A,.
5    F49DG:C;7;
Name: 23014, dtype: object
0           LG1
1         24746
2             A
3            10
4    ,,,,,.,,..
5    DFFFFG8C;?
Name: 23015, dtype: object
0           LG1
1         24746
2             A
3            10
4    ,,,,,.,,..
5    DFFFFG8C;?
Name: 23015, dtype: object
0           LG1
1         24746
2             A
3            10
4    ,,,,,.,,..
5    DFFFFG8C;?
Name: 23015, dtype: object
0           LG1
1         24746
2             A
3            10
4    ,,,,,.,,..
5    DFFFFG8C;?
Name: 23015, dtype: object
0           LG1
1         24746
2             A
3            10
4    ,,,,,.,,..
5    DFFFFG8C;?
Name: 23015, dtype: object
0           LG1
1         24746
2             A
3            10
4    ,,,,,.,,..
5    DFFFFG8C;?
Name: 23015, dtype: object
0           LG1
1         24746
2             A
3            10
4    ,,,,,.,,..
5    DFFFFG8C;?
Name: 23015, dtype: object
0           LG1
1         24746
2             A
3            10
4    ,,,,,.,,..
5    DFFFFG8C;?
Name: 23015, dtype: object
0           LG1
1         24747
2             C
3            10
4    ,,,,,.,.,.
5    FF@EIGC:7D
Name: 23016, dtype: object
0           LG1
1         24747
2             C
3            10
4    ,,,,,.,.,.
5    FF@EIGC:7D
Name: 23016, dtype: object
0           LG1
1         24747
2             C
3            10
4    ,,,,,.,.,.
5    FF@EIGC:7D
Name: 23016, dtype: object
0           LG1
1         24747
2             C
3            10
4    ,,,,,.,.,.
5    FF@EIGC:7D
Name: 23016, dtype: object
0           LG1
1         24747
2             C
3            10
4    ,,,,,.,.,.
5    FF@EIGC:7D
Name: 23016, dtype: object
0           LG1
1         24747
2             C
3            10
4    ,,,,,.,.,.
5    FF@EIGC:7D
Name: 23016, dtype: object
0           LG1
1         24747
2             C
3            10
4    ,,,,,.,.,.
5    FF@EIGC:7D
Name: 23016, dtype: object
0           LG1
1         24747
2             C
3            10
4    ,,,,,.,.,.
5    FF@EIGC:7D
Name: 23016, dtype: object
0           LG1
1         24749
2             A
3            10
4    ,,,,,.,,,.
5    FB9EHF8;=?
Name: 23018, dtype: object
0           LG1
1         24749
2             A
3            10
4    ,,,,,.,,,.
5    FB9EHF8;=?
Name: 23018, dtype: object
0           LG1
1         24749
2             A
3            10
4    ,,,,,.,,,.
5    FB9EHF8;=?
Name: 23018, dtype: object
0           LG1
1         24749
2             A
3            10
4    ,,,,,.,,,.
5    FB9EHF8;=?
Name: 23018, dtype: object
0           LG1
1         24749
2             A
3            10
4    ,,,,,.,,,.
5    FB9EHF8;=?
Name: 23018, dtype: object
0           LG1
1         24749
2             A
3            10
4    ,,,,,.,,,.
5    FB9EHF8;=?
Name: 23018, dtype: object
0           LG1
1         24751
2             C
3            10
4    ,,,,,.,.,.
5    C9?EIFC:4D
Name: 23020, dtype: object
0           LG1
1         24751
2             C
3            10
4    ,,,,,.,.,.
5    C9?EIFC:4D
Name: 23020, dtype: object
0           LG1
1         24751
2             C
3            10
4    ,,,,,.,.,.
5    C9?EIFC:4D
Name: 23020, dtype: object

0           LG1
1         24751
2             C
3            10
4    ,,,,,.,.,.
5    C9?EIFC:4D
Name: 23020, dtype: object
0           LG1
1         24751
2             C
3            10
4    ,,,,,.,.,.
5    C9?EIFC:4D
Name: 23020, dtype: object
0           LG1
1         24751
2             C
3            10
4    ,,,,,.,.,.
5    C9?EIFC:4D
Name: 23020, dtype: object
0           LG1
1         24751
2             C
3            10
4    ,,,,,.,.,.
5    C9?EIFC:4D
Name: 23020, dtype: object
0           LG1
1         24753
2             T
3            10
4    ,,,,.,,.,.
5    FDHII/F<CF
Name: 23022, dtype: object
0           LG1
1         24753
2             T
3            10
4    ,,,,.,,.,.
5    FDHII/F<CF
Name: 23022, dtype: object
0           LG1
1         24753
2             T
3            10
4    ,,,,.,,.,.
5    FDHII/F<CF
Name: 23022, dtype: object
0           LG1
1         24753
2             T
3            10
4    ,,,,.,,.,.
5    FDHII/F<CF
Name: 23022, dtype: object
0           LG1
1         24753
2             T
3            10
4    ,,,,.,,.,.
5    FDHII/F<CF
Name: 23022, dtype: object
0           LG1
1         24753
2             T
3            10
4    ,,,,.,,.,.
5    FDHII/F<CF
Name: 23022, dtype: object
0           LG1
1         24753
2             T
3            10
4    ,,,,.,,.,.
5    FDHII/F<CF
Name: 23022, dtype: object
0           LG1
1         24753
2             T
3            10
4    ,,,,.,,.,.
5    FDHII/F<CF
Name: 23022, dtype: object
0           LG1
1         24754
2             T
3            10
4    ,,,,C,,.,.
5    49GG>8CC=B
Name: 23023, dtype: object
0           LG1
1         24754
2             T
3            10
4    ,,,,C,,.,.
5    49GG>8CC=B
Name: 23023, dtype: object
0           LG1
1         24754
2             T
3            10
4    ,,,,C,,.,.
5    49GG>8CC=B
Name: 23023, dtype: object
0           LG1
1         24754
2             T
3            10
4    ,,,,C,,.,.
5    49GG>8CC=B
Name: 23023, dtype: object
0           LG1
1         24754
2             T
3            10
4    ,,,,C,,.,.
5    49GG>8CC=B
Name: 23023, dtype: object
0           LG1
1         24757
2             T
3            10
4    ,,,.,,.,.,
5    ;JH3GB?HA=
Name: 23026, dtype: object
0           LG1
1         24757
2             T
3            10
4    ,,,.,,.,.,
5    ;JH3GB?HA=
Name: 23026, dtype: object
0           LG1
1         24757
2             T
3            10
4    ,,,.,,.,.,
5    ;JH3GB?HA=
Name: 23026, dtype: object
0           LG1
1         24757
2             T
3            10
4    ,,,.,,.,.,
5    ;JH3GB?HA=
Name: 23026, dtype: object
0           LG1
1         24757
2             T
3            10
4    ,,,.,,.,.,
5    ;JH3GB?HA=
Name: 23026, dtype: object
0           LG1
1         24757
2             T
3            10
4    ,,,.,,.,.,
5    ;JH3GB?HA=
Name: 23026, dtype: object
0           LG1
1         24757
2             T
3            10
4    ,,,.,,.,.,
5    ;JH3GB?HA=
Name: 23026, dtype: object
0           LG1
1         24761
2             G
3            10
4    ,,,a,,.,.,
5    <1JH:@<@:=
Name: 23030, dtype: object
0           LG1
1         24761
2             G
3            10
4    ,,,a,,.,.,
5    <1JH:@<@:=
Name: 23030, dtype: object
0           LG1
1         24761
2             G
3            10
4    ,,,a,,.,.,
5    <1JH:@<@:=
Name: 23030, dtype: object
0           LG1
1         24761
2             G
3            10
4    ,,,a,,.,.,
5    <1JH:@<@:=
Name: 23030, dtype: object
0           LG1
1         24766
2             C
3            10
4    a,,,t,.,.t
5    8<EE?8<?F<
Name: 23035, dtype: object
0           LG1
1         24766
2             C
3            10
4    a,,,t,.,.t
5    8<EE?8<?F<
Name: 23035, dtype: object
0           LG1
1         24766
2             C
3            10
4    a,,,t,.,.t
5    8<EE?8<?F<
Name: 23035, dtype: object
0           LG1
1         24766
2             C
3            10
4    a,,,t,.,.t
5    8<EE?8<?F<
Name: 23035, dtype: object
0           LG1
1         24766
2             C
3            10
4    a,,,t,.,.t
5    8<EE?8<?F<
Name: 23035, dtype: object
0           LG1
1         24772
2             G
3            10
4    ,,,,,A,,.,
5    ?GG??9<=?B
Name: 23041, dtype: object
0           LG1
1         24772
2             G
3            10
4    ,,,,,A,,.,
5    ?GG??9<=?B
Name: 23041, dtype: object
0           LG1
1         24772
2             G
3            10
4    ,,,,,A,,.,
5    ?GG??9<=?B
Name: 23041, dtype: object
0           LG1
1         24772
2             G
3            10
4    ,,,,,A,,.,
5    ?GG??9<=?B
Name: 23041, dtype: object
0           LG1
1         24772
2             G
3            10
4    ,,,,,A,,.,
5    ?GG??9<=?B
Name: 23041, dtype: object
0           LG1
1         24772
2             G
3            10
4    ,,,,,A,,.,
5    ?GG??9<=?B
Name: 23041, dtype: object
0           LG1
1         24772
2             G
3            10
4    ,,,,,A,,.,
5    ?GG??9<=?B
Name: 23041, dtype: object
0           LG1
1         24782
2             C
3            10
4    ,,,,.,.t.t
5    CH16:::7=C
Name: 23051, dtype: object
0           LG1
1         24782
2             C
3            10
4    ,,,,.,.t.t
5    CH16:::7=C
Name: 23051, dtype: object
0           LG1
1         24782
2             C
3            10
4    ,,,,.,.t.t
5    CH16:::7=C
Name: 23051, dtype: object
0           LG1
1         24783
2             G
3            10
4    c,,c.,C,.,
5    EH<;B<80;D
Name: 23052, dtype: object
0           LG1
1         24783
2             G
3            10
4    c,,c.,C,.,
5    EH<;B<80;D
Name: 23052, dtype: object
0           LG1
1         24783
2             G
3            10
4    c,,c.,C,.,
5    EH<;B<80;D
Name: 23052, dtype: object
0           LG1
1         24783
2             G
3            10
4    c,,c.,C,.,
5    EH<;B<80;D
Name: 23052, dtype: object
0           LG1
1         24788
2             T
3            10
4    ,,,,.,..,,
5    IJ?1BFB<C?
Name: 23057, dtype: object
0           LG1
1         24788
2             T
3            10
4    ,,,,.,..,,
5    IJ?1BFB<C?
Name: 23057, dtype: object
0           LG1
1         24788
2             T
3            10
4    ,,,,.,..,,
5    IJ?1BFB<C?
Name: 23057, dtype: object
0           LG1
1         24788
2             T
3            10
4    ,,,,.,..,,
5    IJ?1BFB<C?
Name: 23057, dtype: object
0           LG1
1         24788
2             T
3            10
4    ,,,,.,..,,
5    IJ?1BFB<C?
Name: 23057, dtype: object
0           LG1
1         24788
2             T
3            10
4    ,,,,.,..,,
5    IJ?1BFB<C?
Name: 23057, dtype: object
0           LG1
1         24788
2             T
3            10
4    ,,,,.,..,,
5    IJ?1BFB<C?
Name: 23057, dtype: object
0           LG1
1         24788
2             T
3            10
4    ,,,,.,..,,
5    IJ?1BFB<C?
Name: 23057, dtype: object
0           LG1
1         24790
2             A
3            10
4    ,,,,.,..,,
5    JJ1F=:9@AD
Name: 23059, dtype: object
0           LG1
1         24790
2             A
3            10
4    ,,,,.,..,,
5    JJ1F=:9@AD
Name: 23059, dtype: object
0           LG1
1         24790
2             A
3            10
4    ,,,,.,..,,
5    JJ1F=:9@AD
Name: 23059, dtype: object
0           LG1
1         24790
2             A
3            10
4    ,,,,.,..,,
5    JJ1F=:9@AD
Name: 23059, dtype: object
0           LG1
1         24790
2             A
3            10
4    ,,,,.,..,,
5    JJ1F=:9@AD
Name: 23059, dtype: object
0           LG1
1         24790
2             A
3            10
4    ,,,,.,..,,
5    JJ1F=:9@AD
Name: 23059, dtype: object
0           LG1
1         25035
2             G
3            10
4    ..,..,...,
5    EID0HCFFCD
Name: 23304, dtype: object
0           LG1
1         25035
2             G
3            10
4    ..,..,...,
5    EID0HCFFCD
Name: 23304, dtype: object
0           LG1
1         25035
2             G
3            10
4    ..,..,...,
5    EID0HCFFCD
Name: 23304, dtype: object
0           LG1
1         25035
2             G
3            10
4    ..,..,...,
5    EID0HCFFCD
Name: 23304, dtype: object
0           LG1
1         25035
2             G
3            10
4    ..,..,...,
5    EID0HCFFCD
Name: 23304, dtype: object
0           LG1
1         25035
2             G
3            10
4    ..,..,...,
5    EID0HCFFCD
Name: 23304, dtype: object
0           LG1
1         25035
2             G
3            10
4    ..,..,...,
5    EID0HCFFCD
Name: 23304, dtype: object
0           LG1
1         25035
2             G
3            10
4    ..,..,...,
5    EID0HCFFCD
Name: 23304, dtype: object
0           LG1
1         25035
2             G
3            10
4    ..,..,...,
5    EID0HCFFCD
Name: 23304, dtype: object
0           LG1
1         25036
2             A
3            10
4    .G,..,...,
5    AFD1HBFFCB
Name: 23305, dtype: object
0           LG1
1         25036
2             A
3            10
4    .G,..,...,
5    AFD1HBFFCB
Name: 23305, dtype: object
0           LG1
1         25036
2             A
3            10
4    .G,..,...,
5    AFD1HBFFCB
Name: 23305, dtype: object
0           LG1
1         25036
2             A
3            10
4    .G,..,...,
5    AFD1HBFFCB
Name: 23305, dtype: object
0           LG1
1         25036
2             A
3            10
4    .G,..,...,
5    AFD1HBFFCB
Name: 23305, dtype: object
0           LG1
1         25036
2             A
3            10
4    .G,..,...,
5    AFD1HBFFCB
Name: 23305, dtype: object
0           LG1
1         25036
2             A
3            10
4    .G,..,...,
5    AFD1HBFFCB
Name: 23305, dtype: object
0           LG1
1         25036
2             A
3            10
4    .G,..,...,
5    AFD1HBFFCB
Name: 23305, dtype: object
0           LG1
1         25036
2             A
3            10
4    .G,..,...,
5    AFD1HBFFCB
Name: 23305, dtype: object
0           LG1
1         25037
2             C
3            10
4    ..,..,...,
5    GID<HCHFFD
Name: 23306, dtype: object
0           LG1
1         25037
2             C
3            10
4    ..,..,...,
5    GID<HCHFFD
Name: 23306, dtype: object
0           LG1
1         25037
2             C
3            10
4    ..,..,...,
5    GID<HCHFFD
Name: 23306, dtype: object
0           LG1
1         25037
2             C
3            10
4    ..,..,...,
5    GID<HCHFFD
Name: 23306, dtype: object
0           LG1
1         25037
2             C
3            10
4    ..,..,...,
5    GID<HCHFFD
Name: 23306, dtype: object
0           LG1
1         25037
2             C
3            10
4    ..,..,...,
5    GID<HCHFFD
Name: 23306, dtype: object
0           LG1
1         25037
2             C
3            10
4    ..,..,...,
5    GID<HCHFFD
Name: 23306, dtype: object
0           LG1
1         25037
2             C
3            10
4    ..,..,...,
5    GID<HCHFFD
Name: 23306, dtype: object
0           LG1
1         25037
2             C
3            10
4    ..,..,...,
5    GID<HCHFFD
Name: 23306, dtype: object
0           LG1
1         25039
2             A
3            10
4    ..,..,...,
5    GJDAJ@HFFD
Name: 23308, dtype: object
0           LG1
1         25039
2             A
3            10
4    ..,..,...,
5    GJDAJ@HFFD
Name: 23308, dtype: object
0           LG1
1         25039
2             A
3            10
4    ..,..,...,
5    GJDAJ@HFFD
Name: 23308, dtype: object
0           LG1
1         25039
2             A
3            10
4    ..,..,...,
5    GJDAJ@HFFD
Name: 23308, dtype: object
0           LG1
1         25039
2             A
3            10
4    ..,..,...,
5    GJDAJ@HFFD
Name: 23308, dtype: object
0           LG1
1         25039
2             A
3            10
4    ..,..,...,
5    GJDAJ@HFFD
Name: 23308, dtype: object
0           LG1
1         25039
2             A
3            10
4    ..,..,...,
5    GJDAJ@HFFD
Name: 23308, dtype: object
0           LG1
1         25039
2             A
3            10
4    ..,..,...,
5    GJDAJ@HFFD
Name: 23308, dtype: object
0           LG1
1         25039
2             A
3            10
4    ..,..,...,
5    GJDAJ@HFFD
Name: 23308, dtype: object
0           LG1
1         25039
2             A
3            10
4    ..,..,...,
5    GJDAJ@HFFD
Name: 23308, dtype: object
0           LG1
1         25040
2             A
3            10
4    ..,..,...,
5    HID<J>HHFD
Name: 23309, dtype: object
0           LG1
1         25040
2             A
3            10
4    ..,..,...,
5    HID<J>HHFD
Name: 23309, dtype: object
0           LG1
1         25040
2             A
3            10
4    ..,..,...,
5    HID<J>HHFD
Name: 23309, dtype: object
0           LG1
1         25040
2             A
3            10
4    ..,..,...,
5    HID<J>HHFD
Name: 23309, dtype: object
0           LG1
1         25040
2             A
3            10
4    ..,..,...,
5    HID<J>HHFD
Name: 23309, dtype: object
0           LG1
1         25040
2             A
3            10
4    ..,..,...,
5    HID<J>HHFD
Name: 23309, dtype: object
0           LG1
1         25040
2             A
3            10
4    ..,..,...,
5    HID<J>HHFD
Name: 23309, dtype: object
0           LG1
1         25040
2             A
3            10
4    ..,..,...,
5    HID<J>HHFD
Name: 23309, dtype: object
0           LG1
1         25045
2             A
3            10
4    .,.,...,,.
5    IDJBIJHB32
Name: 23314, dtype: object
0           LG1
1         25045
2             A
3            10
4    .,.,...,,.
5    IDJBIJHB32
Name: 23314, dtype: object
0           LG1
1         25045
2             A
3            10
4    .,.,...,,.
5    IDJBIJHB32
Name: 23314, dtype: object
0           LG1
1         25045
2             A
3            10
4    .,.,...,,.
5    IDJBIJHB32
Name: 23314, dtype: object
0           LG1
1         25045
2             A
3            10
4    .,.,...,,.
5    IDJBIJHB32
Name: 23314, dtype: object
0           LG1
1         25045
2             A
3            10
4    .,.,...,,.
5    IDJBIJHB32
Name: 23314, dtype: object
0           LG1
1         25045
2             A
3            10
4    .,.,...,,.
5    IDJBIJHB32
Name: 23314, dtype: object
0           LG1
1         25045
2             A
3            10
4    .,.,...,,.
5    IDJBIJHB32
Name: 23314, dtype: object
0           LG1
1         25165
2             A
3            10
4    ...,,.,..,
5    D>FHGJIGEI
Name: 23434, dtype: object
0           LG1
1         25165
2             A
3            10
4    ...,,.,..,
5    D>FHGJIGEI
Name: 23434, dtype: object
0           LG1
1         25165
2             A
3            10
4    ...,,.,..,
5    D>FHGJIGEI
Name: 23434, dtype: object
0           LG1
1         25165
2             A
3            10
4    ...,,.,..,
5    D>FHGJIGEI
Name: 23434, dtype: object
0           LG1
1         25165
2             A
3            10
4    ...,,.,..,
5    D>FHGJIGEI
Name: 23434, dtype: object
0           LG1
1         25165
2             A
3            10
4    ...,,.,..,
5    D>FHGJIGEI
Name: 23434, dtype: object
0           LG1
1         25165
2             A
3            10
4    ...,,.,..,
5    D>FHGJIGEI
Name: 23434, dtype: object
0           LG1
1         25165
2             A
3            10
4    ...,,.,..,
5    D>FHGJIGEI
Name: 23434, dtype: object
0           LG1
1         25165
2             A
3            10
4    ...,,.,..,
5    D>FHGJIGEI
Name: 23434, dtype: object
0           LG1
1         25245
2             T
3             8
4    .,..,,.^2.
5      I?JJI=FC
Name: 23508, dtype: object
0           LG1
1         25245
2             T
3             8
4    .,..,,.^2.
5      I?JJI=FC
Name: 23508, dtype: object
0           LG1
1         25245
2             T
3             8
4    .,..,,.^2.
5      I?JJI=FC
Name: 23508, dtype: object
0           LG1
1         25245
2             T
3             8
4    .,..,,.^2.
5      I?JJI=FC
Name: 23508, dtype: object
0           LG1
1         25245
2             T
3             8
4    .,..,,.^2.
5      I?JJI=FC
Name: 23508, dtype: object
0           LG1
1         25245
2             T
3             8
4    .,..,,.^2.
5      I?JJI=FC
Name: 23508, dtype: object
0           LG1
1         25245
2             T
3             8
4    .,..,,.^2.
5      I?JJI=FC

Name: 23508, dtype: object
0           LG1
1         25363
2             A
3            10
4    ..,,.,,,,,
5    CDFFEHJCJ0
Name: 23626, dtype: object
0           LG1
1         25363
2             A
3            10
4    ..,,.,,,,,
5    CDFFEHJCJ0
Name: 23626, dtype: object
0           LG1
1         25363
2             A
3            10
4    ..,,.,,,,,
5    CDFFEHJCJ0
Name: 23626, dtype: object
0           LG1
1         25363
2             A
3            10
4    ..,,.,,,,,
5    CDFFEHJCJ0
Name: 23626, dtype: object
0           LG1
1         25363
2             A
3            10
4    ..,,.,,,,,
5    CDFFEHJCJ0
Name: 23626, dtype: object
0           LG1
1         25363
2             A
3            10
4    ..,,.,,,,,
5    CDFFEHJCJ0
Name: 23626, dtype: object
0           LG1
1         25363
2             A
3            10
4    ..,,.,,,,,
5    CDFFEHJCJ0
Name: 23626, dtype: object
0           LG1
1         25363
2             A
3            10
4    ..,,.,,,,,
5    CDFFEHJCJ0
Name: 23626, dtype: object
0           LG1
1         25363
2             A
3            10
4    ..,,.,,,,,
5    CDFFEHJCJ0
Name: 23626, dtype: object
0           LG1
1         25473
2             G
3             6
4    ,,,,^2,^2,
5        JEED71
Name: 23736, dtype: object
0           LG1
1         25473
2             G
3             6
4    ,,,,^2,^2,
5        JEED71
Name: 23736, dtype: object
0           LG1
1         25473
2             G
3             6
4    ,,,,^2,^2,
5        JEED71
Name: 23736, dtype: object
0           LG1
1         25473
2             G
3             6
4    ,,,,^2,^2,
5        JEED71
Name: 23736, dtype: object
0           LG1
1         25489
2             T
3            10
4    ,,,,,,,,,.
5    JJJJDDCJHB
Name: 23752, dtype: object
0           LG1
1         25489
2             T
3            10
4    ,,,,,,,,,.
5    JJJJDDCJHB
Name: 23752, dtype: object
0           LG1
1         25489
2             T
3            10
4    ,,,,,,,,,.
5    JJJJDDCJHB
Name: 23752, dtype: object
0           LG1
1         25489
2             T
3            10
4    ,,,,,,,,,.
5    JJJJDDCJHB
Name: 23752, dtype: object
0           LG1
1         25489
2             T
3            10
4    ,,,,,,,,,.
5    JJJJDDCJHB
Name: 23752, dtype: object
0           LG1
1         25489
2             T
3            10
4    ,,,,,,,,,.
5    JJJJDDCJHB
Name: 23752, dtype: object
0           LG1
1         25489
2             T
3            10
4    ,,,,,,,,,.
5    JJJJDDCJHB
Name: 23752, dtype: object
0           LG1
1         25489
2             T
3            10
4    ,,,,,,,,,.
5    JJJJDDCJHB
Name: 23752, dtype: object
0           LG1
1         25489
2             T
3            10
4    ,,,,,,,,,.
5    JJJJDDCJHB
Name: 23752, dtype: object
0           LG1
1         25489
2             T
3            10
4    ,,,,,,,,,.
5    JJJJDDCJHB
Name: 23752, dtype: object
0           LG1
1         25490
2             T
3            10
4    ,,,,,,,,,.
5    HJJJDDCJHE
Name: 23753, dtype: object
0           LG1
1         25490
2             T
3            10
4    ,,,,,,,,,.
5    HJJJDDCJHE
Name: 23753, dtype: object
0           LG1
1         25490
2             T
3            10
4    ,,,,,,,,,.
5    HJJJDDCJHE
Name: 23753, dtype: object
0           LG1
1         25490
2             T
3            10
4    ,,,,,,,,,.
5    HJJJDDCJHE
Name: 23753, dtype: object
0           LG1
1         25490
2             T
3            10
4    ,,,,,,,,,.
5    HJJJDDCJHE
Name: 23753, dtype: object
0           LG1
1         25490
2             T
3            10
4    ,,,,,,,,,.
5    HJJJDDCJHE
Name: 23753, dtype: object
0           LG1
1         25490
2             T
3            10
4    ,,,,,,,,,.
5    HJJJDDCJHE
Name: 23753, dtype: object
0           LG1
1         25490
2             T
3            10
4    ,,,,,,,,,.
5    HJJJDDCJHE
Name: 23753, dtype: object
0           LG1
1         25490
2             T
3            10
4    ,,,,,,,,,.
5    HJJJDDCJHE
Name: 23753, dtype: object
0           LG1
1         25490
2             T
3            10
4    ,,,,,,,,,.
5    HJJJDDCJHE
Name: 23753, dtype: object
0           LG1
1         25491
2             G
3            10
4    ,,,,,,,,,.
5    HJIIDFBJJ>
Name: 23754, dtype: object
0           LG1
1         25491
2             G
3            10
4    ,,,,,,,,,.
5    HJIIDFBJJ>
Name: 23754, dtype: object
0           LG1
1         25491
2             G
3            10
4    ,,,,,,,,,.
5    HJIIDFBJJ>
Name: 23754, dtype: object
0           LG1
1         25491
2             G
3            10
4    ,,,,,,,,,.
5    HJIIDFBJJ>
Name: 23754, dtype: object
0           LG1
1         25491
2             G
3            10
4    ,,,,,,,,,.
5    HJIIDFBJJ>
Name: 23754, dtype: object
0           LG1
1         25491
2             G
3            10
4    ,,,,,,,,,.
5    HJIIDFBJJ>
Name: 23754, dtype: object
0           LG1
1         25491
2             G
3            10
4    ,,,,,,,,,.
5    HJIIDFBJJ>
Name: 23754, dtype: object
0           LG1
1         25491
2             G
3            10
4    ,,,,,,,,,.
5    HJIIDFBJJ>
Name: 23754, dtype: object
0           LG1
1         25491
2             G
3            10
4    ,,,,,,,,,.
5    HJIIDFBJJ>
Name: 23754, dtype: object
0           LG1
1         25497
2             C
3            10
4    ,,,,,,,,,.
5    FJIJCHEJJ?
Name: 23760, dtype: object
0           LG1
1         25497
2             C
3            10
4    ,,,,,,,,,.
5    FJIJCHEJJ?
Name: 23760, dtype: object
0           LG1
1         25497
2             C
3            10
4    ,,,,,,,,,.
5    FJIJCHEJJ?
Name: 23760, dtype: object
0           LG1
1         25497
2             C
3            10
4    ,,,,,,,,,.
5    FJIJCHEJJ?
Name: 23760, dtype: object
0           LG1
1         25497
2             C
3            10
4    ,,,,,,,,,.
5    FJIJCHEJJ?
Name: 23760, dtype: object
0           LG1
1         25497
2             C
3            10
4    ,,,,,,,,,.
5    FJIJCHEJJ?
Name: 23760, dtype: object
0           LG1
1         25497
2             C
3            10
4    ,,,,,,,,,.
5    FJIJCHEJJ?
Name: 23760, dtype: object
0           LG1
1         25497
2             C
3            10
4    ,,,,,,,,,.
5    FJIJCHEJJ?
Name: 23760, dtype: object
0           LG1
1         25497
2             C
3            10
4    ,,,,,,,,,.
5    FJIJCHEJJ?
Name: 23760, dtype: object
0           LG1
1         25497
2             C
3            10
4    ,,,,,,,,,.
5    FJIJCHEJJ?
Name: 23760, dtype: object
0           LG1
1         25501
2             T
3            10
4    ,,,,,,,,..
5    >JJIJCJIGA
Name: 23764, dtype: object
0           LG1
1         25501
2             T
3            10
4    ,,,,,,,,..
5    >JJIJCJIGA
Name: 23764, dtype: object
0           LG1
1         25501
2             T
3            10
4    ,,,,,,,,..
5    >JJIJCJIGA
Name: 23764, dtype: object
0           LG1
1         25501
2             T
3            10
4    ,,,,,,,,..
5    >JJIJCJIGA
Name: 23764, dtype: object
0           LG1
1         25501
2             T
3            10
4    ,,,,,,,,..
5    >JJIJCJIGA
Name: 23764, dtype: object
0           LG1
1         25501
2             T
3            10
4    ,,,,,,,,..
5    >JJIJCJIGA
Name: 23764, dtype: object
0           LG1
1         25501
2             T
3            10
4    ,,,,,,,,..
5    >JJIJCJIGA
Name: 23764, dtype: object
0           LG1
1         25501
2             T
3            10
4    ,,,,,,,,..
5    >JJIJCJIGA
Name: 23764, dtype: object
0           LG1
1         25501
2             T
3            10
4    ,,,,,,,,..
5    >JJIJCJIGA
Name: 23764, dtype: object
0           LG1
1         25506
2             G
3             9
4    ,,,,,,,.$.
5     JIIJHII?E
Name: 23769, dtype: object
0           LG1
1         25506
2             G
3             9
4    ,,,,,,,.$.
5     JIIJHII?E
Name: 23769, dtype: object
0           LG1
1         25506
2             G
3             9
4    ,,,,,,,.$.
5     JIIJHII?E
Name: 23769, dtype: object
0           LG1
1         25506
2             G
3             9
4    ,,,,,,,.$.
5     JIIJHII?E
Name: 23769, dtype: object
0           LG1
1         25506
2             G
3             9
4    ,,,,,,,.$.
5     JIIJHII?E
Name: 23769, dtype: object
0           LG1
1         25506
2             G
3             9
4    ,,,,,,,.$.
5     JIIJHII?E
Name: 23769, dtype: object
0           LG1
1         25506
2             G
3             9
4    ,,,,,,,.$.
5     JIIJHII?E
Name: 23769, dtype: object
0           LG1
1         25506
2             G
3             9
4    ,,,,,,,.$.
5     JIIJHII?E
Name: 23769, dtype: object
0           LG1
1         25506
2             G
3             9
4    ,,,,,,,.$.
5     JIIJHII?E
Name: 23769, dtype: object
0           LG1
1         28054
2             A
3            10
4    ,.,,,.,,,,
5    DJD@CA<D@<
Name: 24638, dtype: object
0           LG1
1         28054
2             A
3            10
4    ,.,,,.,,,,
5    DJD@CA<D@<
Name: 24638, dtype: object
0           LG1
1         28054
2             A
3            10
4    ,.,,,.,,,,
5    DJD@CA<D@<
Name: 24638, dtype: object
0           LG1
1         28054
2             A
3            10
4    ,.,,,.,,,,
5    DJD@CA<D@<
Name: 24638, dtype: object
0           LG1
1         28054
2             A
3            10
4    ,.,,,.,,,,
5    DJD@CA<D@<
Name: 24638, dtype: object
0           LG1
1         28054
2             A
3            10
4    ,.,,,.,,,,
5    DJD@CA<D@<
Name: 24638, dtype: object
0           LG1
1         28054
2             A
3            10
4    ,.,,,.,,,,
5    DJD@CA<D@<
Name: 24638, dtype: object
0           LG1
1         28054
2             A
3            10
4    ,.,,,.,,,,
5    DJD@CA<D@<
Name: 24638, dtype: object
0           LG1
1         28055
2             G
3            10
4    ,.,,,.,,,,
5    BJB>@B<BB<
Name: 24639, dtype: object
0           LG1
1         28055
2             G
3            10
4    ,.,,,.,,,,
5    BJB>@B<BB<
Name: 24639, dtype: object
0           LG1
1         28055
2             G
3            10
4    ,.,,,.,,,,
5    BJB>@B<BB<
Name: 24639, dtype: object
0           LG1
1         28055
2             G
3            10
4    ,.,,,.,,,,
5    BJB>@B<BB<
Name: 24639, dtype: object
0           LG1
1         28055
2             G
3            10
4    ,.,,,.,,,,
5    BJB>@B<BB<
Name: 24639, dtype: object
0           LG1
1         28055
2             G
3            10
4    ,.,,,.,,,,
5    BJB>@B<BB<
Name: 24639, dtype: object
0           LG1
1         28055
2             G
3            10
4    ,.,,,.,,,,
5    BJB>@B<BB<
Name: 24639, dtype: object
0           LG1
1         28056
2             C
3            10
4    ,.,,,.,,,,
5    DJB><?<>B<
Name: 24640, dtype: object
0           LG1
1         28056
2             C
3            10
4    ,.,,,.,,,,
5    DJB><?<>B<
Name: 24640, dtype: object
0           LG1
1         28056
2             C
3            10
4    ,.,,,.,,,,
5    DJB><?<>B<
Name: 24640, dtype: object
0           LG1
1         28056
2             C
3            10
4    ,.,,,.,,,,
5    DJB><?<>B<
Name: 24640, dtype: object
0           LG1
1         28056
2             C
3            10
4    ,.,,,.,,,,
5    DJB><?<>B<
Name: 24640, dtype: object
0           LG1
1         28057
2             C
3            10
4    ,.,,,T,,,,
5    DJDDD28<B5
Name: 24641, dtype: object
0           LG1
1         28057
2             C
3            10
4    ,.,,,T,,,,
5    DJDDD28<B5
Name: 24641, dtype: object
0           LG1
1         28057
2             C
3            10
4    ,.,,,T,,,,
5    DJDDD28<B5
Name: 24641, dtype: object
0           LG1
1         28057
2             C
3            10
4    ,.,,,T,,,,
5    DJDDD28<B5
Name: 24641, dtype: object
0           LG1
1         28057
2             C
3            10
4    ,.,,,T,,,,
5    DJDDD28<B5
Name: 24641, dtype: object
0           LG1
1         28057
2             C
3            10
4    ,.,,,T,,,,
5    DJDDD28<B5
Name: 24641, dtype: object
0           LG1
1         28060
2             C
3            10
4    ,.,,,.,,,,
5    ?JE??33<D0
Name: 24644, dtype: object
0           LG1
1         28060
2             C
3            10
4    ,.,,,.,,,,
5    ?JE??33<D0
Name: 24644, dtype: object
0           LG1
1         28060
2             C
3            10
4    ,.,,,.,,,,
5    ?JE??33<D0
Name: 24644, dtype: object
0           LG1
1         28060
2             C
3            10
4    ,.,,,.,,,,
5    ?JE??33<D0
Name: 24644, dtype: object
0           LG1
1         28060
2             C
3            10
4    ,.,,,.,,,,
5    ?JE??33<D0
Name: 24644, dtype: object
0           LG1
1         28060
2             C
3            10
4    ,.,,,.,,,,
5    ?JE??33<D0
Name: 24644, dtype: object
0           LG1
1         28061
2             G
3            10
4    ,.,,,.a,,,
5    CIA@@@<DD:
Name: 24645, dtype: object
0           LG1
1         28061
2             G
3            10
4    ,.,,,.a,,,
5    CIA@@@<DD:
Name: 24645, dtype: object
0           LG1
1         28061
2             G
3            10
4    ,.,,,.a,,,
5    CIA@@@<DD:
Name: 24645, dtype: object
0           LG1
1         28061
2             G
3            10
4    ,.,,,.a,,,
5    CIA@@@<DD:
Name: 24645, dtype: object
0           LG1
1         28061
2             G
3            10
4    ,.,,,.a,,,
5    CIA@@@<DD:
Name: 24645, dtype: object
0           LG1
1         28061
2             G
3            10
4    ,.,,,.a,,,
5    CIA@@@<DD:
Name: 24645, dtype: object
0           LG1
1         28061
2             G
3            10
4    ,.,,,.a,,,
5    CIA@@@<DD:
Name: 24645, dtype: object
0           LG1
1         28061
2             G
3            10
4    ,.,,,.a,,,
5    CIA@@@<DD:
Name: 24645, dtype: object
0           LG1
1         28062
2             A
3            10
4    ,.,,,.,,,,
5    FJ@DDC?DDD
Name: 24646, dtype: object
0           LG1
1         28062
2             A
3            10
4    ,.,,,.,,,,
5    FJ@DDC?DDD
Name: 24646, dtype: object
0           LG1
1         28062
2             A
3            10
4    ,.,,,.,,,,
5    FJ@DDC?DDD
Name: 24646, dtype: object
0           LG1
1         28062
2             A
3            10
4    ,.,,,.,,,,
5    FJ@DDC?DDD
Name: 24646, dtype: object
0           LG1
1         28062
2             A
3            10
4    ,.,,,.,,,,
5    FJ@DDC?DDD
Name: 24646, dtype: object
0           LG1
1         28062
2             A
3            10
4    ,.,,,.,,,,
5    FJ@DDC?DDD
Name: 24646, dtype: object
0           LG1
1         28062
2             A
3            10
4    ,.,,,.,,,,
5    FJ@DDC?DDD
Name: 24646, dtype: object
0           LG1
1         28062
2             A
3            10
4    ,.,,,.,,,,
5    FJ@DDC?DDD
Name: 24646, dtype: object
0           LG1
1         28062
2             A
3            10
4    ,.,,,.,,,,
5    FJ@DDC?DDD
Name: 24646, dtype: object
0           LG1
1         28062
2             A
3            10
4    ,.,,,.,,,,
5    FJ@DDC?DDD
Name: 24646, dtype: object
0           LG1
1         28063
2             A
3            10
4    ,.,,,.,,,,
5    FJCCCH@DDC
Name: 24647, dtype: object
0           LG1
1         28063
2             A
3            10
4    ,.,,,.,,,,
5    FJCCCH@DDC
Name: 24647, dtype: object
0           LG1
1         28063
2             A
3            10
4    ,.,,,.,,,,
5    FJCCCH@DDC
Name: 24647, dtype: object
0           LG1
1         28063
2             A
3            10
4    ,.,,,.,,,,
5    FJCCCH@DDC
Name: 24647, dtype: object
0           LG1
1         28063
2             A
3            10
4    ,.,,,.,,,,
5    FJCCCH@DDC
Name: 24647, dtype: object
0           LG1
1         28063
2             A
3            10
4    ,.,,,.,,,,
5    FJCCCH@DDC

Name: 24647, dtype: object
0           LG1
1         28063
2             A
3            10
4    ,.,,,.,,,,
5    FJCCCH@DDC
Name: 24647, dtype: object
0           LG1
1         28063
2             A
3            10
4    ,.,,,.,,,,
5    FJCCCH@DDC
Name: 24647, dtype: object
0           LG1
1         28063
2             A
3            10
4    ,.,,,.,,,,
5    FJCCCH@DDC
Name: 24647, dtype: object
0           LG1
1         28063
2             A
3            10
4    ,.,,,.,,,,
5    FJCCCH@DDC
Name: 24647, dtype: object
0           LG1
1         28064
2             A
3            10
4    ,.,,,.,,,,
5    EH;DCA>ED@
Name: 24648, dtype: object
0           LG1
1         28064
2             A
3            10
4    ,.,,,.,,,,
5    EH;DCA>ED@
Name: 24648, dtype: object
0           LG1
1         28064
2             A
3            10
4    ,.,,,.,,,,
5    EH;DCA>ED@
Name: 24648, dtype: object
0           LG1
1         28064
2             A
3            10
4    ,.,,,.,,,,
5    EH;DCA>ED@
Name: 24648, dtype: object
0           LG1
1         28064
2             A
3            10
4    ,.,,,.,,,,
5    EH;DCA>ED@
Name: 24648, dtype: object
0           LG1
1         28064
2             A
3            10
4    ,.,,,.,,,,
5    EH;DCA>ED@
Name: 24648, dtype: object
0           LG1
1         28064
2             A
3            10
4    ,.,,,.,,,,
5    EH;DCA>ED@
Name: 24648, dtype: object
0           LG1
1         28064
2             A
3            10
4    ,.,,,.,,,,
5    EH;DCA>ED@
Name: 24648, dtype: object
0           LG1
1         28065
2             C
3            10
4    ,.,,,.,a,,
5    FHJADH;ED:
Name: 24649, dtype: object
0           LG1
1         28065
2             C
3            10
4    ,.,,,.,a,,
5    FHJADH;ED:
Name: 24649, dtype: object
0           LG1
1         28065
2             C
3            10
4    ,.,,,.,a,,
5    FHJADH;ED:
Name: 24649, dtype: object
0           LG1
1         28065
2             C
3            10
4    ,.,,,.,a,,
5    FHJADH;ED:
Name: 24649, dtype: object
0           LG1
1         28065
2             C
3            10
4    ,.,,,.,a,,
5    FHJADH;ED:
Name: 24649, dtype: object
0           LG1
1         28065
2             C
3            10
4    ,.,,,.,a,,
5    FHJADH;ED:
Name: 24649, dtype: object
0           LG1
1         28065
2             C
3            10
4    ,.,,,.,a,,
5    FHJADH;ED:
Name: 24649, dtype: object
0           LG1
1         28065
2             C
3            10
4    ,.,,,.,a,,
5    FHJADH;ED:
Name: 24649, dtype: object
0           LG1
1         28066
2             A
3            10
4    ,.,,,.,,,,
5    DHIDDD=EED
Name: 24650, dtype: object
0           LG1
1         28066
2             A
3            10
4    ,.,,,.,,,,
5    DHIDDD=EED
Name: 24650, dtype: object
0           LG1
1         28066
2             A
3            10
4    ,.,,,.,,,,
5    DHIDDD=EED
Name: 24650, dtype: object
0           LG1
1         28066
2             A
3            10
4    ,.,,,.,,,,
5    DHIDDD=EED
Name: 24650, dtype: object
0           LG1
1         28066
2             A
3            10
4    ,.,,,.,,,,
5    DHIDDD=EED
Name: 24650, dtype: object
0           LG1
1         28066
2             A
3            10
4    ,.,,,.,,,,
5    DHIDDD=EED
Name: 24650, dtype: object
0           LG1
1         28066
2             A
3            10
4    ,.,,,.,,,,
5    DHIDDD=EED
Name: 24650, dtype: object
0           LG1
1         28066
2             A
3            10
4    ,.,,,.,,,,
5    DHIDDD=EED
Name: 24650, dtype: object
0           LG1
1         28066
2             A
3            10
4    ,.,,,.,,,,
5    DHIDDD=EED
Name: 24650, dtype: object
0           LG1
1         28067
2             A
3            10
4    ,.,,,.,,,,
5    DFHCCA@DDC
Name: 24651, dtype: object
0           LG1
1         28067
2             A
3            10
4    ,.,,,.,,,,
5    DFHCCA@DDC
Name: 24651, dtype: object
0           LG1
1         28067
2             A
3            10
4    ,.,,,.,,,,
5    DFHCCA@DDC
Name: 24651, dtype: object
0           LG1
1         28067
2             A
3            10
4    ,.,,,.,,,,
5    DFHCCA@DDC
Name: 24651, dtype: object
0           LG1
1         28067
2             A
3            10
4    ,.,,,.,,,,
5    DFHCCA@DDC
Name: 24651, dtype: object
0           LG1
1         28067
2             A
3            10
4    ,.,,,.,,,,
5    DFHCCA@DDC
Name: 24651, dtype: object
0           LG1
1         28067
2             A
3            10
4    ,.,,,.,,,,
5    DFHCCA@DDC
Name: 24651, dtype: object
0           LG1
1         28067
2             A
3            10
4    ,.,,,.,,,,
5    DFHCCA@DDC
Name: 24651, dtype: object
0           LG1
1         28067
2             A
3            10
4    ,.,,,.,,,,
5    DFHCCA@DDC
Name: 24651, dtype: object
0           LG1
1         28067
2             A
3            10
4    ,.,,,.,,,,
5    DFHCCA@DDC
Name: 24651, dtype: object
0           LG1
1         28068
2             T
3            10
4    ,.,,,.,,,,
5    DFDAE9?DE>
Name: 24652, dtype: object
0           LG1
1         28068
2             T
3            10
4    ,.,,,.,,,,
5    DFDAE9?DE>
Name: 24652, dtype: object
0           LG1
1         28068
2             T
3            10
4    ,.,,,.,,,,
5    DFDAE9?DE>
Name: 24652, dtype: object
0           LG1
1         28068
2             T
3            10
4    ,.,,,.,,,,
5    DFDAE9?DE>
Name: 24652, dtype: object
0           LG1
1         28068
2             T
3            10
4    ,.,,,.,,,,
5    DFDAE9?DE>
Name: 24652, dtype: object
0           LG1
1         28068
2             T
3            10
4    ,.,,,.,,,,
5    DFDAE9?DE>
Name: 24652, dtype: object
0           LG1
1         28068
2             T
3            10
4    ,.,,,.,,,,
5    DFDAE9?DE>
Name: 24652, dtype: object
0           LG1
1         28068
2             T
3            10
4    ,.,,,.,,,,
5    DFDAE9?DE>
Name: 24652, dtype: object
0           LG1
1         28069
2             A
3            10
4    ,.,,,.,,,,
5    HFHDFF?EEE
Name: 24653, dtype: object
0           LG1
1         28069
2             A
3            10
4    ,.,,,.,,,,
5    HFHDFF?EEE
Name: 24653, dtype: object
0           LG1
1         28069
2             A
3            10
4    ,.,,,.,,,,
5    HFHDFF?EEE
Name: 24653, dtype: object
0           LG1
1         28069
2             A
3            10
4    ,.,,,.,,,,
5    HFHDFF?EEE
Name: 24653, dtype: object
0           LG1
1         28069
2             A
3            10
4    ,.,,,.,,,,
5    HFHDFF?EEE
Name: 24653, dtype: object
0           LG1
1         28069
2             A
3            10
4    ,.,,,.,,,,
5    HFHDFF?EEE
Name: 24653, dtype: object
0           LG1
1         28069
2             A
3            10
4    ,.,,,.,,,,
5    HFHDFF?EEE
Name: 24653, dtype: object
0           LG1
1         28069
2             A
3            10
4    ,.,,,.,,,,
5    HFHDFF?EEE
Name: 24653, dtype: object
0           LG1
1         28069
2             A
3            10
4    ,.,,,.,,,,
5    HFHDFF?EEE
Name: 24653, dtype: object
0           LG1
1         28069
2             A
3            10
4    ,.,,,.,,,,
5    HFHDFF?EEE
Name: 24653, dtype: object
0           LG1
1         28070
2             A
3            10
4    ,.,,,.,,,,
5    HFGCD>?EDD
Name: 24654, dtype: object
0           LG1
1         28070
2             A
3            10
4    ,.,,,.,,,,
5    HFGCD>?EDD
Name: 24654, dtype: object
0           LG1
1         28070
2             A
3            10
4    ,.,,,.,,,,
5    HFGCD>?EDD
Name: 24654, dtype: object
0           LG1
1         28070
2             A
3            10
4    ,.,,,.,,,,
5    HFGCD>?EDD
Name: 24654, dtype: object
0           LG1
1         28070
2             A
3            10
4    ,.,,,.,,,,
5    HFGCD>?EDD
Name: 24654, dtype: object
0           LG1
1         28070
2             A
3            10
4    ,.,,,.,,,,
5    HFGCD>?EDD
Name: 24654, dtype: object
0           LG1
1         28070
2             A
3            10
4    ,.,,,.,,,,
5    HFGCD>?EDD
Name: 24654, dtype: object
0           LG1
1         28070
2             A
3            10
4    ,.,,,.,,,,
5    HFGCD>?EDD
Name: 24654, dtype: object
0           LG1
1         28070
2             A
3            10
4    ,.,,,.,,,,
5    HFGCD>?EDD
Name: 24654, dtype: object
0           LG1
1         28071
2             G
3            10
4    ,.,,,.,,,,
5    EFH>DC=FDD
Name: 24655, dtype: object
0           LG1
1         28071
2             G
3            10
4    ,.,,,.,,,,
5    EFH>DC=FDD
Name: 24655, dtype: object
0           LG1
1         28071
2             G
3            10
4    ,.,,,.,,,,
5    EFH>DC=FDD
Name: 24655, dtype: object
0           LG1
1         28071
2             G
3            10
4    ,.,,,.,,,,
5    EFH>DC=FDD
Name: 24655, dtype: object
0           LG1
1         28071
2             G
3            10
4    ,.,,,.,,,,
5    EFH>DC=FDD
Name: 24655, dtype: object
0           LG1
1         28071
2             G
3            10
4    ,.,,,.,,,,
5    EFH>DC=FDD
Name: 24655, dtype: object
0           LG1
1         28071
2             G
3            10
4    ,.,,,.,,,,
5    EFH>DC=FDD
Name: 24655, dtype: object
0           LG1
1         28071
2             G
3            10
4    ,.,,,.,,,,
5    EFH>DC=FDD
Name: 24655, dtype: object
0           LG1
1         28072
2             A
3            10
4    ,.,,,.,,,,
5    CFHCD<>EDD
Name: 24656, dtype: object
0           LG1
1         28072
2             A
3            10
4    ,.,,,.,,,,
5    CFHCD<>EDD
Name: 24656, dtype: object
0           LG1
1         28072
2             A
3            10
4    ,.,,,.,,,,
5    CFHCD<>EDD
Name: 24656, dtype: object
0           LG1
1         28072
2             A
3            10
4    ,.,,,.,,,,
5    CFHCD<>EDD
Name: 24656, dtype: object
0           LG1
1         28072
2             A
3            10
4    ,.,,,.,,,,
5    CFHCD<>EDD
Name: 24656, dtype: object
0           LG1
1         28072
2             A
3            10
4    ,.,,,.,,,,
5    CFHCD<>EDD
Name: 24656, dtype: object
0           LG1
1         28072
2             A
3            10
4    ,.,,,.,,,,
5    CFHCD<>EDD
Name: 24656, dtype: object
0           LG1
1         28072
2             A
3            10
4    ,.,,,.,,,,
5    CFHCD<>EDD
Name: 24656, dtype: object
0           LG1
1         28073
2             T
3            10
4    ,.,,,.,,,,
5    HEG@B9=DBB
Name: 24657, dtype: object
0           LG1
1         28073
2             T
3            10
4    ,.,,,.,,,,
5    HEG@B9=DBB
Name: 24657, dtype: object
0           LG1
1         28073
2             T
3            10
4    ,.,,,.,,,,
5    HEG@B9=DBB
Name: 24657, dtype: object
0           LG1
1         28073
2             T
3            10
4    ,.,,,.,,,,
5    HEG@B9=DBB
Name: 24657, dtype: object
0           LG1
1         28073
2             T
3            10
4    ,.,,,.,,,,
5    HEG@B9=DBB
Name: 24657, dtype: object
0           LG1
1         28073
2             T
3            10
4    ,.,,,.,,,,
5    HEG@B9=DBB
Name: 24657, dtype: object
0           LG1
1         28073
2             T
3            10
4    ,.,,,.,,,,
5    HEG@B9=DBB
Name: 24657, dtype: object
0           LG1
1         28073
2             T
3            10
4    ,.,,,.,,,,
5    HEG@B9=DBB
Name: 24657, dtype: object
0           LG1
1         28075
2             T
3            10
4    ,.a,,.,,,,
5    IEJD@G=DDB
Name: 24659, dtype: object
0           LG1
1         28075
2             T
3            10
4    ,.a,,.,,,,
5    IEJD@G=DDB
Name: 24659, dtype: object
0           LG1
1         28075
2             T
3            10
4    ,.a,,.,,,,
5    IEJD@G=DDB
Name: 24659, dtype: object
0           LG1
1         28075
2             T
3            10
4    ,.a,,.,,,,
5    IEJD@G=DDB
Name: 24659, dtype: object
0           LG1
1         28075
2             T
3            10
4    ,.a,,.,,,,
5    IEJD@G=DDB
Name: 24659, dtype: object
0           LG1
1         28075
2             T
3            10
4    ,.a,,.,,,,
5    IEJD@G=DDB
Name: 24659, dtype: object
0           LG1
1         28075
2             T
3            10
4    ,.a,,.,,,,
5    IEJD@G=DDB
Name: 24659, dtype: object
0           LG1
1         28075
2             T
3            10
4    ,.a,,.,,,,
5    IEJD@G=DDB
Name: 24659, dtype: object
0           LG1
1         28075
2             T
3            10
4    ,.a,,.,,,,
5    IEJD@G=DDB
Name: 24659, dtype: object
0           LG1
1         28076
2             T
3            10
4    ,.,,,.,,,,
5    JEHB?E3DB<
Name: 24660, dtype: object
0           LG1
1         28076
2             T
3            10
4    ,.,,,.,,,,
5    JEHB?E3DB<
Name: 24660, dtype: object
0           LG1
1         28076
2             T
3            10
4    ,.,,,.,,,,
5    JEHB?E3DB<
Name: 24660, dtype: object
0           LG1
1         28076
2             T
3            10
4    ,.,,,.,,,,
5    JEHB?E3DB<
Name: 24660, dtype: object
0           LG1
1         28076
2             T
3            10
4    ,.,,,.,,,,
5    JEHB?E3DB<
Name: 24660, dtype: object
0           LG1
1         28076
2             T
3            10
4    ,.,,,.,,,,
5    JEHB?E3DB<
Name: 24660, dtype: object
0           LG1
1         28076
2             T
3            10
4    ,.,,,.,,,,
5    JEHB?E3DB<
Name: 24660, dtype: object
0           LG1
1         28076
2             T
3            10
4    ,.,,,.,,,,
5    JEHB?E3DB<
Name: 24660, dtype: object
0           LG1
1         28077
2             C
3            10
4    ,T,,,.,,,,
5    GEID><3DBB
Name: 24661, dtype: object
0           LG1
1         28077
2             C
3            10
4    ,T,,,.,,,,
5    GEID><3DBB
Name: 24661, dtype: object
0           LG1
1         28077
2             C
3            10
4    ,T,,,.,,,,
5    GEID><3DBB
Name: 24661, dtype: object
0           LG1
1         28077
2             C
3            10
4    ,T,,,.,,,,
5    GEID><3DBB
Name: 24661, dtype: object
0           LG1
1         28077
2             C
3            10
4    ,T,,,.,,,,
5    GEID><3DBB
Name: 24661, dtype: object
0           LG1
1         28077
2             C
3            10
4    ,T,,,.,,,,
5    GEID><3DBB
Name: 24661, dtype: object
0           LG1
1         28077
2             C
3            10
4    ,T,,,.,,,,
5    GEID><3DBB
Name: 24661, dtype: object
0           LG1
1         28113
2             A
3            10
4    ,.,,.,,,,,
5    DDFGCJH.DF
Name: 24697, dtype: object
0           LG1
1         28113
2             A
3            10
4    ,.,,.,,,,,
5    DDFGCJH.DF
Name: 24697, dtype: object
0           LG1
1         28113
2             A
3            10
4    ,.,,.,,,,,
5    DDFGCJH.DF
Name: 24697, dtype: object
0           LG1
1         28113
2             A
3            10
4    ,.,,.,,,,,
5    DDFGCJH.DF
Name: 24697, dtype: object
0           LG1
1         28113
2             A
3            10
4    ,.,,.,,,,,
5    DDFGCJH.DF
Name: 24697, dtype: object

0           LG1
1         28113
2             A
3            10
4    ,.,,.,,,,,
5    DDFGCJH.DF
Name: 24697, dtype: object
0           LG1
1         28113
2             A
3            10
4    ,.,,.,,,,,
5    DDFGCJH.DF
Name: 24697, dtype: object
0           LG1
1         28113
2             A
3            10
4    ,.,,.,,,,,
5    DDFGCJH.DF
Name: 24697, dtype: object
0           LG1
1         28113
2             A
3            10
4    ,.,,.,,,,,
5    DDFGCJH.DF
Name: 24697, dtype: object
0           LG1
1         28114
2             A
3            10
4    ,.,,.,,,,,
5    FDFFDJF1EF
Name: 24698, dtype: object
0           LG1
1         28114
2             A
3            10
4    ,.,,.,,,,,
5    FDFFDJF1EF
Name: 24698, dtype: object
0           LG1
1         28114
2             A
3            10
4    ,.,,.,,,,,
5    FDFFDJF1EF
Name: 24698, dtype: object
0           LG1
1         28114
2             A
3            10
4    ,.,,.,,,,,
5    FDFFDJF1EF
Name: 24698, dtype: object
0           LG1
1         28114
2             A
3            10
4    ,.,,.,,,,,
5    FDFFDJF1EF
Name: 24698, dtype: object
0           LG1
1         28114
2             A
3            10
4    ,.,,.,,,,,
5    FDFFDJF1EF
Name: 24698, dtype: object
0           LG1
1         28114
2             A
3            10
4    ,.,,.,,,,,
5    FDFFDJF1EF
Name: 24698, dtype: object
0           LG1
1         28114
2             A
3            10
4    ,.,,.,,,,,
5    FDFFDJF1EF
Name: 24698, dtype: object
0           LG1
1         28114
2             A
3            10
4    ,.,,.,,,,,
5    FDFFDJF1EF
Name: 24698, dtype: object
0           LG1
1         28116
2             T
3            10
4    ,.,,,,,,,,
5    FCDAGJGIDE
Name: 24700, dtype: object
0           LG1
1         28116
2             T
3            10
4    ,.,,,,,,,,
5    FCDAGJGIDE
Name: 24700, dtype: object
0           LG1
1         28116
2             T
3            10
4    ,.,,,,,,,,
5    FCDAGJGIDE
Name: 24700, dtype: object
0           LG1
1         28116
2             T
3            10
4    ,.,,,,,,,,
5    FCDAGJGIDE
Name: 24700, dtype: object
0           LG1
1         28116
2             T
3            10
4    ,.,,,,,,,,
5    FCDAGJGIDE
Name: 24700, dtype: object
0           LG1
1         28116
2             T
3            10
4    ,.,,,,,,,,
5    FCDAGJGIDE
Name: 24700, dtype: object
0           LG1
1         28116
2             T
3            10
4    ,.,,,,,,,,
5    FCDAGJGIDE
Name: 24700, dtype: object
0           LG1
1         28116
2             T
3            10
4    ,.,,,,,,,,
5    FCDAGJGIDE
Name: 24700, dtype: object
0           LG1
1         28116
2             T
3            10
4    ,.,,,,,,,,
5    FCDAGJGIDE
Name: 24700, dtype: object
0           LG1
1         28116
2             T
3            10
4    ,.,,,,,,,,
5    FCDAGJGIDE
Name: 24700, dtype: object
0           LG1
1         28118
2             T
3            10
4    ,.,,.,,,,,
5    FDDC;J<ICD
Name: 24702, dtype: object
0           LG1
1         28118
2             T
3            10
4    ,.,,.,,,,,
5    FDDC;J<ICD
Name: 24702, dtype: object
0           LG1
1         28118
2             T
3            10
4    ,.,,.,,,,,
5    FDDC;J<ICD
Name: 24702, dtype: object
0           LG1
1         28118
2             T
3            10
4    ,.,,.,,,,,
5    FDDC;J<ICD
Name: 24702, dtype: object
0           LG1
1         28118
2             T
3            10
4    ,.,,.,,,,,
5    FDDC;J<ICD
Name: 24702, dtype: object
0           LG1
1         28118
2             T
3            10
4    ,.,,.,,,,,
5    FDDC;J<ICD
Name: 24702, dtype: object
0           LG1
1         28118
2             T
3            10
4    ,.,,.,,,,,
5    FDDC;J<ICD
Name: 24702, dtype: object
0           LG1
1         28118
2             T
3            10
4    ,.,,.,,,,,
5    FDDC;J<ICD
Name: 24702, dtype: object
0           LG1
1         28130
2             T
3             8
4    ,$,.$,,,,,
5      CD?IGIBF
Name: 24714, dtype: object
0           LG1
1         28130
2             T
3             8
4    ,$,.$,,,,,
5      CD?IGIBF
Name: 24714, dtype: object
0           LG1
1         28130
2             T
3             8
4    ,$,.$,,,,,
5      CD?IGIBF
Name: 24714, dtype: object
0           LG1
1         28130
2             T
3             8
4    ,$,.$,,,,,
5      CD?IGIBF
Name: 24714, dtype: object
0           LG1
1         28130
2             T
3             8
4    ,$,.$,,,,,
5      CD?IGIBF
Name: 24714, dtype: object
0           LG1
1         28130
2             T
3             8
4    ,$,.$,,,,,
5      CD?IGIBF
Name: 24714, dtype: object
0           LG1
1         28130
2             T
3             8
4    ,$,.$,,,,,
5      CD?IGIBF
Name: 24714, dtype: object
0           LG1
1         28130
2             T
3             8
4    ,$,.$,,,,,
5      CD?IGIBF
Name: 24714, dtype: object
0           LG1
1         28821
2             C
3            10
4    ,,,t,,,,,,
5    JJJEIH3C3D
Name: 25359, dtype: object
0           LG1
1         28821
2             C
3            10
4    ,,,t,,,,,,
5    JJJEIH3C3D
Name: 25359, dtype: object
0           LG1
1         28821
2             C
3            10
4    ,,,t,,,,,,
5    JJJEIH3C3D
Name: 25359, dtype: object
0           LG1
1         28821
2             C
3            10
4    ,,,t,,,,,,
5    JJJEIH3C3D
Name: 25359, dtype: object
0           LG1
1         28821
2             C
3            10
4    ,,,t,,,,,,
5    JJJEIH3C3D
Name: 25359, dtype: object
0           LG1
1         28821
2             C
3            10
4    ,,,t,,,,,,
5    JJJEIH3C3D
Name: 25359, dtype: object
0           LG1
1         28821
2             C
3            10
4    ,,,t,,,,,,
5    JJJEIH3C3D
Name: 25359, dtype: object
0           LG1
1         28821
2             C
3            10
4    ,,,t,,,,,,
5    JJJEIH3C3D
Name: 25359, dtype: object
0           LG1
1         28822
2             C
3            10
4    tt,tttt,,t
5    JIJIJH3DAD
Name: 25360, dtype: object
0           LG1
1         28822
2             C
3            10
4    tt,tttt,,t
5    JIJIJH3DAD
Name: 25360, dtype: object
0           LG1
1         28822
2             C
3            10
4    tt,tttt,,t
5    JIJIJH3DAD
Name: 25360, dtype: object
0           LG1
1         28822
2             C
3            10
4    tt,tttt,,t
5    JIJIJH3DAD
Name: 25360, dtype: object
0           LG1
1         28822
2             C
3            10
4    tt,tttt,,t
5    JIJIJH3DAD
Name: 25360, dtype: object
0           LG1
1         28822
2             C
3            10
4    tt,tttt,,t
5    JIJIJH3DAD
Name: 25360, dtype: object
0           LG1
1         28822
2             C
3            10
4    tt,tttt,,t
5    JIJIJH3DAD
Name: 25360, dtype: object
0           LG1
1         28822
2             C
3            10
4    tt,tttt,,t
5    JIJIJH3DAD
Name: 25360, dtype: object
0           LG1
1         28822
2             C
3            10
4    tt,tttt,,t
5    JIJIJH3DAD
Name: 25360, dtype: object
0           LG1
1         28823
2             T
3            10
4    ,,,,,,,,,,
5    JIIIIH3D>D
Name: 25361, dtype: object
0           LG1
1         28823
2             T
3            10
4    ,,,,,,,,,,
5    JIIIIH3D>D
Name: 25361, dtype: object
0           LG1
1         28823
2             T
3            10
4    ,,,,,,,,,,
5    JIIIIH3D>D
Name: 25361, dtype: object
0           LG1
1         28823
2             T
3            10
4    ,,,,,,,,,,
5    JIIIIH3D>D
Name: 25361, dtype: object
0           LG1
1         28823
2             T
3            10
4    ,,,,,,,,,,
5    JIIIIH3D>D
Name: 25361, dtype: object
0           LG1
1         28823
2             T
3            10
4    ,,,,,,,,,,
5    JIIIIH3D>D
Name: 25361, dtype: object
0           LG1
1         28823
2             T
3            10
4    ,,,,,,,,,,
5    JIIIIH3D>D
Name: 25361, dtype: object
0           LG1
1         28823
2             T
3            10
4    ,,,,,,,,,,
5    JIIIIH3D>D
Name: 25361, dtype: object
0           LG1
1         28824
2             T
3            10
4    ,,,,,,,,,,
5    JJJHFJ3DAD
Name: 25362, dtype: object
0           LG1
1         28824
2             T
3            10
4    ,,,,,,,,,,
5    JJJHFJ3DAD
Name: 25362, dtype: object
0           LG1
1         28824
2             T
3            10
4    ,,,,,,,,,,
5    JJJHFJ3DAD
Name: 25362, dtype: object
0           LG1
1         28824
2             T
3            10
4    ,,,,,,,,,,
5    JJJHFJ3DAD

Name: 25362, dtype: object
0           LG1
1         28824
2             T
3            10
4    ,,,,,,,,,,
5    JJJHFJ3DAD
Name: 25362, dtype: object
0           LG1
1         28824
2             T
3            10
4    ,,,,,,,,,,
5    JJJHFJ3DAD
Name: 25362, dtype: object
0           LG1
1         28824
2             T
3            10
4    ,,,,,,,,,,
5    JJJHFJ3DAD
Name: 25362, dtype: object
0           LG1
1         28824
2             T
3            10
4    ,,,,,,,,,,
5    JJJHFJ3DAD
Name: 25362, dtype: object
0           LG1
1         28824
2             T
3            10
4    ,,,,,,,,,,
5    JJJHFJ3DAD
Name: 25362, dtype: object
0           LG1
1         28825
2             C
3            10
4    gg,g,gg,,g
5    IJJGJJ3D>D
Name: 25363, dtype: object
0           LG1
1         28825
2             C
3            10
4    gg,g,gg,,g
5    IJJGJJ3D>D
Name: 25363, dtype: object
0           LG1
1         28825
2             C
3            10
4    gg,g,gg,,g
5    IJJGJJ3D>D
Name: 25363, dtype: object
0           LG1
1         28825
2             C
3            10
4    gg,g,gg,,g
5    IJJGJJ3D>D
Name: 25363, dtype: object
0           LG1
1         28825
2             C
3            10
4    gg,g,gg,,g
5    IJJGJJ3D>D
Name: 25363, dtype: object
0           LG1
1         28825
2             C
3            10
4    gg,g,gg,,g
5    IJJGJJ3D>D
Name: 25363, dtype: object
0           LG1
1         28825
2             C
3            10
4    gg,g,gg,,g
5    IJJGJJ3D>D
Name: 25363, dtype: object
0           LG1
1         28825
2             C
3            10
4    gg,g,gg,,g
5    IJJGJJ3D>D
Name: 25363, dtype: object
0           LG1
1         28826
2             A
3            10
4    ,,,,,,,,,,
5    HJJHJJJD2D
Name: 25364, dtype: object
0           LG1
1         28826
2             A
3            10
4    ,,,,,,,,,,
5    HJJHJJJD2D
Name: 25364, dtype: object
0           LG1
1         28826
2             A
3            10
4    ,,,,,,,,,,
5    HJJHJJJD2D
Name: 25364, dtype: object
0           LG1
1         28826
2             A
3            10
4    ,,,,,,,,,,
5    HJJHJJJD2D
Name: 25364, dtype: object
0           LG1
1         28826
2             A
3            10
4    ,,,,,,,,,,
5    HJJHJJJD2D
Name: 25364, dtype: object
0           LG1
1         28826
2             A
3            10
4    ,,,,,,,,,,
5    HJJHJJJD2D
Name: 25364, dtype: object
0           LG1
1         28826
2             A
3            10
4    ,,,,,,,,,,
5    HJJHJJJD2D
Name: 25364, dtype: object
0           LG1
1         28826
2             A
3            10
4    ,,,,,,,,,,
5    HJJHJJJD2D
Name: 25364, dtype: object
0           LG1
1         28826
2             A
3            10
4    ,,,,,,,,,,
5    HJJHJJJD2D
Name: 25364, dtype: object
0           LG1
1         28827
2             T
3            10
4    ,,,,,,,,,,
5    HJJAJJID:D
Name: 25365, dtype: object
0           LG1
1         28827
2             T
3            10
4    ,,,,,,,,,,
5    HJJAJJID:D
Name: 25365, dtype: object
0           LG1
1         28827
2             T
3            10
4    ,,,,,,,,,,
5    HJJAJJID:D
Name: 25365, dtype: object
0           LG1
1         28827
2             T
3            10
4    ,,,,,,,,,,
5    HJJAJJID:D
Name: 25365, dtype: object
0           LG1
1         28827
2             T
3            10
4    ,,,,,,,,,,
5    HJJAJJID:D
Name: 25365, dtype: object
0           LG1
1         28827
2             T
3            10
4    ,,,,,,,,,,
5    HJJAJJID:D
Name: 25365, dtype: object
0           LG1
1         28827
2             T
3            10
4    ,,,,,,,,,,
5    HJJAJJID:D
Name: 25365, dtype: object
0           LG1
1         28827
2             T
3            10
4    ,,,,,,,,,,
5    HJJAJJID:D
Name: 25365, dtype: object
0           LG1
1         28827
2             T
3            10
4    ,,,,,,,,,,
5    HJJAJJID:D
Name: 25365, dtype: object
0           LG1
1         28828
2             T
3            10
4    ,,,,,,,,,,
5    HJHJJJID@D
Name: 25366, dtype: object
0           LG1
1         28828
2             T
3            10
4    ,,,,,,,,,,
5    HJHJJJID@D
Name: 25366, dtype: object
0           LG1
1         28828
2             T
3            10
4    ,,,,,,,,,,
5    HJHJJJID@D
Name: 25366, dtype: object
0           LG1
1         28828
2             T
3            10
4    ,,,,,,,,,,
5    HJHJJJID@D
Name: 25366, dtype: object
0           LG1
1         28828
2             T
3            10
4    ,,,,,,,,,,
5    HJHJJJID@D
Name: 25366, dtype: object
0           LG1
1         28828
2             T
3            10
4    ,,,,,,,,,,
5    HJHJJJID@D
Name: 25366, dtype: object
0           LG1
1         28828
2             T
3            10
4    ,,,,,,,,,,
5    HJHJJJID@D
Name: 25366, dtype: object
0           LG1
1         28828
2             T
3            10
4    ,,,,,,,,,,
5    HJHJJJID@D
Name: 25366, dtype: object
0           LG1
1         28828
2             T
3            10
4    ,,,,,,,,,,
5    HJHJJJID@D
Name: 25366, dtype: object
0           LG1
1         28828
2             T
3            10
4    ,,,,,,,,,,
5    HJHJJJID@D
Name: 25366, dtype: object
0           LG1
1         28829
2             T
3            10
4    ,,,,,,,,,,
5    HJFJJIFD@D
Name: 25367, dtype: object
0           LG1
1         28829
2             T
3            10
4    ,,,,,,,,,,
5    HJFJJIFD@D
Name: 25367, dtype: object
0           LG1
1         28829
2             T
3            10
4    ,,,,,,,,,,
5    HJFJJIFD@D
Name: 25367, dtype: object
0           LG1
1         28829
2             T
3            10
4    ,,,,,,,,,,
5    HJFJJIFD@D
Name: 25367, dtype: object
0           LG1
1         28829
2             T
3            10
4    ,,,,,,,,,,
5    HJFJJIFD@D
Name: 25367, dtype: object
0           LG1
1         28829
2             T
3            10
4    ,,,,,,,,,,
5    HJFJJIFD@D
Name: 25367, dtype: object
0           LG1
1         28829
2             T
3            10
4    ,,,,,,,,,,
5    HJFJJIFD@D
Name: 25367, dtype: object
0           LG1
1         28829
2             T
3            10
4    ,,,,,,,,,,
5    HJFJJIFD@D
Name: 25367, dtype: object
0           LG1
1         28829
2             T
3            10
4    ,,,,,,,,,,
5    HJFJJIFD@D
Name: 25367, dtype: object
0           LG1
1         28829
2             T
3            10
4    ,,,,,,,,,,
5    HJFJJIFD@D
Name: 25367, dtype: object
0           LG1
1         28830
2             C
3            10
4    ,,,,t,,,,,
5    HHHJJJIDDD
Name: 25368, dtype: object
0           LG1
1         28830
2             C
3            10
4    ,,,,t,,,,,
5    HHHJJJIDDD
Name: 25368, dtype: object
0           LG1
1         28830
2             C
3            10
4    ,,,,t,,,,,
5    HHHJJJIDDD
Name: 25368, dtype: object
0           LG1
1         28830
2             C
3            10
4    ,,,,t,,,,,
5    HHHJJJIDDD
Name: 25368, dtype: object
0           LG1
1         28830
2             C
3            10
4    ,,,,t,,,,,
5    HHHJJJIDDD
Name: 25368, dtype: object
0           LG1
1         28830
2             C
3            10
4    ,,,,t,,,,,
5    HHHJJJIDDD
Name: 25368, dtype: object
0           LG1
1         28830
2             C
3            10
4    ,,,,t,,,,,
5    HHHJJJIDDD
Name: 25368, dtype: object
0           LG1
1         28830
2             C
3            10
4    ,,,,t,,,,,
5    HHHJJJIDDD
Name: 25368, dtype: object
0           LG1
1         28830
2             C
3            10
4    ,,,,t,,,,,
5    HHHJJJIDDD
Name: 25368, dtype: object
0           LG1
1         28830
2             C
3            10
4    ,,,,t,,,,,
5    HHHJJJIDDD
Name: 25368, dtype: object
0           LG1
1         28831
2             G
3            10
4    ,,,,,,,,,,
5    FHHHJJIDDD
Name: 25369, dtype: object
0           LG1
1         28831
2             G
3            10
4    ,,,,,,,,,,
5    FHHHJJIDDD
Name: 25369, dtype: object
0           LG1
1         28831
2             G
3            10
4    ,,,,,,,,,,
5    FHHHJJIDDD
Name: 25369, dtype: object
0           LG1
1         28831
2             G
3            10
4    ,,,,,,,,,,
5    FHHHJJIDDD
Name: 25369, dtype: object
0           LG1
1         28831
2             G
3            10
4    ,,,,,,,,,,
5    FHHHJJIDDD
Name: 25369, dtype: object
0           LG1
1         28831
2             G
3            10
4    ,,,,,,,,,,
5    FHHHJJIDDD
Name: 25369, dtype: object
0           LG1
1         28831
2             G
3            10
4    ,,,,,,,,,,
5    FHHHJJIDDD
Name: 25369, dtype: object
0           LG1
1         28831
2             G
3            10
4    ,,,,,,,,,,
5    FHHHJJIDDD
Name: 25369, dtype: object
0           LG1
1         28831
2             G
3            10
4    ,,,,,,,,,,
5    FHHHJJIDDD
Name: 25369, dtype: object
0           LG1
1         28831
2             G
3            10
4    ,,,,,,,,,,
5    FHHHJJIDDD
Name: 25369, dtype: object
0           LG1
1         28832
2             C
3            10
4    ,,,,,,,,,,
5    FHHGJJHD@D
Name: 25370, dtype: object
0           LG1
1         28832
2             C
3            10
4    ,,,,,,,,,,
5    FHHGJJHD@D
Name: 25370, dtype: object
0           LG1
1         28832
2             C
3            10
4    ,,,,,,,,,,
5    FHHGJJHD@D
Name: 25370, dtype: object
0           LG1
1         28832
2             C
3            10
4    ,,,,,,,,,,
5    FHHGJJHD@D
Name: 25370, dtype: object
0           LG1
1         28832
2             C
3            10
4    ,,,,,,,,,,
5    FHHGJJHD@D
Name: 25370, dtype: object
0           LG1
1         28832
2             C
3            10
4    ,,,,,,,,,,
5    FHHGJJHD@D
Name: 25370, dtype: object
0           LG1
1         28832
2             C
3            10
4    ,,,,,,,,,,
5    FHHGJJHD@D
Name: 25370, dtype: object
0           LG1
1         28832
2             C
3            10
4    ,,,,,,,,,,
5    FHHGJJHD@D
Name: 25370, dtype: object
0           LG1
1         28832
2             C
3            10
4    ,,,,,,,,,,
5    FHHGJJHD@D
Name: 25370, dtype: object
0           LG1
1         28832
2             C
3            10
4    ,,,,,,,,,,
5    FHHGJJHD@D
Name: 25370, dtype: object
0           LG1
1         28833
2             T
3            10
4    cccc,caccc
5    FHFFJJJECD
Name: 25371, dtype: object
0           LG1
1         28833
2             T
3            10
4    cccc,caccc
5    FHFFJJJECD
Name: 25371, dtype: object
0           LG1
1         28833
2             T
3            10
4    cccc,caccc
5    FHFFJJJECD
Name: 25371, dtype: object
0           LG1
1         28833
2             T
3            10
4    cccc,caccc
5    FHFFJJJECD
Name: 25371, dtype: object
0           LG1
1         28833
2             T
3            10
4    cccc,caccc
5    FHFFJJJECD
Name: 25371, dtype: object
0           LG1
1         28833
2             T
3            10
4    cccc,caccc
5    FHFFJJJECD
Name: 25371, dtype: object
0           LG1
1         28833
2             T
3            10
4    cccc,caccc
5    FHFFJJJECD
Name: 25371, dtype: object
0           LG1
1         28833
2             T
3            10
4    cccc,caccc
5    FHFFJJJECD
Name: 25371, dtype: object
0           LG1
1         28833
2             T
3            10
4    cccc,caccc
5    FHFFJJJECD
Name: 25371, dtype: object
0           LG1
1         28833
2             T
3            10
4    cccc,caccc
5    FHFFJJJECD
Name: 25371, dtype: object
0           LG1
1         28834
2             G
3            10
4    ,,a,,,,aa,
5    FHFFIJIEEE
Name: 25372, dtype: object
0           LG1
1         28834
2             G
3            10
4    ,,a,,,,aa,
5    FHFFIJIEEE
Name: 25372, dtype: object
0           LG1
1         28834
2             G
3            10
4    ,,a,,,,aa,
5    FHFFIJIEEE
Name: 25372, dtype: object
0           LG1
1         28834
2             G
3            10
4    ,,a,,,,aa,
5    FHFFIJIEEE
Name: 25372, dtype: object
0           LG1
1         28834
2             G
3            10
4    ,,a,,,,aa,
5    FHFFIJIEEE
Name: 25372, dtype: object
0           LG1
1         28834
2             G
3            10
4    ,,a,,,,aa,
5    FHFFIJIEEE
Name: 25372, dtype: object
0           LG1
1         28834
2             G
3            10
4    ,,a,,,,aa,
5    FHFFIJIEEE
Name: 25372, dtype: object
0           LG1
1         28834
2             G
3            10
4    ,,a,,,,aa,
5    FHFFIJIEEE
Name: 25372, dtype: object
0           LG1
1         28834
2             G
3            10
4    ,,a,,,,aa,
5    FHFFIJIEEE
Name: 25372, dtype: object
0           LG1
1         28834
2             G
3            10
4    ,,a,,,,aa,
5    FHFFIJIEEE
Name: 25372, dtype: object
0           LG1
1         28835
2             A
3            10
4    ,,,,,,,,,,
5    FFFDIJGEED
Name: 25373, dtype: object
0           LG1
1         28835
2             A
3            10
4    ,,,,,,,,,,
5    FFFDIJGEED
Name: 25373, dtype: object
0           LG1
1         28835
2             A
3            10
4    ,,,,,,,,,,
5    FFFDIJGEED
Name: 25373, dtype: object
0           LG1
1         28835
2             A
3            10
4    ,,,,,,,,,,
5    FFFDIJGEED
Name: 25373, dtype: object
0           LG1
1         28835
2             A
3            10
4    ,,,,,,,,,,
5    FFFDIJGEED
Name: 25373, dtype: object
0           LG1
1         28835
2             A
3            10
4    ,,,,,,,,,,
5    FFFDIJGEED
Name: 25373, dtype: object
0           LG1
1         28835
2             A
3            10
4    ,,,,,,,,,,
5    FFFDIJGEED
Name: 25373, dtype: object
0           LG1
1         28835
2             A
3            10
4    ,,,,,,,,,,
5    FFFDIJGEED
Name: 25373, dtype: object
0           LG1
1         28835
2             A
3            10
4    ,,,,,,,,,,
5    FFFDIJGEED
Name: 25373, dtype: object
0           LG1
1         28835
2             A
3            10
4    ,,,,,,,,,,
5    FFFDIJGEED
Name: 25373, dtype: object
0           LG1
1         28836
2             G
3            10
4    ,,,,,,,,,,
5    CFFDHJIEAC
Name: 25374, dtype: object
0           LG1
1         28836
2             G
3            10
4    ,,,,,,,,,,
5    CFFDHJIEAC
Name: 25374, dtype: object
0           LG1
1         28836
2             G
3            10
4    ,,,,,,,,,,
5    CFFDHJIEAC

Name: 25374, dtype: object
0           LG1
1         28836
2             G
3            10
4    ,,,,,,,,,,
5    CFFDHJIEAC
Name: 25374, dtype: object
0           LG1
1         28836
2             G
3            10
4    ,,,,,,,,,,
5    CFFDHJIEAC
Name: 25374, dtype: object
0           LG1
1         28836
2             G
3            10
4    ,,,,,,,,,,
5    CFFDHJIEAC
Name: 25374, dtype: object
0           LG1
1         28836
2             G
3            10
4    ,,,,,,,,,,
5    CFFDHJIEAC
Name: 25374, dtype: object
0           LG1
1         28836
2             G
3            10
4    ,,,,,,,,,,
5    CFFDHJIEAC
Name: 25374, dtype: object
0           LG1
1         28836
2             G
3            10
4    ,,,,,,,,,,
5    CFFDHJIEAC
Name: 25374, dtype: object
0           LG1
1         28836
2             G
3            10
4    ,,,,,,,,,,
5    CFFDHJIEAC
Name: 25374, dtype: object
0           LG1
1         28837
2             C
3            10
4    ,,,,,,,,,,
5    CFF:CIIF<F
Name: 25375, dtype: object
0           LG1
1         28837
2             C
3            10
4    ,,,,,,,,,,
5    CFF:CIIF<F
Name: 25375, dtype: object
0           LG1
1         28837
2             C
3            10
4    ,,,,,,,,,,
5    CFF:CIIF<F
Name: 25375, dtype: object
0           LG1
1         28837
2             C
3            10
4    ,,,,,,,,,,
5    CFF:CIIF<F
Name: 25375, dtype: object
0           LG1
1         28837
2             C
3            10
4    ,,,,,,,,,,
5    CFF:CIIF<F
Name: 25375, dtype: object
0           LG1
1         28837
2             C
3            10
4    ,,,,,,,,,,
5    CFF:CIIF<F
Name: 25375, dtype: object
0           LG1
1         28837
2             C
3            10
4    ,,,,,,,,,,
5    CFF:CIIF<F
Name: 25375, dtype: object
0           LG1
1         28837
2             C
3            10
4    ,,,,,,,,,,
5    CFF:CIIF<F
Name: 25375, dtype: object
0           LG1
1         28840
2             C
3             9
4    ,,$,,,,,,,
5     C>>IJJGEH
Name: 25378, dtype: object
0           LG1
1         28840
2             C
3             9
4    ,,$,,,,,,,
5     C>>IJJGEH
Name: 25378, dtype: object
0           LG1
1         28840
2             C
3             9
4    ,,$,,,,,,,
5     C>>IJJGEH
Name: 25378, dtype: object
0           LG1
1         28840
2             C
3             9
4    ,,$,,,,,,,
5     C>>IJJGEH
Name: 25378, dtype: object
0           LG1
1         28840
2             C
3             9
4    ,,$,,,,,,,
5     C>>IJJGEH
Name: 25378, dtype: object
0           LG1
1         28840
2             C
3             9
4    ,,$,,,,,,,
5     C>>IJJGEH
Name: 25378, dtype: object
0           LG1
1         28840
2             C
3             9
4    ,,$,,,,,,,
5     C>>IJJGEH
Name: 25378, dtype: object
0           LG1
1         29544
2             A
3             8
4    ..,...,^F.
5      JIHJJDDC
Name: 25523, dtype: object
0           LG1
1         29544
2             A
3             8
4    ..,...,^F.
5      JIHJJDDC
Name: 25523, dtype: object
0           LG1
1         29544
2             A
3             8
4    ..,...,^F.
5      JIHJJDDC
Name: 25523, dtype: object
0           LG1
1         29544
2             A
3             8
4    ..,...,^F.
5      JIHJJDDC
Name: 25523, dtype: object
0           LG1
1         29544
2             A
3             8
4    ..,...,^F.
5      JIHJJDDC
Name: 25523, dtype: object
0           LG1
1         29544
2             A
3             8
4    ..,...,^F.
5      JIHJJDDC
Name: 25523, dtype: object
0           LG1
1         29544
2             A
3             8
4    ..,...,^F.
5      JIHJJDDC
Name: 25523, dtype: object
0           LG1
1         29544
2             A
3             8
4    ..,...,^F.
5      JIHJJDDC
Name: 25523, dtype: object
0           LG1
1         29553
2             A
3            10
4    ..,...,...
5    JJIJJJDHA>
Name: 25532, dtype: object
0           LG1
1         29553
2             A
3            10
4    ..,...,...
5    JJIJJJDHA>
Name: 25532, dtype: object
0           LG1
1         29553
2             A
3            10
4    ..,...,...
5    JJIJJJDHA>
Name: 25532, dtype: object
0           LG1
1         29553
2             A
3            10
4    ..,...,...
5    JJIJJJDHA>
Name: 25532, dtype: object
0           LG1
1         29553
2             A
3            10
4    ..,...,...
5    JJIJJJDHA>
Name: 25532, dtype: object
0           LG1
1         29553
2             A
3            10
4    ..,...,...
5    JJIJJJDHA>
Name: 25532, dtype: object
0           LG1
1         29553
2             A
3            10
4    ..,...,...
5    JJIJJJDHA>
Name: 25532, dtype: object
0           LG1
1         29553
2             A
3            10
4    ..,...,...
5    JJIJJJDHA>
Name: 25532, dtype: object
0           LG1
1         29553
2             A
3            10
4    ..,...,...
5    JJIJJJDHA>
Name: 25532, dtype: object
0           LG1
1         29554
2             C
3            10
4    ..,...,...
5    JJJJJJDHAC
Name: 25533, dtype: object
0           LG1
1         29554
2             C
3            10
4    ..,...,...
5    JJJJJJDHAC
Name: 25533, dtype: object
0           LG1
1         29554
2             C
3            10
4    ..,...,...
5    JJJJJJDHAC
Name: 25533, dtype: object
0           LG1
1         29554
2             C
3            10
4    ..,...,...
5    JJJJJJDHAC
Name: 25533, dtype: object
0           LG1
1         29554
2             C
3            10
4    ..,...,...
5    JJJJJJDHAC
Name: 25533, dtype: object
0           LG1
1         29554
2             C
3            10
4    ..,...,...
5    JJJJJJDHAC
Name: 25533, dtype: object
0           LG1
1         29554
2             C
3            10
4    ..,...,...
5    JJJJJJDHAC
Name: 25533, dtype: object
0           LG1
1         29554
2             C
3            10
4    ..,...,...
5    JJJJJJDHAC
Name: 25533, dtype: object
0           LG1
1         29554
2             C
3            10
4    ..,...,...
5    JJJJJJDHAC
Name: 25533, dtype: object
0           LG1
1         29554
2             C
3            10
4    ..,...,...
5    JJJJJJDHAC
Name: 25533, dtype: object
0           LG1
1         29752
2             A
3            10
4    .,,.,.,,,,
5    DFFBJJJJFE
Name: 25731, dtype: object
0           LG1
1         29752
2             A
3            10
4    .,,.,.,,,,
5    DFFBJJJJFE
Name: 25731, dtype: object
0           LG1
1         29752
2             A
3            10
4    .,,.,.,,,,
5    DFFBJJJJFE
Name: 25731, dtype: object
0           LG1
1         29752
2             A
3            10
4    .,,.,.,,,,
5    DFFBJJJJFE
Name: 25731, dtype: object
0           LG1
1         29752
2             A
3            10
4    .,,.,.,,,,
5    DFFBJJJJFE
Name: 25731, dtype: object
0           LG1
1         29752
2             A
3            10
4    .,,.,.,,,,
5    DFFBJJJJFE
Name: 25731, dtype: object
0           LG1
1         29752
2             A
3            10
4    .,,.,.,,,,
5    DFFBJJJJFE
Name: 25731, dtype: object
0           LG1
1         29752
2             A
3            10
4    .,,.,.,,,,
5    DFFBJJJJFE
Name: 25731, dtype: object
0           LG1
1         29752
2             A
3            10
4    .,,.,.,,,,
5    DFFBJJJJFE
Name: 25731, dtype: object
0           LG1
1         29752
2             A
3            10
4    .,,.,.,,,,
5    DFFBJJJJFE
Name: 25731, dtype: object
0           LG1
1         29754
2             C
3            10
4    .,,.,.,,,,
5    D@F.JJIJHE
Name: 25733, dtype: object
0           LG1
1         29754
2             C
3            10
4    .,,.,.,,,,
5    D@F.JJIJHE
Name: 25733, dtype: object
0           LG1
1         29754
2             C
3            10
4    .,,.,.,,,,
5    D@F.JJIJHE
Name: 25733, dtype: object
0           LG1
1         29754
2             C
3            10
4    .,,.,.,,,,
5    D@F.JJIJHE
Name: 25733, dtype: object
0           LG1
1         29754
2             C
3            10
4    .,,.,.,,,,
5    D@F.JJIJHE
Name: 25733, dtype: object
0           LG1
1         29754
2             C
3            10
4    .,,.,.,,,,
5    D@F.JJIJHE
Name: 25733, dtype: object
0           LG1
1         29754
2             C
3            10
4    .,,.,.,,,,
5    D@F.JJIJHE
Name: 25733, dtype: object
0           LG1
1         29754
2             C
3            10
4    .,,.,.,,,,
5    D@F.JJIJHE
Name: 25733, dtype: object
0           LG1
1         29754
2             C
3            10
4    .,,.,.,,,,
5    D@F.JJIJHE
Name: 25733, dtype: object
0           LG1
1         29758
2             A
3             9
4    ,$.,.,,,,.
5     B=JJJJHFF
Name: 25737, dtype: object
0           LG1
1         29758
2             A
3             9
4    ,$.,.,,,,.
5     B=JJJJHFF
Name: 25737, dtype: object
0           LG1
1         29758
2             A
3             9
4    ,$.,.,,,,.
5     B=JJJJHFF
Name: 25737, dtype: object
0           LG1
1         29758
2             A
3             9
4    ,$.,.,,,,.
5     B=JJJJHFF
Name: 25737, dtype: object
0           LG1
1         29758
2             A
3             9
4    ,$.,.,,,,.
5     B=JJJJHFF
Name: 25737, dtype: object
0           LG1
1         29758
2             A
3             9
4    ,$.,.,,,,.
5     B=JJJJHFF
Name: 25737, dtype: object
0           LG1
1         29758
2             A
3             9
4    ,$.,.,,,,.
5     B=JJJJHFF
Name: 25737, dtype: object
0           LG1
1         29758
2             A
3             9
4    ,$.,.,,,,.
5     B=JJJJHFF
Name: 25737, dtype: object
0           LG1
1         29765
2             T
3            10
4    .,.,,,,.,.
5    =IJJJIHHCC
Name: 25744, dtype: object
0           LG1
1         29765
2             T
3            10
4    .,.,,,,.,.
5    =IJJJIHHCC
Name: 25744, dtype: object
0           LG1
1         29765
2             T
3            10
4    .,.,,,,.,.
5    =IJJJIHHCC
Name: 25744, dtype: object
0           LG1
1         29765
2             T
3            10
4    .,.,,,,.,.
5    =IJJJIHHCC
Name: 25744, dtype: object
0           LG1
1         29765
2             T
3            10
4    .,.,,,,.,.
5    =IJJJIHHCC
Name: 25744, dtype: object
0           LG1
1         29765
2             T
3            10
4    .,.,,,,.,.
5    =IJJJIHHCC
Name: 25744, dtype: object
0           LG1
1         29765
2             T
3            10
4    .,.,,,,.,.
5    =IJJJIHHCC
Name: 25744, dtype: object
0           LG1
1         29765
2             T
3            10
4    .,.,,,,.,.
5    =IJJJIHHCC
Name: 25744, dtype: object
0           LG1
1         29765
2             T
3            10
4    .,.,,,,.,.
5    =IJJJIHHCC
Name: 25744, dtype: object
0           LG1
1         29906
2             A
3            10
4    ,,,......,
5    HJHD?BGHJ@
Name: 25885, dtype: object
0           LG1
1         29906
2             A
3            10
4    ,,,......,
5    HJHD?BGHJ@
Name: 25885, dtype: object
0           LG1
1         29906
2             A
3            10
4    ,,,......,
5    HJHD?BGHJ@
Name: 25885, dtype: object
0           LG1
1         29906
2             A
3            10
4    ,,,......,
5    HJHD?BGHJ@
Name: 25885, dtype: object
0           LG1
1         29906
2             A
3            10
4    ,,,......,
5    HJHD?BGHJ@
Name: 25885, dtype: object
0           LG1
1         29906
2             A
3            10
4    ,,,......,
5    HJHD?BGHJ@
Name: 25885, dtype: object
0           LG1
1         29906
2             A
3            10
4    ,,,......,
5    HJHD?BGHJ@
Name: 25885, dtype: object
0           LG1
1         29906
2             A
3            10
4    ,,,......,
5    HJHD?BGHJ@
Name: 25885, dtype: object
0           LG1
1         29906
2             A
3            10
4    ,,,......,
5    HJHD?BGHJ@
Name: 25885, dtype: object
0           LG1
1         29906
2             A
3            10
4    ,,,......,
5    HJHD?BGHJ@
Name: 25885, dtype: object
0           LG1
1         29907
2             T
3            10
4    ,,,......,
5    HJGFEGIIJA
Name: 25886, dtype: object
0           LG1
1         29907
2             T
3            10
4    ,,,......,
5    HJGFEGIIJA
Name: 25886, dtype: object
0           LG1
1         29907
2             T
3            10
4    ,,,......,
5    HJGFEGIIJA
Name: 25886, dtype: object
0           LG1
1         29907
2             T
3            10
4    ,,,......,
5    HJGFEGIIJA
Name: 25886, dtype: object
0           LG1
1         29907
2             T
3            10
4    ,,,......,
5    HJGFEGIIJA
Name: 25886, dtype: object
0           LG1
1         29907
2             T
3            10
4    ,,,......,
5    HJGFEGIIJA
Name: 25886, dtype: object
0           LG1
1         29907
2             T
3            10
4    ,,,......,
5    HJGFEGIIJA
Name: 25886, dtype: object
0           LG1
1         29907
2             T
3            10
4    ,,,......,
5    HJGFEGIIJA
Name: 25886, dtype: object
0           LG1
1         29907
2             T
3            10
4    ,,,......,
5    HJGFEGIIJA
Name: 25886, dtype: object
0           LG1
1         29907
2             T
3            10
4    ,,,......,
5    HJGFEGIIJA
Name: 25886, dtype: object
0           LG1
1         29908
2             T
3            10
4    ,,,......,
5    HJHFEHJCI@
Name: 25887, dtype: object
0           LG1
1         29908
2             T
3            10
4    ,,,......,
5    HJHFEHJCI@

Name: 25887, dtype: object
0           LG1
1         29908
2             T
3            10
4    ,,,......,
5    HJHFEHJCI@
Name: 25887, dtype: object
0           LG1
1         29908
2             T
3            10
4    ,,,......,
5    HJHFEHJCI@
Name: 25887, dtype: object
0           LG1
1         29908
2             T
3            10
4    ,,,......,
5    HJHFEHJCI@
Name: 25887, dtype: object
0           LG1
1         29908
2             T
3            10
4    ,,,......,
5    HJHFEHJCI@
Name: 25887, dtype: object
0           LG1
1         29908
2             T
3            10
4    ,,,......,
5    HJHFEHJCI@
Name: 25887, dtype: object
0           LG1
1         29908
2             T
3            10
4    ,,,......,
5    HJHFEHJCI@
Name: 25887, dtype: object
0           LG1
1         29908
2             T
3            10
4    ,,,......,
5    HJHFEHJCI@
Name: 25887, dtype: object
0           LG1
1         29908
2             T
3            10
4    ,,,......,
5    HJHFEHJCI@
Name: 25887, dtype: object
0           LG1
1         29909
2             T
3            10
4    ,,,......,
5    FJF@?IJGI<
Name: 25888, dtype: object
0           LG1
1         29909
2             T
3            10
4    ,,,......,
5    FJF@?IJGI<
Name: 25888, dtype: object
0           LG1
1         29909
2             T
3            10
4    ,,,......,
5    FJF@?IJGI<
Name: 25888, dtype: object
0           LG1
1         29909
2             T
3            10
4    ,,,......,
5    FJF@?IJGI<
Name: 25888, dtype: object
0           LG1
1         29909
2             T
3            10
4    ,,,......,
5    FJF@?IJGI<
Name: 25888, dtype: object
0           LG1
1         29909
2             T
3            10
4    ,,,......,
5    FJF@?IJGI<
Name: 25888, dtype: object
0           LG1
1         29909
2             T
3            10
4    ,,,......,
5    FJF@?IJGI<
Name: 25888, dtype: object
0           LG1
1         29909
2             T
3            10
4    ,,,......,
5    FJF@?IJGI<
Name: 25888, dtype: object
0           LG1
1         29909
2             T
3            10
4    ,,,......,
5    FJF@?IJGI<
Name: 25888, dtype: object
0           LG1
1         29910
2             G
3            10
4    ,,,......,
5    FHGD385:78
Name: 25889, dtype: object
0           LG1
1         29910
2             G
3            10
4    ,,,......,
5    FHGD385:78
Name: 25889, dtype: object
0           LG1
1         29910
2             G
3            10
4    ,,,......,
5    FHGD385:78
Name: 25889, dtype: object
0           LG1
1         29910
2             G
3            10
4    ,,,......,
5    FHGD385:78
Name: 25889, dtype: object
0           LG1
1         29911
2             A
3            10
4    ,,,......,
5    FHGC?52748
Name: 25890, dtype: object
0           LG1
1         29911
2             A
3            10
4    ,,,......,
5    FHGC?52748
Name: 25890, dtype: object
0           LG1
1         29911
2             A
3            10
4    ,,,......,
5    FHGC?52748
Name: 25890, dtype: object
0           LG1
1         29911
2             A
3            10
4    ,,,......,
5    FHGC?52748
Name: 25890, dtype: object
0           LG1
1         29911
2             A
3            10
4    ,,,......,
5    FHGC?52748
Name: 25890, dtype: object
0           LG1
1         29962
2             G
3             8
4    ,,,,.,.^F,
5      JFIFG?@?
Name: 25941, dtype: object
0           LG1
1         29962
2             G
3             8
4    ,,,,.,.^F,
5      JFIFG?@?
Name: 25941, dtype: object
0           LG1
1         29962
2             G
3             8
4    ,,,,.,.^F,
5      JFIFG?@?
Name: 25941, dtype: object
0           LG1
1         29962
2             G
3             8
4    ,,,,.,.^F,
5      JFIFG?@?
Name: 25941, dtype: object
0           LG1
1         29962
2             G
3             8
4    ,,,,.,.^F,
5      JFIFG?@?
Name: 25941, dtype: object
0           LG1
1         29962
2             G
3             8
4    ,,,,.,.^F,
5      JFIFG?@?
Name: 25941, dtype: object
0           LG1
1         29962
2             G
3             8
4    ,,,,.,.^F,
5      JFIFG?@?
Name: 25941, dtype: object
0           LG1
1         29962
2             G
3             8
4    ,,,,.,.^F,
5      JFIFG?@?
Name: 25941, dtype: object
0           LG1
1         29966
2             G
3             9
4    ,,$,,.,.,,
5     JBEHICFD9
Name: 25945, dtype: object
0           LG1
1         29966
2             G
3             9
4    ,,$,,.,.,,
5     JBEHICFD9
Name: 25945, dtype: object
0           LG1
1         29966
2             G
3             9
4    ,,$,,.,.,,
5     JBEHICFD9
Name: 25945, dtype: object
0           LG1
1         29966
2             G
3             9
4    ,,$,,.,.,,
5     JBEHICFD9
Name: 25945, dtype: object
0           LG1
1         29966
2             G
3             9
4    ,,$,,.,.,,
5     JBEHICFD9
Name: 25945, dtype: object
0           LG1
1         29966
2             G
3             9
4    ,,$,,.,.,,
5     JBEHICFD9
Name: 25945, dtype: object
0           LG1
1         29966
2             G
3             9
4    ,,$,,.,.,,
5     JBEHICFD9
Name: 25945, dtype: object
0           LG1
1         29966
2             G
3             9
4    ,,$,,.,.,,
5     JBEHICFD9
Name: 25945, dtype: object
0           LG1
1         29986
2             T
3            10
4    ,,,.,.,,,,
5    JHJJ/EHBD=
Name: 25965, dtype: object
0           LG1
1         29986
2             T
3            10
4    ,,,.,.,,,,
5    JHJJ/EHBD=
Name: 25965, dtype: object
0           LG1
1         29986
2             T
3            10
4    ,,,.,.,,,,
5    JHJJ/EHBD=
Name: 25965, dtype: object
0           LG1
1         29986
2             T
3            10
4    ,,,.,.,,,,
5    JHJJ/EHBD=
Name: 25965, dtype: object
0           LG1
1         29986
2             T
3            10
4    ,,,.,.,,,,
5    JHJJ/EHBD=
Name: 25965, dtype: object
0           LG1
1         29986
2             T
3            10
4    ,,,.,.,,,,
5    JHJJ/EHBD=
Name: 25965, dtype: object
0           LG1
1         29986
2             T
3            10
4    ,,,.,.,,,,
5    JHJJ/EHBD=
Name: 25965, dtype: object
0           LG1
1         29986
2             T
3            10
4    ,,,.,.,,,,
5    JHJJ/EHBD=
Name: 25965, dtype: object
0           LG1
1         29987
2             T
3            10
4    ,,,.,.,,,,
5    JHJGBCIBD@
Name: 25966, dtype: object
0           LG1
1         29987
2             T
3            10
4    ,,,.,.,,,,
5    JHJGBCIBD@
Name: 25966, dtype: object
0           LG1
1         29987
2             T
3            10
4    ,,,.,.,,,,
5    JHJGBCIBD@
Name: 25966, dtype: object
0           LG1
1         29987
2             T
3            10
4    ,,,.,.,,,,
5    JHJGBCIBD@
Name: 25966, dtype: object
0           LG1
1         29987
2             T
3            10
4    ,,,.,.,,,,
5    JHJGBCIBD@
Name: 25966, dtype: object
0           LG1
1         29987
2             T
3            10
4    ,,,.,.,,,,
5    JHJGBCIBD@
Name: 25966, dtype: object
0           LG1
1         29987
2             T
3            10
4    ,,,.,.,,,,
5    JHJGBCIBD@
Name: 25966, dtype: object
0           LG1
1         29987
2             T
3            10
4    ,,,.,.,,,,
5    JHJGBCIBD@
Name: 25966, dtype: object
0           LG1
1         29987
2             T
3            10
4    ,,,.,.,,,,
5    JHJGBCIBD@
Name: 25966, dtype: object
0           LG1
1         29987
2             T
3            10
4    ,,,.,.,,,,
5    JHJGBCIBD@
Name: 25966, dtype: object
0           LG1
1         29988
2             C
3            10
4    ,,,.,.,,,,
5    JDJI;FI1DB
Name: 25967, dtype: object
0           LG1
1         29988
2             C
3            10
4    ,,,.,.,,,,
5    JDJI;FI1DB
Name: 25967, dtype: object
0           LG1
1         29988
2             C
3            10
4    ,,,.,.,,,,
5    JDJI;FI1DB
Name: 25967, dtype: object
0           LG1
1         29988
2             C
3            10
4    ,,,.,.,,,,
5    JDJI;FI1DB
Name: 25967, dtype: object
0           LG1
1         29988
2             C
3            10
4    ,,,.,.,,,,
5    JDJI;FI1DB
Name: 25967, dtype: object
0           LG1
1         29988
2             C
3            10
4    ,,,.,.,,,,
5    JDJI;FI1DB
Name: 25967, dtype: object
0           LG1
1         29988
2             C
3            10
4    ,,,.,.,,,,
5    JDJI;FI1DB
Name: 25967, dtype: object
0           LG1
1         29988
2             C
3            10
4    ,,,.,.,,,,
5    JDJI;FI1DB
Name: 25967, dtype: object
0           LG1
1         29989
2             G
3            10
4    ,,,.,.,,,,
5    JDJGCEJ:ED
Name: 25968, dtype: object
0           LG1
1         29989
2             G
3            10
4    ,,,.,.,,,,
5    JDJGCEJ:ED
Name: 25968, dtype: object
0           LG1
1         29989
2             G
3            10
4    ,,,.,.,,,,
5    JDJGCEJ:ED
Name: 25968, dtype: object
0           LG1
1         29989
2             G
3            10
4    ,,,.,.,,,,
5    JDJGCEJ:ED
Name: 25968, dtype: object
0           LG1
1         29989
2             G
3            10
4    ,,,.,.,,,,
5    JDJGCEJ:ED
Name: 25968, dtype: object
0           LG1
1         29989
2             G
3            10
4    ,,,.,.,,,,
5    JDJGCEJ:ED
Name: 25968, dtype: object
0           LG1
1         29989
2             G
3            10
4    ,,,.,.,,,,
5    JDJGCEJ:ED
Name: 25968, dtype: object
0           LG1
1         29989
2             G
3            10
4    ,,,.,.,,,,
5    JDJGCEJ:ED
Name: 25968, dtype: object
0           LG1
1         29989
2             G
3            10
4    ,,,.,.,,,,
5    JDJGCEJ:ED
Name: 25968, dtype: object
0           LG1
1         29996
2             C
3            10
4    ,,.,.,,,.,
5    GJmEFIEDGB
Name: 25975, dtype: object
0           LG1
1         29996
2             C
3            10
4    ,,.,.,,,.,
5    GJmEFIEDGB
Name: 25975, dtype: object
0           LG1
1         29996
2             C
3            10
4    ,,.,.,,,.,
5    GJmEFIEDGB
Name: 25975, dtype: object
0           LG1
1         29996
2             C
3            10
4    ,,.,.,,,.,
5    GJmEFIEDGB
Name: 25975, dtype: object
0           LG1
1         29996
2             C
3            10
4    ,,.,.,,,.,
5    GJmEFIEDGB
Name: 25975, dtype: object
0           LG1
1         29996
2             C
3            10
4    ,,.,.,,,.,
5    GJmEFIEDGB
Name: 25975, dtype: object
0           LG1
1         29996
2             C
3            10
4    ,,.,.,,,.,
5    GJmEFIEDGB
Name: 25975, dtype: object
0           LG1
1         29996
2             C
3            10
4    ,,.,.,,,.,
5    GJmEFIEDGB
Name: 25975, dtype: object
0           LG1
1         29996
2             C
3            10
4    ,,.,.,,,.,
5    GJmEFIEDGB
Name: 25975, dtype: object
0           LG1
1         29996
2             C
3            10
4    ,,.,.,,,.,
5    GJmEFIEDGB
Name: 25975, dtype: object
0           LG1
1         29997
2             G
3            10
4    ,,.,.,,,.,
5    AIkHBJJDHC
Name: 25976, dtype: object
0           LG1
1         29997
2             G
3            10
4    ,,.,.,,,.,
5    AIkHBJJDHC
Name: 25976, dtype: object
0           LG1
1         29997
2             G
3            10
4    ,,.,.,,,.,
5    AIkHBJJDHC
Name: 25976, dtype: object
0           LG1
1         29997
2             G
3            10
4    ,,.,.,,,.,
5    AIkHBJJDHC
Name: 25976, dtype: object
0           LG1
1         29997
2             G
3            10
4    ,,.,.,,,.,
5    AIkHBJJDHC
Name: 25976, dtype: object
0           LG1
1         29997
2             G
3            10
4    ,,.,.,,,.,
5    AIkHBJJDHC
Name: 25976, dtype: object
0           LG1
1         29997
2             G
3            10
4    ,,.,.,,,.,
5    AIkHBJJDHC
Name: 25976, dtype: object
0           LG1
1         29997
2             G
3            10
4    ,,.,.,,,.,
5    AIkHBJJDHC
Name: 25976, dtype: object
0           LG1
1         29997
2             G
3            10
4    ,,.,.,,,.,
5    AIkHBJJDHC
Name: 25976, dtype: object
0           LG1
1         29997
2             G
3            10
4    ,,.,.,,,.,
5    AIkHBJJDHC
Name: 25976, dtype: object
0           LG1
1         29998
2             C
3            10
4    ,,.,.,,,.,
5    3GlI7JJFFE
Name: 25977, dtype: object
0           LG1
1         29998
2             C
3            10
4    ,,.,.,,,.,
5    3GlI7JJFFE
Name: 25977, dtype: object
0           LG1
1         29998
2             C
3            10
4    ,,.,.,,,.,
5    3GlI7JJFFE

Name: 25977, dtype: object
0           LG1
1         29998
2             C
3            10
4    ,,.,.,,,.,
5    3GlI7JJFFE
Name: 25977, dtype: object
0           LG1
1         29998
2             C
3            10
4    ,,.,.,,,.,
5    3GlI7JJFFE
Name: 25977, dtype: object
0           LG1
1         29998
2             C
3            10
4    ,,.,.,,,.,
5    3GlI7JJFFE
Name: 25977, dtype: object
0           LG1
1         29998
2             C
3            10
4    ,,.,.,,,.,
5    3GlI7JJFFE
Name: 25977, dtype: object
0           LG1
1         29998
2             C
3            10
4    ,,.,.,,,.,
5    3GlI7JJFFE
Name: 25977, dtype: object
0           LG1
1         30000
2             G
3            10
4    ,,.,.,,,.,
5    HJjIGJJFFE
Name: 25979, dtype: object
0           LG1
1         30000
2             G
3            10
4    ,,.,.,,,.,
5    HJjIGJJFFE
Name: 25979, dtype: object
0           LG1
1         30000
2             G
3            10
4    ,,.,.,,,.,
5    HJjIGJJFFE
Name: 25979, dtype: object
0           LG1
1         30000
2             G
3            10
4    ,,.,.,,,.,
5    HJjIGJJFFE
Name: 25979, dtype: object
0           LG1
1         30000
2             G
3            10
4    ,,.,.,,,.,
5    HJjIGJJFFE
Name: 25979, dtype: object
0           LG1
1         30000
2             G
3            10
4    ,,.,.,,,.,
5    HJjIGJJFFE
Name: 25979, dtype: object
0           LG1
1         30000
2             G
3            10
4    ,,.,.,,,.,
5    HJjIGJJFFE
Name: 25979, dtype: object
0           LG1
1         30000
2             G
3            10
4    ,,.,.,,,.,
5    HJjIGJJFFE
Name: 25979, dtype: object
0           LG1
1         30000
2             G
3            10
4    ,,.,.,,,.,
5    HJjIGJJFFE
Name: 25979, dtype: object
0           LG1
1         30000
2             G
3            10
4    ,,.,.,,,.,
5    HJjIGJJFFE
Name: 25979, dtype: object
0           LG1
1         30001
2             A
3            10
4    ,,.,.,,,.,
5    HJhHBJJHDE
Name: 25980, dtype: object
0           LG1
1         30001
2             A
3            10
4    ,,.,.,,,.,
5    HJhHBJJHDE
Name: 25980, dtype: object
0           LG1
1         30001
2             A
3            10
4    ,,.,.,,,.,
5    HJhHBJJHDE
Name: 25980, dtype: object
0           LG1
1         30001
2             A
3            10
4    ,,.,.,,,.,
5    HJhHBJJHDE
Name: 25980, dtype: object
0           LG1
1         30001
2             A
3            10
4    ,,.,.,,,.,
5    HJhHBJJHDE
Name: 25980, dtype: object
0           LG1
1         30001
2             A
3            10
4    ,,.,.,,,.,
5    HJhHBJJHDE
Name: 25980, dtype: object
0           LG1
1         30001
2             A
3            10
4    ,,.,.,,,.,
5    HJhHBJJHDE
Name: 25980, dtype: object
0           LG1
1         30001
2             A
3            10
4    ,,.,.,,,.,
5    HJhHBJJHDE
Name: 25980, dtype: object
0           LG1
1         30001
2             A
3            10
4    ,,.,.,,,.,
5    HJhHBJJHDE
Name: 25980, dtype: object
0           LG1
1         30001
2             A
3            10
4    ,,.,.,,,.,
5    HJhHBJJHDE
Name: 25980, dtype: object
0           LG1
1         30002
2             G
3            10
4    ,,.,.,,,.,
5    HJgFEJJHDF
Name: 25981, dtype: object
0           LG1
1         30002
2             G
3            10
4    ,,.,.,,,.,
5    HJgFEJJHDF
Name: 25981, dtype: object
0           LG1
1         30002
2             G
3            10
4    ,,.,.,,,.,
5    HJgFEJJHDF
Name: 25981, dtype: object
0           LG1
1         30002
2             G
3            10
4    ,,.,.,,,.,
5    HJgFEJJHDF
Name: 25981, dtype: object
0           LG1
1         30002
2             G
3            10
4    ,,.,.,,,.,
5    HJgFEJJHDF
Name: 25981, dtype: object
0           LG1
1         30002
2             G
3            10
4    ,,.,.,,,.,
5    HJgFEJJHDF
Name: 25981, dtype: object
0           LG1
1         30002
2             G
3            10
4    ,,.,.,,,.,
5    HJgFEJJHDF
Name: 25981, dtype: object
0           LG1
1         30002
2             G
3            10
4    ,,.,.,,,.,
5    HJgFEJJHDF
Name: 25981, dtype: object
0           LG1
1         30002
2             G
3            10
4    ,,.,.,,,.,
5    HJgFEJJHDF
Name: 25981, dtype: object
0           LG1
1         30002
2             G
3            10
4    ,,.,.,,,.,
5    HJgFEJJHDF
Name: 25981, dtype: object
0           LG1
1         30003
2             A
3            10
4    ,,.,.,,,.,
5    HIc?=JJHCF
Name: 25982, dtype: object
0           LG1
1         30003
2             A
3            10
4    ,,.,.,,,.,
5    HIc?=JJHCF
Name: 25982, dtype: object
0           LG1
1         30003
2             A
3            10
4    ,,.,.,,,.,
5    HIc?=JJHCF
Name: 25982, dtype: object
0           LG1
1         30003
2             A
3            10
4    ,,.,.,,,.,
5    HIc?=JJHCF
Name: 25982, dtype: object
0           LG1
1         30003
2             A
3            10
4    ,,.,.,,,.,
5    HIc?=JJHCF
Name: 25982, dtype: object
0           LG1
1         30003
2             A
3            10
4    ,,.,.,,,.,
5    HIc?=JJHCF
Name: 25982, dtype: object
0           LG1
1         30003
2             A
3            10
4    ,,.,.,,,.,
5    HIc?=JJHCF
Name: 25982, dtype: object
0           LG1
1         30003
2             A
3            10
4    ,,.,.,,,.,
5    HIc?=JJHCF
Name: 25982, dtype: object
0           LG1
1         30003
2             A
3            10
4    ,,.,.,,,.,
5    HIc?=JJHCF
Name: 25982, dtype: object
0           LG1
1         30004
2             G
3            10
4    ,,.,.,,,.,
5    FIfBEJJHBF
Name: 25983, dtype: object
0           LG1
1         30004
2             G
3            10
4    ,,.,.,,,.,
5    FIfBEJJHBF
Name: 25983, dtype: object
0           LG1
1         30004
2             G
3            10
4    ,,.,.,,,.,
5    FIfBEJJHBF
Name: 25983, dtype: object
0           LG1
1         30004
2             G
3            10
4    ,,.,.,,,.,
5    FIfBEJJHBF
Name: 25983, dtype: object
0           LG1
1         30004
2             G
3            10
4    ,,.,.,,,.,
5    FIfBEJJHBF
Name: 25983, dtype: object
0           LG1
1         30004
2             G
3            10
4    ,,.,.,,,.,
5    FIfBEJJHBF
Name: 25983, dtype: object
0           LG1
1         30004
2             G
3            10
4    ,,.,.,,,.,
5    FIfBEJJHBF
Name: 25983, dtype: object
0           LG1
1         30004
2             G
3            10
4    ,,.,.,,,.,
5    FIfBEJJHBF
Name: 25983, dtype: object
0           LG1
1         30004
2             G
3            10
4    ,,.,.,,,.,
5    FIfBEJJHBF
Name: 25983, dtype: object
0           LG1
1         30004
2             G
3            10
4    ,,.,.,,,.,
5    FIfBEJJHBF
Name: 25983, dtype: object
0           LG1
1         30005
2             T
3            10
4    ,,.,.,,,A,
5    FHe@.JJH=F
Name: 25984, dtype: object
0           LG1
1         30005
2             T
3            10
4    ,,.,.,,,A,
5    FHe@.JJH=F
Name: 25984, dtype: object
0           LG1
1         30005
2             T
3            10
4    ,,.,.,,,A,
5    FHe@.JJH=F
Name: 25984, dtype: object
0           LG1
1         30005
2             T
3            10
4    ,,.,.,,,A,
5    FHe@.JJH=F
Name: 25984, dtype: object
0           LG1
1         30005
2             T
3            10
4    ,,.,.,,,A,
5    FHe@.JJH=F
Name: 25984, dtype: object
0           LG1
1         30005
2             T
3            10
4    ,,.,.,,,A,
5    FHe@.JJH=F
Name: 25984, dtype: object
0           LG1
1         30005
2             T
3            10
4    ,,.,.,,,A,
5    FHe@.JJH=F
Name: 25984, dtype: object
0           LG1
1         30005
2             T
3            10
4    ,,.,.,,,A,
5    FHe@.JJH=F
Name: 25984, dtype: object
0           LG1
1         30006
2             G
3            10
4    ,,.,.,,,.,
5    FFhF@JJJ@F
Name: 25985, dtype: object
0           LG1
1         30006
2             G
3            10
4    ,,.,.,,,.,
5    FFhF@JJJ@F
Name: 25985, dtype: object
0           LG1
1         30006
2             G
3            10
4    ,,.,.,,,.,
5    FFhF@JJJ@F
Name: 25985, dtype: object
0           LG1
1         30006
2             G
3            10
4    ,,.,.,,,.,
5    FFhF@JJJ@F
Name: 25985, dtype: object
0           LG1
1         30006
2             G
3            10
4    ,,.,.,,,.,
5    FFhF@JJJ@F
Name: 25985, dtype: object
0           LG1
1         30006
2             G
3            10
4    ,,.,.,,,.,
5    FFhF@JJJ@F
Name: 25985, dtype: object
0           LG1
1         30006
2             G
3            10
4    ,,.,.,,,.,
5    FFhF@JJJ@F
Name: 25985, dtype: object
0           LG1
1         30006
2             G
3            10
4    ,,.,.,,,.,
5    FFhF@JJJ@F
Name: 25985, dtype: object
0           LG1
1         30006
2             G
3            10
4    ,,.,.,,,.,
5    FFhF@JJJ@F
Name: 25985, dtype: object
0           LG1
1         30006
2             G
3            10
4    ,,.,.,,,.,
5    FFhF@JJJ@F
Name: 25985, dtype: object
0           LG1
1         30007
2             A
3            10
4    ,,.,.,,,.,
5    FCh?CJJJBE
Name: 25986, dtype: object
0           LG1
1         30007
2             A
3            10
4    ,,.,.,,,.,
5    FCh?CJJJBE
Name: 25986, dtype: object
0           LG1
1         30007
2             A
3            10
4    ,,.,.,,,.,
5    FCh?CJJJBE
Name: 25986, dtype: object
0           LG1
1         30007
2             A
3            10
4    ,,.,.,,,.,
5    FCh?CJJJBE
Name: 25986, dtype: object
0           LG1
1         30007
2             A
3            10
4    ,,.,.,,,.,
5    FCh?CJJJBE
Name: 25986, dtype: object
0           LG1
1         30007
2             A
3            10
4    ,,.,.,,,.,
5    FCh?CJJJBE
Name: 25986, dtype: object
0           LG1
1         30007
2             A
3            10
4    ,,.,.,,,.,
5    FCh?CJJJBE
Name: 25986, dtype: object
0           LG1
1         30007
2             A
3            10
4    ,,.,.,,,.,
5    FCh?CJJJBE
Name: 25986, dtype: object
0           LG1
1         30007
2             A
3            10
4    ,,.,.,,,.,
5    FCh?CJJJBE
Name: 25986, dtype: object
0           LG1
1         30007
2             A
3            10
4    ,,.,.,,,.,
5    FCh?CJJJBE
Name: 25986, dtype: object
0           LG1
1         30018
2             G
3             9
4    ,$.,.,,,.,
5     BmGCJJJDJ
Name: 25997, dtype: object
0           LG1
1         30018
2             G
3             9
4    ,$.,.,,,.,
5     BmGCJJJDJ
Name: 25997, dtype: object
0           LG1
1         30018
2             G
3             9
4    ,$.,.,,,.,
5     BmGCJJJDJ
Name: 25997, dtype: object
0           LG1
1         30018
2             G
3             9
4    ,$.,.,,,.,
5     BmGCJJJDJ
Name: 25997, dtype: object
0           LG1
1         30018
2             G
3             9
4    ,$.,.,,,.,
5     BmGCJJJDJ
Name: 25997, dtype: object
0           LG1
1         30018
2             G
3             9
4    ,$.,.,,,.,
5     BmGCJJJDJ
Name: 25997, dtype: object
0           LG1
1         30018
2             G
3             9
4    ,$.,.,,,.,
5     BmGCJJJDJ
Name: 25997, dtype: object
0           LG1
1         30018
2             G
3             9
4    ,$.,.,,,.,
5     BmGCJJJDJ
Name: 25997, dtype: object
0           LG1
1         30018
2             G
3             9
4    ,$.,.,,,.,
5     BmGCJJJDJ
Name: 25997, dtype: object
0           LG1
1         30042
2             G
3            10
4    .,.,,,,,,,
5    jF<GJIIAD4
Name: 26021, dtype: object
0           LG1
1         30042
2             G
3            10
4    .,.,,,,,,,
5    jF<GJIIAD4
Name: 26021, dtype: object
0           LG1
1         30042
2             G
3            10
4    .,.,,,,,,,
5    jF<GJIIAD4
Name: 26021, dtype: object
0           LG1
1         30042
2             G
3            10
4    .,.,,,,,,,
5    jF<GJIIAD4
Name: 26021, dtype: object
0           LG1
1         30042
2             G
3            10
4    .,.,,,,,,,
5    jF<GJIIAD4
Name: 26021, dtype: object
0           LG1
1         30042
2             G
3            10
4    .,.,,,,,,,
5    jF<GJIIAD4
Name: 26021, dtype: object
0           LG1
1         30042
2             G
3            10
4    .,.,,,,,,,
5    jF<GJIIAD4
Name: 26021, dtype: object
0           LG1
1         30042
2             G
3            10
4    .,.,,,,,,,
5    jF<GJIIAD4
Name: 26021, dtype: object
0           LG1
1         30043
2             C
3            10
4    .,.,,,,,,,
5    lD<GJJJ>D@
Name: 26022, dtype: object
0           LG1
1         30043
2             C
3            10
4    .,.,,,,,,,
5    lD<GJJJ>D@
Name: 26022, dtype: object
0           LG1
1         30043
2             C
3            10
4    .,.,,,,,,,
5    lD<GJJJ>D@
Name: 26022, dtype: object
0           LG1
1         30043
2             C
3            10
4    .,.,,,,,,,
5    lD<GJJJ>D@
Name: 26022, dtype: object
0           LG1
1         30043
2             C
3            10
4    .,.,,,,,,,
5    lD<GJJJ>D@
Name: 26022, dtype: object
0           LG1
1         30043
2             C
3            10
4    .,.,,,,,,,
5    lD<GJJJ>D@
Name: 26022, dtype: object
0           LG1
1         30043
2             C
3            10
4    .,.,,,,,,,
5    lD<GJJJ>D@
Name: 26022, dtype: object
0           LG1
1         30043
2             C
3            10
4    .,.,,,,,,,
5    lD<GJJJ>D@
Name: 26022, dtype: object

0           LG1
1         30044
2             T
3            10
4    .,.,,,,,,,
5    kABHJIJCD:
Name: 26023, dtype: object
0           LG1
1         30044
2             T
3            10
4    .,.,,,,,,,
5    kABHJIJCD:
Name: 26023, dtype: object
0           LG1
1         30044
2             T
3            10
4    .,.,,,,,,,
5    kABHJIJCD:
Name: 26023, dtype: object
0           LG1
1         30044
2             T
3            10
4    .,.,,,,,,,
5    kABHJIJCD:
Name: 26023, dtype: object
0           LG1
1         30044
2             T
3            10
4    .,.,,,,,,,
5    kABHJIJCD:
Name: 26023, dtype: object
0           LG1
1         30044
2             T
3            10
4    .,.,,,,,,,
5    kABHJIJCD:
Name: 26023, dtype: object
0           LG1
1         30044
2             T
3            10
4    .,.,,,,,,,
5    kABHJIJCD:
Name: 26023, dtype: object
0           LG1
1         30044
2             T
3            10
4    .,.,,,,,,,
5    kABHJIJCD:
Name: 26023, dtype: object
0           LG1
1         30044
2             T
3            10
4    .,.,,,,,,,
5    kABHJIJCD:
Name: 26023, dtype: object
0           LG1
1         30045
2             A
3            10
4    .,.,,,,,,,
5    lF<HJJJDE:
Name: 26024, dtype: object
0           LG1
1         30045
2             A
3            10
4    .,.,,,,,,,
5    lF<HJJJDE:
Name: 26024, dtype: object
0           LG1
1         30045
2             A
3            10
4    .,.,,,,,,,
5    lF<HJJJDE:
Name: 26024, dtype: object
0           LG1
1         30045
2             A
3            10
4    .,.,,,,,,,
5    lF<HJJJDE:
Name: 26024, dtype: object
0           LG1
1         30045
2             A
3            10
4    .,.,,,,,,,
5    lF<HJJJDE:
Name: 26024, dtype: object
0           LG1
1         30045
2             A
3            10
4    .,.,,,,,,,
5    lF<HJJJDE:
Name: 26024, dtype: object
0           LG1
1         30045
2             A
3            10
4    .,.,,,,,,,
5    lF<HJJJDE:
Name: 26024, dtype: object
0           LG1
1         30045
2             A
3            10
4    .,.,,,,,,,
5    lF<HJJJDE:
Name: 26024, dtype: object
0           LG1
1         30047
2             G
3            10
4    ,.,,,,,,,,
5    DAHJJIJCD:
Name: 26026, dtype: object
0           LG1
1         30047
2             G
3            10
4    ,.,,,,,,,,
5    DAHJJIJCD:
Name: 26026, dtype: object
0           LG1
1         30047
2             G
3            10
4    ,.,,,,,,,,
5    DAHJJIJCD:
Name: 26026, dtype: object
0           LG1
1         30047
2             G
3            10
4    ,.,,,,,,,,
5    DAHJJIJCD:
Name: 26026, dtype: object
0           LG1
1         30047
2             G
3            10
4    ,.,,,,,,,,
5    DAHJJIJCD:
Name: 26026, dtype: object
0           LG1
1         30047
2             G
3            10
4    ,.,,,,,,,,
5    DAHJJIJCD:
Name: 26026, dtype: object
0           LG1
1         30047
2             G
3            10
4    ,.,,,,,,,,
5    DAHJJIJCD:
Name: 26026, dtype: object
0           LG1
1         30047
2             G
3            10
4    ,.,,,,,,,,
5    DAHJJIJCD:
Name: 26026, dtype: object
0           LG1
1         30047
2             G
3            10
4    ,.,,,,,,,,
5    DAHJJIJCD:
Name: 26026, dtype: object
0           LG1
1         30048
2             A
3            10
4    ,.,,,,,,,,
5    <AHJIJJAE4
Name: 26027, dtype: object
0           LG1
1         30048
2             A
3            10
4    ,.,,,,,,,,
5    <AHJIJJAE4
Name: 26027, dtype: object
0           LG1
1         30048
2             A
3            10
4    ,.,,,,,,,,
5    <AHJIJJAE4
Name: 26027, dtype: object
0           LG1
1         30048
2             A
3            10
4    ,.,,,,,,,,
5    <AHJIJJAE4
Name: 26027, dtype: object
0           LG1
1         30048
2             A
3            10
4    ,.,,,,,,,,
5    <AHJIJJAE4
Name: 26027, dtype: object
0           LG1
1         30048
2             A
3            10
4    ,.,,,,,,,,
5    <AHJIJJAE4
Name: 26027, dtype: object
0           LG1
1         30048
2             A
3            10
4    ,.,,,,,,,,
5    <AHJIJJAE4
Name: 26027, dtype: object
0           LG1
1         30048
2             A
3            10
4    ,.,,,,,,,,
5    <AHJIJJAE4
Name: 26027, dtype: object
0           LG1
1         30152
2             A
3             8
4    ,,,,,,,^2,
5      HDDDDAC>
Name: 26131, dtype: object
0           LG1
1         30152
2             A
3             8
4    ,,,,,,,^2,
5      HDDDDAC>
Name: 26131, dtype: object
0           LG1
1         30152
2             A
3             8
4    ,,,,,,,^2,
5      HDDDDAC>
Name: 26131, dtype: object
0           LG1
1         30152
2             A
3             8
4    ,,,,,,,^2,
5      HDDDDAC>
Name: 26131, dtype: object
0           LG1
1         30152
2             A
3             8
4    ,,,,,,,^2,
5      HDDDDAC>
Name: 26131, dtype: object
0           LG1
1         30152
2             A
3             8
4    ,,,,,,,^2,
5      HDDDDAC>
Name: 26131, dtype: object
0           LG1
1         30152
2             A
3             8
4    ,,,,,,,^2,
5      HDDDDAC>
Name: 26131, dtype: object
0           LG1
1         30614
2             C
3             6
4    ,T..^!.^:,
5        JJFF=>
Name: 26541, dtype: object
0           LG1
1         30614
2             C
3             6
4    ,T..^!.^:,
5        JJFF=>
Name: 26541, dtype: object
0           LG1
1         30614
2             C
3             6
4    ,T..^!.^:,
5        JJFF=>
Name: 26541, dtype: object
0           LG1
1         30614
2             C
3             6
4    ,T..^!.^:,
5        JJFF=>
Name: 26541, dtype: object
0           LG1
1         30638
2             A
3            10
4    ,....,,.,,
5    JGIJ<6FHD6
Name: 26565, dtype: object
0           LG1
1         30638
2             A
3            10
4    ,....,,.,,
5    JGIJ<6FHD6
Name: 26565, dtype: object
0           LG1
1         30638
2             A
3            10
4    ,....,,.,,
5    JGIJ<6FHD6
Name: 26565, dtype: object
0           LG1
1         30638
2             A
3            10
4    ,....,,.,,
5    JGIJ<6FHD6
Name: 26565, dtype: object
0           LG1
1         30638
2             A
3            10
4    ,....,,.,,
5    JGIJ<6FHD6
Name: 26565, dtype: object
0           LG1
1         30638
2             A
3            10
4    ,....,,.,,
5    JGIJ<6FHD6
Name: 26565, dtype: object
0           LG1
1         30638
2             A
3            10
4    ,....,,.,,
5    JGIJ<6FHD6
Name: 26565, dtype: object
0           LG1
1         30639
2             A
3            10
4    ,....,,.,,
5    JMJJA@DHD7
Name: 26566, dtype: object
0           LG1
1         30639
2             A
3            10
4    ,....,,.,,
5    JMJJA@DHD7
Name: 26566, dtype: object
0           LG1
1         30639
2             A
3            10
4    ,....,,.,,
5    JMJJA@DHD7
Name: 26566, dtype: object
0           LG1
1         30639
2             A
3            10
4    ,....,,.,,
5    JMJJA@DHD7
Name: 26566, dtype: object
0           LG1
1         30639
2             A
3            10
4    ,....,,.,,
5    JMJJA@DHD7
Name: 26566, dtype: object
0           LG1
1         30639
2             A
3            10
4    ,....,,.,,
5    JMJJA@DHD7
Name: 26566, dtype: object
0           LG1
1         30639
2             A
3            10
4    ,....,,.,,
5    JMJJA@DHD7
Name: 26566, dtype: object
0           LG1
1         30639
2             A
3            10
4    ,....,,.,,
5    JMJJA@DHD7
Name: 26566, dtype: object
0           LG1
1         30639
2             A
3            10
4    ,....,,.,,
5    JMJJA@DHD7
Name: 26566, dtype: object
0           LG1
1         30640
2             A
3            10
4    ,....,,.,,
5    IQJJ<9?JD8
Name: 26567, dtype: object
0           LG1
1         30640
2             A
3            10
4    ,....,,.,,
5    IQJJ<9?JD8
Name: 26567, dtype: object
0           LG1
1         30640
2             A
3            10
4    ,....,,.,,
5    IQJJ<9?JD8
Name: 26567, dtype: object
0           LG1
1         30640
2             A
3            10
4    ,....,,.,,
5    IQJJ<9?JD8
Name: 26567, dtype: object
0           LG1
1         30640
2             A
3            10
4    ,....,,.,,
5    IQJJ<9?JD8
Name: 26567, dtype: object
0           LG1
1         30640
2             A
3            10
4    ,....,,.,,
5    IQJJ<9?JD8
Name: 26567, dtype: object
0           LG1
1         30640
2             A
3            10
4    ,....,,.,,
5    IQJJ<9?JD8
Name: 26567, dtype: object
0           LG1
1         30642
2             C
3            10
4    ,....,,.,t
5    JhGJ=?HJE8
Name: 26569, dtype: object
0           LG1
1         30642
2             C
3            10
4    ,....,,.,t
5    JhGJ=?HJE8
Name: 26569, dtype: object
0           LG1
1         30642
2             C
3            10
4    ,....,,.,t
5    JhGJ=?HJE8
Name: 26569, dtype: object
0           LG1
1         30642
2             C
3            10
4    ,....,,.,t
5    JhGJ=?HJE8
Name: 26569, dtype: object
0           LG1
1         30642
2             C
3            10
4    ,....,,.,t
5    JhGJ=?HJE8
Name: 26569, dtype: object
0           LG1
1         30642
2             C
3            10
4    ,....,,.,t
5    JhGJ=?HJE8
Name: 26569, dtype: object
0           LG1
1         30642
2             C
3            10
4    ,....,,.,t
5    JhGJ=?HJE8
Name: 26569, dtype: object
0           LG1
1         30642
2             C
3            10
4    ,....,,.,t
5    JhGJ=?HJE8
Name: 26569, dtype: object
0           LG1
1         30644
2             C
3            10
4    ,....,,.,t
5    JkJJ2?HJD8
Name: 26571, dtype: object
0           LG1
1         30644
2             C
3            10
4    ,....,,.,t
5    JkJJ2?HJD8
Name: 26571, dtype: object
0           LG1
1         30644
2             C
3            10
4    ,....,,.,t
5    JkJJ2?HJD8
Name: 26571, dtype: object
0           LG1
1         30644
2             C
3            10
4    ,....,,.,t
5    JkJJ2?HJD8
Name: 26571, dtype: object
0           LG1
1         30644
2             C
3            10
4    ,....,,.,t
5    JkJJ2?HJD8
Name: 26571, dtype: object
0           LG1
1         30644
2             C
3            10
4    ,....,,.,t
5    JkJJ2?HJD8
Name: 26571, dtype: object
0           LG1
1         30644
2             C
3            10
4    ,....,,.,t
5    JkJJ2?HJD8
Name: 26571, dtype: object
0           LG1
1         30644
2             C
3            10
4    ,....,,.,t
5    JkJJ2?HJD8
Name: 26571, dtype: object
0           LG1
1         30647
2             A
3            10
4    ,....,,.,,
5    HlJJ=7JJFE
Name: 26574, dtype: object
0           LG1
1         30647
2             A
3            10
4    ,....,,.,,
5    HlJJ=7JJFE
Name: 26574, dtype: object
0           LG1
1         30647
2             A
3            10
4    ,....,,.,,
5    HlJJ=7JJFE
Name: 26574, dtype: object
0           LG1
1         30647
2             A
3            10
4    ,....,,.,,
5    HlJJ=7JJFE
Name: 26574, dtype: object
0           LG1
1         30647
2             A
3            10
4    ,....,,.,,
5    HlJJ=7JJFE
Name: 26574, dtype: object
0           LG1
1         30647
2             A
3            10
4    ,....,,.,,
5    HlJJ=7JJFE
Name: 26574, dtype: object
0           LG1
1         30647
2             A
3            10
4    ,....,,.,,
5    HlJJ=7JJFE
Name: 26574, dtype: object
0           LG1
1         30647
2             A
3            10
4    ,....,,.,,
5    HlJJ=7JJFE
Name: 26574, dtype: object
0           LG1
1         30649
2             T
3            10
4    ,....,,.,,
5    HjJJ9.JJFD
Name: 26576, dtype: object
0           LG1
1         30649
2             T
3            10
4    ,....,,.,,
5    HjJJ9.JJFD
Name: 26576, dtype: object
0           LG1
1         30649
2             T
3            10
4    ,....,,.,,
5    HjJJ9.JJFD
Name: 26576, dtype: object
0           LG1
1         30649
2             T
3            10
4    ,....,,.,,
5    HjJJ9.JJFD
Name: 26576, dtype: object
0           LG1
1         30649
2             T
3            10
4    ,....,,.,,
5    HjJJ9.JJFD
Name: 26576, dtype: object
0           LG1
1         30649
2             T
3            10
4    ,....,,.,,
5    HjJJ9.JJFD
Name: 26576, dtype: object
0           LG1
1         30649
2             T
3            10
4    ,....,,.,,
5    HjJJ9.JJFD
Name: 26576, dtype: object
0           LG1
1         30649
2             T
3            10
4    ,....,,.,,
5    HjJJ9.JJFD
Name: 26576, dtype: object
0           LG1
1         30652
2             A
3            10
4    ,....t,.,,
5    FmEJ>FIJDD
Name: 26579, dtype: object
0           LG1
1         30652
2             A
3            10
4    ,....t,.,,
5    FmEJ>FIJDD
Name: 26579, dtype: object
0           LG1
1         30652
2             A
3            10
4    ,....t,.,,
5    FmEJ>FIJDD
Name: 26579, dtype: object
0           LG1
1         30652
2             A
3            10
4    ,....t,.,,
5    FmEJ>FIJDD
Name: 26579, dtype: object
0           LG1
1         30652
2             A
3            10
4    ,....t,.,,
5    FmEJ>FIJDD
Name: 26579, dtype: object
0           LG1
1         30652
2             A
3            10
4    ,....t,.,,
5    FmEJ>FIJDD
Name: 26579, dtype: object
0           LG1
1         30652
2             A
3            10
4    ,....t,.,,
5    FmEJ>FIJDD
Name: 26579, dtype: object

0           LG1
1         30652
2             A
3            10
4    ,....t,.,,
5    FmEJ>FIJDD
Name: 26579, dtype: object
0           LG1
1         30652
2             A
3            10
4    ,....t,.,,
5    FmEJ>FIJDD
Name: 26579, dtype: object
0           LG1
1         30660
2             A
3            10
4    ....,,.,,,
5    gBJAEJJIHD
Name: 26587, dtype: object
0           LG1
1         30660
2             A
3            10
4    ....,,.,,,
5    gBJAEJJIHD
Name: 26587, dtype: object
0           LG1
1         30660
2             A
3            10
4    ....,,.,,,
5    gBJAEJJIHD
Name: 26587, dtype: object
0           LG1
1         30660
2             A
3            10
4    ....,,.,,,
5    gBJAEJJIHD
Name: 26587, dtype: object
0           LG1
1         30660
2             A
3            10
4    ....,,.,,,
5    gBJAEJJIHD
Name: 26587, dtype: object
0           LG1
1         30660
2             A
3            10
4    ....,,.,,,
5    gBJAEJJIHD
Name: 26587, dtype: object
0           LG1
1         30660
2             A
3            10
4    ....,,.,,,
5    gBJAEJJIHD
Name: 26587, dtype: object
0           LG1
1         30660
2             A
3            10
4    ....,,.,,,
5    gBJAEJJIHD
Name: 26587, dtype: object
0           LG1
1         30660
2             A
3            10
4    ....,,.,,,
5    gBJAEJJIHD
Name: 26587, dtype: object
0           LG1
1         30660
2             A
3            10
4    ....,,.,,,
5    gBJAEJJIHD
Name: 26587, dtype: object
0           LG1
1         30661
2             A
3            10
4    ....,,.,,,
5    iHJAFIJGED
Name: 26588, dtype: object
0           LG1
1         30661
2             A
3            10
4    ....,,.,,,
5    iHJAFIJGED
Name: 26588, dtype: object
0           LG1
1         30661
2             A
3            10
4    ....,,.,,,
5    iHJAFIJGED
Name: 26588, dtype: object
0           LG1
1         30661
2             A
3            10
4    ....,,.,,,
5    iHJAFIJGED
Name: 26588, dtype: object
0           LG1
1         30661
2             A
3            10
4    ....,,.,,,
5    iHJAFIJGED
Name: 26588, dtype: object
0           LG1
1         30661
2             A
3            10
4    ....,,.,,,
5    iHJAFIJGED
Name: 26588, dtype: object
0           LG1
1         30661
2             A
3            10
4    ....,,.,,,
5    iHJAFIJGED
Name: 26588, dtype: object
0           LG1
1         30661
2             A
3            10
4    ....,,.,,,
5    iHJAFIJGED
Name: 26588, dtype: object
0           LG1
1         30661
2             A
3            10
4    ....,,.,,,
5    iHJAFIJGED
Name: 26588, dtype: object
0           LG1
1         30661
2             A
3            10
4    ....,,.,,,
5    iHJAFIJGED
Name: 26588, dtype: object
0           LG1
1         30662
2             A
3            10
4    ....,,.,,,
5    cGJ=DGJEAC
Name: 26589, dtype: object
0           LG1
1         30662
2             A
3            10
4    ....,,.,,,
5    cGJ=DGJEAC
Name: 26589, dtype: object
0           LG1
1         30662
2             A
3            10
4    ....,,.,,,
5    cGJ=DGJEAC
Name: 26589, dtype: object
0           LG1
1         30662
2             A
3            10
4    ....,,.,,,
5    cGJ=DGJEAC
Name: 26589, dtype: object
0           LG1
1         30662
2             A
3            10
4    ....,,.,,,
5    cGJ=DGJEAC
Name: 26589, dtype: object
0           LG1
1         30662
2             A
3            10
4    ....,,.,,,
5    cGJ=DGJEAC
Name: 26589, dtype: object
0           LG1
1         30662
2             A
3            10
4    ....,,.,,,
5    cGJ=DGJEAC
Name: 26589, dtype: object
0           LG1
1         30662
2             A
3            10
4    ....,,.,,,
5    cGJ=DGJEAC
Name: 26589, dtype: object
0           LG1
1         30662
2             A
3            10
4    ....,,.,,,
5    cGJ=DGJEAC
Name: 26589, dtype: object
0           LG1
1         30663
2             A
3            10
4    ....,,.,,,
5    gIJ<BFJHHC
Name: 26590, dtype: object
0           LG1
1         30663
2             A
3            10
4    ....,,.,,,
5    gIJ<BFJHHC
Name: 26590, dtype: object
0           LG1
1         30663
2             A
3            10
4    ....,,.,,,
5    gIJ<BFJHHC
Name: 26590, dtype: object
0           LG1
1         30663
2             A
3            10
4    ....,,.,,,
5    gIJ<BFJHHC
Name: 26590, dtype: object
0           LG1
1         30663
2             A
3            10
4    ....,,.,,,
5    gIJ<BFJHHC
Name: 26590, dtype: object
0           LG1
1         30663
2             A
3            10
4    ....,,.,,,
5    gIJ<BFJHHC
Name: 26590, dtype: object
0           LG1
1         30663
2             A
3            10
4    ....,,.,,,
5    gIJ<BFJHHC
Name: 26590, dtype: object
0           LG1
1         30663
2             A
3            10
4    ....,,.,,,
5    gIJ<BFJHHC
Name: 26590, dtype: object
0           LG1
1         30663
2             A
3            10
4    ....,,.,,,
5    gIJ<BFJHHC
Name: 26590, dtype: object
0           LG1
1         30664
2             C
3            10
4    ....,,.,,,
5    kJJ0EIJIHD
Name: 26591, dtype: object
0           LG1
1         30664
2             C
3            10
4    ....,,.,,,
5    kJJ0EIJIHD
Name: 26591, dtype: object
0           LG1
1         30664
2             C
3            10
4    ....,,.,,,
5    kJJ0EIJIHD
Name: 26591, dtype: object
0           LG1
1         30664
2             C
3            10
4    ....,,.,,,
5    kJJ0EIJIHD
Name: 26591, dtype: object
0           LG1
1         30664
2             C
3            10
4    ....,,.,,,
5    kJJ0EIJIHD
Name: 26591, dtype: object
0           LG1
1         30664
2             C
3            10
4    ....,,.,,,
5    kJJ0EIJIHD
Name: 26591, dtype: object
0           LG1
1         30664
2             C
3            10
4    ....,,.,,,
5    kJJ0EIJIHD
Name: 26591, dtype: object
0           LG1
1         30664
2             C
3            10
4    ....,,.,,,
5    kJJ0EIJIHD
Name: 26591, dtype: object
0           LG1
1         30664
2             C
3            10
4    ....,,.,,,
5    kJJ0EIJIHD
Name: 26591, dtype: object
0           LG1
1         30665
2             T
3            10
4    ....,,.,,,
5    jJJ=FIJHHC
Name: 26592, dtype: object
0           LG1
1         30665
2             T
3            10
4    ....,,.,,,
5    jJJ=FIJHHC
Name: 26592, dtype: object
0           LG1
1         30665
2             T
3            10
4    ....,,.,,,
5    jJJ=FIJHHC
Name: 26592, dtype: object
0           LG1
1         30665
2             T
3            10
4    ....,,.,,,
5    jJJ=FIJHHC
Name: 26592, dtype: object
0           LG1
1         30665
2             T
3            10
4    ....,,.,,,
5    jJJ=FIJHHC
Name: 26592, dtype: object
0           LG1
1         30665
2             T
3            10
4    ....,,.,,,
5    jJJ=FIJHHC
Name: 26592, dtype: object
0           LG1
1         30665
2             T
3            10
4    ....,,.,,,
5    jJJ=FIJHHC
Name: 26592, dtype: object
0           LG1
1         30665
2             T
3            10
4    ....,,.,,,
5    jJJ=FIJHHC
Name: 26592, dtype: object
0           LG1
1         30665
2             T
3            10
4    ....,,.,,,
5    jJJ=FIJHHC
Name: 26592, dtype: object
0           LG1
1         30666
2             T
3            10
4    ....,,.,,,
5    iJJ?FHJAGC
Name: 26593, dtype: object
0           LG1
1         30666
2             T
3            10
4    ....,,.,,,
5    iJJ?FHJAGC
Name: 26593, dtype: object
0           LG1
1         30666
2             T
3            10
4    ....,,.,,,
5    iJJ?FHJAGC
Name: 26593, dtype: object
0           LG1
1         30666
2             T
3            10
4    ....,,.,,,
5    iJJ?FHJAGC
Name: 26593, dtype: object
0           LG1
1         30666
2             T
3            10
4    ....,,.,,,
5    iJJ?FHJAGC
Name: 26593, dtype: object
0           LG1
1         30666
2             T
3            10
4    ....,,.,,,
5    iJJ?FHJAGC
Name: 26593, dtype: object
0           LG1
1         30666
2             T
3            10
4    ....,,.,,,
5    iJJ?FHJAGC
Name: 26593, dtype: object
0           LG1
1         30666
2             T
3            10
4    ....,,.,,,
5    iJJ?FHJAGC
Name: 26593, dtype: object
0           LG1
1         30666
2             T
3            10
4    ....,,.,,,
5    iJJ?FHJAGC
Name: 26593, dtype: object
0           LG1
1         30666
2             T
3            10
4    ....,,.,,,
5    iJJ?FHJAGC
Name: 26593, dtype: object
0           LG1
1         30667
2             C
3            10
4    ....,,.,,,
5    lJJ=<JJHID
Name: 26594, dtype: object
0           LG1
1         30667
2             C
3            10
4    ....,,.,,,
5    lJJ=<JJHID
Name: 26594, dtype: object
0           LG1
1         30667
2             C
3            10
4    ....,,.,,,
5    lJJ=<JJHID
Name: 26594, dtype: object
0           LG1
1         30667
2             C
3            10
4    ....,,.,,,
5    lJJ=<JJHID
Name: 26594, dtype: object
0           LG1
1         30667
2             C
3            10
4    ....,,.,,,
5    lJJ=<JJHID
Name: 26594, dtype: object
0           LG1
1         30667
2             C
3            10
4    ....,,.,,,
5    lJJ=<JJHID
Name: 26594, dtype: object
0           LG1
1         30667
2             C
3            10
4    ....,,.,,,
5    lJJ=<JJHID
Name: 26594, dtype: object
0           LG1
1         30667
2             C
3            10
4    ....,,.,,,
5    lJJ=<JJHID
Name: 26594, dtype: object
0           LG1
1         30669
2             A
3            10
4    ....,,.,,,
5    iJI9FJJEJE
Name: 26596, dtype: object
0           LG1
1         30669
2             A
3            10
4    ....,,.,,,
5    iJI9FJJEJE
Name: 26596, dtype: object
0           LG1
1         30669
2             A
3            10
4    ....,,.,,,
5    iJI9FJJEJE
Name: 26596, dtype: object
0           LG1
1         30669
2             A
3            10
4    ....,,.,,,
5    iJI9FJJEJE
Name: 26596, dtype: object
0           LG1
1         30669
2             A
3            10
4    ....,,.,,,
5    iJI9FJJEJE
Name: 26596, dtype: object
0           LG1
1         30669
2             A
3            10
4    ....,,.,,,
5    iJI9FJJEJE
Name: 26596, dtype: object
0           LG1
1         30669
2             A
3            10
4    ....,,.,,,
5    iJI9FJJEJE
Name: 26596, dtype: object
0           LG1
1         30669
2             A
3            10
4    ....,,.,,,
5    iJI9FJJEJE
Name: 26596, dtype: object
0           LG1
1         30669
2             A
3            10
4    ....,,.,,,
5    iJI9FJJEJE
Name: 26596, dtype: object
0           LG1
1         30674
2             T
3            10
4    .GG,,.,,,,
5    kGJ9JJIIFC
Name: 26601, dtype: object
0           LG1
1         30674
2             T
3            10
4    .GG,,.,,,,
5    kGJ9JJIIFC
Name: 26601, dtype: object
0           LG1
1         30674
2             T
3            10
4    .GG,,.,,,,
5    kGJ9JJIIFC
Name: 26601, dtype: object
0           LG1
1         30674
2             T
3            10
4    .GG,,.,,,,
5    kGJ9JJIIFC
Name: 26601, dtype: object
0           LG1
1         30674
2             T
3            10
4    .GG,,.,,,,
5    kGJ9JJIIFC
Name: 26601, dtype: object
0           LG1
1         30674
2             T
3            10
4    .GG,,.,,,,
5    kGJ9JJIIFC
Name: 26601, dtype: object
0           LG1
1         30674
2             T
3            10
4    .GG,,.,,,,
5    kGJ9JJIIFC
Name: 26601, dtype: object
0           LG1
1         30674
2             T
3            10
4    .GG,,.,,,,
5    kGJ9JJIIFC
Name: 26601, dtype: object
0           LG1
1         30674
2             T
3            10
4    .GG,,.,,,,
5    kGJ9JJIIFC
Name: 26601, dtype: object
0           LG1
1         30675
2             C
3            10
4    ...,t.,,,,
5    lGJ?JJHIFF
Name: 26602, dtype: object
0           LG1
1         30675
2             C
3            10
4    ...,t.,,,,
5    lGJ?JJHIFF
Name: 26602, dtype: object
0           LG1
1         30675
2             C
3            10
4    ...,t.,,,,
5    lGJ?JJHIFF
Name: 26602, dtype: object
0           LG1
1         30675
2             C
3            10
4    ...,t.,,,,
5    lGJ?JJHIFF
Name: 26602, dtype: object
0           LG1
1         30675
2             C
3            10
4    ...,t.,,,,
5    lGJ?JJHIFF
Name: 26602, dtype: object
0           LG1
1         30675
2             C
3            10
4    ...,t.,,,,
5    lGJ?JJHIFF
Name: 26602, dtype: object
0           LG1
1         30675
2             C
3            10
4    ...,t.,,,,
5    lGJ?JJHIFF
Name: 26602, dtype: object
0           LG1
1         30675
2             C
3            10
4    ...,t.,,,,
5    lGJ?JJHIFF
Name: 26602, dtype: object
0           LG1
1         30675
2             C
3            10
4    ...,t.,,,,
5    lGJ?JJHIFF
Name: 26602, dtype: object
0           LG1
1         30675
2             C
3            10
4    ...,t.,,,,
5    lGJ?JJHIFF
Name: 26602, dtype: object
0           LG1
1         30677
2             A
3            10
4    ...,,.,,,,
5    mIJ9JJAIF<
Name: 26604, dtype: object

0           LG1
1         30677
2             A
3            10
4    ...,,.,,,,
5    mIJ9JJAIF<
Name: 26604, dtype: object
0           LG1
1         30677
2             A
3            10
4    ...,,.,,,,
5    mIJ9JJAIF<
Name: 26604, dtype: object
0           LG1
1         30677
2             A
3            10
4    ...,,.,,,,
5    mIJ9JJAIF<
Name: 26604, dtype: object
0           LG1
1         30677
2             A
3            10
4    ...,,.,,,,
5    mIJ9JJAIF<
Name: 26604, dtype: object
0           LG1
1         30677
2             A
3            10
4    ...,,.,,,,
5    mIJ9JJAIF<
Name: 26604, dtype: object
0           LG1
1         30677
2             A
3            10
4    ...,,.,,,,
5    mIJ9JJAIF<
Name: 26604, dtype: object
0           LG1
1         30677
2             A
3            10
4    ...,,.,,,,
5    mIJ9JJAIF<
Name: 26604, dtype: object
0           LG1
1         30678
2             T
3            10
4    ...,,.,,,,
5    nJJ0JJDGFB
Name: 26605, dtype: object
0           LG1
1         30678
2             T
3            10
4    ...,,.,,,,
5    nJJ0JJDGFB
Name: 26605, dtype: object
0           LG1
1         30678
2             T
3            10
4    ...,,.,,,,
5    nJJ0JJDGFB
Name: 26605, dtype: object
0           LG1
1         30678
2             T
3            10
4    ...,,.,,,,
5    nJJ0JJDGFB
Name: 26605, dtype: object
0           LG1
1         30678
2             T
3            10
4    ...,,.,,,,
5    nJJ0JJDGFB
Name: 26605, dtype: object
0           LG1
1         30678
2             T
3            10
4    ...,,.,,,,
5    nJJ0JJDGFB
Name: 26605, dtype: object
0           LG1
1         30678
2             T
3            10
4    ...,,.,,,,
5    nJJ0JJDGFB
Name: 26605, dtype: object
0           LG1
1         30678
2             T
3            10
4    ...,,.,,,,
5    nJJ0JJDGFB
Name: 26605, dtype: object
0           LG1
1         30678
2             T
3            10
4    ...,,.,,,,
5    nJJ0JJDGFB
Name: 26605, dtype: object
0           LG1
1         30679
2             T
3            10
4    ...,,.,,,,
5    iGJ8JJDFF>
Name: 26606, dtype: object
0           LG1
1         30679
2             T
3            10
4    ...,,.,,,,
5    iGJ8JJDFF>
Name: 26606, dtype: object
0           LG1
1         30679
2             T
3            10
4    ...,,.,,,,
5    iGJ8JJDFF>
Name: 26606, dtype: object
0           LG1
1         30679
2             T
3            10
4    ...,,.,,,,
5    iGJ8JJDFF>
Name: 26606, dtype: object
0           LG1
1         30679
2             T
3            10
4    ...,,.,,,,
5    iGJ8JJDFF>
Name: 26606, dtype: object
0           LG1
1         30679
2             T
3            10
4    ...,,.,,,,
5    iGJ8JJDFF>
Name: 26606, dtype: object
0           LG1
1         30679
2             T
3            10
4    ...,,.,,,,
5    iGJ8JJDFF>
Name: 26606, dtype: object
0           LG1
1         30679
2             T
3            10
4    ...,,.,,,,
5    iGJ8JJDFF>
Name: 26606, dtype: object
0           LG1
1         30680
2             C
3            10
4    ...,,.,,,,
5    jHI:JJHHHF
Name: 26607, dtype: object
0           LG1
1         30680
2             C
3            10
4    ...,,.,,,,
5    jHI:JJHHHF
Name: 26607, dtype: object
0           LG1
1         30680
2             C
3            10
4    ...,,.,,,,
5    jHI:JJHHHF
Name: 26607, dtype: object
0           LG1
1         30680
2             C
3            10
4    ...,,.,,,,
5    jHI:JJHHHF
Name: 26607, dtype: object
0           LG1
1         30680
2             C
3            10
4    ...,,.,,,,
5    jHI:JJHHHF
Name: 26607, dtype: object
0           LG1
1         30680
2             C
3            10
4    ...,,.,,,,
5    jHI:JJHHHF
Name: 26607, dtype: object
0           LG1
1         30680
2             C
3            10
4    ...,,.,,,,
5    jHI:JJHHHF
Name: 26607, dtype: object
0           LG1
1         30680
2             C
3            10
4    ...,,.,,,,
5    jHI:JJHHHF
Name: 26607, dtype: object
0           LG1
1         30680
2             C
3            10
4    ...,,.,,,,
5    jHI:JJHHHF
Name: 26607, dtype: object
0           LG1
1         30683
2             C
3            10
4    ..,t.t,,,t
5    FH@JJHFHJD
Name: 26610, dtype: object
0           LG1
1         30683
2             C
3            10
4    ..,t.t,,,t
5    FH@JJHFHJD
Name: 26610, dtype: object
0           LG1
1         30683
2             C
3            10
4    ..,t.t,,,t
5    FH@JJHFHJD
Name: 26610, dtype: object
0           LG1
1         30683
2             C
3            10
4    ..,t.t,,,t
5    FH@JJHFHJD
Name: 26610, dtype: object
0           LG1
1         30683
2             C
3            10
4    ..,t.t,,,t
5    FH@JJHFHJD
Name: 26610, dtype: object
0           LG1
1         30683
2             C
3            10
4    ..,t.t,,,t
5    FH@JJHFHJD
Name: 26610, dtype: object
0           LG1
1         30683
2             C
3            10
4    ..,t.t,,,t
5    FH@JJHFHJD
Name: 26610, dtype: object
0           LG1
1         30683
2             C
3            10
4    ..,t.t,,,t
5    FH@JJHFHJD
Name: 26610, dtype: object
0           LG1
1         30683
2             C
3            10
4    ..,t.t,,,t
5    FH@JJHFHJD
Name: 26610, dtype: object
0           LG1
1         30683
2             C
3            10
4    ..,t.t,,,t
5    FH@JJHFHJD
Name: 26610, dtype: object
0           LG1
1         30684
2             T
3            10
4    ..,,.,,,,,
5    CGDIJFDGI?
Name: 26611, dtype: object
0           LG1
1         30684
2             T
3            10
4    ..,,.,,,,,
5    CGDIJFDGI?
Name: 26611, dtype: object
0           LG1
1         30684
2             T
3            10
4    ..,,.,,,,,
5    CGDIJFDGI?
Name: 26611, dtype: object
0           LG1
1         30684
2             T
3            10
4    ..,,.,,,,,
5    CGDIJFDGI?
Name: 26611, dtype: object
0           LG1
1         30684
2             T
3            10
4    ..,,.,,,,,
5    CGDIJFDGI?
Name: 26611, dtype: object
0           LG1
1         30684
2             T
3            10
4    ..,,.,,,,,
5    CGDIJFDGI?
Name: 26611, dtype: object
0           LG1
1         30684
2             T
3            10
4    ..,,.,,,,,
5    CGDIJFDGI?
Name: 26611, dtype: object
0           LG1
1         30684
2             T
3            10
4    ..,,.,,,,,
5    CGDIJFDGI?
Name: 26611, dtype: object
0           LG1
1         30684
2             T
3            10
4    ..,,.,,,,,
5    CGDIJFDGI?
Name: 26611, dtype: object
0           LG1
1         30684
2             T
3            10
4    ..,,.,,,,,
5    CGDIJFDGI?
Name: 26611, dtype: object
0           LG1
1         30685
2             C
3            10
4    ..,,.,,,,,
5    BHEIJGDGI@
Name: 26612, dtype: object
0           LG1
1         30685
2             C
3            10
4    ..,,.,,,,,
5    BHEIJGDGI@
Name: 26612, dtype: object
0           LG1
1         30685
2             C
3            10
4    ..,,.,,,,,
5    BHEIJGDGI@
Name: 26612, dtype: object
0           LG1
1         30685
2             C
3            10
4    ..,,.,,,,,
5    BHEIJGDGI@
Name: 26612, dtype: object
0           LG1
1         30685
2             C
3            10
4    ..,,.,,,,,
5    BHEIJGDGI@
Name: 26612, dtype: object
0           LG1
1         30685
2             C
3            10
4    ..,,.,,,,,
5    BHEIJGDGI@
Name: 26612, dtype: object
0           LG1
1         30685
2             C
3            10
4    ..,,.,,,,,
5    BHEIJGDGI@
Name: 26612, dtype: object
0           LG1
1         30685
2             C
3            10
4    ..,,.,,,,,
5    BHEIJGDGI@
Name: 26612, dtype: object
0           LG1
1         30685
2             C
3            10
4    ..,,.,,,,,
5    BHEIJGDGI@
Name: 26612, dtype: object
0           LG1
1         30685
2             C
3            10
4    ..,,.,,,,,
5    BHEIJGDGI@
Name: 26612, dtype: object
0           LG1
1         30686
2             A
3            10
4    ..,,.,,,,,
5    FF?FJD?DHD
Name: 26613, dtype: object
0           LG1
1         30686
2             A
3            10
4    ..,,.,,,,,
5    FF?FJD?DHD
Name: 26613, dtype: object
0           LG1
1         30686
2             A
3            10
4    ..,,.,,,,,
5    FF?FJD?DHD
Name: 26613, dtype: object
0           LG1
1         30686
2             A
3            10
4    ..,,.,,,,,
5    FF?FJD?DHD
Name: 26613, dtype: object
0           LG1
1         30686
2             A
3            10
4    ..,,.,,,,,
5    FF?FJD?DHD
Name: 26613, dtype: object
0           LG1
1         30686
2             A
3            10
4    ..,,.,,,,,
5    FF?FJD?DHD
Name: 26613, dtype: object
0           LG1
1         30686
2             A
3            10
4    ..,,.,,,,,
5    FF?FJD?DHD
Name: 26613, dtype: object
0           LG1
1         30686
2             A
3            10
4    ..,,.,,,,,
5    FF?FJD?DHD
Name: 26613, dtype: object
0           LG1
1         30686
2             A
3            10
4    ..,,.,,,,,
5    FF?FJD?DHD
Name: 26613, dtype: object
0           LG1
1         30686
2             A
3            10
4    ..,,.,,,,,
5    FF?FJD?DHD
Name: 26613, dtype: object
0           LG1
1         30687
2             C
3            10
4    ..,,.,,,,,
5    FFDHJHEGG?
Name: 26614, dtype: object
0           LG1
1         30687
2             C
3            10
4    ..,,.,,,,,
5    FFDHJHEGG?
Name: 26614, dtype: object
0           LG1
1         30687
2             C
3            10
4    ..,,.,,,,,
5    FFDHJHEGG?
Name: 26614, dtype: object
0           LG1
1         30687
2             C
3            10
4    ..,,.,,,,,
5    FFDHJHEGG?
Name: 26614, dtype: object
0           LG1
1         30687
2             C
3            10
4    ..,,.,,,,,
5    FFDHJHEGG?
Name: 26614, dtype: object
0           LG1
1         30687
2             C
3            10
4    ..,,.,,,,,
5    FFDHJHEGG?
Name: 26614, dtype: object
0           LG1
1         30687
2             C
3            10
4    ..,,.,,,,,
5    FFDHJHEGG?
Name: 26614, dtype: object
0           LG1
1         30687
2             C
3            10
4    ..,,.,,,,,
5    FFDHJHEGG?
Name: 26614, dtype: object
0           LG1
1         30687
2             C
3            10
4    ..,,.,,,,,
5    FFDHJHEGG?
Name: 26614, dtype: object
0           LG1
1         30687
2             C
3            10
4    ..,,.,,,,,
5    FFDHJHEGG?
Name: 26614, dtype: object
0           LG1
1         30689
2             C
3            10
4    ..,,.,,,,,
5    FFAHJFDGF?
Name: 26616, dtype: object

0           LG1
1         30689
2             C
3            10
4    ..,,.,,,,,
5    FFAHJFDGF?
Name: 26616, dtype: object
0           LG1
1         30689
2             C
3            10
4    ..,,.,,,,,
5    FFAHJFDGF?
Name: 26616, dtype: object
0           LG1
1         30689
2             C
3            10
4    ..,,.,,,,,
5    FFAHJFDGF?
Name: 26616, dtype: object
0           LG1
1         30689
2             C
3            10
4    ..,,.,,,,,
5    FFAHJFDGF?
Name: 26616, dtype: object
0           LG1
1         30689
2             C
3            10
4    ..,,.,,,,,
5    FFAHJFDGF?
Name: 26616, dtype: object
0           LG1
1         30689
2             C
3            10
4    ..,,.,,,,,
5    FFAHJFDGF?
Name: 26616, dtype: object
0           LG1
1         30689
2             C
3            10
4    ..,,.,,,,,
5    FFAHJFDGF?
Name: 26616, dtype: object
0           LG1
1         30689
2             C
3            10
4    ..,,.,,,,,
5    FFAHJFDGF?
Name: 26616, dtype: object
0           LG1
1         30689
2             C
3            10
4    ..,,.,,,,,
5    FFAHJFDGF?
Name: 26616, dtype: object
0           LG1
1         30690
2             A
3            10
4    ..,,.,,,,,
5    DF@FJC?DB1
Name: 26617, dtype: object
0           LG1
1         30690
2             A
3            10
4    ..,,.,,,,,
5    DF@FJC?DB1
Name: 26617, dtype: object
0           LG1
1         30690
2             A
3            10
4    ..,,.,,,,,
5    DF@FJC?DB1
Name: 26617, dtype: object
0           LG1
1         30690
2             A
3            10
4    ..,,.,,,,,
5    DF@FJC?DB1
Name: 26617, dtype: object
0           LG1
1         30690
2             A
3            10
4    ..,,.,,,,,
5    DF@FJC?DB1
Name: 26617, dtype: object
0           LG1
1         30690
2             A
3            10
4    ..,,.,,,,,
5    DF@FJC?DB1
Name: 26617, dtype: object
0           LG1
1         30690
2             A
3            10
4    ..,,.,,,,,
5    DF@FJC?DB1
Name: 26617, dtype: object
0           LG1
1         30690
2             A
3            10
4    ..,,.,,,,,
5    DF@FJC?DB1
Name: 26617, dtype: object
0           LG1
1         30690
2             A
3            10
4    ..,,.,,,,,
5    DF@FJC?DB1
Name: 26617, dtype: object
0           LG1
1         30691
2             C
3            10
4    ..,,.,,,,,
5    DDEGJIHFFA
Name: 26618, dtype: object
0           LG1
1         30691
2             C
3            10
4    ..,,.,,,,,
5    DDEGJIHFFA
Name: 26618, dtype: object
0           LG1
1         30691
2             C
3            10
4    ..,,.,,,,,
5    DDEGJIHFFA
Name: 26618, dtype: object
0           LG1
1         30691
2             C
3            10
4    ..,,.,,,,,
5    DDEGJIHFFA
Name: 26618, dtype: object
0           LG1
1         30691
2             C
3            10
4    ..,,.,,,,,
5    DDEGJIHFFA
Name: 26618, dtype: object
0           LG1
1         30691
2             C
3            10
4    ..,,.,,,,,
5    DDEGJIHFFA
Name: 26618, dtype: object
0           LG1
1         30691
2             C
3            10
4    ..,,.,,,,,
5    DDEGJIHFFA
Name: 26618, dtype: object
0           LG1
1         30691
2             C
3            10
4    ..,,.,,,,,
5    DDEGJIHFFA
Name: 26618, dtype: object
0           LG1
1         30691
2             C
3            10
4    ..,,.,,,,,
5    DDEGJIHFFA
Name: 26618, dtype: object
0           LG1
1         30691
2             C
3            10
4    ..,,.,,,,,
5    DDEGJIHFFA
Name: 26618, dtype: object
0           LG1
1         30693
2             C
3            10
4    ..,,.,,,,,
5    DDBJJHIJI@
Name: 26620, dtype: object
0           LG1
1         30693
2             C
3            10
4    ..,,.,,,,,
5    DDBJJHIJI@
Name: 26620, dtype: object
0           LG1
1         30693
2             C
3            10
4    ..,,.,,,,,
5    DDBJJHIJI@
Name: 26620, dtype: object
0           LG1
1         30693
2             C
3            10
4    ..,,.,,,,,
5    DDBJJHIJI@
Name: 26620, dtype: object
0           LG1
1         30693
2             C
3            10
4    ..,,.,,,,,
5    DDBJJHIJI@
Name: 26620, dtype: object
0           LG1
1         30693
2             C
3            10
4    ..,,.,,,,,
5    DDBJJHIJI@
Name: 26620, dtype: object
0           LG1
1         30693
2             C
3            10
4    ..,,.,,,,,
5    DDBJJHIJI@
Name: 26620, dtype: object
0           LG1
1         30693
2             C
3            10
4    ..,,.,,,,,
5    DDBJJHIJI@
Name: 26620, dtype: object
0           LG1
1         30693
2             C
3            10
4    ..,,.,,,,,
5    DDBJJHIJI@
Name: 26620, dtype: object
0           LG1
1         30693
2             C
3            10
4    ..,,.,,,,,
5    DDBJJHIJI@
Name: 26620, dtype: object
0           LG1
1         30694
2             C
3            10
4    ..,,.t,t,,
5    ?DEJJGIJJF
Name: 26621, dtype: object
0           LG1
1         30694
2             C
3            10
4    ..,,.t,t,,
5    ?DEJJGIJJF
Name: 26621, dtype: object
0           LG1
1         30694
2             C
3            10
4    ..,,.t,t,,
5    ?DEJJGIJJF
Name: 26621, dtype: object
0           LG1
1         30694
2             C
3            10
4    ..,,.t,t,,
5    ?DEJJGIJJF
Name: 26621, dtype: object
0           LG1
1         30694
2             C
3            10
4    ..,,.t,t,,
5    ?DEJJGIJJF
Name: 26621, dtype: object
0           LG1
1         30694
2             C
3            10
4    ..,,.t,t,,
5    ?DEJJGIJJF
Name: 26621, dtype: object
0           LG1
1         30694
2             C
3            10
4    ..,,.t,t,,
5    ?DEJJGIJJF
Name: 26621, dtype: object
0           LG1
1         30694
2             C
3            10
4    ..,,.t,t,,
5    ?DEJJGIJJF
Name: 26621, dtype: object
0           LG1
1         30694
2             C
3            10
4    ..,,.t,t,,
5    ?DEJJGIJJF
Name: 26621, dtype: object
0           LG1
1         30694
2             C
3            10
4    ..,,.t,t,,
5    ?DEJJGIJJF
Name: 26621, dtype: object
0           LG1
1         30695
2             G
3            10
4    ..,,.,c,,,
5    BD<JHIEJJ4
Name: 26622, dtype: object
0           LG1
1         30695
2             G
3            10
4    ..,,.,c,,,
5    BD<JHIEJJ4
Name: 26622, dtype: object
0           LG1
1         30695
2             G
3            10
4    ..,,.,c,,,
5    BD<JHIEJJ4
Name: 26622, dtype: object
0           LG1
1         30695
2             G
3            10
4    ..,,.,c,,,
5    BD<JHIEJJ4
Name: 26622, dtype: object
0           LG1
1         30695
2             G
3            10
4    ..,,.,c,,,
5    BD<JHIEJJ4
Name: 26622, dtype: object
0           LG1
1         30695
2             G
3            10
4    ..,,.,c,,,
5    BD<JHIEJJ4
Name: 26622, dtype: object
0           LG1
1         30695
2             G
3            10
4    ..,,.,c,,,
5    BD<JHIEJJ4
Name: 26622, dtype: object
0           LG1
1         30695
2             G
3            10
4    ..,,.,c,,,
5    BD<JHIEJJ4
Name: 26622, dtype: object
0           LG1
1         30696
2             A
3            10
4    ..,,.,,,,,
5    BDEJHI@JJG
Name: 26623, dtype: object
0           LG1
1         30696
2             A
3            10
4    ..,,.,,,,,
5    BDEJHI@JJG
Name: 26623, dtype: object
0           LG1
1         30696
2             A
3            10
4    ..,,.,,,,,
5    BDEJHI@JJG
Name: 26623, dtype: object
0           LG1
1         30696
2             A
3            10
4    ..,,.,,,,,
5    BDEJHI@JJG
Name: 26623, dtype: object
0           LG1
1         30696
2             A
3            10
4    ..,,.,,,,,
5    BDEJHI@JJG
Name: 26623, dtype: object
0           LG1
1         30696
2             A
3            10
4    ..,,.,,,,,
5    BDEJHI@JJG
Name: 26623, dtype: object
0           LG1
1         30696
2             A
3            10
4    ..,,.,,,,,
5    BDEJHI@JJG
Name: 26623, dtype: object
0           LG1
1         30696
2             A
3            10
4    ..,,.,,,,,
5    BDEJHI@JJG
Name: 26623, dtype: object
0           LG1
1         30696
2             A
3            10
4    ..,,.,,,,,
5    BDEJHI@JJG
Name: 26623, dtype: object
0           LG1
1         30696
2             A
3            10
4    ..,,.,,,,,
5    BDEJHI@JJG
Name: 26623, dtype: object
0           LG1
1         30697
2             A
3            10
4    ..,,.,,,,,
5    DBGJFIGJIC
Name: 26624, dtype: object
0           LG1
1         30697
2             A
3            10
4    ..,,.,,,,,
5    DBGJFIGJIC
Name: 26624, dtype: object
0           LG1
1         30697
2             A
3            10
4    ..,,.,,,,,
5    DBGJFIGJIC
Name: 26624, dtype: object
0           LG1
1         30697
2             A
3            10
4    ..,,.,,,,,
5    DBGJFIGJIC
Name: 26624, dtype: object
0           LG1
1         30697
2             A
3            10
4    ..,,.,,,,,
5    DBGJFIGJIC
Name: 26624, dtype: object
0           LG1
1         30697
2             A
3            10
4    ..,,.,,,,,
5    DBGJFIGJIC
Name: 26624, dtype: object
0           LG1
1         30697
2             A
3            10
4    ..,,.,,,,,
5    DBGJFIGJIC
Name: 26624, dtype: object
0           LG1
1         30697
2             A
3            10
4    ..,,.,,,,,
5    DBGJFIGJIC
Name: 26624, dtype: object
0           LG1
1         30697
2             A
3            10
4    ..,,.,,,,,
5    DBGJFIGJIC
Name: 26624, dtype: object
0           LG1
1         30697
2             A
3            10
4    ..,,.,,,,,
5    DBGJFIGJIC
Name: 26624, dtype: object
0           LG1
1         30698
2             T
3            10
4    ..,,.,,,,,
5    DDGJFEEJI3
Name: 26625, dtype: object
0           LG1
1         30698
2             T
3            10
4    ..,,.,,,,,
5    DDGJFEEJI3
Name: 26625, dtype: object
0           LG1
1         30698
2             T
3            10
4    ..,,.,,,,,
5    DDGJFEEJI3
Name: 26625, dtype: object
0           LG1
1         30698
2             T
3            10
4    ..,,.,,,,,
5    DDGJFEEJI3
Name: 26625, dtype: object
0           LG1
1         30698
2             T
3            10
4    ..,,.,,,,,
5    DDGJFEEJI3
Name: 26625, dtype: object
0           LG1
1         30698
2             T
3            10
4    ..,,.,,,,,
5    DDGJFEEJI3
Name: 26625, dtype: object
0           LG1
1         30698
2             T
3            10
4    ..,,.,,,,,
5    DDGJFEEJI3
Name: 26625, dtype: object
0           LG1
1         30698
2             T
3            10
4    ..,,.,,,,,
5    DDGJFEEJI3
Name: 26625, dtype: object
0           LG1
1         30698
2             T
3            10
4    ..,,.,,,,,
5    DDGJFEEJI3
Name: 26625, dtype: object
0           LG1
1         30699
2             C
3            10
4    ..,t.,,,,,
5    BDCJFIGJJ:
Name: 26626, dtype: object
0           LG1
1         30699
2             C
3            10
4    ..,t.,,,,,
5    BDCJFIGJJ:
Name: 26626, dtype: object
0           LG1
1         30699
2             C
3            10
4    ..,t.,,,,,
5    BDCJFIGJJ:
Name: 26626, dtype: object
0           LG1
1         30699
2             C
3            10
4    ..,t.,,,,,
5    BDCJFIGJJ:
Name: 26626, dtype: object
0           LG1
1         30699
2             C
3            10
4    ..,t.,,,,,
5    BDCJFIGJJ:
Name: 26626, dtype: object
0           LG1
1         30699
2             C
3            10
4    ..,t.,,,,,
5    BDCJFIGJJ:
Name: 26626, dtype: object
0           LG1
1         30699
2             C
3            10
4    ..,t.,,,,,
5    BDCJFIGJJ:
Name: 26626, dtype: object
0           LG1
1         30699
2             C
3            10
4    ..,t.,,,,,
5    BDCJFIGJJ:
Name: 26626, dtype: object
0           LG1
1         30699
2             C
3            10
4    ..,t.,,,,,
5    BDCJFIGJJ:
Name: 26626, dtype: object
0           LG1
1         30700
2             G
3            10
4    ..,,.,,,,,
5    <@:JFGGJJ?
Name: 26627, dtype: object
0           LG1
1         30700
2             G
3            10
4    ..,,.,,,,,
5    <@:JFGGJJ?
Name: 26627, dtype: object
0           LG1
1         30700
2             G
3            10
4    ..,,.,,,,,
5    <@:JFGGJJ?
Name: 26627, dtype: object
0           LG1
1         30700
2             G
3            10
4    ..,,.,,,,,
5    <@:JFGGJJ?
Name: 26627, dtype: object
0           LG1
1         30700
2             G
3            10
4    ..,,.,,,,,
5    <@:JFGGJJ?
Name: 26627, dtype: object
0           LG1
1         30700
2             G
3            10
4    ..,,.,,,,,
5    <@:JFGGJJ?
Name: 26627, dtype: object
0           LG1
1         30700
2             G
3            10
4    ..,,.,,,,,
5    <@:JFGGJJ?
Name: 26627, dtype: object
0           LG1
1         30700
2             G
3            10
4    ..,,.,,,,,
5    <@:JFGGJJ?
Name: 26627, dtype: object
0           LG1
1         30701
2             A
3            10
4    ..,,.,,,,t
5    ABCJDIIJIF
Name: 26628, dtype: object
0           LG1
1         30701
2             A
3            10
4    ..,,.,,,,t
5    ABCJDIIJIF
Name: 26628, dtype: object
0           LG1
1         30701
2             A
3            10
4    ..,,.,,,,t
5    ABCJDIIJIF
Name: 26628, dtype: object
0           LG1
1         30701
2             A
3            10
4    ..,,.,,,,t
5    ABCJDIIJIF
Name: 26628, dtype: object
0           LG1
1         30701
2             A
3            10
4    ..,,.,,,,t
5    ABCJDIIJIF
Name: 26628, dtype: object
0           LG1
1         30701
2             A
3            10
4    ..,,.,,,,t
5    ABCJDIIJIF

Name: 26628, dtype: object
0           LG1
1         30701
2             A
3            10
4    ..,,.,,,,t
5    ABCJDIIJIF
Name: 26628, dtype: object
0           LG1
1         30701
2             A
3            10
4    ..,,.,,,,t
5    ABCJDIIJIF
Name: 26628, dtype: object
0           LG1
1         30701
2             A
3            10
4    ..,,.,,,,t
5    ABCJDIIJIF
Name: 26628, dtype: object
0           LG1
1         30701
2             A
3            10
4    ..,,.,,,,t
5    ABCJDIIJIF
Name: 26628, dtype: object
0           LG1
1         30702
2             G
3            10
4    ..,,.,,,,,
5    BD:JDIHIGB
Name: 26629, dtype: object
0           LG1
1         30702
2             G
3            10
4    ..,,.,,,,,
5    BD:JDIHIGB
Name: 26629, dtype: object
0           LG1
1         30702
2             G
3            10
4    ..,,.,,,,,
5    BD:JDIHIGB
Name: 26629, dtype: object
0           LG1
1         30702
2             G
3            10
4    ..,,.,,,,,
5    BD:JDIHIGB
Name: 26629, dtype: object
0           LG1
1         30702
2             G
3            10
4    ..,,.,,,,,
5    BD:JDIHIGB
Name: 26629, dtype: object
0           LG1
1         30702
2             G
3            10
4    ..,,.,,,,,
5    BD:JDIHIGB
Name: 26629, dtype: object
0           LG1
1         30702
2             G
3            10
4    ..,,.,,,,,
5    BD:JDIHIGB
Name: 26629, dtype: object
0           LG1
1         30702
2             G
3            10
4    ..,,.,,,,,
5    BD:JDIHIGB
Name: 26629, dtype: object
0           LG1
1         30702
2             G
3            10
4    ..,,.,,,,,
5    BD:JDIHIGB
Name: 26629, dtype: object
0           LG1
1         30703
2             C
3            10
4    ..,,.,,,,,
5    @D:HDIHIC>
Name: 26630, dtype: object
0           LG1
1         30703
2             C
3            10
4    ..,,.,,,,,
5    @D:HDIHIC>
Name: 26630, dtype: object
0           LG1
1         30703
2             C
3            10
4    ..,,.,,,,,
5    @D:HDIHIC>
Name: 26630, dtype: object
0           LG1
1         30703
2             C
3            10
4    ..,,.,,,,,
5    @D:HDIHIC>
Name: 26630, dtype: object
0           LG1
1         30703
2             C
3            10
4    ..,,.,,,,,
5    @D:HDIHIC>
Name: 26630, dtype: object
0           LG1
1         30703
2             C
3            10
4    ..,,.,,,,,
5    @D:HDIHIC>
Name: 26630, dtype: object
0           LG1
1         30703
2             C
3            10
4    ..,,.,,,,,
5    @D:HDIHIC>
Name: 26630, dtype: object
0           LG1
1         30703
2             C
3            10
4    ..,,.,,,,,
5    @D:HDIHIC>
Name: 26630, dtype: object
0           LG1
1         30704
2             T
3            10
4    ..,,.,,,,,
5    @D<HDJHHG@
Name: 26631, dtype: object
0           LG1
1         30704
2             T
3            10
4    ..,,.,,,,,
5    @D<HDJHHG@
Name: 26631, dtype: object
0           LG1
1         30704
2             T
3            10
4    ..,,.,,,,,
5    @D<HDJHHG@
Name: 26631, dtype: object
0           LG1
1         30704
2             T
3            10
4    ..,,.,,,,,
5    @D<HDJHHG@
Name: 26631, dtype: object
0           LG1
1         30704
2             T
3            10
4    ..,,.,,,,,
5    @D<HDJHHG@
Name: 26631, dtype: object
0           LG1
1         30704
2             T
3            10
4    ..,,.,,,,,
5    @D<HDJHHG@
Name: 26631, dtype: object
0           LG1
1         30704
2             T
3            10
4    ..,,.,,,,,
5    @D<HDJHHG@
Name: 26631, dtype: object
0           LG1
1         30704
2             T
3            10
4    ..,,.,,,,,
5    @D<HDJHHG@
Name: 26631, dtype: object
0           LG1
1         30704
2             T
3            10
4    ..,,.,,,,,
5    @D<HDJHHG@
Name: 26631, dtype: object
0           LG1
1         30705
2             A
3            10
4    ..,,.,,,,,
5    :D=HCHFFDF
Name: 26632, dtype: object
0           LG1
1         30705
2             A
3            10
4    ..,,.,,,,,
5    :D=HCHFFDF
Name: 26632, dtype: object
0           LG1
1         30705
2             A
3            10
4    ..,,.,,,,,
5    :D=HCHFFDF
Name: 26632, dtype: object
0           LG1
1         30705
2             A
3            10
4    ..,,.,,,,,
5    :D=HCHFFDF
Name: 26632, dtype: object
0           LG1
1         30705
2             A
3            10
4    ..,,.,,,,,
5    :D=HCHFFDF
Name: 26632, dtype: object
0           LG1
1         30705
2             A
3            10
4    ..,,.,,,,,
5    :D=HCHFFDF
Name: 26632, dtype: object
0           LG1
1         30705
2             A
3            10
4    ..,,.,,,,,
5    :D=HCHFFDF
Name: 26632, dtype: object
0           LG1
1         30705
2             A
3            10
4    ..,,.,,,,,
5    :D=HCHFFDF
Name: 26632, dtype: object
0           LG1
1         30706
2             C
3            10
4    ..,,.,,,,,
5    AD<HDGJJID
Name: 26633, dtype: object
0           LG1
1         30706
2             C
3            10
4    ..,,.,,,,,
5    AD<HDGJJID
Name: 26633, dtype: object
0           LG1
1         30706
2             C
3            10
4    ..,,.,,,,,
5    AD<HDGJJID
Name: 26633, dtype: object
0           LG1
1         30706
2             C
3            10
4    ..,,.,,,,,
5    AD<HDGJJID
Name: 26633, dtype: object
0           LG1
1         30706
2             C
3            10
4    ..,,.,,,,,
5    AD<HDGJJID
Name: 26633, dtype: object
0           LG1
1         30706
2             C
3            10
4    ..,,.,,,,,
5    AD<HDGJJID
Name: 26633, dtype: object
0           LG1
1         30706
2             C
3            10
4    ..,,.,,,,,
5    AD<HDGJJID
Name: 26633, dtype: object
0           LG1
1         30706
2             C
3            10
4    ..,,.,,,,,
5    AD<HDGJJID
Name: 26633, dtype: object
0           LG1
1         30706
2             C
3            10
4    ..,,.,,,,,
5    AD<HDGJJID
Name: 26633, dtype: object
0           LG1
1         30707
2             C
3            10
4    ..,,.,,,,,
5    ?D?HDJJJJF
Name: 26634, dtype: object
0           LG1
1         30707
2             C
3            10
4    ..,,.,,,,,
5    ?D?HDJJJJF
Name: 26634, dtype: object
0           LG1
1         30707
2             C
3            10
4    ..,,.,,,,,
5    ?D?HDJJJJF
Name: 26634, dtype: object
0           LG1
1         30707
2             C
3            10
4    ..,,.,,,,,
5    ?D?HDJJJJF
Name: 26634, dtype: object
0           LG1
1         30707
2             C
3            10
4    ..,,.,,,,,
5    ?D?HDJJJJF
Name: 26634, dtype: object
0           LG1
1         30707
2             C
3            10
4    ..,,.,,,,,
5    ?D?HDJJJJF
Name: 26634, dtype: object
0           LG1
1         30707
2             C
3            10
4    ..,,.,,,,,
5    ?D?HDJJJJF
Name: 26634, dtype: object
0           LG1
1         30707
2             C
3            10
4    ..,,.,,,,,
5    ?D?HDJJJJF
Name: 26634, dtype: object
0           LG1
1         30707
2             C
3            10
4    ..,,.,,,,,
5    ?D?HDJJJJF
Name: 26634, dtype: object
0           LG1
1         30707
2             C
3            10
4    ..,,.,,,,,
5    ?D?HDJJJJF
Name: 26634, dtype: object
0           LG1
1         30708
2             A
3            10
4    ..,,.,,,,,
5    CDDFDJJJJF
Name: 26635, dtype: object
0           LG1
1         30708
2             A
3            10
4    ..,,.,,,,,
5    CDDFDJJJJF
Name: 26635, dtype: object
0           LG1
1         30708
2             A
3            10
4    ..,,.,,,,,
5    CDDFDJJJJF
Name: 26635, dtype: object
0           LG1
1         30708
2             A
3            10
4    ..,,.,,,,,
5    CDDFDJJJJF
Name: 26635, dtype: object
0           LG1
1         30708
2             A
3            10
4    ..,,.,,,,,
5    CDDFDJJJJF
Name: 26635, dtype: object
0           LG1
1         30708
2             A
3            10
4    ..,,.,,,,,
5    CDDFDJJJJF
Name: 26635, dtype: object
0           LG1
1         30708
2             A
3            10
4    ..,,.,,,,,
5    CDDFDJJJJF
Name: 26635, dtype: object
0           LG1
1         30708
2             A
3            10
4    ..,,.,,,,,
5    CDDFDJJJJF
Name: 26635, dtype: object
0           LG1
1         30708
2             A
3            10
4    ..,,.,,,,,
5    CDDFDJJJJF
Name: 26635, dtype: object
0           LG1
1         30708
2             A
3            10
4    ..,,.,,,,,
5    CDDFDJJJJF
Name: 26635, dtype: object
0           LG1
1         30709
2             A
3            10
4    ..,,.,,,,,
5    ACDFDJJJJ?
Name: 26636, dtype: object
0           LG1
1         30709
2             A
3            10
4    ..,,.,,,,,
5    ACDFDJJJJ?
Name: 26636, dtype: object
0           LG1
1         30709
2             A
3            10
4    ..,,.,,,,,
5    ACDFDJJJJ?
Name: 26636, dtype: object
0           LG1
1         30709
2             A
3            10
4    ..,,.,,,,,
5    ACDFDJJJJ?
Name: 26636, dtype: object
0           LG1
1         30709
2             A
3            10
4    ..,,.,,,,,
5    ACDFDJJJJ?
Name: 26636, dtype: object
0           LG1
1         30709
2             A
3            10
4    ..,,.,,,,,
5    ACDFDJJJJ?
Name: 26636, dtype: object
0           LG1
1         30709
2             A
3            10
4    ..,,.,,,,,
5    ACDFDJJJJ?
Name: 26636, dtype: object
0           LG1
1         30709
2             A
3            10
4    ..,,.,,,,,
5    ACDFDJJJJ?
Name: 26636, dtype: object
0           LG1
1         30709
2             A
3            10
4    ..,,.,,,,,
5    ACDFDJJJJ?
Name: 26636, dtype: object
0           LG1
1         30709
2             A
3            10
4    ..,,.,,,,,
5    ACDFDJJJJ?
Name: 26636, dtype: object
0           LG1
1         30711
2             T
3             9
4    .$,,.,,,,,
5     >DFDJJJJB
Name: 26638, dtype: object
0           LG1
1         30711
2             T
3             9
4    .$,,.,,,,,
5     >DFDJJJJB
Name: 26638, dtype: object
0           LG1
1         30711
2             T
3             9
4    .$,,.,,,,,
5     >DFDJJJJB
Name: 26638, dtype: object
0           LG1
1         30711
2             T
3             9
4    .$,,.,,,,,
5     >DFDJJJJB
Name: 26638, dtype: object
0           LG1
1         30711
2             T
3             9
4    .$,,.,,,,,
5     >DFDJJJJB
Name: 26638, dtype: object
0           LG1
1         30711
2             T
3             9
4    .$,,.,,,,,
5     >DFDJJJJB
Name: 26638, dtype: object
0           LG1
1         30711
2             T
3             9
4    .$,,.,,,,,
5     >DFDJJJJB
Name: 26638, dtype: object
0           LG1
1         30711
2             T
3             9
4    .$,,.,,,,,
5     >DFDJJJJB
Name: 26638, dtype: object
0           LG1
1         31267
2             C
3            10
4    ,..,,.,,..
5    J<J@B??@FC
Name: 27073, dtype: object
0           LG1
1         31267
2             C
3            10
4    ,..,,.,,..
5    J<J@B??@FC
Name: 27073, dtype: object
0           LG1
1         31267
2             C
3            10
4    ,..,,.,,..
5    J<J@B??@FC
Name: 27073, dtype: object
0           LG1
1         31267
2             C
3            10
4    ,..,,.,,..
5    J<J@B??@FC
Name: 27073, dtype: object
0           LG1
1         31267
2             C
3            10
4    ,..,,.,,..
5    J<J@B??@FC
Name: 27073, dtype: object
0           LG1
1         31267
2             C
3            10
4    ,..,,.,,..
5    J<J@B??@FC
Name: 27073, dtype: object
0           LG1
1         31267
2             C
3            10
4    ,..,,.,,..
5    J<J@B??@FC
Name: 27073, dtype: object
0           LG1
1         31267
2             C
3            10
4    ,..,,.,,..
5    J<J@B??@FC
Name: 27073, dtype: object
0           LG1
1         31267
2             C
3            10
4    ,..,,.,,..
5    J<J@B??@FC
Name: 27073, dtype: object
0           LG1
1         31268
2             A
3            10
4    ,..,,.,,..
5    HDJ?BD8AFC
Name: 27074, dtype: object
0           LG1
1         31268
2             A
3            10
4    ,..,,.,,..
5    HDJ?BD8AFC
Name: 27074, dtype: object
0           LG1
1         31268
2             A
3            10
4    ,..,,.,,..
5    HDJ?BD8AFC
Name: 27074, dtype: object
0           LG1
1         31268
2             A
3            10
4    ,..,,.,,..
5    HDJ?BD8AFC
Name: 27074, dtype: object
0           LG1
1         31268
2             A
3            10
4    ,..,,.,,..
5    HDJ?BD8AFC
Name: 27074, dtype: object
0           LG1
1         31268
2             A
3            10
4    ,..,,.,,..
5    HDJ?BD8AFC
Name: 27074, dtype: object
0           LG1
1         31268
2             A
3            10
4    ,..,,.,,..
5    HDJ?BD8AFC
Name: 27074, dtype: object
0           LG1
1         31268
2             A
3            10
4    ,..,,.,,..
5    HDJ?BD8AFC
Name: 27074, dtype: object
0           LG1
1         31268
2             A
3            10
4    ,..,,.,,..
5    HDJ?BD8AFC
Name: 27074, dtype: object
0           LG1
1         31269
2             C
3            10
4    ,TT,,.,,..
5    J<J@DD@DFF
Name: 27075, dtype: object
0           LG1
1         31269
2             C
3            10
4    ,TT,,.,,..
5    J<J@DD@DFF
Name: 27075, dtype: object
0           LG1
1         31269
2             C
3            10
4    ,TT,,.,,..
5    J<J@DD@DFF
Name: 27075, dtype: object
0           LG1
1         31269
2             C
3            10
4    ,TT,,.,,..
5    J<J@DD@DFF
Name: 27075, dtype: object
0           LG1
1         31269
2             C
3            10
4    ,TT,,.,,..
5    J<J@DD@DFF
Name: 27075, dtype: object
0           LG1
1         31269
2             C
3            10
4    ,TT,,.,,..
5    J<J@DD@DFF
Name: 27075, dtype: object
0           LG1
1         31269
2             C
3            10
4    ,TT,,.,,..
5    J<J@DD@DFF
Name: 27075, dtype: object
0           LG1
1         31269
2             C
3            10
4    ,TT,,.,,..
5    J<J@DD@DFF

Name: 27075, dtype: object
0           LG1
1         31269
2             C
3            10
4    ,TT,,.,,..
5    J<J@DD@DFF
Name: 27075, dtype: object
0           LG1
1         31270
2             G
3            10
4    ,..,,.,,..
5    J?JCDBCDFF
Name: 27076, dtype: object
0           LG1
1         31270
2             G
3            10
4    ,..,,.,,..
5    J?JCDBCDFF
Name: 27076, dtype: object
0           LG1
1         31270
2             G
3            10
4    ,..,,.,,..
5    J?JCDBCDFF
Name: 27076, dtype: object
0           LG1
1         31270
2             G
3            10
4    ,..,,.,,..
5    J?JCDBCDFF
Name: 27076, dtype: object
0           LG1
1         31270
2             G
3            10
4    ,..,,.,,..
5    J?JCDBCDFF
Name: 27076, dtype: object
0           LG1
1         31270
2             G
3            10
4    ,..,,.,,..
5    J?JCDBCDFF
Name: 27076, dtype: object
0           LG1
1         31270
2             G
3            10
4    ,..,,.,,..
5    J?JCDBCDFF
Name: 27076, dtype: object
0           LG1
1         31270
2             G
3            10
4    ,..,,.,,..
5    J?JCDBCDFF
Name: 27076, dtype: object
0           LG1
1         31270
2             G
3            10
4    ,..,,.,,..
5    J?JCDBCDFF
Name: 27076, dtype: object
0           LG1
1         31270
2             G
3            10
4    ,..,,.,,..
5    J?JCDBCDFF
Name: 27076, dtype: object
0           LG1
1         31271
2             A
3            10
4    ,..,,.,,..
5    J<J@BDDDHF
Name: 27077, dtype: object
0           LG1
1         31271
2             A
3            10
4    ,..,,.,,..
5    J<J@BDDDHF
Name: 27077, dtype: object
0           LG1
1         31271
2             A
3            10
4    ,..,,.,,..
5    J<J@BDDDHF
Name: 27077, dtype: object
0           LG1
1         31271
2             A
3            10
4    ,..,,.,,..
5    J<J@BDDDHF
Name: 27077, dtype: object
0           LG1
1         31271
2             A
3            10
4    ,..,,.,,..
5    J<J@BDDDHF
Name: 27077, dtype: object
0           LG1
1         31271
2             A
3            10
4    ,..,,.,,..
5    J<J@BDDDHF
Name: 27077, dtype: object
0           LG1
1         31271
2             A
3            10
4    ,..,,.,,..
5    J<J@BDDDHF
Name: 27077, dtype: object
0           LG1
1         31271
2             A
3            10
4    ,..,,.,,..
5    J<J@BDDDHF
Name: 27077, dtype: object
0           LG1
1         31271
2             A
3            10
4    ,..,,.,,..
5    J<J@BDDDHF
Name: 27077, dtype: object
0           LG1
1         31273
2             A
3            10
4    ,..,,.,,..
5    I0J8?E@@HF
Name: 27079, dtype: object
0           LG1
1         31273
2             A
3            10
4    ,..,,.,,..
5    I0J8?E@@HF
Name: 27079, dtype: object
0           LG1
1         31273
2             A
3            10
4    ,..,,.,,..
5    I0J8?E@@HF
Name: 27079, dtype: object
0           LG1
1         31273
2             A
3            10
4    ,..,,.,,..
5    I0J8?E@@HF
Name: 27079, dtype: object
0           LG1
1         31273
2             A
3            10
4    ,..,,.,,..
5    I0J8?E@@HF
Name: 27079, dtype: object
0           LG1
1         31273
2             A
3            10
4    ,..,,.,,..
5    I0J8?E@@HF
Name: 27079, dtype: object
0           LG1
1         31273
2             A
3            10
4    ,..,,.,,..
5    I0J8?E@@HF
Name: 27079, dtype: object
0           LG1
1         31273
2             A
3            10
4    ,..,,.,,..
5    I0J8?E@@HF
Name: 27079, dtype: object
0           LG1
1         31274
2             A
3            10
4    ,..,,.,,..
5    H.J0<@<9HH
Name: 27080, dtype: object
0           LG1
1         31274
2             A
3            10
4    ,..,,.,,..
5    H.J0<@<9HH
Name: 27080, dtype: object
0           LG1
1         31274
2             A
3            10
4    ,..,,.,,..
5    H.J0<@<9HH
Name: 27080, dtype: object
0           LG1
1         31274
2             A
3            10
4    ,..,,.,,..
5    H.J0<@<9HH
Name: 27080, dtype: object
0           LG1
1         31274
2             A
3            10
4    ,..,,.,,..
5    H.J0<@<9HH
Name: 27080, dtype: object
0           LG1
1         31357
2             A
3            10
4    ,,,...,...
5    CFFDBDHB<C
Name: 27163, dtype: object
0           LG1
1         31357
2             A
3            10
4    ,,,...,...
5    CFFDBDHB<C
Name: 27163, dtype: object
0           LG1
1         31357
2             A
3            10
4    ,,,...,...
5    CFFDBDHB<C
Name: 27163, dtype: object
0           LG1
1         31357
2             A
3            10
4    ,,,...,...
5    CFFDBDHB<C
Name: 27163, dtype: object
0           LG1
1         31357
2             A
3            10
4    ,,,...,...
5    CFFDBDHB<C
Name: 27163, dtype: object
0           LG1
1         31357
2             A
3            10
4    ,,,...,...
5    CFFDBDHB<C
Name: 27163, dtype: object
0           LG1
1         31357
2             A
3            10
4    ,,,...,...
5    CFFDBDHB<C
Name: 27163, dtype: object
0           LG1
1         31357
2             A
3            10
4    ,,,...,...
5    CFFDBDHB<C
Name: 27163, dtype: object
0           LG1
1         31357
2             A
3            10
4    ,,,...,...
5    CFFDBDHB<C
Name: 27163, dtype: object
0           LG1
1         31358
2             T
3            10
4    ,,,...,...
5    CFFDDDBDAA
Name: 27164, dtype: object
0           LG1
1         31358
2             T
3            10
4    ,,,...,...
5    CFFDDDBDAA
Name: 27164, dtype: object
0           LG1
1         31358
2             T
3            10
4    ,,,...,...
5    CFFDDDBDAA
Name: 27164, dtype: object
0           LG1
1         31358
2             T
3            10
4    ,,,...,...
5    CFFDDDBDAA
Name: 27164, dtype: object
0           LG1
1         31358
2             T
3            10
4    ,,,...,...
5    CFFDDDBDAA
Name: 27164, dtype: object
0           LG1
1         31358
2             T
3            10
4    ,,,...,...
5    CFFDDDBDAA
Name: 27164, dtype: object
0           LG1
1         31358
2             T
3            10
4    ,,,...,...
5    CFFDDDBDAA
Name: 27164, dtype: object
0           LG1
1         31358
2             T
3            10
4    ,,,...,...
5    CFFDDDBDAA
Name: 27164, dtype: object
0           LG1
1         31358
2             T
3            10
4    ,,,...,...
5    CFFDDDBDAA
Name: 27164, dtype: object
0           LG1
1         31358
2             T
3            10
4    ,,,...,...
5    CFFDDDBDAA
Name: 27164, dtype: object
0           LG1
1         31361
2             A
3             9
4    ,$,...,...
5     >>>EEEDB<
Name: 27167, dtype: object
0           LG1
1         31361
2             A
3             9
4    ,$,...,...
5     >>>EEEDB<
Name: 27167, dtype: object
0           LG1
1         31361
2             A
3             9
4    ,$,...,...
5     >>>EEEDB<
Name: 27167, dtype: object
0           LG1
1         31361
2             A
3             9
4    ,$,...,...
5     >>>EEEDB<
Name: 27167, dtype: object
0           LG1
1         31361
2             A
3             9
4    ,$,...,...
5     >>>EEEDB<
Name: 27167, dtype: object
0           LG1
1         31486
2             G
3            10
4    ,a..,,,,a.
5    GGmEFFED7C
Name: 27247, dtype: object
0           LG1
1         31486
2             G
3            10
4    ,a..,,,,a.
5    GGmEFFED7C
Name: 27247, dtype: object
0           LG1
1         31486
2             G
3            10
4    ,a..,,,,a.
5    GGmEFFED7C
Name: 27247, dtype: object
0           LG1
1         31486
2             G
3            10
4    ,a..,,,,a.
5    GGmEFFED7C
Name: 27247, dtype: object
0           LG1
1         31486
2             G
3            10
4    ,a..,,,,a.
5    GGmEFFED7C
Name: 27247, dtype: object
0           LG1
1         31486
2             G
3            10
4    ,a..,,,,a.
5    GGmEFFED7C
Name: 27247, dtype: object
0           LG1
1         31486
2             G
3            10
4    ,a..,,,,a.
5    GGmEFFED7C
Name: 27247, dtype: object
0           LG1
1         31486
2             G
3            10
4    ,a..,,,,a.
5    GGmEFFED7C
Name: 27247, dtype: object
0           LG1
1         31486
2             G
3            10
4    ,a..,,,,a.
5    GGmEFFED7C
Name: 27247, dtype: object
0           LG1
1         31487
2             C
3            10
4    t,.T,,,,,.
5    =JmHFHE=5C
Name: 27248, dtype: object
0           LG1
1         31487
2             C
3            10
4    t,.T,,,,,.
5    =JmHFHE=5C
Name: 27248, dtype: object
0           LG1
1         31487
2             C
3            10
4    t,.T,,,,,.
5    =JmHFHE=5C
Name: 27248, dtype: object
0           LG1
1         31487
2             C
3            10
4    t,.T,,,,,.
5    =JmHFHE=5C
Name: 27248, dtype: object
0           LG1
1         31487
2             C
3            10
4    t,.T,,,,,.
5    =JmHFHE=5C
Name: 27248, dtype: object
0           LG1
1         31487
2             C
3            10
4    t,.T,,,,,.
5    =JmHFHE=5C
Name: 27248, dtype: object
0           LG1
1         31487
2             C
3            10
4    t,.T,,,,,.
5    =JmHFHE=5C
Name: 27248, dtype: object
0           LG1
1         31488
2             C
3            10
4    ,,..,,,,,.
5    GJoGJHH@6F
Name: 27249, dtype: object
0           LG1
1         31488
2             C
3            10
4    ,,..,,,,,.
5    GJoGJHH@6F
Name: 27249, dtype: object
0           LG1
1         31488
2             C
3            10
4    ,,..,,,,,.
5    GJoGJHH@6F
Name: 27249, dtype: object
0           LG1
1         31488
2             C
3            10
4    ,,..,,,,,.
5    GJoGJHH@6F
Name: 27249, dtype: object
0           LG1
1         31488
2             C
3            10
4    ,,..,,,,,.
5    GJoGJHH@6F
Name: 27249, dtype: object
0           LG1
1         31488
2             C
3            10
4    ,,..,,,,,.
5    GJoGJHH@6F
Name: 27249, dtype: object
0           LG1
1         31488
2             C
3            10
4    ,,..,,,,,.
5    GJoGJHH@6F
Name: 27249, dtype: object
0           LG1
1         31488
2             C
3            10
4    ,,..,,,,,.
5    GJoGJHH@6F
Name: 27249, dtype: object
0           LG1
1         31488
2             C
3            10
4    ,,..,,,,,.
5    GJoGJHH@6F
Name: 27249, dtype: object
0           LG1
1         31489
2             G
3            10
4    ,,..,,a,,.
5    GJoGJJE@;F
Name: 27250, dtype: object
0           LG1
1         31489
2             G
3            10
4    ,,..,,a,,.
5    GJoGJJE@;F
Name: 27250, dtype: object
0           LG1
1         31489
2             G
3            10
4    ,,..,,a,,.
5    GJoGJJE@;F
Name: 27250, dtype: object
0           LG1
1         31489
2             G
3            10
4    ,,..,,a,,.
5    GJoGJJE@;F
Name: 27250, dtype: object
0           LG1
1         31489
2             G
3            10
4    ,,..,,a,,.
5    GJoGJJE@;F
Name: 27250, dtype: object
0           LG1
1         31489
2             G
3            10
4    ,,..,,a,,.
5    GJoGJJE@;F
Name: 27250, dtype: object
0           LG1
1         31489
2             G
3            10
4    ,,..,,a,,.
5    GJoGJJE@;F
Name: 27250, dtype: object
0           LG1
1         31489
2             G
3            10
4    ,,..,,a,,.
5    GJoGJJE@;F
Name: 27250, dtype: object
0           LG1
1         31489
2             G
3            10
4    ,,..,,a,,.
5    GJoGJJE@;F
Name: 27250, dtype: object
0           LG1
1         31490
2             T
3            10
4    ,,C.,c,,,.
5    GJq1IJGI@D
Name: 27251, dtype: object
0           LG1
1         31490
2             T
3            10
4    ,,C.,c,,,.
5    GJq1IJGI@D
Name: 27251, dtype: object
0           LG1
1         31490
2             T
3            10
4    ,,C.,c,,,.
5    GJq1IJGI@D
Name: 27251, dtype: object
0           LG1
1         31490
2             T
3            10
4    ,,C.,c,,,.
5    GJq1IJGI@D
Name: 27251, dtype: object
0           LG1
1         31490
2             T
3            10
4    ,,C.,c,,,.
5    GJq1IJGI@D
Name: 27251, dtype: object
0           LG1
1         31490
2             T
3            10
4    ,,C.,c,,,.
5    GJq1IJGI@D
Name: 27251, dtype: object
0           LG1
1         31490
2             T
3            10
4    ,,C.,c,,,.
5    GJq1IJGI@D
Name: 27251, dtype: object
0           LG1
1         31490
2             T
3            10
4    ,,C.,c,,,.
5    GJq1IJGI@D
Name: 27251, dtype: object
0           LG1
1         31490
2             T
3            10
4    ,,C.,c,,,.
5    GJq1IJGI@D
Name: 27251, dtype: object
0           LG1
1         31491
2             A
3            10
4    ,,..,,,,,.
5    CJn1JJCHFA
Name: 27252, dtype: object
0           LG1
1         31491
2             A
3            10
4    ,,..,,,,,.
5    CJn1JJCHFA
Name: 27252, dtype: object
0           LG1
1         31491
2             A
3            10
4    ,,..,,,,,.
5    CJn1JJCHFA
Name: 27252, dtype: object
0           LG1
1         31491
2             A
3            10
4    ,,..,,,,,.
5    CJn1JJCHFA
Name: 27252, dtype: object
0           LG1
1         31491
2             A
3            10
4    ,,..,,,,,.
5    CJn1JJCHFA
Name: 27252, dtype: object
0           LG1
1         31491
2             A
3            10
4    ,,..,,,,,.
5    CJn1JJCHFA
Name: 27252, dtype: object
0           LG1
1         31491
2             A
3            10
4    ,,..,,,,,.
5    CJn1JJCHFA
Name: 27252, dtype: object
0           LG1
1         31491
2             A
3            10
4    ,,..,,,,,.
5    CJn1JJCHFA
Name: 27252, dtype: object
0           LG1
1         31491
2             A
3            10
4    ,,..,,,,,.
5    CJn1JJCHFA
Name: 27252, dtype: object
0           LG1
1         31493
2             T
3            10
4    ,,..,,,,,.
5    IJq:GIGBFH
Name: 27254, dtype: object
0           LG1
1         31493
2             T
3            10
4    ,,..,,,,,.
5    IJq:GIGBFH
Name: 27254, dtype: object
0           LG1
1         31493
2             T
3            10
4    ,,..,,,,,.
5    IJq:GIGBFH
Name: 27254, dtype: object
0           LG1
1         31493
2             T
3            10
4    ,,..,,,,,.
5    IJq:GIGBFH
Name: 27254, dtype: object
0           LG1
1         31493
2             T
3            10
4    ,,..,,,,,.
5    IJq:GIGBFH
Name: 27254, dtype: object
0           LG1
1         31493
2             T
3            10
4    ,,..,,,,,.
5    IJq:GIGBFH
Name: 27254, dtype: object
0           LG1
1         31493
2             T
3            10
4    ,,..,,,,,.
5    IJq:GIGBFH
Name: 27254, dtype: object
0           LG1
1         31493
2             T
3            10
4    ,,..,,,,,.
5    IJq:GIGBFH
Name: 27254, dtype: object
0           LG1
1         31493
2             T
3            10
4    ,,..,,,,,.
5    IJq:GIGBFH
Name: 27254, dtype: object
0           LG1
1         31494
2             T
3            10
4    ,,..,,,,,.
5    HIq9HHGFFH
Name: 27255, dtype: object
0           LG1
1         31494
2             T
3            10
4    ,,..,,,,,.
5    HIq9HHGFFH
Name: 27255, dtype: object
0           LG1
1         31494
2             T
3            10
4    ,,..,,,,,.
5    HIq9HHGFFH
Name: 27255, dtype: object
0           LG1
1         31494
2             T
3            10
4    ,,..,,,,,.
5    HIq9HHGFFH
Name: 27255, dtype: object
0           LG1
1         31494
2             T
3            10
4    ,,..,,,,,.
5    HIq9HHGFFH
Name: 27255, dtype: object
0           LG1
1         31494
2             T
3            10
4    ,,..,,,,,.
5    HIq9HHGFFH

Name: 27255, dtype: object
0           LG1
1         31494
2             T
3            10
4    ,,..,,,,,.
5    HIq9HHGFFH
Name: 27255, dtype: object
0           LG1
1         31494
2             T
3            10
4    ,,..,,,,,.
5    HIq9HHGFFH
Name: 27255, dtype: object
0           LG1
1         31494
2             T
3            10
4    ,,..,,,,,.
5    HIq9HHGFFH
Name: 27255, dtype: object
0           LG1
1         31498
2             C
3            10
4    ,,..,,,,,.
5    HJs?IJH?<I
Name: 27259, dtype: object
0           LG1
1         31498
2             C
3            10
4    ,,..,,,,,.
5    HJs?IJH?<I
Name: 27259, dtype: object
0           LG1
1         31498
2             C
3            10
4    ,,..,,,,,.
5    HJs?IJH?<I
Name: 27259, dtype: object
0           LG1
1         31498
2             C
3            10
4    ,,..,,,,,.
5    HJs?IJH?<I
Name: 27259, dtype: object
0           LG1
1         31498
2             C
3            10
4    ,,..,,,,,.
5    HJs?IJH?<I
Name: 27259, dtype: object
0           LG1
1         31498
2             C
3            10
4    ,,..,,,,,.
5    HJs?IJH?<I
Name: 27259, dtype: object
0           LG1
1         31498
2             C
3            10
4    ,,..,,,,,.
5    HJs?IJH?<I
Name: 27259, dtype: object
0           LG1
1         31498
2             C
3            10
4    ,,..,,,,,.
5    HJs?IJH?<I
Name: 27259, dtype: object
0           LG1
1         31498
2             C
3            10
4    ,,..,,,,,.
5    HJs?IJH?<I
Name: 27259, dtype: object
0           LG1
1         31499
2             A
3            10
4    ,,..,,,,,.
5    IIsFIJG@?J
Name: 27260, dtype: object
0           LG1
1         31499
2             A
3            10
4    ,,..,,,,,.
5    IIsFIJG@?J
Name: 27260, dtype: object
0           LG1
1         31499
2             A
3            10
4    ,,..,,,,,.
5    IIsFIJG@?J
Name: 27260, dtype: object
0           LG1
1         31499
2             A
3            10
4    ,,..,,,,,.
5    IIsFIJG@?J
Name: 27260, dtype: object
0           LG1
1         31499
2             A
3            10
4    ,,..,,,,,.
5    IIsFIJG@?J
Name: 27260, dtype: object
0           LG1
1         31499
2             A
3            10
4    ,,..,,,,,.
5    IIsFIJG@?J
Name: 27260, dtype: object
0           LG1
1         31499
2             A
3            10
4    ,,..,,,,,.
5    IIsFIJG@?J
Name: 27260, dtype: object
0           LG1
1         31499
2             A
3            10
4    ,,..,,,,,.
5    IIsFIJG@?J
Name: 27260, dtype: object
0           LG1
1         31499
2             A
3            10
4    ,,..,,,,,.
5    IIsFIJG@?J
Name: 27260, dtype: object
0           LG1
1         31499
2             A
3            10
4    ,,..,,,,,.
5    IIsFIJG@?J
Name: 27260, dtype: object
0           LG1
1         31506
2             A
3            10
4    ,,..,,,,,.
5    HIsFGF=?0I
Name: 27267, dtype: object
0           LG1
1         31506
2             A
3            10
4    ,,..,,,,,.
5    HIsFGF=?0I
Name: 27267, dtype: object
0           LG1
1         31506
2             A
3            10
4    ,,..,,,,,.
5    HIsFGF=?0I
Name: 27267, dtype: object
0           LG1
1         31506
2             A
3            10
4    ,,..,,,,,.
5    HIsFGF=?0I
Name: 27267, dtype: object
0           LG1
1         31506
2             A
3            10
4    ,,..,,,,,.
5    HIsFGF=?0I
Name: 27267, dtype: object
0           LG1
1         31506
2             A
3            10
4    ,,..,,,,,.
5    HIsFGF=?0I
Name: 27267, dtype: object
0           LG1
1         31506
2             A
3            10
4    ,,..,,,,,.
5    HIsFGF=?0I
Name: 27267, dtype: object
0           LG1
1         31506
2             A
3            10
4    ,,..,,,,,.
5    HIsFGF=?0I
Name: 27267, dtype: object
0           LG1
1         31514
2             T
3            10
4    ,,.,,,,,.,
5    DJsIIIGCGE
Name: 27275, dtype: object
0           LG1
1         31514
2             T
3            10
4    ,,.,,,,,.,
5    DJsIIIGCGE
Name: 27275, dtype: object
0           LG1
1         31514
2             T
3            10
4    ,,.,,,,,.,
5    DJsIIIGCGE
Name: 27275, dtype: object
0           LG1
1         31514
2             T
3            10
4    ,,.,,,,,.,
5    DJsIIIGCGE
Name: 27275, dtype: object
0           LG1
1         31514
2             T
3            10
4    ,,.,,,,,.,
5    DJsIIIGCGE
Name: 27275, dtype: object
0           LG1
1         31514
2             T
3            10
4    ,,.,,,,,.,
5    DJsIIIGCGE
Name: 27275, dtype: object
0           LG1
1         31514
2             T
3            10
4    ,,.,,,,,.,
5    DJsIIIGCGE
Name: 27275, dtype: object
0           LG1
1         31514
2             T
3            10
4    ,,.,,,,,.,
5    DJsIIIGCGE
Name: 27275, dtype: object
0           LG1
1         31514
2             T
3            10
4    ,,.,,,,,.,
5    DJsIIIGCGE
Name: 27275, dtype: object
0           LG1
1         31514
2             T
3            10
4    ,,.,,,,,.,
5    DJsIIIGCGE
Name: 27275, dtype: object
0           LG1
1         31516
2             T
3            10
4    ,,.,,,,,.,
5    GJsJJIG4HE
Name: 27277, dtype: object
0           LG1
1         31516
2             T
3            10
4    ,,.,,,,,.,
5    GJsJJIG4HE
Name: 27277, dtype: object
0           LG1
1         31516
2             T
3            10
4    ,,.,,,,,.,
5    GJsJJIG4HE
Name: 27277, dtype: object
0           LG1
1         31516
2             T
3            10
4    ,,.,,,,,.,
5    GJsJJIG4HE
Name: 27277, dtype: object
0           LG1
1         31516
2             T
3            10
4    ,,.,,,,,.,
5    GJsJJIG4HE
Name: 27277, dtype: object
0           LG1
1         31516
2             T
3            10
4    ,,.,,,,,.,
5    GJsJJIG4HE
Name: 27277, dtype: object
0           LG1
1         31516
2             T
3            10
4    ,,.,,,,,.,
5    GJsJJIG4HE
Name: 27277, dtype: object
0           LG1
1         31516
2             T
3            10
4    ,,.,,,,,.,
5    GJsJJIG4HE
Name: 27277, dtype: object
0           LG1
1         31516
2             T
3            10
4    ,,.,,,,,.,
5    GJsJJIG4HE
Name: 27277, dtype: object
0           LG1
1         31556
2             T
3            10
4    ..,,,.,...
5    n;FFFEGIIl
Name: 27317, dtype: object
0           LG1
1         31556
2             T
3            10
4    ..,,,.,...
5    n;FFFEGIIl
Name: 27317, dtype: object
0           LG1
1         31556
2             T
3            10
4    ..,,,.,...
5    n;FFFEGIIl
Name: 27317, dtype: object
0           LG1
1         31556
2             T
3            10
4    ..,,,.,...
5    n;FFFEGIIl
Name: 27317, dtype: object
0           LG1
1         31556
2             T
3            10
4    ..,,,.,...
5    n;FFFEGIIl
Name: 27317, dtype: object
0           LG1
1         31556
2             T
3            10
4    ..,,,.,...
5    n;FFFEGIIl
Name: 27317, dtype: object
0           LG1
1         31556
2             T
3            10
4    ..,,,.,...
5    n;FFFEGIIl
Name: 27317, dtype: object
0           LG1
1         31556
2             T
3            10
4    ..,,,.,...
5    n;FFFEGIIl
Name: 27317, dtype: object
0           LG1
1         31556
2             T
3            10
4    ..,,,.,...
5    n;FFFEGIIl
Name: 27317, dtype: object
0           LG1
1         31559
2             T
3             9
4    C$,c,.,...
5     JFFFIHJIk
Name: 27320, dtype: object
0           LG1
1         31559
2             T
3             9
4    C$,c,.,...
5     JFFFIHJIk
Name: 27320, dtype: object
0           LG1
1         31559
2             T
3             9
4    C$,c,.,...
5     JFFFIHJIk
Name: 27320, dtype: object
0           LG1
1         31559
2             T
3             9
4    C$,c,.,...
5     JFFFIHJIk
Name: 27320, dtype: object
0           LG1
1         31559
2             T
3             9
4    C$,c,.,...
5     JFFFIHJIk
Name: 27320, dtype: object
0           LG1
1         31559
2             T
3             9
4    C$,c,.,...
5     JFFFIHJIk
Name: 27320, dtype: object
0           LG1
1         31559
2             T
3             9
4    C$,c,.,...
5     JFFFIHJIk
Name: 27320, dtype: object
0           LG1
1         31559
2             T
3             9
4    C$,c,.,...
5     JFFFIHJIk
Name: 27320, dtype: object
0           LG1
1         31559
2             T
3             9
4    C$,c,.,...
5     JFFFIHJIk
Name: 27320, dtype: object
0           LG1
1         31563
2             T
3             9
4    ,$c,.cCC.,
5     C<HAHHIn?
Name: 27324, dtype: object
0           LG1
1         31563
2             T
3             9
4    ,$c,.cCC.,
5     C<HAHHIn?
Name: 27324, dtype: object
0           LG1
1         31563
2             T
3             9
4    ,$c,.cCC.,
5     C<HAHHIn?
Name: 27324, dtype: object
0           LG1
1         31563
2             T
3             9
4    ,$c,.cCC.,
5     C<HAHHIn?
Name: 27324, dtype: object
0           LG1
1         31563
2             T
3             9
4    ,$c,.cCC.,
5     C<HAHHIn?
Name: 27324, dtype: object
0           LG1
1         31563
2             T
3             9
4    ,$c,.cCC.,
5     C<HAHHIn?
Name: 27324, dtype: object
0           LG1
1         31563
2             T
3             9
4    ,$c,.cCC.,
5     C<HAHHIn?
Name: 27324, dtype: object
0           LG1
1         31563
2             T
3             9
4    ,$c,.cCC.,
5     C<HAHHIn?
Name: 27324, dtype: object
0           LG1
1         31583
2             A
3            10
4    .,........
5    3IHGqJFFD@
Name: 27344, dtype: object
0           LG1
1         31583
2             A
3            10
4    .,........
5    3IHGqJFFD@
Name: 27344, dtype: object
0           LG1
1         31583
2             A
3            10
4    .,........
5    3IHGqJFFD@
Name: 27344, dtype: object
0           LG1
1         31583
2             A
3            10
4    .,........
5    3IHGqJFFD@
Name: 27344, dtype: object
0           LG1
1         31583
2             A
3            10
4    .,........
5    3IHGqJFFD@
Name: 27344, dtype: object
0           LG1
1         31583
2             A
3            10
4    .,........
5    3IHGqJFFD@
Name: 27344, dtype: object
0           LG1
1         31583
2             A
3            10
4    .,........
5    3IHGqJFFD@
Name: 27344, dtype: object
0           LG1
1         31583
2             A
3            10
4    .,........
5    3IHGqJFFD@
Name: 27344, dtype: object
0           LG1
1         31583
2             A
3            10
4    .,........
5    3IHGqJFFD@
Name: 27344, dtype: object
0           LG1
1         31586
2             A
3            10
4    ,...,.....
5    JFAg8JFHFE
Name: 27347, dtype: object
0           LG1
1         31586
2             A
3            10
4    ,...,.....
5    JFAg8JFHFE
Name: 27347, dtype: object
0           LG1
1         31586
2             A
3            10
4    ,...,.....
5    JFAg8JFHFE
Name: 27347, dtype: object
0           LG1
1         31586
2             A
3            10
4    ,...,.....
5    JFAg8JFHFE
Name: 27347, dtype: object
0           LG1
1         31586
2             A
3            10
4    ,...,.....
5    JFAg8JFHFE
Name: 27347, dtype: object
0           LG1
1         31586
2             A
3            10
4    ,...,.....
5    JFAg8JFHFE
Name: 27347, dtype: object
0           LG1
1         31586
2             A
3            10
4    ,...,.....
5    JFAg8JFHFE
Name: 27347, dtype: object
0           LG1
1         31586
2             A
3            10
4    ,...,.....
5    JFAg8JFHFE
Name: 27347, dtype: object
0           LG1
1         31586
2             A
3            10
4    ,...,.....
5    JFAg8JFHFE
Name: 27347, dtype: object
0           LG1
1         31587
2             A
3            10
4    ,...,.....
5    IHGn>JGHFD
Name: 27348, dtype: object
0           LG1
1         31587
2             A
3            10
4    ,...,.....
5    IHGn>JGHFD
Name: 27348, dtype: object
0           LG1
1         31587
2             A
3            10
4    ,...,.....
5    IHGn>JGHFD
Name: 27348, dtype: object
0           LG1
1         31587
2             A
3            10
4    ,...,.....
5    IHGn>JGHFD
Name: 27348, dtype: object
0           LG1
1         31587
2             A
3            10
4    ,...,.....
5    IHGn>JGHFD
Name: 27348, dtype: object
0           LG1
1         31587
2             A
3            10
4    ,...,.....
5    IHGn>JGHFD
Name: 27348, dtype: object
0           LG1
1         31587
2             A
3            10
4    ,...,.....
5    IHGn>JGHFD
Name: 27348, dtype: object
0           LG1
1         31587
2             A
3            10
4    ,...,.....
5    IHGn>JGHFD
Name: 27348, dtype: object
0           LG1
1         31587
2             A
3            10
4    ,...,.....
5    IHGn>JGHFD
Name: 27348, dtype: object
0           LG1
1         31588
2             G
3            10
4    ,...,.....
5    HJGp9JIHHH
Name: 27349, dtype: object
0           LG1
1         31588
2             G
3            10
4    ,...,.....
5    HJGp9JIHHH
Name: 27349, dtype: object
0           LG1
1         31588
2             G
3            10
4    ,...,.....
5    HJGp9JIHHH
Name: 27349, dtype: object
0           LG1
1         31588
2             G
3            10
4    ,...,.....
5    HJGp9JIHHH
Name: 27349, dtype: object
0           LG1
1         31588
2             G
3            10
4    ,...,.....
5    HJGp9JIHHH
Name: 27349, dtype: object
0           LG1
1         31588
2             G
3            10
4    ,...,.....
5    HJGp9JIHHH
Name: 27349, dtype: object
0           LG1
1         31588
2             G
3            10
4    ,...,.....
5    HJGp9JIHHH
Name: 27349, dtype: object
0           LG1
1         31588
2             G
3            10
4    ,...,.....
5    HJGp9JIHHH
Name: 27349, dtype: object
0           LG1
1         31588
2             G
3            10
4    ,...,.....
5    HJGp9JIHHH
Name: 27349, dtype: object
0           LG1
1         31589
2             T
3            10
4    ,...,.....
5    GGFq=HFIBF
Name: 27350, dtype: object
0           LG1
1         31589
2             T
3            10
4    ,...,.....
5    GGFq=HFIBF
Name: 27350, dtype: object
0           LG1
1         31589
2             T
3            10
4    ,...,.....
5    GGFq=HFIBF
Name: 27350, dtype: object
0           LG1
1         31589
2             T
3            10
4    ,...,.....
5    GGFq=HFIBF
Name: 27350, dtype: object
0           LG1
1         31589
2             T
3            10
4    ,...,.....
5    GGFq=HFIBF
Name: 27350, dtype: object
0           LG1
1         31589
2             T
3            10
4    ,...,.....
5    GGFq=HFIBF
Name: 27350, dtype: object
0           LG1
1         31589
2             T
3            10
4    ,...,.....
5    GGFq=HFIBF
Name: 27350, dtype: object
0           LG1
1         31589
2             T
3            10
4    ,...,.....
5    GGFq=HFIBF
Name: 27350, dtype: object
0           LG1
1         31589
2             T
3            10
4    ,...,.....
5    GGFq=HFIBF
Name: 27350, dtype: object
0           LG1
1         31590
2             T
3            10
4    ,...,.....
5    HHHp>JHIDF
Name: 27351, dtype: object
0           LG1
1         31590
2             T
3            10
4    ,...,.....
5    HHHp>JHIDF
Name: 27351, dtype: object
0           LG1
1         31590
2             T
3            10
4    ,...,.....
5    HHHp>JHIDF

Name: 27351, dtype: object
0           LG1
1         31590
2             T
3            10
4    ,...,.....
5    HHHp>JHIDF
Name: 27351, dtype: object
0           LG1
1         31590
2             T
3            10
4    ,...,.....
5    HHHp>JHIDF
Name: 27351, dtype: object
0           LG1
1         31590
2             T
3            10
4    ,...,.....
5    HHHp>JHIDF
Name: 27351, dtype: object
0           LG1
1         31590
2             T
3            10
4    ,...,.....
5    HHHp>JHIDF
Name: 27351, dtype: object
0           LG1
1         31590
2             T
3            10
4    ,...,.....
5    HHHp>JHIDF
Name: 27351, dtype: object
0           LG1
1         31590
2             T
3            10
4    ,...,.....
5    HHHp>JHIDF
Name: 27351, dtype: object
0           LG1
1         31591
2             A
3            10
4    ,...,.....
5    HIHo?JEJFI
Name: 27352, dtype: object
0           LG1
1         31591
2             A
3            10
4    ,...,.....
5    HIHo?JEJFI
Name: 27352, dtype: object
0           LG1
1         31591
2             A
3            10
4    ,...,.....
5    HIHo?JEJFI
Name: 27352, dtype: object
0           LG1
1         31591
2             A
3            10
4    ,...,.....
5    HIHo?JEJFI
Name: 27352, dtype: object
0           LG1
1         31591
2             A
3            10
4    ,...,.....
5    HIHo?JEJFI
Name: 27352, dtype: object
0           LG1
1         31591
2             A
3            10
4    ,...,.....
5    HIHo?JEJFI
Name: 27352, dtype: object
0           LG1
1         31591
2             A
3            10
4    ,...,.....
5    HIHo?JEJFI
Name: 27352, dtype: object
0           LG1
1         31591
2             A
3            10
4    ,...,.....
5    HIHo?JEJFI
Name: 27352, dtype: object
0           LG1
1         31591
2             A
3            10
4    ,...,.....
5    HIHo?JEJFI
Name: 27352, dtype: object
0           LG1
1         31591
2             A
3            10
4    ,...,.....
5    HIHo?JEJFI
Name: 27352, dtype: object
0           LG1
1         31608
2             A
3            10
4    ..........
5    EIrJGEJIJJ
Name: 27369, dtype: object
0           LG1
1         31608
2             A
3            10
4    ..........
5    EIrJGEJIJJ
Name: 27369, dtype: object
0           LG1
1         31608
2             A
3            10
4    ..........
5    EIrJGEJIJJ
Name: 27369, dtype: object
0           LG1
1         31608
2             A
3            10
4    ..........
5    EIrJGEJIJJ
Name: 27369, dtype: object
0           LG1
1         31608
2             A
3            10
4    ..........
5    EIrJGEJIJJ
Name: 27369, dtype: object
0           LG1
1         31608
2             A
3            10
4    ..........
5    EIrJGEJIJJ
Name: 27369, dtype: object
0           LG1
1         31608
2             A
3            10
4    ..........
5    EIrJGEJIJJ
Name: 27369, dtype: object
0           LG1
1         31608
2             A
3            10
4    ..........
5    EIrJGEJIJJ
Name: 27369, dtype: object
0           LG1
1         31608
2             A
3            10
4    ..........
5    EIrJGEJIJJ
Name: 27369, dtype: object
0           LG1
1         31608
2             A
3            10
4    ..........
5    EIrJGEJIJJ
Name: 27369, dtype: object
0           LG1
1         31612
2             T
3            10
4    ..........
5    @HnIGJEJJI
Name: 27373, dtype: object
0           LG1
1         31612
2             T
3            10
4    ..........
5    @HnIGJEJJI
Name: 27373, dtype: object
0           LG1
1         31612
2             T
3            10
4    ..........
5    @HnIGJEJJI
Name: 27373, dtype: object
0           LG1
1         31612
2             T
3            10
4    ..........
5    @HnIGJEJJI
Name: 27373, dtype: object
0           LG1
1         31612
2             T
3            10
4    ..........
5    @HnIGJEJJI
Name: 27373, dtype: object
0           LG1
1         31612
2             T
3            10
4    ..........
5    @HnIGJEJJI
Name: 27373, dtype: object
0           LG1
1         31612
2             T
3            10
4    ..........
5    @HnIGJEJJI
Name: 27373, dtype: object
0           LG1
1         31612
2             T
3            10
4    ..........
5    @HnIGJEJJI
Name: 27373, dtype: object
0           LG1
1         31612
2             T
3            10
4    ..........
5    @HnIGJEJJI
Name: 27373, dtype: object
0           LG1
1         31612
2             T
3            10
4    ..........
5    @HnIGJEJJI
Name: 27373, dtype: object
0           LG1
1         31615
2             G
3            10
4    ..........
5    AFoJIIIHII
Name: 27376, dtype: object
0           LG1
1         31615
2             G
3            10
4    ..........
5    AFoJIIIHII
Name: 27376, dtype: object
0           LG1
1         31615
2             G
3            10
4    ..........
5    AFoJIIIHII
Name: 27376, dtype: object
0           LG1
1         31615
2             G
3            10
4    ..........
5    AFoJIIIHII
Name: 27376, dtype: object
0           LG1
1         31615
2             G
3            10
4    ..........
5    AFoJIIIHII
Name: 27376, dtype: object
0           LG1
1         31615
2             G
3            10
4    ..........
5    AFoJIIIHII
Name: 27376, dtype: object
0           LG1
1         31615
2             G
3            10
4    ..........
5    AFoJIIIHII
Name: 27376, dtype: object
0           LG1
1         31615
2             G
3            10
4    ..........
5    AFoJIIIHII
Name: 27376, dtype: object
0           LG1
1         31615
2             G
3            10
4    ..........
5    AFoJIIIHII
Name: 27376, dtype: object
0           LG1
1         31615
2             G
3            10
4    ..........
5    AFoJIIIHII
Name: 27376, dtype: object
0           LG1
1         31625
2             A
3            10
4    ..,.......
5    @h?JGGIIJJ
Name: 27386, dtype: object
0           LG1
1         31625
2             A
3            10
4    ..,.......
5    @h?JGGIIJJ
Name: 27386, dtype: object
0           LG1
1         31625
2             A
3            10
4    ..,.......
5    @h?JGGIIJJ
Name: 27386, dtype: object
0           LG1
1         31625
2             A
3            10
4    ..,.......
5    @h?JGGIIJJ
Name: 27386, dtype: object
0           LG1
1         31625
2             A
3            10
4    ..,.......
5    @h?JGGIIJJ
Name: 27386, dtype: object
0           LG1
1         31625
2             A
3            10
4    ..,.......
5    @h?JGGIIJJ
Name: 27386, dtype: object
0           LG1
1         31625
2             A
3            10
4    ..,.......
5    @h?JGGIIJJ
Name: 27386, dtype: object
0           LG1
1         31625
2             A
3            10
4    ..,.......
5    @h?JGGIIJJ
Name: 27386, dtype: object
0           LG1
1         31625
2             A
3            10
4    ..,.......
5    @h?JGGIIJJ
Name: 27386, dtype: object
0           LG1
1         31625
2             A
3            10
4    ..,.......
5    @h?JGGIIJJ
Name: 27386, dtype: object
0           LG1
1         31626
2             C
3            10
4    ..,.......
5    @l5IEHJHJJ
Name: 27387, dtype: object
0           LG1
1         31626
2             C
3            10
4    ..,.......
5    @l5IEHJHJJ
Name: 27387, dtype: object
0           LG1
1         31626
2             C
3            10
4    ..,.......
5    @l5IEHJHJJ
Name: 27387, dtype: object
0           LG1
1         31626
2             C
3            10
4    ..,.......
5    @l5IEHJHJJ
Name: 27387, dtype: object
0           LG1
1         31626
2             C
3            10
4    ..,.......
5    @l5IEHJHJJ
Name: 27387, dtype: object
0           LG1
1         31626
2             C
3            10
4    ..,.......
5    @l5IEHJHJJ
Name: 27387, dtype: object
0           LG1
1         31626
2             C
3            10
4    ..,.......
5    @l5IEHJHJJ
Name: 27387, dtype: object
0           LG1
1         31626
2             C
3            10
4    ..,.......
5    @l5IEHJHJJ
Name: 27387, dtype: object
0           LG1
1         31626
2             C
3            10
4    ..,.......
5    @l5IEHJHJJ
Name: 27387, dtype: object
0           LG1
1         31627
2             T
3            10
4    ..,.......
5    Ci@IEIJIJG
Name: 27388, dtype: object
0           LG1
1         31627
2             T
3            10
4    ..,.......
5    Ci@IEIJIJG
Name: 27388, dtype: object
0           LG1
1         31627
2             T
3            10
4    ..,.......
5    Ci@IEIJIJG
Name: 27388, dtype: object
0           LG1
1         31627
2             T
3            10
4    ..,.......
5    Ci@IEIJIJG
Name: 27388, dtype: object
0           LG1
1         31627
2             T
3            10
4    ..,.......
5    Ci@IEIJIJG
Name: 27388, dtype: object
0           LG1
1         31627
2             T
3            10
4    ..,.......
5    Ci@IEIJIJG
Name: 27388, dtype: object
0           LG1
1         31627
2             T
3            10
4    ..,.......
5    Ci@IEIJIJG
Name: 27388, dtype: object
0           LG1
1         31627
2             T
3            10
4    ..,.......
5    Ci@IEIJIJG
Name: 27388, dtype: object
0           LG1
1         31627
2             T
3            10
4    ..,.......
5    Ci@IEIJIJG
Name: 27388, dtype: object
0           LG1
1         31627
2             T
3            10
4    ..,.......
5    Ci@IEIJIJG
Name: 27388, dtype: object
0           LG1
1         31628
2             A
3            10
4    ..,.......
5    >m?JGIJJJI
Name: 27389, dtype: object
0           LG1
1         31628
2             A
3            10
4    ..,.......
5    >m?JGIJJJI
Name: 27389, dtype: object
0           LG1
1         31628
2             A
3            10
4    ..,.......
5    >m?JGIJJJI
Name: 27389, dtype: object
0           LG1
1         31628
2             A
3            10
4    ..,.......
5    >m?JGIJJJI
Name: 27389, dtype: object
0           LG1
1         31628
2             A
3            10
4    ..,.......
5    >m?JGIJJJI
Name: 27389, dtype: object
0           LG1
1         31628
2             A
3            10
4    ..,.......
5    >m?JGIJJJI
Name: 27389, dtype: object
0           LG1
1         31628
2             A
3            10
4    ..,.......
5    >m?JGIJJJI
Name: 27389, dtype: object
0           LG1
1         31628
2             A
3            10
4    ..,.......
5    >m?JGIJJJI
Name: 27389, dtype: object
0           LG1
1         31628
2             A
3            10
4    ..,.......
5    >m?JGIJJJI
Name: 27389, dtype: object
0           LG1
1         31634
2             C
3             9
4    .,$.......
5     k;IIJJIJJ
Name: 27395, dtype: object
0           LG1
1         31634
2             C
3             9
4    .,$.......
5     k;IIJJIJJ
Name: 27395, dtype: object
0           LG1
1         31634
2             C
3             9
4    .,$.......
5     k;IIJJIJJ
Name: 27395, dtype: object
0           LG1
1         31634
2             C
3             9
4    .,$.......
5     k;IIJJIJJ
Name: 27395, dtype: object
0           LG1
1         31634
2             C
3             9
4    .,$.......
5     k;IIJJIJJ
Name: 27395, dtype: object
0           LG1
1         31634
2             C
3             9
4    .,$.......
5     k;IIJJIJJ
Name: 27395, dtype: object
0           LG1
1         31634
2             C
3             9
4    .,$.......
5     k;IIJJIJJ
Name: 27395, dtype: object
0           LG1
1         31634
2             C
3             9
4    .,$.......
5     k;IIJJIJJ
Name: 27395, dtype: object
0           LG1
1         31780
2             A
3             7
4    ,$.,,,,^:,
5       ;F@CD>>
Name: 27541, dtype: object
0           LG1
1         31780
2             A
3             7
4    ,$.,,,,^:,
5       ;F@CD>>
Name: 27541, dtype: object
0           LG1
1         31780
2             A
3             7
4    ,$.,,,,^:,
5       ;F@CD>>
Name: 27541, dtype: object
0           LG1
1         31780
2             A
3             7
4    ,$.,,,,^:,
5       ;F@CD>>
Name: 27541, dtype: object
0           LG1
1         31783
2             G
3             8
4    A,,,,,,^2,
5      EHDDCD:>
Name: 27544, dtype: object
0           LG1
1         31783
2             G
3             8
4    A,,,,,,^2,
5      EHDDCD:>
Name: 27544, dtype: object
0           LG1
1         31783
2             G
3             8
4    A,,,,,,^2,
5      EHDDCD:>
Name: 27544, dtype: object
0           LG1
1         31783
2             G
3             8
4    A,,,,,,^2,
5      EHDDCD:>
Name: 27544, dtype: object
0           LG1
1         31783
2             G
3             8
4    A,,,,,,^2,
5      EHDDCD:>
Name: 27544, dtype: object
0           LG1
1         31783
2             G
3             8
4    A,,,,,,^2,
5      EHDDCD:>
Name: 27544, dtype: object
0           LG1
1         31802
2             G
3            10
4    .aaaa,,a,.
5    DEEJCDDDDF
Name: 27563, dtype: object
0           LG1
1         31802
2             G
3            10
4    .aaaa,,a,.
5    DEEJCDDDDF
Name: 27563, dtype: object
0           LG1
1         31802
2             G
3            10
4    .aaaa,,a,.
5    DEEJCDDDDF
Name: 27563, dtype: object
0           LG1
1         31802
2             G
3            10
4    .aaaa,,a,.
5    DEEJCDDDDF
Name: 27563, dtype: object
0           LG1
1         31802
2             G
3            10
4    .aaaa,,a,.
5    DEEJCDDDDF
Name: 27563, dtype: object
0           LG1
1         31802
2             G
3            10
4    .aaaa,,a,.
5    DEEJCDDDDF
Name: 27563, dtype: object
0           LG1
1         31802
2             G
3            10
4    .aaaa,,a,.
5    DEEJCDDDDF
Name: 27563, dtype: object
0           LG1
1         31802
2             G
3            10
4    .aaaa,,a,.
5    DEEJCDDDDF
Name: 27563, dtype: object
0           LG1
1         31802
2             G
3            10
4    .aaaa,,a,.
5    DEEJCDDDDF
Name: 27563, dtype: object
0           LG1
1         31802
2             G
3            10
4    .aaaa,,a,.
5    DEEJCDDDDF
Name: 27563, dtype: object
0           LG1
1         31803
2             G
3            10
4    .,,,,,,,,.
5    DFJI@EEDDF
Name: 27564, dtype: object
0           LG1
1         31803
2             G
3            10
4    .,,,,,,,,.
5    DFJI@EEDDF
Name: 27564, dtype: object
0           LG1
1         31803
2             G
3            10
4    .,,,,,,,,.
5    DFJI@EEDDF
Name: 27564, dtype: object
0           LG1
1         31803
2             G
3            10
4    .,,,,,,,,.
5    DFJI@EEDDF
Name: 27564, dtype: object
0           LG1
1         31803
2             G
3            10
4    .,,,,,,,,.
5    DFJI@EEDDF
Name: 27564, dtype: object
0           LG1
1         31803
2             G
3            10
4    .,,,,,,,,.
5    DFJI@EEDDF
Name: 27564, dtype: object
0           LG1
1         31803
2             G
3            10
4    .,,,,,,,,.
5    DFJI@EEDDF
Name: 27564, dtype: object
0           LG1
1         31803
2             G
3            10
4    .,,,,,,,,.
5    DFJI@EEDDF
Name: 27564, dtype: object
0           LG1
1         31803
2             G
3            10
4    .,,,,,,,,.
5    DFJI@EEDDF

Name: 27564, dtype: object
0           LG1
1         31803
2             G
3            10
4    .,,,,,,,,.
5    DFJI@EEDDF
Name: 27564, dtype: object
0           LG1
1         31804
2             C
3            10
4    .,,,,,,,,.
5    DHJI?FEDDH
Name: 27565, dtype: object
0           LG1
1         31804
2             C
3            10
4    .,,,,,,,,.
5    DHJI?FEDDH
Name: 27565, dtype: object
0           LG1
1         31804
2             C
3            10
4    .,,,,,,,,.
5    DHJI?FEDDH
Name: 27565, dtype: object
0           LG1
1         31804
2             C
3            10
4    .,,,,,,,,.
5    DHJI?FEDDH
Name: 27565, dtype: object
0           LG1
1         31804
2             C
3            10
4    .,,,,,,,,.
5    DHJI?FEDDH
Name: 27565, dtype: object
0           LG1
1         31804
2             C
3            10
4    .,,,,,,,,.
5    DHJI?FEDDH
Name: 27565, dtype: object
0           LG1
1         31804
2             C
3            10
4    .,,,,,,,,.
5    DHJI?FEDDH
Name: 27565, dtype: object
0           LG1
1         31804
2             C
3            10
4    .,,,,,,,,.
5    DHJI?FEDDH
Name: 27565, dtype: object
0           LG1
1         31804
2             C
3            10
4    .,,,,,,,,.
5    DHJI?FEDDH
Name: 27565, dtype: object
0           LG1
1         31804
2             C
3            10
4    .,,,,,,,,.
5    DHJI?FEDDH
Name: 27565, dtype: object
0           LG1
1         31805
2             C
3            10
4    T,,,,,,,,.
5    DCIJ>FEEDH
Name: 27566, dtype: object
0           LG1
1         31805
2             C
3            10
4    T,,,,,,,,.
5    DCIJ>FEEDH
Name: 27566, dtype: object
0           LG1
1         31805
2             C
3            10
4    T,,,,,,,,.
5    DCIJ>FEEDH
Name: 27566, dtype: object
0           LG1
1         31805
2             C
3            10
4    T,,,,,,,,.
5    DCIJ>FEEDH
Name: 27566, dtype: object
0           LG1
1         31805
2             C
3            10
4    T,,,,,,,,.
5    DCIJ>FEEDH
Name: 27566, dtype: object
0           LG1
1         31805
2             C
3            10
4    T,,,,,,,,.
5    DCIJ>FEEDH
Name: 27566, dtype: object
0           LG1
1         31805
2             C
3            10
4    T,,,,,,,,.
5    DCIJ>FEEDH
Name: 27566, dtype: object
0           LG1
1         31805
2             C
3            10
4    T,,,,,,,,.
5    DCIJ>FEEDH
Name: 27566, dtype: object
0           LG1
1         31805
2             C
3            10
4    T,,,,,,,,.
5    DCIJ>FEEDH
Name: 27566, dtype: object
0           LG1
1         31806
2             C
3            10
4    .tttt,,t,.
5    BGIJ?DEDDH
Name: 27567, dtype: object
0           LG1
1         31806
2             C
3            10
4    .tttt,,t,.
5    BGIJ?DEDDH
Name: 27567, dtype: object
0           LG1
1         31806
2             C
3            10
4    .tttt,,t,.
5    BGIJ?DEDDH
Name: 27567, dtype: object
0           LG1
1         31806
2             C
3            10
4    .tttt,,t,.
5    BGIJ?DEDDH
Name: 27567, dtype: object
0           LG1
1         31806
2             C
3            10
4    .tttt,,t,.
5    BGIJ?DEDDH
Name: 27567, dtype: object
0           LG1
1         31806
2             C
3            10
4    .tttt,,t,.
5    BGIJ?DEDDH
Name: 27567, dtype: object
0           LG1
1         31806
2             C
3            10
4    .tttt,,t,.
5    BGIJ?DEDDH
Name: 27567, dtype: object
0           LG1
1         31806
2             C
3            10
4    .tttt,,t,.
5    BGIJ?DEDDH
Name: 27567, dtype: object
0           LG1
1         31806
2             C
3            10
4    .tttt,,t,.
5    BGIJ?DEDDH
Name: 27567, dtype: object
0           LG1
1         31806
2             C
3            10
4    .tttt,,t,.
5    BGIJ?DEDDH
Name: 27567, dtype: object
0           LG1
1         31807
2             A
3            10
4    .,,,,,,,,.
5    DGGJ;EDDDH
Name: 27568, dtype: object
0           LG1
1         31807
2             A
3            10
4    .,,,,,,,,.
5    DGGJ;EDDDH
Name: 27568, dtype: object
0           LG1
1         31807
2             A
3            10
4    .,,,,,,,,.
5    DGGJ;EDDDH
Name: 27568, dtype: object
0           LG1
1         31807
2             A
3            10
4    .,,,,,,,,.
5    DGGJ;EDDDH
Name: 27568, dtype: object
0           LG1
1         31807
2             A
3            10
4    .,,,,,,,,.
5    DGGJ;EDDDH
Name: 27568, dtype: object
0           LG1
1         31807
2             A
3            10
4    .,,,,,,,,.
5    DGGJ;EDDDH
Name: 27568, dtype: object
0           LG1
1         31807
2             A
3            10
4    .,,,,,,,,.
5    DGGJ;EDDDH
Name: 27568, dtype: object
0           LG1
1         31807
2             A
3            10
4    .,,,,,,,,.
5    DGGJ;EDDDH
Name: 27568, dtype: object
0           LG1
1         31807
2             A
3            10
4    .,,,,,,,,.
5    DGGJ;EDDDH
Name: 27568, dtype: object
0           LG1
1         31808
2             T
3            10
4    .,,,,,,,,.
5    DBHI?FFDDH
Name: 27569, dtype: object
0           LG1
1         31808
2             T
3            10
4    .,,,,,,,,.
5    DBHI?FFDDH
Name: 27569, dtype: object
0           LG1
1         31808
2             T
3            10
4    .,,,,,,,,.
5    DBHI?FFDDH
Name: 27569, dtype: object
0           LG1
1         31808
2             T
3            10
4    .,,,,,,,,.
5    DBHI?FFDDH
Name: 27569, dtype: object
0           LG1
1         31808
2             T
3            10
4    .,,,,,,,,.
5    DBHI?FFDDH
Name: 27569, dtype: object
0           LG1
1         31808
2             T
3            10
4    .,,,,,,,,.
5    DBHI?FFDDH
Name: 27569, dtype: object
0           LG1
1         31808
2             T
3            10
4    .,,,,,,,,.
5    DBHI?FFDDH
Name: 27569, dtype: object
0           LG1
1         31808
2             T
3            10
4    .,,,,,,,,.
5    DBHI?FFDDH
Name: 27569, dtype: object
0           LG1
1         31808
2             T
3            10
4    .,,,,,,,,.
5    DBHI?FFDDH
Name: 27569, dtype: object
0           LG1
1         31808
2             T
3            10
4    .,,,,,,,,.
5    DBHI?FFDDH
Name: 27569, dtype: object
0           LG1
1         31809
2             A
3            10
4    .,,,,,,,,.
5    D;FH5HFDDJ
Name: 27570, dtype: object
0           LG1
1         31809
2             A
3            10
4    .,,,,,,,,.
5    D;FH5HFDDJ
Name: 27570, dtype: object
0           LG1
1         31809
2             A
3            10
4    .,,,,,,,,.
5    D;FH5HFDDJ
Name: 27570, dtype: object
0           LG1
1         31809
2             A
3            10
4    .,,,,,,,,.
5    D;FH5HFDDJ
Name: 27570, dtype: object
0           LG1
1         31809
2             A
3            10
4    .,,,,,,,,.
5    D;FH5HFDDJ
Name: 27570, dtype: object
0           LG1
1         31809
2             A
3            10
4    .,,,,,,,,.
5    D;FH5HFDDJ
Name: 27570, dtype: object
0           LG1
1         31809
2             A
3            10
4    .,,,,,,,,.
5    D;FH5HFDDJ
Name: 27570, dtype: object
0           LG1
1         31809
2             A
3            10
4    .,,,,,,,,.
5    D;FH5HFDDJ
Name: 27570, dtype: object
0           LG1
1         31810
2             T
3            10
4    .cccc,,c,.
5    DJJJAHFDDJ
Name: 27571, dtype: object
0           LG1
1         31810
2             T
3            10
4    .cccc,,c,.
5    DJJJAHFDDJ
Name: 27571, dtype: object
0           LG1
1         31810
2             T
3            10
4    .cccc,,c,.
5    DJJJAHFDDJ
Name: 27571, dtype: object
0           LG1
1         31810
2             T
3            10
4    .cccc,,c,.
5    DJJJAHFDDJ
Name: 27571, dtype: object
0           LG1
1         31810
2             T
3            10
4    .cccc,,c,.
5    DJJJAHFDDJ
Name: 27571, dtype: object
0           LG1
1         31810
2             T
3            10
4    .cccc,,c,.
5    DJJJAHFDDJ
Name: 27571, dtype: object
0           LG1
1         31810
2             T
3            10
4    .cccc,,c,.
5    DJJJAHFDDJ
Name: 27571, dtype: object
0           LG1
1         31810
2             T
3            10
4    .cccc,,c,.
5    DJJJAHFDDJ
Name: 27571, dtype: object
0           LG1
1         31810
2             T
3            10
4    .cccc,,c,.
5    DJJJAHFDDJ
Name: 27571, dtype: object
0           LG1
1         31810
2             T
3            10
4    .cccc,,c,.
5    DJJJAHFDDJ
Name: 27571, dtype: object
0           LG1
1         31811
2             G
3            10
4    .,,,,,,,,.
5    EIII=HFEDJ
Name: 27572, dtype: object
0           LG1
1         31811
2             G
3            10
4    .,,,,,,,,.
5    EIII=HFEDJ
Name: 27572, dtype: object
0           LG1
1         31811
2             G
3            10
4    .,,,,,,,,.
5    EIII=HFEDJ
Name: 27572, dtype: object
0           LG1
1         31811
2             G
3            10
4    .,,,,,,,,.
5    EIII=HFEDJ
Name: 27572, dtype: object
0           LG1
1         31811
2             G
3            10
4    .,,,,,,,,.
5    EIII=HFEDJ
Name: 27572, dtype: object
0           LG1
1         31811
2             G
3            10
4    .,,,,,,,,.
5    EIII=HFEDJ
Name: 27572, dtype: object
0           LG1
1         31811
2             G
3            10
4    .,,,,,,,,.
5    EIII=HFEDJ
Name: 27572, dtype: object
0           LG1
1         31811
2             G
3            10
4    .,,,,,,,,.
5    EIII=HFEDJ
Name: 27572, dtype: object
0           LG1
1         31811
2             G
3            10
4    .,,,,,,,,.
5    EIII=HFEDJ
Name: 27572, dtype: object
0           LG1
1         31812
2             T
3            10
4    .,,,,,,,,.
5    DJIG3HFEDI
Name: 27573, dtype: object
0           LG1
1         31812
2             T
3            10
4    .,,,,,,,,.
5    DJIG3HFEDI
Name: 27573, dtype: object
0           LG1
1         31812
2             T
3            10
4    .,,,,,,,,.
5    DJIG3HFEDI
Name: 27573, dtype: object
0           LG1
1         31812
2             T
3            10
4    .,,,,,,,,.
5    DJIG3HFEDI
Name: 27573, dtype: object
0           LG1
1         31812
2             T
3            10
4    .,,,,,,,,.
5    DJIG3HFEDI
Name: 27573, dtype: object
0           LG1
1         31812
2             T
3            10
4    .,,,,,,,,.
5    DJIG3HFEDI
Name: 27573, dtype: object
0           LG1
1         31812
2             T
3            10
4    .,,,,,,,,.
5    DJIG3HFEDI
Name: 27573, dtype: object
0           LG1
1         31812
2             T
3            10
4    .,,,,,,,,.
5    DJIG3HFEDI
Name: 27573, dtype: object
0           LG1
1         31812
2             T
3            10
4    .,,,,,,,,.
5    DJIG3HFEDI
Name: 27573, dtype: object
0           LG1
1         31845
2             C
3             9
4    ,$,,,,,,,.
5     @FHEIGJJJ
Name: 27606, dtype: object
0           LG1
1         31845
2             C
3             9
4    ,$,,,,,,,.
5     @FHEIGJJJ
Name: 27606, dtype: object
0           LG1
1         31845
2             C
3             9
4    ,$,,,,,,,.
5     @FHEIGJJJ
Name: 27606, dtype: object
0           LG1
1         31845
2             C
3             9
4    ,$,,,,,,,.
5     @FHEIGJJJ
Name: 27606, dtype: object
0           LG1
1         31845
2             C
3             9
4    ,$,,,,,,,.
5     @FHEIGJJJ
Name: 27606, dtype: object
0           LG1
1         31845
2             C
3             9
4    ,$,,,,,,,.
5     @FHEIGJJJ
Name: 27606, dtype: object
0           LG1
1         31845
2             C
3             9
4    ,$,,,,,,,.
5     @FHEIGJJJ
Name: 27606, dtype: object
0           LG1
1         31845
2             C
3             9
4    ,$,,,,,,,.
5     @FHEIGJJJ
Name: 27606, dtype: object
0           LG1
1         31845
2             C
3             9
4    ,$,,,,,,,.
5     @FHEIGJJJ
Name: 27606, dtype: object
0           LG1
1         32375
2             C
3            10
4    ..........
5    IJJJ?II2HC
Name: 27811, dtype: object
0           LG1
1         32375
2             C
3            10
4    ..........
5    IJJJ?II2HC
Name: 27811, dtype: object
0           LG1
1         32375
2             C
3            10
4    ..........
5    IJJJ?II2HC
Name: 27811, dtype: object
0           LG1
1         32375
2             C
3            10
4    ..........
5    IJJJ?II2HC
Name: 27811, dtype: object
0           LG1
1         32375
2             C
3            10
4    ..........
5    IJJJ?II2HC
Name: 27811, dtype: object
0           LG1
1         32375
2             C
3            10
4    ..........
5    IJJJ?II2HC
Name: 27811, dtype: object
0           LG1
1         32375
2             C
3            10
4    ..........
5    IJJJ?II2HC
Name: 27811, dtype: object
0           LG1
1         32375
2             C
3            10
4    ..........
5    IJJJ?II2HC
Name: 27811, dtype: object
0           LG1
1         32375
2             C
3            10
4    ..........
5    IJJJ?II2HC
Name: 27811, dtype: object
0           LG1
1         32376
2             G
3            10
4    A.....A...
5    DJJJ?JGAIF
Name: 27812, dtype: object
0           LG1
1         32376
2             G
3            10
4    A.....A...
5    DJJJ?JGAIF
Name: 27812, dtype: object
0           LG1
1         32376
2             G
3            10
4    A.....A...
5    DJJJ?JGAIF
Name: 27812, dtype: object
0           LG1
1         32376
2             G
3            10
4    A.....A...
5    DJJJ?JGAIF
Name: 27812, dtype: object
0           LG1
1         32376
2             G
3            10
4    A.....A...
5    DJJJ?JGAIF
Name: 27812, dtype: object
0           LG1
1         32376
2             G
3            10
4    A.....A...
5    DJJJ?JGAIF
Name: 27812, dtype: object
0           LG1
1         32376
2             G
3            10
4    A.....A...
5    DJJJ?JGAIF
Name: 27812, dtype: object
0           LG1
1         32376
2             G
3            10
4    A.....A...
5    DJJJ?JGAIF
Name: 27812, dtype: object
0           LG1
1         32376
2             G
3            10
4    A.....A...
5    DJJJ?JGAIF
Name: 27812, dtype: object
0           LG1
1         32376
2             G
3            10
4    A.....A...
5    DJJJ?JGAIF
Name: 27812, dtype: object
0           LG1
1         32377
2             T
3            10
4    ..........
5    IGIH?JHAHD
Name: 27813, dtype: object
0           LG1
1         32377
2             T
3            10
4    ..........
5    IGIH?JHAHD
Name: 27813, dtype: object
0           LG1
1         32377
2             T
3            10
4    ..........
5    IGIH?JHAHD
Name: 27813, dtype: object
0           LG1
1         32377
2             T
3            10
4    ..........
5    IGIH?JHAHD
Name: 27813, dtype: object
0           LG1
1         32377
2             T
3            10
4    ..........
5    IGIH?JHAHD
Name: 27813, dtype: object
0           LG1
1         32377
2             T
3            10
4    ..........
5    IGIH?JHAHD
Name: 27813, dtype: object
0           LG1
1         32377
2             T
3            10
4    ..........
5    IGIH?JHAHD
Name: 27813, dtype: object
0           LG1
1         32377
2             T
3            10
4    ..........
5    IGIH?JHAHD
Name: 27813, dtype: object

0           LG1
1         32377
2             T
3            10
4    ..........
5    IGIH?JHAHD
Name: 27813, dtype: object
0           LG1
1         32377
2             T
3            10
4    ..........
5    IGIH?JHAHD
Name: 27813, dtype: object
0           LG1
1         32378
2             T
3            10
4    ..........
5    JIJI?JICIF
Name: 27814, dtype: object
0           LG1
1         32378
2             T
3            10
4    ..........
5    JIJI?JICIF
Name: 27814, dtype: object
0           LG1
1         32378
2             T
3            10
4    ..........
5    JIJI?JICIF
Name: 27814, dtype: object
0           LG1
1         32378
2             T
3            10
4    ..........
5    JIJI?JICIF
Name: 27814, dtype: object
0           LG1
1         32378
2             T
3            10
4    ..........
5    JIJI?JICIF
Name: 27814, dtype: object
0           LG1
1         32378
2             T
3            10
4    ..........
5    JIJI?JICIF
Name: 27814, dtype: object
0           LG1
1         32378
2             T
3            10
4    ..........
5    JIJI?JICIF
Name: 27814, dtype: object
0           LG1
1         32378
2             T
3            10
4    ..........
5    JIJI?JICIF
Name: 27814, dtype: object
0           LG1
1         32378
2             T
3            10
4    ..........
5    JIJI?JICIF
Name: 27814, dtype: object
0           LG1
1         32378
2             T
3            10
4    ..........
5    JIJI?JICIF
Name: 27814, dtype: object
0           LG1
1         32453
2             T
3            10
4    ..........
5    ?3@;8:;E33
Name: 27889, dtype: object
0           LG1
1         32453
2             T
3            10
4    ..........
5    ?3@;8:;E33
Name: 27889, dtype: object
0           LG1
1         32453
2             T
3            10
4    ..........
5    ?3@;8:;E33
Name: 27889, dtype: object
0           LG1
1         32502
2             C
3             8
4    ...T.T.^0.
5      <<DEH8IB
Name: 27938, dtype: object
0           LG1
1         32502
2             C
3             8
4    ...T.T.^0.
5      <<DEH8IB
Name: 27938, dtype: object
0           LG1
1         32502
2             C
3             8
4    ...T.T.^0.
5      <<DEH8IB
Name: 27938, dtype: object
0           LG1
1         32502
2             C
3             8
4    ...T.T.^0.
5      <<DEH8IB
Name: 27938, dtype: object
0           LG1
1         32502
2             C
3             8
4    ...T.T.^0.
5      <<DEH8IB
Name: 27938, dtype: object
0           LG1
1         32508
2             G
3            10
4    ...T.T....
5    88CDI6IFFC
Name: 27944, dtype: object
0           LG1
1         32508
2             G
3            10
4    ...T.T....
5    88CDI6IFFC
Name: 27944, dtype: object
0           LG1
1         32508
2             G
3            10
4    ...T.T....
5    88CDI6IFFC
Name: 27944, dtype: object
0           LG1
1         32508
2             G
3            10
4    ...T.T....
5    88CDI6IFFC
Name: 27944, dtype: object
0           LG1
1         32508
2             G
3            10
4    ...T.T....
5    88CDI6IFFC
Name: 27944, dtype: object
0           LG1
1         32508
2             G
3            10
4    ...T.T....
5    88CDI6IFFC
Name: 27944, dtype: object
0           LG1
1         32508
2             G
3            10
4    ...T.T....
5    88CDI6IFFC
Name: 27944, dtype: object
0           LG1
1         33134
2             T
3             9
4    ,,$.,,,.,,
5     21CDFGJ=2
Name: 28570, dtype: object
0           LG1
1         33134
2             T
3             9
4    ,,$.,,,.,,
5     21CDFGJ=2
Name: 28570, dtype: object
0           LG1
1         33134
2             T
3             9
4    ,,$.,,,.,,
5     21CDFGJ=2
Name: 28570, dtype: object
0           LG1
1         33134
2             T
3             9
4    ,,$.,,,.,,
5     21CDFGJ=2
Name: 28570, dtype: object
0           LG1
1         33134
2             T
3             9
4    ,,$.,,,.,,
5     21CDFGJ=2
Name: 28570, dtype: object
0           LG1
1         33196
2             G
3             6
4    ,,,.^2,^2,
5        EFFC;;
Name: 28627, dtype: object
0           LG1
1         33196
2             G
3             6
4    ,,,.^2,^2,
5        EFFC;;
Name: 28627, dtype: object
0           LG1
1         33196
2             G
3             6
4    ,,,.^2,^2,
5        EFFC;;
Name: 28627, dtype: object
0           LG1
1         33196
2             G
3             6
4    ,,,.^2,^2,
5        EFFC;;
Name: 28627, dtype: object
0           LG1
1         33198
2             A
3             8
4    ,,,.,,.^2,
5      EEDF5ACB
Name: 28629, dtype: object
0           LG1
1         33198
2             A
3             8
4    ,,,.,,.^2,
5      EEDF5ACB
Name: 28629, dtype: object
0           LG1
1         33198
2             A
3             8
4    ,,,.,,.^2,
5      EEDF5ACB
Name: 28629, dtype: object
0           LG1
1         33198
2             A
3             8
4    ,,,.,,.^2,
5      EEDF5ACB
Name: 28629, dtype: object
0           LG1
1         33198
2             A
3             8
4    ,,,.,,.^2,
5      EEDF5ACB
Name: 28629, dtype: object
0           LG1
1         33198
2             A
3             8
4    ,,,.,,.^2,
5      EEDF5ACB
Name: 28629, dtype: object
0           LG1
1         33198
2             A
3             8
4    ,,,.,,.^2,
5      EEDF5ACB
Name: 28629, dtype: object
0           LG1
1         33201
2             G
3            10
4    ,,,.,,.,.,
5    DF@F5>FDCC
Name: 28632, dtype: object
0           LG1
1         33201
2             G
3            10
4    ,,,.,,.,.,
5    DF@F5>FDCC
Name: 28632, dtype: object
0           LG1
1         33201
2             G
3            10
4    ,,,.,,.,.,
5    DF@F5>FDCC
Name: 28632, dtype: object
0           LG1
1         33201
2             G
3            10
4    ,,,.,,.,.,
5    DF@F5>FDCC
Name: 28632, dtype: object
0           LG1
1         33201
2             G
3            10
4    ,,,.,,.,.,
5    DF@F5>FDCC
Name: 28632, dtype: object
0           LG1
1         33201
2             G
3            10
4    ,,,.,,.,.,
5    DF@F5>FDCC
Name: 28632, dtype: object
0           LG1
1         33201
2             G
3            10
4    ,,,.,,.,.,
5    DF@F5>FDCC
Name: 28632, dtype: object
0           LG1
1         33201
2             G
3            10
4    ,,,.,,.,.,
5    DF@F5>FDCC
Name: 28632, dtype: object
0           LG1
1         33341
2             C
3            10
4    ,,........
5    FHEDDHDD>C
Name: 28772, dtype: object
0           LG1
1         33341
2             C
3            10
4    ,,........
5    FHEDDHDD>C
Name: 28772, dtype: object
0           LG1
1         33341
2             C
3            10
4    ,,........
5    FHEDDHDD>C
Name: 28772, dtype: object
0           LG1
1         33341
2             C
3            10
4    ,,........
5    FHEDDHDD>C
Name: 28772, dtype: object
0           LG1
1         33341
2             C
3            10
4    ,,........
5    FHEDDHDD>C
Name: 28772, dtype: object
0           LG1
1         33341
2             C
3            10
4    ,,........
5    FHEDDHDD>C
Name: 28772, dtype: object
0           LG1
1         33341
2             C
3            10
4    ,,........
5    FHEDDHDD>C
Name: 28772, dtype: object
0           LG1
1         33341
2             C
3            10
4    ,,........
5    FHEDDHDD>C
Name: 28772, dtype: object
0           LG1
1         33341
2             C
3            10
4    ,,........
5    FHEDDHDD>C
Name: 28772, dtype: object
0           LG1
1         33342
2             G
3            10
4    a,A.......
5    >HEDDFDDAD
Name: 28773, dtype: object
0           LG1
1         33342
2             G
3            10
4    a,A.......
5    >HEDDFDDAD
Name: 28773, dtype: object
0           LG1
1         33342
2             G
3            10
4    a,A.......
5    >HEDDFDDAD
Name: 28773, dtype: object
0           LG1
1         33342
2             G
3            10
4    a,A.......
5    >HEDDFDDAD
Name: 28773, dtype: object
0           LG1
1         33342
2             G
3            10
4    a,A.......
5    >HEDDFDDAD
Name: 28773, dtype: object
0           LG1
1         33342
2             G
3            10
4    a,A.......
5    >HEDDFDDAD
Name: 28773, dtype: object
0           LG1
1         33342
2             G
3            10
4    a,A.......
5    >HEDDFDDAD
Name: 28773, dtype: object
0           LG1
1         33342
2             G
3            10
4    a,A.......
5    >HEDDFDDAD
Name: 28773, dtype: object
0           LG1
1         33342
2             G
3            10
4    a,A.......
5    >HEDDFDDAD
Name: 28773, dtype: object
0           LG1
1         33343
2             A
3            10
4    ,,........
5    >HEDAFDE;C
Name: 28774, dtype: object
0           LG1
1         33343
2             A
3            10
4    ,,........
5    >HEDAFDE;C
Name: 28774, dtype: object
0           LG1
1         33343
2             A
3            10
4    ,,........
5    >HEDAFDE;C
Name: 28774, dtype: object
0           LG1
1         33343
2             A
3            10
4    ,,........
5    >HEDAFDE;C
Name: 28774, dtype: object
0           LG1
1         33343
2             A
3            10
4    ,,........
5    >HEDAFDE;C
Name: 28774, dtype: object
0           LG1
1         33343
2             A
3            10
4    ,,........
5    >HEDAFDE;C
Name: 28774, dtype: object
0           LG1
1         33343
2             A
3            10
4    ,,........
5    >HEDAFDE;C
Name: 28774, dtype: object
0           LG1
1         33343
2             A
3            10
4    ,,........
5    >HEDAFDE;C
Name: 28774, dtype: object
0           LG1
1         33344
2             T
3            10
4    ,,........
5    >FEDDFEF>@
Name: 28775, dtype: object
0           LG1
1         33344
2             T
3            10
4    ,,........
5    >FEDDFEF>@
Name: 28775, dtype: object
0           LG1
1         33344
2             T
3            10
4    ,,........
5    >FEDDFEF>@
Name: 28775, dtype: object
0           LG1
1         33344
2             T
3            10
4    ,,........
5    >FEDDFEF>@
Name: 28775, dtype: object
0           LG1
1         33344
2             T
3            10
4    ,,........
5    >FEDDFEF>@
Name: 28775, dtype: object
0           LG1
1         33344
2             T
3            10
4    ,,........
5    >FEDDFEF>@
Name: 28775, dtype: object
0           LG1
1         33344
2             T
3            10
4    ,,........
5    >FEDDFEF>@
Name: 28775, dtype: object
0           LG1
1         33344
2             T
3            10
4    ,,........
5    >FEDDFEF>@
Name: 28775, dtype: object
0           LG1
1         33345
2             C
3            10
4    ,,........
5    >FDDDFDDAC
Name: 28776, dtype: object
0           LG1
1         33345
2             C
3            10
4    ,,........
5    >FDDDFDDAC
Name: 28776, dtype: object
0           LG1
1         33345
2             C
3            10
4    ,,........
5    >FDDDFDDAC
Name: 28776, dtype: object
0           LG1
1         33345
2             C
3            10
4    ,,........
5    >FDDDFDDAC
Name: 28776, dtype: object
0           LG1
1         33345
2             C
3            10
4    ,,........
5    >FDDDFDDAC
Name: 28776, dtype: object
0           LG1
1         33345
2             C
3            10
4    ,,........
5    >FDDDFDDAC
Name: 28776, dtype: object
0           LG1
1         33345
2             C
3            10
4    ,,........
5    >FDDDFDDAC
Name: 28776, dtype: object
0           LG1
1         33345
2             C
3            10
4    ,,........
5    >FDDDFDDAC
Name: 28776, dtype: object
0           LG1
1         33345
2             C
3            10
4    ,,........
5    >FDDDFDDAC
Name: 28776, dtype: object
0           LG1
1         33346
2             A
3            10
4    ,,........
5    >FDDBDDDBB
Name: 28777, dtype: object
0           LG1
1         33346
2             A
3            10
4    ,,........
5    >FDDBDDDBB
Name: 28777, dtype: object
0           LG1
1         33346
2             A
3            10
4    ,,........
5    >FDDBDDDBB
Name: 28777, dtype: object
0           LG1
1         33346
2             A
3            10
4    ,,........
5    >FDDBDDDBB
Name: 28777, dtype: object
0           LG1
1         33346
2             A
3            10
4    ,,........
5    >FDDBDDDBB
Name: 28777, dtype: object
0           LG1
1         33346
2             A
3            10
4    ,,........
5    >FDDBDDDBB
Name: 28777, dtype: object
0           LG1
1         33346
2             A
3            10
4    ,,........
5    >FDDBDDDBB
Name: 28777, dtype: object
0           LG1
1         33346
2             A
3            10
4    ,,........
5    >FDDBDDDBB
Name: 28777, dtype: object
0           LG1
1         33346
2             A
3            10
4    ,,........
5    >FDDBDDDBB
Name: 28777, dtype: object
0           LG1
1         33351
2             C
3             9
4    ,$........
5     CDDDEDD:D
Name: 28782, dtype: object
0           LG1
1         33351
2             C
3             9
4    ,$........
5     CDDDEDD:D
Name: 28782, dtype: object
0           LG1
1         33351
2             C
3             9
4    ,$........
5     CDDDEDD:D
Name: 28782, dtype: object
0           LG1
1         33351
2             C
3             9
4    ,$........
5     CDDDEDD:D
Name: 28782, dtype: object
0           LG1
1         33351
2             C
3             9
4    ,$........
5     CDDDEDD:D
Name: 28782, dtype: object
0           LG1
1         33351
2             C
3             9
4    ,$........
5     CDDDEDD:D
Name: 28782, dtype: object
0           LG1
1         33351
2             C
3             9
4    ,$........
5     CDDDEDD:D
Name: 28782, dtype: object
0           LG1
1         33351
2             C
3             9
4    ,$........
5     CDDDEDD:D
Name: 28782, dtype: object
0           LG1
1         33400
2             A
3             8
4    ...,.,,^2,
5      J3GCHDCA
Name: 28822, dtype: object
0           LG1
1         33400
2             A
3             8
4    ...,.,,^2,
5      J3GCHDCA
Name: 28822, dtype: object
0           LG1
1         33400
2             A
3             8
4    ...,.,,^2,
5      J3GCHDCA
Name: 28822, dtype: object
0           LG1
1         33400
2             A
3             8
4    ...,.,,^2,
5      J3GCHDCA
Name: 28822, dtype: object
0           LG1
1         33400
2             A
3             8
4    ...,.,,^2,
5      J3GCHDCA
Name: 28822, dtype: object

0           LG1
1         33400
2             A
3             8
4    ...,.,,^2,
5      J3GCHDCA
Name: 28822, dtype: object
0           LG1
1         33400
2             A
3             8
4    ...,.,,^2,
5      J3GCHDCA
Name: 28822, dtype: object
0           LG1
1         33563
2             G
3            10
4    ,,,,,,,,,,
5    FDHJ2IDHJH
Name: 28985, dtype: object
0           LG1
1         33563
2             G
3            10
4    ,,,,,,,,,,
5    FDHJ2IDHJH
Name: 28985, dtype: object
0           LG1
1         33563
2             G
3            10
4    ,,,,,,,,,,
5    FDHJ2IDHJH
Name: 28985, dtype: object
0           LG1
1         33563
2             G
3            10
4    ,,,,,,,,,,
5    FDHJ2IDHJH
Name: 28985, dtype: object
0           LG1
1         33563
2             G
3            10
4    ,,,,,,,,,,
5    FDHJ2IDHJH
Name: 28985, dtype: object
0           LG1
1         33563
2             G
3            10
4    ,,,,,,,,,,
5    FDHJ2IDHJH
Name: 28985, dtype: object
0           LG1
1         33563
2             G
3            10
4    ,,,,,,,,,,
5    FDHJ2IDHJH
Name: 28985, dtype: object
0           LG1
1         33563
2             G
3            10
4    ,,,,,,,,,,
5    FDHJ2IDHJH
Name: 28985, dtype: object
0           LG1
1         33563
2             G
3            10
4    ,,,,,,,,,,
5    FDHJ2IDHJH
Name: 28985, dtype: object
0           LG1
1         33760
2             G
3             8
4    ...T...^2.
5      JJIJJHCC
Name: 29172, dtype: object
0           LG1
1         33760
2             G
3             8
4    ...T...^2.
5      JJIJJHCC
Name: 29172, dtype: object
0           LG1
1         33760
2             G
3             8
4    ...T...^2.
5      JJIJJHCC
Name: 29172, dtype: object
0           LG1
1         33760
2             G
3             8
4    ...T...^2.
5      JJIJJHCC
Name: 29172, dtype: object
0           LG1
1         33760
2             G
3             8
4    ...T...^2.
5      JJIJJHCC
Name: 29172, dtype: object
0           LG1
1         33760
2             G
3             8
4    ...T...^2.
5      JJIJJHCC
Name: 29172, dtype: object
0           LG1
1         33760
2             G
3             8
4    ...T...^2.
5      JJIJJHCC
Name: 29172, dtype: object
0           LG1
1         33760
2             G
3             8
4    ...T...^2.
5      JJIJJHCC
Name: 29172, dtype: object
0           LG1
1         33764
2             A
3            10
4    ..........
5    JJJJJHFFC@
Name: 29176, dtype: object
0           LG1
1         33764
2             A
3            10
4    ..........
5    JJJJJHFFC@
Name: 29176, dtype: object
0           LG1
1         33764
2             A
3            10
4    ..........
5    JJJJJHFFC@
Name: 29176, dtype: object
0           LG1
1         33764
2             A
3            10
4    ..........
5    JJJJJHFFC@
Name: 29176, dtype: object
0           LG1
1         33764
2             A
3            10
4    ..........
5    JJJJJHFFC@
Name: 29176, dtype: object
0           LG1
1         33764
2             A
3            10
4    ..........
5    JJJJJHFFC@
Name: 29176, dtype: object
0           LG1
1         33764
2             A
3            10
4    ..........
5    JJJJJHFFC@
Name: 29176, dtype: object
0           LG1
1         33764
2             A
3            10
4    ..........
5    JJJJJHFFC@
Name: 29176, dtype: object
0           LG1
1         33764
2             A
3            10
4    ..........
5    JJJJJHFFC@
Name: 29176, dtype: object
0           LG1
1         33764
2             A
3            10
4    ..........
5    JJJJJHFFC@
Name: 29176, dtype: object
0           LG1
1         33765
2             T
3            10
4    ..........
5    JJIJJJFFF@
Name: 29177, dtype: object
0           LG1
1         33765
2             T
3            10
4    ..........
5    JJIJJJFFF@
Name: 29177, dtype: object
0           LG1
1         33765
2             T
3            10
4    ..........
5    JJIJJJFFF@
Name: 29177, dtype: object
0           LG1
1         33765
2             T
3            10
4    ..........
5    JJIJJJFFF@
Name: 29177, dtype: object
0           LG1
1         33765
2             T
3            10
4    ..........
5    JJIJJJFFF@
Name: 29177, dtype: object
0           LG1
1         33765
2             T
3            10
4    ..........
5    JJIJJJFFF@
Name: 29177, dtype: object
0           LG1
1         33765
2             T
3            10
4    ..........
5    JJIJJJFFF@
Name: 29177, dtype: object
0           LG1
1         33765
2             T
3            10
4    ..........
5    JJIJJJFFF@
Name: 29177, dtype: object
0           LG1
1         33765
2             T
3            10
4    ..........
5    JJIJJJFFF@
Name: 29177, dtype: object
0           LG1
1         33765
2             T
3            10
4    ..........
5    JJIJJJFFF@
Name: 29177, dtype: object
0           LG1
1         33766
2             G
3            10
4    ...A......
5    JJJJJJHFFD
Name: 29178, dtype: object
0           LG1
1         33766
2             G
3            10
4    ...A......
5    JJJJJJHFFD
Name: 29178, dtype: object
0           LG1
1         33766
2             G
3            10
4    ...A......
5    JJJJJJHFFD
Name: 29178, dtype: object
0           LG1
1         33766
2             G
3            10
4    ...A......
5    JJJJJJHFFD
Name: 29178, dtype: object
0           LG1
1         33766
2             G
3            10
4    ...A......
5    JJJJJJHFFD
Name: 29178, dtype: object
0           LG1
1         33766
2             G
3            10
4    ...A......
5    JJJJJJHFFD
Name: 29178, dtype: object
0           LG1
1         33766
2             G
3            10
4    ...A......
5    JJJJJJHFFD
Name: 29178, dtype: object
0           LG1
1         33766
2             G
3            10
4    ...A......
5    JJJJJJHFFD
Name: 29178, dtype: object
0           LG1
1         33766
2             G
3            10
4    ...A......
5    JJJJJJHFFD
Name: 29178, dtype: object
0           LG1
1         33766
2             G
3            10
4    ...A......
5    JJJJJJHFFD
Name: 29178, dtype: object
0           LG1
1         33767
2             C
3            10
4    ..T.......
5    JJHJJJGFFF
Name: 29179, dtype: object
0           LG1
1         33767
2             C
3            10
4    ..T.......
5    JJHJJJGFFF
Name: 29179, dtype: object
0           LG1
1         33767
2             C
3            10
4    ..T.......
5    JJHJJJGFFF
Name: 29179, dtype: object
0           LG1
1         33767
2             C
3            10
4    ..T.......
5    JJHJJJGFFF
Name: 29179, dtype: object
0           LG1
1         33767
2             C
3            10
4    ..T.......
5    JJHJJJGFFF
Name: 29179, dtype: object
0           LG1
1         33767
2             C
3            10
4    ..T.......
5    JJHJJJGFFF
Name: 29179, dtype: object
0           LG1
1         33767
2             C
3            10
4    ..T.......
5    JJHJJJGFFF
Name: 29179, dtype: object
0           LG1
1         33767
2             C
3            10
4    ..T.......
5    JJHJJJGFFF
Name: 29179, dtype: object
0           LG1
1         33767
2             C
3            10
4    ..T.......
5    JJHJJJGFFF
Name: 29179, dtype: object
0           LG1
1         33767
2             C
3            10
4    ..T.......
5    JJHJJJGFFF
Name: 29179, dtype: object
0           LG1
1         33768
2             G
3            10
4    .......A..
5    JJIJJJHHFF
Name: 29180, dtype: object
0           LG1
1         33768
2             G
3            10
4    .......A..
5    JJIJJJHHFF
Name: 29180, dtype: object
0           LG1
1         33768
2             G
3            10
4    .......A..
5    JJIJJJHHFF
Name: 29180, dtype: object
0           LG1
1         33768
2             G
3            10
4    .......A..
5    JJIJJJHHFF
Name: 29180, dtype: object
0           LG1
1         33768
2             G
3            10
4    .......A..
5    JJIJJJHHFF
Name: 29180, dtype: object
0           LG1
1         33768
2             G
3            10
4    .......A..
5    JJIJJJHHFF
Name: 29180, dtype: object
0           LG1
1         33768
2             G
3            10
4    .......A..
5    JJIJJJHHFF
Name: 29180, dtype: object
0           LG1
1         33768
2             G
3            10
4    .......A..
5    JJIJJJHHFF
Name: 29180, dtype: object
0           LG1
1         33768
2             G
3            10
4    .......A..
5    JJIJJJHHFF
Name: 29180, dtype: object
0           LG1
1         33768
2             G
3            10
4    .......A..
5    JJIJJJHHFF
Name: 29180, dtype: object
0           LG1
1         33769
2             A
3            10
4    ...G......
5    JJJIIJHHFD
Name: 29181, dtype: object
0           LG1
1         33769
2             A
3            10
4    ...G......
5    JJJIIJHHFD
Name: 29181, dtype: object
0           LG1
1         33769
2             A
3            10
4    ...G......
5    JJJIIJHHFD
Name: 29181, dtype: object
0           LG1
1         33769
2             A
3            10
4    ...G......
5    JJJIIJHHFD
Name: 29181, dtype: object
0           LG1
1         33769
2             A
3            10
4    ...G......
5    JJJIIJHHFD
Name: 29181, dtype: object
0           LG1
1         33769
2             A
3            10
4    ...G......
5    JJJIIJHHFD
Name: 29181, dtype: object
0           LG1
1         33769
2             A
3            10
4    ...G......
5    JJJIIJHHFD
Name: 29181, dtype: object
0           LG1
1         33769
2             A
3            10
4    ...G......
5    JJJIIJHHFD
Name: 29181, dtype: object
0           LG1
1         33769
2             A
3            10
4    ...G......
5    JJJIIJHHFD
Name: 29181, dtype: object
0           LG1
1         33769
2             A
3            10
4    ...G......
5    JJJIIJHHFD
Name: 29181, dtype: object
0           LG1
1         33770
2             T
3            10
4    ..........
5    IIJHJJGHHB
Name: 29182, dtype: object
0           LG1
1         33770
2             T
3            10
4    ..........
5    IIJHJJGHHB
Name: 29182, dtype: object
0           LG1
1         33770
2             T
3            10
4    ..........
5    IIJHJJGHHB
Name: 29182, dtype: object
0           LG1
1         33770
2             T
3            10
4    ..........
5    IIJHJJGHHB
Name: 29182, dtype: object
0           LG1
1         33770
2             T
3            10
4    ..........
5    IIJHJJGHHB
Name: 29182, dtype: object
0           LG1
1         33770
2             T
3            10
4    ..........
5    IIJHJJGHHB
Name: 29182, dtype: object
0           LG1
1         33770
2             T
3            10
4    ..........
5    IIJHJJGHHB
Name: 29182, dtype: object
0           LG1
1         33770
2             T
3            10
4    ..........
5    IIJHJJGHHB
Name: 29182, dtype: object
0           LG1
1         33770
2             T
3            10
4    ..........
5    IIJHJJGHHB
Name: 29182, dtype: object
0           LG1
1         33770
2             T
3            10
4    ..........
5    IIJHJJGHHB
Name: 29182, dtype: object
0           LG1
1         33771
2             A
3            10
4    ..........
5    JJJHJJJHH?
Name: 29183, dtype: object
0           LG1
1         33771
2             A
3            10
4    ..........
5    JJJHJJJHH?
Name: 29183, dtype: object
0           LG1
1         33771
2             A
3            10
4    ..........
5    JJJHJJJHH?
Name: 29183, dtype: object
0           LG1
1         33771
2             A
3            10
4    ..........
5    JJJHJJJHH?
Name: 29183, dtype: object
0           LG1
1         33771
2             A
3            10
4    ..........
5    JJJHJJJHH?
Name: 29183, dtype: object
0           LG1
1         33771
2             A
3            10
4    ..........
5    JJJHJJJHH?
Name: 29183, dtype: object
0           LG1
1         33771
2             A
3            10
4    ..........
5    JJJHJJJHH?
Name: 29183, dtype: object
0           LG1
1         33771
2             A
3            10
4    ..........
5    JJJHJJJHH?
Name: 29183, dtype: object
0           LG1
1         33771
2             A
3            10
4    ..........
5    JJJHJJJHH?
Name: 29183, dtype: object
0           LG1
1         33771
2             A
3            10
4    ..........
5    JJJHJJJHH?
Name: 29183, dtype: object
0           LG1
1         33772
2             A
3            10
4    ..T......G
5    JJJJJJJHHD
Name: 29184, dtype: object
0           LG1
1         33772
2             A
3            10
4    ..T......G
5    JJJJJJJHHD
Name: 29184, dtype: object
0           LG1
1         33772
2             A
3            10
4    ..T......G
5    JJJJJJJHHD
Name: 29184, dtype: object
0           LG1
1         33772
2             A
3            10
4    ..T......G
5    JJJJJJJHHD
Name: 29184, dtype: object
0           LG1
1         33772
2             A
3            10
4    ..T......G
5    JJJJJJJHHD
Name: 29184, dtype: object
0           LG1
1         33772
2             A
3            10
4    ..T......G
5    JJJJJJJHHD
Name: 29184, dtype: object
0           LG1
1         33772
2             A
3            10
4    ..T......G
5    JJJJJJJHHD
Name: 29184, dtype: object
0           LG1
1         33772
2             A
3            10
4    ..T......G
5    JJJJJJJHHD
Name: 29184, dtype: object
0           LG1
1         33772
2             A
3            10
4    ..T......G
5    JJJJJJJHHD
Name: 29184, dtype: object
0           LG1
1         33772
2             A
3            10
4    ..T......G
5    JJJJJJJHHD
Name: 29184, dtype: object
0           LG1
1         33773
2             A
3            10
4    ..........
5    JJIIJIJIHH
Name: 29185, dtype: object
0           LG1
1         33773
2             A
3            10
4    ..........
5    JJIIJIJIHH
Name: 29185, dtype: object
0           LG1
1         33773
2             A
3            10
4    ..........
5    JJIIJIJIHH
Name: 29185, dtype: object
0           LG1
1         33773
2             A
3            10
4    ..........
5    JJIIJIJIHH
Name: 29185, dtype: object
0           LG1
1         33773
2             A
3            10
4    ..........
5    JJIIJIJIHH
Name: 29185, dtype: object
0           LG1
1         33773
2             A
3            10
4    ..........
5    JJIIJIJIHH
Name: 29185, dtype: object
0           LG1
1         33773
2             A
3            10
4    ..........
5    JJIIJIJIHH
Name: 29185, dtype: object
0           LG1
1         33773
2             A
3            10
4    ..........
5    JJIIJIJIHH
Name: 29185, dtype: object
0           LG1
1         33773
2             A
3            10
4    ..........
5    JJIIJIJIHH
Name: 29185, dtype: object

0           LG1
1         33773
2             A
3            10
4    ..........
5    JJIIJIJIHH
Name: 29185, dtype: object
0           LG1
1         33774
2             C
3            10
4    ...G......
5    JJJJJIIJHH
Name: 29186, dtype: object
0           LG1
1         33774
2             C
3            10
4    ...G......
5    JJJJJIIJHH
Name: 29186, dtype: object
0           LG1
1         33774
2             C
3            10
4    ...G......
5    JJJJJIIJHH
Name: 29186, dtype: object
0           LG1
1         33774
2             C
3            10
4    ...G......
5    JJJJJIIJHH
Name: 29186, dtype: object
0           LG1
1         33774
2             C
3            10
4    ...G......
5    JJJJJIIJHH
Name: 29186, dtype: object
0           LG1
1         33774
2             C
3            10
4    ...G......
5    JJJJJIIJHH
Name: 29186, dtype: object
0           LG1
1         33774
2             C
3            10
4    ...G......
5    JJJJJIIJHH
Name: 29186, dtype: object
0           LG1
1         33774
2             C
3            10
4    ...G......
5    JJJJJIIJHH
Name: 29186, dtype: object
0           LG1
1         33774
2             C
3            10
4    ...G......
5    JJJJJIIJHH
Name: 29186, dtype: object
0           LG1
1         33774
2             C
3            10
4    ...G......
5    JJJJJIIJHH
Name: 29186, dtype: object
0           LG1
1         33775
2             G
3            10
4    ...T..A...
5    JJJGJJJIJF
Name: 29187, dtype: object
0           LG1
1         33775
2             G
3            10
4    ...T..A...
5    JJJGJJJIJF
Name: 29187, dtype: object
0           LG1
1         33775
2             G
3            10
4    ...T..A...
5    JJJGJJJIJF
Name: 29187, dtype: object
0           LG1
1         33775
2             G
3            10
4    ...T..A...
5    JJJGJJJIJF
Name: 29187, dtype: object
0           LG1
1         33775
2             G
3            10
4    ...T..A...
5    JJJGJJJIJF
Name: 29187, dtype: object
0           LG1
1         33775
2             G
3            10
4    ...T..A...
5    JJJGJJJIJF
Name: 29187, dtype: object
0           LG1
1         33775
2             G
3            10
4    ...T..A...
5    JJJGJJJIJF
Name: 29187, dtype: object
0           LG1
1         33775
2             G
3            10
4    ...T..A...
5    JJJGJJJIJF
Name: 29187, dtype: object
0           LG1
1         33775
2             G
3            10
4    ...T..A...
5    JJJGJJJIJF
Name: 29187, dtype: object
0           LG1
1         33775
2             G
3            10
4    ...T..A...
5    JJJGJJJIJF
Name: 29187, dtype: object
0           LG1
1         33859
2             G
3            10
4    .....A.A..
5    >>DDBDFJDF
Name: 29271, dtype: object
0           LG1
1         33859
2             G
3            10
4    .....A.A..
5    >>DDBDFJDF
Name: 29271, dtype: object
0           LG1
1         33859
2             G
3            10
4    .....A.A..
5    >>DDBDFJDF
Name: 29271, dtype: object
0           LG1
1         33859
2             G
3            10
4    .....A.A..
5    >>DDBDFJDF
Name: 29271, dtype: object
0           LG1
1         33859
2             G
3            10
4    .....A.A..
5    >>DDBDFJDF
Name: 29271, dtype: object
0           LG1
1         33859
2             G
3            10
4    .....A.A..
5    >>DDBDFJDF
Name: 29271, dtype: object
0           LG1
1         33859
2             G
3            10
4    .....A.A..
5    >>DDBDFJDF
Name: 29271, dtype: object
0           LG1
1         33859
2             G
3            10
4    .....A.A..
5    >>DDBDFJDF
Name: 29271, dtype: object
0           LG1
1         33863
2             G
3             9
4    .$........
5     9D>DDJCH>
Name: 29275, dtype: object
0           LG1
1         33863
2             G
3             9
4    .$........
5     9D>DDJCH>
Name: 29275, dtype: object
0           LG1
1         33863
2             G
3             9
4    .$........
5     9D>DDJCH>
Name: 29275, dtype: object
0           LG1
1         33863
2             G
3             9
4    .$........
5     9D>DDJCH>
Name: 29275, dtype: object
0           LG1
1         33863
2             G
3             9
4    .$........
5     9D>DDJCH>
Name: 29275, dtype: object
0           LG1
1         33863
2             G
3             9
4    .$........
5     9D>DDJCH>
Name: 29275, dtype: object
0           LG1
1         33885
2             C
3            10
4    ...T.TTTT.
5    BDJIJJGHF=
Name: 29297, dtype: object
0           LG1
1         33885
2             C
3            10
4    ...T.TTTT.
5    BDJIJJGHF=
Name: 29297, dtype: object
0           LG1
1         33885
2             C
3            10
4    ...T.TTTT.
5    BDJIJJGHF=
Name: 29297, dtype: object
0           LG1
1         33885
2             C
3            10
4    ...T.TTTT.
5    BDJIJJGHF=
Name: 29297, dtype: object
0           LG1
1         33885
2             C
3            10
4    ...T.TTTT.
5    BDJIJJGHF=
Name: 29297, dtype: object
0           LG1
1         33885
2             C
3            10
4    ...T.TTTT.
5    BDJIJJGHF=
Name: 29297, dtype: object
0           LG1
1         33885
2             C
3            10
4    ...T.TTTT.
5    BDJIJJGHF=
Name: 29297, dtype: object
0           LG1
1         33885
2             C
3            10
4    ...T.TTTT.
5    BDJIJJGHF=
Name: 29297, dtype: object
0           LG1
1         33885
2             C
3            10
4    ...T.TTTT.
5    BDJIJJGHF=
Name: 29297, dtype: object
0           LG1
1         33889
2             A
3            10
4    ..........
5    DDJJJJJJDF
Name: 29301, dtype: object
0           LG1
1         33889
2             A
3            10
4    ..........
5    DDJJJJJJDF
Name: 29301, dtype: object
0           LG1
1         33889
2             A
3            10
4    ..........
5    DDJJJJJJDF
Name: 29301, dtype: object
0           LG1
1         33889
2             A
3            10
4    ..........
5    DDJJJJJJDF
Name: 29301, dtype: object
0           LG1
1         33889
2             A
3            10
4    ..........
5    DDJJJJJJDF
Name: 29301, dtype: object
0           LG1
1         33889
2             A
3            10
4    ..........
5    DDJJJJJJDF
Name: 29301, dtype: object
0           LG1
1         33889
2             A
3            10
4    ..........
5    DDJJJJJJDF
Name: 29301, dtype: object
0           LG1
1         33889
2             A
3            10
4    ..........
5    DDJJJJJJDF
Name: 29301, dtype: object
0           LG1
1         33889
2             A
3            10
4    ..........
5    DDJJJJJJDF
Name: 29301, dtype: object
0           LG1
1         33889
2             A
3            10
4    ..........
5    DDJJJJJJDF
Name: 29301, dtype: object
0           LG1
1         33895
2             G
3            10
4    T...T.....
5    DDJIJJJJJ2
Name: 29307, dtype: object
0           LG1
1         33895
2             G
3            10
4    T...T.....
5    DDJIJJJJJ2
Name: 29307, dtype: object
0           LG1
1         33895
2             G
3            10
4    T...T.....
5    DDJIJJJJJ2
Name: 29307, dtype: object
0           LG1
1         33895
2             G
3            10
4    T...T.....
5    DDJIJJJJJ2
Name: 29307, dtype: object
0           LG1
1         33895
2             G
3            10
4    T...T.....
5    DDJIJJJJJ2
Name: 29307, dtype: object
0           LG1
1         33895
2             G
3            10
4    T...T.....
5    DDJIJJJJJ2
Name: 29307, dtype: object
0           LG1
1         33895
2             G
3            10
4    T...T.....
5    DDJIJJJJJ2
Name: 29307, dtype: object
0           LG1
1         33895
2             G
3            10
4    T...T.....
5    DDJIJJJJJ2
Name: 29307, dtype: object
0           LG1
1         33895
2             G
3            10
4    T...T.....
5    DDJIJJJJJ2
Name: 29307, dtype: object
0           LG1
1         33896
2             G
3            10
4    ...A.AAAA.
5    D<HGJJJJJ1
Name: 29308, dtype: object
0           LG1
1         33896
2             G
3            10
4    ...A.AAAA.
5    D<HGJJJJJ1
Name: 29308, dtype: object
0           LG1
1         33896
2             G
3            10
4    ...A.AAAA.
5    D<HGJJJJJ1
Name: 29308, dtype: object
0           LG1
1         33896
2             G
3            10
4    ...A.AAAA.
5    D<HGJJJJJ1
Name: 29308, dtype: object
0           LG1
1         33896
2             G
3            10
4    ...A.AAAA.
5    D<HGJJJJJ1
Name: 29308, dtype: object
0           LG1
1         33896
2             G
3            10
4    ...A.AAAA.
5    D<HGJJJJJ1
Name: 29308, dtype: object
0           LG1
1         33896
2             G
3            10
4    ...A.AAAA.
5    D<HGJJJJJ1
Name: 29308, dtype: object
0           LG1
1         33896
2             G
3            10
4    ...A.AAAA.
5    D<HGJJJJJ1
Name: 29308, dtype: object
0           LG1
1         33900
2             A
3            10
4    ..........
5    E5HGJJIJJF
Name: 29312, dtype: object
0           LG1
1         33900
2             A
3            10
4    ..........
5    E5HGJJIJJF
Name: 29312, dtype: object
0           LG1
1         33900
2             A
3            10
4    ..........
5    E5HGJJIJJF
Name: 29312, dtype: object
0           LG1
1         33900
2             A
3            10
4    ..........
5    E5HGJJIJJF
Name: 29312, dtype: object
0           LG1
1         33900
2             A
3            10
4    ..........
5    E5HGJJIJJF
Name: 29312, dtype: object
0           LG1
1         33900
2             A
3            10
4    ..........
5    E5HGJJIJJF
Name: 29312, dtype: object
0           LG1
1         33900
2             A
3            10
4    ..........
5    E5HGJJIJJF
Name: 29312, dtype: object
0           LG1
1         33900
2             A
3            10
4    ..........
5    E5HGJJIJJF
Name: 29312, dtype: object
0           LG1
1         33900
2             A
3            10
4    ..........
5    E5HGJJIJJF
Name: 29312, dtype: object
0           LG1
1         33902
2             A
3            10
4    ..........
5    D5FIJJJJI>
Name: 29314, dtype: object
0           LG1
1         33902
2             A
3            10
4    ..........
5    D5FIJJJJI>
Name: 29314, dtype: object
0           LG1
1         33902
2             A
3            10
4    ..........
5    D5FIJJJJI>
Name: 29314, dtype: object
0           LG1
1         33902
2             A
3            10
4    ..........
5    D5FIJJJJI>
Name: 29314, dtype: object
0           LG1
1         33902
2             A
3            10
4    ..........
5    D5FIJJJJI>
Name: 29314, dtype: object
0           LG1
1         33902
2             A
3            10
4    ..........
5    D5FIJJJJI>
Name: 29314, dtype: object
0           LG1
1         33902
2             A
3            10
4    ..........
5    D5FIJJJJI>
Name: 29314, dtype: object
0           LG1
1         33902
2             A
3            10
4    ..........
5    D5FIJJJJI>
Name: 29314, dtype: object
0           LG1
1         33903
2             C
3            10
4    ..........
5    D5FIIJJII?
Name: 29315, dtype: object
0           LG1
1         33903
2             C
3            10
4    ..........
5    D5FIIJJII?
Name: 29315, dtype: object
0           LG1
1         33903
2             C
3            10
4    ..........
5    D5FIIJJII?
Name: 29315, dtype: object
0           LG1
1         33903
2             C
3            10
4    ..........
5    D5FIIJJII?
Name: 29315, dtype: object
0           LG1
1         33903
2             C
3            10
4    ..........
5    D5FIIJJII?
Name: 29315, dtype: object
0           LG1
1         33903
2             C
3            10
4    ..........
5    D5FIIJJII?
Name: 29315, dtype: object
0           LG1
1         33903
2             C
3            10
4    ..........
5    D5FIIJJII?
Name: 29315, dtype: object
0           LG1
1         33903
2             C
3            10
4    ..........
5    D5FIIJJII?
Name: 29315, dtype: object
0           LG1
1         33903
2             C
3            10
4    ..........
5    D5FIIJJII?
Name: 29315, dtype: object
0           LG1
1         33904
2             A
3            10
4    ..........
5    D;FHJJJJI<
Name: 29316, dtype: object
0           LG1
1         33904
2             A
3            10
4    ..........
5    D;FHJJJJI<
Name: 29316, dtype: object
0           LG1
1         33904
2             A
3            10
4    ..........
5    D;FHJJJJI<
Name: 29316, dtype: object
0           LG1
1         33904
2             A
3            10
4    ..........
5    D;FHJJJJI<
Name: 29316, dtype: object
0           LG1
1         33904
2             A
3            10
4    ..........
5    D;FHJJJJI<
Name: 29316, dtype: object
0           LG1
1         33904
2             A
3            10
4    ..........
5    D;FHJJJJI<
Name: 29316, dtype: object
0           LG1
1         33904
2             A
3            10
4    ..........
5    D;FHJJJJI<
Name: 29316, dtype: object
0           LG1
1         33904
2             A
3            10
4    ..........
5    D;FHJJJJI<
Name: 29316, dtype: object
0           LG1
1         33905
2             C
3            10
4    ..........
5    D9FHHJJJJ?
Name: 29317, dtype: object
0           LG1
1         33905
2             C
3            10
4    ..........
5    D9FHHJJJJ?
Name: 29317, dtype: object
0           LG1
1         33905
2             C
3            10
4    ..........
5    D9FHHJJJJ?
Name: 29317, dtype: object
0           LG1
1         33905
2             C
3            10
4    ..........
5    D9FHHJJJJ?
Name: 29317, dtype: object
0           LG1
1         33905
2             C
3            10
4    ..........
5    D9FHHJJJJ?
Name: 29317, dtype: object
0           LG1
1         33905
2             C
3            10
4    ..........
5    D9FHHJJJJ?
Name: 29317, dtype: object
0           LG1
1         33905
2             C
3            10
4    ..........
5    D9FHHJJJJ?
Name: 29317, dtype: object
0           LG1
1         33905
2             C
3            10
4    ..........
5    D9FHHJJJJ?
Name: 29317, dtype: object
0           LG1
1         33905
2             C
3            10
4    ..........
5    D9FHHJJJJ?
Name: 29317, dtype: object
0           LG1
1         33917
2             G
3            10
4    ..........
5    D>EFFJJJJH
Name: 29329, dtype: object
0           LG1
1         33917
2             G
3            10
4    ..........
5    D>EFFJJJJH
Name: 29329, dtype: object
0           LG1
1         33917
2             G
3            10
4    ..........
5    D>EFFJJJJH
Name: 29329, dtype: object
0           LG1
1         33917
2             G
3            10
4    ..........
5    D>EFFJJJJH
Name: 29329, dtype: object
0           LG1
1         33917
2             G
3            10
4    ..........
5    D>EFFJJJJH
Name: 29329, dtype: object
0           LG1
1         33917
2             G
3            10
4    ..........
5    D>EFFJJJJH
Name: 29329, dtype: object
0           LG1
1         33917
2             G
3            10
4    ..........
5    D>EFFJJJJH

Name: 29329, dtype: object
0           LG1
1         33917
2             G
3            10
4    ..........
5    D>EFFJJJJH
Name: 29329, dtype: object
0           LG1
1         33917
2             G
3            10
4    ..........
5    D>EFFJJJJH
Name: 29329, dtype: object
0           LG1
1         33918
2             T
3            10
4    ..........
5    D>DFFIHIJ8
Name: 29330, dtype: object
0           LG1
1         33918
2             T
3            10
4    ..........
5    D>DFFIHIJ8
Name: 29330, dtype: object
0           LG1
1         33918
2             T
3            10
4    ..........
5    D>DFFIHIJ8
Name: 29330, dtype: object
0           LG1
1         33918
2             T
3            10
4    ..........
5    D>DFFIHIJ8
Name: 29330, dtype: object
0           LG1
1         33918
2             T
3            10
4    ..........
5    D>DFFIHIJ8
Name: 29330, dtype: object
0           LG1
1         33918
2             T
3            10
4    ..........
5    D>DFFIHIJ8
Name: 29330, dtype: object
0           LG1
1         33918
2             T
3            10
4    ..........
5    D>DFFIHIJ8
Name: 29330, dtype: object
0           LG1
1         33918
2             T
3            10
4    ..........
5    D>DFFIHIJ8
Name: 29330, dtype: object
0           LG1
1         33919
2             C
3            10
4    ..........
5    CCCE@JJHI?
Name: 29331, dtype: object
0           LG1
1         33919
2             C
3            10
4    ..........
5    CCCE@JJHI?
Name: 29331, dtype: object
0           LG1
1         33919
2             C
3            10
4    ..........
5    CCCE@JJHI?
Name: 29331, dtype: object
0           LG1
1         33919
2             C
3            10
4    ..........
5    CCCE@JJHI?
Name: 29331, dtype: object
0           LG1
1         33919
2             C
3            10
4    ..........
5    CCCE@JJHI?
Name: 29331, dtype: object
0           LG1
1         33919
2             C
3            10
4    ..........
5    CCCE@JJHI?
Name: 29331, dtype: object
0           LG1
1         33919
2             C
3            10
4    ..........
5    CCCE@JJHI?
Name: 29331, dtype: object
0           LG1
1         33919
2             C
3            10
4    ..........
5    CCCE@JJHI?
Name: 29331, dtype: object
0           LG1
1         33919
2             C
3            10
4    ..........
5    CCCE@JJHI?
Name: 29331, dtype: object
0           LG1
1         33919
2             C
3            10
4    ..........
5    CCCE@JJHI?
Name: 29331, dtype: object
0           LG1
1         33920
2             A
3            10
4    ..........
5    D:DECHJJJF
Name: 29332, dtype: object
0           LG1
1         33920
2             A
3            10
4    ..........
5    D:DECHJJJF
Name: 29332, dtype: object
0           LG1
1         33920
2             A
3            10
4    ..........
5    D:DECHJJJF
Name: 29332, dtype: object
0           LG1
1         33920
2             A
3            10
4    ..........
5    D:DECHJJJF
Name: 29332, dtype: object
0           LG1
1         33920
2             A
3            10
4    ..........
5    D:DECHJJJF
Name: 29332, dtype: object
0           LG1
1         33920
2             A
3            10
4    ..........
5    D:DECHJJJF
Name: 29332, dtype: object
0           LG1
1         33920
2             A
3            10
4    ..........
5    D:DECHJJJF
Name: 29332, dtype: object
0           LG1
1         33920
2             A
3            10
4    ..........
5    D:DECHJJJF
Name: 29332, dtype: object
0           LG1
1         33920
2             A
3            10
4    ..........
5    D:DECHJJJF
Name: 29332, dtype: object
0           LG1
1         33921
2             A
3            10
4    ..........
5    DCEEEFJIJ<
Name: 29333, dtype: object
0           LG1
1         33921
2             A
3            10
4    ..........
5    DCEEEFJIJ<
Name: 29333, dtype: object
0           LG1
1         33921
2             A
3            10
4    ..........
5    DCEEEFJIJ<
Name: 29333, dtype: object
0           LG1
1         33921
2             A
3            10
4    ..........
5    DCEEEFJIJ<
Name: 29333, dtype: object
0           LG1
1         33921
2             A
3            10
4    ..........
5    DCEEEFJIJ<
Name: 29333, dtype: object
0           LG1
1         33921
2             A
3            10
4    ..........
5    DCEEEFJIJ<
Name: 29333, dtype: object
0           LG1
1         33921
2             A
3            10
4    ..........
5    DCEEEFJIJ<
Name: 29333, dtype: object
0           LG1
1         33921
2             A
3            10
4    ..........
5    DCEEEFJIJ<
Name: 29333, dtype: object
0           LG1
1         33921
2             A
3            10
4    ..........
5    DCEEEFJIJ<
Name: 29333, dtype: object
0           LG1
1         33922
2             A
3            10
4    ..........
5    DCDEEFJJI?
Name: 29334, dtype: object
0           LG1
1         33922
2             A
3            10
4    ..........
5    DCDEEFJJI?
Name: 29334, dtype: object
0           LG1
1         33922
2             A
3            10
4    ..........
5    DCDEEFJJI?
Name: 29334, dtype: object
0           LG1
1         33922
2             A
3            10
4    ..........
5    DCDEEFJJI?
Name: 29334, dtype: object
0           LG1
1         33922
2             A
3            10
4    ..........
5    DCDEEFJJI?
Name: 29334, dtype: object
0           LG1
1         33922
2             A
3            10
4    ..........
5    DCDEEFJJI?
Name: 29334, dtype: object
0           LG1
1         33922
2             A
3            10
4    ..........
5    DCDEEFJJI?
Name: 29334, dtype: object
0           LG1
1         33922
2             A
3            10
4    ..........
5    DCDEEFJJI?
Name: 29334, dtype: object
0           LG1
1         33922
2             A
3            10
4    ..........
5    DCDEEFJJI?
Name: 29334, dtype: object
0           LG1
1         33922
2             A
3            10
4    ..........
5    DCDEEFJJI?
Name: 29334, dtype: object
0           LG1
1         33923
2             A
3            10
4    ..........
5    D:DEEHJJIF
Name: 29335, dtype: object
0           LG1
1         33923
2             A
3            10
4    ..........
5    D:DEEHJJIF
Name: 29335, dtype: object
0           LG1
1         33923
2             A
3            10
4    ..........
5    D:DEEHJJIF
Name: 29335, dtype: object
0           LG1
1         33923
2             A
3            10
4    ..........
5    D:DEEHJJIF
Name: 29335, dtype: object
0           LG1
1         33923
2             A
3            10
4    ..........
5    D:DEEHJJIF
Name: 29335, dtype: object
0           LG1
1         33923
2             A
3            10
4    ..........
5    D:DEEHJJIF
Name: 29335, dtype: object
0           LG1
1         33923
2             A
3            10
4    ..........
5    D:DEEHJJIF
Name: 29335, dtype: object
0           LG1
1         33923
2             A
3            10
4    ..........
5    D:DEEHJJIF
Name: 29335, dtype: object
0           LG1
1         33923
2             A
3            10
4    ..........
5    D:DEEHJJIF
Name: 29335, dtype: object
0           LG1
1         33925
2             A
3            10
4    TTTTTTTTTT
5    D:DDEGIJJG
Name: 29337, dtype: object
0           LG1
1         33925
2             A
3            10
4    TTTTTTTTTT
5    D:DDEGIJJG
Name: 29337, dtype: object
0           LG1
1         33925
2             A
3            10
4    TTTTTTTTTT
5    D:DDEGIJJG
Name: 29337, dtype: object
0           LG1
1         33925
2             A
3            10
4    TTTTTTTTTT
5    D:DDEGIJJG
Name: 29337, dtype: object
0           LG1
1         33925
2             A
3            10
4    TTTTTTTTTT
5    D:DDEGIJJG
Name: 29337, dtype: object
0           LG1
1         33925
2             A
3            10
4    TTTTTTTTTT
5    D:DDEGIJJG
Name: 29337, dtype: object
0           LG1
1         33925
2             A
3            10
4    TTTTTTTTTT
5    D:DDEGIJJG
Name: 29337, dtype: object
0           LG1
1         33925
2             A
3            10
4    TTTTTTTTTT
5    D:DDEGIJJG
Name: 29337, dtype: object
0           LG1
1         33925
2             A
3            10
4    TTTTTTTTTT
5    D:DDEGIJJG
Name: 29337, dtype: object
0           LG1
1         33926
2             A
3            10
4    ..........
5    D:DDDFIJIB
Name: 29338, dtype: object
0           LG1
1         33926
2             A
3            10
4    ..........
5    D:DDDFIJIB
Name: 29338, dtype: object
0           LG1
1         33926
2             A
3            10
4    ..........
5    D:DDDFIJIB
Name: 29338, dtype: object
0           LG1
1         33926
2             A
3            10
4    ..........
5    D:DDDFIJIB
Name: 29338, dtype: object
0           LG1
1         33926
2             A
3            10
4    ..........
5    D:DDDFIJIB
Name: 29338, dtype: object
0           LG1
1         33926
2             A
3            10
4    ..........
5    D:DDDFIJIB
Name: 29338, dtype: object
0           LG1
1         33926
2             A
3            10
4    ..........
5    D:DDDFIJIB
Name: 29338, dtype: object
0           LG1
1         33926
2             A
3            10
4    ..........
5    D:DDDFIJIB
Name: 29338, dtype: object
0           LG1
1         33926
2             A
3            10
4    ..........
5    D:DDDFIJIB
Name: 29338, dtype: object
0           LG1
1         33927
2             C
3            10
4    ..........
5    DADDDFJJJ=
Name: 29339, dtype: object
0           LG1
1         33927
2             C
3            10
4    ..........
5    DADDDFJJJ=
Name: 29339, dtype: object
0           LG1
1         33927
2             C
3            10
4    ..........
5    DADDDFJJJ=
Name: 29339, dtype: object
0           LG1
1         33927
2             C
3            10
4    ..........
5    DADDDFJJJ=
Name: 29339, dtype: object
0           LG1
1         33927
2             C
3            10
4    ..........
5    DADDDFJJJ=
Name: 29339, dtype: object
0           LG1
1         33927
2             C
3            10
4    ..........
5    DADDDFJJJ=
Name: 29339, dtype: object
0           LG1
1         33927
2             C
3            10
4    ..........
5    DADDDFJJJ=
Name: 29339, dtype: object
0           LG1
1         33927
2             C
3            10
4    ..........
5    DADDDFJJJ=
Name: 29339, dtype: object
0           LG1
1         33927
2             C
3            10
4    ..........
5    DADDDFJJJ=
Name: 29339, dtype: object
0           LG1
1         33928
2             T
3            10
4    ..........
5    D@DDDFHJJ=
Name: 29340, dtype: object
0           LG1
1         33928
2             T
3            10
4    ..........
5    D@DDDFHJJ=
Name: 29340, dtype: object
0           LG1
1         33928
2             T
3            10
4    ..........
5    D@DDDFHJJ=
Name: 29340, dtype: object
0           LG1
1         33928
2             T
3            10
4    ..........
5    D@DDDFHJJ=
Name: 29340, dtype: object
0           LG1
1         33928
2             T
3            10
4    ..........
5    D@DDDFHJJ=
Name: 29340, dtype: object
0           LG1
1         33928
2             T
3            10
4    ..........
5    D@DDDFHJJ=
Name: 29340, dtype: object
0           LG1
1         33928
2             T
3            10
4    ..........
5    D@DDDFHJJ=
Name: 29340, dtype: object
0           LG1
1         33928
2             T
3            10
4    ..........
5    D@DDDFHJJ=
Name: 29340, dtype: object
0           LG1
1         33928
2             T
3            10
4    ..........
5    D@DDDFHJJ=
Name: 29340, dtype: object
0           LG1
1         33929
2             C
3            10
4    ..........
5    DCDDDFHJJC
Name: 29341, dtype: object
0           LG1
1         33929
2             C
3            10
4    ..........
5    DCDDDFHJJC
Name: 29341, dtype: object
0           LG1
1         33929
2             C
3            10
4    ..........
5    DCDDDFHJJC
Name: 29341, dtype: object
0           LG1
1         33929
2             C
3            10
4    ..........
5    DCDDDFHJJC
Name: 29341, dtype: object
0           LG1
1         33929
2             C
3            10
4    ..........
5    DCDDDFHJJC
Name: 29341, dtype: object
0           LG1
1         33929
2             C
3            10
4    ..........
5    DCDDDFHJJC
Name: 29341, dtype: object
0           LG1
1         33929
2             C
3            10
4    ..........
5    DCDDDFHJJC
Name: 29341, dtype: object
0           LG1
1         33929
2             C
3            10
4    ..........
5    DCDDDFHJJC
Name: 29341, dtype: object
0           LG1
1         33929
2             C
3            10
4    ..........
5    DCDDDFHJJC
Name: 29341, dtype: object
0           LG1
1         33929
2             C
3            10
4    ..........
5    DCDDDFHJJC
Name: 29341, dtype: object
0           LG1
1         33930
2             A
3            10
4    ..........
5    DCDDDFHIJ@
Name: 29342, dtype: object
0           LG1
1         33930
2             A
3            10
4    ..........
5    DCDDDFHIJ@
Name: 29342, dtype: object
0           LG1
1         33930
2             A
3            10
4    ..........
5    DCDDDFHIJ@
Name: 29342, dtype: object
0           LG1
1         33930
2             A
3            10
4    ..........
5    DCDDDFHIJ@
Name: 29342, dtype: object
0           LG1
1         33930
2             A
3            10
4    ..........
5    DCDDDFHIJ@
Name: 29342, dtype: object
0           LG1
1         33930
2             A
3            10
4    ..........
5    DCDDDFHIJ@
Name: 29342, dtype: object
0           LG1
1         33930
2             A
3            10
4    ..........
5    DCDDDFHIJ@
Name: 29342, dtype: object
0           LG1
1         33930
2             A
3            10
4    ..........
5    DCDDDFHIJ@
Name: 29342, dtype: object
0           LG1
1         33930
2             A
3            10
4    ..........
5    DCDDDFHIJ@
Name: 29342, dtype: object
0           LG1
1         33930
2             A
3            10
4    ..........
5    DCDDDFHIJ@
Name: 29342, dtype: object
0           LG1
1         33931
2             C
3            10
4    TTTTTTTTTT
5    DC:DDFHJJ7
Name: 29343, dtype: object
0           LG1
1         33931
2             C
3            10
4    TTTTTTTTTT
5    DC:DDFHJJ7
Name: 29343, dtype: object
0           LG1
1         33931
2             C
3            10
4    TTTTTTTTTT
5    DC:DDFHJJ7
Name: 29343, dtype: object
0           LG1
1         33931
2             C
3            10
4    TTTTTTTTTT
5    DC:DDFHJJ7
Name: 29343, dtype: object
0           LG1
1         33931
2             C
3            10
4    TTTTTTTTTT
5    DC:DDFHJJ7
Name: 29343, dtype: object
0           LG1
1         33931
2             C
3            10
4    TTTTTTTTTT
5    DC:DDFHJJ7
Name: 29343, dtype: object
0           LG1
1         33931
2             C
3            10
4    TTTTTTTTTT
5    DC:DDFHJJ7
Name: 29343, dtype: object
0           LG1
1         33931
2             C
3            10
4    TTTTTTTTTT
5    DC:DDFHJJ7
Name: 29343, dtype: object
0           LG1
1         33932
2             G
3            10
4    ..........
5    DDADDEHJJ7
Name: 29344, dtype: object
0           LG1
1         33932
2             G
3            10
4    ..........
5    DDADDEHJJ7
Name: 29344, dtype: object
0           LG1
1         33932
2             G
3            10
4    ..........
5    DDADDEHJJ7
Name: 29344, dtype: object
0           LG1
1         33932
2             G
3            10
4    ..........
5    DDADDEHJJ7
Name: 29344, dtype: object
0           LG1
1         33932
2             G
3            10
4    ..........
5    DDADDEHJJ7
Name: 29344, dtype: object
0           LG1
1         33932
2             G
3            10
4    ..........
5    DDADDEHJJ7
Name: 29344, dtype: object
0           LG1
1         33932
2             G
3            10
4    ..........
5    DDADDEHJJ7
Name: 29344, dtype: object
0           LG1
1         33932
2             G
3            10
4    ..........
5    DDADDEHJJ7
Name: 29344, dtype: object
0           LG1
1         33932
2             G
3            10
4    ..........
5    DDADDEHJJ7
Name: 29344, dtype: object

0           LG1
1         33933
2             T
3            10
4    C.CCCCCCC.
5    DCDDDEHJJ.
Name: 29345, dtype: object
0           LG1
1         33933
2             T
3            10
4    C.CCCCCCC.
5    DCDDDEHJJ.
Name: 29345, dtype: object
0           LG1
1         33933
2             T
3            10
4    C.CCCCCCC.
5    DCDDDEHJJ.
Name: 29345, dtype: object
0           LG1
1         33933
2             T
3            10
4    C.CCCCCCC.
5    DCDDDEHJJ.
Name: 29345, dtype: object
0           LG1
1         33933
2             T
3            10
4    C.CCCCCCC.
5    DCDDDEHJJ.
Name: 29345, dtype: object
0           LG1
1         33933
2             T
3            10
4    C.CCCCCCC.
5    DCDDDEHJJ.
Name: 29345, dtype: object
0           LG1
1         33933
2             T
3            10
4    C.CCCCCCC.
5    DCDDDEHJJ.
Name: 29345, dtype: object
0           LG1
1         33933
2             T
3            10
4    C.CCCCCCC.
5    DCDDDEHJJ.
Name: 29345, dtype: object
0           LG1
1         33933
2             T
3            10
4    C.CCCCCCC.
5    DCDDDEHJJ.
Name: 29345, dtype: object
0           LG1
1         33934
2             C
3            10
4    T...T.....
5    D:DDCEFJJ/
Name: 29346, dtype: object
0           LG1
1         33934
2             C
3            10
4    T...T.....
5    D:DDCEFJJ/
Name: 29346, dtype: object
0           LG1
1         33934
2             C
3            10
4    T...T.....
5    D:DDCEFJJ/
Name: 29346, dtype: object
0           LG1
1         33934
2             C
3            10
4    T...T.....
5    D:DDCEFJJ/
Name: 29346, dtype: object
0           LG1
1         33934
2             C
3            10
4    T...T.....
5    D:DDCEFJJ/
Name: 29346, dtype: object
0           LG1
1         33934
2             C
3            10
4    T...T.....
5    D:DDCEFJJ/
Name: 29346, dtype: object
0           LG1
1         33934
2             C
3            10
4    T...T.....
5    D:DDCEFJJ/
Name: 29346, dtype: object
0           LG1
1         33934
2             C
3            10
4    T...T.....
5    D:DDCEFJJ/
Name: 29346, dtype: object
0           LG1
1         33935
2             A
3            10
4    ..T.......
5    DADDDEFJJ8
Name: 29347, dtype: object
0           LG1
1         33935
2             A
3            10
4    ..T.......
5    DADDDEFJJ8
Name: 29347, dtype: object
0           LG1
1         33935
2             A
3            10
4    ..T.......
5    DADDDEFJJ8
Name: 29347, dtype: object
0           LG1
1         33935
2             A
3            10
4    ..T.......
5    DADDDEFJJ8
Name: 29347, dtype: object
0           LG1
1         33935
2             A
3            10
4    ..T.......
5    DADDDEFJJ8
Name: 29347, dtype: object
0           LG1
1         33935
2             A
3            10
4    ..T.......
5    DADDDEFJJ8
Name: 29347, dtype: object
0           LG1
1         33935
2             A
3            10
4    ..T.......
5    DADDDEFJJ8
Name: 29347, dtype: object
0           LG1
1         33935
2             A
3            10
4    ..T.......
5    DADDDEFJJ8
Name: 29347, dtype: object
0           LG1
1         33935
2             A
3            10
4    ..T.......
5    DADDDEFJJ8
Name: 29347, dtype: object
0           LG1
1         33936
2             G
3            10
4    ..T.......
5    D@DDDEFIJ.
Name: 29348, dtype: object
0           LG1
1         33936
2             G
3            10
4    ..T.......
5    D@DDDEFIJ.
Name: 29348, dtype: object
0           LG1
1         33936
2             G
3            10
4    ..T.......
5    D@DDDEFIJ.
Name: 29348, dtype: object
0           LG1
1         33936
2             G
3            10
4    ..T.......
5    D@DDDEFIJ.
Name: 29348, dtype: object
0           LG1
1         33936
2             G
3            10
4    ..T.......
5    D@DDDEFIJ.
Name: 29348, dtype: object
0           LG1
1         33936
2             G
3            10
4    ..T.......
5    D@DDDEFIJ.
Name: 29348, dtype: object
0           LG1
1         33936
2             G
3            10
4    ..T.......
5    D@DDDEFIJ.
Name: 29348, dtype: object
0           LG1
1         33936
2             G
3            10
4    ..T.......
5    D@DDDEFIJ.
Name: 29348, dtype: object
0           LG1
1         33936
2             G
3            10
4    ..T.......
5    D@DDDEFIJ.
Name: 29348, dtype: object
0           LG1
1         33937
2             C
3            10
4    .T.......T
5    DCDDDDFJI7
Name: 29349, dtype: object
0           LG1
1         33937
2             C
3            10
4    .T.......T
5    DCDDDDFJI7
Name: 29349, dtype: object
0           LG1
1         33937
2             C
3            10
4    .T.......T
5    DCDDDDFJI7
Name: 29349, dtype: object
0           LG1
1         33937
2             C
3            10
4    .T.......T
5    DCDDDDFJI7
Name: 29349, dtype: object
0           LG1
1         33937
2             C
3            10
4    .T.......T
5    DCDDDDFJI7
Name: 29349, dtype: object
0           LG1
1         33937
2             C
3            10
4    .T.......T
5    DCDDDDFJI7
Name: 29349, dtype: object
0           LG1
1         33937
2             C
3            10
4    .T.......T
5    DCDDDDFJI7
Name: 29349, dtype: object
0           LG1
1         33937
2             C
3            10
4    .T.......T
5    DCDDDDFJI7
Name: 29349, dtype: object
0           LG1
1         33937
2             C
3            10
4    .T.......T
5    DCDDDDFJI7
Name: 29349, dtype: object
0           LG1
1         33939
2             C
3            10
4    ..........
5    D3DDDDEJJ7
Name: 29351, dtype: object
0           LG1
1         33939
2             C
3            10
4    ..........
5    D3DDDDEJJ7
Name: 29351, dtype: object
0           LG1
1         33939
2             C
3            10
4    ..........
5    D3DDDDEJJ7
Name: 29351, dtype: object
0           LG1
1         33939
2             C
3            10
4    ..........
5    D3DDDDEJJ7
Name: 29351, dtype: object
0           LG1
1         33939
2             C
3            10
4    ..........
5    D3DDDDEJJ7
Name: 29351, dtype: object
0           LG1
1         33939
2             C
3            10
4    ..........
5    D3DDDDEJJ7
Name: 29351, dtype: object
0           LG1
1         33939
2             C
3            10
4    ..........
5    D3DDDDEJJ7
Name: 29351, dtype: object
0           LG1
1         33939
2             C
3            10
4    ..........
5    D3DDDDEJJ7
Name: 29351, dtype: object
0           LG1
1         33940
2             A
3            10
4    ..........
5    D>ECDDEJJC
Name: 29352, dtype: object
0           LG1
1         33940
2             A
3            10
4    ..........
5    D>ECDDEJJC
Name: 29352, dtype: object
0           LG1
1         33940
2             A
3            10
4    ..........
5    D>ECDDEJJC
Name: 29352, dtype: object
0           LG1
1         33940
2             A
3            10
4    ..........
5    D>ECDDEJJC
Name: 29352, dtype: object
0           LG1
1         33940
2             A
3            10
4    ..........
5    D>ECDDEJJC
Name: 29352, dtype: object
0           LG1
1         33940
2             A
3            10
4    ..........
5    D>ECDDEJJC
Name: 29352, dtype: object
0           LG1
1         33940
2             A
3            10
4    ..........
5    D>ECDDEJJC
Name: 29352, dtype: object
0           LG1
1         33940
2             A
3            10
4    ..........
5    D>ECDDEJJC
Name: 29352, dtype: object
0           LG1
1         33940
2             A
3            10
4    ..........
5    D>ECDDEJJC
Name: 29352, dtype: object
0           LG1
1         33941
2             T
3            10
4    ..........
5    D:EDCDEJI=
Name: 29353, dtype: object
0           LG1
1         33941
2             T
3            10
4    ..........
5    D:EDCDEJI=
Name: 29353, dtype: object
0           LG1
1         33941
2             T
3            10
4    ..........
5    D:EDCDEJI=
Name: 29353, dtype: object
0           LG1
1         33941
2             T
3            10
4    ..........
5    D:EDCDEJI=
Name: 29353, dtype: object
0           LG1
1         33941
2             T
3            10
4    ..........
5    D:EDCDEJI=
Name: 29353, dtype: object
0           LG1
1         33941
2             T
3            10
4    ..........
5    D:EDCDEJI=
Name: 29353, dtype: object
0           LG1
1         33941
2             T
3            10
4    ..........
5    D:EDCDEJI=
Name: 29353, dtype: object
0           LG1
1         33941
2             T
3            10
4    ..........
5    D:EDCDEJI=
Name: 29353, dtype: object
0           LG1
1         33953
2             C
3             9
4    .$........
5     ?2DDDDHJ?
Name: 29365, dtype: object
0           LG1
1         33953
2             C
3             9
4    .$........
5     ?2DDDDHJ?
Name: 29365, dtype: object
0           LG1
1         33953
2             C
3             9
4    .$........
5     ?2DDDDHJ?
Name: 29365, dtype: object
0           LG1
1         33953
2             C
3             9
4    .$........
5     ?2DDDDHJ?
Name: 29365, dtype: object
0           LG1
1         33953
2             C
3             9
4    .$........
5     ?2DDDDHJ?
Name: 29365, dtype: object
0           LG1
1         33953
2             C
3             9
4    .$........
5     ?2DDDDHJ?
Name: 29365, dtype: object
0           LG1
1         33953
2             C
3             9
4    .$........
5     ?2DDDDHJ?
Name: 29365, dtype: object
0           LG1
1         33953
2             C
3             9
4    .$........
5     ?2DDDDHJ?
Name: 29365, dtype: object
0           LG1
1         33982
2             G
3            10
4    .,,,a,cC.c
5    DFFDFDDFD:
Name: 29394, dtype: object
0           LG1
1         33982
2             G
3            10
4    .,,,a,cC.c
5    DFFDFDDFD:
Name: 29394, dtype: object
0           LG1
1         33982
2             G
3            10
4    .,,,a,cC.c
5    DFFDFDDFD:
Name: 29394, dtype: object
0           LG1
1         33982
2             G
3            10
4    .,,,a,cC.c
5    DFFDFDDFD:
Name: 29394, dtype: object
0           LG1
1         33982
2             G
3            10
4    .,,,a,cC.c
5    DFFDFDDFD:
Name: 29394, dtype: object
0           LG1
1         33982
2             G
3            10
4    .,,,a,cC.c
5    DFFDFDDFD:
Name: 29394, dtype: object
0           LG1
1         33982
2             G
3            10
4    .,,,a,cC.c
5    DFFDFDDFD:
Name: 29394, dtype: object
0           LG1
1         33982
2             G
3            10
4    .,,,a,cC.c
5    DFFDFDDFD:
Name: 29394, dtype: object
0           LG1
1         33982
2             G
3            10
4    .,,,a,cC.c
5    DFFDFDDFD:
Name: 29394, dtype: object
0           LG1
1         34091
2             T
3             9
4    ,$,,,,..A.
5     CHEECHDFF
Name: 29503, dtype: object
0           LG1
1         34091
2             T
3             9
4    ,$,,,,..A.
5     CHEECHDFF
Name: 29503, dtype: object
0           LG1
1         34091
2             T
3             9
4    ,$,,,,..A.
5     CHEECHDFF
Name: 29503, dtype: object
0           LG1
1         34091
2             T
3             9
4    ,$,,,,..A.
5     CHEECHDFF
Name: 29503, dtype: object
0           LG1
1         34091
2             T
3             9
4    ,$,,,,..A.
5     CHEECHDFF
Name: 29503, dtype: object
0           LG1
1         34091
2             T
3             9
4    ,$,,,,..A.
5     CHEECHDFF
Name: 29503, dtype: object
0           LG1
1         34091
2             T
3             9
4    ,$,,,,..A.
5     CHEECHDFF
Name: 29503, dtype: object
0           LG1
1         34091
2             T
3             9
4    ,$,,,,..A.
5     CHEECHDFF
Name: 29503, dtype: object
0           LG1
1         34091
2             T
3             9
4    ,$,,,,..A.
5     CHEECHDFF
Name: 29503, dtype: object
0           LG1
1         34308
2             G
3            10
4    ,,..,,,,.,
5    77FFDE?FCC
Name: 29720, dtype: object
0           LG1
1         34308
2             G
3            10
4    ,,..,,,,.,
5    77FFDE?FCC
Name: 29720, dtype: object
0           LG1
1         34308
2             G
3            10
4    ,,..,,,,.,
5    77FFDE?FCC
Name: 29720, dtype: object
0           LG1
1         34308
2             G
3            10
4    ,,..,,,,.,
5    77FFDE?FCC
Name: 29720, dtype: object
0           LG1
1         34308
2             G
3            10
4    ,,..,,,,.,
5    77FFDE?FCC
Name: 29720, dtype: object
0           LG1
1         34308
2             G
3            10
4    ,,..,,,,.,
5    77FFDE?FCC
Name: 29720, dtype: object
0           LG1
1         34308
2             G
3            10
4    ,,..,,,,.,
5    77FFDE?FCC
Name: 29720, dtype: object
0           LG1
1         34308
2             G
3            10
4    ,,..,,,,.,
5    77FFDE?FCC
Name: 29720, dtype: object
0           LG1
1         34507
2             A
3            10
4    ..,...,,,.
5    FGJIJHDDDC
Name: 29919, dtype: object
0           LG1
1         34507
2             A
3            10
4    ..,...,,,.
5    FGJIJHDDDC
Name: 29919, dtype: object
0           LG1
1         34507
2             A
3            10
4    ..,...,,,.
5    FGJIJHDDDC
Name: 29919, dtype: object
0           LG1
1         34507
2             A
3            10
4    ..,...,,,.
5    FGJIJHDDDC
Name: 29919, dtype: object
0           LG1
1         34507
2             A
3            10
4    ..,...,,,.
5    FGJIJHDDDC
Name: 29919, dtype: object
0           LG1
1         34507
2             A
3            10
4    ..,...,,,.
5    FGJIJHDDDC
Name: 29919, dtype: object
0           LG1
1         34507
2             A
3            10
4    ..,...,,,.
5    FGJIJHDDDC
Name: 29919, dtype: object
0           LG1
1         34507
2             A
3            10
4    ..,...,,,.
5    FGJIJHDDDC
Name: 29919, dtype: object
0           LG1
1         34507
2             A
3            10
4    ..,...,,,.
5    FGJIJHDDDC
Name: 29919, dtype: object
0           LG1
1         34507
2             A
3            10
4    ..,...,,,.
5    FGJIJHDDDC
Name: 29919, dtype: object
0           LG1
1         34508
2             A
3            10
4    ..,...,,,.
5    FGJGJHDDDC
Name: 29920, dtype: object
0           LG1
1         34508
2             A
3            10
4    ..,...,,,.
5    FGJGJHDDDC
Name: 29920, dtype: object
0           LG1
1         34508
2             A
3            10
4    ..,...,,,.
5    FGJGJHDDDC
Name: 29920, dtype: object
0           LG1
1         34508
2             A
3            10
4    ..,...,,,.
5    FGJGJHDDDC
Name: 29920, dtype: object
0           LG1
1         34508
2             A
3            10
4    ..,...,,,.
5    FGJGJHDDDC
Name: 29920, dtype: object
0           LG1
1         34508
2             A
3            10
4    ..,...,,,.
5    FGJGJHDDDC
Name: 29920, dtype: object
0           LG1
1         34508
2             A
3            10
4    ..,...,,,.
5    FGJGJHDDDC
Name: 29920, dtype: object
0           LG1
1         34508
2             A
3            10
4    ..,...,,,.
5    FGJGJHDDDC
Name: 29920, dtype: object
0           LG1
1         34508
2             A
3            10
4    ..,...,,,.
5    FGJGJHDDDC
Name: 29920, dtype: object
0           LG1
1         34508
2             A
3            10
4    ..,...,,,.
5    FGJGJHDDDC
Name: 29920, dtype: object
0           LG1
1         34509
2             G
3            10
4    A.,...,,,.
5    FGJHJHDDDD
Name: 29921, dtype: object
0           LG1
1         34509
2             G
3            10
4    A.,...,,,.
5    FGJHJHDDDD
Name: 29921, dtype: object
0           LG1
1         34509
2             G
3            10
4    A.,...,,,.
5    FGJHJHDDDD

Name: 29921, dtype: object
0           LG1
1         34509
2             G
3            10
4    A.,...,,,.
5    FGJHJHDDDD
Name: 29921, dtype: object
0           LG1
1         34509
2             G
3            10
4    A.,...,,,.
5    FGJHJHDDDD
Name: 29921, dtype: object
0           LG1
1         34509
2             G
3            10
4    A.,...,,,.
5    FGJHJHDDDD
Name: 29921, dtype: object
0           LG1
1         34509
2             G
3            10
4    A.,...,,,.
5    FGJHJHDDDD
Name: 29921, dtype: object
0           LG1
1         34509
2             G
3            10
4    A.,...,,,.
5    FGJHJHDDDD
Name: 29921, dtype: object
0           LG1
1         34509
2             G
3            10
4    A.,...,,,.
5    FGJHJHDDDD
Name: 29921, dtype: object
0           LG1
1         34509
2             G
3            10
4    A.,...,,,.
5    FGJHJHDDDD
Name: 29921, dtype: object
0           LG1
1         34510
2             A
3            10
4    ..,GGGgggG
5    DCJEJIDDDF
Name: 29922, dtype: object
0           LG1
1         34510
2             A
3            10
4    ..,GGGgggG
5    DCJEJIDDDF
Name: 29922, dtype: object
0           LG1
1         34510
2             A
3            10
4    ..,GGGgggG
5    DCJEJIDDDF
Name: 29922, dtype: object
0           LG1
1         34510
2             A
3            10
4    ..,GGGgggG
5    DCJEJIDDDF
Name: 29922, dtype: object
0           LG1
1         34510
2             A
3            10
4    ..,GGGgggG
5    DCJEJIDDDF
Name: 29922, dtype: object
0           LG1
1         34510
2             A
3            10
4    ..,GGGgggG
5    DCJEJIDDDF
Name: 29922, dtype: object
0           LG1
1         34510
2             A
3            10
4    ..,GGGgggG
5    DCJEJIDDDF
Name: 29922, dtype: object
0           LG1
1         34510
2             A
3            10
4    ..,GGGgggG
5    DCJEJIDDDF
Name: 29922, dtype: object
0           LG1
1         34510
2             A
3            10
4    ..,GGGgggG
5    DCJEJIDDDF
Name: 29922, dtype: object
0           LG1
1         34510
2             A
3            10
4    ..,GGGgggG
5    DCJEJIDDDF
Name: 29922, dtype: object
0           LG1
1         34511
2             A
3            10
4    ..,...,,,.
5    EGJHJFDCDF
Name: 29923, dtype: object
0           LG1
1         34511
2             A
3            10
4    ..,...,,,.
5    EGJHJFDCDF
Name: 29923, dtype: object
0           LG1
1         34511
2             A
3            10
4    ..,...,,,.
5    EGJHJFDCDF
Name: 29923, dtype: object
0           LG1
1         34511
2             A
3            10
4    ..,...,,,.
5    EGJHJFDCDF
Name: 29923, dtype: object
0           LG1
1         34511
2             A
3            10
4    ..,...,,,.
5    EGJHJFDCDF
Name: 29923, dtype: object
0           LG1
1         34511
2             A
3            10
4    ..,...,,,.
5    EGJHJFDCDF
Name: 29923, dtype: object
0           LG1
1         34511
2             A
3            10
4    ..,...,,,.
5    EGJHJFDCDF
Name: 29923, dtype: object
0           LG1
1         34511
2             A
3            10
4    ..,...,,,.
5    EGJHJFDCDF
Name: 29923, dtype: object
0           LG1
1         34511
2             A
3            10
4    ..,...,,,.
5    EGJHJFDCDF
Name: 29923, dtype: object
0           LG1
1         34511
2             A
3            10
4    ..,...,,,.
5    EGJHJFDCDF
Name: 29923, dtype: object
0           LG1
1         34642
2             A
3             9
4    .$,,...,..
5     ?FHEJGEIH
Name: 30054, dtype: object
0           LG1
1         34642
2             A
3             9
4    .$,,...,..
5     ?FHEJGEIH
Name: 30054, dtype: object
0           LG1
1         34642
2             A
3             9
4    .$,,...,..
5     ?FHEJGEIH
Name: 30054, dtype: object
0           LG1
1         34642
2             A
3             9
4    .$,,...,..
5     ?FHEJGEIH
Name: 30054, dtype: object
0           LG1
1         34642
2             A
3             9
4    .$,,...,..
5     ?FHEJGEIH
Name: 30054, dtype: object
0           LG1
1         34642
2             A
3             9
4    .$,,...,..
5     ?FHEJGEIH
Name: 30054, dtype: object
0           LG1
1         34642
2             A
3             9
4    .$,,...,..
5     ?FHEJGEIH
Name: 30054, dtype: object
0           LG1
1         34642
2             A
3             9
4    .$,,...,..
5     ?FHEJGEIH
Name: 30054, dtype: object
0           LG1
1         34642
2             A
3             9
4    .$,,...,..
5     ?FHEJGEIH
Name: 30054, dtype: object
0           LG1
1         34647
2             T
3            10
4    ,,....,...
5    @FDHFHGGJB
Name: 30059, dtype: object
0           LG1
1         34647
2             T
3            10
4    ,,....,...
5    @FDHFHGGJB
Name: 30059, dtype: object
0           LG1
1         34647
2             T
3            10
4    ,,....,...
5    @FDHFHGGJB
Name: 30059, dtype: object
0           LG1
1         34647
2             T
3            10
4    ,,....,...
5    @FDHFHGGJB
Name: 30059, dtype: object
0           LG1
1         34647
2             T
3            10
4    ,,....,...
5    @FDHFHGGJB
Name: 30059, dtype: object
0           LG1
1         34647
2             T
3            10
4    ,,....,...
5    @FDHFHGGJB
Name: 30059, dtype: object
0           LG1
1         34647
2             T
3            10
4    ,,....,...
5    @FDHFHGGJB
Name: 30059, dtype: object
0           LG1
1         34647
2             T
3            10
4    ,,....,...
5    @FDHFHGGJB
Name: 30059, dtype: object
0           LG1
1         34647
2             T
3            10
4    ,,....,...
5    @FDHFHGGJB
Name: 30059, dtype: object
0           LG1
1         34647
2             T
3            10
4    ,,....,...
5    @FDHFHGGJB
Name: 30059, dtype: object
0           LG1
1         34650
2             A
3             9
4    ,$....,...
5     >@FDJFJEF
Name: 30062, dtype: object
0           LG1
1         34650
2             A
3             9
4    ,$....,...
5     >@FDJFJEF
Name: 30062, dtype: object
0           LG1
1         34650
2             A
3             9
4    ,$....,...
5     >@FDJFJEF
Name: 30062, dtype: object
0           LG1
1         34650
2             A
3             9
4    ,$....,...
5     >@FDJFJEF
Name: 30062, dtype: object
0           LG1
1         34650
2             A
3             9
4    ,$....,...
5     >@FDJFJEF
Name: 30062, dtype: object
0           LG1
1         34650
2             A
3             9
4    ,$....,...
5     >@FDJFJEF
Name: 30062, dtype: object
0           LG1
1         34650
2             A
3             9
4    ,$....,...
5     >@FDJFJEF
Name: 30062, dtype: object
0           LG1
1         34650
2             A
3             9
4    ,$....,...
5     >@FDJFJEF
Name: 30062, dtype: object
0           LG1
1         34694
2             T
3             8
4    ,...,..^2.
5      ICFJJJH0
Name: 30106, dtype: object
0           LG1
1         34694
2             T
3             8
4    ,...,..^2.
5      ICFJJJH0
Name: 30106, dtype: object
0           LG1
1         34694
2             T
3             8
4    ,...,..^2.
5      ICFJJJH0
Name: 30106, dtype: object
0           LG1
1         34694
2             T
3             8
4    ,...,..^2.
5      ICFJJJH0
Name: 30106, dtype: object
0           LG1
1         34694
2             T
3             8
4    ,...,..^2.
5      ICFJJJH0
Name: 30106, dtype: object
0           LG1
1         34694
2             T
3             8
4    ,...,..^2.
5      ICFJJJH0
Name: 30106, dtype: object
0           LG1
1         34694
2             T
3             8
4    ,...,..^2.
5      ICFJJJH0
Name: 30106, dtype: object
0           LG1
1         34758
2             C
3             6
4    ..,,^0.^0,
5        DIDDBB
Name: 30170, dtype: object
0           LG1
1         34758
2             C
3             6
4    ..,,^0.^0,
5        DIDDBB
Name: 30170, dtype: object
0           LG1
1         34758
2             C
3             6
4    ..,,^0.^0,
5        DIDDBB
Name: 30170, dtype: object
0           LG1
1         34758
2             C
3             6
4    ..,,^0.^0,
5        DIDDBB
Name: 30170, dtype: object
0           LG1
1         34758
2             C
3             6
4    ..,,^0.^0,
5        DIDDBB
Name: 30170, dtype: object
0           LG1
1         34758
2             C
3             6
4    ..,,^0.^0,
5        DIDDBB
Name: 30170, dtype: object
0           LG1
1         34766
2             C
3            10
4    ..,,AaaAAa
5    DECDHDDD;8
Name: 30178, dtype: object
0           LG1
1         34766
2             C
3            10
4    ..,,AaaAAa
5    DECDHDDD;8
Name: 30178, dtype: object
0           LG1
1         34766
2             C
3            10
4    ..,,AaaAAa
5    DECDHDDD;8
Name: 30178, dtype: object
0           LG1
1         34766
2             C
3            10
4    ..,,AaaAAa
5    DECDHDDD;8
Name: 30178, dtype: object
0           LG1
1         34766
2             C
3            10
4    ..,,AaaAAa
5    DECDHDDD;8
Name: 30178, dtype: object
0           LG1
1         34766
2             C
3            10
4    ..,,AaaAAa
5    DECDHDDD;8
Name: 30178, dtype: object
0           LG1
1         34766
2             C
3            10
4    ..,,AaaAAa
5    DECDHDDD;8
Name: 30178, dtype: object
0           LG1
1         34766
2             C
3            10
4    ..,,AaaAAa
5    DECDHDDD;8
Name: 30178, dtype: object
0           LG1
1         34962
2             G
3            10
4    .,,.....,,
5    DDJF3GHI@J
Name: 30374, dtype: object
0           LG1
1         34962
2             G
3            10
4    .,,.....,,
5    DDJF3GHI@J
Name: 30374, dtype: object
0           LG1
1         34962
2             G
3            10
4    .,,.....,,
5    DDJF3GHI@J
Name: 30374, dtype: object
0           LG1
1         34962
2             G
3            10
4    .,,.....,,
5    DDJF3GHI@J
Name: 30374, dtype: object
0           LG1
1         34962
2             G
3            10
4    .,,.....,,
5    DDJF3GHI@J
Name: 30374, dtype: object
0           LG1
1         34962
2             G
3            10
4    .,,.....,,
5    DDJF3GHI@J
Name: 30374, dtype: object
0           LG1
1         34962
2             G
3            10
4    .,,.....,,
5    DDJF3GHI@J
Name: 30374, dtype: object
0           LG1
1         34962
2             G
3            10
4    .,,.....,,
5    DDJF3GHI@J
Name: 30374, dtype: object
0           LG1
1         34962
2             G
3            10
4    .,,.....,,
5    DDJF3GHI@J
Name: 30374, dtype: object
0           LG1
1         34963
2             A
3            10
4    .,,.....,,
5    >IJFC<HJBJ
Name: 30375, dtype: object
0           LG1
1         34963
2             A
3            10
4    .,,.....,,
5    >IJFC<HJBJ
Name: 30375, dtype: object
0           LG1
1         34963
2             A
3            10
4    .,,.....,,
5    >IJFC<HJBJ
Name: 30375, dtype: object
0           LG1
1         34963
2             A
3            10
4    .,,.....,,
5    >IJFC<HJBJ
Name: 30375, dtype: object
0           LG1
1         34963
2             A
3            10
4    .,,.....,,
5    >IJFC<HJBJ
Name: 30375, dtype: object
0           LG1
1         34963
2             A
3            10
4    .,,.....,,
5    >IJFC<HJBJ
Name: 30375, dtype: object
0           LG1
1         34963
2             A
3            10
4    .,,.....,,
5    >IJFC<HJBJ
Name: 30375, dtype: object
0           LG1
1         34963
2             A
3            10
4    .,,.....,,
5    >IJFC<HJBJ
Name: 30375, dtype: object
0           LG1
1         34964
2             A
3            10
4    .,,.....,,
5    CHJFECHDGJ
Name: 30376, dtype: object
0           LG1
1         34964
2             A
3            10
4    .,,.....,,
5    CHJFECHDGJ
Name: 30376, dtype: object
0           LG1
1         34964
2             A
3            10
4    .,,.....,,
5    CHJFECHDGJ
Name: 30376, dtype: object
0           LG1
1         34964
2             A
3            10
4    .,,.....,,
5    CHJFECHDGJ
Name: 30376, dtype: object
0           LG1
1         34964
2             A
3            10
4    .,,.....,,
5    CHJFECHDGJ
Name: 30376, dtype: object
0           LG1
1         34964
2             A
3            10
4    .,,.....,,
5    CHJFECHDGJ
Name: 30376, dtype: object
0           LG1
1         34964
2             A
3            10
4    .,,.....,,
5    CHJFECHDGJ
Name: 30376, dtype: object
0           LG1
1         34964
2             A
3            10
4    .,,.....,,
5    CHJFECHDGJ
Name: 30376, dtype: object
0           LG1
1         34964
2             A
3            10
4    .,,.....,,
5    CHJFECHDGJ
Name: 30376, dtype: object
0           LG1
1         34964
2             A
3            10
4    .,,.....,,
5    CHJFECHDGJ
Name: 30376, dtype: object
0           LG1
1         34965
2             A
3            10
4    .,,.....,,
5    :HJFGHHIDI
Name: 30377, dtype: object
0           LG1
1         34965
2             A
3            10
4    .,,.....,,
5    :HJFGHHIDI
Name: 30377, dtype: object
0           LG1
1         34965
2             A
3            10
4    .,,.....,,
5    :HJFGHHIDI
Name: 30377, dtype: object
0           LG1
1         34965
2             A
3            10
4    .,,.....,,
5    :HJFGHHIDI
Name: 30377, dtype: object
0           LG1
1         34965
2             A
3            10
4    .,,.....,,
5    :HJFGHHIDI
Name: 30377, dtype: object
0           LG1
1         34965
2             A
3            10
4    .,,.....,,
5    :HJFGHHIDI
Name: 30377, dtype: object
0           LG1
1         34965
2             A
3            10
4    .,,.....,,
5    :HJFGHHIDI
Name: 30377, dtype: object
0           LG1
1         34965
2             A
3            10
4    .,,.....,,
5    :HJFGHHIDI
Name: 30377, dtype: object
0           LG1
1         34965
2             A
3            10
4    .,,.....,,
5    :HJFGHHIDI
Name: 30377, dtype: object
0           LG1
1         34966
2             G
3            10
4    .,,.....a,
5    ?CJEHIHG9H
Name: 30378, dtype: object
0           LG1
1         34966
2             G
3            10
4    .,,.....a,
5    ?CJEHIHG9H
Name: 30378, dtype: object
0           LG1
1         34966
2             G
3            10
4    .,,.....a,
5    ?CJEHIHG9H
Name: 30378, dtype: object
0           LG1
1         34966
2             G
3            10
4    .,,.....a,
5    ?CJEHIHG9H
Name: 30378, dtype: object
0           LG1
1         34966
2             G
3            10
4    .,,.....a,
5    ?CJEHIHG9H
Name: 30378, dtype: object
0           LG1
1         34966
2             G
3            10
4    .,,.....a,
5    ?CJEHIHG9H
Name: 30378, dtype: object
0           LG1
1         34966
2             G
3            10
4    .,,.....a,
5    ?CJEHIHG9H
Name: 30378, dtype: object
0           LG1
1         34966
2             G
3            10
4    .,,.....a,
5    ?CJEHIHG9H
Name: 30378, dtype: object
0           LG1
1         34966
2             G
3            10
4    .,,.....a,
5    ?CJEHIHG9H
Name: 30378, dtype: object
0           LG1
1         34967
2             C
3            10
4    .,,.....,,
5    CEJECJFIIJ
Name: 30379, dtype: object
0           LG1
1         34967
2             C
3            10
4    .,,.....,,
5    CEJECJFIIJ
Name: 30379, dtype: object
0           LG1
1         34967
2             C
3            10
4    .,,.....,,
5    CEJECJFIIJ
Name: 30379, dtype: object
0           LG1
1         34967
2             C
3            10
4    .,,.....,,
5    CEJECJFIIJ

Name: 30379, dtype: object
0           LG1
1         34967
2             C
3            10
4    .,,.....,,
5    CEJECJFIIJ
Name: 30379, dtype: object
0           LG1
1         34967
2             C
3            10
4    .,,.....,,
5    CEJECJFIIJ
Name: 30379, dtype: object
0           LG1
1         34967
2             C
3            10
4    .,,.....,,
5    CEJECJFIIJ
Name: 30379, dtype: object
0           LG1
1         34967
2             C
3            10
4    .,,.....,,
5    CEJECJFIIJ
Name: 30379, dtype: object
0           LG1
1         34967
2             C
3            10
4    .,,.....,,
5    CEJECJFIIJ
Name: 30379, dtype: object
0           LG1
1         34967
2             C
3            10
4    .,,.....,,
5    CEJECJFIIJ
Name: 30379, dtype: object
0           LG1
1         34968
2             T
3            10
4    .,,....C,,
5    @GJEHIFJGI
Name: 30380, dtype: object
0           LG1
1         34968
2             T
3            10
4    .,,....C,,
5    @GJEHIFJGI
Name: 30380, dtype: object
0           LG1
1         34968
2             T
3            10
4    .,,....C,,
5    @GJEHIFJGI
Name: 30380, dtype: object
0           LG1
1         34968
2             T
3            10
4    .,,....C,,
5    @GJEHIFJGI
Name: 30380, dtype: object
0           LG1
1         34968
2             T
3            10
4    .,,....C,,
5    @GJEHIFJGI
Name: 30380, dtype: object
0           LG1
1         34968
2             T
3            10
4    .,,....C,,
5    @GJEHIFJGI
Name: 30380, dtype: object
0           LG1
1         34968
2             T
3            10
4    .,,....C,,
5    @GJEHIFJGI
Name: 30380, dtype: object
0           LG1
1         34968
2             T
3            10
4    .,,....C,,
5    @GJEHIFJGI
Name: 30380, dtype: object
0           LG1
1         34968
2             T
3            10
4    .,,....C,,
5    @GJEHIFJGI
Name: 30380, dtype: object
0           LG1
1         34968
2             T
3            10
4    .,,....C,,
5    @GJEHIFJGI
Name: 30380, dtype: object
0           LG1
1         34969
2             C
3            10
4    .,,.....,,
5    AGJE=IFIDI
Name: 30381, dtype: object
0           LG1
1         34969
2             C
3            10
4    .,,.....,,
5    AGJE=IFIDI
Name: 30381, dtype: object
0           LG1
1         34969
2             C
3            10
4    .,,.....,,
5    AGJE=IFIDI
Name: 30381, dtype: object
0           LG1
1         34969
2             C
3            10
4    .,,.....,,
5    AGJE=IFIDI
Name: 30381, dtype: object
0           LG1
1         34969
2             C
3            10
4    .,,.....,,
5    AGJE=IFIDI
Name: 30381, dtype: object
0           LG1
1         34969
2             C
3            10
4    .,,.....,,
5    AGJE=IFIDI
Name: 30381, dtype: object
0           LG1
1         34969
2             C
3            10
4    .,,.....,,
5    AGJE=IFIDI
Name: 30381, dtype: object
0           LG1
1         34969
2             C
3            10
4    .,,.....,,
5    AGJE=IFIDI
Name: 30381, dtype: object
0           LG1
1         34969
2             C
3            10
4    .,,.....,,
5    AGJE=IFIDI
Name: 30381, dtype: object
0           LG1
1         35005
2             C
3             9
4    .$.,,,,,,,
5     DD?JEFFH.
Name: 30417, dtype: object
0           LG1
1         35005
2             C
3             9
4    .$.,,,,,,,
5     DD?JEFFH.
Name: 30417, dtype: object
0           LG1
1         35005
2             C
3             9
4    .$.,,,,,,,
5     DD?JEFFH.
Name: 30417, dtype: object
0           LG1
1         35005
2             C
3             9
4    .$.,,,,,,,
5     DD?JEFFH.
Name: 30417, dtype: object
0           LG1
1         35005
2             C
3             9
4    .$.,,,,,,,
5     DD?JEFFH.
Name: 30417, dtype: object
0           LG1
1         35005
2             C
3             9
4    .$.,,,,,,,
5     DD?JEFFH.
Name: 30417, dtype: object
0           LG1
1         35005
2             C
3             9
4    .$.,,,,,,,
5     DD?JEFFH.
Name: 30417, dtype: object
0           LG1
1         35005
2             C
3             9
4    .$.,,,,,,,
5     DD?JEFFH.
Name: 30417, dtype: object
0           LG1
1         35009
2             A
3            10
4    ,,,,,,,,,,
5    FHCHBEEEC>
Name: 30421, dtype: object
0           LG1
1         35009
2             A
3            10
4    ,,,,,,,,,,
5    FHCHBEEEC>
Name: 30421, dtype: object
0           LG1
1         35009
2             A
3            10
4    ,,,,,,,,,,
5    FHCHBEEEC>
Name: 30421, dtype: object
0           LG1
1         35009
2             A
3            10
4    ,,,,,,,,,,
5    FHCHBEEEC>
Name: 30421, dtype: object
0           LG1
1         35009
2             A
3            10
4    ,,,,,,,,,,
5    FHCHBEEEC>
Name: 30421, dtype: object
0           LG1
1         35009
2             A
3            10
4    ,,,,,,,,,,
5    FHCHBEEEC>
Name: 30421, dtype: object
0           LG1
1         35009
2             A
3            10
4    ,,,,,,,,,,
5    FHCHBEEEC>
Name: 30421, dtype: object
0           LG1
1         35009
2             A
3            10
4    ,,,,,,,,,,
5    FHCHBEEEC>
Name: 30421, dtype: object
0           LG1
1         35009
2             A
3            10
4    ,,,,,,,,,,
5    FHCHBEEEC>
Name: 30421, dtype: object
0           LG1
1         35010
2             T
3            10
4    ,,,,,,,,,,
5    DHAHDFDDAC
Name: 30422, dtype: object
0           LG1
1         35010
2             T
3            10
4    ,,,,,,,,,,
5    DHAHDFDDAC
Name: 30422, dtype: object
0           LG1
1         35010
2             T
3            10
4    ,,,,,,,,,,
5    DHAHDFDDAC
Name: 30422, dtype: object
0           LG1
1         35010
2             T
3            10
4    ,,,,,,,,,,
5    DHAHDFDDAC
Name: 30422, dtype: object
0           LG1
1         35010
2             T
3            10
4    ,,,,,,,,,,
5    DHAHDFDDAC
Name: 30422, dtype: object
0           LG1
1         35010
2             T
3            10
4    ,,,,,,,,,,
5    DHAHDFDDAC
Name: 30422, dtype: object
0           LG1
1         35010
2             T
3            10
4    ,,,,,,,,,,
5    DHAHDFDDAC
Name: 30422, dtype: object
0           LG1
1         35010
2             T
3            10
4    ,,,,,,,,,,
5    DHAHDFDDAC
Name: 30422, dtype: object
0           LG1
1         35010
2             T
3            10
4    ,,,,,,,,,,
5    DHAHDFDDAC
Name: 30422, dtype: object
0           LG1
1         35010
2             T
3            10
4    ,,,,,,,,,,
5    DHAHDFDDAC
Name: 30422, dtype: object
0           LG1
1         35011
2             C
3            10
4    ,,,,,,,,,,
5    @HIHHHDDAD
Name: 30423, dtype: object
0           LG1
1         35011
2             C
3            10
4    ,,,,,,,,,,
5    @HIHHHDDAD
Name: 30423, dtype: object
0           LG1
1         35011
2             C
3            10
4    ,,,,,,,,,,
5    @HIHHHDDAD
Name: 30423, dtype: object
0           LG1
1         35011
2             C
3            10
4    ,,,,,,,,,,
5    @HIHHHDDAD
Name: 30423, dtype: object
0           LG1
1         35011
2             C
3            10
4    ,,,,,,,,,,
5    @HIHHHDDAD
Name: 30423, dtype: object
0           LG1
1         35011
2             C
3            10
4    ,,,,,,,,,,
5    @HIHHHDDAD
Name: 30423, dtype: object
0           LG1
1         35011
2             C
3            10
4    ,,,,,,,,,,
5    @HIHHHDDAD
Name: 30423, dtype: object
0           LG1
1         35011
2             C
3            10
4    ,,,,,,,,,,
5    @HIHHHDDAD
Name: 30423, dtype: object
0           LG1
1         35011
2             C
3            10
4    ,,,,,,,,,,
5    @HIHHHDDAD
Name: 30423, dtype: object
0           LG1
1         35011
2             C
3            10
4    ,,,,,,,,,,
5    @HIHHHDDAD
Name: 30423, dtype: object
0           LG1
1         35012
2             T
3            10
4    ,,,,,,,,,,
5    @HHHHHDD>D
Name: 30424, dtype: object
0           LG1
1         35012
2             T
3            10
4    ,,,,,,,,,,
5    @HHHHHDD>D
Name: 30424, dtype: object
0           LG1
1         35012
2             T
3            10
4    ,,,,,,,,,,
5    @HHHHHDD>D
Name: 30424, dtype: object
0           LG1
1         35012
2             T
3            10
4    ,,,,,,,,,,
5    @HHHHHDD>D
Name: 30424, dtype: object
0           LG1
1         35012
2             T
3            10
4    ,,,,,,,,,,
5    @HHHHHDD>D

Name: 30424, dtype: object
0           LG1
1         35012
2             T
3            10
4    ,,,,,,,,,,
5    @HHHHHDD>D
Name: 30424, dtype: object
0           LG1
1         35012
2             T
3            10
4    ,,,,,,,,,,
5    @HHHHHDD>D
Name: 30424, dtype: object
0           LG1
1         35012
2             T
3            10
4    ,,,,,,,,,,
5    @HHHHHDD>D
Name: 30424, dtype: object
0           LG1
1         35012
2             T
3            10
4    ,,,,,,,,,,
5    @HHHHHDD>D
Name: 30424, dtype: object
0           LG1
1         35016
2             T
3            10
4    ,,,,,,,,,,
5    FIJGIDDBD@
Name: 30428, dtype: object
0           LG1
1         35016
2             T
3            10
4    ,,,,,,,,,,
5    FIJGIDDBD@
Name: 30428, dtype: object
0           LG1
1         35016
2             T
3            10
4    ,,,,,,,,,,
5    FIJGIDDBD@
Name: 30428, dtype: object
0           LG1
1         35016
2             T
3            10
4    ,,,,,,,,,,
5    FIJGIDDBD@
Name: 30428, dtype: object
0           LG1
1         35016
2             T
3            10
4    ,,,,,,,,,,
5    FIJGIDDBD@
Name: 30428, dtype: object
0           LG1
1         35016
2             T
3            10
4    ,,,,,,,,,,
5    FIJGIDDBD@
Name: 30428, dtype: object
0           LG1
1         35016
2             T
3            10
4    ,,,,,,,,,,
5    FIJGIDDBD@
Name: 30428, dtype: object
0           LG1
1         35016
2             T
3            10
4    ,,,,,,,,,,
5    FIJGIDDBD@
Name: 30428, dtype: object
0           LG1
1         35016
2             T
3            10
4    ,,,,,,,,,,
5    FIJGIDDBD@
Name: 30428, dtype: object
0           LG1
1         35016
2             T
3            10
4    ,,,,,,,,,,
5    FIJGIDDBD@
Name: 30428, dtype: object
0           LG1
1         35020
2             C
3            10
4    ,t,,t,,,,,
5    IJJJDDCDD6
Name: 30432, dtype: object
0           LG1
1         35020
2             C
3            10
4    ,t,,t,,,,,
5    IJJJDDCDD6
Name: 30432, dtype: object
0           LG1
1         35020
2             C
3            10
4    ,t,,t,,,,,
5    IJJJDDCDD6
Name: 30432, dtype: object
0           LG1
1         35020
2             C
3            10
4    ,t,,t,,,,,
5    IJJJDDCDD6
Name: 30432, dtype: object
0           LG1
1         35020
2             C
3            10
4    ,t,,t,,,,,
5    IJJJDDCDD6
Name: 30432, dtype: object
0           LG1
1         35020
2             C
3            10
4    ,t,,t,,,,,
5    IJJJDDCDD6
Name: 30432, dtype: object
0           LG1
1         35020
2             C
3            10
4    ,t,,t,,,,,
5    IJJJDDCDD6
Name: 30432, dtype: object
0           LG1
1         35020
2             C
3            10
4    ,t,,t,,,,,
5    IJJJDDCDD6
Name: 30432, dtype: object
0           LG1
1         35020
2             C
3            10
4    ,t,,t,,,,,
5    IJJJDDCDD6
Name: 30432, dtype: object
0           LG1
1         35021
2             A
3            10
4    ggggggggtt
5    HJJIDDCDE6
Name: 30433, dtype: object
0           LG1
1         35021
2             A
3            10
4    ggggggggtt
5    HJJIDDCDE6
Name: 30433, dtype: object
0           LG1
1         35021
2             A
3            10
4    ggggggggtt
5    HJJIDDCDE6
Name: 30433, dtype: object
0           LG1
1         35021
2             A
3            10
4    ggggggggtt
5    HJJIDDCDE6
Name: 30433, dtype: object
0           LG1
1         35021
2             A
3            10
4    ggggggggtt
5    HJJIDDCDE6
Name: 30433, dtype: object
0           LG1
1         35021
2             A
3            10
4    ggggggggtt
5    HJJIDDCDE6
Name: 30433, dtype: object
0           LG1
1         35021
2             A
3            10
4    ggggggggtt
5    HJJIDDCDE6
Name: 30433, dtype: object
0           LG1
1         35021
2             A
3            10
4    ggggggggtt
5    HJJIDDCDE6
Name: 30433, dtype: object
0           LG1
1         35021
2             A
3            10
4    ggggggggtt
5    HJJIDDCDE6
Name: 30433, dtype: object
0           LG1
1         35022
2             A
3            10
4    ,,,,,,,,tt
5    CJJJDDBDD6
Name: 30434, dtype: object
0           LG1
1         35022
2             A
3            10
4    ,,,,,,,,tt
5    CJJJDDBDD6
Name: 30434, dtype: object
0           LG1
1         35022
2             A
3            10
4    ,,,,,,,,tt
5    CJJJDDBDD6
Name: 30434, dtype: object
0           LG1
1         35022
2             A
3            10
4    ,,,,,,,,tt
5    CJJJDDBDD6
Name: 30434, dtype: object
0           LG1
1         35022
2             A
3            10
4    ,,,,,,,,tt
5    CJJJDDBDD6
Name: 30434, dtype: object
0           LG1
1         35022
2             A
3            10
4    ,,,,,,,,tt
5    CJJJDDBDD6
Name: 30434, dtype: object
0           LG1
1         35022
2             A
3            10
4    ,,,,,,,,tt
5    CJJJDDBDD6
Name: 30434, dtype: object
0           LG1
1         35022
2             A
3            10
4    ,,,,,,,,tt
5    CJJJDDBDD6
Name: 30434, dtype: object
0           LG1
1         35022
2             A
3            10
4    ,,,,,,,,tt
5    CJJJDDBDD6
Name: 30434, dtype: object
0           LG1
1         35131
2             A
3            10
4    ,,.,,,,,,,
5    HFHJHJHFJD
Name: 30543, dtype: object
0           LG1
1         35131
2             A
3            10
4    ,,.,,,,,,,
5    HFHJHJHFJD
Name: 30543, dtype: object
0           LG1
1         35131
2             A
3            10
4    ,,.,,,,,,,
5    HFHJHJHFJD
Name: 30543, dtype: object
0           LG1
1         35131
2             A
3            10
4    ,,.,,,,,,,
5    HFHJHJHFJD
Name: 30543, dtype: object
0           LG1
1         35131
2             A
3            10
4    ,,.,,,,,,,
5    HFHJHJHFJD
Name: 30543, dtype: object
0           LG1
1         35131
2             A
3            10
4    ,,.,,,,,,,
5    HFHJHJHFJD
Name: 30543, dtype: object
0           LG1
1         35131
2             A
3            10
4    ,,.,,,,,,,
5    HFHJHJHFJD
Name: 30543, dtype: object
0           LG1
1         35131
2             A
3            10
4    ,,.,,,,,,,
5    HFHJHJHFJD
Name: 30543, dtype: object
0           LG1
1         35131
2             A
3            10
4    ,,.,,,,,,,
5    HFHJHJHFJD
Name: 30543, dtype: object
0           LG1
1         35131
2             A
3            10
4    ,,.,,,,,,,
5    HFHJHJHFJD
Name: 30543, dtype: object
0           LG1
1         35132
2             G
3            10
4    ,,.,,,,,a,
5    FFHJHHEDJD
Name: 30544, dtype: object
0           LG1
1         35132
2             G
3            10
4    ,,.,,,,,a,
5    FFHJHHEDJD
Name: 30544, dtype: object
0           LG1
1         35132
2             G
3            10
4    ,,.,,,,,a,
5    FFHJHHEDJD
Name: 30544, dtype: object
0           LG1
1         35132
2             G
3            10
4    ,,.,,,,,a,
5    FFHJHHEDJD
Name: 30544, dtype: object
0           LG1
1         35132
2             G
3            10
4    ,,.,,,,,a,
5    FFHJHHEDJD
Name: 30544, dtype: object
0           LG1
1         35132
2             G
3            10
4    ,,.,,,,,a,
5    FFHJHHEDJD
Name: 30544, dtype: object
0           LG1
1         35132
2             G
3            10
4    ,,.,,,,,a,
5    FFHJHHEDJD
Name: 30544, dtype: object
0           LG1
1         35132
2             G
3            10
4    ,,.,,,,,a,
5    FFHJHHEDJD
Name: 30544, dtype: object
0           LG1
1         35132
2             G
3            10
4    ,,.,,,,,a,
5    FFHJHHEDJD
Name: 30544, dtype: object
0           LG1
1         35132
2             G
3            10
4    ,,.,,,,,a,
5    FFHJHHEDJD
Name: 30544, dtype: object
0           LG1
1         35133
2             T
3            10
4    ,,.,,,,,,,
5    FFEJCHI@JF
Name: 30545, dtype: object
0           LG1
1         35133
2             T
3            10
4    ,,.,,,,,,,
5    FFEJCHI@JF
Name: 30545, dtype: object
0           LG1
1         35133
2             T
3            10
4    ,,.,,,,,,,
5    FFEJCHI@JF
Name: 30545, dtype: object
0           LG1
1         35133
2             T
3            10
4    ,,.,,,,,,,
5    FFEJCHI@JF
Name: 30545, dtype: object
0           LG1
1         35133
2             T
3            10
4    ,,.,,,,,,,
5    FFEJCHI@JF
Name: 30545, dtype: object
0           LG1
1         35133
2             T
3            10
4    ,,.,,,,,,,
5    FFEJCHI@JF
Name: 30545, dtype: object
0           LG1
1         35133
2             T
3            10
4    ,,.,,,,,,,
5    FFEJCHI@JF
Name: 30545, dtype: object

0           LG1
1         35133
2             T
3            10
4    ,,.,,,,,,,
5    FFEJCHI@JF
Name: 30545, dtype: object
0           LG1
1         35133
2             T
3            10
4    ,,.,,,,,,,
5    FFEJCHI@JF
Name: 30545, dtype: object
0           LG1
1         35133
2             T
3            10
4    ,,.,,,,,,,
5    FFEJCHI@JF
Name: 30545, dtype: object
0           LG1
1         35134
2             G
3            10
4    ,,.,,,,,,,
5    FFFJHHI;JD
Name: 30546, dtype: object
0           LG1
1         35134
2             G
3            10
4    ,,.,,,,,,,
5    FFFJHHI;JD
Name: 30546, dtype: object
0           LG1
1         35134
2             G
3            10
4    ,,.,,,,,,,
5    FFFJHHI;JD
Name: 30546, dtype: object
0           LG1
1         35134
2             G
3            10
4    ,,.,,,,,,,
5    FFFJHHI;JD
Name: 30546, dtype: object
0           LG1
1         35134
2             G
3            10
4    ,,.,,,,,,,
5    FFFJHHI;JD
Name: 30546, dtype: object
0           LG1
1         35134
2             G
3            10
4    ,,.,,,,,,,
5    FFFJHHI;JD
Name: 30546, dtype: object
0           LG1
1         35134
2             G
3            10
4    ,,.,,,,,,,
5    FFFJHHI;JD
Name: 30546, dtype: object
0           LG1
1         35134
2             G
3            10
4    ,,.,,,,,,,
5    FFFJHHI;JD
Name: 30546, dtype: object
0           LG1
1         35134
2             G
3            10
4    ,,.,,,,,,,
5    FFFJHHI;JD
Name: 30546, dtype: object
0           LG1
1         35135
2             G
3            10
4    ,,.,,,,,,,
5    FCFIDJH?JC
Name: 30547, dtype: object
0           LG1
1         35135
2             G
3            10
4    ,,.,,,,,,,
5    FCFIDJH?JC
Name: 30547, dtype: object
0           LG1
1         35135
2             G
3            10
4    ,,.,,,,,,,
5    FCFIDJH?JC
Name: 30547, dtype: object
0           LG1
1         35135
2             G
3            10
4    ,,.,,,,,,,
5    FCFIDJH?JC
Name: 30547, dtype: object
0           LG1
1         35135
2             G
3            10
4    ,,.,,,,,,,
5    FCFIDJH?JC
Name: 30547, dtype: object
0           LG1
1         35135
2             G
3            10
4    ,,.,,,,,,,
5    FCFIDJH?JC
Name: 30547, dtype: object
0           LG1
1         35135
2             G
3            10
4    ,,.,,,,,,,
5    FCFIDJH?JC
Name: 30547, dtype: object
0           LG1
1         35135
2             G
3            10
4    ,,.,,,,,,,
5    FCFIDJH?JC
Name: 30547, dtype: object
0           LG1
1         35135
2             G
3            10
4    ,,.,,,,,,,
5    FCFIDJH?JC
Name: 30547, dtype: object
0           LG1
1         35135
2             G
3            10
4    ,,.,,,,,,,
5    FCFIDJH?JC
Name: 30547, dtype: object
0           LG1
1         35136
2             A
3            10
4    ,,.,,,,,,,
5    FCFHGJG?IE
Name: 30548, dtype: object
0           LG1
1         35136
2             A
3            10
4    ,,.,,,,,,,
5    FCFHGJG?IE
Name: 30548, dtype: object
0           LG1
1         35136
2             A
3            10
4    ,,.,,,,,,,
5    FCFHGJG?IE
Name: 30548, dtype: object
0           LG1
1         35136
2             A
3            10
4    ,,.,,,,,,,
5    FCFHGJG?IE
Name: 30548, dtype: object
0           LG1
1         35136
2             A
3            10
4    ,,.,,,,,,,
5    FCFHGJG?IE
Name: 30548, dtype: object
0           LG1
1         35136
2             A
3            10
4    ,,.,,,,,,,
5    FCFHGJG?IE
Name: 30548, dtype: object
0           LG1
1         35136
2             A
3            10
4    ,,.,,,,,,,
5    FCFHGJG?IE
Name: 30548, dtype: object
0           LG1
1         35136
2             A
3            10
4    ,,.,,,,,,,
5    FCFHGJG?IE
Name: 30548, dtype: object
0           LG1
1         35136
2             A
3            10
4    ,,.,,,,,,,
5    FCFHGJG?IE
Name: 30548, dtype: object
0           LG1
1         35136
2             A
3            10
4    ,,.,,,,,,,
5    FCFHGJG?IE
Name: 30548, dtype: object
0           LG1
1         35139
2             T
3             9
4    ,$.,,,,,,,
5     CEIIIG3JE
Name: 30551, dtype: object
0           LG1
1         35139
2             T
3             9
4    ,$.,,,,,,,
5     CEIIIG3JE
Name: 30551, dtype: object
0           LG1
1         35139
2             T
3             9
4    ,$.,,,,,,,
5     CEIIIG3JE
Name: 30551, dtype: object
0           LG1
1         35139
2             T
3             9
4    ,$.,,,,,,,
5     CEIIIG3JE
Name: 30551, dtype: object
0           LG1
1         35139
2             T
3             9
4    ,$.,,,,,,,
5     CEIIIG3JE
Name: 30551, dtype: object
0           LG1
1         35139
2             T
3             9
4    ,$.,,,,,,,
5     CEIIIG3JE
Name: 30551, dtype: object
0           LG1
1         35139
2             T
3             9
4    ,$.,,,,,,,
5     CEIIIG3JE
Name: 30551, dtype: object
0           LG1
1         35139
2             T
3             9
4    ,$.,,,,,,,
5     CEIIIG3JE
Name: 30551, dtype: object
0           LG1
1         35464
2             T
3             8
4    ......,^!.
5      DBDDJ:B;
Name: 30818, dtype: object
0           LG1
1         35464
2             T
3             8
4    ......,^!.
5      DBDDJ:B;
Name: 30818, dtype: object
0           LG1
1         35464
2             T
3             8
4    ......,^!.
5      DBDDJ:B;
Name: 30818, dtype: object
0           LG1
1         35464
2             T
3             8
4    ......,^!.
5      DBDDJ:B;
Name: 30818, dtype: object
0           LG1
1         35464
2             T
3             8
4    ......,^!.
5      DBDDJ:B;
Name: 30818, dtype: object
0           LG1
1         35464
2             T
3             8
4    ......,^!.
5      DBDDJ:B;
Name: 30818, dtype: object
0           LG1
1         35468
2             C
3            10
4    ......,...
5    >DDDF>DFCB
Name: 30822, dtype: object
0           LG1
1         35468
2             C
3            10
4    ......,...
5    >DDDF>DFCB
Name: 30822, dtype: object
0           LG1
1         35468
2             C
3            10
4    ......,...
5    >DDDF>DFCB
Name: 30822, dtype: object
0           LG1
1         35468
2             C
3            10
4    ......,...
5    >DDDF>DFCB
Name: 30822, dtype: object
0           LG1
1         35468
2             C
3            10
4    ......,...
5    >DDDF>DFCB
Name: 30822, dtype: object
0           LG1
1         35468
2             C
3            10
4    ......,...
5    >DDDF>DFCB
Name: 30822, dtype: object
0           LG1
1         35468
2             C
3            10
4    ......,...
5    >DDDF>DFCB
Name: 30822, dtype: object
0           LG1
1         35468
2             C
3            10
4    ......,...
5    >DDDF>DFCB
Name: 30822, dtype: object
0           LG1
1         35469
2             C
3            10
4    ......,...
5    ACDDF/DFFC
Name: 30823, dtype: object
0           LG1
1         35469
2             C
3            10
4    ......,...
5    ACDDF/DFFC
Name: 30823, dtype: object
0           LG1
1         35469
2             C
3            10
4    ......,...
5    ACDDF/DFFC
Name: 30823, dtype: object
0           LG1
1         35469
2             C
3            10
4    ......,...
5    ACDDF/DFFC
Name: 30823, dtype: object
0           LG1
1         35469
2             C
3            10
4    ......,...
5    ACDDF/DFFC
Name: 30823, dtype: object
0           LG1
1         35469
2             C
3            10
4    ......,...
5    ACDDF/DFFC
Name: 30823, dtype: object
0           LG1
1         35469
2             C
3            10
4    ......,...
5    ACDDF/DFFC
Name: 30823, dtype: object
0           LG1
1         35469
2             C
3            10
4    ......,...
5    ACDDF/DFFC
Name: 30823, dtype: object
0           LG1
1         35469
2             C
3            10
4    ......,...
5    ACDDF/DFFC
Name: 30823, dtype: object
0           LG1
1         35473
2             C
3            10
4    AAAAa.....
5    DCDDDHFFFJ
Name: 30827, dtype: object
0           LG1
1         35473
2             C
3            10
4    AAAAa.....
5    DCDDDHFFFJ
Name: 30827, dtype: object
0           LG1
1         35473
2             C
3            10
4    AAAAa.....
5    DCDDDHFFFJ
Name: 30827, dtype: object
0           LG1
1         35473
2             C
3            10
4    AAAAa.....
5    DCDDDHFFFJ
Name: 30827, dtype: object
0           LG1
1         35473
2             C
3            10
4    AAAAa.....
5    DCDDDHFFFJ
Name: 30827, dtype: object
0           LG1
1         35473
2             C
3            10
4    AAAAa.....
5    DCDDDHFFFJ
Name: 30827, dtype: object
0           LG1
1         35473
2             C
3            10
4    AAAAa.....
5    DCDDDHFFFJ
Name: 30827, dtype: object
0           LG1
1         35473
2             C
3            10
4    AAAAa.....
5    DCDDDHFFFJ
Name: 30827, dtype: object
0           LG1
1         35473
2             C
3            10
4    AAAAa.....
5    DCDDDHFFFJ
Name: 30827, dtype: object
0           LG1
1         35473
2             C
3            10
4    AAAAa.....
5    DCDDDHFFFJ
Name: 30827, dtype: object
0           LG1
1         35474
2             T
3            10
4    ....,.....
5    DCDEDHHFFJ
Name: 30828, dtype: object
0           LG1
1         35474
2             T
3            10
4    ....,.....
5    DCDEDHHFFJ
Name: 30828, dtype: object
0           LG1
1         35474
2             T
3            10
4    ....,.....
5    DCDEDHHFFJ
Name: 30828, dtype: object
0           LG1
1         35474
2             T
3            10
4    ....,.....
5    DCDEDHHFFJ
Name: 30828, dtype: object
0           LG1
1         35474
2             T
3            10
4    ....,.....
5    DCDEDHHFFJ
Name: 30828, dtype: object
0           LG1
1         35474
2             T
3            10
4    ....,.....
5    DCDEDHHFFJ
Name: 30828, dtype: object
0           LG1
1         35474
2             T
3            10
4    ....,.....
5    DCDEDHHFFJ
Name: 30828, dtype: object
0           LG1
1         35474
2             T
3            10
4    ....,.....
5    DCDEDHHFFJ
Name: 30828, dtype: object
0           LG1
1         35474
2             T
3            10
4    ....,.....
5    DCDEDHHFFJ
Name: 30828, dtype: object
0           LG1
1         35474
2             T
3            10
4    ....,.....
5    DCDEDHHFFJ
Name: 30828, dtype: object
0           LG1
1         35485
2             A
3            10
4    ....,.....
5    @DDDJJIJJJ
Name: 30839, dtype: object
0           LG1
1         35485
2             A
3            10
4    ....,.....
5    @DDDJJIJJJ
Name: 30839, dtype: object
0           LG1
1         35485
2             A
3            10
4    ....,.....
5    @DDDJJIJJJ
Name: 30839, dtype: object
0           LG1
1         35485
2             A
3            10
4    ....,.....
5    @DDDJJIJJJ
Name: 30839, dtype: object
0           LG1
1         35485
2             A
3            10
4    ....,.....
5    @DDDJJIJJJ
Name: 30839, dtype: object
0           LG1
1         35485
2             A
3            10
4    ....,.....
5    @DDDJJIJJJ
Name: 30839, dtype: object
0           LG1
1         35485
2             A
3            10
4    ....,.....
5    @DDDJJIJJJ
Name: 30839, dtype: object
0           LG1
1         35485
2             A
3            10
4    ....,.....
5    @DDDJJIJJJ
Name: 30839, dtype: object
0           LG1
1         35485
2             A
3            10
4    ....,.....
5    @DDDJJIJJJ
Name: 30839, dtype: object
0           LG1
1         35485
2             A
3            10
4    ....,.....
5    @DDDJJIJJJ
Name: 30839, dtype: object
0           LG1
1         35486
2             A
3            10
4    ....,.....
5    >DDDJJFJIH
Name: 30840, dtype: object
0           LG1
1         35486
2             A
3            10
4    ....,.....
5    >DDDJJFJIH
Name: 30840, dtype: object
0           LG1
1         35486
2             A
3            10
4    ....,.....
5    >DDDJJFJIH
Name: 30840, dtype: object
0           LG1
1         35486
2             A
3            10
4    ....,.....
5    >DDDJJFJIH
Name: 30840, dtype: object
0           LG1
1         35486
2             A
3            10
4    ....,.....
5    >DDDJJFJIH
Name: 30840, dtype: object
0           LG1
1         35486
2             A
3            10
4    ....,.....
5    >DDDJJFJIH
Name: 30840, dtype: object
0           LG1
1         35486
2             A
3            10
4    ....,.....
5    >DDDJJFJIH
Name: 30840, dtype: object
0           LG1
1         35486
2             A
3            10
4    ....,.....
5    >DDDJJFJIH
Name: 30840, dtype: object
0           LG1
1         35486
2             A
3            10
4    ....,.....
5    >DDDJJFJIH
Name: 30840, dtype: object
0           LG1
1         35487
2             A
3            10
4    ....,.....
5    ADDDJIEJJF
Name: 30841, dtype: object
0           LG1
1         35487
2             A
3            10
4    ....,.....
5    ADDDJIEJJF
Name: 30841, dtype: object
0           LG1
1         35487
2             A
3            10
4    ....,.....
5    ADDDJIEJJF
Name: 30841, dtype: object
0           LG1
1         35487
2             A
3            10
4    ....,.....
5    ADDDJIEJJF
Name: 30841, dtype: object
0           LG1
1         35487
2             A
3            10
4    ....,.....
5    ADDDJIEJJF
Name: 30841, dtype: object
0           LG1
1         35487
2             A
3            10
4    ....,.....
5    ADDDJIEJJF
Name: 30841, dtype: object
0           LG1
1         35487
2             A
3            10
4    ....,.....
5    ADDDJIEJJF
Name: 30841, dtype: object
0           LG1
1         35487
2             A
3            10
4    ....,.....
5    ADDDJIEJJF
Name: 30841, dtype: object
0           LG1
1         35487
2             A
3            10
4    ....,.....
5    ADDDJIEJJF
Name: 30841, dtype: object
0           LG1
1         35487
2             A
3            10
4    ....,.....
5    ADDDJIEJJF
Name: 30841, dtype: object
0           LG1
1         35488
2             A
3            10
4    ....,CCCC.
5    ?9DDJJGJJE
Name: 30842, dtype: object
0           LG1
1         35488
2             A
3            10
4    ....,CCCC.
5    ?9DDJJGJJE
Name: 30842, dtype: object
0           LG1
1         35488
2             A
3            10
4    ....,CCCC.
5    ?9DDJJGJJE
Name: 30842, dtype: object
0           LG1
1         35488
2             A
3            10
4    ....,CCCC.
5    ?9DDJJGJJE
Name: 30842, dtype: object
0           LG1
1         35488
2             A
3            10
4    ....,CCCC.
5    ?9DDJJGJJE
Name: 30842, dtype: object
0           LG1
1         35488
2             A
3            10
4    ....,CCCC.
5    ?9DDJJGJJE
Name: 30842, dtype: object
0           LG1
1         35488
2             A
3            10
4    ....,CCCC.
5    ?9DDJJGJJE
Name: 30842, dtype: object
0           LG1
1         35488
2             A
3            10
4    ....,CCCC.
5    ?9DDJJGJJE
Name: 30842, dtype: object
0           LG1
1         35488
2             A
3            10
4    ....,CCCC.
5    ?9DDJJGJJE
Name: 30842, dtype: object
0           LG1
1         35492
2             T
3            10
4    ...,......
5    DDDIJIJJF>
Name: 30846, dtype: object
0           LG1
1         35492
2             T
3            10
4    ...,......
5    DDDIJIJJF>
Name: 30846, dtype: object
0           LG1
1         35492
2             T
3            10
4    ...,......
5    DDDIJIJJF>
Name: 30846, dtype: object
0           LG1
1         35492
2             T
3            10
4    ...,......
5    DDDIJIJJF>
Name: 30846, dtype: object
0           LG1
1         35492
2             T
3            10
4    ...,......
5    DDDIJIJJF>
Name: 30846, dtype: object
0           LG1
1         35492
2             T
3            10
4    ...,......
5    DDDIJIJJF>
Name: 30846, dtype: object
0           LG1
1         35492
2             T
3            10
4    ...,......
5    DDDIJIJJF>
Name: 30846, dtype: object
0           LG1
1         35492
2             T
3            10
4    ...,......
5    DDDIJIJJF>
Name: 30846, dtype: object
0           LG1
1         35492
2             T
3            10
4    ...,......
5    DDDIJIJJF>
Name: 30846, dtype: object
0           LG1
1         35493
2             A
3            10
4    ...,......
5    DCDJJGJJFC
Name: 30847, dtype: object
0           LG1
1         35493
2             A
3            10
4    ...,......
5    DCDJJGJJFC
Name: 30847, dtype: object
0           LG1
1         35493
2             A
3            10
4    ...,......
5    DCDJJGJJFC
Name: 30847, dtype: object

0           LG1
1         35493
2             A
3            10
4    ...,......
5    DCDJJGJJFC
Name: 30847, dtype: object
0           LG1
1         35493
2             A
3            10
4    ...,......
5    DCDJJGJJFC
Name: 30847, dtype: object
0           LG1
1         35493
2             A
3            10
4    ...,......
5    DCDJJGJJFC
Name: 30847, dtype: object
0           LG1
1         35493
2             A
3            10
4    ...,......
5    DCDJJGJJFC
Name: 30847, dtype: object
0           LG1
1         35493
2             A
3            10
4    ...,......
5    DCDJJGJJFC
Name: 30847, dtype: object
0           LG1
1         35493
2             A
3            10
4    ...,......
5    DCDJJGJJFC
Name: 30847, dtype: object
0           LG1
1         35493
2             A
3            10
4    ...,......
5    DCDJJGJJFC
Name: 30847, dtype: object
0           LG1
1         35494
2             A
3            10
4    ...,......
5    EDEIJIJIGF
Name: 30848, dtype: object
0           LG1
1         35494
2             A
3            10
4    ...,......
5    EDEIJIJIGF
Name: 30848, dtype: object
0           LG1
1         35494
2             A
3            10
4    ...,......
5    EDEIJIJIGF
Name: 30848, dtype: object
0           LG1
1         35494
2             A
3            10
4    ...,......
5    EDEIJIJIGF
Name: 30848, dtype: object
0           LG1
1         35494
2             A
3            10
4    ...,......
5    EDEIJIJIGF
Name: 30848, dtype: object
0           LG1
1         35494
2             A
3            10
4    ...,......
5    EDEIJIJIGF
Name: 30848, dtype: object
0           LG1
1         35494
2             A
3            10
4    ...,......
5    EDEIJIJIGF
Name: 30848, dtype: object
0           LG1
1         35494
2             A
3            10
4    ...,......
5    EDEIJIJIGF
Name: 30848, dtype: object
0           LG1
1         35494
2             A
3            10
4    ...,......
5    EDEIJIJIGF
Name: 30848, dtype: object
0           LG1
1         35494
2             A
3            10
4    ...,......
5    EDEIJIJIGF
Name: 30848, dtype: object
0           LG1
1         35495
2             G
3            10
4    ...,......
5    DCDIJGJIHF
Name: 30849, dtype: object
0           LG1
1         35495
2             G
3            10
4    ...,......
5    DCDIJGJIHF
Name: 30849, dtype: object
0           LG1
1         35495
2             G
3            10
4    ...,......
5    DCDIJGJIHF
Name: 30849, dtype: object
0           LG1
1         35495
2             G
3            10
4    ...,......
5    DCDIJGJIHF
Name: 30849, dtype: object
0           LG1
1         35495
2             G
3            10
4    ...,......
5    DCDIJGJIHF
Name: 30849, dtype: object
0           LG1
1         35495
2             G
3            10
4    ...,......
5    DCDIJGJIHF
Name: 30849, dtype: object
0           LG1
1         35495
2             G
3            10
4    ...,......
5    DCDIJGJIHF
Name: 30849, dtype: object
0           LG1
1         35495
2             G
3            10
4    ...,......
5    DCDIJGJIHF
Name: 30849, dtype: object
0           LG1
1         35495
2             G
3            10
4    ...,......
5    DCDIJGJIHF
Name: 30849, dtype: object
0           LG1
1         35495
2             G
3            10
4    ...,......
5    DCDIJGJIHF
Name: 30849, dtype: object
0           LG1
1         35496
2             A
3            10
4    ...,....G.
5    DDCJJGJJHF
Name: 30850, dtype: object
0           LG1
1         35496
2             A
3            10
4    ...,....G.
5    DDCJJGJJHF
Name: 30850, dtype: object
0           LG1
1         35496
2             A
3            10
4    ...,....G.
5    DDCJJGJJHF
Name: 30850, dtype: object
0           LG1
1         35496
2             A
3            10
4    ...,....G.
5    DDCJJGJJHF
Name: 30850, dtype: object
0           LG1
1         35496
2             A
3            10
4    ...,....G.
5    DDCJJGJJHF
Name: 30850, dtype: object
0           LG1
1         35496
2             A
3            10
4    ...,....G.
5    DDCJJGJJHF
Name: 30850, dtype: object
0           LG1
1         35496
2             A
3            10
4    ...,....G.
5    DDCJJGJJHF
Name: 30850, dtype: object
0           LG1
1         35496
2             A
3            10
4    ...,....G.
5    DDCJJGJJHF
Name: 30850, dtype: object
0           LG1
1         35496
2             A
3            10
4    ...,....G.
5    DDCJJGJJHF
Name: 30850, dtype: object
0           LG1
1         35496
2             A
3            10
4    ...,....G.
5    DDCJJGJJHF
Name: 30850, dtype: object
0           LG1
1         35497
2             T
3            10
4    ...,......
5    CDDJJIJJDF
Name: 30851, dtype: object
0           LG1
1         35497
2             T
3            10
4    ...,......
5    CDDJJIJJDF
Name: 30851, dtype: object
0           LG1
1         35497
2             T
3            10
4    ...,......
5    CDDJJIJJDF
Name: 30851, dtype: object
0           LG1
1         35497
2             T
3            10
4    ...,......
5    CDDJJIJJDF
Name: 30851, dtype: object
0           LG1
1         35497
2             T
3            10
4    ...,......
5    CDDJJIJJDF
Name: 30851, dtype: object
0           LG1
1         35497
2             T
3            10
4    ...,......
5    CDDJJIJJDF
Name: 30851, dtype: object
0           LG1
1         35497
2             T
3            10
4    ...,......
5    CDDJJIJJDF
Name: 30851, dtype: object
0           LG1
1         35497
2             T
3            10
4    ...,......
5    CDDJJIJJDF
Name: 30851, dtype: object
0           LG1
1         35497
2             T
3            10
4    ...,......
5    CDDJJIJJDF
Name: 30851, dtype: object
0           LG1
1         35497
2             T
3            10
4    ...,......
5    CDDJJIJJDF
Name: 30851, dtype: object
0           LG1
1         35498
2             A
3            10
4    ...,......
5    DDDJJJJJFF
Name: 30852, dtype: object
0           LG1
1         35498
2             A
3            10
4    ...,......
5    DDDJJJJJFF
Name: 30852, dtype: object
0           LG1
1         35498
2             A
3            10
4    ...,......
5    DDDJJJJJFF
Name: 30852, dtype: object
0           LG1
1         35498
2             A
3            10
4    ...,......
5    DDDJJJJJFF
Name: 30852, dtype: object
0           LG1
1         35498
2             A
3            10
4    ...,......
5    DDDJJJJJFF
Name: 30852, dtype: object
0           LG1
1         35498
2             A
3            10
4    ...,......
5    DDDJJJJJFF
Name: 30852, dtype: object
0           LG1
1         35498
2             A
3            10
4    ...,......
5    DDDJJJJJFF
Name: 30852, dtype: object
0           LG1
1         35498
2             A
3            10
4    ...,......
5    DDDJJJJJFF
Name: 30852, dtype: object
0           LG1
1         35498
2             A
3            10
4    ...,......
5    DDDJJJJJFF
Name: 30852, dtype: object
0           LG1
1         35498
2             A
3            10
4    ...,......
5    DDDJJJJJFF
Name: 30852, dtype: object
0           LG1
1         35499
2             T
3            10
4    ...,....A.
5    EDEIJDJJGH
Name: 30853, dtype: object
0           LG1
1         35499
2             T
3            10
4    ...,....A.
5    EDEIJDJJGH
Name: 30853, dtype: object
0           LG1
1         35499
2             T
3            10
4    ...,....A.
5    EDEIJDJJGH
Name: 30853, dtype: object
0           LG1
1         35499
2             T
3            10
4    ...,....A.
5    EDEIJDJJGH
Name: 30853, dtype: object
0           LG1
1         35499
2             T
3            10
4    ...,....A.
5    EDEIJDJJGH
Name: 30853, dtype: object
0           LG1
1         35499
2             T
3            10
4    ...,....A.
5    EDEIJDJJGH
Name: 30853, dtype: object
0           LG1
1         35499
2             T
3            10
4    ...,....A.
5    EDEIJDJJGH
Name: 30853, dtype: object
0           LG1
1         35499
2             T
3            10
4    ...,....A.
5    EDEIJDJJGH
Name: 30853, dtype: object
0           LG1
1         35499
2             T
3            10
4    ...,....A.
5    EDEIJDJJGH
Name: 30853, dtype: object
0           LG1
1         35499
2             T
3            10
4    ...,....A.
5    EDEIJDJJGH
Name: 30853, dtype: object
0           LG1
1         35500
2             T
3            10
4    ...,......
5    DEEIJHJJIG
Name: 30854, dtype: object
0           LG1
1         35500
2             T
3            10
4    ...,......
5    DEEIJHJJIG
Name: 30854, dtype: object
0           LG1
1         35500
2             T
3            10
4    ...,......
5    DEEIJHJJIG
Name: 30854, dtype: object
0           LG1
1         35500
2             T
3            10
4    ...,......
5    DEEIJHJJIG
Name: 30854, dtype: object
0           LG1
1         35500
2             T
3            10
4    ...,......
5    DEEIJHJJIG
Name: 30854, dtype: object
0           LG1
1         35500
2             T
3            10
4    ...,......
5    DEEIJHJJIG
Name: 30854, dtype: object
0           LG1
1         35500
2             T
3            10
4    ...,......
5    DEEIJHJJIG
Name: 30854, dtype: object
0           LG1
1         35500
2             T
3            10
4    ...,......
5    DEEIJHJJIG
Name: 30854, dtype: object
0           LG1
1         35500
2             T
3            10
4    ...,......
5    DEEIJHJJIG
Name: 30854, dtype: object
0           LG1
1         35500
2             T
3            10
4    ...,......
5    DEEIJHJJIG
Name: 30854, dtype: object
0           LG1
1         35503
2             T
3            10
4    ..,.......
5    CCIGFIGFH@
Name: 30857, dtype: object
0           LG1
1         35503
2             T
3            10
4    ..,.......
5    CCIGFIGFH@
Name: 30857, dtype: object
0           LG1
1         35503
2             T
3            10
4    ..,.......
5    CCIGFIGFH@
Name: 30857, dtype: object
0           LG1
1         35503
2             T
3            10
4    ..,.......
5    CCIGFIGFH@
Name: 30857, dtype: object
0           LG1
1         35503
2             T
3            10
4    ..,.......
5    CCIGFIGFH@
Name: 30857, dtype: object
0           LG1
1         35503
2             T
3            10
4    ..,.......
5    CCIGFIGFH@
Name: 30857, dtype: object
0           LG1
1         35503
2             T
3            10
4    ..,.......
5    CCIGFIGFH@
Name: 30857, dtype: object
0           LG1
1         35503
2             T
3            10
4    ..,.......
5    CCIGFIGFH@
Name: 30857, dtype: object
0           LG1
1         35503
2             T
3            10
4    ..,.......
5    CCIGFIGFH@
Name: 30857, dtype: object
0           LG1
1         35503
2             T
3            10
4    ..,.......
5    CCIGFIGFH@
Name: 30857, dtype: object
0           LG1
1         35508
2             T
3            10
4    .,........
5    DJJHJJJJF@
Name: 30862, dtype: object
0           LG1
1         35508
2             T
3            10
4    .,........
5    DJJHJJJJF@
Name: 30862, dtype: object
0           LG1
1         35508
2             T
3            10
4    .,........
5    DJJHJJJJF@
Name: 30862, dtype: object
0           LG1
1         35508
2             T
3            10
4    .,........
5    DJJHJJJJF@
Name: 30862, dtype: object
0           LG1
1         35508
2             T
3            10
4    .,........
5    DJJHJJJJF@
Name: 30862, dtype: object
0           LG1
1         35508
2             T
3            10
4    .,........
5    DJJHJJJJF@
Name: 30862, dtype: object
0           LG1
1         35508
2             T
3            10
4    .,........
5    DJJHJJJJF@
Name: 30862, dtype: object
0           LG1
1         35508
2             T
3            10
4    .,........
5    DJJHJJJJF@
Name: 30862, dtype: object
0           LG1
1         35508
2             T
3            10
4    .,........
5    DJJHJJJJF@
Name: 30862, dtype: object
0           LG1
1         35508
2             T
3            10
4    .,........
5    DJJHJJJJF@
Name: 30862, dtype: object
0           LG1
1         35509
2             A
3            10
4    .,........
5    DJIGIJJJFB
Name: 30863, dtype: object
0           LG1
1         35509
2             A
3            10
4    .,........
5    DJIGIJJJFB
Name: 30863, dtype: object
0           LG1
1         35509
2             A
3            10
4    .,........
5    DJIGIJJJFB
Name: 30863, dtype: object
0           LG1
1         35509
2             A
3            10
4    .,........
5    DJIGIJJJFB
Name: 30863, dtype: object
0           LG1
1         35509
2             A
3            10
4    .,........
5    DJIGIJJJFB
Name: 30863, dtype: object
0           LG1
1         35509
2             A
3            10
4    .,........
5    DJIGIJJJFB
Name: 30863, dtype: object
0           LG1
1         35509
2             A
3            10
4    .,........
5    DJIGIJJJFB
Name: 30863, dtype: object
0           LG1
1         35509
2             A
3            10
4    .,........
5    DJIGIJJJFB
Name: 30863, dtype: object
0           LG1
1         35509
2             A
3            10
4    .,........
5    DJIGIJJJFB
Name: 30863, dtype: object
0           LG1
1         35509
2             A
3            10
4    .,........
5    DJIGIJJJFB
Name: 30863, dtype: object
0           LG1
1         35510
2             T
3            10
4    .,........
5    DJJIJJJGFB
Name: 30864, dtype: object
0           LG1
1         35510
2             T
3            10
4    .,........
5    DJJIJJJGFB
Name: 30864, dtype: object
0           LG1
1         35510
2             T
3            10
4    .,........
5    DJJIJJJGFB
Name: 30864, dtype: object
0           LG1
1         35510
2             T
3            10
4    .,........
5    DJJIJJJGFB
Name: 30864, dtype: object
0           LG1
1         35510
2             T
3            10
4    .,........
5    DJJIJJJGFB
Name: 30864, dtype: object
0           LG1
1         35510
2             T
3            10
4    .,........
5    DJJIJJJGFB
Name: 30864, dtype: object
0           LG1
1         35510
2             T
3            10
4    .,........
5    DJJIJJJGFB
Name: 30864, dtype: object
0           LG1
1         35510
2             T
3            10
4    .,........
5    DJJIJJJGFB
Name: 30864, dtype: object
0           LG1
1         35510
2             T
3            10
4    .,........
5    DJJIJJJGFB
Name: 30864, dtype: object
0           LG1
1         35510
2             T
3            10
4    .,........
5    DJJIJJJGFB
Name: 30864, dtype: object
0           LG1
1         35511
2             A
3            10
4    .,........
5    EJJGJJIHDD
Name: 30865, dtype: object
0           LG1
1         35511
2             A
3            10
4    .,........
5    EJJGJJIHDD
Name: 30865, dtype: object
0           LG1
1         35511
2             A
3            10
4    .,........
5    EJJGJJIHDD
Name: 30865, dtype: object
0           LG1
1         35511
2             A
3            10
4    .,........
5    EJJGJJIHDD
Name: 30865, dtype: object
0           LG1
1         35511
2             A
3            10
4    .,........
5    EJJGJJIHDD
Name: 30865, dtype: object
0           LG1
1         35511
2             A
3            10
4    .,........
5    EJJGJJIHDD
Name: 30865, dtype: object
0           LG1
1         35511
2             A
3            10
4    .,........
5    EJJGJJIHDD
Name: 30865, dtype: object
0           LG1
1         35511
2             A
3            10
4    .,........
5    EJJGJJIHDD
Name: 30865, dtype: object
0           LG1
1         35511
2             A
3            10
4    .,........
5    EJJGJJIHDD
Name: 30865, dtype: object
0           LG1
1         35511
2             A
3            10
4    .,........
5    EJJGJJIHDD

Name: 30865, dtype: object
0           LG1
1         35512
2             G
3            10
4    .,........
5    EJJHJJJGDD
Name: 30866, dtype: object
0           LG1
1         35512
2             G
3            10
4    .,........
5    EJJHJJJGDD
Name: 30866, dtype: object
0           LG1
1         35512
2             G
3            10
4    .,........
5    EJJHJJJGDD
Name: 30866, dtype: object
0           LG1
1         35512
2             G
3            10
4    .,........
5    EJJHJJJGDD
Name: 30866, dtype: object
0           LG1
1         35512
2             G
3            10
4    .,........
5    EJJHJJJGDD
Name: 30866, dtype: object
0           LG1
1         35512
2             G
3            10
4    .,........
5    EJJHJJJGDD
Name: 30866, dtype: object
0           LG1
1         35512
2             G
3            10
4    .,........
5    EJJHJJJGDD
Name: 30866, dtype: object
0           LG1
1         35512
2             G
3            10
4    .,........
5    EJJHJJJGDD
Name: 30866, dtype: object
0           LG1
1         35512
2             G
3            10
4    .,........
5    EJJHJJJGDD
Name: 30866, dtype: object
0           LG1
1         35512
2             G
3            10
4    .,........
5    EJJHJJJGDD
Name: 30866, dtype: object
0           LG1
1         35513
2             T
3            10
4    .,........
5    CJEDIJ@IDB
Name: 30867, dtype: object
0           LG1
1         35513
2             T
3            10
4    .,........
5    CJEDIJ@IDB
Name: 30867, dtype: object
0           LG1
1         35513
2             T
3            10
4    .,........
5    CJEDIJ@IDB
Name: 30867, dtype: object
0           LG1
1         35513
2             T
3            10
4    .,........
5    CJEDIJ@IDB
Name: 30867, dtype: object
0           LG1
1         35513
2             T
3            10
4    .,........
5    CJEDIJ@IDB
Name: 30867, dtype: object
0           LG1
1         35513
2             T
3            10
4    .,........
5    CJEDIJ@IDB
Name: 30867, dtype: object
0           LG1
1         35513
2             T
3            10
4    .,........
5    CJEDIJ@IDB
Name: 30867, dtype: object
0           LG1
1         35513
2             T
3            10
4    .,........
5    CJEDIJ@IDB
Name: 30867, dtype: object
0           LG1
1         35513
2             T
3            10
4    .,........
5    CJEDIJ@IDB
Name: 30867, dtype: object
0           LG1
1         35513
2             T
3            10
4    .,........
5    CJEDIJ@IDB
Name: 30867, dtype: object
0           LG1
1         35514
2             C
3            10
4    .,........
5    DJHEHJGIFB
Name: 30868, dtype: object
0           LG1
1         35514
2             C
3            10
4    .,........
5    DJHEHJGIFB
Name: 30868, dtype: object
0           LG1
1         35514
2             C
3            10
4    .,........
5    DJHEHJGIFB
Name: 30868, dtype: object
0           LG1
1         35514
2             C
3            10
4    .,........
5    DJHEHJGIFB
Name: 30868, dtype: object
0           LG1
1         35514
2             C
3            10
4    .,........
5    DJHEHJGIFB
Name: 30868, dtype: object
0           LG1
1         35514
2             C
3            10
4    .,........
5    DJHEHJGIFB
Name: 30868, dtype: object
0           LG1
1         35514
2             C
3            10
4    .,........
5    DJHEHJGIFB
Name: 30868, dtype: object
0           LG1
1         35514
2             C
3            10
4    .,........
5    DJHEHJGIFB
Name: 30868, dtype: object
0           LG1
1         35514
2             C
3            10
4    .,........
5    DJHEHJGIFB
Name: 30868, dtype: object
0           LG1
1         35514
2             C
3            10
4    .,........
5    DJHEHJGIFB
Name: 30868, dtype: object
0           LG1
1         35515
2             C
3            10
4    .,........
5    DJIHIJGJGF
Name: 30869, dtype: object
0           LG1
1         35515
2             C
3            10
4    .,........
5    DJIHIJGJGF
Name: 30869, dtype: object
0           LG1
1         35515
2             C
3            10
4    .,........
5    DJIHIJGJGF
Name: 30869, dtype: object
0           LG1
1         35515
2             C
3            10
4    .,........
5    DJIHIJGJGF
Name: 30869, dtype: object
0           LG1
1         35515
2             C
3            10
4    .,........
5    DJIHIJGJGF
Name: 30869, dtype: object
0           LG1
1         35515
2             C
3            10
4    .,........
5    DJIHIJGJGF
Name: 30869, dtype: object
0           LG1
1         35515
2             C
3            10
4    .,........
5    DJIHIJGJGF
Name: 30869, dtype: object
0           LG1
1         35515
2             C
3            10
4    .,........
5    DJIHIJGJGF
Name: 30869, dtype: object
0           LG1
1         35515
2             C
3            10
4    .,........
5    DJIHIJGJGF
Name: 30869, dtype: object
0           LG1
1         35515
2             C
3            10
4    .,........
5    DJIHIJGJGF
Name: 30869, dtype: object
0           LG1
1         35516
2             A
3            10
4    .,........
5    DJIIJGIJIH
Name: 30870, dtype: object
0           LG1
1         35516
2             A
3            10
4    .,........
5    DJIIJGIJIH
Name: 30870, dtype: object
0           LG1
1         35516
2             A
3            10
4    .,........
5    DJIIJGIJIH
Name: 30870, dtype: object
0           LG1
1         35516
2             A
3            10
4    .,........
5    DJIIJGIJIH
Name: 30870, dtype: object
0           LG1
1         35516
2             A
3            10
4    .,........
5    DJIIJGIJIH
Name: 30870, dtype: object
0           LG1
1         35516
2             A
3            10
4    .,........
5    DJIIJGIJIH
Name: 30870, dtype: object
0           LG1
1         35516
2             A
3            10
4    .,........
5    DJIIJGIJIH
Name: 30870, dtype: object
0           LG1
1         35516
2             A
3            10
4    .,........
5    DJIIJGIJIH
Name: 30870, dtype: object
0           LG1
1         35516
2             A
3            10
4    .,........
5    DJIIJGIJIH
Name: 30870, dtype: object
0           LG1
1         35516
2             A
3            10
4    .,........
5    DJIIJGIJIH
Name: 30870, dtype: object
0           LG1
1         35517
2             A
3            10
4    .,........
5    DJHJIIJJID
Name: 30871, dtype: object
0           LG1
1         35517
2             A
3            10
4    .,........
5    DJHJIIJJID
Name: 30871, dtype: object
0           LG1
1         35517
2             A
3            10
4    .,........
5    DJHJIIJJID
Name: 30871, dtype: object
0           LG1
1         35517
2             A
3            10
4    .,........
5    DJHJIIJJID
Name: 30871, dtype: object
0           LG1
1         35517
2             A
3            10
4    .,........
5    DJHJIIJJID
Name: 30871, dtype: object
0           LG1
1         35517
2             A
3            10
4    .,........
5    DJHJIIJJID
Name: 30871, dtype: object
0           LG1
1         35517
2             A
3            10
4    .,........
5    DJHJIIJJID
Name: 30871, dtype: object
0           LG1
1         35517
2             A
3            10
4    .,........
5    DJHJIIJJID
Name: 30871, dtype: object
0           LG1
1         35517
2             A
3            10
4    .,........
5    DJHJIIJJID
Name: 30871, dtype: object
0           LG1
1         35517
2             A
3            10
4    .,........
5    DJHJIIJJID
Name: 30871, dtype: object
0           LG1
1         35518
2             G
3            10
4    .,.....T..
5    DJHFJIJIJF
Name: 30872, dtype: object
0           LG1
1         35518
2             G
3            10
4    .,.....T..
5    DJHFJIJIJF
Name: 30872, dtype: object
0           LG1
1         35518
2             G
3            10
4    .,.....T..
5    DJHFJIJIJF
Name: 30872, dtype: object
0           LG1
1         35518
2             G
3            10
4    .,.....T..
5    DJHFJIJIJF
Name: 30872, dtype: object
0           LG1
1         35518
2             G
3            10
4    .,.....T..
5    DJHFJIJIJF
Name: 30872, dtype: object
0           LG1
1         35518
2             G
3            10
4    .,.....T..
5    DJHFJIJIJF
Name: 30872, dtype: object
0           LG1
1         35518
2             G
3            10
4    .,.....T..
5    DJHFJIJIJF
Name: 30872, dtype: object
0           LG1
1         35518
2             G
3            10
4    .,.....T..
5    DJHFJIJIJF
Name: 30872, dtype: object
0           LG1
1         35518
2             G
3            10
4    .,.....T..
5    DJHFJIJIJF
Name: 30872, dtype: object
0           LG1
1         35518
2             G
3            10
4    .,.....T..
5    DJHFJIJIJF
Name: 30872, dtype: object
0           LG1
1         35519
2             A
3            10
4    .,....T...
5    BIHHIG<IJF
Name: 30873, dtype: object
0           LG1
1         35519
2             A
3            10
4    .,....T...
5    BIHHIG<IJF
Name: 30873, dtype: object
0           LG1
1         35519
2             A
3            10
4    .,....T...
5    BIHHIG<IJF
Name: 30873, dtype: object
0           LG1
1         35519
2             A
3            10
4    .,....T...
5    BIHHIG<IJF
Name: 30873, dtype: object
0           LG1
1         35519
2             A
3            10
4    .,....T...
5    BIHHIG<IJF
Name: 30873, dtype: object
0           LG1
1         35519
2             A
3            10
4    .,....T...
5    BIHHIG<IJF
Name: 30873, dtype: object
0           LG1
1         35519
2             A
3            10
4    .,....T...
5    BIHHIG<IJF
Name: 30873, dtype: object
0           LG1
1         35519
2             A
3            10
4    .,....T...
5    BIHHIG<IJF
Name: 30873, dtype: object
0           LG1
1         35519
2             A
3            10
4    .,....T...
5    BIHHIG<IJF
Name: 30873, dtype: object
0           LG1
1         35520
2             G
3            10
4    .,........
5    DJHHHIDIIE
Name: 30874, dtype: object
0           LG1
1         35520
2             G
3            10
4    .,........
5    DJHHHIDIIE
Name: 30874, dtype: object
0           LG1
1         35520
2             G
3            10
4    .,........
5    DJHHHIDIIE
Name: 30874, dtype: object
0           LG1
1         35520
2             G
3            10
4    .,........
5    DJHHHIDIIE
Name: 30874, dtype: object
0           LG1
1         35520
2             G
3            10
4    .,........
5    DJHHHIDIIE
Name: 30874, dtype: object
0           LG1
1         35520
2             G
3            10
4    .,........
5    DJHHHIDIIE
Name: 30874, dtype: object
0           LG1
1         35520
2             G
3            10
4    .,........
5    DJHHHIDIIE
Name: 30874, dtype: object
0           LG1
1         35520
2             G
3            10
4    .,........
5    DJHHHIDIIE
Name: 30874, dtype: object
0           LG1
1         35520
2             G
3            10
4    .,........
5    DJHHHIDIIE
Name: 30874, dtype: object
0           LG1
1         35520
2             G
3            10
4    .,........
5    DJHHHIDIIE
Name: 30874, dtype: object
0           LG1
1         35542
2             C
3             9
4    ,$........
5     @DCDCHHF>
Name: 30896, dtype: object
0           LG1
1         35542
2             C
3             9
4    ,$........
5     @DCDCHHF>
Name: 30896, dtype: object
0           LG1
1         35542
2             C
3             9
4    ,$........
5     @DCDCHHF>
Name: 30896, dtype: object
0           LG1
1         35542
2             C
3             9
4    ,$........
5     @DCDCHHF>
Name: 30896, dtype: object
0           LG1
1         35542
2             C
3             9
4    ,$........
5     @DCDCHHF>
Name: 30896, dtype: object
0           LG1
1         35542
2             C
3             9
4    ,$........
5     @DCDCHHF>
Name: 30896, dtype: object
0           LG1
1         35542
2             C
3             9
4    ,$........
5     @DCDCHHF>
Name: 30896, dtype: object
0           LG1
1         35542
2             C
3             9
4    ,$........
5     @DCDCHHF>
Name: 30896, dtype: object
0           LG1
1         35547
2             G
3            10
4    ........,,
5    BBDBDFH?@D
Name: 30901, dtype: object
0           LG1
1         35547
2             G
3            10
4    ........,,
5    BBDBDFH?@D
Name: 30901, dtype: object
0           LG1
1         35547
2             G
3            10
4    ........,,
5    BBDBDFH?@D
Name: 30901, dtype: object
0           LG1
1         35547
2             G
3            10
4    ........,,
5    BBDBDFH?@D
Name: 30901, dtype: object
0           LG1
1         35547
2             G
3            10
4    ........,,
5    BBDBDFH?@D
Name: 30901, dtype: object
0           LG1
1         35547
2             G
3            10
4    ........,,
5    BBDBDFH?@D
Name: 30901, dtype: object
0           LG1
1         35547
2             G
3            10
4    ........,,
5    BBDBDFH?@D
Name: 30901, dtype: object
0           LG1
1         35547
2             G
3            10
4    ........,,
5    BBDBDFH?@D
Name: 30901, dtype: object
0           LG1
1         35547
2             G
3            10
4    ........,,
5    BBDBDFH?@D
Name: 30901, dtype: object
0           LG1
1         35547
2             G
3            10
4    ........,,
5    BBDBDFH?@D
Name: 30901, dtype: object
0           LG1
1         35548
2             T
3            10
4    ....C...,,
5    90<<DAG7DD
Name: 30902, dtype: object
0           LG1
1         35548
2             T
3            10
4    ....C...,,
5    90<<DAG7DD
Name: 30902, dtype: object
0           LG1
1         35548
2             T
3            10
4    ....C...,,
5    90<<DAG7DD
Name: 30902, dtype: object
0           LG1
1         35548
2             T
3            10
4    ....C...,,
5    90<<DAG7DD
Name: 30902, dtype: object
0           LG1
1         35548
2             T
3            10
4    ....C...,,
5    90<<DAG7DD
Name: 30902, dtype: object
0           LG1
1         35549
2             T
3            10
4    ........,,
5    @9@BDCG;DB
Name: 30903, dtype: object
0           LG1
1         35549
2             T
3            10
4    ........,,
5    @9@BDCG;DB
Name: 30903, dtype: object
0           LG1
1         35549
2             T
3            10
4    ........,,
5    @9@BDCG;DB
Name: 30903, dtype: object
0           LG1
1         35549
2             T
3            10
4    ........,,
5    @9@BDCG;DB
Name: 30903, dtype: object
0           LG1
1         35549
2             T
3            10
4    ........,,
5    @9@BDCG;DB
Name: 30903, dtype: object
0           LG1
1         35549
2             T
3            10
4    ........,,
5    @9@BDCG;DB
Name: 30903, dtype: object
0           LG1
1         35549
2             T
3            10
4    ........,,
5    @9@BDCG;DB
Name: 30903, dtype: object
0           LG1
1         35549
2             T
3            10
4    ........,,
5    @9@BDCG;DB
Name: 30903, dtype: object
0           LG1
1         35550
2             T
3            10
4    ........,,
5    BBDDDDI@DC
Name: 30904, dtype: object
0           LG1
1         35550
2             T
3            10
4    ........,,
5    BBDDDDI@DC
Name: 30904, dtype: object
0           LG1
1         35550
2             T
3            10
4    ........,,
5    BBDDDDI@DC
Name: 30904, dtype: object
0           LG1
1         35550
2             T
3            10
4    ........,,
5    BBDDDDI@DC
Name: 30904, dtype: object
0           LG1
1         35550
2             T
3            10
4    ........,,
5    BBDDDDI@DC
Name: 30904, dtype: object
0           LG1
1         35550
2             T
3            10
4    ........,,
5    BBDDDDI@DC

Name: 30904, dtype: object
0           LG1
1         35550
2             T
3            10
4    ........,,
5    BBDDDDI@DC
Name: 30904, dtype: object
0           LG1
1         35550
2             T
3            10
4    ........,,
5    BBDDDDI@DC
Name: 30904, dtype: object
0           LG1
1         35550
2             T
3            10
4    ........,,
5    BBDDDDI@DC
Name: 30904, dtype: object
0           LG1
1         35550
2             T
3            10
4    ........,,
5    BBDDDDI@DC
Name: 30904, dtype: object
0           LG1
1         35551
2             T
3            10
4    ........,,
5    DBDDDBGFDC
Name: 30905, dtype: object
0           LG1
1         35551
2             T
3            10
4    ........,,
5    DBDDDBGFDC
Name: 30905, dtype: object
0           LG1
1         35551
2             T
3            10
4    ........,,
5    DBDDDBGFDC
Name: 30905, dtype: object
0           LG1
1         35551
2             T
3            10
4    ........,,
5    DBDDDBGFDC
Name: 30905, dtype: object
0           LG1
1         35551
2             T
3            10
4    ........,,
5    DBDDDBGFDC
Name: 30905, dtype: object
0           LG1
1         35551
2             T
3            10
4    ........,,
5    DBDDDBGFDC
Name: 30905, dtype: object
0           LG1
1         35551
2             T
3            10
4    ........,,
5    DBDDDBGFDC
Name: 30905, dtype: object
0           LG1
1         35551
2             T
3            10
4    ........,,
5    DBDDDBGFDC
Name: 30905, dtype: object
0           LG1
1         35551
2             T
3            10
4    ........,,
5    DBDDDBGFDC
Name: 30905, dtype: object
0           LG1
1         35551
2             T
3            10
4    ........,,
5    DBDDDBGFDC
Name: 30905, dtype: object
0           LG1
1         35552
2             T
3            10
4    ........,,
5    DBDDDDIHDA
Name: 30906, dtype: object
0           LG1
1         35552
2             T
3            10
4    ........,,
5    DBDDDDIHDA
Name: 30906, dtype: object
0           LG1
1         35552
2             T
3            10
4    ........,,
5    DBDDDDIHDA
Name: 30906, dtype: object
0           LG1
1         35552
2             T
3            10
4    ........,,
5    DBDDDDIHDA
Name: 30906, dtype: object
0           LG1
1         35552
2             T
3            10
4    ........,,
5    DBDDDDIHDA
Name: 30906, dtype: object
0           LG1
1         35552
2             T
3            10
4    ........,,
5    DBDDDDIHDA
Name: 30906, dtype: object
0           LG1
1         35552
2             T
3            10
4    ........,,
5    DBDDDDIHDA
Name: 30906, dtype: object
0           LG1
1         35552
2             T
3            10
4    ........,,
5    DBDDDDIHDA
Name: 30906, dtype: object
0           LG1
1         35552
2             T
3            10
4    ........,,
5    DBDDDDIHDA
Name: 30906, dtype: object
0           LG1
1         35552
2             T
3            10
4    ........,,
5    DBDDDDIHDA
Name: 30906, dtype: object
0           LG1
1         35553
2             T
3            10
4    ........,,
5    DDDDDDFID>
Name: 30907, dtype: object
0           LG1
1         35553
2             T
3            10
4    ........,,
5    DDDDDDFID>
Name: 30907, dtype: object
0           LG1
1         35553
2             T
3            10
4    ........,,
5    DDDDDDFID>
Name: 30907, dtype: object
0           LG1
1         35553
2             T
3            10
4    ........,,
5    DDDDDDFID>
Name: 30907, dtype: object
0           LG1
1         35553
2             T
3            10
4    ........,,
5    DDDDDDFID>
Name: 30907, dtype: object
0           LG1
1         35553
2             T
3            10
4    ........,,
5    DDDDDDFID>
Name: 30907, dtype: object
0           LG1
1         35553
2             T
3            10
4    ........,,
5    DDDDDDFID>
Name: 30907, dtype: object
0           LG1
1         35553
2             T
3            10
4    ........,,
5    DDDDDDFID>
Name: 30907, dtype: object
0           LG1
1         35553
2             T
3            10
4    ........,,
5    DDDDDDFID>
Name: 30907, dtype: object
0           LG1
1         35554
2             C
3            10
4    ........,,
5    CADCDDHEDD
Name: 30908, dtype: object
0           LG1
1         35554
2             C
3            10
4    ........,,
5    CADCDDHEDD
Name: 30908, dtype: object
0           LG1
1         35554
2             C
3            10
4    ........,,
5    CADCDDHEDD
Name: 30908, dtype: object
0           LG1
1         35554
2             C
3            10
4    ........,,
5    CADCDDHEDD
Name: 30908, dtype: object
0           LG1
1         35554
2             C
3            10
4    ........,,
5    CADCDDHEDD
Name: 30908, dtype: object
0           LG1
1         35554
2             C
3            10
4    ........,,
5    CADCDDHEDD
Name: 30908, dtype: object
0           LG1
1         35554
2             C
3            10
4    ........,,
5    CADCDDHEDD
Name: 30908, dtype: object
0           LG1
1         35554
2             C
3            10
4    ........,,
5    CADCDDHEDD
Name: 30908, dtype: object
0           LG1
1         35554
2             C
3            10
4    ........,,
5    CADCDDHEDD
Name: 30908, dtype: object
0           LG1
1         35554
2             C
3            10
4    ........,,
5    CADCDDHEDD
Name: 30908, dtype: object
0           LG1
1         35555
2             T
3            10
4    ........,,
5    CADDDDA>CC
Name: 30909, dtype: object
0           LG1
1         35555
2             T
3            10
4    ........,,
5    CADDDDA>CC
Name: 30909, dtype: object
0           LG1
1         35555
2             T
3            10
4    ........,,
5    CADDDDA>CC
Name: 30909, dtype: object
0           LG1
1         35555
2             T
3            10
4    ........,,
5    CADDDDA>CC
Name: 30909, dtype: object
0           LG1
1         35555
2             T
3            10
4    ........,,
5    CADDDDA>CC
Name: 30909, dtype: object
0           LG1
1         35555
2             T
3            10
4    ........,,
5    CADDDDA>CC
Name: 30909, dtype: object
0           LG1
1         35555
2             T
3            10
4    ........,,
5    CADDDDA>CC
Name: 30909, dtype: object
0           LG1
1         35555
2             T
3            10
4    ........,,
5    CADDDDA>CC
Name: 30909, dtype: object
0           LG1
1         35555
2             T
3            10
4    ........,,
5    CADDDDA>CC
Name: 30909, dtype: object
0           LG1
1         35556
2             C
3            10
4    ........,,
5    CCDDDCHA@D
Name: 30910, dtype: object
0           LG1
1         35556
2             C
3            10
4    ........,,
5    CCDDDCHA@D
Name: 30910, dtype: object
0           LG1
1         35556
2             C
3            10
4    ........,,
5    CCDDDCHA@D
Name: 30910, dtype: object
0           LG1
1         35556
2             C
3            10
4    ........,,
5    CCDDDCHA@D
Name: 30910, dtype: object
0           LG1
1         35556
2             C
3            10
4    ........,,
5    CCDDDCHA@D
Name: 30910, dtype: object
0           LG1
1         35556
2             C
3            10
4    ........,,
5    CCDDDCHA@D
Name: 30910, dtype: object
0           LG1
1         35556
2             C
3            10
4    ........,,
5    CCDDDCHA@D
Name: 30910, dtype: object
0           LG1
1         35556
2             C
3            10
4    ........,,
5    CCDDDCHA@D
Name: 30910, dtype: object
0           LG1
1         35556
2             C
3            10
4    ........,,
5    CCDDDCHA@D
Name: 30910, dtype: object
0           LG1
1         35556
2             C
3            10
4    ........,,
5    CCDDDCHA@D
Name: 30910, dtype: object
0           LG1
1         35557
2             A
3            10
4    ........,,
5    DAEEEDF7DE
Name: 30911, dtype: object
0           LG1
1         35557
2             A
3            10
4    ........,,
5    DAEEEDF7DE
Name: 30911, dtype: object
0           LG1
1         35557
2             A
3            10
4    ........,,
5    DAEEEDF7DE
Name: 30911, dtype: object
0           LG1
1         35557
2             A
3            10
4    ........,,
5    DAEEEDF7DE
Name: 30911, dtype: object
0           LG1
1         35557
2             A
3            10
4    ........,,
5    DAEEEDF7DE
Name: 30911, dtype: object
0           LG1
1         35557
2             A
3            10
4    ........,,
5    DAEEEDF7DE

Name: 30911, dtype: object
0           LG1
1         35557
2             A
3            10
4    ........,,
5    DAEEEDF7DE
Name: 30911, dtype: object
0           LG1
1         35557
2             A
3            10
4    ........,,
5    DAEEEDF7DE
Name: 30911, dtype: object
0           LG1
1         35557
2             A
3            10
4    ........,,
5    DAEEEDF7DE
Name: 30911, dtype: object
0           LG1
1         35558
2             G
3            10
4    ........,,
5    DCDCDCF3DD
Name: 30912, dtype: object
0           LG1
1         35558
2             G
3            10
4    ........,,
5    DCDCDCF3DD
Name: 30912, dtype: object
0           LG1
1         35558
2             G
3            10
4    ........,,
5    DCDCDCF3DD
Name: 30912, dtype: object
0           LG1
1         35558
2             G
3            10
4    ........,,
5    DCDCDCF3DD
Name: 30912, dtype: object
0           LG1
1         35558
2             G
3            10
4    ........,,
5    DCDCDCF3DD
Name: 30912, dtype: object
0           LG1
1         35558
2             G
3            10
4    ........,,
5    DCDCDCF3DD
Name: 30912, dtype: object
0           LG1
1         35558
2             G
3            10
4    ........,,
5    DCDCDCF3DD
Name: 30912, dtype: object
0           LG1
1         35558
2             G
3            10
4    ........,,
5    DCDCDCF3DD
Name: 30912, dtype: object
0           LG1
1         35558
2             G
3            10
4    ........,,
5    DCDCDCF3DD
Name: 30912, dtype: object
0           LG1
1         35559
2             A
3            10
4    ........,,
5    @DDCDDE7DD
Name: 30913, dtype: object
0           LG1
1         35559
2             A
3            10
4    ........,,
5    @DDCDDE7DD
Name: 30913, dtype: object
0           LG1
1         35559
2             A
3            10
4    ........,,
5    @DDCDDE7DD
Name: 30913, dtype: object
0           LG1
1         35559
2             A
3            10
4    ........,,
5    @DDCDDE7DD
Name: 30913, dtype: object
0           LG1
1         35559
2             A
3            10
4    ........,,
5    @DDCDDE7DD
Name: 30913, dtype: object
0           LG1
1         35559
2             A
3            10
4    ........,,
5    @DDCDDE7DD
Name: 30913, dtype: object
0           LG1
1         35559
2             A
3            10
4    ........,,
5    @DDCDDE7DD
Name: 30913, dtype: object
0           LG1
1         35559
2             A
3            10
4    ........,,
5    @DDCDDE7DD
Name: 30913, dtype: object
0           LG1
1         35559
2             A
3            10
4    ........,,
5    @DDCDDE7DD
Name: 30913, dtype: object
0           LG1
1         35560
2             C
3            10
4    ........,,
5    CCDDDDD?CD
Name: 30914, dtype: object
0           LG1
1         35560
2             C
3            10
4    ........,,
5    CCDDDDD?CD
Name: 30914, dtype: object
0           LG1
1         35560
2             C
3            10
4    ........,,
5    CCDDDDD?CD
Name: 30914, dtype: object
0           LG1
1         35560
2             C
3            10
4    ........,,
5    CCDDDDD?CD
Name: 30914, dtype: object
0           LG1
1         35560
2             C
3            10
4    ........,,
5    CCDDDDD?CD
Name: 30914, dtype: object
0           LG1
1         35560
2             C
3            10
4    ........,,
5    CCDDDDD?CD
Name: 30914, dtype: object
0           LG1
1         35560
2             C
3            10
4    ........,,
5    CCDDDDD?CD
Name: 30914, dtype: object
0           LG1
1         35560
2             C
3            10
4    ........,,
5    CCDDDDD?CD
Name: 30914, dtype: object
0           LG1
1         35560
2             C
3            10
4    ........,,
5    CCDDDDD?CD
Name: 30914, dtype: object
0           LG1
1         35560
2             C
3            10
4    ........,,
5    CCDDDDD?CD
Name: 30914, dtype: object
0           LG1
1         35561
2             T
3            10
4    ........,,
5    DCDDCDD@DD
Name: 30915, dtype: object
0           LG1
1         35561
2             T
3            10
4    ........,,
5    DCDDCDD@DD
Name: 30915, dtype: object
0           LG1
1         35561
2             T
3            10
4    ........,,
5    DCDDCDD@DD
Name: 30915, dtype: object
0           LG1
1         35561
2             T
3            10
4    ........,,
5    DCDDCDD@DD
Name: 30915, dtype: object
0           LG1
1         35561
2             T
3            10
4    ........,,
5    DCDDCDD@DD
Name: 30915, dtype: object
0           LG1
1         35561
2             T
3            10
4    ........,,
5    DCDDCDD@DD
Name: 30915, dtype: object
0           LG1
1         35561
2             T
3            10
4    ........,,
5    DCDDCDD@DD
Name: 30915, dtype: object
0           LG1
1         35561
2             T
3            10
4    ........,,
5    DCDDCDD@DD
Name: 30915, dtype: object
0           LG1
1         35561
2             T
3            10
4    ........,,
5    DCDDCDD@DD
Name: 30915, dtype: object
0           LG1
1         35561
2             T
3            10
4    ........,,
5    DCDDCDD@DD
Name: 30915, dtype: object
0           LG1
1         35562
2             T
3            10
4    ........,,
5    CDDDDDCBDD
Name: 30916, dtype: object
0           LG1
1         35562
2             T
3            10
4    ........,,
5    CDDDDDCBDD
Name: 30916, dtype: object
0           LG1
1         35562
2             T
3            10
4    ........,,
5    CDDDDDCBDD
Name: 30916, dtype: object
0           LG1
1         35562
2             T
3            10
4    ........,,
5    CDDDDDCBDD
Name: 30916, dtype: object
0           LG1
1         35562
2             T
3            10
4    ........,,
5    CDDDDDCBDD
Name: 30916, dtype: object
0           LG1
1         35562
2             T
3            10
4    ........,,
5    CDDDDDCBDD
Name: 30916, dtype: object
0           LG1
1         35562
2             T
3            10
4    ........,,
5    CDDDDDCBDD
Name: 30916, dtype: object
0           LG1
1         35562
2             T
3            10
4    ........,,
5    CDDDDDCBDD
Name: 30916, dtype: object
0           LG1
1         35562
2             T
3            10
4    ........,,
5    CDDDDDCBDD
Name: 30916, dtype: object
0           LG1
1         35562
2             T
3            10
4    ........,,
5    CDDDDDCBDD
Name: 30916, dtype: object
0           LG1
1         35563
2             T
3            10
4    ........,,
5    DCDDDDCEDD
Name: 30917, dtype: object
0           LG1
1         35563
2             T
3            10
4    ........,,
5    DCDDDDCEDD
Name: 30917, dtype: object
0           LG1
1         35563
2             T
3            10
4    ........,,
5    DCDDDDCEDD
Name: 30917, dtype: object
0           LG1
1         35563
2             T
3            10
4    ........,,
5    DCDDDDCEDD
Name: 30917, dtype: object
0           LG1
1         35563
2             T
3            10
4    ........,,
5    DCDDDDCEDD
Name: 30917, dtype: object
0           LG1
1         35563
2             T
3            10
4    ........,,
5    DCDDDDCEDD
Name: 30917, dtype: object
0           LG1
1         35563
2             T
3            10
4    ........,,
5    DCDDDDCEDD
Name: 30917, dtype: object
0           LG1
1         35563
2             T
3            10
4    ........,,
5    DCDDDDCEDD
Name: 30917, dtype: object
0           LG1
1         35563
2             T
3            10
4    ........,,
5    DCDDDDCEDD
Name: 30917, dtype: object
0           LG1
1         35563
2             T
3            10
4    ........,,
5    DCDDDDCEDD
Name: 30917, dtype: object
0           LG1
1         35566
2             C
3             9
4    .$......,,
5     >DDDCE>BD
Name: 30920, dtype: object
0           LG1
1         35566
2             C
3             9
4    .$......,,
5     >DDDCE>BD
Name: 30920, dtype: object
0           LG1
1         35566
2             C
3             9
4    .$......,,
5     >DDDCE>BD
Name: 30920, dtype: object
0           LG1
1         35566
2             C
3             9
4    .$......,,
5     >DDDCE>BD
Name: 30920, dtype: object
0           LG1
1         35566
2             C
3             9
4    .$......,,
5     >DDDCE>BD
Name: 30920, dtype: object
0           LG1
1         35566
2             C
3             9
4    .$......,,
5     >DDDCE>BD
Name: 30920, dtype: object
0           LG1
1         35566
2             C
3             9
4    .$......,,
5     >DDDCE>BD
Name: 30920, dtype: object
0           LG1
1         35685
2             T
3             8
4    ,,,,,,,^!,
5      FHIDHDD?
Name: 31039, dtype: object
0           LG1
1         35685
2             T
3             8
4    ,,,,,,,^!,
5      FHIDHDD?
Name: 31039, dtype: object
0           LG1
1         35685
2             T
3             8
4    ,,,,,,,^!,
5      FHIDHDD?
Name: 31039, dtype: object
0           LG1
1         35685
2             T
3             8
4    ,,,,,,,^!,
5      FHIDHDD?
Name: 31039, dtype: object
0           LG1
1         35685
2             T
3             8
4    ,,,,,,,^!,
5      FHIDHDD?
Name: 31039, dtype: object
0           LG1
1         35685
2             T
3             8
4    ,,,,,,,^!,
5      FHIDHDD?
Name: 31039, dtype: object
0           LG1
1         35685
2             T
3             8
4    ,,,,,,,^!,
5      FHIDHDD?
Name: 31039, dtype: object
0           LG1
1         35685
2             T
3             8
4    ,,,,,,,^!,
5      FHIDHDD?
Name: 31039, dtype: object
0           LG1
1         35691
2             A
3             9
4    ,$,,,,,,,,
5     >DIDHDE8D
Name: 31045, dtype: object
0           LG1
1         35691
2             A
3             9
4    ,$,,,,,,,,
5     >DIDHDE8D
Name: 31045, dtype: object
0           LG1
1         35691
2             A
3             9
4    ,$,,,,,,,,
5     >DIDHDE8D
Name: 31045, dtype: object
0           LG1
1         35691
2             A
3             9
4    ,$,,,,,,,,
5     >DIDHDE8D
Name: 31045, dtype: object
0           LG1
1         35691
2             A
3             9
4    ,$,,,,,,,,
5     >DIDHDE8D
Name: 31045, dtype: object
0           LG1
1         35691
2             A
3             9
4    ,$,,,,,,,,
5     >DIDHDE8D
Name: 31045, dtype: object
0           LG1
1         35691
2             A
3             9
4    ,$,,,,,,,,
5     >DIDHDE8D
Name: 31045, dtype: object
0           LG1
1         35710
2             A
3            10
4    ,,,,,,,,,,
5    HFIEE>ED:E
Name: 31064, dtype: object
0           LG1
1         35710
2             A
3            10
4    ,,,,,,,,,,
5    HFIEE>ED:E
Name: 31064, dtype: object
0           LG1
1         35710
2             A
3            10
4    ,,,,,,,,,,
5    HFIEE>ED:E
Name: 31064, dtype: object
0           LG1
1         35710
2             A
3            10
4    ,,,,,,,,,,
5    HFIEE>ED:E
Name: 31064, dtype: object
0           LG1
1         35710
2             A
3            10
4    ,,,,,,,,,,
5    HFIEE>ED:E
Name: 31064, dtype: object
0           LG1
1         35710
2             A
3            10
4    ,,,,,,,,,,
5    HFIEE>ED:E
Name: 31064, dtype: object
0           LG1
1         35710
2             A
3            10
4    ,,,,,,,,,,
5    HFIEE>ED:E
Name: 31064, dtype: object
0           LG1
1         35710
2             A
3            10
4    ,,,,,,,,,,
5    HFIEE>ED:E
Name: 31064, dtype: object
0           LG1
1         35711
2             T
3            10
4    ,,,,,,,,,,
5    HFIDD>DCCD
Name: 31065, dtype: object
0           LG1
1         35711
2             T
3            10
4    ,,,,,,,,,,
5    HFIDD>DCCD
Name: 31065, dtype: object
0           LG1
1         35711
2             T
3            10
4    ,,,,,,,,,,
5    HFIDD>DCCD
Name: 31065, dtype: object
0           LG1
1         35711
2             T
3            10
4    ,,,,,,,,,,
5    HFIDD>DCCD
Name: 31065, dtype: object
0           LG1
1         35711
2             T
3            10
4    ,,,,,,,,,,
5    HFIDD>DCCD
Name: 31065, dtype: object
0           LG1
1         35711
2             T
3            10
4    ,,,,,,,,,,
5    HFIDD>DCCD
Name: 31065, dtype: object
0           LG1
1         35711
2             T
3            10
4    ,,,,,,,,,,
5    HFIDD>DCCD
Name: 31065, dtype: object
0           LG1
1         35711
2             T
3            10
4    ,,,,,,,,,,
5    HFIDD>DCCD
Name: 31065, dtype: object
0           LG1
1         35711
2             T
3            10
4    ,,,,,,,,,,
5    HFIDD>DCCD
Name: 31065, dtype: object
0           LG1
1         35712
2             T
3            10
4    ,,,,,,,,,,
5    HFGDD;D@CD
Name: 31066, dtype: object
0           LG1
1         35712
2             T
3            10
4    ,,,,,,,,,,
5    HFGDD;D@CD
Name: 31066, dtype: object
0           LG1
1         35712
2             T
3            10
4    ,,,,,,,,,,
5    HFGDD;D@CD
Name: 31066, dtype: object
0           LG1
1         35712
2             T
3            10
4    ,,,,,,,,,,
5    HFGDD;D@CD
Name: 31066, dtype: object
0           LG1
1         35712
2             T
3            10
4    ,,,,,,,,,,
5    HFGDD;D@CD
Name: 31066, dtype: object
0           LG1
1         35712
2             T
3            10
4    ,,,,,,,,,,
5    HFGDD;D@CD
Name: 31066, dtype: object
0           LG1
1         35712
2             T
3            10
4    ,,,,,,,,,,
5    HFGDD;D@CD
Name: 31066, dtype: object
0           LG1
1         35712
2             T
3            10
4    ,,,,,,,,,,
5    HFGDD;D@CD
Name: 31066, dtype: object
0           LG1
1         35712
2             T
3            10
4    ,,,,,,,,,,
5    HFGDD;D@CD
Name: 31066, dtype: object
0           LG1
1         35719
2             A
3            10
4    ,,,,,,,,,.
5    >JHHF=ECE;
Name: 31073, dtype: object
0           LG1
1         35719
2             A
3            10
4    ,,,,,,,,,.
5    >JHHF=ECE;
Name: 31073, dtype: object
0           LG1
1         35719
2             A
3            10
4    ,,,,,,,,,.
5    >JHHF=ECE;
Name: 31073, dtype: object
0           LG1
1         35719
2             A
3            10
4    ,,,,,,,,,.
5    >JHHF=ECE;
Name: 31073, dtype: object
0           LG1
1         35719
2             A
3            10
4    ,,,,,,,,,.
5    >JHHF=ECE;

Name: 31073, dtype: object
0           LG1
1         35719
2             A
3            10
4    ,,,,,,,,,.
5    >JHHF=ECE;
Name: 31073, dtype: object
0           LG1
1         35719
2             A
3            10
4    ,,,,,,,,,.
5    >JHHF=ECE;
Name: 31073, dtype: object
0           LG1
1         35733
2             T
3            10
4    gg,,,gg.gG
5    JIJFBCD4B>
Name: 31087, dtype: object
0           LG1
1         35733
2             T
3            10
4    gg,,,gg.gG
5    JIJFBCD4B>
Name: 31087, dtype: object
0           LG1
1         35733
2             T
3            10
4    gg,,,gg.gG
5    JIJFBCD4B>
Name: 31087, dtype: object
0           LG1
1         35733
2             T
3            10
4    gg,,,gg.gG
5    JIJFBCD4B>
Name: 31087, dtype: object
0           LG1
1         35733
2             T
3            10
4    gg,,,gg.gG
5    JIJFBCD4B>
Name: 31087, dtype: object
0           LG1
1         35733
2             T
3            10
4    gg,,,gg.gG
5    JIJFBCD4B>
Name: 31087, dtype: object
0           LG1
1         35733
2             T
3            10
4    gg,,,gg.gG
5    JIJFBCD4B>
Name: 31087, dtype: object
0           LG1
1         35733
2             T
3            10
4    gg,,,gg.gG
5    JIJFBCD4B>
Name: 31087, dtype: object
0           LG1
1         35734
2             A
3            10
4    ,,,,,,,,,.
5    JIIBHDCDD=
Name: 31088, dtype: object
0           LG1
1         35734
2             A
3            10
4    ,,,,,,,,,.
5    JIIBHDCDD=
Name: 31088, dtype: object
0           LG1
1         35734
2             A
3            10
4    ,,,,,,,,,.
5    JIIBHDCDD=
Name: 31088, dtype: object
0           LG1
1         35734
2             A
3            10
4    ,,,,,,,,,.
5    JIIBHDCDD=
Name: 31088, dtype: object
0           LG1
1         35734
2             A
3            10
4    ,,,,,,,,,.
5    JIIBHDCDD=
Name: 31088, dtype: object
0           LG1
1         35734
2             A
3            10
4    ,,,,,,,,,.
5    JIIBHDCDD=
Name: 31088, dtype: object
0           LG1
1         35734
2             A
3            10
4    ,,,,,,,,,.
5    JIIBHDCDD=
Name: 31088, dtype: object
0           LG1
1         35734
2             A
3            10
4    ,,,,,,,,,.
5    JIIBHDCDD=
Name: 31088, dtype: object
0           LG1
1         35734
2             A
3            10
4    ,,,,,,,,,.
5    JIIBHDCDD=
Name: 31088, dtype: object
0           LG1
1         35738
2             G
3            10
4    ,,,,,,,,,.
5    JJJGCCB2D@
Name: 31092, dtype: object
0           LG1
1         35738
2             G
3            10
4    ,,,,,,,,,.
5    JJJGCCB2D@
Name: 31092, dtype: object
0           LG1
1         35738
2             G
3            10
4    ,,,,,,,,,.
5    JJJGCCB2D@
Name: 31092, dtype: object
0           LG1
1         35738
2             G
3            10
4    ,,,,,,,,,.
5    JJJGCCB2D@
Name: 31092, dtype: object
0           LG1
1         35738
2             G
3            10
4    ,,,,,,,,,.
5    JJJGCCB2D@
Name: 31092, dtype: object
0           LG1
1         35738
2             G
3            10
4    ,,,,,,,,,.
5    JJJGCCB2D@
Name: 31092, dtype: object
0           LG1
1         35738
2             G
3            10
4    ,,,,,,,,,.
5    JJJGCCB2D@
Name: 31092, dtype: object
0           LG1
1         35738
2             G
3            10
4    ,,,,,,,,,.
5    JJJGCCB2D@
Name: 31092, dtype: object
0           LG1
1         35738
2             G
3            10
4    ,,,,,,,,,.
5    JJJGCCB2D@
Name: 31092, dtype: object
0           LG1
1         35761
2             G
3            10
4    ,,,,,,,,,,
5    HJIAJIHJ>E
Name: 31115, dtype: object
0           LG1
1         35761
2             G
3            10
4    ,,,,,,,,,,
5    HJIAJIHJ>E
Name: 31115, dtype: object
0           LG1
1         35761
2             G
3            10
4    ,,,,,,,,,,
5    HJIAJIHJ>E
Name: 31115, dtype: object
0           LG1
1         35761
2             G
3            10
4    ,,,,,,,,,,
5    HJIAJIHJ>E
Name: 31115, dtype: object
0           LG1
1         35761
2             G
3            10
4    ,,,,,,,,,,
5    HJIAJIHJ>E
Name: 31115, dtype: object
0           LG1
1         35761
2             G
3            10
4    ,,,,,,,,,,
5    HJIAJIHJ>E
Name: 31115, dtype: object
0           LG1
1         35761
2             G
3            10
4    ,,,,,,,,,,
5    HJIAJIHJ>E
Name: 31115, dtype: object
0           LG1
1         35761
2             G
3            10
4    ,,,,,,,,,,
5    HJIAJIHJ>E
Name: 31115, dtype: object
0           LG1
1         35761
2             G
3            10
4    ,,,,,,,,,,
5    HJIAJIHJ>E
Name: 31115, dtype: object
0           LG1
1         35762
2             G
3            10
4    ,,,,,,,,,.
5    HJIIFCIBE0
Name: 31116, dtype: object
0           LG1
1         35762
2             G
3            10
4    ,,,,,,,,,.
5    HJIIFCIBE0
Name: 31116, dtype: object
0           LG1
1         35762
2             G
3            10
4    ,,,,,,,,,.
5    HJIIFCIBE0
Name: 31116, dtype: object
0           LG1
1         35762
2             G
3            10
4    ,,,,,,,,,.
5    HJIIFCIBE0
Name: 31116, dtype: object
0           LG1
1         35762
2             G
3            10
4    ,,,,,,,,,.
5    HJIIFCIBE0
Name: 31116, dtype: object
0           LG1
1         35762
2             G
3            10
4    ,,,,,,,,,.
5    HJIIFCIBE0
Name: 31116, dtype: object
0           LG1
1         35762
2             G
3            10
4    ,,,,,,,,,.
5    HJIIFCIBE0
Name: 31116, dtype: object
0           LG1
1         35762
2             G
3            10
4    ,,,,,,,,,.
5    HJIIFCIBE0
Name: 31116, dtype: object
0           LG1
1         35762
2             G
3            10
4    ,,,,,,,,,.
5    HJIIFCIBE0
Name: 31116, dtype: object
0           LG1
1         35765
2             A
3            10
4    ,,,,,,,,,,
5    FJJ<GJIIEF
Name: 31119, dtype: object
0           LG1
1         35765
2             A
3            10
4    ,,,,,,,,,,
5    FJJ<GJIIEF
Name: 31119, dtype: object
0           LG1
1         35765
2             A
3            10
4    ,,,,,,,,,,
5    FJJ<GJIIEF
Name: 31119, dtype: object
0           LG1
1         35765
2             A
3            10
4    ,,,,,,,,,,
5    FJJ<GJIIEF
Name: 31119, dtype: object
0           LG1
1         35765
2             A
3            10
4    ,,,,,,,,,,
5    FJJ<GJIIEF
Name: 31119, dtype: object
0           LG1
1         35765
2             A
3            10
4    ,,,,,,,,,,
5    FJJ<GJIIEF
Name: 31119, dtype: object
0           LG1
1         35765
2             A
3            10
4    ,,,,,,,,,,
5    FJJ<GJIIEF
Name: 31119, dtype: object
0           LG1
1         35765
2             A
3            10
4    ,,,,,,,,,,
5    FJJ<GJIIEF
Name: 31119, dtype: object
0           LG1
1         35765
2             A
3            10
4    ,,,,,,,,,,
5    FJJ<GJIIEF
Name: 31119, dtype: object
0           LG1
1         35768
2             A
3            10
4    ,,,,,,,,,.
5    FIGJIIIHFG
Name: 31122, dtype: object
0           LG1
1         35768
2             A
3            10
4    ,,,,,,,,,.
5    FIGJIIIHFG
Name: 31122, dtype: object
0           LG1
1         35768
2             A
3            10
4    ,,,,,,,,,.
5    FIGJIIIHFG
Name: 31122, dtype: object
0           LG1
1         35768
2             A
3            10
4    ,,,,,,,,,.
5    FIGJIIIHFG
Name: 31122, dtype: object
0           LG1
1         35768
2             A
3            10
4    ,,,,,,,,,.
5    FIGJIIIHFG
Name: 31122, dtype: object
0           LG1
1         35768
2             A
3            10
4    ,,,,,,,,,.
5    FIGJIIIHFG
Name: 31122, dtype: object
0           LG1
1         35768
2             A
3            10
4    ,,,,,,,,,.
5    FIGJIIIHFG
Name: 31122, dtype: object
0           LG1
1         35768
2             A
3            10
4    ,,,,,,,,,.
5    FIGJIIIHFG
Name: 31122, dtype: object
0           LG1
1         35768
2             A
3            10
4    ,,,,,,,,,.
5    FIGJIIIHFG
Name: 31122, dtype: object
0           LG1
1         35768
2             A
3            10
4    ,,,,,,,,,.
5    FIGJIIIHFG
Name: 31122, dtype: object
0           LG1
1         35769
2             G
3            10
4    ,,,,,,,,,.
5    CHHIHIJCFB
Name: 31123, dtype: object
0           LG1
1         35769
2             G
3            10
4    ,,,,,,,,,.
5    CHHIHIJCFB
Name: 31123, dtype: object
0           LG1
1         35769
2             G
3            10
4    ,,,,,,,,,.
5    CHHIHIJCFB
Name: 31123, dtype: object
0           LG1
1         35769
2             G
3            10
4    ,,,,,,,,,.
5    CHHIHIJCFB
Name: 31123, dtype: object
0           LG1
1         35769
2             G
3            10
4    ,,,,,,,,,.
5    CHHIHIJCFB
Name: 31123, dtype: object
0           LG1
1         35769
2             G
3            10
4    ,,,,,,,,,.
5    CHHIHIJCFB
Name: 31123, dtype: object
0           LG1
1         35769
2             G
3            10
4    ,,,,,,,,,.
5    CHHIHIJCFB
Name: 31123, dtype: object
0           LG1
1         35769
2             G
3            10
4    ,,,,,,,,,.
5    CHHIHIJCFB
Name: 31123, dtype: object
0           LG1
1         35769
2             G
3            10
4    ,,,,,,,,,.
5    CHHIHIJCFB
Name: 31123, dtype: object
0           LG1
1         35769
2             G
3            10
4    ,,,,,,,,,.
5    CHHIHIJCFB
Name: 31123, dtype: object
0           LG1
1         35780
2             T
3             9
4    ,,$,,,,,,.
5     C@FIGG@I.
Name: 31134, dtype: object
0           LG1
1         35780
2             T
3             9
4    ,,$,,,,,,.
5     C@FIGG@I.
Name: 31134, dtype: object
0           LG1
1         35780
2             T
3             9
4    ,,$,,,,,,.
5     C@FIGG@I.
Name: 31134, dtype: object
0           LG1
1         35780
2             T
3             9
4    ,,$,,,,,,.
5     C@FIGG@I.
Name: 31134, dtype: object
0           LG1
1         35780
2             T
3             9
4    ,,$,,,,,,.
5     C@FIGG@I.
Name: 31134, dtype: object
0           LG1
1         35780
2             T
3             9
4    ,,$,,,,,,.
5     C@FIGG@I.
Name: 31134, dtype: object
0           LG1
1         35780
2             T
3             9
4    ,,$,,,,,,.
5     C@FIGG@I.
Name: 31134, dtype: object
0           LG1
1         35780
2             T
3             9
4    ,,$,,,,,,.
5     C@FIGG@I.
Name: 31134, dtype: object
0           LG1
1         36970
2             C
3             8
4    .......^!.
5      IJJFDFC@
Name: 32057, dtype: object
0           LG1
1         36970
2             C
3             8
4    .......^!.
5      IJJFDFC@
Name: 32057, dtype: object
0           LG1
1         36970
2             C
3             8
4    .......^!.
5      IJJFDFC@
Name: 32057, dtype: object
0           LG1
1         36970
2             C
3             8
4    .......^!.
5      IJJFDFC@
Name: 32057, dtype: object
0           LG1
1         36970
2             C
3             8
4    .......^!.
5      IJJFDFC@
Name: 32057, dtype: object
0           LG1
1         36970
2             C
3             8
4    .......^!.
5      IJJFDFC@
Name: 32057, dtype: object
0           LG1
1         36970
2             C
3             8
4    .......^!.
5      IJJFDFC@
Name: 32057, dtype: object
0           LG1
1         36970
2             C
3             8
4    .......^!.
5      IJJFDFC@
Name: 32057, dtype: object
0           LG1
1         37320
2             A
3            10
4    ccttccCccc
5    8IE?BDID@@
Name: 32407, dtype: object
0           LG1
1         37320
2             A
3            10
4    ccttccCccc
5    8IE?BDID@@
Name: 32407, dtype: object
0           LG1
1         37320
2             A
3            10
4    ccttccCccc
5    8IE?BDID@@
Name: 32407, dtype: object
0           LG1
1         37320
2             A
3            10
4    ccttccCccc
5    8IE?BDID@@
Name: 32407, dtype: object
0           LG1
1         37320
2             A
3            10
4    ccttccCccc
5    8IE?BDID@@
Name: 32407, dtype: object
0           LG1
1         37320
2             A
3            10
4    ccttccCccc
5    8IE?BDID@@
Name: 32407, dtype: object
0           LG1
1         37320
2             A
3            10
4    ccttccCccc
5    8IE?BDID@@
Name: 32407, dtype: object
0           LG1
1         37320
2             A
3            10
4    ccttccCccc
5    8IE?BDID@@
Name: 32407, dtype: object
0           LG1
1         37320
2             A
3            10
4    ccttccCccc
5    8IE?BDID@@
Name: 32407, dtype: object
0           LG1
1         37321
2             T
3            10
4    ,,,,,,.,,,
5    8E=D<DIB?8
Name: 32408, dtype: object
0           LG1
1         37321
2             T
3            10
4    ,,,,,,.,,,
5    8E=D<DIB?8
Name: 32408, dtype: object
0           LG1
1         37321
2             T
3            10
4    ,,,,,,.,,,
5    8E=D<DIB?8
Name: 32408, dtype: object
0           LG1
1         37321
2             T
3            10
4    ,,,,,,.,,,
5    8E=D<DIB?8
Name: 32408, dtype: object
0           LG1
1         37321
2             T
3            10
4    ,,,,,,.,,,
5    8E=D<DIB?8
Name: 32408, dtype: object
0           LG1
1         37321
2             T
3            10
4    ,,,,,,.,,,
5    8E=D<DIB?8
Name: 32408, dtype: object
0           LG1
1         37503
2             T
3            10
4    .,.,.,,,,,
5    DJjHiGCCJD
Name: 32590, dtype: object
0           LG1
1         37503
2             T
3            10
4    .,.,.,,,,,
5    DJjHiGCCJD
Name: 32590, dtype: object
0           LG1
1         37503
2             T
3            10
4    .,.,.,,,,,
5    DJjHiGCCJD
Name: 32590, dtype: object
0           LG1
1         37503
2             T
3            10
4    .,.,.,,,,,
5    DJjHiGCCJD
Name: 32590, dtype: object
0           LG1
1         37503
2             T
3            10
4    .,.,.,,,,,
5    DJjHiGCCJD
Name: 32590, dtype: object
0           LG1
1         37503
2             T
3            10
4    .,.,.,,,,,
5    DJjHiGCCJD
Name: 32590, dtype: object
0           LG1
1         37503
2             T
3            10
4    .,.,.,,,,,
5    DJjHiGCCJD
Name: 32590, dtype: object
0           LG1
1         37503
2             T
3            10
4    .,.,.,,,,,
5    DJjHiGCCJD
Name: 32590, dtype: object
0           LG1
1         37503
2             T
3            10
4    .,.,.,,,,,
5    DJjHiGCCJD
Name: 32590, dtype: object
0           LG1
1         37503
2             T
3            10
4    .,.,.,,,,,
5    DJjHiGCCJD
Name: 32590, dtype: object
0           LG1
1         37504
2             G
3            10
4    .,.,.,,,,,
5    DJjDgC94JD
Name: 32591, dtype: object

0           LG1
1         37504
2             G
3            10
4    .,.,.,,,,,
5    DJjDgC94JD
Name: 32591, dtype: object
0           LG1
1         37504
2             G
3            10
4    .,.,.,,,,,
5    DJjDgC94JD
Name: 32591, dtype: object
0           LG1
1         37504
2             G
3            10
4    .,.,.,,,,,
5    DJjDgC94JD
Name: 32591, dtype: object
0           LG1
1         37504
2             G
3            10
4    .,.,.,,,,,
5    DJjDgC94JD
Name: 32591, dtype: object
0           LG1
1         37504
2             G
3            10
4    .,.,.,,,,,
5    DJjDgC94JD
Name: 32591, dtype: object
0           LG1
1         37504
2             G
3            10
4    .,.,.,,,,,
5    DJjDgC94JD
Name: 32591, dtype: object
0           LG1
1         37504
2             G
3            10
4    .,.,.,,,,,
5    DJjDgC94JD
Name: 32591, dtype: object
0           LG1
1         37505
2             A
3            10
4    .,.,.,,,,,
5    DJiIhEC=JE
Name: 32592, dtype: object
0           LG1
1         37505
2             A
3            10
4    .,.,.,,,,,
5    DJiIhEC=JE
Name: 32592, dtype: object
0           LG1
1         37505
2             A
3            10
4    .,.,.,,,,,
5    DJiIhEC=JE
Name: 32592, dtype: object
0           LG1
1         37505
2             A
3            10
4    .,.,.,,,,,
5    DJiIhEC=JE
Name: 32592, dtype: object
0           LG1
1         37505
2             A
3            10
4    .,.,.,,,,,
5    DJiIhEC=JE
Name: 32592, dtype: object
0           LG1
1         37505
2             A
3            10
4    .,.,.,,,,,
5    DJiIhEC=JE
Name: 32592, dtype: object
0           LG1
1         37505
2             A
3            10
4    .,.,.,,,,,
5    DJiIhEC=JE
Name: 32592, dtype: object
0           LG1
1         37505
2             A
3            10
4    .,.,.,,,,,
5    DJiIhEC=JE
Name: 32592, dtype: object
0           LG1
1         37505
2             A
3            10
4    .,.,.,,,,,
5    DJiIhEC=JE
Name: 32592, dtype: object
0           LG1
1         37506
2             T
3            10
4    .,.,.,,,,,
5    EIjEhGCFJD
Name: 32593, dtype: object
0           LG1
1         37506
2             T
3            10
4    .,.,.,,,,,
5    EIjEhGCFJD
Name: 32593, dtype: object
0           LG1
1         37506
2             T
3            10
4    .,.,.,,,,,
5    EIjEhGCFJD
Name: 32593, dtype: object
0           LG1
1         37506
2             T
3            10
4    .,.,.,,,,,
5    EIjEhGCFJD
Name: 32593, dtype: object
0           LG1
1         37506
2             T
3            10
4    .,.,.,,,,,
5    EIjEhGCFJD
Name: 32593, dtype: object
0           LG1
1         37506
2             T
3            10
4    .,.,.,,,,,
5    EIjEhGCFJD
Name: 32593, dtype: object
0           LG1
1         37506
2             T
3            10
4    .,.,.,,,,,
5    EIjEhGCFJD
Name: 32593, dtype: object
0           LG1
1         37506
2             T
3            10
4    .,.,.,,,,,
5    EIjEhGCFJD
Name: 32593, dtype: object
0           LG1
1         37506
2             T
3            10
4    .,.,.,,,,,
5    EIjEhGCFJD
Name: 32593, dtype: object
0           LG1
1         37506
2             T
3            10
4    .,.,.,,,,,
5    EIjEhGCFJD
Name: 32593, dtype: object
0           LG1
1         37507
2             T
3            10
4    .,.,.,,,,,
5    DHiGiGCBJE
Name: 32594, dtype: object
0           LG1
1         37507
2             T
3            10
4    .,.,.,,,,,
5    DHiGiGCBJE
Name: 32594, dtype: object
0           LG1
1         37507
2             T
3            10
4    .,.,.,,,,,
5    DHiGiGCBJE
Name: 32594, dtype: object
0           LG1
1         37507
2             T
3            10
4    .,.,.,,,,,
5    DHiGiGCBJE
Name: 32594, dtype: object
0           LG1
1         37507
2             T
3            10
4    .,.,.,,,,,
5    DHiGiGCBJE
Name: 32594, dtype: object
0           LG1
1         37507
2             T
3            10
4    .,.,.,,,,,
5    DHiGiGCBJE
Name: 32594, dtype: object
0           LG1
1         37507
2             T
3            10
4    .,.,.,,,,,
5    DHiGiGCBJE
Name: 32594, dtype: object
0           LG1
1         37507
2             T
3            10
4    .,.,.,,,,,
5    DHiGiGCBJE
Name: 32594, dtype: object
0           LG1
1         37507
2             T
3            10
4    .,.,.,,,,,
5    DHiGiGCBJE
Name: 32594, dtype: object
0           LG1
1         37507
2             T
3            10
4    .,.,.,,,,,
5    DHiGiGCBJE
Name: 32594, dtype: object
0           LG1
1         37509
2             T
3            10
4    .,.,.,,,,,
5    DGiGgCC2JD
Name: 32596, dtype: object
0           LG1
1         37509
2             T
3            10
4    .,.,.,,,,,
5    DGiGgCC2JD
Name: 32596, dtype: object
0           LG1
1         37509
2             T
3            10
4    .,.,.,,,,,
5    DGiGgCC2JD
Name: 32596, dtype: object
0           LG1
1         37509
2             T
3            10
4    .,.,.,,,,,
5    DGiGgCC2JD
Name: 32596, dtype: object
0           LG1
1         37509
2             T
3            10
4    .,.,.,,,,,
5    DGiGgCC2JD
Name: 32596, dtype: object
0           LG1
1         37509
2             T
3            10
4    .,.,.,,,,,
5    DGiGgCC2JD
Name: 32596, dtype: object
0           LG1
1         37509
2             T
3            10
4    .,.,.,,,,,
5    DGiGgCC2JD
Name: 32596, dtype: object
0           LG1
1         37509
2             T
3            10
4    .,.,.,,,,,
5    DGiGgCC2JD
Name: 32596, dtype: object
0           LG1
1         37509
2             T
3            10
4    .,.,.,,,,,
5    DGiGgCC2JD
Name: 32596, dtype: object
0           LG1
1         37511
2             A
3             9
4    .$,.,.,,,,
5     >HmFiH:ID
Name: 32598, dtype: object
0           LG1
1         37511
2             A
3             9
4    .$,.,.,,,,
5     >HmFiH:ID
Name: 32598, dtype: object
0           LG1
1         37511
2             A
3             9
4    .$,.,.,,,,
5     >HmFiH:ID
Name: 32598, dtype: object
0           LG1
1         37511
2             A
3             9
4    .$,.,.,,,,
5     >HmFiH:ID
Name: 32598, dtype: object
0           LG1
1         37511
2             A
3             9
4    .$,.,.,,,,
5     >HmFiH:ID
Name: 32598, dtype: object
0           LG1
1         37511
2             A
3             9
4    .$,.,.,,,,
5     >HmFiH:ID
Name: 32598, dtype: object
0           LG1
1         37511
2             A
3             9
4    .$,.,.,,,,
5     >HmFiH:ID
Name: 32598, dtype: object
0           LG1
1         37514
2             A
3             9
4    ,.,.,,,$,,
5     FkEeGB8JD
Name: 32601, dtype: object
0           LG1
1         37514
2             A
3             9
4    ,.,.,,,$,,
5     FkEeGB8JD
Name: 32601, dtype: object
0           LG1
1         37514
2             A
3             9
4    ,.,.,,,$,,
5     FkEeGB8JD
Name: 32601, dtype: object
0           LG1
1         37514
2             A
3             9
4    ,.,.,,,$,,
5     FkEeGB8JD
Name: 32601, dtype: object
0           LG1
1         37514
2             A
3             9
4    ,.,.,,,$,,
5     FkEeGB8JD
Name: 32601, dtype: object
0           LG1
1         37514
2             A
3             9
4    ,.,.,,,$,,
5     FkEeGB8JD
Name: 32601, dtype: object
0           LG1
1         37514
2             A
3             9
4    ,.,.,,,$,,
5     FkEeGB8JD
Name: 32601, dtype: object
0           LG1
1         37514
2             A
3             9
4    ,.,.,,,$,,
5     FkEeGB8JD
Name: 32601, dtype: object
0           LG1
1         38081
2             T
3             8
4    .......^!.
5      GJJJIHFB
Name: 33047, dtype: object
0           LG1
1         38081
2             T
3             8
4    .......^!.
5      GJJJIHFB
Name: 33047, dtype: object
0           LG1
1         38081
2             T
3             8
4    .......^!.
5      GJJJIHFB
Name: 33047, dtype: object
0           LG1
1         38081
2             T
3             8
4    .......^!.
5      GJJJIHFB
Name: 33047, dtype: object
0           LG1
1         38081
2             T
3             8
4    .......^!.
5      GJJJIHFB
Name: 33047, dtype: object
0           LG1
1         38081
2             T
3             8
4    .......^!.
5      GJJJIHFB
Name: 33047, dtype: object
0           LG1
1         38081
2             T
3             8
4    .......^!.
5      GJJJIHFB
Name: 33047, dtype: object
0           LG1
1         38081
2             T
3             8
4    .......^!.
5      GJJJIHFB
Name: 33047, dtype: object
0           LG1
1         38141
2             A
3             9
4    .$........
5     BDDDEIJJJ
Name: 33107, dtype: object
0           LG1
1         38141
2             A
3             9
4    .$........
5     BDDDEIJJJ
Name: 33107, dtype: object
0           LG1
1         38141
2             A
3             9
4    .$........
5     BDDDEIJJJ
Name: 33107, dtype: object
0           LG1
1         38141
2             A
3             9
4    .$........
5     BDDDEIJJJ
Name: 33107, dtype: object
0           LG1
1         38141
2             A
3             9
4    .$........
5     BDDDEIJJJ
Name: 33107, dtype: object
0           LG1
1         38141
2             A
3             9
4    .$........
5     BDDDEIJJJ
Name: 33107, dtype: object
0           LG1
1         38141
2             A
3             9
4    .$........
5     BDDDEIJJJ
Name: 33107, dtype: object
0           LG1
1         38141
2             A
3             9
4    .$........
5     BDDDEIJJJ
Name: 33107, dtype: object
0           LG1
1         38141
2             A
3             9
4    .$........
5     BDDDEIJJJ
Name: 33107, dtype: object
0           LG1
1         38224
2             A
3            10
4    ,,.,,,,,,,
5    IJJIJJJJHD
Name: 33190, dtype: object
0           LG1
1         38224
2             A
3            10
4    ,,.,,,,,,,
5    IJJIJJJJHD
Name: 33190, dtype: object
0           LG1
1         38224
2             A
3            10
4    ,,.,,,,,,,
5    IJJIJJJJHD
Name: 33190, dtype: object
0           LG1
1         38224
2             A
3            10
4    ,,.,,,,,,,
5    IJJIJJJJHD
Name: 33190, dtype: object
0           LG1
1         38224
2             A
3            10
4    ,,.,,,,,,,
5    IJJIJJJJHD
Name: 33190, dtype: object
0           LG1
1         38224
2             A
3            10
4    ,,.,,,,,,,
5    IJJIJJJJHD
Name: 33190, dtype: object
0           LG1
1         38224
2             A
3            10
4    ,,.,,,,,,,
5    IJJIJJJJHD
Name: 33190, dtype: object
0           LG1
1         38224
2             A
3            10
4    ,,.,,,,,,,
5    IJJIJJJJHD
Name: 33190, dtype: object
0           LG1
1         38224
2             A
3            10
4    ,,.,,,,,,,
5    IJJIJJJJHD
Name: 33190, dtype: object
0           LG1
1         38224
2             A
3            10
4    ,,.,,,,,,,
5    IJJIJJJJHD
Name: 33190, dtype: object
0           LG1
1         38225
2             A
3            10
4    ,,.,,,,,,,
5    GJIHJJJJHE
Name: 33191, dtype: object
0           LG1
1         38225
2             A
3            10
4    ,,.,,,,,,,
5    GJIHJJJJHE
Name: 33191, dtype: object
0           LG1
1         38225
2             A
3            10
4    ,,.,,,,,,,
5    GJIHJJJJHE
Name: 33191, dtype: object
0           LG1
1         38225
2             A
3            10
4    ,,.,,,,,,,
5    GJIHJJJJHE
Name: 33191, dtype: object
0           LG1
1         38225
2             A
3            10
4    ,,.,,,,,,,
5    GJIHJJJJHE
Name: 33191, dtype: object
0           LG1
1         38225
2             A
3            10
4    ,,.,,,,,,,
5    GJIHJJJJHE
Name: 33191, dtype: object
0           LG1
1         38225
2             A
3            10
4    ,,.,,,,,,,
5    GJIHJJJJHE
Name: 33191, dtype: object
0           LG1
1         38225
2             A
3            10
4    ,,.,,,,,,,
5    GJIHJJJJHE
Name: 33191, dtype: object
0           LG1
1         38225
2             A
3            10
4    ,,.,,,,,,,
5    GJIHJJJJHE
Name: 33191, dtype: object
0           LG1
1         38225
2             A
3            10
4    ,,.,,,,,,,
5    GJIHJJJJHE
Name: 33191, dtype: object
0           LG1
1         38277
2             C
3            10
4    ,,,,,.,..t
5    FHIJHJEJIG
Name: 33243, dtype: object
0           LG1
1         38277
2             C
3            10
4    ,,,,,.,..t
5    FHIJHJEJIG
Name: 33243, dtype: object
0           LG1
1         38277
2             C
3            10
4    ,,,,,.,..t
5    FHIJHJEJIG
Name: 33243, dtype: object
0           LG1
1         38277
2             C
3            10
4    ,,,,,.,..t
5    FHIJHJEJIG
Name: 33243, dtype: object
0           LG1
1         38277
2             C
3            10
4    ,,,,,.,..t
5    FHIJHJEJIG
Name: 33243, dtype: object
0           LG1
1         38277
2             C
3            10
4    ,,,,,.,..t
5    FHIJHJEJIG
Name: 33243, dtype: object
0           LG1
1         38277
2             C
3            10
4    ,,,,,.,..t
5    FHIJHJEJIG
Name: 33243, dtype: object
0           LG1
1         38277
2             C
3            10
4    ,,,,,.,..t
5    FHIJHJEJIG
Name: 33243, dtype: object
0           LG1
1         38277
2             C
3            10
4    ,,,,,.,..t
5    FHIJHJEJIG
Name: 33243, dtype: object
0           LG1
1         38277
2             C
3            10
4    ,,,,,.,..t
5    FHIJHJEJIG
Name: 33243, dtype: object
0           LG1
1         38279
2             A
3            10
4    ,,,,,.,..,
5    BDHIDIFJIG
Name: 33245, dtype: object
0           LG1
1         38279
2             A
3            10
4    ,,,,,.,..,
5    BDHIDIFJIG
Name: 33245, dtype: object
0           LG1
1         38279
2             A
3            10
4    ,,,,,.,..,
5    BDHIDIFJIG
Name: 33245, dtype: object
0           LG1
1         38279
2             A
3            10
4    ,,,,,.,..,
5    BDHIDIFJIG
Name: 33245, dtype: object
0           LG1
1         38279
2             A
3            10
4    ,,,,,.,..,
5    BDHIDIFJIG
Name: 33245, dtype: object
0           LG1
1         38279
2             A
3            10
4    ,,,,,.,..,
5    BDHIDIFJIG
Name: 33245, dtype: object
0           LG1
1         38279
2             A
3            10
4    ,,,,,.,..,
5    BDHIDIFJIG
Name: 33245, dtype: object
0           LG1
1         38279
2             A
3            10
4    ,,,,,.,..,
5    BDHIDIFJIG
Name: 33245, dtype: object
0           LG1
1         38279
2             A
3            10
4    ,,,,,.,..,
5    BDHIDIFJIG
Name: 33245, dtype: object
0           LG1
1         38279
2             A
3            10
4    ,,,,,.,..,
5    BDHIDIFJIG
Name: 33245, dtype: object
0           LG1
1         38281
2             A
3            10
4    ,,,,.,..,,
5    DEGGIDJIB<
Name: 33247, dtype: object
0           LG1
1         38281
2             A
3            10
4    ,,,,.,..,,
5    DEGGIDJIB<
Name: 33247, dtype: object
0           LG1
1         38281
2             A
3            10
4    ,,,,.,..,,
5    DEGGIDJIB<

Name: 33247, dtype: object
0           LG1
1         38281
2             A
3            10
4    ,,,,.,..,,
5    DEGGIDJIB<
Name: 33247, dtype: object
0           LG1
1         38281
2             A
3            10
4    ,,,,.,..,,
5    DEGGIDJIB<
Name: 33247, dtype: object
0           LG1
1         38281
2             A
3            10
4    ,,,,.,..,,
5    DEGGIDJIB<
Name: 33247, dtype: object
0           LG1
1         38281
2             A
3            10
4    ,,,,.,..,,
5    DEGGIDJIB<
Name: 33247, dtype: object
0           LG1
1         38281
2             A
3            10
4    ,,,,.,..,,
5    DEGGIDJIB<
Name: 33247, dtype: object
0           LG1
1         38281
2             A
3            10
4    ,,,,.,..,,
5    DEGGIDJIB<
Name: 33247, dtype: object
0           LG1
1         38282
2             C
3            10
4    ,,,,.,..,,
5    FJJIJIJII?
Name: 33248, dtype: object
0           LG1
1         38282
2             C
3            10
4    ,,,,.,..,,
5    FJJIJIJII?
Name: 33248, dtype: object
0           LG1
1         38282
2             C
3            10
4    ,,,,.,..,,
5    FJJIJIJII?
Name: 33248, dtype: object
0           LG1
1         38282
2             C
3            10
4    ,,,,.,..,,
5    FJJIJIJII?
Name: 33248, dtype: object
0           LG1
1         38282
2             C
3            10
4    ,,,,.,..,,
5    FJJIJIJII?
Name: 33248, dtype: object
0           LG1
1         38282
2             C
3            10
4    ,,,,.,..,,
5    FJJIJIJII?
Name: 33248, dtype: object
0           LG1
1         38282
2             C
3            10
4    ,,,,.,..,,
5    FJJIJIJII?
Name: 33248, dtype: object
0           LG1
1         38282
2             C
3            10
4    ,,,,.,..,,
5    FJJIJIJII?
Name: 33248, dtype: object
0           LG1
1         38282
2             C
3            10
4    ,,,,.,..,,
5    FJJIJIJII?
Name: 33248, dtype: object
0           LG1
1         38282
2             C
3            10
4    ,,,,.,..,,
5    FJJIJIJII?
Name: 33248, dtype: object
0           LG1
1         38283
2             C
3            10
4    ,,a,.,..,,
5    FIJGJHJIH7
Name: 33249, dtype: object
0           LG1
1         38283
2             C
3            10
4    ,,a,.,..,,
5    FIJGJHJIH7
Name: 33249, dtype: object
0           LG1
1         38283
2             C
3            10
4    ,,a,.,..,,
5    FIJGJHJIH7
Name: 33249, dtype: object
0           LG1
1         38283
2             C
3            10
4    ,,a,.,..,,
5    FIJGJHJIH7
Name: 33249, dtype: object
0           LG1
1         38283
2             C
3            10
4    ,,a,.,..,,
5    FIJGJHJIH7
Name: 33249, dtype: object
0           LG1
1         38283
2             C
3            10
4    ,,a,.,..,,
5    FIJGJHJIH7
Name: 33249, dtype: object
0           LG1
1         38283
2             C
3            10
4    ,,a,.,..,,
5    FIJGJHJIH7
Name: 33249, dtype: object
0           LG1
1         38283
2             C
3            10
4    ,,a,.,..,,
5    FIJGJHJIH7
Name: 33249, dtype: object
0           LG1
1         38283
2             C
3            10
4    ,,a,.,..,,
5    FIJGJHJIH7
Name: 33249, dtype: object
0           LG1
1         38288
2             C
3            10
4    ,,,.,..,,,
5    HJJIIJIJ?4
Name: 33254, dtype: object
0           LG1
1         38288
2             C
3            10
4    ,,,.,..,,,
5    HJJIIJIJ?4
Name: 33254, dtype: object
0           LG1
1         38288
2             C
3            10
4    ,,,.,..,,,
5    HJJIIJIJ?4
Name: 33254, dtype: object
0           LG1
1         38288
2             C
3            10
4    ,,,.,..,,,
5    HJJIIJIJ?4
Name: 33254, dtype: object
0           LG1
1         38288
2             C
3            10
4    ,,,.,..,,,
5    HJJIIJIJ?4
Name: 33254, dtype: object
0           LG1
1         38288
2             C
3            10
4    ,,,.,..,,,
5    HJJIIJIJ?4
Name: 33254, dtype: object
0           LG1
1         38288
2             C
3            10
4    ,,,.,..,,,
5    HJJIIJIJ?4
Name: 33254, dtype: object
0           LG1
1         38288
2             C
3            10
4    ,,,.,..,,,
5    HJJIIJIJ?4
Name: 33254, dtype: object
0           LG1
1         38288
2             C
3            10
4    ,,,.,..,,,
5    HJJIIJIJ?4
Name: 33254, dtype: object
0           LG1
1         38308
2             T
3             9
4    ,$,.,..,,.
5     @J@JEFIJH
Name: 33274, dtype: object
0           LG1
1         38308
2             T
3             9
4    ,$,.,..,,.
5     @J@JEFIJH
Name: 33274, dtype: object
0           LG1
1         38308
2             T
3             9
4    ,$,.,..,,.
5     @J@JEFIJH
Name: 33274, dtype: object
0           LG1
1         38308
2             T
3             9
4    ,$,.,..,,.
5     @J@JEFIJH
Name: 33274, dtype: object
0           LG1
1         38308
2             T
3             9
4    ,$,.,..,,.
5     @J@JEFIJH
Name: 33274, dtype: object
0           LG1
1         38308
2             T
3             9
4    ,$,.,..,,.
5     @J@JEFIJH
Name: 33274, dtype: object
0           LG1
1         38308
2             T
3             9
4    ,$,.,..,,.
5     @J@JEFIJH
Name: 33274, dtype: object
0           LG1
1         38308
2             T
3             9
4    ,$,.,..,,.
5     @J@JEFIJH
Name: 33274, dtype: object
0           LG1
1         38308
2             T
3             9
4    ,$,.,..,,.
5     @J@JEFIJH
Name: 33274, dtype: object
0           LG1
1         38417
2             G
3            10
4    ,,........
5    FF5DA@5?IB
Name: 33383, dtype: object
0           LG1
1         38417
2             G
3            10
4    ,,........
5    FF5DA@5?IB
Name: 33383, dtype: object
0           LG1
1         38417
2             G
3            10
4    ,,........
5    FF5DA@5?IB
Name: 33383, dtype: object
0           LG1
1         38417
2             G
3            10
4    ,,........
5    FF5DA@5?IB
Name: 33383, dtype: object
0           LG1
1         38417
2             G
3            10
4    ,,........
5    FF5DA@5?IB
Name: 33383, dtype: object
0           LG1
1         38417
2             G
3            10
4    ,,........
5    FF5DA@5?IB
Name: 33383, dtype: object
0           LG1
1         38417
2             G
3            10
4    ,,........
5    FF5DA@5?IB
Name: 33383, dtype: object
0           LG1
1         38417
2             G
3            10
4    ,,........
5    FF5DA@5?IB
Name: 33383, dtype: object
0           LG1
1         38418
2             A
3            10
4    ,,....G...
5    CF?BG6:?DB
Name: 33384, dtype: object
0           LG1
1         38418
2             A
3            10
4    ,,....G...
5    CF?BG6:?DB
Name: 33384, dtype: object
0           LG1
1         38418
2             A
3            10
4    ,,....G...
5    CF?BG6:?DB
Name: 33384, dtype: object
0           LG1
1         38418
2             A
3            10
4    ,,....G...
5    CF?BG6:?DB
Name: 33384, dtype: object
0           LG1
1         38418
2             A
3            10
4    ,,....G...
5    CF?BG6:?DB
Name: 33384, dtype: object
0           LG1
1         38418
2             A
3            10
4    ,,....G...
5    CF?BG6:?DB
Name: 33384, dtype: object
0           LG1
1         38418
2             A
3            10
4    ,,....G...
5    CF?BG6:?DB
Name: 33384, dtype: object
0           LG1
1         38418
2             A
3            10
4    ,,....G...
5    CF?BG6:?DB
Name: 33384, dtype: object
0           LG1
1         38420
2             G
3             9
4    ,$,.......
5     ;B9DEA?IE
Name: 33386, dtype: object
0           LG1
1         38420
2             G
3             9
4    ,$,.......
5     ;B9DEA?IE
Name: 33386, dtype: object
0           LG1
1         38420
2             G
3             9
4    ,$,.......
5     ;B9DEA?IE
Name: 33386, dtype: object
0           LG1
1         38420
2             G
3             9
4    ,$,.......
5     ;B9DEA?IE
Name: 33386, dtype: object
0           LG1
1         38420
2             G
3             9
4    ,$,.......
5     ;B9DEA?IE
Name: 33386, dtype: object
0           LG1
1         38420
2             G
3             9
4    ,$,.......
5     ;B9DEA?IE
Name: 33386, dtype: object
0           LG1
1         38420
2             G
3             9
4    ,$,.......
5     ;B9DEA?IE
Name: 33386, dtype: object
0           LG1
1         38421
2             G
3             8
4    ,$.$......
5      @@BEF?JE
Name: 33387, dtype: object
0           LG1
1         38421
2             G
3             8
4    ,$.$......
5      @@BEF?JE
Name: 33387, dtype: object
0           LG1
1         38421
2             G
3             8
4    ,$.$......
5      @@BEF?JE
Name: 33387, dtype: object
0           LG1
1         38421
2             G
3             8
4    ,$.$......
5      @@BEF?JE
Name: 33387, dtype: object
0           LG1
1         38421
2             G
3             8
4    ,$.$......
5      @@BEF?JE
Name: 33387, dtype: object
0           LG1
1         38421
2             G
3             8
4    ,$.$......
5      @@BEF?JE
Name: 33387, dtype: object
0           LG1
1         38421
2             G
3             8
4    ,$.$......
5      @@BEF?JE
Name: 33387, dtype: object
0           LG1
1         38421
2             G
3             8
4    ,$.$......
5      @@BEF?JE
Name: 33387, dtype: object
0           LG1
1         38606
2             T
3            10
4    ,,.,,..,..
5    FB7DDEG82D
Name: 33553, dtype: object
0           LG1
1         38606
2             T
3            10
4    ,,.,,..,..
5    FB7DDEG82D
Name: 33553, dtype: object
0           LG1
1         38606
2             T
3            10
4    ,,.,,..,..
5    FB7DDEG82D
Name: 33553, dtype: object
0           LG1
1         38606
2             T
3            10
4    ,,.,,..,..
5    FB7DDEG82D
Name: 33553, dtype: object
0           LG1
1         38606
2             T
3            10
4    ,,.,,..,..
5    FB7DDEG82D
Name: 33553, dtype: object
0           LG1
1         38606
2             T
3            10
4    ,,.,,..,..
5    FB7DDEG82D
Name: 33553, dtype: object
0           LG1
1         38606
2             T
3            10
4    ,,.,,..,..
5    FB7DDEG82D
Name: 33553, dtype: object
0           LG1
1         38607
2             T
3            10
4    ,,.,,..,..
5    DC>DDGH92D
Name: 33554, dtype: object
0           LG1
1         38607
2             T
3            10
4    ,,.,,..,..
5    DC>DDGH92D
Name: 33554, dtype: object
0           LG1
1         38607
2             T
3            10
4    ,,.,,..,..
5    DC>DDGH92D
Name: 33554, dtype: object
0           LG1
1         38607
2             T
3            10
4    ,,.,,..,..
5    DC>DDGH92D
Name: 33554, dtype: object
0           LG1
1         38607
2             T
3            10
4    ,,.,,..,..
5    DC>DDGH92D
Name: 33554, dtype: object
0           LG1
1         38607
2             T
3            10
4    ,,.,,..,..
5    DC>DDGH92D
Name: 33554, dtype: object
0           LG1
1         38607
2             T
3            10
4    ,,.,,..,..
5    DC>DDGH92D
Name: 33554, dtype: object
0           LG1
1         38608
2             T
3            10
4    ,,.,,..,..
5    DBADDEI:?F
Name: 33555, dtype: object
0           LG1
1         38608
2             T
3            10
4    ,,.,,..,..
5    DBADDEI:?F
Name: 33555, dtype: object
0           LG1
1         38608
2             T
3            10
4    ,,.,,..,..
5    DBADDEI:?F
Name: 33555, dtype: object
0           LG1
1         38608
2             T
3            10
4    ,,.,,..,..
5    DBADDEI:?F
Name: 33555, dtype: object
0           LG1
1         38608
2             T
3            10
4    ,,.,,..,..
5    DBADDEI:?F
Name: 33555, dtype: object
0           LG1
1         38608
2             T
3            10
4    ,,.,,..,..
5    DBADDEI:?F
Name: 33555, dtype: object
0           LG1
1         38608
2             T
3            10
4    ,,.,,..,..
5    DBADDEI:?F
Name: 33555, dtype: object
0           LG1
1         38608
2             T
3            10
4    ,,.,,..,..
5    DBADDEI:?F
Name: 33555, dtype: object
0           LG1
1         38608
2             T
3            10
4    ,,.,,..,..
5    DBADDEI:?F
Name: 33555, dtype: object
0           LG1
1         38609
2             T
3            10
4    ,,.,,..,..
5    D>DDDHI>AH
Name: 33556, dtype: object
0           LG1
1         38609
2             T
3            10
4    ,,.,,..,..
5    D>DDDHI>AH
Name: 33556, dtype: object
0           LG1
1         38609
2             T
3            10
4    ,,.,,..,..
5    D>DDDHI>AH
Name: 33556, dtype: object
0           LG1
1         38609
2             T
3            10
4    ,,.,,..,..
5    D>DDDHI>AH
Name: 33556, dtype: object
0           LG1
1         38609
2             T
3            10
4    ,,.,,..,..
5    D>DDDHI>AH
Name: 33556, dtype: object
0           LG1
1         38609
2             T
3            10
4    ,,.,,..,..
5    D>DDDHI>AH
Name: 33556, dtype: object
0           LG1
1         38609
2             T
3            10
4    ,,.,,..,..
5    D>DDDHI>AH
Name: 33556, dtype: object
0           LG1
1         38609
2             T
3            10
4    ,,.,,..,..
5    D>DDDHI>AH
Name: 33556, dtype: object
0           LG1
1         38610
2             T
3            10
4    ,,.,,..,..
5    D?DCCIJ?CH
Name: 33557, dtype: object
0           LG1
1         38610
2             T
3            10
4    ,,.,,..,..
5    D?DCCIJ?CH
Name: 33557, dtype: object
0           LG1
1         38610
2             T
3            10
4    ,,.,,..,..
5    D?DCCIJ?CH
Name: 33557, dtype: object
0           LG1
1         38610
2             T
3            10
4    ,,.,,..,..
5    D?DCCIJ?CH
Name: 33557, dtype: object
0           LG1
1         38610
2             T
3            10
4    ,,.,,..,..
5    D?DCCIJ?CH
Name: 33557, dtype: object
0           LG1
1         38610
2             T
3            10
4    ,,.,,..,..
5    D?DCCIJ?CH
Name: 33557, dtype: object
0           LG1
1         38610
2             T
3            10
4    ,,.,,..,..
5    D?DCCIJ?CH
Name: 33557, dtype: object
0           LG1
1         38610
2             T
3            10
4    ,,.,,..,..
5    D?DCCIJ?CH
Name: 33557, dtype: object
0           LG1
1         38610
2             T
3            10
4    ,,.,,..,..
5    D?DCCIJ?CH
Name: 33557, dtype: object
0           LG1
1         38610
2             T
3            10
4    ,,.,,..,..
5    D?DCCIJ?CH
Name: 33557, dtype: object
0           LG1
1         38611
2             C
3            10
4    ,,.,,..,..
5    >=DBDJG?>G
Name: 33558, dtype: object
0           LG1
1         38611
2             C
3            10
4    ,,.,,..,..
5    >=DBDJG?>G
Name: 33558, dtype: object
0           LG1
1         38611
2             C
3            10
4    ,,.,,..,..
5    >=DBDJG?>G
Name: 33558, dtype: object
0           LG1
1         38611
2             C
3            10
4    ,,.,,..,..
5    >=DBDJG?>G

Name: 33558, dtype: object
0           LG1
1         38611
2             C
3            10
4    ,,.,,..,..
5    >=DBDJG?>G
Name: 33558, dtype: object
0           LG1
1         38611
2             C
3            10
4    ,,.,,..,..
5    >=DBDJG?>G
Name: 33558, dtype: object
0           LG1
1         38611
2             C
3            10
4    ,,.,,..,..
5    >=DBDJG?>G
Name: 33558, dtype: object
0           LG1
1         38612
2             T
3            10
4    ,,.,,..,..
5    ;7CDDIF99G
Name: 33559, dtype: object
0           LG1
1         38612
2             T
3            10
4    ,,.,,..,..
5    ;7CDDIF99G
Name: 33559, dtype: object
0           LG1
1         38612
2             T
3            10
4    ,,.,,..,..
5    ;7CDDIF99G
Name: 33559, dtype: object
0           LG1
1         38612
2             T
3            10
4    ,,.,,..,..
5    ;7CDDIF99G
Name: 33559, dtype: object
0           LG1
1         38612
2             T
3            10
4    ,,.,,..,..
5    ;7CDDIF99G
Name: 33559, dtype: object
0           LG1
1         38612
2             T
3            10
4    ,,.,,..,..
5    ;7CDDIF99G
Name: 33559, dtype: object
0           LG1
1         38627
2             G
3            10
4    ,.,,..,...
5    FDDDIJ;8JD
Name: 33574, dtype: object
0           LG1
1         38627
2             G
3            10
4    ,.,,..,...
5    FDDDIJ;8JD
Name: 33574, dtype: object
0           LG1
1         38627
2             G
3            10
4    ,.,,..,...
5    FDDDIJ;8JD
Name: 33574, dtype: object
0           LG1
1         38627
2             G
3            10
4    ,.,,..,...
5    FDDDIJ;8JD
Name: 33574, dtype: object
0           LG1
1         38627
2             G
3            10
4    ,.,,..,...
5    FDDDIJ;8JD
Name: 33574, dtype: object
0           LG1
1         38627
2             G
3            10
4    ,.,,..,...
5    FDDDIJ;8JD
Name: 33574, dtype: object
0           LG1
1         38627
2             G
3            10
4    ,.,,..,...
5    FDDDIJ;8JD
Name: 33574, dtype: object
0           LG1
1         38627
2             G
3            10
4    ,.,,..,...
5    FDDDIJ;8JD
Name: 33574, dtype: object
0           LG1
1         38628
2             G
3            10
4    ,.,,..,...
5    DDEFIJ;=JD
Name: 33575, dtype: object
0           LG1
1         38628
2             G
3            10
4    ,.,,..,...
5    DDEFIJ;=JD
Name: 33575, dtype: object
0           LG1
1         38628
2             G
3            10
4    ,.,,..,...
5    DDEFIJ;=JD
Name: 33575, dtype: object
0           LG1
1         38628
2             G
3            10
4    ,.,,..,...
5    DDEFIJ;=JD
Name: 33575, dtype: object
0           LG1
1         38628
2             G
3            10
4    ,.,,..,...
5    DDEFIJ;=JD
Name: 33575, dtype: object
0           LG1
1         38628
2             G
3            10
4    ,.,,..,...
5    DDEFIJ;=JD
Name: 33575, dtype: object
0           LG1
1         38628
2             G
3            10
4    ,.,,..,...
5    DDEFIJ;=JD
Name: 33575, dtype: object
0           LG1
1         38628
2             G
3            10
4    ,.,,..,...
5    DDEFIJ;=JD
Name: 33575, dtype: object
0           LG1
1         38633
2             C
3            10
4    ,.,,..,...
5    HCGJDG=8GD
Name: 33580, dtype: object
0           LG1
1         38633
2             C
3            10
4    ,.,,..,...
5    HCGJDG=8GD
Name: 33580, dtype: object
0           LG1
1         38633
2             C
3            10
4    ,.,,..,...
5    HCGJDG=8GD
Name: 33580, dtype: object
0           LG1
1         38633
2             C
3            10
4    ,.,,..,...
5    HCGJDG=8GD
Name: 33580, dtype: object
0           LG1
1         38633
2             C
3            10
4    ,.,,..,...
5    HCGJDG=8GD
Name: 33580, dtype: object
0           LG1
1         38633
2             C
3            10
4    ,.,,..,...
5    HCGJDG=8GD
Name: 33580, dtype: object
0           LG1
1         38633
2             C
3            10
4    ,.,,..,...
5    HCGJDG=8GD
Name: 33580, dtype: object
0           LG1
1         38633
2             C
3            10
4    ,.,,..,...
5    HCGJDG=8GD
Name: 33580, dtype: object
0           LG1
1         38635
2             C
3            10
4    ,.,,..,T..
5    GDGIEI=>ID
Name: 33582, dtype: object
0           LG1
1         38635
2             C
3            10
4    ,.,,..,T..
5    GDGIEI=>ID
Name: 33582, dtype: object
0           LG1
1         38635
2             C
3            10
4    ,.,,..,T..
5    GDGIEI=>ID
Name: 33582, dtype: object
0           LG1
1         38635
2             C
3            10
4    ,.,,..,T..
5    GDGIEI=>ID
Name: 33582, dtype: object
0           LG1
1         38635
2             C
3            10
4    ,.,,..,T..
5    GDGIEI=>ID
Name: 33582, dtype: object
0           LG1
1         38635
2             C
3            10
4    ,.,,..,T..
5    GDGIEI=>ID
Name: 33582, dtype: object
0           LG1
1         38635
2             C
3            10
4    ,.,,..,T..
5    GDGIEI=>ID
Name: 33582, dtype: object
0           LG1
1         38635
2             C
3            10
4    ,.,,..,T..
5    GDGIEI=>ID
Name: 33582, dtype: object
0           LG1
1         38637
2             T
3            10
4    ,.,,..,..G
5    DDIIHGA=I?
Name: 33584, dtype: object
0           LG1
1         38637
2             T
3            10
4    ,.,,..,..G
5    DDIIHGA=I?
Name: 33584, dtype: object
0           LG1
1         38637
2             T
3            10
4    ,.,,..,..G
5    DDIIHGA=I?
Name: 33584, dtype: object
0           LG1
1         38637
2             T
3            10
4    ,.,,..,..G
5    DDIIHGA=I?
Name: 33584, dtype: object
0           LG1
1         38637
2             T
3            10
4    ,.,,..,..G
5    DDIIHGA=I?
Name: 33584, dtype: object
0           LG1
1         38637
2             T
3            10
4    ,.,,..,..G
5    DDIIHGA=I?
Name: 33584, dtype: object
0           LG1
1         38637
2             T
3            10
4    ,.,,..,..G
5    DDIIHGA=I?
Name: 33584, dtype: object
0           LG1
1         38637
2             T
3            10
4    ,.,,..,..G
5    DDIIHGA=I?
Name: 33584, dtype: object
0           LG1
1         38637
2             T
3            10
4    ,.,,..,..G
5    DDIIHGA=I?
Name: 33584, dtype: object
0           LG1
1         38638
2             C
3            10
4    ,.,,..,..T
5    FDGIFG@.J<
Name: 33585, dtype: object
0           LG1
1         38638
2             C
3            10
4    ,.,,..,..T
5    FDGIFG@.J<
Name: 33585, dtype: object
0           LG1
1         38638
2             C
3            10
4    ,.,,..,..T
5    FDGIFG@.J<
Name: 33585, dtype: object
0           LG1
1         38638
2             C
3            10
4    ,.,,..,..T
5    FDGIFG@.J<
Name: 33585, dtype: object
0           LG1
1         38638
2             C
3            10
4    ,.,,..,..T
5    FDGIFG@.J<
Name: 33585, dtype: object
0           LG1
1         38638
2             C
3            10
4    ,.,,..,..T
5    FDGIFG@.J<
Name: 33585, dtype: object
0           LG1
1         38638
2             C
3            10
4    ,.,,..,..T
5    FDGIFG@.J<
Name: 33585, dtype: object
0           LG1
1         38638
2             C
3            10
4    ,.,,..,..T
5    FDGIFG@.J<
Name: 33585, dtype: object
0           LG1
1         38640
2             A
3            10
4    ,.,,..,...
5    CDHGFD>=GD
Name: 33587, dtype: object
0           LG1
1         38640
2             A
3            10
4    ,.,,..,...
5    CDHGFD>=GD
Name: 33587, dtype: object
0           LG1
1         38640
2             A
3            10
4    ,.,,..,...
5    CDHGFD>=GD
Name: 33587, dtype: object
0           LG1
1         38640
2             A
3            10
4    ,.,,..,...
5    CDHGFD>=GD
Name: 33587, dtype: object
0           LG1
1         38640
2             A
3            10
4    ,.,,..,...
5    CDHGFD>=GD
Name: 33587, dtype: object
0           LG1
1         38640
2             A
3            10
4    ,.,,..,...
5    CDHGFD>=GD
Name: 33587, dtype: object
0           LG1
1         38640
2             A
3            10
4    ,.,,..,...
5    CDHGFD>=GD
Name: 33587, dtype: object
0           LG1
1         38640
2             A
3            10
4    ,.,,..,...
5    CDHGFD>=GD
Name: 33587, dtype: object
0           LG1
1         38641
2             T
3            10
4    ,.,,..,..A
5    <DDGFGBAID
Name: 33588, dtype: object
0           LG1
1         38641
2             T
3            10
4    ,.,,..,..A
5    <DDGFGBAID
Name: 33588, dtype: object
0           LG1
1         38641
2             T
3            10
4    ,.,,..,..A
5    <DDGFGBAID
Name: 33588, dtype: object
0           LG1
1         38641
2             T
3            10
4    ,.,,..,..A
5    <DDGFGBAID
Name: 33588, dtype: object
0           LG1
1         38641
2             T
3            10
4    ,.,,..,..A
5    <DDGFGBAID
Name: 33588, dtype: object
0           LG1
1         38641
2             T
3            10
4    ,.,,..,..A
5    <DDGFGBAID
Name: 33588, dtype: object
0           LG1
1         38641
2             T
3            10
4    ,.,,..,..A
5    <DDGFGBAID
Name: 33588, dtype: object
0           LG1
1         38641
2             T
3            10
4    ,.,,..,..A
5    <DDGFGBAID
Name: 33588, dtype: object
0           LG1
1         38641
2             T
3            10
4    ,.,,..,..A
5    <DDGFGBAID
Name: 33588, dtype: object
0           LG1
1         38642
2             A
3            10
4    ,.,,..,...
5    2E8DFEBBJD
Name: 33589, dtype: object
0           LG1
1         38642
2             A
3            10
4    ,.,,..,...
5    2E8DFEBBJD
Name: 33589, dtype: object
0           LG1
1         38642
2             A
3            10
4    ,.,,..,...
5    2E8DFEBBJD
Name: 33589, dtype: object
0           LG1
1         38642
2             A
3            10
4    ,.,,..,...
5    2E8DFEBBJD
Name: 33589, dtype: object
0           LG1
1         38642
2             A
3            10
4    ,.,,..,...
5    2E8DFEBBJD
Name: 33589, dtype: object
0           LG1
1         38642
2             A
3            10
4    ,.,,..,...
5    2E8DFEBBJD
Name: 33589, dtype: object
0           LG1
1         38642
2             A
3            10
4    ,.,,..,...
5    2E8DFEBBJD
Name: 33589, dtype: object
0           LG1
1         38642
2             A
3            10
4    ,.,,..,...
5    2E8DFEBBJD
Name: 33589, dtype: object
0           LG1
1         38834
2             T
3            10
4    a..,,,,,,,
5    =CDHCJEEDE
Name: 33781, dtype: object
0           LG1
1         38834
2             T
3            10
4    a..,,,,,,,
5    =CDHCJEEDE
Name: 33781, dtype: object
0           LG1
1         38834
2             T
3            10
4    a..,,,,,,,
5    =CDHCJEEDE
Name: 33781, dtype: object
0           LG1
1         38834
2             T
3            10
4    a..,,,,,,,
5    =CDHCJEEDE
Name: 33781, dtype: object
0           LG1
1         38834
2             T
3            10
4    a..,,,,,,,
5    =CDHCJEEDE
Name: 33781, dtype: object
0           LG1
1         38834
2             T
3            10
4    a..,,,,,,,
5    =CDHCJEEDE
Name: 33781, dtype: object
0           LG1
1         38834
2             T
3            10
4    a..,,,,,,,
5    =CDHCJEEDE
Name: 33781, dtype: object
0           LG1
1         38834
2             T
3            10
4    a..,,,,,,,
5    =CDHCJEEDE
Name: 33781, dtype: object
0           LG1
1         38834
2             T
3            10
4    a..,,,,,,,
5    =CDHCJEEDE
Name: 33781, dtype: object
0           LG1
1         38835
2             A
3            10
4    ,..,,,,,,,
5    =DDICJCEAD
Name: 33782, dtype: object
0           LG1
1         38835
2             A
3            10
4    ,..,,,,,,,
5    =DDICJCEAD
Name: 33782, dtype: object
0           LG1
1         38835
2             A
3            10
4    ,..,,,,,,,
5    =DDICJCEAD
Name: 33782, dtype: object
0           LG1
1         38835
2             A
3            10
4    ,..,,,,,,,
5    =DDICJCEAD
Name: 33782, dtype: object
0           LG1
1         38835
2             A
3            10
4    ,..,,,,,,,
5    =DDICJCEAD
Name: 33782, dtype: object
0           LG1
1         38835
2             A
3            10
4    ,..,,,,,,,
5    =DDICJCEAD
Name: 33782, dtype: object
0           LG1
1         38835
2             A
3            10
4    ,..,,,,,,,
5    =DDICJCEAD
Name: 33782, dtype: object
0           LG1
1         38835
2             A
3            10
4    ,..,,,,,,,
5    =DDICJCEAD
Name: 33782, dtype: object
0           LG1
1         38835
2             A
3            10
4    ,..,,,,,,,
5    =DDICJCEAD
Name: 33782, dtype: object
0           LG1
1         39027
2             T
3            10
4    ,,,,,,,,,,
5    2JJJFIDF<<
Name: 33974, dtype: object
0           LG1
1         39027
2             T
3            10
4    ,,,,,,,,,,
5    2JJJFIDF<<
Name: 33974, dtype: object
0           LG1
1         39027
2             T
3            10
4    ,,,,,,,,,,
5    2JJJFIDF<<
Name: 33974, dtype: object
0           LG1
1         39027
2             T
3            10
4    ,,,,,,,,,,
5    2JJJFIDF<<
Name: 33974, dtype: object
0           LG1
1         39027
2             T
3            10
4    ,,,,,,,,,,
5    2JJJFIDF<<
Name: 33974, dtype: object
0           LG1
1         39027
2             T
3            10
4    ,,,,,,,,,,
5    2JJJFIDF<<
Name: 33974, dtype: object
0           LG1
1         39027
2             T
3            10
4    ,,,,,,,,,,
5    2JJJFIDF<<
Name: 33974, dtype: object
0           LG1
1         39042
2             T
3            10
4    ,,,,,,,,,,
5    FHIII?A9@D
Name: 33989, dtype: object
0           LG1
1         39042
2             T
3            10
4    ,,,,,,,,,,
5    FHIII?A9@D
Name: 33989, dtype: object
0           LG1
1         39042
2             T
3            10
4    ,,,,,,,,,,
5    FHIII?A9@D
Name: 33989, dtype: object
0           LG1
1         39042
2             T
3            10
4    ,,,,,,,,,,
5    FHIII?A9@D
Name: 33989, dtype: object
0           LG1
1         39042
2             T
3            10
4    ,,,,,,,,,,
5    FHIII?A9@D
Name: 33989, dtype: object
0           LG1
1         39042
2             T
3            10
4    ,,,,,,,,,,
5    FHIII?A9@D
Name: 33989, dtype: object
0           LG1
1         39042
2             T
3            10
4    ,,,,,,,,,,
5    FHIII?A9@D
Name: 33989, dtype: object
0           LG1
1         39042
2             T
3            10
4    ,,,,,,,,,,
5    FHIII?A9@D
Name: 33989, dtype: object
0           LG1
1         39042
2             T
3            10
4    ,,,,,,,,,,
5    FHIII?A9@D
Name: 33989, dtype: object
0           LG1
1         39046
2             T
3             9
4    ,,,,,,,,,$
5     CGJIIF?@6
Name: 33993, dtype: object
0           LG1
1         39046
2             T
3             9
4    ,,,,,,,,,$
5     CGJIIF?@6
Name: 33993, dtype: object
0           LG1
1         39046
2             T
3             9
4    ,,,,,,,,,$
5     CGJIIF?@6
Name: 33993, dtype: object
0           LG1
1         39046
2             T
3             9
4    ,,,,,,,,,$
5     CGJIIF?@6
Name: 33993, dtype: object
0           LG1
1         39046
2             T
3             9
4    ,,,,,,,,,$
5     CGJIIF?@6

Name: 33993, dtype: object
0           LG1
1         39046
2             T
3             9
4    ,,,,,,,,,$
5     CGJIIF?@6
Name: 33993, dtype: object
0           LG1
1         39046
2             T
3             9
4    ,,,,,,,,,$
5     CGJIIF?@6
Name: 33993, dtype: object
0           LG1
1         39046
2             T
3             9
4    ,,,,,,,,,$
5     CGJIIF?@6
Name: 33993, dtype: object
0           LG1
1         39291
2             A
3             8
4    ...,...^!,
5      AE:GBHF;
Name: 34238, dtype: object
0           LG1
1         39291
2             A
3             8
4    ...,...^!,
5      AE:GBHF;
Name: 34238, dtype: object
0           LG1
1         39291
2             A
3             8
4    ...,...^!,
5      AE:GBHF;
Name: 34238, dtype: object
0           LG1
1         39291
2             A
3             8
4    ...,...^!,
5      AE:GBHF;
Name: 34238, dtype: object
0           LG1
1         39291
2             A
3             8
4    ...,...^!,
5      AE:GBHF;
Name: 34238, dtype: object
0           LG1
1         39291
2             A
3             8
4    ...,...^!,
5      AE:GBHF;
Name: 34238, dtype: object
0           LG1
1         39303
2             T
3            10
4    ..,..,.,.,
5    DDIDBFHAD=
Name: 34250, dtype: object
0           LG1
1         39303
2             T
3            10
4    ..,..,.,.,
5    DDIDBFHAD=
Name: 34250, dtype: object
0           LG1
1         39303
2             T
3            10
4    ..,..,.,.,
5    DDIDBFHAD=
Name: 34250, dtype: object
0           LG1
1         39303
2             T
3            10
4    ..,..,.,.,
5    DDIDBFHAD=
Name: 34250, dtype: object
0           LG1
1         39303
2             T
3            10
4    ..,..,.,.,
5    DDIDBFHAD=
Name: 34250, dtype: object
0           LG1
1         39303
2             T
3            10
4    ..,..,.,.,
5    DDIDBFHAD=
Name: 34250, dtype: object
0           LG1
1         39303
2             T
3            10
4    ..,..,.,.,
5    DDIDBFHAD=
Name: 34250, dtype: object
0           LG1
1         39303
2             T
3            10
4    ..,..,.,.,
5    DDIDBFHAD=
Name: 34250, dtype: object
0           LG1
1         39303
2             T
3            10
4    ..,..,.,.,
5    DDIDBFHAD=
Name: 34250, dtype: object
0           LG1
1         39304
2             T
3            10
4    ..,..,.,.,
5    DDJ@F=IHFC
Name: 34251, dtype: object
0           LG1
1         39304
2             T
3            10
4    ..,..,.,.,
5    DDJ@F=IHFC
Name: 34251, dtype: object
0           LG1
1         39304
2             T
3            10
4    ..,..,.,.,
5    DDJ@F=IHFC
Name: 34251, dtype: object
0           LG1
1         39304
2             T
3            10
4    ..,..,.,.,
5    DDJ@F=IHFC
Name: 34251, dtype: object
0           LG1
1         39304
2             T
3            10
4    ..,..,.,.,
5    DDJ@F=IHFC
Name: 34251, dtype: object
0           LG1
1         39304
2             T
3            10
4    ..,..,.,.,
5    DDJ@F=IHFC
Name: 34251, dtype: object
0           LG1
1         39304
2             T
3            10
4    ..,..,.,.,
5    DDJ@F=IHFC
Name: 34251, dtype: object
0           LG1
1         39304
2             T
3            10
4    ..,..,.,.,
5    DDJ@F=IHFC
Name: 34251, dtype: object
0           LG1
1         39304
2             T
3            10
4    ..,..,.,.,
5    DDJ@F=IHFC
Name: 34251, dtype: object
0           LG1
1         39305
2             T
3            10
4    ..,..,.,.,
5    DDJGE2JEFA
Name: 34252, dtype: object
0           LG1
1         39305
2             T
3            10
4    ..,..,.,.,
5    DDJGE2JEFA
Name: 34252, dtype: object
0           LG1
1         39305
2             T
3            10
4    ..,..,.,.,
5    DDJGE2JEFA
Name: 34252, dtype: object
0           LG1
1         39305
2             T
3            10
4    ..,..,.,.,
5    DDJGE2JEFA
Name: 34252, dtype: object
0           LG1
1         39305
2             T
3            10
4    ..,..,.,.,
5    DDJGE2JEFA
Name: 34252, dtype: object
0           LG1
1         39305
2             T
3            10
4    ..,..,.,.,
5    DDJGE2JEFA
Name: 34252, dtype: object
0           LG1
1         39305
2             T
3            10
4    ..,..,.,.,
5    DDJGE2JEFA
Name: 34252, dtype: object
0           LG1
1         39305
2             T
3            10
4    ..,..,.,.,
5    DDJGE2JEFA
Name: 34252, dtype: object
0           LG1
1         39305
2             T
3            10
4    ..,..,.,.,
5    DDJGE2JEFA
Name: 34252, dtype: object
0           LG1
1         39307
2             T
3            10
4    ..,..,.,.,
5    DDJAI2JIHC
Name: 34254, dtype: object
0           LG1
1         39307
2             T
3            10
4    ..,..,.,.,
5    DDJAI2JIHC
Name: 34254, dtype: object
0           LG1
1         39307
2             T
3            10
4    ..,..,.,.,
5    DDJAI2JIHC
Name: 34254, dtype: object
0           LG1
1         39307
2             T
3            10
4    ..,..,.,.,
5    DDJAI2JIHC
Name: 34254, dtype: object
0           LG1
1         39307
2             T
3            10
4    ..,..,.,.,
5    DDJAI2JIHC
Name: 34254, dtype: object
0           LG1
1         39307
2             T
3            10
4    ..,..,.,.,
5    DDJAI2JIHC
Name: 34254, dtype: object
0           LG1
1         39307
2             T
3            10
4    ..,..,.,.,
5    DDJAI2JIHC
Name: 34254, dtype: object
0           LG1
1         39307
2             T
3            10
4    ..,..,.,.,
5    DDJAI2JIHC
Name: 34254, dtype: object
0           LG1
1         39307
2             T
3            10
4    ..,..,.,.,
5    DDJAI2JIHC
Name: 34254, dtype: object
0           LG1
1         39309
2             A
3            10
4    ..,..,.,.,
5    8DICC4JEH>
Name: 34256, dtype: object
0           LG1
1         39309
2             A
3            10
4    ..,..,.,.,
5    8DICC4JEH>
Name: 34256, dtype: object
0           LG1
1         39309
2             A
3            10
4    ..,..,.,.,
5    8DICC4JEH>
Name: 34256, dtype: object
0           LG1
1         39309
2             A
3            10
4    ..,..,.,.,
5    8DICC4JEH>
Name: 34256, dtype: object
0           LG1
1         39309
2             A
3            10
4    ..,..,.,.,
5    8DICC4JEH>
Name: 34256, dtype: object
0           LG1
1         39309
2             A
3            10
4    ..,..,.,.,
5    8DICC4JEH>
Name: 34256, dtype: object
0           LG1
1         39309
2             A
3            10
4    ..,..,.,.,
5    8DICC4JEH>
Name: 34256, dtype: object
0           LG1
1         39312
2             C
3            10
4    ..,..,.,.,
5    CCJHF:JIJ<
Name: 34259, dtype: object
0           LG1
1         39312
2             C
3            10
4    ..,..,.,.,
5    CCJHF:JIJ<
Name: 34259, dtype: object
0           LG1
1         39312
2             C
3            10
4    ..,..,.,.,
5    CCJHF:JIJ<
Name: 34259, dtype: object
0           LG1
1         39312
2             C
3            10
4    ..,..,.,.,
5    CCJHF:JIJ<
Name: 34259, dtype: object
0           LG1
1         39312
2             C
3            10
4    ..,..,.,.,
5    CCJHF:JIJ<
Name: 34259, dtype: object
0           LG1
1         39312
2             C
3            10
4    ..,..,.,.,
5    CCJHF:JIJ<
Name: 34259, dtype: object
0           LG1
1         39312
2             C
3            10
4    ..,..,.,.,
5    CCJHF:JIJ<
Name: 34259, dtype: object
0           LG1
1         39312
2             C
3            10
4    ..,..,.,.,
5    CCJHF:JIJ<
Name: 34259, dtype: object
0           LG1
1         39313
2             G
3             9
4    .,..,$.t.,
5     AJBG1JJJ?
Name: 34260, dtype: object
0           LG1
1         39313
2             G
3             9
4    .,..,$.t.,
5     AJBG1JJJ?
Name: 34260, dtype: object
0           LG1
1         39313
2             G
3             9
4    .,..,$.t.,
5     AJBG1JJJ?
Name: 34260, dtype: object
0           LG1
1         39313
2             G
3             9
4    .,..,$.t.,
5     AJBG1JJJ?
Name: 34260, dtype: object
0           LG1
1         39313
2             G
3             9
4    .,..,$.t.,
5     AJBG1JJJ?
Name: 34260, dtype: object
0           LG1
1         39313
2             G
3             9
4    .,..,$.t.,
5     AJBG1JJJ?
Name: 34260, dtype: object
0           LG1
1         39313
2             G
3             9
4    .,..,$.t.,
5     AJBG1JJJ?
Name: 34260, dtype: object
0           LG1
1         39313
2             G
3             9
4    .,..,$.t.,
5     AJBG1JJJ?
Name: 34260, dtype: object
0           LG1
1         39350
2             A
3             9
4    .$,...,.,,
5     :F>EJIJFG
Name: 34297, dtype: object
0           LG1
1         39350
2             A
3             9
4    .$,...,.,,
5     :F>EJIJFG
Name: 34297, dtype: object
0           LG1
1         39350
2             A
3             9
4    .$,...,.,,
5     :F>EJIJFG
Name: 34297, dtype: object
0           LG1
1         39350
2             A
3             9
4    .$,...,.,,
5     :F>EJIJFG
Name: 34297, dtype: object
0           LG1
1         39350
2             A
3             9
4    .$,...,.,,
5     :F>EJIJFG
Name: 34297, dtype: object
0           LG1
1         39350
2             A
3             9
4    .$,...,.,,
5     :F>EJIJFG
Name: 34297, dtype: object
0           LG1
1         39350
2             A
3             9
4    .$,...,.,,
5     :F>EJIJFG
Name: 34297, dtype: object
0           LG1
1         39436
2             A
3             8
4    ..,...,^$.
5      JJCHJH4:
Name: 34383, dtype: object
0           LG1
1         39436
2             A
3             8
4    ..,...,^$.
5      JJCHJH4:
Name: 34383, dtype: object
0           LG1
1         39436
2             A
3             8
4    ..,...,^$.
5      JJCHJH4:
Name: 34383, dtype: object
0           LG1
1         39436
2             A
3             8
4    ..,...,^$.
5      JJCHJH4:
Name: 34383, dtype: object
0           LG1
1         39436
2             A
3             8
4    ..,...,^$.
5      JJCHJH4:
Name: 34383, dtype: object
0           LG1
1         39436
2             A
3             8
4    ..,...,^$.
5      JJCHJH4:
Name: 34383, dtype: object
0           LG1
1         39440
2             A
3            10
4    ..,...,...
5    IJCJJICDF?
Name: 34387, dtype: object
0           LG1
1         39440
2             A
3            10
4    ..,...,...
5    IJCJJICDF?
Name: 34387, dtype: object
0           LG1
1         39440
2             A
3            10
4    ..,...,...
5    IJCJJICDF?
Name: 34387, dtype: object
0           LG1
1         39440
2             A
3            10
4    ..,...,...
5    IJCJJICDF?
Name: 34387, dtype: object
0           LG1
1         39440
2             A
3            10
4    ..,...,...
5    IJCJJICDF?
Name: 34387, dtype: object
0           LG1
1         39440
2             A
3            10
4    ..,...,...
5    IJCJJICDF?
Name: 34387, dtype: object
0           LG1
1         39440
2             A
3            10
4    ..,...,...
5    IJCJJICDF?
Name: 34387, dtype: object
0           LG1
1         39440
2             A
3            10
4    ..,...,...
5    IJCJJICDF?
Name: 34387, dtype: object
0           LG1
1         39440
2             A
3            10
4    ..,...,...
5    IJCJJICDF?
Name: 34387, dtype: object
0           LG1
1         39440
2             A
3            10
4    ..,...,...
5    IJCJJICDF?
Name: 34387, dtype: object
0           LG1
1         39441
2             A
3            10
4    ..,...,...
5    JI>JII>DF?
Name: 34388, dtype: object
0           LG1
1         39441
2             A
3            10
4    ..,...,...
5    JI>JII>DF?
Name: 34388, dtype: object
0           LG1
1         39441
2             A
3            10
4    ..,...,...
5    JI>JII>DF?
Name: 34388, dtype: object
0           LG1
1         39441
2             A
3            10
4    ..,...,...
5    JI>JII>DF?
Name: 34388, dtype: object
0           LG1
1         39441
2             A
3            10
4    ..,...,...
5    JI>JII>DF?
Name: 34388, dtype: object
0           LG1
1         39441
2             A
3            10
4    ..,...,...
5    JI>JII>DF?
Name: 34388, dtype: object
0           LG1
1         39441
2             A
3            10
4    ..,...,...
5    JI>JII>DF?
Name: 34388, dtype: object
0           LG1
1         39441
2             A
3            10
4    ..,...,...
5    JI>JII>DF?
Name: 34388, dtype: object
0           LG1
1         39514
2             A
3            10
4    ...,..,,,,
5    DDCGDDGJE:
Name: 34461, dtype: object
0           LG1
1         39514
2             A
3            10
4    ...,..,,,,
5    DDCGDDGJE:
Name: 34461, dtype: object
0           LG1
1         39514
2             A
3            10
4    ...,..,,,,
5    DDCGDDGJE:
Name: 34461, dtype: object
0           LG1
1         39514
2             A
3            10
4    ...,..,,,,
5    DDCGDDGJE:
Name: 34461, dtype: object
0           LG1
1         39514
2             A
3            10
4    ...,..,,,,
5    DDCGDDGJE:
Name: 34461, dtype: object
0           LG1
1         39514
2             A
3            10
4    ...,..,,,,
5    DDCGDDGJE:
Name: 34461, dtype: object
0           LG1
1         39514
2             A
3            10
4    ...,..,,,,
5    DDCGDDGJE:
Name: 34461, dtype: object
0           LG1
1         39514
2             A
3            10
4    ...,..,,,,
5    DDCGDDGJE:
Name: 34461, dtype: object
0           LG1
1         39514
2             A
3            10
4    ...,..,,,,
5    DDCGDDGJE:
Name: 34461, dtype: object
0           LG1
1         39515
2             G
3            10
4    ...,..,,,,
5    ?CDIA@HJJ8
Name: 34462, dtype: object
0           LG1
1         39515
2             G
3            10
4    ...,..,,,,
5    ?CDIA@HJJ8
Name: 34462, dtype: object
0           LG1
1         39515
2             G
3            10
4    ...,..,,,,
5    ?CDIA@HJJ8
Name: 34462, dtype: object
0           LG1
1         39515
2             G
3            10
4    ...,..,,,,
5    ?CDIA@HJJ8
Name: 34462, dtype: object
0           LG1
1         39515
2             G
3            10
4    ...,..,,,,
5    ?CDIA@HJJ8
Name: 34462, dtype: object
0           LG1
1         39515
2             G
3            10
4    ...,..,,,,
5    ?CDIA@HJJ8
Name: 34462, dtype: object
0           LG1
1         39515
2             G
3            10
4    ...,..,,,,
5    ?CDIA@HJJ8
Name: 34462, dtype: object
0           LG1
1         39515
2             G
3            10
4    ...,..,,,,
5    ?CDIA@HJJ8
Name: 34462, dtype: object
0           LG1
1         39515
2             G
3            10
4    ...,..,,,,
5    ?CDIA@HJJ8
Name: 34462, dtype: object
0           LG1
1         39520
2             T
3            10
4    ..,..,,,,,
5    BDH<9H?JG8
Name: 34467, dtype: object
0           LG1
1         39520
2             T
3            10
4    ..,..,,,,,
5    BDH<9H?JG8
Name: 34467, dtype: object
0           LG1
1         39520
2             T
3            10
4    ..,..,,,,,
5    BDH<9H?JG8
Name: 34467, dtype: object
0           LG1
1         39520
2             T
3            10
4    ..,..,,,,,
5    BDH<9H?JG8
Name: 34467, dtype: object
0           LG1
1         39520
2             T
3            10
4    ..,..,,,,,
5    BDH<9H?JG8
Name: 34467, dtype: object
0           LG1
1         39520
2             T
3            10
4    ..,..,,,,,
5    BDH<9H?JG8
Name: 34467, dtype: object
0           LG1
1         39520
2             T
3            10
4    ..,..,,,,,
5    BDH<9H?JG8
Name: 34467, dtype: object
0           LG1
1         39675
2             A
3             8
4    ,,,,.,,^$,
5      HEDD8CAB

Name: 34567, dtype: object
0           LG1
1         39675
2             A
3             8
4    ,,,,.,,^$,
5      HEDD8CAB
Name: 34567, dtype: object
0           LG1
1         39675
2             A
3             8
4    ,,,,.,,^$,
5      HEDD8CAB
Name: 34567, dtype: object
0           LG1
1         39675
2             A
3             8
4    ,,,,.,,^$,
5      HEDD8CAB
Name: 34567, dtype: object
0           LG1
1         39675
2             A
3             8
4    ,,,,.,,^$,
5      HEDD8CAB
Name: 34567, dtype: object
0           LG1
1         39675
2             A
3             8
4    ,,,,.,,^$,
5      HEDD8CAB
Name: 34567, dtype: object
0           LG1
1         39675
2             A
3             8
4    ,,,,.,,^$,
5      HEDD8CAB
Name: 34567, dtype: object
0           LG1
1         39715
2             A
3             8
4    ,,,,,,,^!,
5      HJJIJEE=
Name: 34607, dtype: object
0           LG1
1         39715
2             A
3             8
4    ,,,,,,,^!,
5      HJJIJEE=
Name: 34607, dtype: object
0           LG1
1         39715
2             A
3             8
4    ,,,,,,,^!,
5      HJJIJEE=
Name: 34607, dtype: object
0           LG1
1         39715
2             A
3             8
4    ,,,,,,,^!,
5      HJJIJEE=
Name: 34607, dtype: object
0           LG1
1         39715
2             A
3             8
4    ,,,,,,,^!,
5      HJJIJEE=
Name: 34607, dtype: object
0           LG1
1         39715
2             A
3             8
4    ,,,,,,,^!,
5      HJJIJEE=
Name: 34607, dtype: object
0           LG1
1         39715
2             A
3             8
4    ,,,,,,,^!,
5      HJJIJEE=
Name: 34607, dtype: object
0           LG1
1         40094
2             A
3             8
4    ...,,.,^,.
5      D@FJJJF@
Name: 34886, dtype: object
0           LG1
1         40094
2             A
3             8
4    ...,,.,^,.
5      D@FJJJF@
Name: 34886, dtype: object
0           LG1
1         40094
2             A
3             8
4    ...,,.,^,.
5      D@FJJJF@
Name: 34886, dtype: object
0           LG1
1         40094
2             A
3             8
4    ...,,.,^,.
5      D@FJJJF@
Name: 34886, dtype: object
0           LG1
1         40094
2             A
3             8
4    ...,,.,^,.
5      D@FJJJF@
Name: 34886, dtype: object
0           LG1
1         40094
2             A
3             8
4    ...,,.,^,.
5      D@FJJJF@
Name: 34886, dtype: object
0           LG1
1         40094
2             A
3             8
4    ...,,.,^,.
5      D@FJJJF@
Name: 34886, dtype: object
0           LG1
1         40094
2             A
3             8
4    ...,,.,^,.
5      D@FJJJF@
Name: 34886, dtype: object
0           LG1
1         40148
2             A
3             8
4    .......^!.
5      niGHFF@@
Name: 34940, dtype: object
0           LG1
1         40148
2             A
3             8
4    .......^!.
5      niGHFF@@
Name: 34940, dtype: object
0           LG1
1         40148
2             A
3             8
4    .......^!.
5      niGHFF@@
Name: 34940, dtype: object
0           LG1
1         40148
2             A
3             8
4    .......^!.
5      niGHFF@@
Name: 34940, dtype: object
0           LG1
1         40148
2             A
3             8
4    .......^!.
5      niGHFF@@
Name: 34940, dtype: object
0           LG1
1         40148
2             A
3             8
4    .......^!.
5      niGHFF@@
Name: 34940, dtype: object
0           LG1
1         40148
2             A
3             8
4    .......^!.
5      niGHFF@@
Name: 34940, dtype: object
0           LG1
1         40148
2             A
3             8
4    .......^!.
5      niGHFF@@
Name: 34940, dtype: object
0           LG1
1         40252
2             A
3            10
4    ......,,,,
5    DDBDDDJJEE
Name: 35044, dtype: object
0           LG1
1         40252
2             A
3            10
4    ......,,,,
5    DDBDDDJJEE
Name: 35044, dtype: object
0           LG1
1         40252
2             A
3            10
4    ......,,,,
5    DDBDDDJJEE
Name: 35044, dtype: object
0           LG1
1         40252
2             A
3            10
4    ......,,,,
5    DDBDDDJJEE
Name: 35044, dtype: object
0           LG1
1         40252
2             A
3            10
4    ......,,,,
5    DDBDDDJJEE
Name: 35044, dtype: object
0           LG1
1         40252
2             A
3            10
4    ......,,,,
5    DDBDDDJJEE
Name: 35044, dtype: object
0           LG1
1         40252
2             A
3            10
4    ......,,,,
5    DDBDDDJJEE
Name: 35044, dtype: object
0           LG1
1         40252
2             A
3            10
4    ......,,,,
5    DDBDDDJJEE
Name: 35044, dtype: object
0           LG1
1         40252
2             A
3            10
4    ......,,,,
5    DDBDDDJJEE
Name: 35044, dtype: object
0           LG1
1         40252
2             A
3            10
4    ......,,,,
5    DDBDDDJJEE
Name: 35044, dtype: object
0           LG1
1         40253
2             A
3            10
4    ......,,,,
5    DDADDDJJEE
Name: 35045, dtype: object
0           LG1
1         40253
2             A
3            10
4    ......,,,,
5    DDADDDJJEE
Name: 35045, dtype: object
0           LG1
1         40253
2             A
3            10
4    ......,,,,
5    DDADDDJJEE
Name: 35045, dtype: object
0           LG1
1         40253
2             A
3            10
4    ......,,,,
5    DDADDDJJEE
Name: 35045, dtype: object
0           LG1
1         40253
2             A
3            10
4    ......,,,,
5    DDADDDJJEE
Name: 35045, dtype: object
0           LG1
1         40253
2             A
3            10
4    ......,,,,
5    DDADDDJJEE
Name: 35045, dtype: object
0           LG1
1         40253
2             A
3            10
4    ......,,,,
5    DDADDDJJEE
Name: 35045, dtype: object
0           LG1
1         40253
2             A
3            10
4    ......,,,,
5    DDADDDJJEE
Name: 35045, dtype: object
0           LG1
1         40253
2             A
3            10
4    ......,,,,
5    DDADDDJJEE
Name: 35045, dtype: object
0           LG1
1         40253
2             A
3            10
4    ......,,,,
5    DDADDDJJEE
Name: 35045, dtype: object
0           LG1
1         40256
2             A
3             9
4    .$....,,,,
5     ADDDDJJFF
Name: 35048, dtype: object
0           LG1
1         40256
2             A
3             9
4    .$....,,,,
5     ADDDDJJFF
Name: 35048, dtype: object
0           LG1
1         40256
2             A
3             9
4    .$....,,,,
5     ADDDDJJFF
Name: 35048, dtype: object
0           LG1
1         40256
2             A
3             9
4    .$....,,,,
5     ADDDDJJFF
Name: 35048, dtype: object
0           LG1
1         40256
2             A
3             9
4    .$....,,,,
5     ADDDDJJFF
Name: 35048, dtype: object
0           LG1
1         40256
2             A
3             9
4    .$....,,,,
5     ADDDDJJFF
Name: 35048, dtype: object
0           LG1
1         40256
2             A
3             9
4    .$....,,,,
5     ADDDDJJFF
Name: 35048, dtype: object
0           LG1
1         40256
2             A
3             9
4    .$....,,,,
5     ADDDDJJFF
Name: 35048, dtype: object
0           LG1
1         40256
2             A
3             9
4    .$....,,,,
5     ADDDDJJFF
Name: 35048, dtype: object
0           LG1
1         40346
2             T
3             8
4    .,..,.,^!.
5      kDGID2D=
Name: 35138, dtype: object
0           LG1
1         40346
2             T
3             8
4    .,..,.,^!.
5      kDGID2D=
Name: 35138, dtype: object
0           LG1
1         40346
2             T
3             8
4    .,..,.,^!.
5      kDGID2D=
Name: 35138, dtype: object
0           LG1
1         40346
2             T
3             8
4    .,..,.,^!.
5      kDGID2D=
Name: 35138, dtype: object
0           LG1
1         40346
2             T
3             8
4    .,..,.,^!.
5      kDGID2D=
Name: 35138, dtype: object
0           LG1
1         40346
2             T
3             8
4    .,..,.,^!.
5      kDGID2D=
Name: 35138, dtype: object
0           LG1
1         40359
2             T
3            10
4    .,..,,.,,.
5    gJFDFF@FDi
Name: 35151, dtype: object
0           LG1
1         40359
2             T
3            10
4    .,..,,.,,.
5    gJFDFF@FDi
Name: 35151, dtype: object
0           LG1
1         40359
2             T
3            10
4    .,..,,.,,.
5    gJFDFF@FDi
Name: 35151, dtype: object
0           LG1
1         40359
2             T
3            10
4    .,..,,.,,.
5    gJFDFF@FDi
Name: 35151, dtype: object
0           LG1
1         40359
2             T
3            10
4    .,..,,.,,.
5    gJFDFF@FDi
Name: 35151, dtype: object
0           LG1
1         40359
2             T
3            10
4    .,..,,.,,.
5    gJFDFF@FDi
Name: 35151, dtype: object
0           LG1
1         40359
2             T
3            10
4    .,..,,.,,.
5    gJFDFF@FDi
Name: 35151, dtype: object
0           LG1
1         40359
2             T
3            10
4    .,..,,.,,.
5    gJFDFF@FDi
Name: 35151, dtype: object
0           LG1
1         40359
2             T
3            10
4    .,..,,.,,.
5    gJFDFF@FDi
Name: 35151, dtype: object
0           LG1
1         40359
2             T
3            10
4    .,..,,.,,.
5    gJFDFF@FDi
Name: 35151, dtype: object
0           LG1
1         40465
2             C
3            10
4    ,..,.,,..,
5    FB<H@BJAB?
Name: 35257, dtype: object
0           LG1
1         40465
2             C
3            10
4    ,..,.,,..,
5    FB<H@BJAB?
Name: 35257, dtype: object
0           LG1
1         40465
2             C
3            10
4    ,..,.,,..,
5    FB<H@BJAB?
Name: 35257, dtype: object
0           LG1
1         40465
2             C
3            10
4    ,..,.,,..,
5    FB<H@BJAB?
Name: 35257, dtype: object
0           LG1
1         40465
2             C
3            10
4    ,..,.,,..,
5    FB<H@BJAB?
Name: 35257, dtype: object
0           LG1
1         40465
2             C
3            10
4    ,..,.,,..,
5    FB<H@BJAB?
Name: 35257, dtype: object
0           LG1
1         40465
2             C
3            10
4    ,..,.,,..,
5    FB<H@BJAB?
Name: 35257, dtype: object
0           LG1
1         40465
2             C
3            10
4    ,..,.,,..,
5    FB<H@BJAB?
Name: 35257, dtype: object
0           LG1
1         40465
2             C
3            10
4    ,..,.,,..,
5    FB<H@BJAB?
Name: 35257, dtype: object
0           LG1
1         40467
2             T
3            10
4    ,..,.,,..,
5    =>DHDAJDEG
Name: 35259, dtype: object
0           LG1
1         40467
2             T
3            10
4    ,..,.,,..,
5    =>DHDAJDEG
Name: 35259, dtype: object
0           LG1
1         40467
2             T
3            10
4    ,..,.,,..,
5    =>DHDAJDEG
Name: 35259, dtype: object
0           LG1
1         40467
2             T
3            10
4    ,..,.,,..,
5    =>DHDAJDEG
Name: 35259, dtype: object
0           LG1
1         40467
2             T
3            10
4    ,..,.,,..,
5    =>DHDAJDEG
Name: 35259, dtype: object
0           LG1
1         40467
2             T
3            10
4    ,..,.,,..,
5    =>DHDAJDEG
Name: 35259, dtype: object
0           LG1
1         40467
2             T
3            10
4    ,..,.,,..,
5    =>DHDAJDEG
Name: 35259, dtype: object
0           LG1
1         40467
2             T
3            10
4    ,..,.,,..,
5    =>DHDAJDEG
Name: 35259, dtype: object
0           LG1
1         40468
2             T
3            10
4    ,..,.,,C.c
5    2;DHEIJDDB
Name: 35260, dtype: object
0           LG1
1         40468
2             T
3            10
4    ,..,.,,C.c
5    2;DHEIJDDB
Name: 35260, dtype: object
0           LG1
1         40468
2             T
3            10
4    ,..,.,,C.c
5    2;DHEIJDDB
Name: 35260, dtype: object
0           LG1
1         40468
2             T
3            10
4    ,..,.,,C.c
5    2;DHEIJDDB
Name: 35260, dtype: object
0           LG1
1         40468
2             T
3            10
4    ,..,.,,C.c
5    2;DHEIJDDB
Name: 35260, dtype: object
0           LG1
1         40468
2             T
3            10
4    ,..,.,,C.c
5    2;DHEIJDDB
Name: 35260, dtype: object
0           LG1
1         40468
2             T
3            10
4    ,..,.,,C.c
5    2;DHEIJDDB
Name: 35260, dtype: object
0           LG1
1         40468
2             T
3            10
4    ,..,.,,C.c
5    2;DHEIJDDB
Name: 35260, dtype: object
0           LG1
1         40469
2             T
3             9
4    .$.,.,,..,
5     :EFEIJDC1
Name: 35261, dtype: object
0           LG1
1         40469
2             T
3             9
4    .$.,.,,..,
5     :EFEIJDC1
Name: 35261, dtype: object
0           LG1
1         40469
2             T
3             9
4    .$.,.,,..,
5     :EFEIJDC1
Name: 35261, dtype: object
0           LG1
1         40469
2             T
3             9
4    .$.,.,,..,
5     :EFEIJDC1
Name: 35261, dtype: object
0           LG1
1         40469
2             T
3             9
4    .$.,.,,..,
5     :EFEIJDC1
Name: 35261, dtype: object
0           LG1
1         40469
2             T
3             9
4    .$.,.,,..,
5     :EFEIJDC1
Name: 35261, dtype: object
0           LG1
1         40469
2             T
3             9
4    .$.,.,,..,
5     :EFEIJDC1
Name: 35261, dtype: object
0           LG1
1         40559
2             G
3             8
4    ..,.,,.^!,
5      fIJ@ECCD
Name: 35351, dtype: object
0           LG1
1         40559
2             G
3             8
4    ..,.,,.^!,
5      fIJ@ECCD
Name: 35351, dtype: object
0           LG1
1         40559
2             G
3             8
4    ..,.,,.^!,
5      fIJ@ECCD
Name: 35351, dtype: object
0           LG1
1         40559
2             G
3             8
4    ..,.,,.^!,
5      fIJ@ECCD
Name: 35351, dtype: object
0           LG1
1         40559
2             G
3             8
4    ..,.,,.^!,
5      fIJ@ECCD
Name: 35351, dtype: object
0           LG1
1         40559
2             G
3             8
4    ..,.,,.^!,
5      fIJ@ECCD
Name: 35351, dtype: object
0           LG1
1         40559
2             G
3             8
4    ..,.,,.^!,
5      fIJ@ECCD
Name: 35351, dtype: object
0           LG1
1         40559
2             G
3             8
4    ..,.,,.^!,
5      fIJ@ECCD
Name: 35351, dtype: object
0           LG1
1         40569
2             A
3            10
4    ..,.,,.,.,
5    dGFDH@HCF4
Name: 35361, dtype: object
0           LG1
1         40569
2             A
3            10
4    ..,.,,.,.,
5    dGFDH@HCF4
Name: 35361, dtype: object
0           LG1
1         40569
2             A
3            10
4    ..,.,,.,.,
5    dGFDH@HCF4
Name: 35361, dtype: object
0           LG1
1         40569
2             A
3            10
4    ..,.,,.,.,
5    dGFDH@HCF4
Name: 35361, dtype: object
0           LG1
1         40569
2             A
3            10
4    ..,.,,.,.,
5    dGFDH@HCF4
Name: 35361, dtype: object
0           LG1
1         40569
2             A
3            10
4    ..,.,,.,.,
5    dGFDH@HCF4
Name: 35361, dtype: object
0           LG1
1         40569
2             A
3            10
4    ..,.,,.,.,
5    dGFDH@HCF4
Name: 35361, dtype: object
0           LG1
1         40569
2             A
3            10
4    ..,.,,.,.,
5    dGFDH@HCF4
Name: 35361, dtype: object

0           LG1
1         40569
2             A
3            10
4    ..,.,,.,.,
5    dGFDH@HCF4
Name: 35361, dtype: object
0           LG1
1         40570
2             C
3            10
4    ..,.,,.,.,
5    fJFDG:HDFA
Name: 35362, dtype: object
0           LG1
1         40570
2             C
3            10
4    ..,.,,.,.,
5    fJFDG:HDFA
Name: 35362, dtype: object
0           LG1
1         40570
2             C
3            10
4    ..,.,,.,.,
5    fJFDG:HDFA
Name: 35362, dtype: object
0           LG1
1         40570
2             C
3            10
4    ..,.,,.,.,
5    fJFDG:HDFA
Name: 35362, dtype: object
0           LG1
1         40570
2             C
3            10
4    ..,.,,.,.,
5    fJFDG:HDFA
Name: 35362, dtype: object
0           LG1
1         40570
2             C
3            10
4    ..,.,,.,.,
5    fJFDG:HDFA
Name: 35362, dtype: object
0           LG1
1         40570
2             C
3            10
4    ..,.,,.,.,
5    fJFDG:HDFA
Name: 35362, dtype: object
0           LG1
1         40570
2             C
3            10
4    ..,.,,.,.,
5    fJFDG:HDFA
Name: 35362, dtype: object
0           LG1
1         40570
2             C
3            10
4    ..,.,,.,.,
5    fJFDG:HDFA
Name: 35362, dtype: object
0           LG1
1         40571
2             T
3            10
4    ..,.,,.,.,
5    gJIDH>JDHC
Name: 35363, dtype: object
0           LG1
1         40571
2             T
3            10
4    ..,.,,.,.,
5    gJIDH>JDHC
Name: 35363, dtype: object
0           LG1
1         40571
2             T
3            10
4    ..,.,,.,.,
5    gJIDH>JDHC
Name: 35363, dtype: object
0           LG1
1         40571
2             T
3            10
4    ..,.,,.,.,
5    gJIDH>JDHC
Name: 35363, dtype: object
0           LG1
1         40571
2             T
3            10
4    ..,.,,.,.,
5    gJIDH>JDHC
Name: 35363, dtype: object
0           LG1
1         40571
2             T
3            10
4    ..,.,,.,.,
5    gJIDH>JDHC
Name: 35363, dtype: object
0           LG1
1         40571
2             T
3            10
4    ..,.,,.,.,
5    gJIDH>JDHC
Name: 35363, dtype: object
0           LG1
1         40571
2             T
3            10
4    ..,.,,.,.,
5    gJIDH>JDHC
Name: 35363, dtype: object
0           LG1
1         40571
2             T
3            10
4    ..,.,,.,.,
5    gJIDH>JDHC
Name: 35363, dtype: object
0           LG1
1         40572
2             A
3            10
4    ..,.g,.gGg
5    fGHFH3JDH:
Name: 35364, dtype: object
0           LG1
1         40572
2             A
3            10
4    ..,.g,.gGg
5    fGHFH3JDH:
Name: 35364, dtype: object
0           LG1
1         40572
2             A
3            10
4    ..,.g,.gGg
5    fGHFH3JDH:
Name: 35364, dtype: object
0           LG1
1         40572
2             A
3            10
4    ..,.g,.gGg
5    fGHFH3JDH:
Name: 35364, dtype: object
0           LG1
1         40572
2             A
3            10
4    ..,.g,.gGg
5    fGHFH3JDH:
Name: 35364, dtype: object
0           LG1
1         40572
2             A
3            10
4    ..,.g,.gGg
5    fGHFH3JDH:
Name: 35364, dtype: object
0           LG1
1         40572
2             A
3            10
4    ..,.g,.gGg
5    fGHFH3JDH:
Name: 35364, dtype: object
0           LG1
1         40572
2             A
3            10
4    ..,.g,.gGg
5    fGHFH3JDH:
Name: 35364, dtype: object
0           LG1
1         40573
2             T
3            10
4    ..,.,,.,.,
5    aHGFH@JCH3
Name: 35365, dtype: object
0           LG1
1         40573
2             T
3            10
4    ..,.,,.,.,
5    aHGFH@JCH3
Name: 35365, dtype: object
0           LG1
1         40573
2             T
3            10
4    ..,.,,.,.,
5    aHGFH@JCH3
Name: 35365, dtype: object
0           LG1
1         40573
2             T
3            10
4    ..,.,,.,.,
5    aHGFH@JCH3
Name: 35365, dtype: object
0           LG1
1         40573
2             T
3            10
4    ..,.,,.,.,
5    aHGFH@JCH3
Name: 35365, dtype: object
0           LG1
1         40573
2             T
3            10
4    ..,.,,.,.,
5    aHGFH@JCH3
Name: 35365, dtype: object
0           LG1
1         40573
2             T
3            10
4    ..,.,,.,.,
5    aHGFH@JCH3
Name: 35365, dtype: object
0           LG1
1         40573
2             T
3            10
4    ..,.,,.,.,
5    aHGFH@JCH3
Name: 35365, dtype: object
0           LG1
1         40573
2             T
3            10
4    ..,.,,.,.,
5    aHGFH@JCH3
Name: 35365, dtype: object
0           LG1
1         40574
2             C
3            10
4    ..,.,,.,.,
5    aHJ>J<JDH8
Name: 35366, dtype: object
0           LG1
1         40574
2             C
3            10
4    ..,.,,.,.,
5    aHJ>J<JDH8
Name: 35366, dtype: object
0           LG1
1         40574
2             C
3            10
4    ..,.,,.,.,
5    aHJ>J<JDH8
Name: 35366, dtype: object
0           LG1
1         40574
2             C
3            10
4    ..,.,,.,.,
5    aHJ>J<JDH8
Name: 35366, dtype: object
0           LG1
1         40574
2             C
3            10
4    ..,.,,.,.,
5    aHJ>J<JDH8
Name: 35366, dtype: object
0           LG1
1         40574
2             C
3            10
4    ..,.,,.,.,
5    aHJ>J<JDH8
Name: 35366, dtype: object
0           LG1
1         40574
2             C
3            10
4    ..,.,,.,.,
5    aHJ>J<JDH8
Name: 35366, dtype: object
0           LG1
1         41013
2             T
3            10
4    .,,,,.,,,,
5    DDD?H^?G?D
Name: 35805, dtype: object
0           LG1
1         41013
2             T
3            10
4    .,,,,.,,,,
5    DDD?H^?G?D
Name: 35805, dtype: object
0           LG1
1         41013
2             T
3            10
4    .,,,,.,,,,
5    DDD?H^?G?D
Name: 35805, dtype: object
0           LG1
1         41013
2             T
3            10
4    .,,,,.,,,,
5    DDD?H^?G?D
Name: 35805, dtype: object
0           LG1
1         41013
2             T
3            10
4    .,,,,.,,,,
5    DDD?H^?G?D
Name: 35805, dtype: object
0           LG1
1         41013
2             T
3            10
4    .,,,,.,,,,
5    DDD?H^?G?D
Name: 35805, dtype: object
0           LG1
1         41013
2             T
3            10
4    .,,,,.,,,,
5    DDD?H^?G?D
Name: 35805, dtype: object
0           LG1
1         41013
2             T
3            10
4    .,,,,.,,,,
5    DDD?H^?G?D
Name: 35805, dtype: object
0           LG1
1         41013
2             T
3            10
4    .,,,,.,,,,
5    DDD?H^?G?D
Name: 35805, dtype: object
0           LG1
1         41013
2             T
3            10
4    .,,,,.,,,,
5    DDD?H^?G?D
Name: 35805, dtype: object
0           LG1
1         41014
2             A
3            10
4    .,,,,.,,,,
5    ;?<<HL@8??
Name: 35806, dtype: object
0           LG1
1         41014
2             A
3            10
4    .,,,,.,,,,
5    ;?<<HL@8??
Name: 35806, dtype: object
0           LG1
1         41014
2             A
3            10
4    .,,,,.,,,,
5    ;?<<HL@8??
Name: 35806, dtype: object
0           LG1
1         41014
2             A
3            10
4    .,,,,.,,,,
5    ;?<<HL@8??
Name: 35806, dtype: object
0           LG1
1         41014
2             A
3            10
4    .,,,,.,,,,
5    ;?<<HL@8??
Name: 35806, dtype: object
0           LG1
1         41014
2             A
3            10
4    .,,,,.,,,,
5    ;?<<HL@8??
Name: 35806, dtype: object
0           LG1
1         41024
2             G
3            10
4    ,,,.a,,,,,
5    >HGUIIJHJA
Name: 35816, dtype: object
0           LG1
1         41024
2             G
3            10
4    ,,,.a,,,,,
5    >HGUIIJHJA
Name: 35816, dtype: object
0           LG1
1         41024
2             G
3            10
4    ,,,.a,,,,,
5    >HGUIIJHJA
Name: 35816, dtype: object
0           LG1
1         41024
2             G
3            10
4    ,,,.a,,,,,
5    >HGUIIJHJA
Name: 35816, dtype: object
0           LG1
1         41024
2             G
3            10
4    ,,,.a,,,,,
5    >HGUIIJHJA
Name: 35816, dtype: object
0           LG1
1         41024
2             G
3            10
4    ,,,.a,,,,,
5    >HGUIIJHJA
Name: 35816, dtype: object
0           LG1
1         41024
2             G
3            10
4    ,,,.a,,,,,
5    >HGUIIJHJA
Name: 35816, dtype: object
0           LG1
1         41024
2             G
3            10
4    ,,,.a,,,,,
5    >HGUIIJHJA
Name: 35816, dtype: object
0           LG1
1         41024
2             G
3            10
4    ,,,.a,,,,,
5    >HGUIIJHJA
Name: 35816, dtype: object
0           LG1
1         41165
2             A
3             9
4    ,$,,,,.,..
5     ;FIJFC;=F
Name: 35957, dtype: object
0           LG1
1         41165
2             A
3             9
4    ,$,,,,.,..
5     ;FIJFC;=F
Name: 35957, dtype: object
0           LG1
1         41165
2             A
3             9
4    ,$,,,,.,..
5     ;FIJFC;=F
Name: 35957, dtype: object
0           LG1
1         41165
2             A
3             9
4    ,$,,,,.,..
5     ;FIJFC;=F
Name: 35957, dtype: object
0           LG1
1         41165
2             A
3             9
4    ,$,,,,.,..
5     ;FIJFC;=F
Name: 35957, dtype: object
0           LG1
1         41165
2             A
3             9
4    ,$,,,,.,..
5     ;FIJFC;=F
Name: 35957, dtype: object
0           LG1
1         41346
2             T
3            10
4    .,,.....,,
5    @JHJJFFB@:
Name: 36138, dtype: object
0           LG1
1         41346
2             T
3            10
4    .,,.....,,
5    @JHJJFFB@:
Name: 36138, dtype: object
0           LG1
1         41346
2             T
3            10
4    .,,.....,,
5    @JHJJFFB@:
Name: 36138, dtype: object
0           LG1
1         41346
2             T
3            10
4    .,,.....,,
5    @JHJJFFB@:
Name: 36138, dtype: object
0           LG1
1         41346
2             T
3            10
4    .,,.....,,
5    @JHJJFFB@:
Name: 36138, dtype: object
0           LG1
1         41346
2             T
3            10
4    .,,.....,,
5    @JHJJFFB@:
Name: 36138, dtype: object
0           LG1
1         41346
2             T
3            10
4    .,,.....,,
5    @JHJJFFB@:
Name: 36138, dtype: object
0           LG1
1         41346
2             T
3            10
4    .,,.....,,
5    @JHJJFFB@:
Name: 36138, dtype: object
0           LG1
1         41346
2             T
3            10
4    .,,.....,,
5    @JHJJFFB@:
Name: 36138, dtype: object
0           LG1
1         41362
2             C
3            10
4    ,,t...,,..
5    JJFIGJDC92
Name: 36154, dtype: object
0           LG1
1         41362
2             C
3            10
4    ,,t...,,..
5    JJFIGJDC92
Name: 36154, dtype: object
0           LG1
1         41362
2             C
3            10
4    ,,t...,,..
5    JJFIGJDC92
Name: 36154, dtype: object
0           LG1
1         41362
2             C
3            10
4    ,,t...,,..
5    JJFIGJDC92
Name: 36154, dtype: object
0           LG1
1         41362
2             C
3            10
4    ,,t...,,..
5    JJFIGJDC92
Name: 36154, dtype: object
0           LG1
1         41362
2             C
3            10
4    ,,t...,,..
5    JJFIGJDC92
Name: 36154, dtype: object
0           LG1
1         41362
2             C
3            10
4    ,,t...,,..
5    JJFIGJDC92
Name: 36154, dtype: object
0           LG1
1         41362
2             C
3            10
4    ,,t...,,..
5    JJFIGJDC92
Name: 36154, dtype: object
0           LG1
1         41364
2             A
3            10
4    ,,,...,,..
5    JI:JBJD>C<
Name: 36156, dtype: object
0           LG1
1         41364
2             A
3            10
4    ,,,...,,..
5    JI:JBJD>C<
Name: 36156, dtype: object
0           LG1
1         41364
2             A
3            10
4    ,,,...,,..
5    JI:JBJD>C<
Name: 36156, dtype: object
0           LG1
1         41364
2             A
3            10
4    ,,,...,,..
5    JI:JBJD>C<
Name: 36156, dtype: object
0           LG1
1         41364
2             A
3            10
4    ,,,...,,..
5    JI:JBJD>C<
Name: 36156, dtype: object
0           LG1
1         41364
2             A
3            10
4    ,,,...,,..
5    JI:JBJD>C<
Name: 36156, dtype: object
0           LG1
1         41364
2             A
3            10
4    ,,,...,,..
5    JI:JBJD>C<
Name: 36156, dtype: object
0           LG1
1         41373
2             T
3            10
4    ,,.....,,.
5    FGH@CCD@6H
Name: 36165, dtype: object
0           LG1
1         41373
2             T
3            10
4    ,,.....,,.
5    FGH@CCD@6H
Name: 36165, dtype: object
0           LG1
1         41373
2             T
3            10
4    ,,.....,,.
5    FGH@CCD@6H
Name: 36165, dtype: object
0           LG1
1         41373
2             T
3            10
4    ,,.....,,.
5    FGH@CCD@6H
Name: 36165, dtype: object
0           LG1
1         41373
2             T
3            10
4    ,,.....,,.
5    FGH@CCD@6H
Name: 36165, dtype: object
0           LG1
1         41373
2             T
3            10
4    ,,.....,,.
5    FGH@CCD@6H
Name: 36165, dtype: object
0           LG1
1         41373
2             T
3            10
4    ,,.....,,.
5    FGH@CCD@6H
Name: 36165, dtype: object
0           LG1
1         41373
2             T
3            10
4    ,,.....,,.
5    FGH@CCD@6H
Name: 36165, dtype: object
0           LG1
1         41373
2             T
3            10
4    ,,.....,,.
5    FGH@CCD@6H
Name: 36165, dtype: object
0           LG1
1         41390
2             A
3            10
4    .....,,...
5    DIJ=JJCD0J
Name: 36182, dtype: object
0           LG1
1         41390
2             A
3            10
4    .....,,...
5    DIJ=JJCD0J
Name: 36182, dtype: object
0           LG1
1         41390
2             A
3            10
4    .....,,...
5    DIJ=JJCD0J
Name: 36182, dtype: object
0           LG1
1         41390
2             A
3            10
4    .....,,...
5    DIJ=JJCD0J
Name: 36182, dtype: object
0           LG1
1         41390
2             A
3            10
4    .....,,...
5    DIJ=JJCD0J
Name: 36182, dtype: object
0           LG1
1         41390
2             A
3            10
4    .....,,...
5    DIJ=JJCD0J
Name: 36182, dtype: object
0           LG1
1         41390
2             A
3            10
4    .....,,...
5    DIJ=JJCD0J
Name: 36182, dtype: object
0           LG1
1         41390
2             A
3            10
4    .....,,...
5    DIJ=JJCD0J
Name: 36182, dtype: object
0           LG1
1         41391
2             C
3            10
4    .....,,...
5    DJJFJJ9F8J
Name: 36183, dtype: object
0           LG1
1         41391
2             C
3            10
4    .....,,...
5    DJJFJJ9F8J
Name: 36183, dtype: object
0           LG1
1         41391
2             C
3            10
4    .....,,...
5    DJJFJJ9F8J
Name: 36183, dtype: object
0           LG1
1         41391
2             C
3            10
4    .....,,...
5    DJJFJJ9F8J
Name: 36183, dtype: object
0           LG1
1         41391
2             C
3            10
4    .....,,...
5    DJJFJJ9F8J
Name: 36183, dtype: object
0           LG1
1         41391
2             C
3            10
4    .....,,...
5    DJJFJJ9F8J
Name: 36183, dtype: object
0           LG1
1         41391
2             C
3            10
4    .....,,...
5    DJJFJJ9F8J
Name: 36183, dtype: object
0           LG1
1         41391
2             C
3            10
4    .....,,...
5    DJJFJJ9F8J
Name: 36183, dtype: object
0           LG1
1         41392
2             A
3            10
4    .....,,...
5    DHJDGGGH0J
Name: 36184, dtype: object
0           LG1
1         41392
2             A
3            10
4    .....,,...
5    DHJDGGGH0J
Name: 36184, dtype: object

0           LG1
1         41392
2             A
3            10
4    .....,,...
5    DHJDGGGH0J
Name: 36184, dtype: object
0           LG1
1         41392
2             A
3            10
4    .....,,...
5    DHJDGGGH0J
Name: 36184, dtype: object
0           LG1
1         41392
2             A
3            10
4    .....,,...
5    DHJDGGGH0J
Name: 36184, dtype: object
0           LG1
1         41392
2             A
3            10
4    .....,,...
5    DHJDGGGH0J
Name: 36184, dtype: object
0           LG1
1         41392
2             A
3            10
4    .....,,...
5    DHJDGGGH0J
Name: 36184, dtype: object
0           LG1
1         41392
2             A
3            10
4    .....,,...
5    DHJDGGGH0J
Name: 36184, dtype: object
0           LG1
1         41392
2             A
3            10
4    .....,,...
5    DHJDGGGH0J
Name: 36184, dtype: object
0           LG1
1         41393
2             A
3            10
4    .....,,...
5    DEJAIFFJ?J
Name: 36185, dtype: object
0           LG1
1         41393
2             A
3            10
4    .....,,...
5    DEJAIFFJ?J
Name: 36185, dtype: object
0           LG1
1         41393
2             A
3            10
4    .....,,...
5    DEJAIFFJ?J
Name: 36185, dtype: object
0           LG1
1         41393
2             A
3            10
4    .....,,...
5    DEJAIFFJ?J
Name: 36185, dtype: object
0           LG1
1         41393
2             A
3            10
4    .....,,...
5    DEJAIFFJ?J
Name: 36185, dtype: object
0           LG1
1         41393
2             A
3            10
4    .....,,...
5    DEJAIFFJ?J
Name: 36185, dtype: object
0           LG1
1         41393
2             A
3            10
4    .....,,...
5    DEJAIFFJ?J
Name: 36185, dtype: object
0           LG1
1         41393
2             A
3            10
4    .....,,...
5    DEJAIFFJ?J
Name: 36185, dtype: object
0           LG1
1         41393
2             A
3            10
4    .....,,...
5    DEJAIFFJ?J
Name: 36185, dtype: object
0           LG1
1         41393
2             A
3            10
4    .....,,...
5    DEJAIFFJ?J
Name: 36185, dtype: object
0           LG1
1         41394
2             T
3            10
4    .....,,...
5    DGJDJJFIFJ
Name: 36186, dtype: object
0           LG1
1         41394
2             T
3            10
4    .....,,...
5    DGJDJJFIFJ
Name: 36186, dtype: object
0           LG1
1         41394
2             T
3            10
4    .....,,...
5    DGJDJJFIFJ
Name: 36186, dtype: object
0           LG1
1         41394
2             T
3            10
4    .....,,...
5    DGJDJJFIFJ
Name: 36186, dtype: object
0           LG1
1         41394
2             T
3            10
4    .....,,...
5    DGJDJJFIFJ
Name: 36186, dtype: object
0           LG1
1         41394
2             T
3            10
4    .....,,...
5    DGJDJJFIFJ
Name: 36186, dtype: object
0           LG1
1         41394
2             T
3            10
4    .....,,...
5    DGJDJJFIFJ
Name: 36186, dtype: object
0           LG1
1         41394
2             T
3            10
4    .....,,...
5    DGJDJJFIFJ
Name: 36186, dtype: object
0           LG1
1         41394
2             T
3            10
4    .....,,...
5    DGJDJJFIFJ
Name: 36186, dtype: object
0           LG1
1         41394
2             T
3            10
4    .....,,...
5    DGJDJJFIFJ
Name: 36186, dtype: object
0           LG1
1         41396
2             G
3             9
4    A...,,..$A
5     HGCJJ6<AJ
Name: 36188, dtype: object
0           LG1
1         41396
2             G
3             9
4    A...,,..$A
5     HGCJJ6<AJ
Name: 36188, dtype: object
0           LG1
1         41396
2             G
3             9
4    A...,,..$A
5     HGCJJ6<AJ
Name: 36188, dtype: object
0           LG1
1         41396
2             G
3             9
4    A...,,..$A
5     HGCJJ6<AJ
Name: 36188, dtype: object
0           LG1
1         41396
2             G
3             9
4    A...,,..$A
5     HGCJJ6<AJ
Name: 36188, dtype: object
0           LG1
1         41396
2             G
3             9
4    A...,,..$A
5     HGCJJ6<AJ
Name: 36188, dtype: object
0           LG1
1         41396
2             G
3             9
4    A...,,..$A
5     HGCJJ6<AJ
Name: 36188, dtype: object
0           LG1
1         41398
2             T
3             8
4    ....,..^7.
5      FHEJJ4J@
Name: 36190, dtype: object
0           LG1
1         41398
2             T
3             8
4    ....,..^7.
5      FHEJJ4J@
Name: 36190, dtype: object
0           LG1
1         41398
2             T
3             8
4    ....,..^7.
5      FHEJJ4J@
Name: 36190, dtype: object
0           LG1
1         41398
2             T
3             8
4    ....,..^7.
5      FHEJJ4J@
Name: 36190, dtype: object
0           LG1
1         41398
2             T
3             8
4    ....,..^7.
5      FHEJJ4J@
Name: 36190, dtype: object
0           LG1
1         41398
2             T
3             8
4    ....,..^7.
5      FHEJJ4J@
Name: 36190, dtype: object
0           LG1
1         41398
2             T
3             8
4    ....,..^7.
5      FHEJJ4J@
Name: 36190, dtype: object
0           LG1
1         41426
2             T
3            10
4    ...,,.....
5    CCDJBFJ>74
Name: 36218, dtype: object
0           LG1
1         41426
2             T
3            10
4    ...,,.....
5    CCDJBFJ>74
Name: 36218, dtype: object
0           LG1
1         41426
2             T
3            10
4    ...,,.....
5    CCDJBFJ>74
Name: 36218, dtype: object
0           LG1
1         41426
2             T
3            10
4    ...,,.....
5    CCDJBFJ>74
Name: 36218, dtype: object
0           LG1
1         41426
2             T
3            10
4    ...,,.....
5    CCDJBFJ>74
Name: 36218, dtype: object
0           LG1
1         41426
2             T
3            10
4    ...,,.....
5    CCDJBFJ>74
Name: 36218, dtype: object
0           LG1
1         41426
2             T
3            10
4    ...,,.....
5    CCDJBFJ>74
Name: 36218, dtype: object
0           LG1
1         41431
2             T
3            10
4    .,,.......
5    >JFEI4:I@4
Name: 36223, dtype: object
0           LG1
1         41431
2             T
3            10
4    .,,.......
5    >JFEI4:I@4
Name: 36223, dtype: object
0           LG1
1         41431
2             T
3            10
4    .,,.......
5    >JFEI4:I@4
Name: 36223, dtype: object
0           LG1
1         41431
2             T
3            10
4    .,,.......
5    >JFEI4:I@4
Name: 36223, dtype: object
0           LG1
1         41431
2             T
3            10
4    .,,.......
5    >JFEI4:I@4
Name: 36223, dtype: object
0           LG1
1         41431
2             T
3            10
4    .,,.......
5    >JFEI4:I@4
Name: 36223, dtype: object
0           LG1
1         41433
2             A
3            10
4    .g,..GG.G,
5    =HDEIF>I4D
Name: 36225, dtype: object
0           LG1
1         41433
2             A
3            10
4    .g,..GG.G,
5    =HDEIF>I4D
Name: 36225, dtype: object
0           LG1
1         41433
2             A
3            10
4    .g,..GG.G,
5    =HDEIF>I4D
Name: 36225, dtype: object
0           LG1
1         41433
2             A
3            10
4    .g,..GG.G,
5    =HDEIF>I4D
Name: 36225, dtype: object
0           LG1
1         41433
2             A
3            10
4    .g,..GG.G,
5    =HDEIF>I4D
Name: 36225, dtype: object
0           LG1
1         41433
2             A
3            10
4    .g,..GG.G,
5    =HDEIF>I4D
Name: 36225, dtype: object
0           LG1
1         41433
2             A
3            10
4    .g,..GG.G,
5    =HDEIF>I4D
Name: 36225, dtype: object
0           LG1
1         41435
2             A
3            10
4    .,,......,
5    <HAEGHE43C
Name: 36227, dtype: object
0           LG1
1         41435
2             A
3            10
4    .,,......,
5    <HAEGHE43C
Name: 36227, dtype: object
0           LG1
1         41435
2             A
3            10
4    .,,......,
5    <HAEGHE43C
Name: 36227, dtype: object
0           LG1
1         41435
2             A
3            10
4    .,,......,
5    <HAEGHE43C
Name: 36227, dtype: object
0           LG1
1         41435
2             A
3            10
4    .,,......,
5    <HAEGHE43C
Name: 36227, dtype: object
0           LG1
1         41435
2             A
3            10
4    .,,......,
5    <HAEGHE43C
Name: 36227, dtype: object
0           LG1
1         41435
2             A
3            10
4    .,,......,
5    <HAEGHE43C
Name: 36227, dtype: object
0           LG1
1         41440
2             T
3            10
4    ,.......,.
5    FDI?:G32?F
Name: 36232, dtype: object
0           LG1
1         41440
2             T
3            10
4    ,.......,.
5    FDI?:G32?F
Name: 36232, dtype: object
0           LG1
1         41440
2             T
3            10
4    ,.......,.
5    FDI?:G32?F
Name: 36232, dtype: object
0           LG1
1         41440
2             T
3            10
4    ,.......,.
5    FDI?:G32?F
Name: 36232, dtype: object
0           LG1
1         41440
2             T
3            10
4    ,.......,.
5    FDI?:G32?F
Name: 36232, dtype: object
0           LG1
1         41440
2             T
3            10
4    ,.......,.
5    FDI?:G32?F
Name: 36232, dtype: object
0           LG1
1         41440
2             T
3            10
4    ,.......,.
5    FDI?:G32?F
Name: 36232, dtype: object
0           LG1
1         41442
2             T
3             9
4    ,...$...,.
5     FCG<G=E1F
Name: 36234, dtype: object
0           LG1
1         41442
2             T
3             9
4    ,...$...,.
5     FCG<G=E1F
Name: 36234, dtype: object
0           LG1
1         41442
2             T
3             9
4    ,...$...,.
5     FCG<G=E1F
Name: 36234, dtype: object
0           LG1
1         41442
2             T
3             9
4    ,...$...,.
5     FCG<G=E1F
Name: 36234, dtype: object
0           LG1
1         41442
2             T
3             9
4    ,...$...,.
5     FCG<G=E1F
Name: 36234, dtype: object
0           LG1
1         41442
2             T
3             9
4    ,...$...,.
5     FCG<G=E1F
Name: 36234, dtype: object
0           LG1
1         41443
2             G
3             9
4    ,.....$.,.
5     ADG9C>E9F
Name: 36235, dtype: object
0           LG1
1         41443
2             G
3             9
4    ,.....$.,.
5     ADG9C>E9F
Name: 36235, dtype: object
0           LG1
1         41443
2             G
3             9
4    ,.....$.,.
5     ADG9C>E9F
Name: 36235, dtype: object
0           LG1
1         41443
2             G
3             9
4    ,.....$.,.
5     ADG9C>E9F
Name: 36235, dtype: object
0           LG1
1         41443
2             G
3             9
4    ,.....$.,.
5     ADG9C>E9F
Name: 36235, dtype: object
0           LG1
1         41443
2             G
3             9
4    ,.....$.,.
5     ADG9C>E9F
Name: 36235, dtype: object
0           LG1
1         41570
2             C
3             9
4    .$,.,,,,,,
5     _CJBDD?DB
Name: 36362, dtype: object
0           LG1
1         41570
2             C
3             9
4    .$,.,,,,,,
5     _CJBDD?DB
Name: 36362, dtype: object
0           LG1
1         41570
2             C
3             9
4    .$,.,,,,,,
5     _CJBDD?DB
Name: 36362, dtype: object
0           LG1
1         41570
2             C
3             9
4    .$,.,,,,,,
5     _CJBDD?DB
Name: 36362, dtype: object
0           LG1
1         41570
2             C
3             9
4    .$,.,,,,,,
5     _CJBDD?DB
Name: 36362, dtype: object
0           LG1
1         41570
2             C
3             9
4    .$,.,,,,,,
5     _CJBDD?DB
Name: 36362, dtype: object
0           LG1
1         41570
2             C
3             9
4    .$,.,,,,,,
5     _CJBDD?DB
Name: 36362, dtype: object
0           LG1
1         41570
2             C
3             9
4    .$,.,,,,,,
5     _CJBDD?DB
Name: 36362, dtype: object
0           LG1
1         41570
2             C
3             9
4    .$,.,,,,,,
5     _CJBDD?DB
Name: 36362, dtype: object
0           LG1
1         41585
2             G
3            10
4    ,.,,,,,,,,
5    JJEBIFFED;
Name: 36377, dtype: object
0           LG1
1         41585
2             G
3            10
4    ,.,,,,,,,,
5    JJEBIFFED;
Name: 36377, dtype: object
0           LG1
1         41585
2             G
3            10
4    ,.,,,,,,,,
5    JJEBIFFED;
Name: 36377, dtype: object
0           LG1
1         41585
2             G
3            10
4    ,.,,,,,,,,
5    JJEBIFFED;
Name: 36377, dtype: object
0           LG1
1         41585
2             G
3            10
4    ,.,,,,,,,,
5    JJEBIFFED;
Name: 36377, dtype: object
0           LG1
1         41585
2             G
3            10
4    ,.,,,,,,,,
5    JJEBIFFED;
Name: 36377, dtype: object
0           LG1
1         41585
2             G
3            10
4    ,.,,,,,,,,
5    JJEBIFFED;
Name: 36377, dtype: object
0           LG1
1         41585
2             G
3            10
4    ,.,,,,,,,,
5    JJEBIFFED;
Name: 36377, dtype: object
0           LG1
1         41585
2             G
3            10
4    ,.,,,,,,,,
5    JJEBIFFED;
Name: 36377, dtype: object
0           LG1
1         41591
2             A
3            10
4    ,.,,,,,,,,
5    IHJ0IEEFFF
Name: 36383, dtype: object
0           LG1
1         41591
2             A
3            10
4    ,.,,,,,,,,
5    IHJ0IEEFFF
Name: 36383, dtype: object
0           LG1
1         41591
2             A
3            10
4    ,.,,,,,,,,
5    IHJ0IEEFFF
Name: 36383, dtype: object
0           LG1
1         41591
2             A
3            10
4    ,.,,,,,,,,
5    IHJ0IEEFFF
Name: 36383, dtype: object
0           LG1
1         41591
2             A
3            10
4    ,.,,,,,,,,
5    IHJ0IEEFFF
Name: 36383, dtype: object
0           LG1
1         41591
2             A
3            10
4    ,.,,,,,,,,
5    IHJ0IEEFFF
Name: 36383, dtype: object
0           LG1
1         41591
2             A
3            10
4    ,.,,,,,,,,
5    IHJ0IEEFFF
Name: 36383, dtype: object
0           LG1
1         41591
2             A
3            10
4    ,.,,,,,,,,
5    IHJ0IEEFFF
Name: 36383, dtype: object
0           LG1
1         41591
2             A
3            10
4    ,.,,,,,,,,
5    IHJ0IEEFFF
Name: 36383, dtype: object
0           LG1
1         41715
2             T
3            10
4    ,.....,,.,
5    @C@CACGGIA
Name: 36507, dtype: object
0           LG1
1         41715
2             T
3            10
4    ,.....,,.,
5    @C@CACGGIA
Name: 36507, dtype: object
0           LG1
1         41715
2             T
3            10
4    ,.....,,.,
5    @C@CACGGIA
Name: 36507, dtype: object
0           LG1
1         41715
2             T
3            10
4    ,.....,,.,
5    @C@CACGGIA
Name: 36507, dtype: object
0           LG1
1         41715
2             T
3            10
4    ,.....,,.,
5    @C@CACGGIA
Name: 36507, dtype: object
0           LG1
1         41715
2             T
3            10
4    ,.....,,.,
5    @C@CACGGIA
Name: 36507, dtype: object
0           LG1
1         41715
2             T
3            10
4    ,.....,,.,
5    @C@CACGGIA
Name: 36507, dtype: object

0           LG1
1         41715
2             T
3            10
4    ,.....,,.,
5    @C@CACGGIA
Name: 36507, dtype: object
0           LG1
1         41715
2             T
3            10
4    ,.....,,.,
5    @C@CACGGIA
Name: 36507, dtype: object
0           LG1
1         41715
2             T
3            10
4    ,.....,,.,
5    @C@CACGGIA
Name: 36507, dtype: object
0           LG1
1         41718
2             T
3             9
4    .$....,,.,
5     >@DA>FJJD
Name: 36510, dtype: object
0           LG1
1         41718
2             T
3             9
4    .$....,,.,
5     >@DA>FJJD
Name: 36510, dtype: object
0           LG1
1         41718
2             T
3             9
4    .$....,,.,
5     >@DA>FJJD
Name: 36510, dtype: object
0           LG1
1         41718
2             T
3             9
4    .$....,,.,
5     >@DA>FJJD
Name: 36510, dtype: object
0           LG1
1         41718
2             T
3             9
4    .$....,,.,
5     >@DA>FJJD
Name: 36510, dtype: object
0           LG1
1         41718
2             T
3             9
4    .$....,,.,
5     >@DA>FJJD
Name: 36510, dtype: object
0           LG1
1         41718
2             T
3             9
4    .$....,,.,
5     >@DA>FJJD
Name: 36510, dtype: object
0           LG1
1         41819
2             C
3             6
4    ,.,,^!,^!,
5        JHCD?D
Name: 36611, dtype: object
0           LG1
1         41819
2             C
3             6
4    ,.,,^!,^!,
5        JHCD?D
Name: 36611, dtype: object
0           LG1
1         41819
2             C
3             6
4    ,.,,^!,^!,
5        JHCD?D
Name: 36611, dtype: object
0           LG1
1         41819
2             C
3             6
4    ,.,,^!,^!,
5        JHCD?D
Name: 36611, dtype: object
0           LG1
1         41819
2             C
3             6
4    ,.,,^!,^!,
5        JHCD?D
Name: 36611, dtype: object
0           LG1
1         41819
2             C
3             6
4    ,.,,^!,^!,
5        JHCD?D
Name: 36611, dtype: object
0           LG1
1         41854
2             C
3            10
4    .,,,,,,,,,
5    DJFDDDDDCA
Name: 36646, dtype: object
0           LG1
1         41854
2             C
3            10
4    .,,,,,,,,,
5    DJFDDDDDCA
Name: 36646, dtype: object
0           LG1
1         41854
2             C
3            10
4    .,,,,,,,,,
5    DJFDDDDDCA
Name: 36646, dtype: object
0           LG1
1         41854
2             C
3            10
4    .,,,,,,,,,
5    DJFDDDDDCA
Name: 36646, dtype: object
0           LG1
1         41854
2             C
3            10
4    .,,,,,,,,,
5    DJFDDDDDCA
Name: 36646, dtype: object
0           LG1
1         41854
2             C
3            10
4    .,,,,,,,,,
5    DJFDDDDDCA
Name: 36646, dtype: object
0           LG1
1         41854
2             C
3            10
4    .,,,,,,,,,
5    DJFDDDDDCA
Name: 36646, dtype: object
0           LG1
1         41854
2             C
3            10
4    .,,,,,,,,,
5    DJFDDDDDCA
Name: 36646, dtype: object
0           LG1
1         41854
2             C
3            10
4    .,,,,,,,,,
5    DJFDDDDDCA
Name: 36646, dtype: object
0           LG1
1         41854
2             C
3            10
4    .,,,,,,,,,
5    DJFDDDDDCA
Name: 36646, dtype: object
0           LG1
1         41855
2             T
3            10
4    .,,,,,,,,,
5    CIFDDCDDCA
Name: 36647, dtype: object
0           LG1
1         41855
2             T
3            10
4    .,,,,,,,,,
5    CIFDDCDDCA
Name: 36647, dtype: object
0           LG1
1         41855
2             T
3            10
4    .,,,,,,,,,
5    CIFDDCDDCA
Name: 36647, dtype: object
0           LG1
1         41855
2             T
3            10
4    .,,,,,,,,,
5    CIFDDCDDCA
Name: 36647, dtype: object
0           LG1
1         41855
2             T
3            10
4    .,,,,,,,,,
5    CIFDDCDDCA
Name: 36647, dtype: object
0           LG1
1         41855
2             T
3            10
4    .,,,,,,,,,
5    CIFDDCDDCA
Name: 36647, dtype: object
0           LG1
1         41855
2             T
3            10
4    .,,,,,,,,,
5    CIFDDCDDCA
Name: 36647, dtype: object
0           LG1
1         41855
2             T
3            10
4    .,,,,,,,,,
5    CIFDDCDDCA
Name: 36647, dtype: object
0           LG1
1         41855
2             T
3            10
4    .,,,,,,,,,
5    CIFDDCDDCA
Name: 36647, dtype: object
0           LG1
1         41855
2             T
3            10
4    .,,,,,,,,,
5    CIFDDCDDCA
Name: 36647, dtype: object
0           LG1
1         41856
2             T
3            10
4    .,,,,,,,,,
5    DGFDDCDDCA
Name: 36648, dtype: object
0           LG1
1         41856
2             T
3            10
4    .,,,,,,,,,
5    DGFDDCDDCA
Name: 36648, dtype: object
0           LG1
1         41856
2             T
3            10
4    .,,,,,,,,,
5    DGFDDCDDCA
Name: 36648, dtype: object
0           LG1
1         41856
2             T
3            10
4    .,,,,,,,,,
5    DGFDDCDDCA
Name: 36648, dtype: object
0           LG1
1         41856
2             T
3            10
4    .,,,,,,,,,
5    DGFDDCDDCA
Name: 36648, dtype: object
0           LG1
1         41856
2             T
3            10
4    .,,,,,,,,,
5    DGFDDCDDCA
Name: 36648, dtype: object
0           LG1
1         41856
2             T
3            10
4    .,,,,,,,,,
5    DGFDDCDDCA
Name: 36648, dtype: object
0           LG1
1         41856
2             T
3            10
4    .,,,,,,,,,
5    DGFDDCDDCA
Name: 36648, dtype: object
0           LG1
1         41856
2             T
3            10
4    .,,,,,,,,,
5    DGFDDCDDCA
Name: 36648, dtype: object
0           LG1
1         41856
2             T
3            10
4    .,,,,,,,,,
5    DGFDDCDDCA
Name: 36648, dtype: object
0           LG1
1         41865
2             C
3            10
4    ,,,,,,,,,,
5    GJFHDDDB;B
Name: 36657, dtype: object
0           LG1
1         41865
2             C
3            10
4    ,,,,,,,,,,
5    GJFHDDDB;B
Name: 36657, dtype: object
0           LG1
1         41865
2             C
3            10
4    ,,,,,,,,,,
5    GJFHDDDB;B
Name: 36657, dtype: object
0           LG1
1         41865
2             C
3            10
4    ,,,,,,,,,,
5    GJFHDDDB;B
Name: 36657, dtype: object
0           LG1
1         41865
2             C
3            10
4    ,,,,,,,,,,
5    GJFHDDDB;B
Name: 36657, dtype: object
0           LG1
1         41865
2             C
3            10
4    ,,,,,,,,,,
5    GJFHDDDB;B
Name: 36657, dtype: object
0           LG1
1         41865
2             C
3            10
4    ,,,,,,,,,,
5    GJFHDDDB;B
Name: 36657, dtype: object
0           LG1
1         41865
2             C
3            10
4    ,,,,,,,,,,
5    GJFHDDDB;B
Name: 36657, dtype: object
0           LG1
1         41865
2             C
3            10
4    ,,,,,,,,,,
5    GJFHDDDB;B
Name: 36657, dtype: object
0           LG1
1         41866
2             T
3            10
4    ,,,,,,,,,,
5    GJFFBDD?;>
Name: 36658, dtype: object
0           LG1
1         41866
2             T
3            10
4    ,,,,,,,,,,
5    GJFFBDD?;>
Name: 36658, dtype: object
0           LG1
1         41866
2             T
3            10
4    ,,,,,,,,,,
5    GJFFBDD?;>
Name: 36658, dtype: object
0           LG1
1         41866
2             T
3            10
4    ,,,,,,,,,,
5    GJFFBDD?;>
Name: 36658, dtype: object
0           LG1
1         41866
2             T
3            10
4    ,,,,,,,,,,
5    GJFFBDD?;>
Name: 36658, dtype: object
0           LG1
1         41866
2             T
3            10
4    ,,,,,,,,,,
5    GJFFBDD?;>
Name: 36658, dtype: object
0           LG1
1         41866
2             T
3            10
4    ,,,,,,,,,,
5    GJFFBDD?;>
Name: 36658, dtype: object
0           LG1
1         41866
2             T
3            10
4    ,,,,,,,,,,
5    GJFFBDD?;>
Name: 36658, dtype: object
0           LG1
1         41867
2             T
3            10
4    ,,,,,,,,,,
5    GIHHDFC=5D
Name: 36659, dtype: object
0           LG1
1         41867
2             T
3            10
4    ,,,,,,,,,,
5    GIHHDFC=5D
Name: 36659, dtype: object
0           LG1
1         41867
2             T
3            10
4    ,,,,,,,,,,
5    GIHHDFC=5D
Name: 36659, dtype: object
0           LG1
1         41867
2             T
3            10
4    ,,,,,,,,,,
5    GIHHDFC=5D

Name: 36659, dtype: object
0           LG1
1         41867
2             T
3            10
4    ,,,,,,,,,,
5    GIHHDFC=5D
Name: 36659, dtype: object
0           LG1
1         41867
2             T
3            10
4    ,,,,,,,,,,
5    GIHHDFC=5D
Name: 36659, dtype: object
0           LG1
1         41867
2             T
3            10
4    ,,,,,,,,,,
5    GIHHDFC=5D
Name: 36659, dtype: object
0           LG1
1         41867
2             T
3            10
4    ,,,,,,,,,,
5    GIHHDFC=5D
Name: 36659, dtype: object
0           LG1
1         41868
2             T
3            10
4    ,,,,,,,,,,
5    IJHJBFF@5B
Name: 36660, dtype: object
0           LG1
1         41868
2             T
3            10
4    ,,,,,,,,,,
5    IJHJBFF@5B
Name: 36660, dtype: object
0           LG1
1         41868
2             T
3            10
4    ,,,,,,,,,,
5    IJHJBFF@5B
Name: 36660, dtype: object
0           LG1
1         41868
2             T
3            10
4    ,,,,,,,,,,
5    IJHJBFF@5B
Name: 36660, dtype: object
0           LG1
1         41868
2             T
3            10
4    ,,,,,,,,,,
5    IJHJBFF@5B
Name: 36660, dtype: object
0           LG1
1         41868
2             T
3            10
4    ,,,,,,,,,,
5    IJHJBFF@5B
Name: 36660, dtype: object
0           LG1
1         41868
2             T
3            10
4    ,,,,,,,,,,
5    IJHJBFF@5B
Name: 36660, dtype: object
0           LG1
1         41868
2             T
3            10
4    ,,,,,,,,,,
5    IJHJBFF@5B
Name: 36660, dtype: object
0           LG1
1         41868
2             T
3            10
4    ,,,,,,,,,,
5    IJHJBFF@5B
Name: 36660, dtype: object
0           LG1
1         41869
2             C
3            10
4    ,,,,,,,,,,
5    IIJJDHFB6B
Name: 36661, dtype: object
0           LG1
1         41869
2             C
3            10
4    ,,,,,,,,,,
5    IIJJDHFB6B
Name: 36661, dtype: object
0           LG1
1         41869
2             C
3            10
4    ,,,,,,,,,,
5    IIJJDHFB6B
Name: 36661, dtype: object
0           LG1
1         41869
2             C
3            10
4    ,,,,,,,,,,
5    IIJJDHFB6B
Name: 36661, dtype: object
0           LG1
1         41869
2             C
3            10
4    ,,,,,,,,,,
5    IIJJDHFB6B
Name: 36661, dtype: object
0           LG1
1         41869
2             C
3            10
4    ,,,,,,,,,,
5    IIJJDHFB6B
Name: 36661, dtype: object
0           LG1
1         41869
2             C
3            10
4    ,,,,,,,,,,
5    IIJJDHFB6B
Name: 36661, dtype: object
0           LG1
1         41869
2             C
3            10
4    ,,,,,,,,,,
5    IIJJDHFB6B
Name: 36661, dtype: object
0           LG1
1         41869
2             C
3            10
4    ,,,,,,,,,,
5    IIJJDHFB6B
Name: 36661, dtype: object
0           LG1
1         41870
2             G
3            10
4    ,a,,,,,,,,
5    GIJJBHGC>?
Name: 36662, dtype: object
0           LG1
1         41870
2             G
3            10
4    ,a,,,,,,,,
5    GIJJBHGC>?
Name: 36662, dtype: object
0           LG1
1         41870
2             G
3            10
4    ,a,,,,,,,,
5    GIJJBHGC>?
Name: 36662, dtype: object
0           LG1
1         41870
2             G
3            10
4    ,a,,,,,,,,
5    GIJJBHGC>?
Name: 36662, dtype: object
0           LG1
1         41870
2             G
3            10
4    ,a,,,,,,,,
5    GIJJBHGC>?
Name: 36662, dtype: object
0           LG1
1         41870
2             G
3            10
4    ,a,,,,,,,,
5    GIJJBHGC>?
Name: 36662, dtype: object
0           LG1
1         41870
2             G
3            10
4    ,a,,,,,,,,
5    GIJJBHGC>?
Name: 36662, dtype: object
0           LG1
1         41870
2             G
3            10
4    ,a,,,,,,,,
5    GIJJBHGC>?
Name: 36662, dtype: object
0           LG1
1         41870
2             G
3            10
4    ,a,,,,,,,,
5    GIJJBHGC>?
Name: 36662, dtype: object
0           LG1
1         41871
2             T
3            10
4    ,,,,,,,,,,
5    GHJIBHHB?A
Name: 36663, dtype: object
0           LG1
1         41871
2             T
3            10
4    ,,,,,,,,,,
5    GHJIBHHB?A
Name: 36663, dtype: object
0           LG1
1         41871
2             T
3            10
4    ,,,,,,,,,,
5    GHJIBHHB?A
Name: 36663, dtype: object
0           LG1
1         41871
2             T
3            10
4    ,,,,,,,,,,
5    GHJIBHHB?A
Name: 36663, dtype: object
0           LG1
1         41871
2             T
3            10
4    ,,,,,,,,,,
5    GHJIBHHB?A
Name: 36663, dtype: object
0           LG1
1         41871
2             T
3            10
4    ,,,,,,,,,,
5    GHJIBHHB?A
Name: 36663, dtype: object
0           LG1
1         41871
2             T
3            10
4    ,,,,,,,,,,
5    GHJIBHHB?A
Name: 36663, dtype: object
0           LG1
1         41871
2             T
3            10
4    ,,,,,,,,,,
5    GHJIBHHB?A
Name: 36663, dtype: object
0           LG1
1         41871
2             T
3            10
4    ,,,,,,,,,,
5    GHJIBHHB?A
Name: 36663, dtype: object
0           LG1
1         41871
2             T
3            10
4    ,,,,,,,,,,
5    GHJIBHHB?A
Name: 36663, dtype: object
0           LG1
1         41872
2             C
3            10
4    ,,,,,,,,,,
5    GIJI=IHB?8
Name: 36664, dtype: object
0           LG1
1         41872
2             C
3            10
4    ,,,,,,,,,,
5    GIJI=IHB?8
Name: 36664, dtype: object
0           LG1
1         41872
2             C
3            10
4    ,,,,,,,,,,
5    GIJI=IHB?8
Name: 36664, dtype: object
0           LG1
1         41872
2             C
3            10
4    ,,,,,,,,,,
5    GIJI=IHB?8
Name: 36664, dtype: object
0           LG1
1         41872
2             C
3            10
4    ,,,,,,,,,,
5    GIJI=IHB?8
Name: 36664, dtype: object
0           LG1
1         41872
2             C
3            10
4    ,,,,,,,,,,
5    GIJI=IHB?8
Name: 36664, dtype: object
0           LG1
1         41872
2             C
3            10
4    ,,,,,,,,,,
5    GIJI=IHB?8
Name: 36664, dtype: object
0           LG1
1         41872
2             C
3            10
4    ,,,,,,,,,,
5    GIJI=IHB?8
Name: 36664, dtype: object
0           LG1
1         41873
2             T
3            10
4    ,,,,,,,,,,
5    JGJHAIEB<>
Name: 36665, dtype: object
0           LG1
1         41873
2             T
3            10
4    ,,,,,,,,,,
5    JGJHAIEB<>
Name: 36665, dtype: object
0           LG1
1         41873
2             T
3            10
4    ,,,,,,,,,,
5    JGJHAIEB<>
Name: 36665, dtype: object
0           LG1
1         41873
2             T
3            10
4    ,,,,,,,,,,
5    JGJHAIEB<>
Name: 36665, dtype: object
0           LG1
1         41873
2             T
3            10
4    ,,,,,,,,,,
5    JGJHAIEB<>
Name: 36665, dtype: object
0           LG1
1         41873
2             T
3            10
4    ,,,,,,,,,,
5    JGJHAIEB<>
Name: 36665, dtype: object
0           LG1
1         41873
2             T
3            10
4    ,,,,,,,,,,
5    JGJHAIEB<>
Name: 36665, dtype: object
0           LG1
1         41873
2             T
3            10
4    ,,,,,,,,,,
5    JGJHAIEB<>
Name: 36665, dtype: object
0           LG1
1         41874
2             T
3            10
4    ,,,,,,,,,,
5    JFIBHIAA<D
Name: 36666, dtype: object
0           LG1
1         41874
2             T
3            10
4    ,,,,,,,,,,
5    JFIBHIAA<D
Name: 36666, dtype: object
0           LG1
1         41874
2             T
3            10
4    ,,,,,,,,,,
5    JFIBHIAA<D
Name: 36666, dtype: object
0           LG1
1         41874
2             T
3            10
4    ,,,,,,,,,,
5    JFIBHIAA<D
Name: 36666, dtype: object
0           LG1
1         41874
2             T
3            10
4    ,,,,,,,,,,
5    JFIBHIAA<D
Name: 36666, dtype: object
0           LG1
1         41874
2             T
3            10
4    ,,,,,,,,,,
5    JFIBHIAA<D
Name: 36666, dtype: object
0           LG1
1         41874
2             T
3            10
4    ,,,,,,,,,,
5    JFIBHIAA<D
Name: 36666, dtype: object
0           LG1
1         41874
2             T
3            10
4    ,,,,,,,,,,
5    JFIBHIAA<D
Name: 36666, dtype: object
0           LG1
1         41874
2             T
3            10
4    ,,,,,,,,,,
5    JFIBHIAA<D
Name: 36666, dtype: object
0           LG1
1         41875
2             C
3            10
4    ,,,,,,,,,,
5    IJJJIJJD<D
Name: 36667, dtype: object
0           LG1
1         41875
2             C
3            10
4    ,,,,,,,,,,
5    IJJJIJJD<D
Name: 36667, dtype: object
0           LG1
1         41875
2             C
3            10
4    ,,,,,,,,,,
5    IJJJIJJD<D
Name: 36667, dtype: object
0           LG1
1         41875
2             C
3            10
4    ,,,,,,,,,,
5    IJJJIJJD<D
Name: 36667, dtype: object
0           LG1
1         41875
2             C
3            10
4    ,,,,,,,,,,
5    IJJJIJJD<D
Name: 36667, dtype: object
0           LG1
1         41875
2             C
3            10
4    ,,,,,,,,,,
5    IJJJIJJD<D
Name: 36667, dtype: object
0           LG1
1         41875
2             C
3            10
4    ,,,,,,,,,,
5    IJJJIJJD<D
Name: 36667, dtype: object
0           LG1
1         41875
2             C
3            10
4    ,,,,,,,,,,
5    IJJJIJJD<D
Name: 36667, dtype: object
0           LG1
1         41875
2             C
3            10
4    ,,,,,,,,,,
5    IJJJIJJD<D
Name: 36667, dtype: object
0           LG1
1         41876
2             C
3            10
4    ,,,,,,,,,,
5    GJJJHIJF8D
Name: 36668, dtype: object
0           LG1
1         41876
2             C
3            10
4    ,,,,,,,,,,
5    GJJJHIJF8D
Name: 36668, dtype: object
0           LG1
1         41876
2             C
3            10
4    ,,,,,,,,,,
5    GJJJHIJF8D
Name: 36668, dtype: object
0           LG1
1         41876
2             C
3            10
4    ,,,,,,,,,,
5    GJJJHIJF8D
Name: 36668, dtype: object
0           LG1
1         41876
2             C
3            10
4    ,,,,,,,,,,
5    GJJJHIJF8D
Name: 36668, dtype: object
0           LG1
1         41876
2             C
3            10
4    ,,,,,,,,,,
5    GJJJHIJF8D
Name: 36668, dtype: object
0           LG1
1         41876
2             C
3            10
4    ,,,,,,,,,,
5    GJJJHIJF8D
Name: 36668, dtype: object
0           LG1
1         41876
2             C
3            10
4    ,,,,,,,,,,
5    GJJJHIJF8D
Name: 36668, dtype: object
0           LG1
1         41876
2             C
3            10
4    ,,,,,,,,,,
5    GJJJHIJF8D
Name: 36668, dtype: object
0           LG1
1         41877
2             C
3            10
4    ,,,,,,,,,,
5    HJJIGJIDAD
Name: 36669, dtype: object
0           LG1
1         41877
2             C
3            10
4    ,,,,,,,,,,
5    HJJIGJIDAD
Name: 36669, dtype: object
0           LG1
1         41877
2             C
3            10
4    ,,,,,,,,,,
5    HJJIGJIDAD
Name: 36669, dtype: object
0           LG1
1         41877
2             C
3            10
4    ,,,,,,,,,,
5    HJJIGJIDAD
Name: 36669, dtype: object
0           LG1
1         41877
2             C
3            10
4    ,,,,,,,,,,
5    HJJIGJIDAD
Name: 36669, dtype: object
0           LG1
1         41877
2             C
3            10
4    ,,,,,,,,,,
5    HJJIGJIDAD
Name: 36669, dtype: object
0           LG1
1         41877
2             C
3            10
4    ,,,,,,,,,,
5    HJJIGJIDAD
Name: 36669, dtype: object
0           LG1
1         41877
2             C
3            10
4    ,,,,,,,,,,
5    HJJIGJIDAD
Name: 36669, dtype: object
0           LG1
1         41877
2             C
3            10
4    ,,,,,,,,,,
5    HJJIGJIDAD
Name: 36669, dtype: object
0           LG1
1         41877
2             C
3            10
4    ,,,,,,,,,,
5    HJJIGJIDAD
Name: 36669, dtype: object
0           LG1
1         41878
2             C
3            10
4    ,,,,,,,,,,
5    FHIGFHF@AC
Name: 36670, dtype: object
0           LG1
1         41878
2             C
3            10
4    ,,,,,,,,,,
5    FHIGFHF@AC
Name: 36670, dtype: object
0           LG1
1         41878
2             C
3            10
4    ,,,,,,,,,,
5    FHIGFHF@AC
Name: 36670, dtype: object
0           LG1
1         41878
2             C
3            10
4    ,,,,,,,,,,
5    FHIGFHF@AC
Name: 36670, dtype: object
0           LG1
1         41878
2             C
3            10
4    ,,,,,,,,,,
5    FHIGFHF@AC
Name: 36670, dtype: object
0           LG1
1         41878
2             C
3            10
4    ,,,,,,,,,,
5    FHIGFHF@AC
Name: 36670, dtype: object
0           LG1
1         41878
2             C
3            10
4    ,,,,,,,,,,
5    FHIGFHF@AC
Name: 36670, dtype: object
0           LG1
1         41878
2             C
3            10
4    ,,,,,,,,,,
5    FHIGFHF@AC
Name: 36670, dtype: object
0           LG1
1         41878
2             C
3            10
4    ,,,,,,,,,,
5    FHIGFHF@AC
Name: 36670, dtype: object
0           LG1
1         41878
2             C
3            10
4    ,,,,,,,,,,
5    FHIGFHF@AC
Name: 36670, dtype: object
0           LG1
1         41879
2             T
3            10
4    ,,,,,,,,c,
5    EGGGBF>E=C
Name: 36671, dtype: object
0           LG1
1         41879
2             T
3            10
4    ,,,,,,,,c,
5    EGGGBF>E=C
Name: 36671, dtype: object
0           LG1
1         41879
2             T
3            10
4    ,,,,,,,,c,
5    EGGGBF>E=C
Name: 36671, dtype: object
0           LG1
1         41879
2             T
3            10
4    ,,,,,,,,c,
5    EGGGBF>E=C
Name: 36671, dtype: object
0           LG1
1         41879
2             T
3            10
4    ,,,,,,,,c,
5    EGGGBF>E=C
Name: 36671, dtype: object
0           LG1
1         41879
2             T
3            10
4    ,,,,,,,,c,
5    EGGGBF>E=C
Name: 36671, dtype: object
0           LG1
1         41879
2             T
3            10
4    ,,,,,,,,c,
5    EGGGBF>E=C
Name: 36671, dtype: object
0           LG1
1         41879
2             T
3            10
4    ,,,,,,,,c,
5    EGGGBF>E=C
Name: 36671, dtype: object
0           LG1
1         41880
2             C
3            10
4    ,,,,,,,,,,
5    JJJJGJJG9D
Name: 36672, dtype: object
0           LG1
1         41880
2             C
3            10
4    ,,,,,,,,,,
5    JJJJGJJG9D
Name: 36672, dtype: object
0           LG1
1         41880
2             C
3            10
4    ,,,,,,,,,,
5    JJJJGJJG9D
Name: 36672, dtype: object
0           LG1
1         41880
2             C
3            10
4    ,,,,,,,,,,
5    JJJJGJJG9D
Name: 36672, dtype: object
0           LG1
1         41880
2             C
3            10
4    ,,,,,,,,,,
5    JJJJGJJG9D
Name: 36672, dtype: object
0           LG1
1         41880
2             C
3            10
4    ,,,,,,,,,,
5    JJJJGJJG9D
Name: 36672, dtype: object
0           LG1
1         41880
2             C
3            10
4    ,,,,,,,,,,
5    JJJJGJJG9D

Name: 36672, dtype: object
0           LG1
1         41880
2             C
3            10
4    ,,,,,,,,,,
5    JJJJGJJG9D
Name: 36672, dtype: object
0           LG1
1         41880
2             C
3            10
4    ,,,,,,,,,,
5    JJJJGJJG9D
Name: 36672, dtype: object
0           LG1
1         41881
2             G
3            10
4    cccccccccc
5    JJJFGIJF>D
Name: 36673, dtype: object
0           LG1
1         41881
2             G
3            10
4    cccccccccc
5    JJJFGIJF>D
Name: 36673, dtype: object
0           LG1
1         41881
2             G
3            10
4    cccccccccc
5    JJJFGIJF>D
Name: 36673, dtype: object
0           LG1
1         41881
2             G
3            10
4    cccccccccc
5    JJJFGIJF>D
Name: 36673, dtype: object
0           LG1
1         41881
2             G
3            10
4    cccccccccc
5    JJJFGIJF>D
Name: 36673, dtype: object
0           LG1
1         41881
2             G
3            10
4    cccccccccc
5    JJJFGIJF>D
Name: 36673, dtype: object
0           LG1
1         41881
2             G
3            10
4    cccccccccc
5    JJJFGIJF>D
Name: 36673, dtype: object
0           LG1
1         41881
2             G
3            10
4    cccccccccc
5    JJJFGIJF>D
Name: 36673, dtype: object
0           LG1
1         41881
2             G
3            10
4    cccccccccc
5    JJJFGIJF>D
Name: 36673, dtype: object
0           LG1
1         41935
2             C
3            10
4    ,,,.,,.,..
5    DG0J?AJEHF
Name: 36727, dtype: object
0           LG1
1         41935
2             C
3            10
4    ,,,.,,.,..
5    DG0J?AJEHF
Name: 36727, dtype: object
0           LG1
1         41935
2             C
3            10
4    ,,,.,,.,..
5    DG0J?AJEHF
Name: 36727, dtype: object
0           LG1
1         41935
2             C
3            10
4    ,,,.,,.,..
5    DG0J?AJEHF
Name: 36727, dtype: object
0           LG1
1         41935
2             C
3            10
4    ,,,.,,.,..
5    DG0J?AJEHF
Name: 36727, dtype: object
0           LG1
1         41935
2             C
3            10
4    ,,,.,,.,..
5    DG0J?AJEHF
Name: 36727, dtype: object
0           LG1
1         41935
2             C
3            10
4    ,,,.,,.,..
5    DG0J?AJEHF
Name: 36727, dtype: object
0           LG1
1         41935
2             C
3            10
4    ,,,.,,.,..
5    DG0J?AJEHF
Name: 36727, dtype: object
0           LG1
1         41935
2             C
3            10
4    ,,,.,,.,..
5    DG0J?AJEHF
Name: 36727, dtype: object
0           LG1
1         41941
2             T
3            10
4    ccc.cc...,
5    FJFiBFJJHE
Name: 36733, dtype: object
0           LG1
1         41941
2             T
3            10
4    ccc.cc...,
5    FJFiBFJJHE
Name: 36733, dtype: object
0           LG1
1         41941
2             T
3            10
4    ccc.cc...,
5    FJFiBFJJHE
Name: 36733, dtype: object
0           LG1
1         41941
2             T
3            10
4    ccc.cc...,
5    FJFiBFJJHE
Name: 36733, dtype: object
0           LG1
1         41941
2             T
3            10
4    ccc.cc...,
5    FJFiBFJJHE
Name: 36733, dtype: object
0           LG1
1         41941
2             T
3            10
4    ccc.cc...,
5    FJFiBFJJHE
Name: 36733, dtype: object
0           LG1
1         41941
2             T
3            10
4    ccc.cc...,
5    FJFiBFJJHE
Name: 36733, dtype: object
0           LG1
1         41941
2             T
3            10
4    ccc.cc...,
5    FJFiBFJJHE
Name: 36733, dtype: object
0           LG1
1         41941
2             T
3            10
4    ccc.cc...,
5    FJFiBFJJHE
Name: 36733, dtype: object
0           LG1
1         41941
2             T
3            10
4    ccc.cc...,
5    FJFiBFJJHE
Name: 36733, dtype: object
0           LG1
1         41942
2             A
3            10
4    ,,,.,,...,
5    FJAmHFJJJD
Name: 36734, dtype: object
0           LG1
1         41942
2             A
3            10
4    ,,,.,,...,
5    FJAmHFJJJD
Name: 36734, dtype: object
0           LG1
1         41942
2             A
3            10
4    ,,,.,,...,
5    FJAmHFJJJD
Name: 36734, dtype: object
0           LG1
1         41942
2             A
3            10
4    ,,,.,,...,
5    FJAmHFJJJD
Name: 36734, dtype: object
0           LG1
1         41942
2             A
3            10
4    ,,,.,,...,
5    FJAmHFJJJD
Name: 36734, dtype: object
0           LG1
1         41942
2             A
3            10
4    ,,,.,,...,
5    FJAmHFJJJD
Name: 36734, dtype: object
0           LG1
1         41942
2             A
3            10
4    ,,,.,,...,
5    FJAmHFJJJD
Name: 36734, dtype: object
0           LG1
1         41942
2             A
3            10
4    ,,,.,,...,
5    FJAmHFJJJD
Name: 36734, dtype: object
0           LG1
1         41942
2             A
3            10
4    ,,,.,,...,
5    FJAmHFJJJD
Name: 36734, dtype: object
0           LG1
1         41942
2             A
3            10
4    ,,,.,,...,
5    FJAmHFJJJD
Name: 36734, dtype: object
0           LG1
1         41946
2             A
3            10
4    ,,.,,.,..,
5    JBfFAI@JJD
Name: 36738, dtype: object
0           LG1
1         41946
2             A
3            10
4    ,,.,,.,..,
5    JBfFAI@JJD
Name: 36738, dtype: object
0           LG1
1         41946
2             A
3            10
4    ,,.,,.,..,
5    JBfFAI@JJD
Name: 36738, dtype: object
0           LG1
1         41946
2             A
3            10
4    ,,.,,.,..,
5    JBfFAI@JJD
Name: 36738, dtype: object
0           LG1
1         41946
2             A
3            10
4    ,,.,,.,..,
5    JBfFAI@JJD
Name: 36738, dtype: object
0           LG1
1         41946
2             A
3            10
4    ,,.,,.,..,
5    JBfFAI@JJD
Name: 36738, dtype: object
0           LG1
1         41946
2             A
3            10
4    ,,.,,.,..,
5    JBfFAI@JJD
Name: 36738, dtype: object
0           LG1
1         41946
2             A
3            10
4    ,,.,,.,..,
5    JBfFAI@JJD
Name: 36738, dtype: object
0           LG1
1         41946
2             A
3            10
4    ,,.,,.,..,
5    JBfFAI@JJD
Name: 36738, dtype: object
0           LG1
1         41946
2             A
3            10
4    ,,.,,.,..,
5    JBfFAI@JJD
Name: 36738, dtype: object
0           LG1
1         41947
2             G
3            10
4    ,,.,,.,..,
5    JBg8?J2JJD
Name: 36739, dtype: object
0           LG1
1         41947
2             G
3            10
4    ,,.,,.,..,
5    JBg8?J2JJD
Name: 36739, dtype: object
0           LG1
1         41947
2             G
3            10
4    ,,.,,.,..,
5    JBg8?J2JJD
Name: 36739, dtype: object
0           LG1
1         41947
2             G
3            10
4    ,,.,,.,..,
5    JBg8?J2JJD
Name: 36739, dtype: object
0           LG1
1         41947
2             G
3            10
4    ,,.,,.,..,
5    JBg8?J2JJD
Name: 36739, dtype: object
0           LG1
1         41947
2             G
3            10
4    ,,.,,.,..,
5    JBg8?J2JJD
Name: 36739, dtype: object
0           LG1
1         41947
2             G
3            10
4    ,,.,,.,..,
5    JBg8?J2JJD
Name: 36739, dtype: object
0           LG1
1         41947
2             G
3            10
4    ,,.,,.,..,
5    JBg8?J2JJD
Name: 36739, dtype: object
0           LG1
1         41948
2             T
3            10
4    ,,.,,.,..,
5    J?gHBHFIHD
Name: 36740, dtype: object
0           LG1
1         41948
2             T
3            10
4    ,,.,,.,..,
5    J?gHBHFIHD
Name: 36740, dtype: object
0           LG1
1         41948
2             T
3            10
4    ,,.,,.,..,
5    J?gHBHFIHD
Name: 36740, dtype: object
0           LG1
1         41948
2             T
3            10
4    ,,.,,.,..,
5    J?gHBHFIHD
Name: 36740, dtype: object
0           LG1
1         41948
2             T
3            10
4    ,,.,,.,..,
5    J?gHBHFIHD
Name: 36740, dtype: object
0           LG1
1         41948
2             T
3            10
4    ,,.,,.,..,
5    J?gHBHFIHD
Name: 36740, dtype: object
0           LG1
1         41948
2             T
3            10
4    ,,.,,.,..,
5    J?gHBHFIHD
Name: 36740, dtype: object
0           LG1
1         41948
2             T
3            10
4    ,,.,,.,..,
5    J?gHBHFIHD
Name: 36740, dtype: object
0           LG1
1         41948
2             T
3            10
4    ,,.,,.,..,
5    J?gHBHFIHD
Name: 36740, dtype: object
0           LG1
1         41948
2             T
3            10
4    ,,.,,.,..,
5    J?gHBHFIHD
Name: 36740, dtype: object
0           LG1
1         41949
2             G
3            10
4    ,,.,,.,..,
5    J:k9=G=IHD
Name: 36741, dtype: object
0           LG1
1         41949
2             G
3            10
4    ,,.,,.,..,
5    J:k9=G=IHD
Name: 36741, dtype: object
0           LG1
1         41949
2             G
3            10
4    ,,.,,.,..,
5    J:k9=G=IHD
Name: 36741, dtype: object
0           LG1
1         41949
2             G
3            10
4    ,,.,,.,..,
5    J:k9=G=IHD
Name: 36741, dtype: object
0           LG1
1         41949
2             G
3            10
4    ,,.,,.,..,
5    J:k9=G=IHD
Name: 36741, dtype: object
0           LG1
1         41949
2             G
3            10
4    ,,.,,.,..,
5    J:k9=G=IHD
Name: 36741, dtype: object
0           LG1
1         41950
2             C
3            10
4    ,,.,,.,..,
5    J<i<DI3IID
Name: 36742, dtype: object
0           LG1
1         41950
2             C
3            10
4    ,,.,,.,..,
5    J<i<DI3IID
Name: 36742, dtype: object
0           LG1
1         41950
2             C
3            10
4    ,,.,,.,..,
5    J<i<DI3IID
Name: 36742, dtype: object
0           LG1
1         41950
2             C
3            10
4    ,,.,,.,..,
5    J<i<DI3IID
Name: 36742, dtype: object
0           LG1
1         41950
2             C
3            10
4    ,,.,,.,..,
5    J<i<DI3IID
Name: 36742, dtype: object
0           LG1
1         41950
2             C
3            10
4    ,,.,,.,..,
5    J<i<DI3IID
Name: 36742, dtype: object
0           LG1
1         41950
2             C
3            10
4    ,,.,,.,..,
5    J<i<DI3IID
Name: 36742, dtype: object
0           LG1
1         41951
2             C
3            10
4    ,,.,,.,..,
5    JBiC;JBJJD
Name: 36743, dtype: object
0           LG1
1         41951
2             C
3            10
4    ,,.,,.,..,
5    JBiC;JBJJD
Name: 36743, dtype: object
0           LG1
1         41951
2             C
3            10
4    ,,.,,.,..,
5    JBiC;JBJJD
Name: 36743, dtype: object
0           LG1
1         41951
2             C
3            10
4    ,,.,,.,..,
5    JBiC;JBJJD
Name: 36743, dtype: object
0           LG1
1         41951
2             C
3            10
4    ,,.,,.,..,
5    JBiC;JBJJD
Name: 36743, dtype: object
0           LG1
1         41951
2             C
3            10
4    ,,.,,.,..,
5    JBiC;JBJJD
Name: 36743, dtype: object
0           LG1
1         41951
2             C
3            10
4    ,,.,,.,..,
5    JBiC;JBJJD
Name: 36743, dtype: object
0           LG1
1         41951
2             C
3            10
4    ,,.,,.,..,
5    JBiC;JBJJD
Name: 36743, dtype: object
0           LG1
1         41951
2             C
3            10
4    ,,.,,.,..,
5    JBiC;JBJJD
Name: 36743, dtype: object
0           LG1
1         41952
2             T
3            10
4    ,,.,,.,..,
5    GCm:<J8JJE
Name: 36744, dtype: object
0           LG1
1         41952
2             T
3            10
4    ,,.,,.,..,
5    GCm:<J8JJE
Name: 36744, dtype: object
0           LG1
1         41952
2             T
3            10
4    ,,.,,.,..,
5    GCm:<J8JJE
Name: 36744, dtype: object
0           LG1
1         41952
2             T
3            10
4    ,,.,,.,..,
5    GCm:<J8JJE
Name: 36744, dtype: object
0           LG1
1         41952
2             T
3            10
4    ,,.,,.,..,
5    GCm:<J8JJE
Name: 36744, dtype: object
0           LG1
1         41952
2             T
3            10
4    ,,.,,.,..,
5    GCm:<J8JJE
Name: 36744, dtype: object
0           LG1
1         41952
2             T
3            10
4    ,,.,,.,..,
5    GCm:<J8JJE
Name: 36744, dtype: object
0           LG1
1         41964
2             T
3             9
4    ,$,.,.,..,
5     BAiCJ0JJF
Name: 36756, dtype: object
0           LG1
1         41964
2             T
3             9
4    ,$,.,.,..,
5     BAiCJ0JJF
Name: 36756, dtype: object
0           LG1
1         41964
2             T
3             9
4    ,$,.,.,..,
5     BAiCJ0JJF
Name: 36756, dtype: object
0           LG1
1         41964
2             T
3             9
4    ,$,.,.,..,
5     BAiCJ0JJF
Name: 36756, dtype: object
0           LG1
1         41964
2             T
3             9
4    ,$,.,.,..,
5     BAiCJ0JJF
Name: 36756, dtype: object
0           LG1
1         41964
2             T
3             9
4    ,$,.,.,..,
5     BAiCJ0JJF
Name: 36756, dtype: object
0           LG1
1         41964
2             T
3             9
4    ,$,.,.,..,
5     BAiCJ0JJF
Name: 36756, dtype: object
0           LG1
1         41964
2             T
3             9
4    ,$,.,.,..,
5     BAiCJ0JJF
Name: 36756, dtype: object
0           LG1
1         42206
2             T
3             6
4    ,,..^!.^!,
5        HI?CCB
Name: 36998, dtype: object
0           LG1
1         42206
2             T
3             6
4    ,,..^!.^!,
5        HI?CCB
Name: 36998, dtype: object
0           LG1
1         42206
2             T
3             6
4    ,,..^!.^!,
5        HI?CCB
Name: 36998, dtype: object
0           LG1
1         42206
2             T
3             6
4    ,,..^!.^!,
5        HI?CCB
Name: 36998, dtype: object
0           LG1
1         42206
2             T
3             6
4    ,,..^!.^!,
5        HI?CCB
Name: 36998, dtype: object
0           LG1
1         42206
2             T
3             6
4    ,,..^!.^!,
5        HI?CCB
Name: 36998, dtype: object
0           LG1
1         42599
2             T
3             9
4    ,$..,,....
5     CDD<ICDDC
Name: 37391, dtype: object
0           LG1
1         42599
2             T
3             9
4    ,$..,,....
5     CDD<ICDDC
Name: 37391, dtype: object
0           LG1
1         42599
2             T
3             9
4    ,$..,,....
5     CDD<ICDDC
Name: 37391, dtype: object
0           LG1
1         42599
2             T
3             9
4    ,$..,,....
5     CDD<ICDDC
Name: 37391, dtype: object
0           LG1
1         42599
2             T
3             9
4    ,$..,,....
5     CDD<ICDDC
Name: 37391, dtype: object
0           LG1
1         42599
2             T
3             9
4    ,$..,,....
5     CDD<ICDDC
Name: 37391, dtype: object
0           LG1
1         42599
2             T
3             9
4    ,$..,,....
5     CDD<ICDDC
Name: 37391, dtype: object
0           LG1
1         42599
2             T
3             9
4    ,$..,,....
5     CDD<ICDDC
Name: 37391, dtype: object
0           LG1
1         42601
2             G
3             9
4    .$.,,..,..
5     DDHHD@ADF

Name: 37393, dtype: object
0           LG1
1         42601
2             G
3             9
4    .$.,,..,..
5     DDHHD@ADF
Name: 37393, dtype: object
0           LG1
1         42601
2             G
3             9
4    .$.,,..,..
5     DDHHD@ADF
Name: 37393, dtype: object
0           LG1
1         42601
2             G
3             9
4    .$.,,..,..
5     DDHHD@ADF
Name: 37393, dtype: object
0           LG1
1         42601
2             G
3             9
4    .$.,,..,..
5     DDHHD@ADF
Name: 37393, dtype: object
0           LG1
1         42601
2             G
3             9
4    .$.,,..,..
5     DDHHD@ADF
Name: 37393, dtype: object
0           LG1
1         42601
2             G
3             9
4    .$.,,..,..
5     DDHHD@ADF
Name: 37393, dtype: object
0           LG1
1         42601
2             G
3             9
4    .$.,,..,..
5     DDHHD@ADF
Name: 37393, dtype: object
0           LG1
1         42601
2             G
3             9
4    .$.,,..,..
5     DDHHD@ADF
Name: 37393, dtype: object
0           LG1
1         42921
2             A
3             9
4    ,$,...,,,.
5     @F<CBJHED
Name: 37680, dtype: object
0           LG1
1         42921
2             A
3             9
4    ,$,...,,,.
5     @F<CBJHED
Name: 37680, dtype: object
0           LG1
1         42921
2             A
3             9
4    ,$,...,,,.
5     @F<CBJHED
Name: 37680, dtype: object
0           LG1
1         42921
2             A
3             9
4    ,$,...,,,.
5     @F<CBJHED
Name: 37680, dtype: object
0           LG1
1         42921
2             A
3             9
4    ,$,...,,,.
5     @F<CBJHED
Name: 37680, dtype: object
0           LG1
1         42921
2             A
3             9
4    ,$,...,,,.
5     @F<CBJHED
Name: 37680, dtype: object
0           LG1
1         42921
2             A
3             9
4    ,$,...,,,.
5     @F<CBJHED
Name: 37680, dtype: object
0           LG1
1         42921
2             A
3             9
4    ,$,...,,,.
5     @F<CBJHED
Name: 37680, dtype: object
0           LG1
1         43044
2             A
3             8
4    ,...,,.^2,
5      HEEJA@F>
Name: 37795, dtype: object
0           LG1
1         43044
2             A
3             8
4    ,...,,.^2,
5      HEEJA@F>
Name: 37795, dtype: object
0           LG1
1         43044
2             A
3             8
4    ,...,,.^2,
5      HEEJA@F>
Name: 37795, dtype: object
0           LG1
1         43044
2             A
3             8
4    ,...,,.^2,
5      HEEJA@F>
Name: 37795, dtype: object
0           LG1
1         43044
2             A
3             8
4    ,...,,.^2,
5      HEEJA@F>
Name: 37795, dtype: object
0           LG1
1         43044
2             A
3             8
4    ,...,,.^2,
5      HEEJA@F>
Name: 37795, dtype: object
0           LG1
1         43044
2             A
3             8
4    ,...,,.^2,
5      HEEJA@F>
Name: 37795, dtype: object
0           LG1
1         43055
2             C
3             9
4    ,$...,,.,,
5     CCIIE;JB?
Name: 37806, dtype: object
0           LG1
1         43055
2             C
3             9
4    ,$...,,.,,
5     CCIIE;JB?
Name: 37806, dtype: object
0           LG1
1         43055
2             C
3             9
4    ,$...,,.,,
5     CCIIE;JB?
Name: 37806, dtype: object
0           LG1
1         43055
2             C
3             9
4    ,$...,,.,,
5     CCIIE;JB?
Name: 37806, dtype: object
0           LG1
1         43055
2             C
3             9
4    ,$...,,.,,
5     CCIIE;JB?
Name: 37806, dtype: object
0           LG1
1         43055
2             C
3             9
4    ,$...,,.,,
5     CCIIE;JB?
Name: 37806, dtype: object
0           LG1
1         43055
2             C
3             9
4    ,$...,,.,,
5     CCIIE;JB?
Name: 37806, dtype: object
0           LG1
1         43055
2             C
3             9
4    ,$...,,.,,
5     CCIIE;JB?
Name: 37806, dtype: object
0           LG1
1         43081
2             C
3             8
4    ..,.,,,^!,
5      JIJJIG;A
Name: 37832, dtype: object
0           LG1
1         43081
2             C
3             8
4    ..,.,,,^!,
5      JIJJIG;A
Name: 37832, dtype: object
0           LG1
1         43081
2             C
3             8
4    ..,.,,,^!,
5      JIJJIG;A
Name: 37832, dtype: object
0           LG1
1         43081
2             C
3             8
4    ..,.,,,^!,
5      JIJJIG;A
Name: 37832, dtype: object
0           LG1
1         43081
2             C
3             8
4    ..,.,,,^!,
5      JIJJIG;A
Name: 37832, dtype: object
0           LG1
1         43081
2             C
3             8
4    ..,.,,,^!,
5      JIJJIG;A
Name: 37832, dtype: object
0           LG1
1         43081
2             C
3             8
4    ..,.,,,^!,
5      JIJJIG;A
Name: 37832, dtype: object
0           LG1
1         43116
2             A
3             9
4    .$.,.,,,,,
5     =FHHHF?9=
Name: 37867, dtype: object
0           LG1
1         43116
2             A
3             9
4    .$.,.,,,,,
5     =FHHHF?9=
Name: 37867, dtype: object
0           LG1
1         43116
2             A
3             9
4    .$.,.,,,,,
5     =FHHHF?9=
Name: 37867, dtype: object
0           LG1
1         43116
2             A
3             9
4    .$.,.,,,,,
5     =FHHHF?9=
Name: 37867, dtype: object
0           LG1
1         43116
2             A
3             9
4    .$.,.,,,,,
5     =FHHHF?9=
Name: 37867, dtype: object
0           LG1
1         43116
2             A
3             9
4    .$.,.,,,,,
5     =FHHHF?9=
Name: 37867, dtype: object
0           LG1
1         43126
2             G
3             9
4    .$,.,,,,a.
5     DFDHFFEBB
Name: 37877, dtype: object
0           LG1
1         43126
2             G
3             9
4    .$,.,,,,a.
5     DFDHFFEBB
Name: 37877, dtype: object
0           LG1
1         43126
2             G
3             9
4    .$,.,,,,a.
5     DFDHFFEBB
Name: 37877, dtype: object
0           LG1
1         43126
2             G
3             9
4    .$,.,,,,a.
5     DFDHFFEBB
Name: 37877, dtype: object
0           LG1
1         43126
2             G
3             9
4    .$,.,,,,a.
5     DFDHFFEBB
Name: 37877, dtype: object
0           LG1
1         43126
2             G
3             9
4    .$,.,,,,a.
5     DFDHFFEBB
Name: 37877, dtype: object
0           LG1
1         43126
2             G
3             9
4    .$,.,,,,a.
5     DFDHFFEBB
Name: 37877, dtype: object
0           LG1
1         43126
2             G
3             9
4    .$,.,,,,a.
5     DFDHFFEBB
Name: 37877, dtype: object
0           LG1
1         43126
2             G
3             9
4    .$,.,,,,a.
5     DFDHFFEBB
Name: 37877, dtype: object
0           LG1
1         43132
2             C
3             8
4    .,,,,,.^!.
5      DHFG>?A=
Name: 37883, dtype: object
0           LG1
1         43132
2             C
3             8
4    .,,,,,.^!.
5      DHFG>?A=
Name: 37883, dtype: object
0           LG1
1         43132
2             C
3             8
4    .,,,,,.^!.
5      DHFG>?A=
Name: 37883, dtype: object
0           LG1
1         43132
2             C
3             8
4    .,,,,,.^!.
5      DHFG>?A=
Name: 37883, dtype: object
0           LG1
1         43132
2             C
3             8
4    .,,,,,.^!.
5      DHFG>?A=
Name: 37883, dtype: object
0           LG1
1         43132
2             C
3             8
4    .,,,,,.^!.
5      DHFG>?A=
Name: 37883, dtype: object
0           LG1
1         43643
2             A
3             9
4    .$..,.,,.,
5     >BAHEGJII
Name: 38335, dtype: object
0           LG1
1         43643
2             A
3             9
4    .$..,.,,.,
5     >BAHEGJII
Name: 38335, dtype: object
0           LG1
1         43643
2             A
3             9
4    .$..,.,,.,
5     >BAHEGJII
Name: 38335, dtype: object
0           LG1
1         43643
2             A
3             9
4    .$..,.,,.,
5     >BAHEGJII
Name: 38335, dtype: object
0           LG1
1         43643
2             A
3             9
4    .$..,.,,.,
5     >BAHEGJII
Name: 38335, dtype: object
0           LG1
1         43643
2             A
3             9
4    .$..,.,,.,
5     >BAHEGJII
Name: 38335, dtype: object
0           LG1
1         43643
2             A
3             9
4    .$..,.,,.,
5     >BAHEGJII
Name: 38335, dtype: object
0           LG1
1         43643
2             A
3             9
4    .$..,.,,.,
5     >BAHEGJII
Name: 38335, dtype: object
0           LG1
1         44661
2             G
3             8
4    ....A..^0.
5      E=GJFAFB
Name: 38814, dtype: object
0           LG1
1         44661
2             G
3             8
4    ....A..^0.
5      E=GJFAFB
Name: 38814, dtype: object
0           LG1
1         44661
2             G
3             8
4    ....A..^0.
5      E=GJFAFB
Name: 38814, dtype: object
0           LG1
1         44661
2             G
3             8
4    ....A..^0.
5      E=GJFAFB
Name: 38814, dtype: object
0           LG1
1         44661
2             G
3             8
4    ....A..^0.
5      E=GJFAFB
Name: 38814, dtype: object
0           LG1
1         44661
2             G
3             8
4    ....A..^0.
5      E=GJFAFB
Name: 38814, dtype: object
0           LG1
1         44661
2             G
3             8
4    ....A..^0.
5      E=GJFAFB
Name: 38814, dtype: object
0           LG1
1         44667
2             A
3            10
4    ........,.
5    DBBGH;FBD@
Name: 38820, dtype: object
0           LG1
1         44667
2             A
3            10
4    ........,.
5    DBBGH;FBD@
Name: 38820, dtype: object
0           LG1
1         44667
2             A
3            10
4    ........,.
5    DBBGH;FBD@
Name: 38820, dtype: object
0           LG1
1         44667
2             A
3            10
4    ........,.
5    DBBGH;FBD@
Name: 38820, dtype: object
0           LG1
1         44667
2             A
3            10
4    ........,.
5    DBBGH;FBD@
Name: 38820, dtype: object
0           LG1
1         44667
2             A
3            10
4    ........,.
5    DBBGH;FBD@
Name: 38820, dtype: object
0           LG1
1         44667
2             A
3            10
4    ........,.
5    DBBGH;FBD@
Name: 38820, dtype: object
0           LG1
1         44667
2             A
3            10
4    ........,.
5    DBBGH;FBD@
Name: 38820, dtype: object
0           LG1
1         44667
2             A
3            10
4    ........,.
5    DBBGH;FBD@
Name: 38820, dtype: object
0           LG1
1         44668
2             T
3            10
4    ........,.
5    DBFIGEEFD<
Name: 38821, dtype: object
0           LG1
1         44668
2             T
3            10
4    ........,.
5    DBFIGEEFD<
Name: 38821, dtype: object
0           LG1
1         44668
2             T
3            10
4    ........,.
5    DBFIGEEFD<
Name: 38821, dtype: object
0           LG1
1         44668
2             T
3            10
4    ........,.
5    DBFIGEEFD<
Name: 38821, dtype: object
0           LG1
1         44668
2             T
3            10
4    ........,.
5    DBFIGEEFD<
Name: 38821, dtype: object
0           LG1
1         44668
2             T
3            10
4    ........,.
5    DBFIGEEFD<
Name: 38821, dtype: object
0           LG1
1         44668
2             T
3            10
4    ........,.
5    DBFIGEEFD<
Name: 38821, dtype: object
0           LG1
1         44668
2             T
3            10
4    ........,.
5    DBFIGEEFD<
Name: 38821, dtype: object
0           LG1
1         44668
2             T
3            10
4    ........,.
5    DBFIGEEFD<
Name: 38821, dtype: object
0           LG1
1         44669
2             T
3            10
4    ........,.
5    DBDJIHDCDD
Name: 38822, dtype: object
0           LG1
1         44669
2             T
3            10
4    ........,.
5    DBDJIHDCDD
Name: 38822, dtype: object
0           LG1
1         44669
2             T
3            10
4    ........,.
5    DBDJIHDCDD
Name: 38822, dtype: object
0           LG1
1         44669
2             T
3            10
4    ........,.
5    DBDJIHDCDD
Name: 38822, dtype: object
0           LG1
1         44669
2             T
3            10
4    ........,.
5    DBDJIHDCDD
Name: 38822, dtype: object
0           LG1
1         44669
2             T
3            10
4    ........,.
5    DBDJIHDCDD
Name: 38822, dtype: object
0           LG1
1         44669
2             T
3            10
4    ........,.
5    DBDJIHDCDD
Name: 38822, dtype: object
0           LG1
1         44669
2             T
3            10
4    ........,.
5    DBDJIHDCDD
Name: 38822, dtype: object
0           LG1
1         44669
2             T
3            10
4    ........,.
5    DBDJIHDCDD
Name: 38822, dtype: object
0           LG1
1         44669
2             T
3            10
4    ........,.
5    DBDJIHDCDD
Name: 38822, dtype: object
0           LG1
1         44670
2             G
3            10
4    .......A,A
5    DB<EEFGADF
Name: 38823, dtype: object
0           LG1
1         44670
2             G
3            10
4    .......A,A
5    DB<EEFGADF
Name: 38823, dtype: object
0           LG1
1         44670
2             G
3            10
4    .......A,A
5    DB<EEFGADF
Name: 38823, dtype: object
0           LG1
1         44670
2             G
3            10
4    .......A,A
5    DB<EEFGADF
Name: 38823, dtype: object
0           LG1
1         44670
2             G
3            10
4    .......A,A
5    DB<EEFGADF
Name: 38823, dtype: object
0           LG1
1         44670
2             G
3            10
4    .......A,A
5    DB<EEFGADF
Name: 38823, dtype: object
0           LG1
1         44670
2             G
3            10
4    .......A,A
5    DB<EEFGADF
Name: 38823, dtype: object
0           LG1
1         44670
2             G
3            10
4    .......A,A
5    DB<EEFGADF
Name: 38823, dtype: object
0           LG1
1         44670
2             G
3            10
4    .......A,A
5    DB<EEFGADF
Name: 38823, dtype: object
0           LG1
1         44671
2             A
3            10
4    T.......,T
5    DBBFHGFCDF
Name: 38824, dtype: object
0           LG1
1         44671
2             A
3            10
4    T.......,T
5    DBBFHGFCDF
Name: 38824, dtype: object
0           LG1
1         44671
2             A
3            10
4    T.......,T
5    DBBFHGFCDF
Name: 38824, dtype: object
0           LG1
1         44671
2             A
3            10
4    T.......,T
5    DBBFHGFCDF
Name: 38824, dtype: object
0           LG1
1         44671
2             A
3            10
4    T.......,T
5    DBBFHGFCDF
Name: 38824, dtype: object
0           LG1
1         44671
2             A
3            10
4    T.......,T
5    DBBFHGFCDF
Name: 38824, dtype: object
0           LG1
1         44671
2             A
3            10
4    T.......,T
5    DBBFHGFCDF
Name: 38824, dtype: object
0           LG1
1         44671
2             A
3            10
4    T.......,T
5    DBBFHGFCDF
Name: 38824, dtype: object
0           LG1
1         44671
2             A
3            10
4    T.......,T
5    DBBFHGFCDF
Name: 38824, dtype: object
0           LG1
1         44671
2             A
3            10
4    T.......,T
5    DBBFHGFCDF
Name: 38824, dtype: object
0           LG1
1         44672
2             C
3            10
4    ....T..At.
5    DAFHI?>CDD
Name: 38825, dtype: object
0           LG1
1         44672
2             C
3            10
4    ....T..At.
5    DAFHI?>CDD
Name: 38825, dtype: object
0           LG1
1         44672
2             C
3            10
4    ....T..At.
5    DAFHI?>CDD
Name: 38825, dtype: object
0           LG1
1         44672
2             C
3            10
4    ....T..At.
5    DAFHI?>CDD
Name: 38825, dtype: object
0           LG1
1         44672
2             C
3            10
4    ....T..At.
5    DAFHI?>CDD
Name: 38825, dtype: object
0           LG1
1         44672
2             C
3            10
4    ....T..At.
5    DAFHI?>CDD
Name: 38825, dtype: object
0           LG1
1         44672
2             C
3            10
4    ....T..At.
5    DAFHI?>CDD

Name: 38825, dtype: object
0           LG1
1         44672
2             C
3            10
4    ....T..At.
5    DAFHI?>CDD
Name: 38825, dtype: object
0           LG1
1         44672
2             C
3            10
4    ....T..At.
5    DAFHI?>CDD
Name: 38825, dtype: object
0           LG1
1         44697
2             C
3            10
4    ..T..t....
5    >AHC;DDIJF
Name: 38850, dtype: object
0           LG1
1         44697
2             C
3            10
4    ..T..t....
5    >AHC;DDIJF
Name: 38850, dtype: object
0           LG1
1         44697
2             C
3            10
4    ..T..t....
5    >AHC;DDIJF
Name: 38850, dtype: object
0           LG1
1         44697
2             C
3            10
4    ..T..t....
5    >AHC;DDIJF
Name: 38850, dtype: object
0           LG1
1         44697
2             C
3            10
4    ..T..t....
5    >AHC;DDIJF
Name: 38850, dtype: object
0           LG1
1         44697
2             C
3            10
4    ..T..t....
5    >AHC;DDIJF
Name: 38850, dtype: object
0           LG1
1         44697
2             C
3            10
4    ..T..t....
5    >AHC;DDIJF
Name: 38850, dtype: object
0           LG1
1         44697
2             C
3            10
4    ..T..t....
5    >AHC;DDIJF
Name: 38850, dtype: object
0           LG1
1         44698
2             C
3            10
4    T..T.,.T..
5    CCEE@DCJJB
Name: 38851, dtype: object
0           LG1
1         44698
2             C
3            10
4    T..T.,.T..
5    CCEE@DCJJB
Name: 38851, dtype: object
0           LG1
1         44698
2             C
3            10
4    T..T.,.T..
5    CCEE@DCJJB
Name: 38851, dtype: object
0           LG1
1         44698
2             C
3            10
4    T..T.,.T..
5    CCEE@DCJJB
Name: 38851, dtype: object
0           LG1
1         44698
2             C
3            10
4    T..T.,.T..
5    CCEE@DCJJB
Name: 38851, dtype: object
0           LG1
1         44698
2             C
3            10
4    T..T.,.T..
5    CCEE@DCJJB
Name: 38851, dtype: object
0           LG1
1         44698
2             C
3            10
4    T..T.,.T..
5    CCEE@DCJJB
Name: 38851, dtype: object
0           LG1
1         44698
2             C
3            10
4    T..T.,.T..
5    CCEE@DCJJB
Name: 38851, dtype: object
0           LG1
1         44698
2             C
3            10
4    T..T.,.T..
5    CCEE@DCJJB
Name: 38851, dtype: object
0           LG1
1         44698
2             C
3            10
4    T..T.,.T..
5    CCEE@DCJJB
Name: 38851, dtype: object
0           LG1
1         44699
2             T
3            10
4    ..C.Cc..CC
5    C@HHBD9JJC
Name: 38852, dtype: object
0           LG1
1         44699
2             T
3            10
4    ..C.Cc..CC
5    C@HHBD9JJC
Name: 38852, dtype: object
0           LG1
1         44699
2             T
3            10
4    ..C.Cc..CC
5    C@HHBD9JJC
Name: 38852, dtype: object
0           LG1
1         44699
2             T
3            10
4    ..C.Cc..CC
5    C@HHBD9JJC
Name: 38852, dtype: object
0           LG1
1         44699
2             T
3            10
4    ..C.Cc..CC
5    C@HHBD9JJC
Name: 38852, dtype: object
0           LG1
1         44699
2             T
3            10
4    ..C.Cc..CC
5    C@HHBD9JJC
Name: 38852, dtype: object
0           LG1
1         44699
2             T
3            10
4    ..C.Cc..CC
5    C@HHBD9JJC
Name: 38852, dtype: object
0           LG1
1         44699
2             T
3            10
4    ..C.Cc..CC
5    C@HHBD9JJC
Name: 38852, dtype: object
0           LG1
1         44699
2             T
3            10
4    ..C.Cc..CC
5    C@HHBD9JJC
Name: 38852, dtype: object
0           LG1
1         44700
2             T
3            10
4    AGGAGaGAGA
5    AC?ACD4JJ<
Name: 38853, dtype: object
0           LG1
1         44700
2             T
3            10
4    AGGAGaGAGA
5    AC?ACD4JJ<
Name: 38853, dtype: object
0           LG1
1         44700
2             T
3            10
4    AGGAGaGAGA
5    AC?ACD4JJ<
Name: 38853, dtype: object
0           LG1
1         44700
2             T
3            10
4    AGGAGaGAGA
5    AC?ACD4JJ<
Name: 38853, dtype: object
0           LG1
1         44700
2             T
3            10
4    AGGAGaGAGA
5    AC?ACD4JJ<
Name: 38853, dtype: object
0           LG1
1         44700
2             T
3            10
4    AGGAGaGAGA
5    AC?ACD4JJ<
Name: 38853, dtype: object
0           LG1
1         44700
2             T
3            10
4    AGGAGaGAGA
5    AC?ACD4JJ<
Name: 38853, dtype: object
0           LG1
1         44700
2             T
3            10
4    AGGAGaGAGA
5    AC?ACD4JJ<
Name: 38853, dtype: object
0           LG1
1         44726
2             A
3            10
4    CCCTt.CTCC
5    CCAAJDGJ@C
Name: 38879, dtype: object
0           LG1
1         44726
2             A
3            10
4    CCCTt.CTCC
5    CCAAJDGJ@C
Name: 38879, dtype: object
0           LG1
1         44726
2             A
3            10
4    CCCTt.CTCC
5    CCAAJDGJ@C
Name: 38879, dtype: object
0           LG1
1         44726
2             A
3            10
4    CCCTt.CTCC
5    CCAAJDGJ@C
Name: 38879, dtype: object
0           LG1
1         44726
2             A
3            10
4    CCCTt.CTCC
5    CCAAJDGJ@C
Name: 38879, dtype: object
0           LG1
1         44726
2             A
3            10
4    CCCTt.CTCC
5    CCAAJDGJ@C
Name: 38879, dtype: object
0           LG1
1         44726
2             A
3            10
4    CCCTt.CTCC
5    CCAAJDGJ@C
Name: 38879, dtype: object
0           LG1
1         44726
2             A
3            10
4    CCCTt.CTCC
5    CCAAJDGJ@C
Name: 38879, dtype: object
0           LG1
1         44726
2             A
3            10
4    CCCTt.CTCC
5    CCAAJDGJ@C
Name: 38879, dtype: object
0           LG1
1         44726
2             A
3            10
4    CCCTt.CTCC
5    CCAAJDGJ@C
Name: 38879, dtype: object
0           LG1
1         44779
2             C
3            10
4    ..AA,A...,
5    DBJJ@JIIJ>
Name: 38932, dtype: object
0           LG1
1         44779
2             C
3            10
4    ..AA,A...,
5    DBJJ@JIIJ>
Name: 38932, dtype: object
0           LG1
1         44779
2             C
3            10
4    ..AA,A...,
5    DBJJ@JIIJ>
Name: 38932, dtype: object
0           LG1
1         44779
2             C
3            10
4    ..AA,A...,
5    DBJJ@JIIJ>
Name: 38932, dtype: object
0           LG1
1         44779
2             C
3            10
4    ..AA,A...,
5    DBJJ@JIIJ>
Name: 38932, dtype: object
0           LG1
1         44779
2             C
3            10
4    ..AA,A...,
5    DBJJ@JIIJ>
Name: 38932, dtype: object
0           LG1
1         44779
2             C
3            10
4    ..AA,A...,
5    DBJJ@JIIJ>
Name: 38932, dtype: object
0           LG1
1         44779
2             C
3            10
4    ..AA,A...,
5    DBJJ@JIIJ>
Name: 38932, dtype: object
0           LG1
1         44779
2             C
3            10
4    ..AA,A...,
5    DBJJ@JIIJ>
Name: 38932, dtype: object
0           LG1
1         44780
2             A
3            10
4    ....,G...t
5    D?IIHIGJJ;
Name: 38933, dtype: object
0           LG1
1         44780
2             A
3            10
4    ....,G...t
5    D?IIHIGJJ;
Name: 38933, dtype: object
0           LG1
1         44780
2             A
3            10
4    ....,G...t
5    D?IIHIGJJ;
Name: 38933, dtype: object
0           LG1
1         44780
2             A
3            10
4    ....,G...t
5    D?IIHIGJJ;
Name: 38933, dtype: object
0           LG1
1         44780
2             A
3            10
4    ....,G...t
5    D?IIHIGJJ;
Name: 38933, dtype: object
0           LG1
1         44780
2             A
3            10
4    ....,G...t
5    D?IIHIGJJ;
Name: 38933, dtype: object
0           LG1
1         44780
2             A
3            10
4    ....,G...t
5    D?IIHIGJJ;
Name: 38933, dtype: object
0           LG1
1         44780
2             A
3            10
4    ....,G...t
5    D?IIHIGJJ;
Name: 38933, dtype: object
0           LG1
1         44780
2             A
3            10
4    ....,G...t
5    D?IIHIGJJ;
Name: 38933, dtype: object
0           LG1
1         44781
2             T
3            10
4    ....,....,
5    DBJJGIHIJ@
Name: 38934, dtype: object
0           LG1
1         44781
2             T
3            10
4    ....,....,
5    DBJJGIHIJ@
Name: 38934, dtype: object
0           LG1
1         44781
2             T
3            10
4    ....,....,
5    DBJJGIHIJ@
Name: 38934, dtype: object
0           LG1
1         44781
2             T
3            10
4    ....,....,
5    DBJJGIHIJ@
Name: 38934, dtype: object
0           LG1
1         44781
2             T
3            10
4    ....,....,
5    DBJJGIHIJ@
Name: 38934, dtype: object
0           LG1
1         44781
2             T
3            10
4    ....,....,
5    DBJJGIHIJ@
Name: 38934, dtype: object
0           LG1
1         44781
2             T
3            10
4    ....,....,
5    DBJJGIHIJ@
Name: 38934, dtype: object
0           LG1
1         44781
2             T
3            10
4    ....,....,
5    DBJJGIHIJ@
Name: 38934, dtype: object
0           LG1
1         44781
2             T
3            10
4    ....,....,
5    DBJJGIHIJ@
Name: 38934, dtype: object
0           LG1
1         44781
2             T
3            10
4    ....,....,
5    DBJJGIHIJ@
Name: 38934, dtype: object
0           LG1
1         44782
2             T
3            10
4    ....,....,
5    D@JJGIIJJ?
Name: 38935, dtype: object
0           LG1
1         44782
2             T
3            10
4    ....,....,
5    D@JJGIIJJ?
Name: 38935, dtype: object
0           LG1
1         44782
2             T
3            10
4    ....,....,
5    D@JJGIIJJ?
Name: 38935, dtype: object
0           LG1
1         44782
2             T
3            10
4    ....,....,
5    D@JJGIIJJ?
Name: 38935, dtype: object
0           LG1
1         44782
2             T
3            10
4    ....,....,
5    D@JJGIIJJ?
Name: 38935, dtype: object
0           LG1
1         44782
2             T
3            10
4    ....,....,
5    D@JJGIIJJ?
Name: 38935, dtype: object
0           LG1
1         44782
2             T
3            10
4    ....,....,
5    D@JJGIIJJ?
Name: 38935, dtype: object
0           LG1
1         44782
2             T
3            10
4    ....,....,
5    D@JJGIIJJ?
Name: 38935, dtype: object
0           LG1
1         44782
2             T
3            10
4    ....,....,
5    D@JJGIIJJ?
Name: 38935, dtype: object
0           LG1
1         44782
2             T
3            10
4    ....,....,
5    D@JJGIIJJ?
Name: 38935, dtype: object
0           LG1
1         44783
2             G
3            10
4    C...,.CA.,
5    EDHIBJJIJ9
Name: 38936, dtype: object
0           LG1
1         44783
2             G
3            10
4    C...,.CA.,
5    EDHIBJJIJ9
Name: 38936, dtype: object
0           LG1
1         44783
2             G
3            10
4    C...,.CA.,
5    EDHIBJJIJ9
Name: 38936, dtype: object
0           LG1
1         44783
2             G
3            10
4    C...,.CA.,
5    EDHIBJJIJ9
Name: 38936, dtype: object
0           LG1
1         44783
2             G
3            10
4    C...,.CA.,
5    EDHIBJJIJ9
Name: 38936, dtype: object
0           LG1
1         44783
2             G
3            10
4    C...,.CA.,
5    EDHIBJJIJ9
Name: 38936, dtype: object
0           LG1
1         44783
2             G
3            10
4    C...,.CA.,
5    EDHIBJJIJ9
Name: 38936, dtype: object
0           LG1
1         44783
2             G
3            10
4    C...,.CA.,
5    EDHIBJJIJ9
Name: 38936, dtype: object
0           LG1
1         44783
2             G
3            10
4    C...,.CA.,
5    EDHIBJJIJ9
Name: 38936, dtype: object
0           LG1
1         44784
2             T
3            10
4    C.CCcCCCCc
5    E@HIGIJJJ@
Name: 38937, dtype: object
0           LG1
1         44784
2             T
3            10
4    C.CCcCCCCc
5    E@HIGIJJJ@
Name: 38937, dtype: object
0           LG1
1         44784
2             T
3            10
4    C.CCcCCCCc
5    E@HIGIJJJ@
Name: 38937, dtype: object
0           LG1
1         44784
2             T
3            10
4    C.CCcCCCCc
5    E@HIGIJJJ@
Name: 38937, dtype: object
0           LG1
1         44784
2             T
3            10
4    C.CCcCCCCc
5    E@HIGIJJJ@
Name: 38937, dtype: object
0           LG1
1         44784
2             T
3            10
4    C.CCcCCCCc
5    E@HIGIJJJ@
Name: 38937, dtype: object
0           LG1
1         44784
2             T
3            10
4    C.CCcCCCCc
5    E@HIGIJJJ@
Name: 38937, dtype: object
0           LG1
1         44784
2             T
3            10
4    C.CCcCCCCc
5    E@HIGIJJJ@
Name: 38937, dtype: object
0           LG1
1         44784
2             T
3            10
4    C.CCcCCCCc
5    E@HIGIJJJ@
Name: 38937, dtype: object
0           LG1
1         44784
2             T
3            10
4    C.CCcCCCCc
5    E@HIGIJJJ@
Name: 38937, dtype: object
0           LG1
1         44785
2             T
3            10
4    ....,....,
5    DCHJGIJJJ?
Name: 38938, dtype: object
0           LG1
1         44785
2             T
3            10
4    ....,....,
5    DCHJGIJJJ?
Name: 38938, dtype: object
0           LG1
1         44785
2             T
3            10
4    ....,....,
5    DCHJGIJJJ?
Name: 38938, dtype: object
0           LG1
1         44785
2             T
3            10
4    ....,....,
5    DCHJGIJJJ?
Name: 38938, dtype: object
0           LG1
1         44785
2             T
3            10
4    ....,....,
5    DCHJGIJJJ?
Name: 38938, dtype: object
0           LG1
1         44785
2             T
3            10
4    ....,....,
5    DCHJGIJJJ?
Name: 38938, dtype: object
0           LG1
1         44785
2             T
3            10
4    ....,....,
5    DCHJGIJJJ?
Name: 38938, dtype: object
0           LG1
1         44785
2             T
3            10
4    ....,....,
5    DCHJGIJJJ?
Name: 38938, dtype: object
0           LG1
1         44785
2             T
3            10
4    ....,....,
5    DCHJGIJJJ?
Name: 38938, dtype: object
0           LG1
1         44785
2             T
3            10
4    ....,....,
5    DCHJGIJJJ?
Name: 38938, dtype: object
0           LG1
1         44786
2             T
3            10
4    CCCCaCCCC,
5    D>HJGJJJJC
Name: 38939, dtype: object
0           LG1
1         44786
2             T
3            10
4    CCCCaCCCC,
5    D>HJGJJJJC
Name: 38939, dtype: object
0           LG1
1         44786
2             T
3            10
4    CCCCaCCCC,
5    D>HJGJJJJC
Name: 38939, dtype: object
0           LG1
1         44786
2             T
3            10
4    CCCCaCCCC,
5    D>HJGJJJJC
Name: 38939, dtype: object
0           LG1
1         44786
2             T
3            10
4    CCCCaCCCC,
5    D>HJGJJJJC
Name: 38939, dtype: object
0           LG1
1         44786
2             T
3            10
4    CCCCaCCCC,
5    D>HJGJJJJC

Name: 38939, dtype: object
0           LG1
1         44786
2             T
3            10
4    CCCCaCCCC,
5    D>HJGJJJJC
Name: 38939, dtype: object
0           LG1
1         44786
2             T
3            10
4    CCCCaCCCC,
5    D>HJGJJJJC
Name: 38939, dtype: object
0           LG1
1         44786
2             T
3            10
4    CCCCaCCCC,
5    D>HJGJJJJC
Name: 38939, dtype: object
0           LG1
1         44787
2             G
3            10
4    ....,....,
5    DAHJ>IJJJC
Name: 38940, dtype: object
0           LG1
1         44787
2             G
3            10
4    ....,....,
5    DAHJ>IJJJC
Name: 38940, dtype: object
0           LG1
1         44787
2             G
3            10
4    ....,....,
5    DAHJ>IJJJC
Name: 38940, dtype: object
0           LG1
1         44787
2             G
3            10
4    ....,....,
5    DAHJ>IJJJC
Name: 38940, dtype: object
0           LG1
1         44787
2             G
3            10
4    ....,....,
5    DAHJ>IJJJC
Name: 38940, dtype: object
0           LG1
1         44787
2             G
3            10
4    ....,....,
5    DAHJ>IJJJC
Name: 38940, dtype: object
0           LG1
1         44787
2             G
3            10
4    ....,....,
5    DAHJ>IJJJC
Name: 38940, dtype: object
0           LG1
1         44787
2             G
3            10
4    ....,....,
5    DAHJ>IJJJC
Name: 38940, dtype: object
0           LG1
1         44787
2             G
3            10
4    ....,....,
5    DAHJ>IJJJC
Name: 38940, dtype: object
0           LG1
1         44788
2             T
3            10
4    ....,....,
5    DCFHIGGHI=
Name: 38941, dtype: object
0           LG1
1         44788
2             T
3            10
4    ....,....,
5    DCFHIGGHI=
Name: 38941, dtype: object
0           LG1
1         44788
2             T
3            10
4    ....,....,
5    DCFHIGGHI=
Name: 38941, dtype: object
0           LG1
1         44788
2             T
3            10
4    ....,....,
5    DCFHIGGHI=
Name: 38941, dtype: object
0           LG1
1         44788
2             T
3            10
4    ....,....,
5    DCFHIGGHI=
Name: 38941, dtype: object
0           LG1
1         44788
2             T
3            10
4    ....,....,
5    DCFHIGGHI=
Name: 38941, dtype: object
0           LG1
1         44788
2             T
3            10
4    ....,....,
5    DCFHIGGHI=
Name: 38941, dtype: object
0           LG1
1         44788
2             T
3            10
4    ....,....,
5    DCFHIGGHI=
Name: 38941, dtype: object
0           LG1
1         44788
2             T
3            10
4    ....,....,
5    DCFHIGGHI=
Name: 38941, dtype: object
0           LG1
1         44789
2             T
3            10
4    ....,....,
5    DCFIGIGIJA
Name: 38942, dtype: object
0           LG1
1         44789
2             T
3            10
4    ....,....,
5    DCFIGIGIJA
Name: 38942, dtype: object
0           LG1
1         44789
2             T
3            10
4    ....,....,
5    DCFIGIGIJA
Name: 38942, dtype: object
0           LG1
1         44789
2             T
3            10
4    ....,....,
5    DCFIGIGIJA
Name: 38942, dtype: object
0           LG1
1         44789
2             T
3            10
4    ....,....,
5    DCFIGIGIJA
Name: 38942, dtype: object
0           LG1
1         44789
2             T
3            10
4    ....,....,
5    DCFIGIGIJA
Name: 38942, dtype: object
0           LG1
1         44789
2             T
3            10
4    ....,....,
5    DCFIGIGIJA
Name: 38942, dtype: object
0           LG1
1         44789
2             T
3            10
4    ....,....,
5    DCFIGIGIJA
Name: 38942, dtype: object
0           LG1
1         44789
2             T
3            10
4    ....,....,
5    DCFIGIGIJA
Name: 38942, dtype: object
0           LG1
1         44789
2             T
3            10
4    ....,....,
5    DCFIGIGIJA
Name: 38942, dtype: object
0           LG1
1         44804
2             T
3            10
4    ...,A....,
5    CFEHJJFJCE
Name: 38957, dtype: object
0           LG1
1         44804
2             T
3            10
4    ...,A....,
5    CFEHJJFJCE
Name: 38957, dtype: object
0           LG1
1         44804
2             T
3            10
4    ...,A....,
5    CFEHJJFJCE
Name: 38957, dtype: object
0           LG1
1         44804
2             T
3            10
4    ...,A....,
5    CFEHJJFJCE
Name: 38957, dtype: object
0           LG1
1         44804
2             T
3            10
4    ...,A....,
5    CFEHJJFJCE
Name: 38957, dtype: object
0           LG1
1         44804
2             T
3            10
4    ...,A....,
5    CFEHJJFJCE
Name: 38957, dtype: object
0           LG1
1         44804
2             T
3            10
4    ...,A....,
5    CFEHJJFJCE
Name: 38957, dtype: object
0           LG1
1         44804
2             T
3            10
4    ...,A....,
5    CFEHJJFJCE
Name: 38957, dtype: object
0           LG1
1         44804
2             T
3            10
4    ...,A....,
5    CFEHJJFJCE
Name: 38957, dtype: object
0           LG1
1         44804
2             T
3            10
4    ...,A....,
5    CFEHJJFJCE
Name: 38957, dtype: object
0           LG1
1         44808
2             G
3            10
4    ..t....,A,
5    @EGFEJJ8JD
Name: 38961, dtype: object
0           LG1
1         44808
2             G
3            10
4    ..t....,A,
5    @EGFEJJ8JD
Name: 38961, dtype: object
0           LG1
1         44808
2             G
3            10
4    ..t....,A,
5    @EGFEJJ8JD
Name: 38961, dtype: object
0           LG1
1         44808
2             G
3            10
4    ..t....,A,
5    @EGFEJJ8JD
Name: 38961, dtype: object
0           LG1
1         44808
2             G
3            10
4    ..t....,A,
5    @EGFEJJ8JD
Name: 38961, dtype: object
0           LG1
1         44808
2             G
3            10
4    ..t....,A,
5    @EGFEJJ8JD
Name: 38961, dtype: object
0           LG1
1         44808
2             G
3            10
4    ..t....,A,
5    @EGFEJJ8JD
Name: 38961, dtype: object
0           LG1
1         44808
2             G
3            10
4    ..t....,A,
5    @EGFEJJ8JD
Name: 38961, dtype: object
0           LG1
1         44808
2             G
3            10
4    ..t....,A,
5    @EGFEJJ8JD
Name: 38961, dtype: object
0           LG1
1         44809
2             C
3            10
4    ..,....t.,
5    CEHGFIJBJE
Name: 38962, dtype: object
0           LG1
1         44809
2             C
3            10
4    ..,....t.,
5    CEHGFIJBJE
Name: 38962, dtype: object
0           LG1
1         44809
2             C
3            10
4    ..,....t.,
5    CEHGFIJBJE
Name: 38962, dtype: object
0           LG1
1         44809
2             C
3            10
4    ..,....t.,
5    CEHGFIJBJE
Name: 38962, dtype: object
0           LG1
1         44809
2             C
3            10
4    ..,....t.,
5    CEHGFIJBJE
Name: 38962, dtype: object
0           LG1
1         44809
2             C
3            10
4    ..,....t.,
5    CEHGFIJBJE
Name: 38962, dtype: object
0           LG1
1         44809
2             C
3            10
4    ..,....t.,
5    CEHGFIJBJE
Name: 38962, dtype: object
0           LG1
1         44809
2             C
3            10
4    ..,....t.,
5    CEHGFIJBJE
Name: 38962, dtype: object
0           LG1
1         44809
2             C
3            10
4    ..,....t.,
5    CEHGFIJBJE
Name: 38962, dtype: object
0           LG1
1         44809
2             C
3            10
4    ..,....t.,
5    CEHGFIJBJE
Name: 38962, dtype: object
0           LG1
1         44810
2             T
3            10
4    AA,....g.a
5    DECHHIJ9JD
Name: 38963, dtype: object
0           LG1
1         44810
2             T
3            10
4    AA,....g.a
5    DECHHIJ9JD
Name: 38963, dtype: object
0           LG1
1         44810
2             T
3            10
4    AA,....g.a
5    DECHHIJ9JD
Name: 38963, dtype: object
0           LG1
1         44810
2             T
3            10
4    AA,....g.a
5    DECHHIJ9JD
Name: 38963, dtype: object
0           LG1
1         44810
2             T
3            10
4    AA,....g.a
5    DECHHIJ9JD
Name: 38963, dtype: object
0           LG1
1         44810
2             T
3            10
4    AA,....g.a
5    DECHHIJ9JD
Name: 38963, dtype: object
0           LG1
1         44810
2             T
3            10
4    AA,....g.a
5    DECHHIJ9JD
Name: 38963, dtype: object
0           LG1
1         44810
2             T
3            10
4    AA,....g.a
5    DECHHIJ9JD
Name: 38963, dtype: object
0           LG1
1         44810
2             T
3            10
4    AA,....g.a
5    DECHHIJ9JD
Name: 38963, dtype: object
0           LG1
1         44811
2             A
3            10
4    ..,...C,.,
5    DDIHFIJFJF
Name: 38964, dtype: object
0           LG1
1         44811
2             A
3            10
4    ..,...C,.,
5    DDIHFIJFJF
Name: 38964, dtype: object
0           LG1
1         44811
2             A
3            10
4    ..,...C,.,
5    DDIHFIJFJF
Name: 38964, dtype: object
0           LG1
1         44811
2             A
3            10
4    ..,...C,.,
5    DDIHFIJFJF
Name: 38964, dtype: object
0           LG1
1         44811
2             A
3            10
4    ..,...C,.,
5    DDIHFIJFJF
Name: 38964, dtype: object
0           LG1
1         44811
2             A
3            10
4    ..,...C,.,
5    DDIHFIJFJF
Name: 38964, dtype: object
0           LG1
1         44811
2             A
3            10
4    ..,...C,.,
5    DDIHFIJFJF
Name: 38964, dtype: object
0           LG1
1         44811
2             A
3            10
4    ..,...C,.,
5    DDIHFIJFJF
Name: 38964, dtype: object
0           LG1
1         44811
2             A
3            10
4    ..,...C,.,
5    DDIHFIJFJF
Name: 38964, dtype: object
0           LG1
1         44811
2             A
3            10
4    ..,...C,.,
5    DDIHFIJFJF
Name: 38964, dtype: object
0           LG1
1         44812
2             A
3            10
4    ..,....,.,
5    DDIFFJJEJF
Name: 38965, dtype: object
0           LG1
1         44812
2             A
3            10
4    ..,....,.,
5    DDIFFJJEJF
Name: 38965, dtype: object
0           LG1
1         44812
2             A
3            10
4    ..,....,.,
5    DDIFFJJEJF
Name: 38965, dtype: object
0           LG1
1         44812
2             A
3            10
4    ..,....,.,
5    DDIFFJJEJF
Name: 38965, dtype: object
0           LG1
1         44812
2             A
3            10
4    ..,....,.,
5    DDIFFJJEJF
Name: 38965, dtype: object
0           LG1
1         44812
2             A
3            10
4    ..,....,.,
5    DDIFFJJEJF
Name: 38965, dtype: object
0           LG1
1         44812
2             A
3            10
4    ..,....,.,
5    DDIFFJJEJF
Name: 38965, dtype: object
0           LG1
1         44812
2             A
3            10
4    ..,....,.,
5    DDIFFJJEJF
Name: 38965, dtype: object
0           LG1
1         44812
2             A
3            10
4    ..,....,.,
5    DDIFFJJEJF
Name: 38965, dtype: object
0           LG1
1         44812
2             A
3            10
4    ..,....,.,
5    DDIFFJJEJF
Name: 38965, dtype: object
0           LG1
1         44813
2             A
3            10
4    ..,....,.,
5    DDHFDIJBJF
Name: 38966, dtype: object
0           LG1
1         44813
2             A
3            10
4    ..,....,.,
5    DDHFDIJBJF
Name: 38966, dtype: object
0           LG1
1         44813
2             A
3            10
4    ..,....,.,
5    DDHFDIJBJF
Name: 38966, dtype: object
0           LG1
1         44813
2             A
3            10
4    ..,....,.,
5    DDHFDIJBJF
Name: 38966, dtype: object
0           LG1
1         44813
2             A
3            10
4    ..,....,.,
5    DDHFDIJBJF
Name: 38966, dtype: object
0           LG1
1         44813
2             A
3            10
4    ..,....,.,
5    DDHFDIJBJF
Name: 38966, dtype: object
0           LG1
1         44813
2             A
3            10
4    ..,....,.,
5    DDHFDIJBJF
Name: 38966, dtype: object
0           LG1
1         44813
2             A
3            10
4    ..,....,.,
5    DDHFDIJBJF
Name: 38966, dtype: object
0           LG1
1         44813
2             A
3            10
4    ..,....,.,
5    DDHFDIJBJF
Name: 38966, dtype: object
0           LG1
1         44813
2             A
3            10
4    ..,....,.,
5    DDHFDIJBJF
Name: 38966, dtype: object
0           LG1
1         44814
2             T
3            10
4    ..,....,.,
5    DDBFFJJ9JF
Name: 38967, dtype: object
0           LG1
1         44814
2             T
3            10
4    ..,....,.,
5    DDBFFJJ9JF
Name: 38967, dtype: object
0           LG1
1         44814
2             T
3            10
4    ..,....,.,
5    DDBFFJJ9JF
Name: 38967, dtype: object
0           LG1
1         44814
2             T
3            10
4    ..,....,.,
5    DDBFFJJ9JF
Name: 38967, dtype: object
0           LG1
1         44814
2             T
3            10
4    ..,....,.,
5    DDBFFJJ9JF
Name: 38967, dtype: object
0           LG1
1         44814
2             T
3            10
4    ..,....,.,
5    DDBFFJJ9JF
Name: 38967, dtype: object
0           LG1
1         44814
2             T
3            10
4    ..,....,.,
5    DDBFFJJ9JF
Name: 38967, dtype: object
0           LG1
1         44814
2             T
3            10
4    ..,....,.,
5    DDBFFJJ9JF
Name: 38967, dtype: object
0           LG1
1         44814
2             T
3            10
4    ..,....,.,
5    DDBFFJJ9JF
Name: 38967, dtype: object
0           LG1
1         44815
2             T
3            10
4    ..,....,.,
5    DDJFFIJ>IF
Name: 38968, dtype: object
0           LG1
1         44815
2             T
3            10
4    ..,....,.,
5    DDJFFIJ>IF
Name: 38968, dtype: object
0           LG1
1         44815
2             T
3            10
4    ..,....,.,
5    DDJFFIJ>IF
Name: 38968, dtype: object
0           LG1
1         44815
2             T
3            10
4    ..,....,.,
5    DDJFFIJ>IF
Name: 38968, dtype: object
0           LG1
1         44815
2             T
3            10
4    ..,....,.,
5    DDJFFIJ>IF
Name: 38968, dtype: object
0           LG1
1         44815
2             T
3            10
4    ..,....,.,
5    DDJFFIJ>IF
Name: 38968, dtype: object
0           LG1
1         44815
2             T
3            10
4    ..,....,.,
5    DDJFFIJ>IF
Name: 38968, dtype: object
0           LG1
1         44815
2             T
3            10
4    ..,....,.,
5    DDJFFIJ>IF
Name: 38968, dtype: object
0           LG1
1         44815
2             T
3            10
4    ..,....,.,
5    DDJFFIJ>IF
Name: 38968, dtype: object
0           LG1
1         44836
2             C
3             9
4    ,$....,.,,
5     2DDDDCJJ;
Name: 38989, dtype: object
0           LG1
1         44836
2             C
3             9
4    ,$....,.,,
5     2DDDDCJJ;
Name: 38989, dtype: object
0           LG1
1         44836
2             C
3             9
4    ,$....,.,,
5     2DDDDCJJ;
Name: 38989, dtype: object
0           LG1
1         44836
2             C
3             9
4    ,$....,.,,
5     2DDDDCJJ;
Name: 38989, dtype: object
0           LG1
1         44836
2             C
3             9
4    ,$....,.,,
5     2DDDDCJJ;
Name: 38989, dtype: object
0           LG1
1         44836
2             C
3             9
4    ,$....,.,,
5     2DDDDCJJ;
Name: 38989, dtype: object
0           LG1
1         44836
2             C
3             9
4    ,$....,.,,
5     2DDDDCJJ;
Name: 38989, dtype: object
0           LG1
1         44870
2             A
3             8
4    .,,,,,,^8.
5      AJ9>DDCC
Name: 39023, dtype: object
0           LG1
1         44870
2             A
3             8
4    .,,,,,,^8.
5      AJ9>DDCC
Name: 39023, dtype: object
0           LG1
1         44870
2             A
3             8
4    .,,,,,,^8.
5      AJ9>DDCC

Name: 39023, dtype: object
0           LG1
1         44870
2             A
3             8
4    .,,,,,,^8.
5      AJ9>DDCC
Name: 39023, dtype: object
0           LG1
1         44870
2             A
3             8
4    .,,,,,,^8.
5      AJ9>DDCC
Name: 39023, dtype: object
0           LG1
1         44870
2             A
3             8
4    .,,,,,,^8.
5      AJ9>DDCC
Name: 39023, dtype: object
0           LG1
1         45273
2             T
3            10
4    .,.,.,,,,,
5    DJHIDIHFFD
Name: 39426, dtype: object
0           LG1
1         45273
2             T
3            10
4    .,.,.,,,,,
5    DJHIDIHFFD
Name: 39426, dtype: object
0           LG1
1         45273
2             T
3            10
4    .,.,.,,,,,
5    DJHIDIHFFD
Name: 39426, dtype: object
0           LG1
1         45273
2             T
3            10
4    .,.,.,,,,,
5    DJHIDIHFFD
Name: 39426, dtype: object
0           LG1
1         45273
2             T
3            10
4    .,.,.,,,,,
5    DJHIDIHFFD
Name: 39426, dtype: object
0           LG1
1         45273
2             T
3            10
4    .,.,.,,,,,
5    DJHIDIHFFD
Name: 39426, dtype: object
0           LG1
1         45273
2             T
3            10
4    .,.,.,,,,,
5    DJHIDIHFFD
Name: 39426, dtype: object
0           LG1
1         45273
2             T
3            10
4    .,.,.,,,,,
5    DJHIDIHFFD
Name: 39426, dtype: object
0           LG1
1         45273
2             T
3            10
4    .,.,.,,,,,
5    DJHIDIHFFD
Name: 39426, dtype: object
0           LG1
1         45273
2             T
3            10
4    .,.,.,,,,,
5    DJHIDIHFFD
Name: 39426, dtype: object
0           LG1
1         45477
2             G
3             9
4    ,$..,...,,
5     ;;4FDCDJE
Name: 39630, dtype: object
0           LG1
1         45477
2             G
3             9
4    ,$..,...,,
5     ;;4FDCDJE
Name: 39630, dtype: object
0           LG1
1         45477
2             G
3             9
4    ,$..,...,,
5     ;;4FDCDJE
Name: 39630, dtype: object
0           LG1
1         45477
2             G
3             9
4    ,$..,...,,
5     ;;4FDCDJE
Name: 39630, dtype: object
0           LG1
1         45477
2             G
3             9
4    ,$..,...,,
5     ;;4FDCDJE
Name: 39630, dtype: object
0           LG1
1         45477
2             G
3             9
4    ,$..,...,,
5     ;;4FDCDJE
Name: 39630, dtype: object
0           LG1
1         45516
2             G
3            10
4    ,,,,,,,,,,
5    JJJJFADF>9
Name: 39669, dtype: object
0           LG1
1         45516
2             G
3            10
4    ,,,,,,,,,,
5    JJJJFADF>9
Name: 39669, dtype: object
0           LG1
1         45516
2             G
3            10
4    ,,,,,,,,,,
5    JJJJFADF>9
Name: 39669, dtype: object
0           LG1
1         45516
2             G
3            10
4    ,,,,,,,,,,
5    JJJJFADF>9
Name: 39669, dtype: object
0           LG1
1         45516
2             G
3            10
4    ,,,,,,,,,,
5    JJJJFADF>9
Name: 39669, dtype: object
0           LG1
1         45516
2             G
3            10
4    ,,,,,,,,,,
5    JJJJFADF>9
Name: 39669, dtype: object
0           LG1
1         45516
2             G
3            10
4    ,,,,,,,,,,
5    JJJJFADF>9
Name: 39669, dtype: object
0           LG1
1         45516
2             G
3            10
4    ,,,,,,,,,,
5    JJJJFADF>9
Name: 39669, dtype: object
0           LG1
1         45517
2             G
3            10
4    ,,,,,,,,,,
5    JJJJFBD@A:
Name: 39670, dtype: object
0           LG1
1         45517
2             G
3            10
4    ,,,,,,,,,,
5    JJJJFBD@A:
Name: 39670, dtype: object
0           LG1
1         45517
2             G
3            10
4    ,,,,,,,,,,
5    JJJJFBD@A:
Name: 39670, dtype: object
0           LG1
1         45517
2             G
3            10
4    ,,,,,,,,,,
5    JJJJFBD@A:
Name: 39670, dtype: object
0           LG1
1         45517
2             G
3            10
4    ,,,,,,,,,,
5    JJJJFBD@A:
Name: 39670, dtype: object
0           LG1
1         45517
2             G
3            10
4    ,,,,,,,,,,
5    JJJJFBD@A:
Name: 39670, dtype: object
0           LG1
1         45517
2             G
3            10
4    ,,,,,,,,,,
5    JJJJFBD@A:
Name: 39670, dtype: object
0           LG1
1         45517
2             G
3            10
4    ,,,,,,,,,,
5    JJJJFBD@A:
Name: 39670, dtype: object
0           LG1
1         45517
2             G
3            10
4    ,,,,,,,,,,
5    JJJJFBD@A:
Name: 39670, dtype: object
0           LG1
1         45650
2             T
3            10
4    ,,,,,,,,,,
5    @ADJIIJHJJ
Name: 39803, dtype: object
0           LG1
1         45650
2             T
3            10
4    ,,,,,,,,,,
5    @ADJIIJHJJ
Name: 39803, dtype: object
0           LG1
1         45650
2             T
3            10
4    ,,,,,,,,,,
5    @ADJIIJHJJ
Name: 39803, dtype: object
0           LG1
1         45650
2             T
3            10
4    ,,,,,,,,,,
5    @ADJIIJHJJ
Name: 39803, dtype: object
0           LG1
1         45650
2             T
3            10
4    ,,,,,,,,,,
5    @ADJIIJHJJ
Name: 39803, dtype: object
0           LG1
1         45650
2             T
3            10
4    ,,,,,,,,,,
5    @ADJIIJHJJ
Name: 39803, dtype: object
0           LG1
1         45650
2             T
3            10
4    ,,,,,,,,,,
5    @ADJIIJHJJ
Name: 39803, dtype: object
0           LG1
1         45650
2             T
3            10
4    ,,,,,,,,,,
5    @ADJIIJHJJ
Name: 39803, dtype: object
0           LG1
1         45650
2             T
3            10
4    ,,,,,,,,,,
5    @ADJIIJHJJ
Name: 39803, dtype: object
0           LG1
1         45650
2             T
3            10
4    ,,,,,,,,,,
5    @ADJIIJHJJ
Name: 39803, dtype: object
0           LG1
1         45654
2             T
3            10
4    ,,,,,,,,,,
5    FBCJJHIGFG
Name: 39807, dtype: object
0           LG1
1         45654
2             T
3            10
4    ,,,,,,,,,,
5    FBCJJHIGFG
Name: 39807, dtype: object
0           LG1
1         45654
2             T
3            10
4    ,,,,,,,,,,
5    FBCJJHIGFG
Name: 39807, dtype: object
0           LG1
1         45654
2             T
3            10
4    ,,,,,,,,,,
5    FBCJJHIGFG
Name: 39807, dtype: object
0           LG1
1         45654
2             T
3            10
4    ,,,,,,,,,,
5    FBCJJHIGFG
Name: 39807, dtype: object
0           LG1
1         45654
2             T
3            10
4    ,,,,,,,,,,
5    FBCJJHIGFG
Name: 39807, dtype: object
0           LG1
1         45654
2             T
3            10
4    ,,,,,,,,,,
5    FBCJJHIGFG
Name: 39807, dtype: object
0           LG1
1         45654
2             T
3            10
4    ,,,,,,,,,,
5    FBCJJHIGFG
Name: 39807, dtype: object
0           LG1
1         45654
2             T
3            10
4    ,,,,,,,,,,
5    FBCJJHIGFG
Name: 39807, dtype: object
0           LG1
1         45654
2             T
3            10
4    ,,,,,,,,,,
5    FBCJJHIGFG
Name: 39807, dtype: object
0           LG1
1         45661
2             C
3            10
4    ,,,,,,,,,.
5    C>JJJJJEGD
Name: 39814, dtype: object
0           LG1
1         45661
2             C
3            10
4    ,,,,,,,,,.
5    C>JJJJJEGD
Name: 39814, dtype: object
0           LG1
1         45661
2             C
3            10
4    ,,,,,,,,,.
5    C>JJJJJEGD
Name: 39814, dtype: object
0           LG1
1         45661
2             C
3            10
4    ,,,,,,,,,.
5    C>JJJJJEGD
Name: 39814, dtype: object
0           LG1
1         45661
2             C
3            10
4    ,,,,,,,,,.
5    C>JJJJJEGD
Name: 39814, dtype: object
0           LG1
1         45661
2             C
3            10
4    ,,,,,,,,,.
5    C>JJJJJEGD
Name: 39814, dtype: object
0           LG1
1         45661
2             C
3            10
4    ,,,,,,,,,.
5    C>JJJJJEGD
Name: 39814, dtype: object
0           LG1
1         45661
2             C
3            10
4    ,,,,,,,,,.
5    C>JJJJJEGD
Name: 39814, dtype: object
0           LG1
1         45661
2             C
3            10
4    ,,,,,,,,,.
5    C>JJJJJEGD
Name: 39814, dtype: object
0           LG1
1         45662
2             A
3            10
4    ,,,,,,,,,.
5    GBJJIJIEG>
Name: 39815, dtype: object
0           LG1
1         45662
2             A
3            10
4    ,,,,,,,,,.
5    GBJJIJIEG>
Name: 39815, dtype: object
0           LG1
1         45662
2             A
3            10
4    ,,,,,,,,,.
5    GBJJIJIEG>
Name: 39815, dtype: object
0           LG1
1         45662
2             A
3            10
4    ,,,,,,,,,.
5    GBJJIJIEG>
Name: 39815, dtype: object
0           LG1
1         45662
2             A
3            10
4    ,,,,,,,,,.
5    GBJJIJIEG>
Name: 39815, dtype: object
0           LG1
1         45662
2             A
3            10
4    ,,,,,,,,,.
5    GBJJIJIEG>
Name: 39815, dtype: object
0           LG1
1         45662
2             A
3            10
4    ,,,,,,,,,.
5    GBJJIJIEG>
Name: 39815, dtype: object
0           LG1
1         45662
2             A
3            10
4    ,,,,,,,,,.
5    GBJJIJIEG>
Name: 39815, dtype: object
0           LG1
1         45662
2             A
3            10
4    ,,,,,,,,,.
5    GBJJIJIEG>
Name: 39815, dtype: object
0           LG1
1         45663
2             A
3            10
4    ,,,,,,,,,.
5    IGIJJJGEG<
Name: 39816, dtype: object
0           LG1
1         45663
2             A
3            10
4    ,,,,,,,,,.
5    IGIJJJGEG<
Name: 39816, dtype: object
0           LG1
1         45663
2             A
3            10
4    ,,,,,,,,,.
5    IGIJJJGEG<
Name: 39816, dtype: object
0           LG1
1         45663
2             A
3            10
4    ,,,,,,,,,.
5    IGIJJJGEG<
Name: 39816, dtype: object
0           LG1
1         45663
2             A
3            10
4    ,,,,,,,,,.
5    IGIJJJGEG<
Name: 39816, dtype: object
0           LG1
1         45663
2             A
3            10
4    ,,,,,,,,,.
5    IGIJJJGEG<
Name: 39816, dtype: object
0           LG1
1         45663
2             A
3            10
4    ,,,,,,,,,.
5    IGIJJJGEG<
Name: 39816, dtype: object
0           LG1
1         45663
2             A
3            10
4    ,,,,,,,,,.
5    IGIJJJGEG<
Name: 39816, dtype: object
0           LG1
1         45663
2             A
3            10
4    ,,,,,,,,,.
5    IGIJJJGEG<
Name: 39816, dtype: object
0           LG1
1         45664
2             G
3            10
4    ,,,,,,,aa.
5    HFJIHJGEG3
Name: 39817, dtype: object
0           LG1
1         45664
2             G
3            10
4    ,,,,,,,aa.
5    HFJIHJGEG3
Name: 39817, dtype: object
0           LG1
1         45664
2             G
3            10
4    ,,,,,,,aa.
5    HFJIHJGEG3
Name: 39817, dtype: object
0           LG1
1         45664
2             G
3            10
4    ,,,,,,,aa.
5    HFJIHJGEG3
Name: 39817, dtype: object
0           LG1
1         45664
2             G
3            10
4    ,,,,,,,aa.
5    HFJIHJGEG3
Name: 39817, dtype: object
0           LG1
1         45664
2             G
3            10
4    ,,,,,,,aa.
5    HFJIHJGEG3
Name: 39817, dtype: object
0           LG1
1         45664
2             G
3            10
4    ,,,,,,,aa.
5    HFJIHJGEG3
Name: 39817, dtype: object
0           LG1
1         45664
2             G
3            10
4    ,,,,,,,aa.
5    HFJIHJGEG3
Name: 39817, dtype: object
0           LG1
1         45664
2             G
3            10
4    ,,,,,,,aa.
5    HFJIHJGEG3
Name: 39817, dtype: object
0           LG1
1         45665
2             A
3            10
4    ,,,,,,,,,.
5    GCJGGJEEGC
Name: 39818, dtype: object
0           LG1
1         45665
2             A
3            10
4    ,,,,,,,,,.
5    GCJGGJEEGC
Name: 39818, dtype: object
0           LG1
1         45665
2             A
3            10
4    ,,,,,,,,,.
5    GCJGGJEEGC
Name: 39818, dtype: object
0           LG1
1         45665
2             A
3            10
4    ,,,,,,,,,.
5    GCJGGJEEGC
Name: 39818, dtype: object
0           LG1
1         45665
2             A
3            10
4    ,,,,,,,,,.
5    GCJGGJEEGC
Name: 39818, dtype: object
0           LG1
1         45665
2             A
3            10
4    ,,,,,,,,,.
5    GCJGGJEEGC
Name: 39818, dtype: object
0           LG1
1         45665
2             A
3            10
4    ,,,,,,,,,.
5    GCJGGJEEGC
Name: 39818, dtype: object
0           LG1
1         45665
2             A
3            10
4    ,,,,,,,,,.
5    GCJGGJEEGC
Name: 39818, dtype: object
0           LG1
1         45665
2             A
3            10
4    ,,,,,,,,,.
5    GCJGGJEEGC
Name: 39818, dtype: object
0           LG1
1         45665
2             A
3            10
4    ,,,,,,,,,.
5    GCJGGJEEGC
Name: 39818, dtype: object
0           LG1
1         45666
2             G
3            10
4    ,,,,,,a,,.
5    ?AJIHJGJJE
Name: 39819, dtype: object
0           LG1
1         45666
2             G
3            10
4    ,,,,,,a,,.
5    ?AJIHJGJJE
Name: 39819, dtype: object
0           LG1
1         45666
2             G
3            10
4    ,,,,,,a,,.
5    ?AJIHJGJJE
Name: 39819, dtype: object
0           LG1
1         45666
2             G
3            10
4    ,,,,,,a,,.
5    ?AJIHJGJJE
Name: 39819, dtype: object
0           LG1
1         45666
2             G
3            10
4    ,,,,,,a,,.
5    ?AJIHJGJJE
Name: 39819, dtype: object
0           LG1
1         45666
2             G
3            10
4    ,,,,,,a,,.
5    ?AJIHJGJJE
Name: 39819, dtype: object
0           LG1
1         45666
2             G
3            10
4    ,,,,,,a,,.
5    ?AJIHJGJJE
Name: 39819, dtype: object
0           LG1
1         45666
2             G
3            10
4    ,,,,,,a,,.
5    ?AJIHJGJJE
Name: 39819, dtype: object
0           LG1
1         45666
2             G
3            10
4    ,,,,,,a,,.
5    ?AJIHJGJJE
Name: 39819, dtype: object
0           LG1
1         45666
2             G
3            10
4    ,,,,,,a,,.
5    ?AJIHJGJJE
Name: 39819, dtype: object
0           LG1
1         45667
2             G
3            10
4    ,,,,,,,,,.
5    D<JIGJHJJ3
Name: 39820, dtype: object
0           LG1
1         45667
2             G
3            10
4    ,,,,,,,,,.
5    D<JIGJHJJ3
Name: 39820, dtype: object
0           LG1
1         45667
2             G
3            10
4    ,,,,,,,,,.
5    D<JIGJHJJ3
Name: 39820, dtype: object
0           LG1
1         45667
2             G
3            10
4    ,,,,,,,,,.
5    D<JIGJHJJ3
Name: 39820, dtype: object
0           LG1
1         45667
2             G
3            10
4    ,,,,,,,,,.
5    D<JIGJHJJ3

Name: 39820, dtype: object
0           LG1
1         45667
2             G
3            10
4    ,,,,,,,,,.
5    D<JIGJHJJ3
Name: 39820, dtype: object
0           LG1
1         45667
2             G
3            10
4    ,,,,,,,,,.
5    D<JIGJHJJ3
Name: 39820, dtype: object
0           LG1
1         45667
2             G
3            10
4    ,,,,,,,,,.
5    D<JIGJHJJ3
Name: 39820, dtype: object
0           LG1
1         45669
2             C
3            10
4    a,,,,a,,,.
5    HDJJIJAJJ:
Name: 39822, dtype: object
0           LG1
1         45669
2             C
3            10
4    a,,,,a,,,.
5    HDJJIJAJJ:
Name: 39822, dtype: object
0           LG1
1         45669
2             C
3            10
4    a,,,,a,,,.
5    HDJJIJAJJ:
Name: 39822, dtype: object
0           LG1
1         45669
2             C
3            10
4    a,,,,a,,,.
5    HDJJIJAJJ:
Name: 39822, dtype: object
0           LG1
1         45669
2             C
3            10
4    a,,,,a,,,.
5    HDJJIJAJJ:
Name: 39822, dtype: object
0           LG1
1         45669
2             C
3            10
4    a,,,,a,,,.
5    HDJJIJAJJ:
Name: 39822, dtype: object
0           LG1
1         45669
2             C
3            10
4    a,,,,a,,,.
5    HDJJIJAJJ:
Name: 39822, dtype: object
0           LG1
1         45669
2             C
3            10
4    a,,,,a,,,.
5    HDJJIJAJJ:
Name: 39822, dtype: object
0           LG1
1         45669
2             C
3            10
4    a,,,,a,,,.
5    HDJJIJAJJ:
Name: 39822, dtype: object
0           LG1
1         45671
2             T
3            10
4    ,,,a,,,,,.
5    DDJJIJHJI3
Name: 39824, dtype: object
0           LG1
1         45671
2             T
3            10
4    ,,,a,,,,,.
5    DDJJIJHJI3
Name: 39824, dtype: object
0           LG1
1         45671
2             T
3            10
4    ,,,a,,,,,.
5    DDJJIJHJI3
Name: 39824, dtype: object
0           LG1
1         45671
2             T
3            10
4    ,,,a,,,,,.
5    DDJJIJHJI3
Name: 39824, dtype: object
0           LG1
1         45671
2             T
3            10
4    ,,,a,,,,,.
5    DDJJIJHJI3
Name: 39824, dtype: object
0           LG1
1         45671
2             T
3            10
4    ,,,a,,,,,.
5    DDJJIJHJI3
Name: 39824, dtype: object
0           LG1
1         45671
2             T
3            10
4    ,,,a,,,,,.
5    DDJJIJHJI3
Name: 39824, dtype: object
0           LG1
1         45671
2             T
3            10
4    ,,,a,,,,,.
5    DDJJIJHJI3
Name: 39824, dtype: object
0           LG1
1         45671
2             T
3            10
4    ,,,a,,,,,.
5    DDJJIJHJI3
Name: 39824, dtype: object
0           LG1
1         45672
2             G
3            10
4    ,,,,,,,,,.
5    DGJJGJGJJA
Name: 39825, dtype: object
0           LG1
1         45672
2             G
3            10
4    ,,,,,,,,,.
5    DGJJGJGJJA
Name: 39825, dtype: object
0           LG1
1         45672
2             G
3            10
4    ,,,,,,,,,.
5    DGJJGJGJJA
Name: 39825, dtype: object
0           LG1
1         45672
2             G
3            10
4    ,,,,,,,,,.
5    DGJJGJGJJA
Name: 39825, dtype: object
0           LG1
1         45672
2             G
3            10
4    ,,,,,,,,,.
5    DGJJGJGJJA
Name: 39825, dtype: object
0           LG1
1         45672
2             G
3            10
4    ,,,,,,,,,.
5    DGJJGJGJJA
Name: 39825, dtype: object
0           LG1
1         45672
2             G
3            10
4    ,,,,,,,,,.
5    DGJJGJGJJA
Name: 39825, dtype: object
0           LG1
1         45672
2             G
3            10
4    ,,,,,,,,,.
5    DGJJGJGJJA
Name: 39825, dtype: object
0           LG1
1         45672
2             G
3            10
4    ,,,,,,,,,.
5    DGJJGJGJJA
Name: 39825, dtype: object
0           LG1
1         45672
2             G
3            10
4    ,,,,,,,,,.
5    DGJJGJGJJA
Name: 39825, dtype: object
0           LG1
1         45673
2             G
3            10
4    tt,,ttttt.
5    D;JJGJHJJA
Name: 39826, dtype: object
0           LG1
1         45673
2             G
3            10
4    tt,,ttttt.
5    D;JJGJHJJA
Name: 39826, dtype: object
0           LG1
1         45673
2             G
3            10
4    tt,,ttttt.
5    D;JJGJHJJA
Name: 39826, dtype: object
0           LG1
1         45673
2             G
3            10
4    tt,,ttttt.
5    D;JJGJHJJA
Name: 39826, dtype: object
0           LG1
1         45673
2             G
3            10
4    tt,,ttttt.
5    D;JJGJHJJA
Name: 39826, dtype: object
0           LG1
1         45673
2             G
3            10
4    tt,,ttttt.
5    D;JJGJHJJA
Name: 39826, dtype: object
0           LG1
1         45673
2             G
3            10
4    tt,,ttttt.
5    D;JJGJHJJA
Name: 39826, dtype: object
0           LG1
1         45673
2             G
3            10
4    tt,,ttttt.
5    D;JJGJHJJA
Name: 39826, dtype: object
0           LG1
1         45673
2             G
3            10
4    tt,,ttttt.
5    D;JJGJHJJA
Name: 39826, dtype: object
0           LG1
1         45674
2             C
3            10
4    ,,,,,,,,,.
5    DDJJIJEJJ?
Name: 39827, dtype: object
0           LG1
1         45674
2             C
3            10
4    ,,,,,,,,,.
5    DDJJIJEJJ?
Name: 39827, dtype: object
0           LG1
1         45674
2             C
3            10
4    ,,,,,,,,,.
5    DDJJIJEJJ?
Name: 39827, dtype: object
0           LG1
1         45674
2             C
3            10
4    ,,,,,,,,,.
5    DDJJIJEJJ?
Name: 39827, dtype: object
0           LG1
1         45674
2             C
3            10
4    ,,,,,,,,,.
5    DDJJIJEJJ?
Name: 39827, dtype: object
0           LG1
1         45674
2             C
3            10
4    ,,,,,,,,,.
5    DDJJIJEJJ?
Name: 39827, dtype: object
0           LG1
1         45674
2             C
3            10
4    ,,,,,,,,,.
5    DDJJIJEJJ?
Name: 39827, dtype: object
0           LG1
1         45674
2             C
3            10
4    ,,,,,,,,,.
5    DDJJIJEJJ?
Name: 39827, dtype: object
0           LG1
1         45674
2             C
3            10
4    ,,,,,,,,,.
5    DDJJIJEJJ?
Name: 39827, dtype: object
0           LG1
1         45674
2             C
3            10
4    ,,,,,,,,,.
5    DDJJIJEJJ?
Name: 39827, dtype: object
0           LG1
1         45675
2             G
3            10
4    ,,,,,,,,,.
5    DFJIIJIIJE
Name: 39828, dtype: object
0           LG1
1         45675
2             G
3            10
4    ,,,,,,,,,.
5    DFJIIJIIJE
Name: 39828, dtype: object
0           LG1
1         45675
2             G
3            10
4    ,,,,,,,,,.
5    DFJIIJIIJE
Name: 39828, dtype: object
0           LG1
1         45675
2             G
3            10
4    ,,,,,,,,,.
5    DFJIIJIIJE
Name: 39828, dtype: object
0           LG1
1         45675
2             G
3            10
4    ,,,,,,,,,.
5    DFJIIJIIJE
Name: 39828, dtype: object
0           LG1
1         45675
2             G
3            10
4    ,,,,,,,,,.
5    DFJIIJIIJE
Name: 39828, dtype: object
0           LG1
1         45675
2             G
3            10
4    ,,,,,,,,,.
5    DFJIIJIIJE
Name: 39828, dtype: object
0           LG1
1         45675
2             G
3            10
4    ,,,,,,,,,.
5    DFJIIJIIJE
Name: 39828, dtype: object
0           LG1
1         45675
2             G
3            10
4    ,,,,,,,,,.
5    DFJIIJIIJE
Name: 39828, dtype: object
0           LG1
1         45675
2             G
3            10
4    ,,,,,,,,,.
5    DFJIIJIIJE
Name: 39828, dtype: object
0           LG1
1         45676
2             C
3            10
4    ttt,ttttt.
5    @DJJIJHIJ6
Name: 39829, dtype: object
0           LG1
1         45676
2             C
3            10
4    ttt,ttttt.
5    @DJJIJHIJ6
Name: 39829, dtype: object
0           LG1
1         45676
2             C
3            10
4    ttt,ttttt.
5    @DJJIJHIJ6
Name: 39829, dtype: object
0           LG1
1         45676
2             C
3            10
4    ttt,ttttt.
5    @DJJIJHIJ6
Name: 39829, dtype: object
0           LG1
1         45676
2             C
3            10
4    ttt,ttttt.
5    @DJJIJHIJ6
Name: 39829, dtype: object
0           LG1
1         45676
2             C
3            10
4    ttt,ttttt.
5    @DJJIJHIJ6
Name: 39829, dtype: object
0           LG1
1         45676
2             C
3            10
4    ttt,ttttt.
5    @DJJIJHIJ6
Name: 39829, dtype: object
0           LG1
1         45676
2             C
3            10
4    ttt,ttttt.
5    @DJJIJHIJ6
Name: 39829, dtype: object
0           LG1
1         45676
2             C
3            10
4    ttt,ttttt.
5    @DJJIJHIJ6
Name: 39829, dtype: object
0           LG1
1         45677
2             G
3            10
4    ,,,a,,,,,.
5    @FIIHJHHJ?
Name: 39830, dtype: object
0           LG1
1         45677
2             G
3            10
4    ,,,a,,,,,.
5    @FIIHJHHJ?
Name: 39830, dtype: object
0           LG1
1         45677
2             G
3            10
4    ,,,a,,,,,.
5    @FIIHJHHJ?
Name: 39830, dtype: object
0           LG1
1         45677
2             G
3            10
4    ,,,a,,,,,.
5    @FIIHJHHJ?
Name: 39830, dtype: object
0           LG1
1         45677
2             G
3            10
4    ,,,a,,,,,.
5    @FIIHJHHJ?
Name: 39830, dtype: object
0           LG1
1         45677
2             G
3            10
4    ,,,a,,,,,.
5    @FIIHJHHJ?
Name: 39830, dtype: object
0           LG1
1         45677
2             G
3            10
4    ,,,a,,,,,.
5    @FIIHJHHJ?
Name: 39830, dtype: object
0           LG1
1         45677
2             G
3            10
4    ,,,a,,,,,.
5    @FIIHJHHJ?
Name: 39830, dtype: object
0           LG1
1         45677
2             G
3            10
4    ,,,a,,,,,.
5    @FIIHJHHJ?
Name: 39830, dtype: object
0           LG1
1         45677
2             G
3            10
4    ,,,a,,,,,.
5    @FIIHJHHJ?
Name: 39830, dtype: object
0           LG1
1         46044
2             T
3            10
4    ,,.....,..
5    GH;HHDF><C
Name: 40122, dtype: object
0           LG1
1         46044
2             T
3            10
4    ,,.....,..
5    GH;HHDF><C
Name: 40122, dtype: object
0           LG1
1         46044
2             T
3            10
4    ,,.....,..
5    GH;HHDF><C
Name: 40122, dtype: object
0           LG1
1         46044
2             T
3            10
4    ,,.....,..
5    GH;HHDF><C
Name: 40122, dtype: object
0           LG1
1         46044
2             T
3            10
4    ,,.....,..
5    GH;HHDF><C
Name: 40122, dtype: object
0           LG1
1         46044
2             T
3            10
4    ,,.....,..
5    GH;HHDF><C
Name: 40122, dtype: object
0           LG1
1         46044
2             T
3            10
4    ,,.....,..
5    GH;HHDF><C
Name: 40122, dtype: object
0           LG1
1         46141
2             A
3             8
4    ...,...^3.
5      DJACJEHB
Name: 40219, dtype: object
0           LG1
1         46141
2             A
3             8
4    ...,...^3.
5      DJACJEHB
Name: 40219, dtype: object
0           LG1
1         46141
2             A
3             8
4    ...,...^3.
5      DJACJEHB
Name: 40219, dtype: object
0           LG1
1         46141
2             A
3             8
4    ...,...^3.
5      DJACJEHB
Name: 40219, dtype: object
0           LG1
1         46141
2             A
3             8
4    ...,...^3.
5      DJACJEHB
Name: 40219, dtype: object
0           LG1
1         46141
2             A
3             8
4    ...,...^3.
5      DJACJEHB
Name: 40219, dtype: object
0           LG1
1         46141
2             A
3             8
4    ...,...^3.
5      DJACJEHB
Name: 40219, dtype: object
0           LG1
1         46141
2             A
3             8
4    ...,...^3.
5      DJACJEHB
Name: 40219, dtype: object
0           LG1
1         46145
2             T
3            10
4    ...,......
5    CBD7FBHDF@
Name: 40223, dtype: object
0           LG1
1         46145
2             T
3            10
4    ...,......
5    CBD7FBHDF@
Name: 40223, dtype: object
0           LG1
1         46145
2             T
3            10
4    ...,......
5    CBD7FBHDF@
Name: 40223, dtype: object
0           LG1
1         46145
2             T
3            10
4    ...,......
5    CBD7FBHDF@
Name: 40223, dtype: object
0           LG1
1         46145
2             T
3            10
4    ...,......
5    CBD7FBHDF@
Name: 40223, dtype: object
0           LG1
1         46145
2             T
3            10
4    ...,......
5    CBD7FBHDF@
Name: 40223, dtype: object
0           LG1
1         46145
2             T
3            10
4    ...,......
5    CBD7FBHDF@
Name: 40223, dtype: object
0           LG1
1         46145
2             T
3            10
4    ...,......
5    CBD7FBHDF@
Name: 40223, dtype: object
0           LG1
1         46145
2             T
3            10
4    ...,......
5    CBD7FBHDF@
Name: 40223, dtype: object
0           LG1
1         46567
2             A
3            10
4    ,,,.,,,,..
5    FHJEIJJJ>:
Name: 40645, dtype: object
0           LG1
1         46567
2             A
3            10
4    ,,,.,,,,..
5    FHJEIJJJ>:
Name: 40645, dtype: object
0           LG1
1         46567
2             A
3            10
4    ,,,.,,,,..
5    FHJEIJJJ>:
Name: 40645, dtype: object
0           LG1
1         46567
2             A
3            10
4    ,,,.,,,,..
5    FHJEIJJJ>:
Name: 40645, dtype: object
0           LG1
1         46567
2             A
3            10
4    ,,,.,,,,..
5    FHJEIJJJ>:
Name: 40645, dtype: object
0           LG1
1         46567
2             A
3            10
4    ,,,.,,,,..
5    FHJEIJJJ>:
Name: 40645, dtype: object
0           LG1
1         46567
2             A
3            10
4    ,,,.,,,,..
5    FHJEIJJJ>:
Name: 40645, dtype: object
0           LG1
1         46567
2             A
3            10
4    ,,,.,,,,..
5    FHJEIJJJ>:
Name: 40645, dtype: object
0           LG1
1         46568
2             T
3            10
4    ,,,.,,,,..
5    FDHDEJJJF4
Name: 40646, dtype: object
0           LG1
1         46568
2             T
3            10
4    ,,,.,,,,..
5    FDHDEJJJF4
Name: 40646, dtype: object
0           LG1
1         46568
2             T
3            10
4    ,,,.,,,,..
5    FDHDEJJJF4
Name: 40646, dtype: object
0           LG1
1         46568
2             T
3            10
4    ,,,.,,,,..
5    FDHDEJJJF4
Name: 40646, dtype: object
0           LG1
1         46568
2             T
3            10
4    ,,,.,,,,..
5    FDHDEJJJF4
Name: 40646, dtype: object
0           LG1
1         46568
2             T
3            10
4    ,,,.,,,,..
5    FDHDEJJJF4
Name: 40646, dtype: object
0           LG1
1         46568
2             T
3            10
4    ,,,.,,,,..
5    FDHDEJJJF4
Name: 40646, dtype: object
0           LG1
1         46568
2             T
3            10
4    ,,,.,,,,..
5    FDHDEJJJF4
Name: 40646, dtype: object
0           LG1
1         46568
2             T
3            10
4    ,,,.,,,,..
5    FDHDEJJJF4
Name: 40646, dtype: object
0           LG1
1         46569
2             G
3            10
4    ,,,.,,,,..
5    FDHEJJJJ@4
Name: 40647, dtype: object

0           LG1
1         46569
2             G
3            10
4    ,,,.,,,,..
5    FDHEJJJJ@4
Name: 40647, dtype: object
0           LG1
1         46569
2             G
3            10
4    ,,,.,,,,..
5    FDHEJJJJ@4
Name: 40647, dtype: object
0           LG1
1         46569
2             G
3            10
4    ,,,.,,,,..
5    FDHEJJJJ@4
Name: 40647, dtype: object
0           LG1
1         46569
2             G
3            10
4    ,,,.,,,,..
5    FDHEJJJJ@4
Name: 40647, dtype: object
0           LG1
1         46569
2             G
3            10
4    ,,,.,,,,..
5    FDHEJJJJ@4
Name: 40647, dtype: object
0           LG1
1         46569
2             G
3            10
4    ,,,.,,,,..
5    FDHEJJJJ@4
Name: 40647, dtype: object
0           LG1
1         46569
2             G
3            10
4    ,,,.,,,,..
5    FDHEJJJJ@4
Name: 40647, dtype: object
0           LG1
1         46569
2             G
3            10
4    ,,,.,,,,..
5    FDHEJJJJ@4
Name: 40647, dtype: object
0           LG1
1         46570
2             A
3            10
4    ,,,.,,g,.G
5    FHHDJJJJ@A
Name: 40648, dtype: object
0           LG1
1         46570
2             A
3            10
4    ,,,.,,g,.G
5    FHHDJJJJ@A
Name: 40648, dtype: object
0           LG1
1         46570
2             A
3            10
4    ,,,.,,g,.G
5    FHHDJJJJ@A
Name: 40648, dtype: object
0           LG1
1         46570
2             A
3            10
4    ,,,.,,g,.G
5    FHHDJJJJ@A
Name: 40648, dtype: object
0           LG1
1         46570
2             A
3            10
4    ,,,.,,g,.G
5    FHHDJJJJ@A
Name: 40648, dtype: object
0           LG1
1         46570
2             A
3            10
4    ,,,.,,g,.G
5    FHHDJJJJ@A
Name: 40648, dtype: object
0           LG1
1         46570
2             A
3            10
4    ,,,.,,g,.G
5    FHHDJJJJ@A
Name: 40648, dtype: object
0           LG1
1         46570
2             A
3            10
4    ,,,.,,g,.G
5    FHHDJJJJ@A
Name: 40648, dtype: object
0           LG1
1         46570
2             A
3            10
4    ,,,.,,g,.G
5    FHHDJJJJ@A
Name: 40648, dtype: object
0           LG1
1         46570
2             A
3            10
4    ,,,.,,g,.G
5    FHHDJJJJ@A
Name: 40648, dtype: object
0           LG1
1         46571
2             T
3            10
4    ,,,.,,,,..
5    FFHDJIJJ>B
Name: 40649, dtype: object
0           LG1
1         46571
2             T
3            10
4    ,,,.,,,,..
5    FFHDJIJJ>B
Name: 40649, dtype: object
0           LG1
1         46571
2             T
3            10
4    ,,,.,,,,..
5    FFHDJIJJ>B
Name: 40649, dtype: object
0           LG1
1         46571
2             T
3            10
4    ,,,.,,,,..
5    FFHDJIJJ>B
Name: 40649, dtype: object
0           LG1
1         46571
2             T
3            10
4    ,,,.,,,,..
5    FFHDJIJJ>B
Name: 40649, dtype: object
0           LG1
1         46571
2             T
3            10
4    ,,,.,,,,..
5    FFHDJIJJ>B
Name: 40649, dtype: object
0           LG1
1         46571
2             T
3            10
4    ,,,.,,,,..
5    FFHDJIJJ>B
Name: 40649, dtype: object
0           LG1
1         46571
2             T
3            10
4    ,,,.,,,,..
5    FFHDJIJJ>B
Name: 40649, dtype: object
0           LG1
1         46571
2             T
3            10
4    ,,,.,,,,..
5    FFHDJIJJ>B
Name: 40649, dtype: object
0           LG1
1         46572
2             G
3            10
4    ,,,.a,,,..
5    CDHDHJJJGA
Name: 40650, dtype: object
0           LG1
1         46572
2             G
3            10
4    ,,,.a,,,..
5    CDHDHJJJGA
Name: 40650, dtype: object
0           LG1
1         46572
2             G
3            10
4    ,,,.a,,,..
5    CDHDHJJJGA
Name: 40650, dtype: object
0           LG1
1         46572
2             G
3            10
4    ,,,.a,,,..
5    CDHDHJJJGA
Name: 40650, dtype: object
0           LG1
1         46572
2             G
3            10
4    ,,,.a,,,..
5    CDHDHJJJGA
Name: 40650, dtype: object
0           LG1
1         46572
2             G
3            10
4    ,,,.a,,,..
5    CDHDHJJJGA
Name: 40650, dtype: object
0           LG1
1         46572
2             G
3            10
4    ,,,.a,,,..
5    CDHDHJJJGA
Name: 40650, dtype: object
0           LG1
1         46572
2             G
3            10
4    ,,,.a,,,..
5    CDHDHJJJGA
Name: 40650, dtype: object
0           LG1
1         46572
2             G
3            10
4    ,,,.a,,,..
5    CDHDHJJJGA
Name: 40650, dtype: object
0           LG1
1         46572
2             G
3            10
4    ,,,.a,,,..
5    CDHDHJJJGA
Name: 40650, dtype: object
0           LG1
1         46573
2             A
3            10
4    ,,,.,,,,..
5    CFFDHJJJ<?
Name: 40651, dtype: object
0           LG1
1         46573
2             A
3            10
4    ,,,.,,,,..
5    CFFDHJJJ<?
Name: 40651, dtype: object
0           LG1
1         46573
2             A
3            10
4    ,,,.,,,,..
5    CFFDHJJJ<?
Name: 40651, dtype: object
0           LG1
1         46573
2             A
3            10
4    ,,,.,,,,..
5    CFFDHJJJ<?
Name: 40651, dtype: object
0           LG1
1         46573
2             A
3            10
4    ,,,.,,,,..
5    CFFDHJJJ<?
Name: 40651, dtype: object
0           LG1
1         46573
2             A
3            10
4    ,,,.,,,,..
5    CFFDHJJJ<?
Name: 40651, dtype: object
0           LG1
1         46573
2             A
3            10
4    ,,,.,,,,..
5    CFFDHJJJ<?
Name: 40651, dtype: object
0           LG1
1         46573
2             A
3            10
4    ,,,.,,,,..
5    CFFDHJJJ<?
Name: 40651, dtype: object
0           LG1
1         46573
2             A
3            10
4    ,,,.,,,,..
5    CFFDHJJJ<?
Name: 40651, dtype: object
0           LG1
1         46574
2             T
3             9
4    ,$,.,,,,..
5     >FDHHJI?4
Name: 40652, dtype: object
0           LG1
1         46574
2             T
3             9
4    ,$,.,,,,..
5     >FDHHJI?4
Name: 40652, dtype: object
0           LG1
1         46574
2             T
3             9
4    ,$,.,,,,..
5     >FDHHJI?4
Name: 40652, dtype: object
0           LG1
1         46574
2             T
3             9
4    ,$,.,,,,..
5     >FDHHJI?4
Name: 40652, dtype: object
0           LG1
1         46574
2             T
3             9
4    ,$,.,,,,..
5     >FDHHJI?4
Name: 40652, dtype: object
0           LG1
1         46574
2             T
3             9
4    ,$,.,,,,..
5     >FDHHJI?4
Name: 40652, dtype: object
0           LG1
1         46574
2             T
3             9
4    ,$,.,,,,..
5     >FDHHJI?4
Name: 40652, dtype: object
0           LG1
1         46635
2             A
3            10
4    ,G,,.G..,,
5    JJHCH4FCDC
Name: 40700, dtype: object
0           LG1
1         46635
2             A
3            10
4    ,G,,.G..,,
5    JJHCH4FCDC
Name: 40700, dtype: object
0           LG1
1         46635
2             A
3            10
4    ,G,,.G..,,
5    JJHCH4FCDC
Name: 40700, dtype: object
0           LG1
1         46635
2             A
3            10
4    ,G,,.G..,,
5    JJHCH4FCDC
Name: 40700, dtype: object
0           LG1
1         46635
2             A
3            10
4    ,G,,.G..,,
5    JJHCH4FCDC
Name: 40700, dtype: object
0           LG1
1         46635
2             A
3            10
4    ,G,,.G..,,
5    JJHCH4FCDC
Name: 40700, dtype: object
0           LG1
1         46635
2             A
3            10
4    ,G,,.G..,,
5    JJHCH4FCDC
Name: 40700, dtype: object
0           LG1
1         46635
2             A
3            10
4    ,G,,.G..,,
5    JJHCH4FCDC
Name: 40700, dtype: object
0           LG1
1         46635
2             A
3            10
4    ,G,,.G..,,
5    JJHCH4FCDC
Name: 40700, dtype: object
0           LG1
1         46636
2             G
3            10
4    ,.,,....,,
5    IJHAHCFFCC
Name: 40701, dtype: object
0           LG1
1         46636
2             G
3            10
4    ,.,,....,,
5    IJHAHCFFCC
Name: 40701, dtype: object
0           LG1
1         46636
2             G
3            10
4    ,.,,....,,
5    IJHAHCFFCC
Name: 40701, dtype: object
0           LG1
1         46636
2             G
3            10
4    ,.,,....,,
5    IJHAHCFFCC
Name: 40701, dtype: object
0           LG1
1         46636
2             G
3            10
4    ,.,,....,,
5    IJHAHCFFCC
Name: 40701, dtype: object
0           LG1
1         46636
2             G
3            10
4    ,.,,....,,
5    IJHAHCFFCC
Name: 40701, dtype: object
0           LG1
1         46636
2             G
3            10
4    ,.,,....,,
5    IJHAHCFFCC
Name: 40701, dtype: object
0           LG1
1         46636
2             G
3            10
4    ,.,,....,,
5    IJHAHCFFCC
Name: 40701, dtype: object
0           LG1
1         46636
2             G
3            10
4    ,.,,....,,
5    IJHAHCFFCC
Name: 40701, dtype: object
0           LG1
1         46636
2             G
3            10
4    ,.,,....,,
5    IJHAHCFFCC
Name: 40701, dtype: object
0           LG1
1         46638
2             C
3            10
4    t.,,....,,
5    JGHEJ2HFED
Name: 40703, dtype: object
0           LG1
1         46638
2             C
3            10
4    t.,,....,,
5    JGHEJ2HFED
Name: 40703, dtype: object
0           LG1
1         46638
2             C
3            10
4    t.,,....,,
5    JGHEJ2HFED
Name: 40703, dtype: object
0           LG1
1         46638
2             C
3            10
4    t.,,....,,
5    JGHEJ2HFED
Name: 40703, dtype: object
0           LG1
1         46638
2             C
3            10
4    t.,,....,,
5    JGHEJ2HFED
Name: 40703, dtype: object
0           LG1
1         46638
2             C
3            10
4    t.,,....,,
5    JGHEJ2HFED
Name: 40703, dtype: object
0           LG1
1         46638
2             C
3            10
4    t.,,....,,
5    JGHEJ2HFED
Name: 40703, dtype: object
0           LG1
1         46638
2             C
3            10
4    t.,,....,,
5    JGHEJ2HFED
Name: 40703, dtype: object
0           LG1
1         46638
2             C
3            10
4    t.,,....,,
5    JGHEJ2HFED
Name: 40703, dtype: object
0           LG1
1         46639
2             A
3            10
4    ,.,,....,,
5    JHH=J<HFDD
Name: 40704, dtype: object
0           LG1
1         46639
2             A
3            10
4    ,.,,....,,
5    JHH=J<HFDD
Name: 40704, dtype: object
0           LG1
1         46639
2             A
3            10
4    ,.,,....,,
5    JHH=J<HFDD
Name: 40704, dtype: object
0           LG1
1         46639
2             A
3            10
4    ,.,,....,,
5    JHH=J<HFDD
Name: 40704, dtype: object
0           LG1
1         46639
2             A
3            10
4    ,.,,....,,
5    JHH=J<HFDD
Name: 40704, dtype: object
0           LG1
1         46639
2             A
3            10
4    ,.,,....,,
5    JHH=J<HFDD
Name: 40704, dtype: object
0           LG1
1         46639
2             A
3            10
4    ,.,,....,,
5    JHH=J<HFDD
Name: 40704, dtype: object
0           LG1
1         46639
2             A
3            10
4    ,.,,....,,
5    JHH=J<HFDD
Name: 40704, dtype: object
0           LG1
1         46640
2             A
3            10
4    ,.,,....,,
5    JIH;JEHFFD
Name: 40705, dtype: object
0           LG1
1         46640
2             A
3            10
4    ,.,,....,,
5    JIH;JEHFFD
Name: 40705, dtype: object
0           LG1
1         46640
2             A
3            10
4    ,.,,....,,
5    JIH;JEHFFD
Name: 40705, dtype: object
0           LG1
1         46640
2             A
3            10
4    ,.,,....,,
5    JIH;JEHFFD
Name: 40705, dtype: object
0           LG1
1         46640
2             A
3            10
4    ,.,,....,,
5    JIH;JEHFFD
Name: 40705, dtype: object
0           LG1
1         46640
2             A
3            10
4    ,.,,....,,
5    JIH;JEHFFD
Name: 40705, dtype: object
0           LG1
1         46640
2             A
3            10
4    ,.,,....,,
5    JIH;JEHFFD
Name: 40705, dtype: object
0           LG1
1         46640
2             A
3            10
4    ,.,,....,,
5    JIH;JEHFFD
Name: 40705, dtype: object
0           LG1
1         46640
2             A
3            10
4    ,.,,....,,
5    JIH;JEHFFD
Name: 40705, dtype: object
0           LG1
1         46641
2             A
3            10
4    ,.,,....,,
5    IJJHJEHHFE
Name: 40706, dtype: object
0           LG1
1         46641
2             A
3            10
4    ,.,,....,,
5    IJJHJEHHFE
Name: 40706, dtype: object
0           LG1
1         46641
2             A
3            10
4    ,.,,....,,
5    IJJHJEHHFE
Name: 40706, dtype: object
0           LG1
1         46641
2             A
3            10
4    ,.,,....,,
5    IJJHJEHHFE
Name: 40706, dtype: object
0           LG1
1         46641
2             A
3            10
4    ,.,,....,,
5    IJJHJEHHFE
Name: 40706, dtype: object
0           LG1
1         46641
2             A
3            10
4    ,.,,....,,
5    IJJHJEHHFE
Name: 40706, dtype: object
0           LG1
1         46641
2             A
3            10
4    ,.,,....,,
5    IJJHJEHHFE
Name: 40706, dtype: object
0           LG1
1         46641
2             A
3            10
4    ,.,,....,,
5    IJJHJEHHFE
Name: 40706, dtype: object
0           LG1
1         46641
2             A
3            10
4    ,.,,....,,
5    IJJHJEHHFE
Name: 40706, dtype: object
0           LG1
1         46641
2             A
3            10
4    ,.,,....,,
5    IJJHJEHHFE
Name: 40706, dtype: object
0           LG1
1         46642
2             G
3            10
4    ,.,,....,,
5    JIJGJEHHFE
Name: 40707, dtype: object
0           LG1
1         46642
2             G
3            10
4    ,.,,....,,
5    JIJGJEHHFE
Name: 40707, dtype: object
0           LG1
1         46642
2             G
3            10
4    ,.,,....,,
5    JIJGJEHHFE
Name: 40707, dtype: object
0           LG1
1         46642
2             G
3            10
4    ,.,,....,,
5    JIJGJEHHFE
Name: 40707, dtype: object
0           LG1
1         46642
2             G
3            10
4    ,.,,....,,
5    JIJGJEHHFE
Name: 40707, dtype: object
0           LG1
1         46642
2             G
3            10
4    ,.,,....,,
5    JIJGJEHHFE
Name: 40707, dtype: object
0           LG1
1         46642
2             G
3            10
4    ,.,,....,,
5    JIJGJEHHFE
Name: 40707, dtype: object
0           LG1
1         46642
2             G
3            10
4    ,.,,....,,
5    JIJGJEHHFE
Name: 40707, dtype: object
0           LG1
1         46642
2             G
3            10
4    ,.,,....,,
5    JIJGJEHHFE
Name: 40707, dtype: object
0           LG1
1         46642
2             G
3            10
4    ,.,,....,,
5    JIJGJEHHFE
Name: 40707, dtype: object
0           LG1
1         46643
2             T
3            10
4    ,.,,....,,
5    JHIGIEIHFE
Name: 40708, dtype: object
0           LG1
1         46643
2             T
3            10
4    ,.,,....,,
5    JHIGIEIHFE
Name: 40708, dtype: object
0           LG1
1         46643
2             T
3            10
4    ,.,,....,,
5    JHIGIEIHFE
Name: 40708, dtype: object
0           LG1
1         46643
2             T
3            10
4    ,.,,....,,
5    JHIGIEIHFE

Name: 40708, dtype: object
0           LG1
1         46643
2             T
3            10
4    ,.,,....,,
5    JHIGIEIHFE
Name: 40708, dtype: object
0           LG1
1         46643
2             T
3            10
4    ,.,,....,,
5    JHIGIEIHFE
Name: 40708, dtype: object
0           LG1
1         46643
2             T
3            10
4    ,.,,....,,
5    JHIGIEIHFE
Name: 40708, dtype: object
0           LG1
1         46643
2             T
3            10
4    ,.,,....,,
5    JHIGIEIHFE
Name: 40708, dtype: object
0           LG1
1         46643
2             T
3            10
4    ,.,,....,,
5    JHIGIEIHFE
Name: 40708, dtype: object
0           LG1
1         46643
2             T
3            10
4    ,.,,....,,
5    JHIGIEIHFE
Name: 40708, dtype: object
0           LG1
1         46644
2             C
3            10
4    ,.,,....,,
5    JIJAJFJHFE
Name: 40709, dtype: object
0           LG1
1         46644
2             C
3            10
4    ,.,,....,,
5    JIJAJFJHFE
Name: 40709, dtype: object
0           LG1
1         46644
2             C
3            10
4    ,.,,....,,
5    JIJAJFJHFE
Name: 40709, dtype: object
0           LG1
1         46644
2             C
3            10
4    ,.,,....,,
5    JIJAJFJHFE
Name: 40709, dtype: object
0           LG1
1         46644
2             C
3            10
4    ,.,,....,,
5    JIJAJFJHFE
Name: 40709, dtype: object
0           LG1
1         46644
2             C
3            10
4    ,.,,....,,
5    JIJAJFJHFE
Name: 40709, dtype: object
0           LG1
1         46644
2             C
3            10
4    ,.,,....,,
5    JIJAJFJHFE
Name: 40709, dtype: object
0           LG1
1         46644
2             C
3            10
4    ,.,,....,,
5    JIJAJFJHFE
Name: 40709, dtype: object
0           LG1
1         46644
2             C
3            10
4    ,.,,....,,
5    JIJAJFJHFE
Name: 40709, dtype: object
0           LG1
1         46644
2             C
3            10
4    ,.,,....,,
5    JIJAJFJHFE
Name: 40709, dtype: object
0           LG1
1         46645
2             T
3            10
4    ,.,,....,,
5    JIJCJIJHFE
Name: 40710, dtype: object
0           LG1
1         46645
2             T
3            10
4    ,.,,....,,
5    JIJCJIJHFE
Name: 40710, dtype: object
0           LG1
1         46645
2             T
3            10
4    ,.,,....,,
5    JIJCJIJHFE
Name: 40710, dtype: object
0           LG1
1         46645
2             T
3            10
4    ,.,,....,,
5    JIJCJIJHFE
Name: 40710, dtype: object
0           LG1
1         46645
2             T
3            10
4    ,.,,....,,
5    JIJCJIJHFE
Name: 40710, dtype: object
0           LG1
1         46645
2             T
3            10
4    ,.,,....,,
5    JIJCJIJHFE
Name: 40710, dtype: object
0           LG1
1         46645
2             T
3            10
4    ,.,,....,,
5    JIJCJIJHFE
Name: 40710, dtype: object
0           LG1
1         46645
2             T
3            10
4    ,.,,....,,
5    JIJCJIJHFE
Name: 40710, dtype: object
0           LG1
1         46645
2             T
3            10
4    ,.,,....,,
5    JIJCJIJHFE
Name: 40710, dtype: object
0           LG1
1         46645
2             T
3            10
4    ,.,,....,,
5    JIJCJIJHFE
Name: 40710, dtype: object
0           LG1
1         46646
2             T
3            10
4    ,.,,....,,
5    IJJGJIIJHE
Name: 40711, dtype: object
0           LG1
1         46646
2             T
3            10
4    ,.,,....,,
5    IJJGJIIJHE
Name: 40711, dtype: object
0           LG1
1         46646
2             T
3            10
4    ,.,,....,,
5    IJJGJIIJHE
Name: 40711, dtype: object
0           LG1
1         46646
2             T
3            10
4    ,.,,....,,
5    IJJGJIIJHE
Name: 40711, dtype: object
0           LG1
1         46646
2             T
3            10
4    ,.,,....,,
5    IJJGJIIJHE
Name: 40711, dtype: object
0           LG1
1         46646
2             T
3            10
4    ,.,,....,,
5    IJJGJIIJHE
Name: 40711, dtype: object
0           LG1
1         46646
2             T
3            10
4    ,.,,....,,
5    IJJGJIIJHE
Name: 40711, dtype: object
0           LG1
1         46646
2             T
3            10
4    ,.,,....,,
5    IJJGJIIJHE
Name: 40711, dtype: object
0           LG1
1         46646
2             T
3            10
4    ,.,,....,,
5    IJJGJIIJHE
Name: 40711, dtype: object
0           LG1
1         46646
2             T
3            10
4    ,.,,....,,
5    IJJGJIIJHE
Name: 40711, dtype: object
0           LG1
1         46647
2             T
3            10
4    ,.,,....,,
5    IJJGJIEJHF
Name: 40712, dtype: object
0           LG1
1         46647
2             T
3            10
4    ,.,,....,,
5    IJJGJIEJHF
Name: 40712, dtype: object
0           LG1
1         46647
2             T
3            10
4    ,.,,....,,
5    IJJGJIEJHF
Name: 40712, dtype: object
0           LG1
1         46647
2             T
3            10
4    ,.,,....,,
5    IJJGJIEJHF
Name: 40712, dtype: object
0           LG1
1         46647
2             T
3            10
4    ,.,,....,,
5    IJJGJIEJHF
Name: 40712, dtype: object
0           LG1
1         46647
2             T
3            10
4    ,.,,....,,
5    IJJGJIEJHF
Name: 40712, dtype: object
0           LG1
1         46647
2             T
3            10
4    ,.,,....,,
5    IJJGJIEJHF
Name: 40712, dtype: object
0           LG1
1         46647
2             T
3            10
4    ,.,,....,,
5    IJJGJIEJHF
Name: 40712, dtype: object
0           LG1
1         46647
2             T
3            10
4    ,.,,....,,
5    IJJGJIEJHF
Name: 40712, dtype: object
0           LG1
1         46647
2             T
3            10
4    ,.,,....,,
5    IJJGJIEJHF
Name: 40712, dtype: object
0           LG1
1         46648
2             A
3            10
4    ,Ggg....,,
5    HJJHIIGJEF
Name: 40713, dtype: object
0           LG1
1         46648
2             A
3            10
4    ,Ggg....,,
5    HJJHIIGJEF
Name: 40713, dtype: object
0           LG1
1         46648
2             A
3            10
4    ,Ggg....,,
5    HJJHIIGJEF
Name: 40713, dtype: object
0           LG1
1         46648
2             A
3            10
4    ,Ggg....,,
5    HJJHIIGJEF
Name: 40713, dtype: object
0           LG1
1         46648
2             A
3            10
4    ,Ggg....,,
5    HJJHIIGJEF
Name: 40713, dtype: object
0           LG1
1         46648
2             A
3            10
4    ,Ggg....,,
5    HJJHIIGJEF
Name: 40713, dtype: object
0           LG1
1         46648
2             A
3            10
4    ,Ggg....,,
5    HJJHIIGJEF
Name: 40713, dtype: object
0           LG1
1         46648
2             A
3            10
4    ,Ggg....,,
5    HJJHIIGJEF
Name: 40713, dtype: object
0           LG1
1         46648
2             A
3            10
4    ,Ggg....,,
5    HJJHIIGJEF
Name: 40713, dtype: object
0           LG1
1         46648
2             A
3            10
4    ,Ggg....,,
5    HJJHIIGJEF
Name: 40713, dtype: object
0           LG1
1         46649
2             C
3            10
4    ,.aa....,,
5    JJIHJIHJHF
Name: 40714, dtype: object
0           LG1
1         46649
2             C
3            10
4    ,.aa....,,
5    JJIHJIHJHF
Name: 40714, dtype: object
0           LG1
1         46649
2             C
3            10
4    ,.aa....,,
5    JJIHJIHJHF
Name: 40714, dtype: object
0           LG1
1         46649
2             C
3            10
4    ,.aa....,,
5    JJIHJIHJHF
Name: 40714, dtype: object
0           LG1
1         46649
2             C
3            10
4    ,.aa....,,
5    JJIHJIHJHF
Name: 40714, dtype: object
0           LG1
1         46649
2             C
3            10
4    ,.aa....,,
5    JJIHJIHJHF
Name: 40714, dtype: object
0           LG1
1         46649
2             C
3            10
4    ,.aa....,,
5    JJIHJIHJHF
Name: 40714, dtype: object
0           LG1
1         46649
2             C
3            10
4    ,.aa....,,
5    JJIHJIHJHF
Name: 40714, dtype: object
0           LG1
1         46649
2             C
3            10
4    ,.aa....,,
5    JJIHJIHJHF
Name: 40714, dtype: object
0           LG1
1         46649
2             C
3            10
4    ,.aa....,,
5    JJIHJIHJHF
Name: 40714, dtype: object
0           LG1
1         46791
2             T
3             9
4    ,$.,,.,,,,
5     >EFF@IH/E
Name: 40856, dtype: object
0           LG1
1         46791
2             T
3             9
4    ,$.,,.,,,,
5     >EFF@IH/E
Name: 40856, dtype: object
0           LG1
1         46791
2             T
3             9
4    ,$.,,.,,,,
5     >EFF@IH/E
Name: 40856, dtype: object
0           LG1
1         46791
2             T
3             9
4    ,$.,,.,,,,
5     >EFF@IH/E
Name: 40856, dtype: object
0           LG1
1         46791
2             T
3             9
4    ,$.,,.,,,,
5     >EFF@IH/E
Name: 40856, dtype: object
0           LG1
1         46791
2             T
3             9
4    ,$.,,.,,,,
5     >EFF@IH/E
Name: 40856, dtype: object
0           LG1
1         46791
2             T
3             9
4    ,$.,,.,,,,
5     >EFF@IH/E
Name: 40856, dtype: object
0           LG1
1         46844
2             A
3             8
4    ,T..,,,^2,
5      2?JFI>CC
Name: 40909, dtype: object
0           LG1
1         46844
2             A
3             8
4    ,T..,,,^2,
5      2?JFI>CC
Name: 40909, dtype: object
0           LG1
1         46844
2             A
3             8
4    ,T..,,,^2,
5      2?JFI>CC
Name: 40909, dtype: object
0           LG1
1         46844
2             A
3             8
4    ,T..,,,^2,
5      2?JFI>CC
Name: 40909, dtype: object
0           LG1
1         46844
2             A
3             8
4    ,T..,,,^2,
5      2?JFI>CC
Name: 40909, dtype: object
0           LG1
1         46844
2             A
3             8
4    ,T..,,,^2,
5      2?JFI>CC
Name: 40909, dtype: object
0           LG1
1         46865
2             G
3            10
4    ..A,,,,...
5    HJDJHJ?GBC
Name: 40930, dtype: object
0           LG1
1         46865
2             G
3            10
4    ..A,,,,...
5    HJDJHJ?GBC
Name: 40930, dtype: object
0           LG1
1         46865
2             G
3            10
4    ..A,,,,...
5    HJDJHJ?GBC
Name: 40930, dtype: object
0           LG1
1         46865
2             G
3            10
4    ..A,,,,...
5    HJDJHJ?GBC
Name: 40930, dtype: object
0           LG1
1         46865
2             G
3            10
4    ..A,,,,...
5    HJDJHJ?GBC
Name: 40930, dtype: object
0           LG1
1         46865
2             G
3            10
4    ..A,,,,...
5    HJDJHJ?GBC
Name: 40930, dtype: object
0           LG1
1         46865
2             G
3            10
4    ..A,,,,...
5    HJDJHJ?GBC
Name: 40930, dtype: object
0           LG1
1         46865
2             G
3            10
4    ..A,,,,...
5    HJDJHJ?GBC
Name: 40930, dtype: object
0           LG1
1         46865
2             G
3            10
4    ..A,,,,...
5    HJDJHJ?GBC
Name: 40930, dtype: object
0           LG1
1         46865
2             G
3            10
4    ..A,,,,...
5    HJDJHJ?GBC
Name: 40930, dtype: object
0           LG1
1         46866
2             G
3            10
4    ...,,,,...
5    EJBJIJ59BC
Name: 40931, dtype: object
0           LG1
1         46866
2             G
3            10
4    ...,,,,...
5    EJBJIJ59BC
Name: 40931, dtype: object
0           LG1
1         46866
2             G
3            10
4    ...,,,,...
5    EJBJIJ59BC
Name: 40931, dtype: object
0           LG1
1         46866
2             G
3            10
4    ...,,,,...
5    EJBJIJ59BC
Name: 40931, dtype: object
0           LG1
1         46866
2             G
3            10
4    ...,,,,...
5    EJBJIJ59BC
Name: 40931, dtype: object
0           LG1
1         46866
2             G
3            10
4    ...,,,,...
5    EJBJIJ59BC
Name: 40931, dtype: object
0           LG1
1         46866
2             G
3            10
4    ...,,,,...
5    EJBJIJ59BC
Name: 40931, dtype: object
0           LG1
1         46866
2             G
3            10
4    ...,,,,...
5    EJBJIJ59BC
Name: 40931, dtype: object
0           LG1
1         46875
2             G
3            10
4    ...,,,....
5    ?HIJ?JFAH@
Name: 40940, dtype: object
0           LG1
1         46875
2             G
3            10
4    ...,,,....
5    ?HIJ?JFAH@
Name: 40940, dtype: object
0           LG1
1         46875
2             G
3            10
4    ...,,,....
5    ?HIJ?JFAH@
Name: 40940, dtype: object
0           LG1
1         46875
2             G
3            10
4    ...,,,....
5    ?HIJ?JFAH@
Name: 40940, dtype: object
0           LG1
1         46875
2             G
3            10
4    ...,,,....
5    ?HIJ?JFAH@
Name: 40940, dtype: object
0           LG1
1         46875
2             G
3            10
4    ...,,,....
5    ?HIJ?JFAH@
Name: 40940, dtype: object
0           LG1
1         46875
2             G
3            10
4    ...,,,....
5    ?HIJ?JFAH@

Name: 40940, dtype: object
0           LG1
1         46875
2             G
3            10
4    ...,,,....
5    ?HIJ?JFAH@
Name: 40940, dtype: object
0           LG1
1         46875
2             G
3            10
4    ...,,,....
5    ?HIJ?JFAH@
Name: 40940, dtype: object
0           LG1
1         46875
2             G
3            10
4    ...,,,....
5    ?HIJ?JFAH@
Name: 40940, dtype: object
0           LG1
1         46876
2             T
3            10
4    ...,,,....
5    7H=JHJIHF@
Name: 40941, dtype: object
0           LG1
1         46876
2             T
3            10
4    ...,,,....
5    7H=JHJIHF@
Name: 40941, dtype: object
0           LG1
1         46876
2             T
3            10
4    ...,,,....
5    7H=JHJIHF@
Name: 40941, dtype: object
0           LG1
1         46876
2             T
3            10
4    ...,,,....
5    7H=JHJIHF@
Name: 40941, dtype: object
0           LG1
1         46876
2             T
3            10
4    ...,,,....
5    7H=JHJIHF@
Name: 40941, dtype: object
0           LG1
1         46876
2             T
3            10
4    ...,,,....
5    7H=JHJIHF@
Name: 40941, dtype: object
0           LG1
1         46876
2             T
3            10
4    ...,,,....
5    7H=JHJIHF@
Name: 40941, dtype: object
0           LG1
1         46876
2             T
3            10
4    ...,,,....
5    7H=JHJIHF@
Name: 40941, dtype: object
0           LG1
1         46877
2             T
3            10
4    ...,,,....
5    @FFJGJIHHD
Name: 40942, dtype: object
0           LG1
1         46877
2             T
3            10
4    ...,,,....
5    @FFJGJIHHD
Name: 40942, dtype: object
0           LG1
1         46877
2             T
3            10
4    ...,,,....
5    @FFJGJIHHD
Name: 40942, dtype: object
0           LG1
1         46877
2             T
3            10
4    ...,,,....
5    @FFJGJIHHD
Name: 40942, dtype: object
0           LG1
1         46877
2             T
3            10
4    ...,,,....
5    @FFJGJIHHD
Name: 40942, dtype: object
0           LG1
1         46877
2             T
3            10
4    ...,,,....
5    @FFJGJIHHD
Name: 40942, dtype: object
0           LG1
1         46877
2             T
3            10
4    ...,,,....
5    @FFJGJIHHD
Name: 40942, dtype: object
0           LG1
1         46877
2             T
3            10
4    ...,,,....
5    @FFJGJIHHD
Name: 40942, dtype: object
0           LG1
1         46877
2             T
3            10
4    ...,,,....
5    @FFJGJIHHD
Name: 40942, dtype: object
0           LG1
1         46877
2             T
3            10
4    ...,,,....
5    @FFJGJIHHD
Name: 40942, dtype: object
0           LG1
1         46878
2             G
3            10
4    ..A,,,....
5    DFFJDJ>:ID
Name: 40943, dtype: object
0           LG1
1         46878
2             G
3            10
4    ..A,,,....
5    DFFJDJ>:ID
Name: 40943, dtype: object
0           LG1
1         46878
2             G
3            10
4    ..A,,,....
5    DFFJDJ>:ID
Name: 40943, dtype: object
0           LG1
1         46878
2             G
3            10
4    ..A,,,....
5    DFFJDJ>:ID
Name: 40943, dtype: object
0           LG1
1         46878
2             G
3            10
4    ..A,,,....
5    DFFJDJ>:ID
Name: 40943, dtype: object
0           LG1
1         46878
2             G
3            10
4    ..A,,,....
5    DFFJDJ>:ID
Name: 40943, dtype: object
0           LG1
1         46878
2             G
3            10
4    ..A,,,....
5    DFFJDJ>:ID
Name: 40943, dtype: object
0           LG1
1         46878
2             G
3            10
4    ..A,,,....
5    DFFJDJ>:ID
Name: 40943, dtype: object
0           LG1
1         46879
2             A
3            10
4    ...,,,....
5    CFHJFJ@3JD
Name: 40944, dtype: object
0           LG1
1         46879
2             A
3            10
4    ...,,,....
5    CFHJFJ@3JD
Name: 40944, dtype: object
0           LG1
1         46879
2             A
3            10
4    ...,,,....
5    CFHJFJ@3JD
Name: 40944, dtype: object
0           LG1
1         46879
2             A
3            10
4    ...,,,....
5    CFHJFJ@3JD
Name: 40944, dtype: object
0           LG1
1         46879
2             A
3            10
4    ...,,,....
5    CFHJFJ@3JD
Name: 40944, dtype: object
0           LG1
1         46879
2             A
3            10
4    ...,,,....
5    CFHJFJ@3JD
Name: 40944, dtype: object
0           LG1
1         46879
2             A
3            10
4    ...,,,....
5    CFHJFJ@3JD
Name: 40944, dtype: object
0           LG1
1         46879
2             A
3            10
4    ...,,,....
5    CFHJFJ@3JD
Name: 40944, dtype: object
0           LG1
1         46879
2             A
3            10
4    ...,,,....
5    CFHJFJ@3JD
Name: 40944, dtype: object
0           LG1
1         46923
2             A
3            10
4    ,,.....,.,
5    FJIJ<JJGJB
Name: 40988, dtype: object
0           LG1
1         46923
2             A
3            10
4    ,,.....,.,
5    FJIJ<JJGJB
Name: 40988, dtype: object
0           LG1
1         46923
2             A
3            10
4    ,,.....,.,
5    FJIJ<JJGJB
Name: 40988, dtype: object
0           LG1
1         46923
2             A
3            10
4    ,,.....,.,
5    FJIJ<JJGJB
Name: 40988, dtype: object
0           LG1
1         46923
2             A
3            10
4    ,,.....,.,
5    FJIJ<JJGJB
Name: 40988, dtype: object
0           LG1
1         46923
2             A
3            10
4    ,,.....,.,
5    FJIJ<JJGJB
Name: 40988, dtype: object
0           LG1
1         46923
2             A
3            10
4    ,,.....,.,
5    FJIJ<JJGJB
Name: 40988, dtype: object
0           LG1
1         46923
2             A
3            10
4    ,,.....,.,
5    FJIJ<JJGJB
Name: 40988, dtype: object
0           LG1
1         46923
2             A
3            10
4    ,,.....,.,
5    FJIJ<JJGJB
Name: 40988, dtype: object
0           LG1
1         46955
2             C
3            10
4    ...Tt.tTtT
5    F>EHFJCIIJ
Name: 41020, dtype: object
0           LG1
1         46955
2             C
3            10
4    ...Tt.tTtT
5    F>EHFJCIIJ
Name: 41020, dtype: object
0           LG1
1         46955
2             C
3            10
4    ...Tt.tTtT
5    F>EHFJCIIJ
Name: 41020, dtype: object
0           LG1
1         46955
2             C
3            10
4    ...Tt.tTtT
5    F>EHFJCIIJ
Name: 41020, dtype: object
0           LG1
1         46955
2             C
3            10
4    ...Tt.tTtT
5    F>EHFJCIIJ
Name: 41020, dtype: object
0           LG1
1         46955
2             C
3            10
4    ...Tt.tTtT
5    F>EHFJCIIJ
Name: 41020, dtype: object
0           LG1
1         46955
2             C
3            10
4    ...Tt.tTtT
5    F>EHFJCIIJ
Name: 41020, dtype: object
0           LG1
1         46955
2             C
3            10
4    ...Tt.tTtT
5    F>EHFJCIIJ
Name: 41020, dtype: object
0           LG1
1         46955
2             C
3            10
4    ...Tt.tTtT
5    F>EHFJCIIJ
Name: 41020, dtype: object
0           LG1
1         46956
2             C
3            10
4    .T..,.,.,.
5    EA>HCJ1GIJ
Name: 41021, dtype: object
0           LG1
1         46956
2             C
3            10
4    .T..,.,.,.
5    EA>HCJ1GIJ
Name: 41021, dtype: object
0           LG1
1         46956
2             C
3            10
4    .T..,.,.,.
5    EA>HCJ1GIJ
Name: 41021, dtype: object
0           LG1
1         46956
2             C
3            10
4    .T..,.,.,.
5    EA>HCJ1GIJ
Name: 41021, dtype: object
0           LG1
1         46956
2             C
3            10
4    .T..,.,.,.
5    EA>HCJ1GIJ
Name: 41021, dtype: object
0           LG1
1         46956
2             C
3            10
4    .T..,.,.,.
5    EA>HCJ1GIJ
Name: 41021, dtype: object
0           LG1
1         46956
2             C
3            10
4    .T..,.,.,.
5    EA>HCJ1GIJ
Name: 41021, dtype: object
0           LG1
1         46956
2             C
3            10
4    .T..,.,.,.
5    EA>HCJ1GIJ
Name: 41021, dtype: object
0           LG1
1         46957
2             A
3            10
4    ....,.,.,.
5    E>CH?G1EIJ
Name: 41022, dtype: object
0           LG1
1         46957
2             A
3            10
4    ....,.,.,.
5    E>CH?G1EIJ
Name: 41022, dtype: object
0           LG1
1         46957
2             A
3            10
4    ....,.,.,.
5    E>CH?G1EIJ
Name: 41022, dtype: object
0           LG1
1         46957
2             A
3            10
4    ....,.,.,.
5    E>CH?G1EIJ
Name: 41022, dtype: object
0           LG1
1         46957
2             A
3            10
4    ....,.,.,.
5    E>CH?G1EIJ
Name: 41022, dtype: object
0           LG1
1         46957
2             A
3            10
4    ....,.,.,.
5    E>CH?G1EIJ
Name: 41022, dtype: object
0           LG1
1         46957
2             A
3            10
4    ....,.,.,.
5    E>CH?G1EIJ
Name: 41022, dtype: object
0           LG1
1         46957
2             A
3            10
4    ....,.,.,.
5    E>CH?G1EIJ
Name: 41022, dtype: object
0           LG1
1         46958
2             C
3            10
4    ....,.,.,.
5    EEHFEI8HJI
Name: 41023, dtype: object
0           LG1
1         46958
2             C
3            10
4    ....,.,.,.
5    EEHFEI8HJI
Name: 41023, dtype: object
0           LG1
1         46958
2             C
3            10
4    ....,.,.,.
5    EEHFEI8HJI
Name: 41023, dtype: object
0           LG1
1         46958
2             C
3            10
4    ....,.,.,.
5    EEHFEI8HJI
Name: 41023, dtype: object
0           LG1
1         46958
2             C
3            10
4    ....,.,.,.
5    EEHFEI8HJI
Name: 41023, dtype: object
0           LG1
1         46958
2             C
3            10
4    ....,.,.,.
5    EEHFEI8HJI
Name: 41023, dtype: object
0           LG1
1         46958
2             C
3            10
4    ....,.,.,.
5    EEHFEI8HJI
Name: 41023, dtype: object
0           LG1
1         46958
2             C
3            10
4    ....,.,.,.
5    EEHFEI8HJI
Name: 41023, dtype: object
0           LG1
1         46958
2             C
3            10
4    ....,.,.,.
5    EEHFEI8HJI
Name: 41023, dtype: object
0           LG1
1         46959
2             G
3            10
4    ....a.,.,.
5    CCFFBJ<CJJ
Name: 41024, dtype: object
0           LG1
1         46959
2             G
3            10
4    ....a.,.,.
5    CCFFBJ<CJJ
Name: 41024, dtype: object
0           LG1
1         46959
2             G
3            10
4    ....a.,.,.
5    CCFFBJ<CJJ
Name: 41024, dtype: object
0           LG1
1         46959
2             G
3            10
4    ....a.,.,.
5    CCFFBJ<CJJ
Name: 41024, dtype: object
0           LG1
1         46959
2             G
3            10
4    ....a.,.,.
5    CCFFBJ<CJJ
Name: 41024, dtype: object
0           LG1
1         46959
2             G
3            10
4    ....a.,.,.
5    CCFFBJ<CJJ
Name: 41024, dtype: object
0           LG1
1         46959
2             G
3            10
4    ....a.,.,.
5    CCFFBJ<CJJ
Name: 41024, dtype: object
0           LG1
1         46959
2             G
3            10
4    ....a.,.,.
5    CCFFBJ<CJJ
Name: 41024, dtype: object
0           LG1
1         46959
2             G
3            10
4    ....a.,.,.
5    CCFFBJ<CJJ
Name: 41024, dtype: object
0           LG1
1         46961
2             G
3            10
4    ....,..,..
5    DDDBEJIIE>
Name: 41026, dtype: object
0           LG1
1         46961
2             G
3            10
4    ....,..,..
5    DDDBEJIIE>
Name: 41026, dtype: object
0           LG1
1         46961
2             G
3            10
4    ....,..,..
5    DDDBEJIIE>
Name: 41026, dtype: object
0           LG1
1         46961
2             G
3            10
4    ....,..,..
5    DDDBEJIIE>
Name: 41026, dtype: object
0           LG1
1         46961
2             G
3            10
4    ....,..,..
5    DDDBEJIIE>
Name: 41026, dtype: object
0           LG1
1         46961
2             G
3            10
4    ....,..,..
5    DDDBEJIIE>
Name: 41026, dtype: object
0           LG1
1         46961
2             G
3            10
4    ....,..,..
5    DDDBEJIIE>
Name: 41026, dtype: object
0           LG1
1         46961
2             G
3            10
4    ....,..,..
5    DDDBEJIIE>
Name: 41026, dtype: object
0           LG1
1         46961
2             G
3            10
4    ....,..,..
5    DDDBEJIIE>
Name: 41026, dtype: object
0           LG1
1         46965
2             T
3            10
4    ...,.,.,..
5    CDDFJFIJEF
Name: 41030, dtype: object
0           LG1
1         46965
2             T
3            10
4    ...,.,.,..
5    CDDFJFIJEF
Name: 41030, dtype: object
0           LG1
1         46965
2             T
3            10
4    ...,.,.,..
5    CDDFJFIJEF
Name: 41030, dtype: object
0           LG1
1         46965
2             T
3            10
4    ...,.,.,..
5    CDDFJFIJEF
Name: 41030, dtype: object
0           LG1
1         46965
2             T
3            10
4    ...,.,.,..
5    CDDFJFIJEF
Name: 41030, dtype: object
0           LG1
1         46965
2             T
3            10
4    ...,.,.,..
5    CDDFJFIJEF
Name: 41030, dtype: object
0           LG1
1         46965
2             T
3            10
4    ...,.,.,..
5    CDDFJFIJEF
Name: 41030, dtype: object
0           LG1
1         46965
2             T
3            10
4    ...,.,.,..
5    CDDFJFIJEF
Name: 41030, dtype: object
0           LG1
1         46965
2             T
3            10
4    ...,.,.,..
5    CDDFJFIJEF
Name: 41030, dtype: object
0           LG1
1         46965
2             T
3            10
4    ...,.,.,..
5    CDDFJFIJEF
Name: 41030, dtype: object
0           LG1
1         46966
2             A
3            10
4    ...,.,.,..
5    CDDAA?IJDF
Name: 41031, dtype: object
0           LG1
1         46966
2             A
3            10
4    ...,.,.,..
5    CDDAA?IJDF
Name: 41031, dtype: object
0           LG1
1         46966
2             A
3            10
4    ...,.,.,..
5    CDDAA?IJDF
Name: 41031, dtype: object
0           LG1
1         46966
2             A
3            10
4    ...,.,.,..
5    CDDAA?IJDF
Name: 41031, dtype: object
0           LG1
1         46966
2             A
3            10
4    ...,.,.,..
5    CDDAA?IJDF
Name: 41031, dtype: object
0           LG1
1         46966
2             A
3            10
4    ...,.,.,..
5    CDDAA?IJDF
Name: 41031, dtype: object
0           LG1
1         46966
2             A
3            10
4    ...,.,.,..
5    CDDAA?IJDF
Name: 41031, dtype: object
0           LG1
1         46966
2             A
3            10
4    ...,.,.,..
5    CDDAA?IJDF
Name: 41031, dtype: object
0           LG1
1         46966
2             A
3            10
4    ...,.,.,..
5    CDDAA?IJDF
Name: 41031, dtype: object
0           LG1
1         46966
2             A
3            10
4    ...,.,.,..
5    CDDAA?IJDF
Name: 41031, dtype: object

0           LG1
1         46968
2             A
3             9
4    ..$,.,.,..
5     CDBHHIJHH
Name: 41033, dtype: object
0           LG1
1         46968
2             A
3             9
4    ..$,.,.,..
5     CDBHHIJHH
Name: 41033, dtype: object
0           LG1
1         46968
2             A
3             9
4    ..$,.,.,..
5     CDBHHIJHH
Name: 41033, dtype: object
0           LG1
1         46968
2             A
3             9
4    ..$,.,.,..
5     CDBHHIJHH
Name: 41033, dtype: object
0           LG1
1         46968
2             A
3             9
4    ..$,.,.,..
5     CDBHHIJHH
Name: 41033, dtype: object
0           LG1
1         46968
2             A
3             9
4    ..$,.,.,..
5     CDBHHIJHH
Name: 41033, dtype: object
0           LG1
1         46968
2             A
3             9
4    ..$,.,.,..
5     CDBHHIJHH
Name: 41033, dtype: object
0           LG1
1         46968
2             A
3             9
4    ..$,.,.,..
5     CDBHHIJHH
Name: 41033, dtype: object
0           LG1
1         46968
2             A
3             9
4    ..$,.,.,..
5     CDBHHIJHH
Name: 41033, dtype: object
0           LG1
1         46982
2             A
3             8
4    .,.,...^2,
5      E:GGE3H/
Name: 41047, dtype: object
0           LG1
1         46982
2             A
3             8
4    .,.,...^2,
5      E:GGE3H/
Name: 41047, dtype: object
0           LG1
1         46982
2             A
3             8
4    .,.,...^2,
5      E:GGE3H/
Name: 41047, dtype: object
0           LG1
1         46982
2             A
3             8
4    .,.,...^2,
5      E:GGE3H/
Name: 41047, dtype: object
0           LG1
1         46982
2             A
3             8
4    .,.,...^2,
5      E:GGE3H/
Name: 41047, dtype: object
0           LG1
1         47015
2             G
3            10
4    .,...,,.T.
5    DHC0IJ=DFH
Name: 41080, dtype: object
0           LG1
1         47015
2             G
3            10
4    .,...,,.T.
5    DHC0IJ=DFH
Name: 41080, dtype: object
0           LG1
1         47015
2             G
3            10
4    .,...,,.T.
5    DHC0IJ=DFH
Name: 41080, dtype: object
0           LG1
1         47015
2             G
3            10
4    .,...,,.T.
5    DHC0IJ=DFH
Name: 41080, dtype: object
0           LG1
1         47015
2             G
3            10
4    .,...,,.T.
5    DHC0IJ=DFH
Name: 41080, dtype: object
0           LG1
1         47015
2             G
3            10
4    .,...,,.T.
5    DHC0IJ=DFH
Name: 41080, dtype: object
0           LG1
1         47015
2             G
3            10
4    .,...,,.T.
5    DHC0IJ=DFH
Name: 41080, dtype: object
0           LG1
1         47015
2             G
3            10
4    .,...,,.T.
5    DHC0IJ=DFH
Name: 41080, dtype: object
0           LG1
1         47016
2             G
3            10
4    .,...,t.A.
5    DHC?JI=;GF
Name: 41081, dtype: object
0           LG1
1         47016
2             G
3            10
4    .,...,t.A.
5    DHC?JI=;GF
Name: 41081, dtype: object
0           LG1
1         47016
2             G
3            10
4    .,...,t.A.
5    DHC?JI=;GF
Name: 41081, dtype: object
0           LG1
1         47016
2             G
3            10
4    .,...,t.A.
5    DHC?JI=;GF
Name: 41081, dtype: object
0           LG1
1         47016
2             G
3            10
4    .,...,t.A.
5    DHC?JI=;GF
Name: 41081, dtype: object
0           LG1
1         47016
2             G
3            10
4    .,...,t.A.
5    DHC?JI=;GF
Name: 41081, dtype: object
0           LG1
1         47016
2             G
3            10
4    .,...,t.A.
5    DHC?JI=;GF
Name: 41081, dtype: object
0           LG1
1         47016
2             G
3            10
4    .,...,t.A.
5    DHC?JI=;GF
Name: 41081, dtype: object
0           LG1
1         47017
2             T
3            10
4    .,...,,...
5    0H@=FI=<G@
Name: 41082, dtype: object
0           LG1
1         47017
2             T
3            10
4    .,...,,...
5    0H@=FI=<G@
Name: 41082, dtype: object
0           LG1
1         47017
2             T
3            10
4    .,...,,...
5    0H@=FI=<G@
Name: 41082, dtype: object
0           LG1
1         47017
2             T
3            10
4    .,...,,...
5    0H@=FI=<G@
Name: 41082, dtype: object
0           LG1
1         47017
2             T
3            10
4    .,...,,...
5    0H@=FI=<G@
Name: 41082, dtype: object
0           LG1
1         47017
2             T
3            10
4    .,...,,...
5    0H@=FI=<G@
Name: 41082, dtype: object
0           LG1
1         47051
2             T
3             9
4    .,...$,,,,
5     HIEI@FHBC
Name: 41116, dtype: object
0           LG1
1         47051
2             T
3             9
4    .,...$,,,,
5     HIEI@FHBC
Name: 41116, dtype: object
0           LG1
1         47051
2             T
3             9
4    .,...$,,,,
5     HIEI@FHBC
Name: 41116, dtype: object
0           LG1
1         47051
2             T
3             9
4    .,...$,,,,
5     HIEI@FHBC
Name: 41116, dtype: object
0           LG1
1         47051
2             T
3             9
4    .,...$,,,,
5     HIEI@FHBC
Name: 41116, dtype: object
0           LG1
1         47051
2             T
3             9
4    .,...$,,,,
5     HIEI@FHBC
Name: 41116, dtype: object
0           LG1
1         47051
2             T
3             9
4    .,...$,,,,
5     HIEI@FHBC
Name: 41116, dtype: object
0           LG1
1         47051
2             T
3             9
4    .,...$,,,,
5     HIEI@FHBC
Name: 41116, dtype: object
0           LG1
1         47051
2             T
3             9
4    .,...$,,,,
5     HIEI@FHBC
Name: 41116, dtype: object
0           LG1
1         47061
2             T
3             8
4    .,.,,,,^0,
5      EIBIJ;3E
Name: 41126, dtype: object
0           LG1
1         47061
2             T
3             8
4    .,.,,,,^0,
5      EIBIJ;3E
Name: 41126, dtype: object
0           LG1
1         47061
2             T
3             8
4    .,.,,,,^0,
5      EIBIJ;3E
Name: 41126, dtype: object
0           LG1
1         47061
2             T
3             8
4    .,.,,,,^0,
5      EIBIJ;3E
Name: 41126, dtype: object
0           LG1
1         47061
2             T
3             8
4    .,.,,,,^0,
5      EIBIJ;3E
Name: 41126, dtype: object
0           LG1
1         47061
2             T
3             8
4    .,.,,,,^0,
5      EIBIJ;3E
Name: 41126, dtype: object
0           LG1
1         47090
2             C
3             8
4    aa,,,.,^0.
5      IJGIIF@C
Name: 41155, dtype: object
0           LG1
1         47090
2             C
3             8
4    aa,,,.,^0.
5      IJGIIF@C
Name: 41155, dtype: object
0           LG1
1         47090
2             C
3             8
4    aa,,,.,^0.
5      IJGIIF@C
Name: 41155, dtype: object
0           LG1
1         47090
2             C
3             8
4    aa,,,.,^0.
5      IJGIIF@C
Name: 41155, dtype: object
0           LG1
1         47090
2             C
3             8
4    aa,,,.,^0.
5      IJGIIF@C
Name: 41155, dtype: object
0           LG1
1         47090
2             C
3             8
4    aa,,,.,^0.
5      IJGIIF@C
Name: 41155, dtype: object
0           LG1
1         47090
2             C
3             8
4    aa,,,.,^0.
5      IJGIIF@C
Name: 41155, dtype: object
0           LG1
1         47090
2             C
3             8
4    aa,,,.,^0.
5      IJGIIF@C
Name: 41155, dtype: object
0           LG1
1         47206
2             T
3            10
4    ..,,,,,.,,
5    DC@GDE>HDG
Name: 41271, dtype: object
0           LG1
1         47206
2             T
3            10
4    ..,,,,,.,,
5    DC@GDE>HDG
Name: 41271, dtype: object
0           LG1
1         47206
2             T
3            10
4    ..,,,,,.,,
5    DC@GDE>HDG
Name: 41271, dtype: object
0           LG1
1         47206
2             T
3            10
4    ..,,,,,.,,
5    DC@GDE>HDG
Name: 41271, dtype: object
0           LG1
1         47206
2             T
3            10
4    ..,,,,,.,,
5    DC@GDE>HDG
Name: 41271, dtype: object
0           LG1
1         47206
2             T
3            10
4    ..,,,,,.,,
5    DC@GDE>HDG
Name: 41271, dtype: object
0           LG1
1         47206
2             T
3            10
4    ..,,,,,.,,
5    DC@GDE>HDG
Name: 41271, dtype: object
0           LG1
1         47206
2             T
3            10
4    ..,,,,,.,,
5    DC@GDE>HDG
Name: 41271, dtype: object
0           LG1
1         47206
2             T
3            10
4    ..,,,,,.,,
5    DC@GDE>HDG
Name: 41271, dtype: object
0           LG1
1         47207
2             A
3            10
4    ..,,,,,.,,
5    DCFJJE;HEC
Name: 41272, dtype: object
0           LG1
1         47207
2             A
3            10
4    ..,,,,,.,,
5    DCFJJE;HEC
Name: 41272, dtype: object
0           LG1
1         47207
2             A
3            10
4    ..,,,,,.,,
5    DCFJJE;HEC
Name: 41272, dtype: object
0           LG1
1         47207
2             A
3            10
4    ..,,,,,.,,
5    DCFJJE;HEC
Name: 41272, dtype: object
0           LG1
1         47207
2             A
3            10
4    ..,,,,,.,,
5    DCFJJE;HEC
Name: 41272, dtype: object
0           LG1
1         47207
2             A
3            10
4    ..,,,,,.,,
5    DCFJJE;HEC
Name: 41272, dtype: object
0           LG1
1         47207
2             A
3            10
4    ..,,,,,.,,
5    DCFJJE;HEC
Name: 41272, dtype: object
0           LG1
1         47207
2             A
3            10
4    ..,,,,,.,,
5    DCFJJE;HEC
Name: 41272, dtype: object
0           LG1
1         47207
2             A
3            10
4    ..,,,,,.,,
5    DCFJJE;HEC
Name: 41272, dtype: object
0           LG1
1         47208
2             A
3            10
4    ..,,,,,.,,
5    DCFIHEEJD8
Name: 41273, dtype: object
0           LG1
1         47208
2             A
3            10
4    ..,,,,,.,,
5    DCFIHEEJD8
Name: 41273, dtype: object
0           LG1
1         47208
2             A
3            10
4    ..,,,,,.,,
5    DCFIHEEJD8
Name: 41273, dtype: object
0           LG1
1         47208
2             A
3            10
4    ..,,,,,.,,
5    DCFIHEEJD8
Name: 41273, dtype: object
0           LG1
1         47208
2             A
3            10
4    ..,,,,,.,,
5    DCFIHEEJD8
Name: 41273, dtype: object
0           LG1
1         47208
2             A
3            10
4    ..,,,,,.,,
5    DCFIHEEJD8
Name: 41273, dtype: object
0           LG1
1         47208
2             A
3            10
4    ..,,,,,.,,
5    DCFIHEEJD8
Name: 41273, dtype: object
0           LG1
1         47208
2             A
3            10
4    ..,,,,,.,,
5    DCFIHEEJD8
Name: 41273, dtype: object
0           LG1
1         47208
2             A
3            10
4    ..,,,,,.,,
5    DCFIHEEJD8
Name: 41273, dtype: object
0           LG1
1         47210
2             T
3             9
4    .$.,,,,,.,
5     >3FHFF>JC
Name: 41275, dtype: object
0           LG1
1         47210
2             T
3             9
4    .$.,,,,,.,
5     >3FHFF>JC
Name: 41275, dtype: object
0           LG1
1         47210
2             T
3             9
4    .$.,,,,,.,
5     >3FHFF>JC
Name: 41275, dtype: object
0           LG1
1         47210
2             T
3             9
4    .$.,,,,,.,
5     >3FHFF>JC
Name: 41275, dtype: object
0           LG1
1         47210
2             T
3             9
4    .$.,,,,,.,
5     >3FHFF>JC
Name: 41275, dtype: object
0           LG1
1         47210
2             T
3             9
4    .$.,,,,,.,
5     >3FHFF>JC
Name: 41275, dtype: object
0           LG1
1         47217
2             A
3            10
4    ,,,,,.,,..
5    DEGHEJF/F?
Name: 41282, dtype: object
0           LG1
1         47217
2             A
3            10
4    ,,,,,.,,..
5    DEGHEJF/F?
Name: 41282, dtype: object
0           LG1
1         47217
2             A
3            10
4    ,,,,,.,,..
5    DEGHEJF/F?
Name: 41282, dtype: object
0           LG1
1         47217
2             A
3            10
4    ,,,,,.,,..
5    DEGHEJF/F?
Name: 41282, dtype: object
0           LG1
1         47217
2             A
3            10
4    ,,,,,.,,..
5    DEGHEJF/F?
Name: 41282, dtype: object
0           LG1
1         47217
2             A
3            10
4    ,,,,,.,,..
5    DEGHEJF/F?
Name: 41282, dtype: object
0           LG1
1         47217
2             A
3            10
4    ,,,,,.,,..
5    DEGHEJF/F?
Name: 41282, dtype: object
0           LG1
1         47217
2             A
3            10
4    ,,,,,.,,..
5    DEGHEJF/F?
Name: 41282, dtype: object
0           LG1
1         47217
2             A
3            10
4    ,,,,,.,,..
5    DEGHEJF/F?
Name: 41282, dtype: object
0           LG1
1         47232
2             T
3            10
4    ,,,,.,,...
5    GGJHJI?JI?
Name: 41297, dtype: object
0           LG1
1         47232
2             T
3            10
4    ,,,,.,,...
5    GGJHJI?JI?
Name: 41297, dtype: object
0           LG1
1         47232
2             T
3            10
4    ,,,,.,,...
5    GGJHJI?JI?
Name: 41297, dtype: object
0           LG1
1         47232
2             T
3            10
4    ,,,,.,,...
5    GGJHJI?JI?
Name: 41297, dtype: object
0           LG1
1         47232
2             T
3            10
4    ,,,,.,,...
5    GGJHJI?JI?
Name: 41297, dtype: object
0           LG1
1         47232
2             T
3            10
4    ,,,,.,,...
5    GGJHJI?JI?
Name: 41297, dtype: object
0           LG1
1         47232
2             T
3            10
4    ,,,,.,,...
5    GGJHJI?JI?
Name: 41297, dtype: object
0           LG1
1         47232
2             T
3            10
4    ,,,,.,,...
5    GGJHJI?JI?
Name: 41297, dtype: object
0           LG1
1         47232
2             T
3            10
4    ,,,,.,,...
5    GGJHJI?JI?
Name: 41297, dtype: object
0           LG1
1         47232
2             T
3            10
4    ,,,,.,,...
5    GGJHJI?JI?
Name: 41297, dtype: object
0           LG1
1         47234
2             A
3            10
4    ,,,,.,,...
5    EHIBIH<JIF
Name: 41299, dtype: object
0           LG1
1         47234
2             A
3            10
4    ,,,,.,,...
5    EHIBIH<JIF
Name: 41299, dtype: object
0           LG1
1         47234
2             A
3            10
4    ,,,,.,,...
5    EHIBIH<JIF
Name: 41299, dtype: object
0           LG1
1         47234
2             A
3            10
4    ,,,,.,,...
5    EHIBIH<JIF
Name: 41299, dtype: object
0           LG1
1         47234
2             A
3            10
4    ,,,,.,,...
5    EHIBIH<JIF
Name: 41299, dtype: object
0           LG1
1         47234
2             A
3            10
4    ,,,,.,,...
5    EHIBIH<JIF
Name: 41299, dtype: object
0           LG1
1         47234
2             A
3            10
4    ,,,,.,,...
5    EHIBIH<JIF
Name: 41299, dtype: object
0           LG1
1         47234
2             A
3            10
4    ,,,,.,,...
5    EHIBIH<JIF
Name: 41299, dtype: object
0           LG1
1         47234
2             A
3            10
4    ,,,,.,,...
5    EHIBIH<JIF

Name: 41299, dtype: object
0           LG1
1         47235
2             C
3            10
4    ,,,g.,,...
5    JBJ?JJ@JIH
Name: 41300, dtype: object
0           LG1
1         47235
2             C
3            10
4    ,,,g.,,...
5    JBJ?JJ@JIH
Name: 41300, dtype: object
0           LG1
1         47235
2             C
3            10
4    ,,,g.,,...
5    JBJ?JJ@JIH
Name: 41300, dtype: object
0           LG1
1         47235
2             C
3            10
4    ,,,g.,,...
5    JBJ?JJ@JIH
Name: 41300, dtype: object
0           LG1
1         47235
2             C
3            10
4    ,,,g.,,...
5    JBJ?JJ@JIH
Name: 41300, dtype: object
0           LG1
1         47235
2             C
3            10
4    ,,,g.,,...
5    JBJ?JJ@JIH
Name: 41300, dtype: object
0           LG1
1         47235
2             C
3            10
4    ,,,g.,,...
5    JBJ?JJ@JIH
Name: 41300, dtype: object
0           LG1
1         47235
2             C
3            10
4    ,,,g.,,...
5    JBJ?JJ@JIH
Name: 41300, dtype: object
0           LG1
1         47235
2             C
3            10
4    ,,,g.,,...
5    JBJ?JJ@JIH
Name: 41300, dtype: object
0           LG1
1         47235
2             C
3            10
4    ,,,g.,,...
5    JBJ?JJ@JIH
Name: 41300, dtype: object
0           LG1
1         47236
2             G
3            10
4    ,,,,Aa,A..
5    GGJ6JJAIJH
Name: 41301, dtype: object
0           LG1
1         47236
2             G
3            10
4    ,,,,Aa,A..
5    GGJ6JJAIJH
Name: 41301, dtype: object
0           LG1
1         47236
2             G
3            10
4    ,,,,Aa,A..
5    GGJ6JJAIJH
Name: 41301, dtype: object
0           LG1
1         47236
2             G
3            10
4    ,,,,Aa,A..
5    GGJ6JJAIJH
Name: 41301, dtype: object
0           LG1
1         47236
2             G
3            10
4    ,,,,Aa,A..
5    GGJ6JJAIJH
Name: 41301, dtype: object
0           LG1
1         47236
2             G
3            10
4    ,,,,Aa,A..
5    GGJ6JJAIJH
Name: 41301, dtype: object
0           LG1
1         47236
2             G
3            10
4    ,,,,Aa,A..
5    GGJ6JJAIJH
Name: 41301, dtype: object
0           LG1
1         47236
2             G
3            10
4    ,,,,Aa,A..
5    GGJ6JJAIJH
Name: 41301, dtype: object
0           LG1
1         47236
2             G
3            10
4    ,,,,Aa,A..
5    GGJ6JJAIJH
Name: 41301, dtype: object
0           LG1
1         47237
2             G
3            10
4    ,,,,.,,...
5    HGJ2JJCIJH
Name: 41302, dtype: object
0           LG1
1         47237
2             G
3            10
4    ,,,,.,,...
5    HGJ2JJCIJH
Name: 41302, dtype: object
0           LG1
1         47237
2             G
3            10
4    ,,,,.,,...
5    HGJ2JJCIJH
Name: 41302, dtype: object
0           LG1
1         47237
2             G
3            10
4    ,,,,.,,...
5    HGJ2JJCIJH
Name: 41302, dtype: object
0           LG1
1         47237
2             G
3            10
4    ,,,,.,,...
5    HGJ2JJCIJH
Name: 41302, dtype: object
0           LG1
1         47237
2             G
3            10
4    ,,,,.,,...
5    HGJ2JJCIJH
Name: 41302, dtype: object
0           LG1
1         47237
2             G
3            10
4    ,,,,.,,...
5    HGJ2JJCIJH
Name: 41302, dtype: object
0           LG1
1         47237
2             G
3            10
4    ,,,,.,,...
5    HGJ2JJCIJH
Name: 41302, dtype: object
0           LG1
1         47237
2             G
3            10
4    ,,,,.,,...
5    HGJ2JJCIJH
Name: 41302, dtype: object
0           LG1
1         47238
2             T
3            10
4    ,,,,.,,...
5    HJJFJJ?JIH
Name: 41303, dtype: object
0           LG1
1         47238
2             T
3            10
4    ,,,,.,,...
5    HJJFJJ?JIH
Name: 41303, dtype: object
0           LG1
1         47238
2             T
3            10
4    ,,,,.,,...
5    HJJFJJ?JIH
Name: 41303, dtype: object
0           LG1
1         47238
2             T
3            10
4    ,,,,.,,...
5    HJJFJJ?JIH
Name: 41303, dtype: object
0           LG1
1         47238
2             T
3            10
4    ,,,,.,,...
5    HJJFJJ?JIH
Name: 41303, dtype: object
0           LG1
1         47238
2             T
3            10
4    ,,,,.,,...
5    HJJFJJ?JIH
Name: 41303, dtype: object
0           LG1
1         47238
2             T
3            10
4    ,,,,.,,...
5    HJJFJJ?JIH
Name: 41303, dtype: object
0           LG1
1         47238
2             T
3            10
4    ,,,,.,,...
5    HJJFJJ?JIH
Name: 41303, dtype: object
0           LG1
1         47238
2             T
3            10
4    ,,,,.,,...
5    HJJFJJ?JIH
Name: 41303, dtype: object
0           LG1
1         47238
2             T
3            10
4    ,,,,.,,...
5    HJJFJJ?JIH
Name: 41303, dtype: object
0           LG1
1         47239
2             T
3            10
4    ,,,,.,,...
5    FJJ9JJHJIH
Name: 41304, dtype: object
0           LG1
1         47239
2             T
3            10
4    ,,,,.,,...
5    FJJ9JJHJIH
Name: 41304, dtype: object
0           LG1
1         47239
2             T
3            10
4    ,,,,.,,...
5    FJJ9JJHJIH
Name: 41304, dtype: object
0           LG1
1         47239
2             T
3            10
4    ,,,,.,,...
5    FJJ9JJHJIH
Name: 41304, dtype: object
0           LG1
1         47239
2             T
3            10
4    ,,,,.,,...
5    FJJ9JJHJIH
Name: 41304, dtype: object
0           LG1
1         47239
2             T
3            10
4    ,,,,.,,...
5    FJJ9JJHJIH
Name: 41304, dtype: object
0           LG1
1         47239
2             T
3            10
4    ,,,,.,,...
5    FJJ9JJHJIH
Name: 41304, dtype: object
0           LG1
1         47239
2             T
3            10
4    ,,,,.,,...
5    FJJ9JJHJIH
Name: 41304, dtype: object
0           LG1
1         47239
2             T
3            10
4    ,,,,.,,...
5    FJJ9JJHJIH
Name: 41304, dtype: object
0           LG1
1         47241
2             G
3            10
4    aa,,A,,...
5    FHJ<JJ<IJ<
Name: 41306, dtype: object
0           LG1
1         47241
2             G
3            10
4    aa,,A,,...
5    FHJ<JJ<IJ<
Name: 41306, dtype: object
0           LG1
1         47241
2             G
3            10
4    aa,,A,,...
5    FHJ<JJ<IJ<
Name: 41306, dtype: object
0           LG1
1         47241
2             G
3            10
4    aa,,A,,...
5    FHJ<JJ<IJ<
Name: 41306, dtype: object
0           LG1
1         47241
2             G
3            10
4    aa,,A,,...
5    FHJ<JJ<IJ<
Name: 41306, dtype: object
0           LG1
1         47241
2             G
3            10
4    aa,,A,,...
5    FHJ<JJ<IJ<
Name: 41306, dtype: object
0           LG1
1         47241
2             G
3            10
4    aa,,A,,...
5    FHJ<JJ<IJ<
Name: 41306, dtype: object
0           LG1
1         47250
2             T
3            10
4    ,,,.,.....
5    FI4JJJIHHF
Name: 41315, dtype: object
0           LG1
1         47250
2             T
3            10
4    ,,,.,.....
5    FI4JJJIHHF
Name: 41315, dtype: object
0           LG1
1         47250
2             T
3            10
4    ,,,.,.....
5    FI4JJJIHHF
Name: 41315, dtype: object
0           LG1
1         47250
2             T
3            10
4    ,,,.,.....
5    FI4JJJIHHF
Name: 41315, dtype: object
0           LG1
1         47250
2             T
3            10
4    ,,,.,.....
5    FI4JJJIHHF
Name: 41315, dtype: object
0           LG1
1         47250
2             T
3            10
4    ,,,.,.....
5    FI4JJJIHHF
Name: 41315, dtype: object
0           LG1
1         47250
2             T
3            10
4    ,,,.,.....
5    FI4JJJIHHF
Name: 41315, dtype: object
0           LG1
1         47250
2             T
3            10
4    ,,,.,.....
5    FI4JJJIHHF
Name: 41315, dtype: object
0           LG1
1         47250
2             T
3            10
4    ,,,.,.....
5    FI4JJJIHHF
Name: 41315, dtype: object
0           LG1
1         47254
2             T
3            10
4    ,,.,,.....
5    JBJI@JIJJH
Name: 41319, dtype: object
0           LG1
1         47254
2             T
3            10
4    ,,.,,.....
5    JBJI@JIJJH
Name: 41319, dtype: object
0           LG1
1         47254
2             T
3            10
4    ,,.,,.....
5    JBJI@JIJJH
Name: 41319, dtype: object
0           LG1
1         47254
2             T
3            10
4    ,,.,,.....
5    JBJI@JIJJH
Name: 41319, dtype: object
0           LG1
1         47254
2             T
3            10
4    ,,.,,.....
5    JBJI@JIJJH
Name: 41319, dtype: object
0           LG1
1         47254
2             T
3            10
4    ,,.,,.....
5    JBJI@JIJJH
Name: 41319, dtype: object
0           LG1
1         47254
2             T
3            10
4    ,,.,,.....
5    JBJI@JIJJH
Name: 41319, dtype: object
0           LG1
1         47254
2             T
3            10
4    ,,.,,.....
5    JBJI@JIJJH
Name: 41319, dtype: object
0           LG1
1         47254
2             T
3            10
4    ,,.,,.....
5    JBJI@JIJJH
Name: 41319, dtype: object
0           LG1
1         47254
2             T
3            10
4    ,,.,,.....
5    JBJI@JIJJH
Name: 41319, dtype: object
0           LG1
1         47256
2             C
3            10
4    ,,.t......
5    JCJJJJJJJC
Name: 41321, dtype: object
0           LG1
1         47256
2             C
3            10
4    ,,.t......
5    JCJJJJJJJC
Name: 41321, dtype: object
0           LG1
1         47256
2             C
3            10
4    ,,.t......
5    JCJJJJJJJC
Name: 41321, dtype: object
0           LG1
1         47256
2             C
3            10
4    ,,.t......
5    JCJJJJJJJC
Name: 41321, dtype: object
0           LG1
1         47256
2             C
3            10
4    ,,.t......
5    JCJJJJJJJC
Name: 41321, dtype: object
0           LG1
1         47256
2             C
3            10
4    ,,.t......
5    JCJJJJJJJC
Name: 41321, dtype: object
0           LG1
1         47256
2             C
3            10
4    ,,.t......
5    JCJJJJJJJC
Name: 41321, dtype: object
0           LG1
1         47256
2             C
3            10
4    ,,.t......
5    JCJJJJJJJC
Name: 41321, dtype: object
0           LG1
1         47256
2             C
3            10
4    ,,.t......
5    JCJJJJJJJC
Name: 41321, dtype: object
0           LG1
1         47256
2             C
3            10
4    ,,.t......
5    JCJJJJJJJC
Name: 41321, dtype: object
0           LG1
1         47257
2             T
3            10
4    ,,.,......
5    J3JJJJJJJC
Name: 41322, dtype: object
0           LG1
1         47257
2             T
3            10
4    ,,.,......
5    J3JJJJJJJC
Name: 41322, dtype: object
0           LG1
1         47257
2             T
3            10
4    ,,.,......
5    J3JJJJJJJC
Name: 41322, dtype: object
0           LG1
1         47257
2             T
3            10
4    ,,.,......
5    J3JJJJJJJC
Name: 41322, dtype: object
0           LG1
1         47257
2             T
3            10
4    ,,.,......
5    J3JJJJJJJC
Name: 41322, dtype: object
0           LG1
1         47257
2             T
3            10
4    ,,.,......
5    J3JJJJJJJC
Name: 41322, dtype: object
0           LG1
1         47257
2             T
3            10
4    ,,.,......
5    J3JJJJJJJC
Name: 41322, dtype: object
0           LG1
1         47257
2             T
3            10
4    ,,.,......
5    J3JJJJJJJC
Name: 41322, dtype: object
0           LG1
1         47257
2             T
3            10
4    ,,.,......
5    J3JJJJJJJC
Name: 41322, dtype: object
0           LG1
1         47258
2             A
3            10
4    ,,.,G.....
5    JGJIJJJJIF
Name: 41323, dtype: object
0           LG1
1         47258
2             A
3            10
4    ,,.,G.....
5    JGJIJJJJIF
Name: 41323, dtype: object
0           LG1
1         47258
2             A
3            10
4    ,,.,G.....
5    JGJIJJJJIF
Name: 41323, dtype: object
0           LG1
1         47258
2             A
3            10
4    ,,.,G.....
5    JGJIJJJJIF
Name: 41323, dtype: object
0           LG1
1         47258
2             A
3            10
4    ,,.,G.....
5    JGJIJJJJIF
Name: 41323, dtype: object
0           LG1
1         47258
2             A
3            10
4    ,,.,G.....
5    JGJIJJJJIF
Name: 41323, dtype: object
0           LG1
1         47258
2             A
3            10
4    ,,.,G.....
5    JGJIJJJJIF
Name: 41323, dtype: object
0           LG1
1         47258
2             A
3            10
4    ,,.,G.....
5    JGJIJJJJIF
Name: 41323, dtype: object
0           LG1
1         47258
2             A
3            10
4    ,,.,G.....
5    JGJIJJJJIF
Name: 41323, dtype: object
0           LG1
1         47258
2             A
3            10
4    ,,.,G.....
5    JGJIJJJJIF
Name: 41323, dtype: object
0           LG1
1         47259
2             G
3            10
4    ,,T,......
5    J?JJJJJJJF
Name: 41324, dtype: object
0           LG1
1         47259
2             G
3            10
4    ,,T,......
5    J?JJJJJJJF
Name: 41324, dtype: object
0           LG1
1         47259
2             G
3            10
4    ,,T,......
5    J?JJJJJJJF
Name: 41324, dtype: object
0           LG1
1         47259
2             G
3            10
4    ,,T,......
5    J?JJJJJJJF
Name: 41324, dtype: object
0           LG1
1         47259
2             G
3            10
4    ,,T,......
5    J?JJJJJJJF
Name: 41324, dtype: object
0           LG1
1         47259
2             G
3            10
4    ,,T,......
5    J?JJJJJJJF
Name: 41324, dtype: object
0           LG1
1         47259
2             G
3            10
4    ,,T,......
5    J?JJJJJJJF
Name: 41324, dtype: object
0           LG1
1         47259
2             G
3            10
4    ,,T,......
5    J?JJJJJJJF
Name: 41324, dtype: object
0           LG1
1         47259
2             G
3            10
4    ,,T,......
5    J?JJJJJJJF
Name: 41324, dtype: object
0           LG1
1         47259
2             G
3            10
4    ,,T,......
5    J?JJJJJJJF
Name: 41324, dtype: object
0           LG1
1         47260
2             A
3            10
4    t,.,......
5    I?IJIJIGJF
Name: 41325, dtype: object
0           LG1
1         47260
2             A
3            10
4    t,.,......
5    I?IJIJIGJF
Name: 41325, dtype: object
0           LG1
1         47260
2             A
3            10
4    t,.,......
5    I?IJIJIGJF
Name: 41325, dtype: object
0           LG1
1         47260
2             A
3            10
4    t,.,......
5    I?IJIJIGJF
Name: 41325, dtype: object
0           LG1
1         47260
2             A
3            10
4    t,.,......
5    I?IJIJIGJF
Name: 41325, dtype: object
0           LG1
1         47260
2             A
3            10
4    t,.,......
5    I?IJIJIGJF
Name: 41325, dtype: object
0           LG1
1         47260
2             A
3            10
4    t,.,......
5    I?IJIJIGJF
Name: 41325, dtype: object
0           LG1
1         47260
2             A
3            10
4    t,.,......
5    I?IJIJIGJF
Name: 41325, dtype: object
0           LG1
1         47260
2             A
3            10
4    t,.,......
5    I?IJIJIGJF
Name: 41325, dtype: object

0           LG1
1         47260
2             A
3            10
4    t,.,......
5    I?IJIJIGJF
Name: 41325, dtype: object
0           LG1
1         47261
2             G
3            10
4    ,,.,......
5    J<JJJJJHJF
Name: 41326, dtype: object
0           LG1
1         47261
2             G
3            10
4    ,,.,......
5    J<JJJJJHJF
Name: 41326, dtype: object
0           LG1
1         47261
2             G
3            10
4    ,,.,......
5    J<JJJJJHJF
Name: 41326, dtype: object
0           LG1
1         47261
2             G
3            10
4    ,,.,......
5    J<JJJJJHJF
Name: 41326, dtype: object
0           LG1
1         47261
2             G
3            10
4    ,,.,......
5    J<JJJJJHJF
Name: 41326, dtype: object
0           LG1
1         47261
2             G
3            10
4    ,,.,......
5    J<JJJJJHJF
Name: 41326, dtype: object
0           LG1
1         47261
2             G
3            10
4    ,,.,......
5    J<JJJJJHJF
Name: 41326, dtype: object
0           LG1
1         47261
2             G
3            10
4    ,,.,......
5    J<JJJJJHJF
Name: 41326, dtype: object
0           LG1
1         47261
2             G
3            10
4    ,,.,......
5    J<JJJJJHJF
Name: 41326, dtype: object
0           LG1
1         47262
2             G
3            10
4    ,,.,A.....
5    J<JJIJJJJF
Name: 41327, dtype: object
0           LG1
1         47262
2             G
3            10
4    ,,.,A.....
5    J<JJIJJJJF
Name: 41327, dtype: object
0           LG1
1         47262
2             G
3            10
4    ,,.,A.....
5    J<JJIJJJJF
Name: 41327, dtype: object
0           LG1
1         47262
2             G
3            10
4    ,,.,A.....
5    J<JJIJJJJF
Name: 41327, dtype: object
0           LG1
1         47262
2             G
3            10
4    ,,.,A.....
5    J<JJIJJJJF
Name: 41327, dtype: object
0           LG1
1         47262
2             G
3            10
4    ,,.,A.....
5    J<JJIJJJJF
Name: 41327, dtype: object
0           LG1
1         47262
2             G
3            10
4    ,,.,A.....
5    J<JJIJJJJF
Name: 41327, dtype: object
0           LG1
1         47262
2             G
3            10
4    ,,.,A.....
5    J<JJIJJJJF
Name: 41327, dtype: object
0           LG1
1         47262
2             G
3            10
4    ,,.,A.....
5    J<JJIJJJJF
Name: 41327, dtype: object
0           LG1
1         47401
2             A
3            10
4    ,..,...T..
5    I;FIIG?FJC
Name: 41466, dtype: object
0           LG1
1         47401
2             A
3            10
4    ,..,...T..
5    I;FIIG?FJC
Name: 41466, dtype: object
0           LG1
1         47401
2             A
3            10
4    ,..,...T..
5    I;FIIG?FJC
Name: 41466, dtype: object
0           LG1
1         47401
2             A
3            10
4    ,..,...T..
5    I;FIIG?FJC
Name: 41466, dtype: object
0           LG1
1         47401
2             A
3            10
4    ,..,...T..
5    I;FIIG?FJC
Name: 41466, dtype: object
0           LG1
1         47401
2             A
3            10
4    ,..,...T..
5    I;FIIG?FJC
Name: 41466, dtype: object
0           LG1
1         47401
2             A
3            10
4    ,..,...T..
5    I;FIIG?FJC
Name: 41466, dtype: object
0           LG1
1         47401
2             A
3            10
4    ,..,...T..
5    I;FIIG?FJC
Name: 41466, dtype: object
0           LG1
1         47401
2             A
3            10
4    ,..,...T..
5    I;FIIG?FJC
Name: 41466, dtype: object
0           LG1
1         47402
2             T
3            10
4    ,..,......
5    IAEIIAFHGF
Name: 41467, dtype: object
0           LG1
1         47402
2             T
3            10
4    ,..,......
5    IAEIIAFHGF
Name: 41467, dtype: object
0           LG1
1         47402
2             T
3            10
4    ,..,......
5    IAEIIAFHGF
Name: 41467, dtype: object
0           LG1
1         47402
2             T
3            10
4    ,..,......
5    IAEIIAFHGF
Name: 41467, dtype: object
0           LG1
1         47402
2             T
3            10
4    ,..,......
5    IAEIIAFHGF
Name: 41467, dtype: object
0           LG1
1         47402
2             T
3            10
4    ,..,......
5    IAEIIAFHGF
Name: 41467, dtype: object
0           LG1
1         47402
2             T
3            10
4    ,..,......
5    IAEIIAFHGF
Name: 41467, dtype: object
0           LG1
1         47402
2             T
3            10
4    ,..,......
5    IAEIIAFHGF
Name: 41467, dtype: object
0           LG1
1         47402
2             T
3            10
4    ,..,......
5    IAEIIAFHGF
Name: 41467, dtype: object
0           LG1
1         47402
2             T
3            10
4    ,..,......
5    IAEIIAFHGF
Name: 41467, dtype: object
0           LG1
1         47404
2             T
3            10
4    ,..,......
5    JBEIJ@AHDF
Name: 41469, dtype: object
0           LG1
1         47404
2             T
3            10
4    ,..,......
5    JBEIJ@AHDF
Name: 41469, dtype: object
0           LG1
1         47404
2             T
3            10
4    ,..,......
5    JBEIJ@AHDF
Name: 41469, dtype: object
0           LG1
1         47404
2             T
3            10
4    ,..,......
5    JBEIJ@AHDF
Name: 41469, dtype: object
0           LG1
1         47404
2             T
3            10
4    ,..,......
5    JBEIJ@AHDF
Name: 41469, dtype: object
0           LG1
1         47404
2             T
3            10
4    ,..,......
5    JBEIJ@AHDF
Name: 41469, dtype: object
0           LG1
1         47404
2             T
3            10
4    ,..,......
5    JBEIJ@AHDF
Name: 41469, dtype: object
0           LG1
1         47404
2             T
3            10
4    ,..,......
5    JBEIJ@AHDF
Name: 41469, dtype: object
0           LG1
1         47404
2             T
3            10
4    ,..,......
5    JBEIJ@AHDF
Name: 41469, dtype: object
0           LG1
1         47404
2             T
3            10
4    ,..,......
5    JBEIJ@AHDF
Name: 41469, dtype: object
0           LG1
1         47417
2             C
3            10
4    ,........,
5    5>EFI<JIID
Name: 41482, dtype: object
0           LG1
1         47417
2             C
3            10
4    ,........,
5    5>EFI<JIID
Name: 41482, dtype: object
0           LG1
1         47417
2             C
3            10
4    ,........,
5    5>EFI<JIID
Name: 41482, dtype: object
0           LG1
1         47417
2             C
3            10
4    ,........,
5    5>EFI<JIID
Name: 41482, dtype: object
0           LG1
1         47417
2             C
3            10
4    ,........,
5    5>EFI<JIID
Name: 41482, dtype: object
0           LG1
1         47417
2             C
3            10
4    ,........,
5    5>EFI<JIID
Name: 41482, dtype: object
0           LG1
1         47417
2             C
3            10
4    ,........,
5    5>EFI<JIID
Name: 41482, dtype: object
0           LG1
1         47419
2             T
3            10
4    CC,..CC.Cc
5    ?D<FHFIJJD
Name: 41484, dtype: object
0           LG1
1         47419
2             T
3            10
4    CC,..CC.Cc
5    ?D<FHFIJJD
Name: 41484, dtype: object
0           LG1
1         47419
2             T
3            10
4    CC,..CC.Cc
5    ?D<FHFIJJD
Name: 41484, dtype: object
0           LG1
1         47419
2             T
3            10
4    CC,..CC.Cc
5    ?D<FHFIJJD
Name: 41484, dtype: object
0           LG1
1         47419
2             T
3            10
4    CC,..CC.Cc
5    ?D<FHFIJJD
Name: 41484, dtype: object
0           LG1
1         47419
2             T
3            10
4    CC,..CC.Cc
5    ?D<FHFIJJD
Name: 41484, dtype: object
0           LG1
1         47419
2             T
3            10
4    CC,..CC.Cc
5    ?D<FHFIJJD
Name: 41484, dtype: object
0           LG1
1         47419
2             T
3            10
4    CC,..CC.Cc
5    ?D<FHFIJJD
Name: 41484, dtype: object
0           LG1
1         47419
2             T
3            10
4    CC,..CC.Cc
5    ?D<FHFIJJD
Name: 41484, dtype: object
0           LG1
1         47423
2             G
3            10
4    .,.T.A.aA,
5    CHGG?JJ?F<
Name: 41488, dtype: object
0           LG1
1         47423
2             G
3            10
4    .,.T.A.aA,
5    CHGG?JJ?F<
Name: 41488, dtype: object
0           LG1
1         47423
2             G
3            10
4    .,.T.A.aA,
5    CHGG?JJ?F<

Name: 41488, dtype: object
0           LG1
1         47423
2             G
3            10
4    .,.T.A.aA,
5    CHGG?JJ?F<
Name: 41488, dtype: object
0           LG1
1         47423
2             G
3            10
4    .,.T.A.aA,
5    CHGG?JJ?F<
Name: 41488, dtype: object
0           LG1
1         47423
2             G
3            10
4    .,.T.A.aA,
5    CHGG?JJ?F<
Name: 41488, dtype: object
0           LG1
1         47423
2             G
3            10
4    .,.T.A.aA,
5    CHGG?JJ?F<
Name: 41488, dtype: object
0           LG1
1         47423
2             G
3            10
4    .,.T.A.aA,
5    CHGG?JJ?F<
Name: 41488, dtype: object
0           LG1
1         47423
2             G
3            10
4    .,.T.A.aA,
5    CHGG?JJ?F<
Name: 41488, dtype: object
0           LG1
1         47773
2             T
3            10
4    ,,,,,,,,,,
5    2FCHIGJIIJ
Name: 41838, dtype: object
0           LG1
1         47773
2             T
3            10
4    ,,,,,,,,,,
5    2FCHIGJIIJ
Name: 41838, dtype: object
0           LG1
1         47773
2             T
3            10
4    ,,,,,,,,,,
5    2FCHIGJIIJ
Name: 41838, dtype: object
0           LG1
1         47773
2             T
3            10
4    ,,,,,,,,,,
5    2FCHIGJIIJ
Name: 41838, dtype: object
0           LG1
1         47773
2             T
3            10
4    ,,,,,,,,,,
5    2FCHIGJIIJ
Name: 41838, dtype: object
0           LG1
1         47773
2             T
3            10
4    ,,,,,,,,,,
5    2FCHIGJIIJ
Name: 41838, dtype: object
0           LG1
1         47773
2             T
3            10
4    ,,,,,,,,,,
5    2FCHIGJIIJ
Name: 41838, dtype: object
0           LG1
1         47773
2             T
3            10
4    ,,,,,,,,,,
5    2FCHIGJIIJ
Name: 41838, dtype: object
0           LG1
1         47773
2             T
3            10
4    ,,,,,,,,,,
5    2FCHIGJIIJ
Name: 41838, dtype: object
0           LG1
1         47774
2             T
3            10
4    ,,,,,,,,,,
5    2CHIJHJIGI
Name: 41839, dtype: object
0           LG1
1         47774
2             T
3            10
4    ,,,,,,,,,,
5    2CHIJHJIGI
Name: 41839, dtype: object
0           LG1
1         47774
2             T
3            10
4    ,,,,,,,,,,
5    2CHIJHJIGI
Name: 41839, dtype: object
0           LG1
1         47774
2             T
3            10
4    ,,,,,,,,,,
5    2CHIJHJIGI
Name: 41839, dtype: object
0           LG1
1         47774
2             T
3            10
4    ,,,,,,,,,,
5    2CHIJHJIGI
Name: 41839, dtype: object
0           LG1
1         47774
2             T
3            10
4    ,,,,,,,,,,
5    2CHIJHJIGI
Name: 41839, dtype: object
0           LG1
1         47774
2             T
3            10
4    ,,,,,,,,,,
5    2CHIJHJIGI
Name: 41839, dtype: object
0           LG1
1         47774
2             T
3            10
4    ,,,,,,,,,,
5    2CHIJHJIGI
Name: 41839, dtype: object
0           LG1
1         47774
2             T
3            10
4    ,,,,,,,,,,
5    2CHIJHJIGI
Name: 41839, dtype: object
0           LG1
1         47775
2             A
3            10
4    ,,,,,,,,,,
5    2@HHJHIHHG
Name: 41840, dtype: object
0           LG1
1         47775
2             A
3            10
4    ,,,,,,,,,,
5    2@HHJHIHHG
Name: 41840, dtype: object
0           LG1
1         47775
2             A
3            10
4    ,,,,,,,,,,
5    2@HHJHIHHG
Name: 41840, dtype: object
0           LG1
1         47775
2             A
3            10
4    ,,,,,,,,,,
5    2@HHJHIHHG
Name: 41840, dtype: object
0           LG1
1         47775
2             A
3            10
4    ,,,,,,,,,,
5    2@HHJHIHHG
Name: 41840, dtype: object
0           LG1
1         47775
2             A
3            10
4    ,,,,,,,,,,
5    2@HHJHIHHG
Name: 41840, dtype: object
0           LG1
1         47775
2             A
3            10
4    ,,,,,,,,,,
5    2@HHJHIHHG
Name: 41840, dtype: object
0           LG1
1         47775
2             A
3            10
4    ,,,,,,,,,,
5    2@HHJHIHHG
Name: 41840, dtype: object
0           LG1
1         47775
2             A
3            10
4    ,,,,,,,,,,
5    2@HHJHIHHG
Name: 41840, dtype: object
0           LG1
1         47794
2             T
3            10
4    ,,,,,,,,,,
5    DJIIAGJG;H
Name: 41859, dtype: object
0           LG1
1         47794
2             T
3            10
4    ,,,,,,,,,,
5    DJIIAGJG;H
Name: 41859, dtype: object
0           LG1
1         47794
2             T
3            10
4    ,,,,,,,,,,
5    DJIIAGJG;H
Name: 41859, dtype: object
0           LG1
1         47794
2             T
3            10
4    ,,,,,,,,,,
5    DJIIAGJG;H
Name: 41859, dtype: object
0           LG1
1         47794
2             T
3            10
4    ,,,,,,,,,,
5    DJIIAGJG;H
Name: 41859, dtype: object
0           LG1
1         47794
2             T
3            10
4    ,,,,,,,,,,
5    DJIIAGJG;H
Name: 41859, dtype: object
0           LG1
1         47794
2             T
3            10
4    ,,,,,,,,,,
5    DJIIAGJG;H
Name: 41859, dtype: object
0           LG1
1         47794
2             T
3            10
4    ,,,,,,,,,,
5    DJIIAGJG;H
Name: 41859, dtype: object
0           LG1
1         47794
2             T
3            10
4    ,,,,,,,,,,
5    DJIIAGJG;H
Name: 41859, dtype: object
0           LG1
1         47795
2             C
3            10
4    tttttttttt
5    HJJGGJIH=H
Name: 41860, dtype: object
0           LG1
1         47795
2             C
3            10
4    tttttttttt
5    HJJGGJIH=H
Name: 41860, dtype: object
0           LG1
1         47795
2             C
3            10
4    tttttttttt
5    HJJGGJIH=H
Name: 41860, dtype: object
0           LG1
1         47795
2             C
3            10
4    tttttttttt
5    HJJGGJIH=H
Name: 41860, dtype: object
0           LG1
1         47795
2             C
3            10
4    tttttttttt
5    HJJGGJIH=H
Name: 41860, dtype: object
0           LG1
1         47795
2             C
3            10
4    tttttttttt
5    HJJGGJIH=H
Name: 41860, dtype: object
0           LG1
1         47795
2             C
3            10
4    tttttttttt
5    HJJGGJIH=H
Name: 41860, dtype: object
0           LG1
1         47795
2             C
3            10
4    tttttttttt
5    HJJGGJIH=H
Name: 41860, dtype: object
0           LG1
1         47795
2             C
3            10
4    tttttttttt
5    HJJGGJIH=H
Name: 41860, dtype: object
0           LG1
1         47796
2             T
3            10
4    ,,,,,,,,,a
5    HGJJHJHH;H
Name: 41861, dtype: object
0           LG1
1         47796
2             T
3            10
4    ,,,,,,,,,a
5    HGJJHJHH;H
Name: 41861, dtype: object
0           LG1
1         47796
2             T
3            10
4    ,,,,,,,,,a
5    HGJJHJHH;H
Name: 41861, dtype: object
0           LG1
1         47796
2             T
3            10
4    ,,,,,,,,,a
5    HGJJHJHH;H
Name: 41861, dtype: object
0           LG1
1         47796
2             T
3            10
4    ,,,,,,,,,a
5    HGJJHJHH;H
Name: 41861, dtype: object
0           LG1
1         47796
2             T
3            10
4    ,,,,,,,,,a
5    HGJJHJHH;H
Name: 41861, dtype: object
0           LG1
1         47796
2             T
3            10
4    ,,,,,,,,,a
5    HGJJHJHH;H
Name: 41861, dtype: object
0           LG1
1         47796
2             T
3            10
4    ,,,,,,,,,a
5    HGJJHJHH;H
Name: 41861, dtype: object
0           LG1
1         47796
2             T
3            10
4    ,,,,,,,,,a
5    HGJJHJHH;H
Name: 41861, dtype: object
0           LG1
1         47797
2             G
3            10
4    ,,,,,,,,,,
5    GIHIGJIJ:H
Name: 41862, dtype: object
0           LG1
1         47797
2             G
3            10
4    ,,,,,,,,,,
5    GIHIGJIJ:H
Name: 41862, dtype: object
0           LG1
1         47797
2             G
3            10
4    ,,,,,,,,,,
5    GIHIGJIJ:H
Name: 41862, dtype: object
0           LG1
1         47797
2             G
3            10
4    ,,,,,,,,,,
5    GIHIGJIJ:H
Name: 41862, dtype: object
0           LG1
1         47797
2             G
3            10
4    ,,,,,,,,,,
5    GIHIGJIJ:H
Name: 41862, dtype: object
0           LG1
1         47797
2             G
3            10
4    ,,,,,,,,,,
5    GIHIGJIJ:H
Name: 41862, dtype: object
0           LG1
1         47797
2             G
3            10
4    ,,,,,,,,,,
5    GIHIGJIJ:H
Name: 41862, dtype: object
0           LG1
1         47797
2             G
3            10
4    ,,,,,,,,,,
5    GIHIGJIJ:H
Name: 41862, dtype: object
0           LG1
1         47797
2             G
3            10
4    ,,,,,,,,,,
5    GIHIGJIJ:H
Name: 41862, dtype: object
0           LG1
1         47798
2             A
3            10
4    ,,,,,,,,,,
5    FJHIDIIJ>8
Name: 41863, dtype: object
0           LG1
1         47798
2             A
3            10
4    ,,,,,,,,,,
5    FJHIDIIJ>8
Name: 41863, dtype: object
0           LG1
1         47798
2             A
3            10
4    ,,,,,,,,,,
5    FJHIDIIJ>8
Name: 41863, dtype: object
0           LG1
1         47798
2             A
3            10
4    ,,,,,,,,,,
5    FJHIDIIJ>8
Name: 41863, dtype: object
0           LG1
1         47798
2             A
3            10
4    ,,,,,,,,,,
5    FJHIDIIJ>8
Name: 41863, dtype: object
0           LG1
1         47798
2             A
3            10
4    ,,,,,,,,,,
5    FJHIDIIJ>8
Name: 41863, dtype: object
0           LG1
1         47798
2             A
3            10
4    ,,,,,,,,,,
5    FJHIDIIJ>8
Name: 41863, dtype: object
0           LG1
1         47798
2             A
3            10
4    ,,,,,,,,,,
5    FJHIDIIJ>8
Name: 41863, dtype: object
0           LG1
1         47799
2             C
3            10
4    ,,,,,,,,,a
5    IJIJIJIJ98
Name: 41864, dtype: object
0           LG1
1         47799
2             C
3            10
4    ,,,,,,,,,a
5    IJIJIJIJ98
Name: 41864, dtype: object
0           LG1
1         47799
2             C
3            10
4    ,,,,,,,,,a
5    IJIJIJIJ98
Name: 41864, dtype: object
0           LG1
1         47799
2             C
3            10
4    ,,,,,,,,,a
5    IJIJIJIJ98
Name: 41864, dtype: object
0           LG1
1         47799
2             C
3            10
4    ,,,,,,,,,a
5    IJIJIJIJ98
Name: 41864, dtype: object
0           LG1
1         47799
2             C
3            10
4    ,,,,,,,,,a
5    IJIJIJIJ98
Name: 41864, dtype: object
0           LG1
1         47799
2             C
3            10
4    ,,,,,,,,,a
5    IJIJIJIJ98
Name: 41864, dtype: object
0           LG1
1         47799
2             C
3            10
4    ,,,,,,,,,a
5    IJIJIJIJ98
Name: 41864, dtype: object
0           LG1
1         47800
2             T
3            10
4    ,,,,,,,,,,
5    JJGJHIHI;8
Name: 41865, dtype: object
0           LG1
1         47800
2             T
3            10
4    ,,,,,,,,,,
5    JJGJHIHI;8
Name: 41865, dtype: object
0           LG1
1         47800
2             T
3            10
4    ,,,,,,,,,,
5    JJGJHIHI;8
Name: 41865, dtype: object
0           LG1
1         47800
2             T
3            10
4    ,,,,,,,,,,
5    JJGJHIHI;8
Name: 41865, dtype: object
0           LG1
1         47800
2             T
3            10
4    ,,,,,,,,,,
5    JJGJHIHI;8
Name: 41865, dtype: object
0           LG1
1         47800
2             T
3            10
4    ,,,,,,,,,,
5    JJGJHIHI;8
Name: 41865, dtype: object
0           LG1
1         47800
2             T
3            10
4    ,,,,,,,,,,
5    JJGJHIHI;8
Name: 41865, dtype: object
0           LG1
1         47800
2             T
3            10
4    ,,,,,,,,,,
5    JJGJHIHI;8
Name: 41865, dtype: object
0           LG1
1         47802
2             G
3            10
4    ,,,,,,,,,,
5    IJGJHJIJ86
Name: 41867, dtype: object
0           LG1
1         47802
2             G
3            10
4    ,,,,,,,,,,
5    IJGJHJIJ86
Name: 41867, dtype: object
0           LG1
1         47802
2             G
3            10
4    ,,,,,,,,,,
5    IJGJHJIJ86
Name: 41867, dtype: object
0           LG1
1         47802
2             G
3            10
4    ,,,,,,,,,,
5    IJGJHJIJ86
Name: 41867, dtype: object
0           LG1
1         47802
2             G
3            10
4    ,,,,,,,,,,
5    IJGJHJIJ86
Name: 41867, dtype: object
0           LG1
1         47802
2             G
3            10
4    ,,,,,,,,,,
5    IJGJHJIJ86
Name: 41867, dtype: object
0           LG1
1         47802
2             G
3            10
4    ,,,,,,,,,,
5    IJGJHJIJ86
Name: 41867, dtype: object
0           LG1
1         47802
2             G
3            10
4    ,,,,,,,,,,
5    IJGJHJIJ86
Name: 41867, dtype: object

0           LG1
1         47805
2             C
3            10
4    ,,,,,,a,,,
5    IJIJIJIJ1I
Name: 41870, dtype: object
0           LG1
1         47805
2             C
3            10
4    ,,,,,,a,,,
5    IJIJIJIJ1I
Name: 41870, dtype: object
0           LG1
1         47805
2             C
3            10
4    ,,,,,,a,,,
5    IJIJIJIJ1I
Name: 41870, dtype: object
0           LG1
1         47805
2             C
3            10
4    ,,,,,,a,,,
5    IJIJIJIJ1I
Name: 41870, dtype: object
0           LG1
1         47805
2             C
3            10
4    ,,,,,,a,,,
5    IJIJIJIJ1I
Name: 41870, dtype: object
0           LG1
1         47805
2             C
3            10
4    ,,,,,,a,,,
5    IJIJIJIJ1I
Name: 41870, dtype: object
0           LG1
1         47805
2             C
3            10
4    ,,,,,,a,,,
5    IJIJIJIJ1I
Name: 41870, dtype: object
0           LG1
1         47805
2             C
3            10
4    ,,,,,,a,,,
5    IJIJIJIJ1I
Name: 41870, dtype: object
0           LG1
1         47805
2             C
3            10
4    ,,,,,,a,,,
5    IJIJIJIJ1I
Name: 41870, dtype: object
0           LG1
1         47806
2             T
3            10
4    ,,,,,,,,,,
5    FHJJIIGJ<J
Name: 41871, dtype: object
0           LG1
1         47806
2             T
3            10
4    ,,,,,,,,,,
5    FHJJIIGJ<J
Name: 41871, dtype: object
0           LG1
1         47806
2             T
3            10
4    ,,,,,,,,,,
5    FHJJIIGJ<J
Name: 41871, dtype: object
0           LG1
1         47806
2             T
3            10
4    ,,,,,,,,,,
5    FHJJIIGJ<J
Name: 41871, dtype: object
0           LG1
1         47806
2             T
3            10
4    ,,,,,,,,,,
5    FHJJIIGJ<J
Name: 41871, dtype: object
0           LG1
1         47806
2             T
3            10
4    ,,,,,,,,,,
5    FHJJIIGJ<J
Name: 41871, dtype: object
0           LG1
1         47806
2             T
3            10
4    ,,,,,,,,,,
5    FHJJIIGJ<J
Name: 41871, dtype: object
0           LG1
1         47806
2             T
3            10
4    ,,,,,,,,,,
5    FHJJIIGJ<J
Name: 41871, dtype: object
0           LG1
1         47806
2             T
3            10
4    ,,,,,,,,,,
5    FHJJIIGJ<J
Name: 41871, dtype: object
0           LG1
1         47807
2             A
3            10
4    ,,,,,,,,,,
5    JHJJIJGJJ/
Name: 41872, dtype: object
0           LG1
1         47807
2             A
3            10
4    ,,,,,,,,,,
5    JHJJIJGJJ/
Name: 41872, dtype: object
0           LG1
1         47807
2             A
3            10
4    ,,,,,,,,,,
5    JHJJIJGJJ/
Name: 41872, dtype: object
0           LG1
1         47807
2             A
3            10
4    ,,,,,,,,,,
5    JHJJIJGJJ/
Name: 41872, dtype: object
0           LG1
1         47807
2             A
3            10
4    ,,,,,,,,,,
5    JHJJIJGJJ/
Name: 41872, dtype: object
0           LG1
1         47807
2             A
3            10
4    ,,,,,,,,,,
5    JHJJIJGJJ/
Name: 41872, dtype: object
0           LG1
1         47807
2             A
3            10
4    ,,,,,,,,,,
5    JHJJIJGJJ/
Name: 41872, dtype: object
0           LG1
1         47807
2             A
3            10
4    ,,,,,,,,,,
5    JHJJIJGJJ/
Name: 41872, dtype: object
0           LG1
1         47807
2             A
3            10
4    ,,,,,,,,,,
5    JHJJIJGJJ/
Name: 41872, dtype: object
0           LG1
1         47824
2             A
3            10
4    ,,,,,,,,,,
5    BB:HJ?JJC@
Name: 41889, dtype: object
0           LG1
1         47824
2             A
3            10
4    ,,,,,,,,,,
5    BB:HJ?JJC@
Name: 41889, dtype: object
0           LG1
1         47824
2             A
3            10
4    ,,,,,,,,,,
5    BB:HJ?JJC@
Name: 41889, dtype: object
0           LG1
1         47824
2             A
3            10
4    ,,,,,,,,,,
5    BB:HJ?JJC@
Name: 41889, dtype: object
0           LG1
1         47824
2             A
3            10
4    ,,,,,,,,,,
5    BB:HJ?JJC@
Name: 41889, dtype: object
0           LG1
1         47824
2             A
3            10
4    ,,,,,,,,,,
5    BB:HJ?JJC@
Name: 41889, dtype: object
0           LG1
1         47824
2             A
3            10
4    ,,,,,,,,,,
5    BB:HJ?JJC@
Name: 41889, dtype: object
0           LG1
1         47824
2             A
3            10
4    ,,,,,,,,,,
5    BB:HJ?JJC@
Name: 41889, dtype: object
0           LG1
1         47824
2             A
3            10
4    ,,,,,,,,,,
5    BB:HJ?JJC@
Name: 41889, dtype: object
0           LG1
1         47825
2             C
3            10
4    ,,,,t,tt,,
5    FIJFJ?IIHE
Name: 41890, dtype: object
0           LG1
1         47825
2             C
3            10
4    ,,,,t,tt,,
5    FIJFJ?IIHE
Name: 41890, dtype: object
0           LG1
1         47825
2             C
3            10
4    ,,,,t,tt,,
5    FIJFJ?IIHE
Name: 41890, dtype: object
0           LG1
1         47825
2             C
3            10
4    ,,,,t,tt,,
5    FIJFJ?IIHE
Name: 41890, dtype: object
0           LG1
1         47825
2             C
3            10
4    ,,,,t,tt,,
5    FIJFJ?IIHE
Name: 41890, dtype: object
0           LG1
1         47825
2             C
3            10
4    ,,,,t,tt,,
5    FIJFJ?IIHE
Name: 41890, dtype: object
0           LG1
1         47825
2             C
3            10
4    ,,,,t,tt,,
5    FIJFJ?IIHE
Name: 41890, dtype: object
0           LG1
1         47825
2             C
3            10
4    ,,,,t,tt,,
5    FIJFJ?IIHE
Name: 41890, dtype: object
0           LG1
1         47825
2             C
3            10
4    ,,,,t,tt,,
5    FIJFJ?IIHE
Name: 41890, dtype: object
0           LG1
1         47825
2             C
3            10
4    ,,,,t,tt,,
5    FIJFJ?IIHE
Name: 41890, dtype: object
0           LG1
1         47826
2             C
3            10
4    ,,,,,,,,,,
5    CIIJJ?JJHE
Name: 41891, dtype: object
0           LG1
1         47826
2             C
3            10
4    ,,,,,,,,,,
5    CIIJJ?JJHE
Name: 41891, dtype: object
0           LG1
1         47826
2             C
3            10
4    ,,,,,,,,,,
5    CIIJJ?JJHE
Name: 41891, dtype: object
0           LG1
1         47826
2             C
3            10
4    ,,,,,,,,,,
5    CIIJJ?JJHE
Name: 41891, dtype: object
0           LG1
1         47826
2             C
3            10
4    ,,,,,,,,,,
5    CIIJJ?JJHE
Name: 41891, dtype: object
0           LG1
1         47826
2             C
3            10
4    ,,,,,,,,,,
5    CIIJJ?JJHE
Name: 41891, dtype: object
0           LG1
1         47826
2             C
3            10
4    ,,,,,,,,,,
5    CIIJJ?JJHE
Name: 41891, dtype: object
0           LG1
1         47826
2             C
3            10
4    ,,,,,,,,,,
5    CIIJJ?JJHE
Name: 41891, dtype: object
0           LG1
1         47826
2             C
3            10
4    ,,,,,,,,,,
5    CIIJJ?JJHE
Name: 41891, dtype: object
0           LG1
1         47826
2             C
3            10
4    ,,,,,,,,,,
5    CIIJJ?JJHE
Name: 41891, dtype: object
0           LG1
1         47827
2             A
3            10
4    ,,,,,,,,,,
5    CIDIJ@IIHE
Name: 41892, dtype: object
0           LG1
1         47827
2             A
3            10
4    ,,,,,,,,,,
5    CIDIJ@IIHE
Name: 41892, dtype: object
0           LG1
1         47827
2             A
3            10
4    ,,,,,,,,,,
5    CIDIJ@IIHE
Name: 41892, dtype: object
0           LG1
1         47827
2             A
3            10
4    ,,,,,,,,,,
5    CIDIJ@IIHE
Name: 41892, dtype: object
0           LG1
1         47827
2             A
3            10
4    ,,,,,,,,,,
5    CIDIJ@IIHE
Name: 41892, dtype: object
0           LG1
1         47827
2             A
3            10
4    ,,,,,,,,,,
5    CIDIJ@IIHE
Name: 41892, dtype: object
0           LG1
1         47827
2             A
3            10
4    ,,,,,,,,,,
5    CIDIJ@IIHE
Name: 41892, dtype: object
0           LG1
1         47827
2             A
3            10
4    ,,,,,,,,,,
5    CIDIJ@IIHE
Name: 41892, dtype: object
0           LG1
1         47827
2             A
3            10
4    ,,,,,,,,,,
5    CIDIJ@IIHE
Name: 41892, dtype: object
0           LG1
1         47827
2             A
3            10
4    ,,,,,,,,,,
5    CIDIJ@IIHE
Name: 41892, dtype: object
0           LG1
1         50003
2             T
3             8
4    .......^2.
5      JDHAEDCB
Name: 42013, dtype: object
0           LG1
1         50003
2             T
3             8
4    .......^2.
5      JDHAEDCB
Name: 42013, dtype: object
0           LG1
1         50003
2             T
3             8
4    .......^2.
5      JDHAEDCB
Name: 42013, dtype: object
0           LG1
1         50003
2             T
3             8
4    .......^2.
5      JDHAEDCB
Name: 42013, dtype: object
0           LG1
1         50003
2             T
3             8
4    .......^2.
5      JDHAEDCB
Name: 42013, dtype: object
0           LG1
1         50003
2             T
3             8
4    .......^2.
5      JDHAEDCB
Name: 42013, dtype: object
0           LG1
1         50003
2             T
3             8
4    .......^2.
5      JDHAEDCB
Name: 42013, dtype: object
0           LG1
1         50003
2             T
3             8
4    .......^2.
5      JDHAEDCB
Name: 42013, dtype: object
0           LG1
1         50007
2             G
3            10
4    ..C.......
5    JJHHHFFF?C
Name: 42017, dtype: object
0           LG1
1         50007
2             G
3            10
4    ..C.......
5    JJHHHFFF?C
Name: 42017, dtype: object
0           LG1
1         50007
2             G
3            10
4    ..C.......
5    JJHHHFFF?C
Name: 42017, dtype: object
0           LG1
1         50007
2             G
3            10
4    ..C.......
5    JJHHHFFF?C
Name: 42017, dtype: object
0           LG1
1         50007
2             G
3            10
4    ..C.......
5    JJHHHFFF?C
Name: 42017, dtype: object
0           LG1
1         50007
2             G
3            10
4    ..C.......
5    JJHHHFFF?C
Name: 42017, dtype: object
0           LG1
1         50007
2             G
3            10
4    ..C.......
5    JJHHHFFF?C
Name: 42017, dtype: object
0           LG1
1         50007
2             G
3            10
4    ..C.......
5    JJHHHFFF?C
Name: 42017, dtype: object
0           LG1
1         50007
2             G
3            10
4    ..C.......
5    JJHHHFFF?C
Name: 42017, dtype: object
0           LG1
1         50007
2             G
3            10
4    ..C.......
5    JJHHHFFF?C
Name: 42017, dtype: object
0           LG1
1         50008
2             G
3            10
4    A.........
5    IJJDHHFFBC
Name: 42018, dtype: object
0           LG1
1         50008
2             G
3            10
4    A.........
5    IJJDHHFFBC
Name: 42018, dtype: object
0           LG1
1         50008
2             G
3            10
4    A.........
5    IJJDHHFFBC
Name: 42018, dtype: object
0           LG1
1         50008
2             G
3            10
4    A.........
5    IJJDHHFFBC
Name: 42018, dtype: object
0           LG1
1         50008
2             G
3            10
4    A.........
5    IJJDHHFFBC
Name: 42018, dtype: object
0           LG1
1         50008
2             G
3            10
4    A.........
5    IJJDHHFFBC
Name: 42018, dtype: object
0           LG1
1         50008
2             G
3            10
4    A.........
5    IJJDHHFFBC
Name: 42018, dtype: object
0           LG1
1         50008
2             G
3            10
4    A.........
5    IJJDHHFFBC
Name: 42018, dtype: object
0           LG1
1         50008
2             G
3            10
4    A.........
5    IJJDHHFFBC
Name: 42018, dtype: object
0           LG1
1         50008
2             G
3            10
4    A.........
5    IJJDHHFFBC
Name: 42018, dtype: object
0           LG1
1         50474
2             C
3            10
4    ,,,,,,,,,,
5    JJGEJGDGIG
Name: 42484, dtype: object
0           LG1
1         50474
2             C
3            10
4    ,,,,,,,,,,
5    JJGEJGDGIG
Name: 42484, dtype: object
0           LG1
1         50474
2             C
3            10
4    ,,,,,,,,,,
5    JJGEJGDGIG
Name: 42484, dtype: object
0           LG1
1         50474
2             C
3            10
4    ,,,,,,,,,,
5    JJGEJGDGIG
Name: 42484, dtype: object
0           LG1
1         50474
2             C
3            10
4    ,,,,,,,,,,
5    JJGEJGDGIG
Name: 42484, dtype: object
0           LG1
1         50474
2             C
3            10
4    ,,,,,,,,,,
5    JJGEJGDGIG
Name: 42484, dtype: object
0           LG1
1         50474
2             C
3            10
4    ,,,,,,,,,,
5    JJGEJGDGIG
Name: 42484, dtype: object
0           LG1
1         50474
2             C
3            10
4    ,,,,,,,,,,
5    JJGEJGDGIG
Name: 42484, dtype: object
0           LG1
1         50474
2             C
3            10
4    ,,,,,,,,,,
5    JJGEJGDGIG
Name: 42484, dtype: object
0           LG1
1         50474
2             C
3            10
4    ,,,,,,,,,,
5    JJGEJGDGIG
Name: 42484, dtype: object
0           LG1
1         50475
2             A
3            10
4    g,,g,g,gg,
5    JJI?JFFJIJ
Name: 42485, dtype: object
0           LG1
1         50475
2             A
3            10
4    g,,g,g,gg,
5    JJI?JFFJIJ
Name: 42485, dtype: object
0           LG1
1         50475
2             A
3            10
4    g,,g,g,gg,
5    JJI?JFFJIJ
Name: 42485, dtype: object
0           LG1
1         50475
2             A
3            10
4    g,,g,g,gg,
5    JJI?JFFJIJ
Name: 42485, dtype: object
0           LG1
1         50475
2             A
3            10
4    g,,g,g,gg,
5    JJI?JFFJIJ
Name: 42485, dtype: object
0           LG1
1         50475
2             A
3            10
4    g,,g,g,gg,
5    JJI?JFFJIJ
Name: 42485, dtype: object
0           LG1
1         50475
2             A
3            10
4    g,,g,g,gg,
5    JJI?JFFJIJ
Name: 42485, dtype: object
0           LG1
1         50475
2             A
3            10
4    g,,g,g,gg,
5    JJI?JFFJIJ
Name: 42485, dtype: object
0           LG1
1         50475
2             A
3            10
4    g,,g,g,gg,
5    JJI?JFFJIJ
Name: 42485, dtype: object
0           LG1
1         50475
2             A
3            10
4    g,,g,g,gg,
5    JJI?JFFJIJ
Name: 42485, dtype: object
0           LG1
1         50476
2             G
3            10
4    ,,,,,,,,,,
5    JJIFJGAJIJ
Name: 42486, dtype: object
0           LG1
1         50476
2             G
3            10
4    ,,,,,,,,,,
5    JJIFJGAJIJ
Name: 42486, dtype: object
0           LG1
1         50476
2             G
3            10
4    ,,,,,,,,,,
5    JJIFJGAJIJ
Name: 42486, dtype: object
0           LG1
1         50476
2             G
3            10
4    ,,,,,,,,,,
5    JJIFJGAJIJ
Name: 42486, dtype: object
0           LG1
1         50476
2             G
3            10
4    ,,,,,,,,,,
5    JJIFJGAJIJ
Name: 42486, dtype: object
0           LG1
1         50476
2             G
3            10
4    ,,,,,,,,,,
5    JJIFJGAJIJ
Name: 42486, dtype: object
0           LG1
1         50476
2             G
3            10
4    ,,,,,,,,,,
5    JJIFJGAJIJ

Name: 42486, dtype: object
0           LG1
1         50476
2             G
3            10
4    ,,,,,,,,,,
5    JJIFJGAJIJ
Name: 42486, dtype: object
0           LG1
1         50476
2             G
3            10
4    ,,,,,,,,,,
5    JJIFJGAJIJ
Name: 42486, dtype: object
0           LG1
1         50476
2             G
3            10
4    ,,,,,,,,,,
5    JJIFJGAJIJ
Name: 42486, dtype: object
0           LG1
1         50477
2             T
3            10
4    ,,,,,,,,,,
5    JJGDJ<EJIJ
Name: 42487, dtype: object
0           LG1
1         50477
2             T
3            10
4    ,,,,,,,,,,
5    JJGDJ<EJIJ
Name: 42487, dtype: object
0           LG1
1         50477
2             T
3            10
4    ,,,,,,,,,,
5    JJGDJ<EJIJ
Name: 42487, dtype: object
0           LG1
1         50477
2             T
3            10
4    ,,,,,,,,,,
5    JJGDJ<EJIJ
Name: 42487, dtype: object
0           LG1
1         50477
2             T
3            10
4    ,,,,,,,,,,
5    JJGDJ<EJIJ
Name: 42487, dtype: object
0           LG1
1         50477
2             T
3            10
4    ,,,,,,,,,,
5    JJGDJ<EJIJ
Name: 42487, dtype: object
0           LG1
1         50477
2             T
3            10
4    ,,,,,,,,,,
5    JJGDJ<EJIJ
Name: 42487, dtype: object
0           LG1
1         50477
2             T
3            10
4    ,,,,,,,,,,
5    JJGDJ<EJIJ
Name: 42487, dtype: object
0           LG1
1         50477
2             T
3            10
4    ,,,,,,,,,,
5    JJGDJ<EJIJ
Name: 42487, dtype: object
0           LG1
1         50478
2             T
3            10
4    a,,a,a,aa,
5    IIGAJGFIIJ
Name: 42488, dtype: object
0           LG1
1         50478
2             T
3            10
4    a,,a,a,aa,
5    IIGAJGFIIJ
Name: 42488, dtype: object
0           LG1
1         50478
2             T
3            10
4    a,,a,a,aa,
5    IIGAJGFIIJ
Name: 42488, dtype: object
0           LG1
1         50478
2             T
3            10
4    a,,a,a,aa,
5    IIGAJGFIIJ
Name: 42488, dtype: object
0           LG1
1         50478
2             T
3            10
4    a,,a,a,aa,
5    IIGAJGFIIJ
Name: 42488, dtype: object
0           LG1
1         50478
2             T
3            10
4    a,,a,a,aa,
5    IIGAJGFIIJ
Name: 42488, dtype: object
0           LG1
1         50478
2             T
3            10
4    a,,a,a,aa,
5    IIGAJGFIIJ
Name: 42488, dtype: object
0           LG1
1         50478
2             T
3            10
4    a,,a,a,aa,
5    IIGAJGFIIJ
Name: 42488, dtype: object
0           LG1
1         50478
2             T
3            10
4    a,,a,a,aa,
5    IIGAJGFIIJ
Name: 42488, dtype: object
0           LG1
1         50478
2             T
3            10
4    a,,a,a,aa,
5    IIGAJGFIIJ
Name: 42488, dtype: object
0           LG1
1         50479
2             T
3            10
4    ,,,,,,,,,,
5    IHIHI<:DIJ
Name: 42489, dtype: object
0           LG1
1         50479
2             T
3            10
4    ,,,,,,,,,,
5    IHIHI<:DIJ
Name: 42489, dtype: object
0           LG1
1         50479
2             T
3            10
4    ,,,,,,,,,,
5    IHIHI<:DIJ
Name: 42489, dtype: object
0           LG1
1         50479
2             T
3            10
4    ,,,,,,,,,,
5    IHIHI<:DIJ
Name: 42489, dtype: object
0           LG1
1         50479
2             T
3            10
4    ,,,,,,,,,,
5    IHIHI<:DIJ
Name: 42489, dtype: object
0           LG1
1         50479
2             T
3            10
4    ,,,,,,,,,,
5    IHIHI<:DIJ
Name: 42489, dtype: object
0           LG1
1         50479
2             T
3            10
4    ,,,,,,,,,,
5    IHIHI<:DIJ
Name: 42489, dtype: object
0           LG1
1         50479
2             T
3            10
4    ,,,,,,,,,,
5    IHIHI<:DIJ
Name: 42489, dtype: object
0           LG1
1         50480
2             C
3            10
4    ,,,,,,,,,,
5    HJIEJG?JIJ
Name: 42490, dtype: object
0           LG1
1         50480
2             C
3            10
4    ,,,,,,,,,,
5    HJIEJG?JIJ
Name: 42490, dtype: object
0           LG1
1         50480
2             C
3            10
4    ,,,,,,,,,,
5    HJIEJG?JIJ
Name: 42490, dtype: object
0           LG1
1         50480
2             C
3            10
4    ,,,,,,,,,,
5    HJIEJG?JIJ
Name: 42490, dtype: object
0           LG1
1         50480
2             C
3            10
4    ,,,,,,,,,,
5    HJIEJG?JIJ
Name: 42490, dtype: object
0           LG1
1         50480
2             C
3            10
4    ,,,,,,,,,,
5    HJIEJG?JIJ
Name: 42490, dtype: object
0           LG1
1         50480
2             C
3            10
4    ,,,,,,,,,,
5    HJIEJG?JIJ
Name: 42490, dtype: object
0           LG1
1         50480
2             C
3            10
4    ,,,,,,,,,,
5    HJIEJG?JIJ
Name: 42490, dtype: object
0           LG1
1         50480
2             C
3            10
4    ,,,,,,,,,,
5    HJIEJG?JIJ
Name: 42490, dtype: object
0           LG1
1         50480
2             C
3            10
4    ,,,,,,,,,,
5    HJIEJG?JIJ
Name: 42490, dtype: object
0           LG1
1         50481
2             G
3            10
4    ,,,,,,,,,,
5    HIHHIFFIIJ
Name: 42491, dtype: object
0           LG1
1         50481
2             G
3            10
4    ,,,,,,,,,,
5    HIHHIFFIIJ
Name: 42491, dtype: object
0           LG1
1         50481
2             G
3            10
4    ,,,,,,,,,,
5    HIHHIFFIIJ
Name: 42491, dtype: object
0           LG1
1         50481
2             G
3            10
4    ,,,,,,,,,,
5    HIHHIFFIIJ
Name: 42491, dtype: object
0           LG1
1         50481
2             G
3            10
4    ,,,,,,,,,,
5    HIHHIFFIIJ
Name: 42491, dtype: object
0           LG1
1         50481
2             G
3            10
4    ,,,,,,,,,,
5    HIHHIFFIIJ
Name: 42491, dtype: object
0           LG1
1         50481
2             G
3            10
4    ,,,,,,,,,,
5    HIHHIFFIIJ
Name: 42491, dtype: object
0           LG1
1         50481
2             G
3            10
4    ,,,,,,,,,,
5    HIHHIFFIIJ
Name: 42491, dtype: object
0           LG1
1         50481
2             G
3            10
4    ,,,,,,,,,,
5    HIHHIFFIIJ
Name: 42491, dtype: object
0           LG1
1         50481
2             G
3            10
4    ,,,,,,,,,,
5    HIHHIFFIIJ
Name: 42491, dtype: object
0           LG1
1         50482
2             G
3            10
4    ,,,,,,,,,,
5    HIHEG@CJII
Name: 42492, dtype: object
0           LG1
1         50482
2             G
3            10
4    ,,,,,,,,,,
5    HIHEG@CJII
Name: 42492, dtype: object
0           LG1
1         50482
2             G
3            10
4    ,,,,,,,,,,
5    HIHEG@CJII
Name: 42492, dtype: object
0           LG1
1         50482
2             G
3            10
4    ,,,,,,,,,,
5    HIHEG@CJII
Name: 42492, dtype: object
0           LG1
1         50482
2             G
3            10
4    ,,,,,,,,,,
5    HIHEG@CJII
Name: 42492, dtype: object
0           LG1
1         50482
2             G
3            10
4    ,,,,,,,,,,
5    HIHEG@CJII
Name: 42492, dtype: object
0           LG1
1         50482
2             G
3            10
4    ,,,,,,,,,,
5    HIHEG@CJII
Name: 42492, dtype: object
0           LG1
1         50482
2             G
3            10
4    ,,,,,,,,,,
5    HIHEG@CJII
Name: 42492, dtype: object
0           LG1
1         50482
2             G
3            10
4    ,,,,,,,,,,
5    HIHEG@CJII
Name: 42492, dtype: object
0           LG1
1         50482
2             G
3            10
4    ,,,,,,,,,,
5    HIHEG@CJII
Name: 42492, dtype: object
0           LG1
1         50483
2             T
3            10
4    c,,c,c,cc,
5    HGHFFB:JFI
Name: 42493, dtype: object
0           LG1
1         50483
2             T
3            10
4    c,,c,c,cc,
5    HGHFFB:JFI
Name: 42493, dtype: object
0           LG1
1         50483
2             T
3            10
4    c,,c,c,cc,
5    HGHFFB:JFI
Name: 42493, dtype: object
0           LG1
1         50483
2             T
3            10
4    c,,c,c,cc,
5    HGHFFB:JFI
Name: 42493, dtype: object
0           LG1
1         50483
2             T
3            10
4    c,,c,c,cc,
5    HGHFFB:JFI
Name: 42493, dtype: object
0           LG1
1         50483
2             T
3            10
4    c,,c,c,cc,
5    HGHFFB:JFI
Name: 42493, dtype: object
0           LG1
1         50483
2             T
3            10
4    c,,c,c,cc,
5    HGHFFB:JFI
Name: 42493, dtype: object
0           LG1
1         50483
2             T
3            10
4    c,,c,c,cc,
5    HGHFFB:JFI
Name: 42493, dtype: object
0           LG1
1         50483
2             T
3            10
4    c,,c,c,cc,
5    HGHFFB:JFI
Name: 42493, dtype: object
0           LG1
1         50484
2             C
3            10
4    ,,,,,,,,,,
5    HHHHAGAJIJ
Name: 42494, dtype: object
0           LG1
1         50484
2             C
3            10
4    ,,,,,,,,,,
5    HHHHAGAJIJ
Name: 42494, dtype: object
0           LG1
1         50484
2             C
3            10
4    ,,,,,,,,,,
5    HHHHAGAJIJ
Name: 42494, dtype: object
0           LG1
1         50484
2             C
3            10
4    ,,,,,,,,,,
5    HHHHAGAJIJ
Name: 42494, dtype: object
0           LG1
1         50484
2             C
3            10
4    ,,,,,,,,,,
5    HHHHAGAJIJ
Name: 42494, dtype: object
0           LG1
1         50484
2             C
3            10
4    ,,,,,,,,,,
5    HHHHAGAJIJ
Name: 42494, dtype: object
0           LG1
1         50484
2             C
3            10
4    ,,,,,,,,,,
5    HHHHAGAJIJ
Name: 42494, dtype: object
0           LG1
1         50484
2             C
3            10
4    ,,,,,,,,,,
5    HHHHAGAJIJ
Name: 42494, dtype: object
0           LG1
1         50484
2             C
3            10
4    ,,,,,,,,,,
5    HHHHAGAJIJ
Name: 42494, dtype: object
0           LG1
1         50484
2             C
3            10
4    ,,,,,,,,,,
5    HHHHAGAJIJ
Name: 42494, dtype: object
0           LG1
1         50486
2             T
3            10
4    ,,,,,,,,,,
5    FHFHJG7GHJ
Name: 42496, dtype: object
0           LG1
1         50486
2             T
3            10
4    ,,,,,,,,,,
5    FHFHJG7GHJ
Name: 42496, dtype: object
0           LG1
1         50486
2             T
3            10
4    ,,,,,,,,,,
5    FHFHJG7GHJ
Name: 42496, dtype: object
0           LG1
1         50486
2             T
3            10
4    ,,,,,,,,,,
5    FHFHJG7GHJ
Name: 42496, dtype: object
0           LG1
1         50486
2             T
3            10
4    ,,,,,,,,,,
5    FHFHJG7GHJ
Name: 42496, dtype: object
0           LG1
1         50486
2             T
3            10
4    ,,,,,,,,,,
5    FHFHJG7GHJ
Name: 42496, dtype: object
0           LG1
1         50486
2             T
3            10
4    ,,,,,,,,,,
5    FHFHJG7GHJ
Name: 42496, dtype: object
0           LG1
1         50486
2             T
3            10
4    ,,,,,,,,,,
5    FHFHJG7GHJ
Name: 42496, dtype: object
0           LG1
1         50486
2             T
3            10
4    ,,,,,,,,,,
5    FHFHJG7GHJ
Name: 42496, dtype: object
0           LG1
1         50487
2             G
3            10
4    ,,a,a,a,,a
5    FHFFJE8JIJ
Name: 42497, dtype: object
0           LG1
1         50487
2             G
3            10
4    ,,a,a,a,,a
5    FHFFJE8JIJ
Name: 42497, dtype: object
0           LG1
1         50487
2             G
3            10
4    ,,a,a,a,,a
5    FHFFJE8JIJ
Name: 42497, dtype: object
0           LG1
1         50487
2             G
3            10
4    ,,a,a,a,,a
5    FHFFJE8JIJ
Name: 42497, dtype: object
0           LG1
1         50487
2             G
3            10
4    ,,a,a,a,,a
5    FHFFJE8JIJ
Name: 42497, dtype: object
0           LG1
1         50487
2             G
3            10
4    ,,a,a,a,,a
5    FHFFJE8JIJ
Name: 42497, dtype: object
0           LG1
1         50487
2             G
3            10
4    ,,a,a,a,,a
5    FHFFJE8JIJ
Name: 42497, dtype: object
0           LG1
1         50487
2             G
3            10
4    ,,a,a,a,,a
5    FHFFJE8JIJ
Name: 42497, dtype: object
0           LG1
1         50487
2             G
3            10
4    ,,a,a,a,,a
5    FHFFJE8JIJ
Name: 42497, dtype: object
0           LG1
1         52403
2             A
3             9
4    ....$.....
5     FG?>IHGJI
Name: 42794, dtype: object
0           LG1
1         52403
2             A
3             9
4    ....$.....
5     FG?>IHGJI
Name: 42794, dtype: object
0           LG1
1         52403
2             A
3             9
4    ....$.....
5     FG?>IHGJI
Name: 42794, dtype: object
0           LG1
1         52403
2             A
3             9
4    ....$.....
5     FG?>IHGJI
Name: 42794, dtype: object
0           LG1
1         52403
2             A
3             9
4    ....$.....
5     FG?>IHGJI
Name: 42794, dtype: object
0           LG1
1         52403
2             A
3             9
4    ....$.....
5     FG?>IHGJI
Name: 42794, dtype: object
0           LG1
1         52403
2             A
3             9
4    ....$.....
5     FG?>IHGJI
Name: 42794, dtype: object
0           LG1
1         52403
2             A
3             9
4    ....$.....
5     FG?>IHGJI
Name: 42794, dtype: object
0           LG1
1         52412
2             A
3             9
4    ...$......
5     IGBIGGJHF
Name: 42803, dtype: object
0           LG1
1         52412
2             A
3             9
4    ...$......
5     IGBIGGJHF
Name: 42803, dtype: object
0           LG1
1         52412
2             A
3             9
4    ...$......
5     IGBIGGJHF
Name: 42803, dtype: object
0           LG1
1         52412
2             A
3             9
4    ...$......
5     IGBIGGJHF
Name: 42803, dtype: object
0           LG1
1         52412
2             A
3             9
4    ...$......
5     IGBIGGJHF
Name: 42803, dtype: object
0           LG1
1         52412
2             A
3             9
4    ...$......
5     IGBIGGJHF
Name: 42803, dtype: object
0           LG1
1         52412
2             A
3             9
4    ...$......
5     IGBIGGJHF
Name: 42803, dtype: object
0           LG1
1         52412
2             A
3             9
4    ...$......
5     IGBIGGJHF
Name: 42803, dtype: object
0           LG1
1         52412
2             A
3             9
4    ...$......
5     IGBIGGJHF
Name: 42803, dtype: object
0           LG1
1         52431
2             T
3            10
4    ........,.
5    JCJIJJDI5@
Name: 42822, dtype: object
0           LG1
1         52431
2             T
3            10
4    ........,.
5    JCJIJJDI5@
Name: 42822, dtype: object
0           LG1
1         52431
2             T
3            10
4    ........,.
5    JCJIJJDI5@
Name: 42822, dtype: object
0           LG1
1         52431
2             T
3            10
4    ........,.
5    JCJIJJDI5@

Name: 42822, dtype: object
0           LG1
1         52431
2             T
3            10
4    ........,.
5    JCJIJJDI5@
Name: 42822, dtype: object
0           LG1
1         52431
2             T
3            10
4    ........,.
5    JCJIJJDI5@
Name: 42822, dtype: object
0           LG1
1         52431
2             T
3            10
4    ........,.
5    JCJIJJDI5@
Name: 42822, dtype: object
0           LG1
1         52431
2             T
3            10
4    ........,.
5    JCJIJJDI5@
Name: 42822, dtype: object
0           LG1
1         52431
2             T
3            10
4    ........,.
5    JCJIJJDI5@
Name: 42822, dtype: object
0           LG1
1         52432
2             C
3            10
4    ........,.
5    IHJIJJIJ=C
Name: 42823, dtype: object
0           LG1
1         52432
2             C
3            10
4    ........,.
5    IHJIJJIJ=C
Name: 42823, dtype: object
0           LG1
1         52432
2             C
3            10
4    ........,.
5    IHJIJJIJ=C
Name: 42823, dtype: object
0           LG1
1         52432
2             C
3            10
4    ........,.
5    IHJIJJIJ=C
Name: 42823, dtype: object
0           LG1
1         52432
2             C
3            10
4    ........,.
5    IHJIJJIJ=C
Name: 42823, dtype: object
0           LG1
1         52432
2             C
3            10
4    ........,.
5    IHJIJJIJ=C
Name: 42823, dtype: object
0           LG1
1         52432
2             C
3            10
4    ........,.
5    IHJIJJIJ=C
Name: 42823, dtype: object
0           LG1
1         52432
2             C
3            10
4    ........,.
5    IHJIJJIJ=C
Name: 42823, dtype: object
0           LG1
1         52432
2             C
3            10
4    ........,.
5    IHJIJJIJ=C
Name: 42823, dtype: object
0           LG1
1         52490
2             A
3            10
4    .,........
5    ?JIJ?JIGFI
Name: 42881, dtype: object
0           LG1
1         52490
2             A
3            10
4    .,........
5    ?JIJ?JIGFI
Name: 42881, dtype: object
0           LG1
1         52490
2             A
3            10
4    .,........
5    ?JIJ?JIGFI
Name: 42881, dtype: object
0           LG1
1         52490
2             A
3            10
4    .,........
5    ?JIJ?JIGFI
Name: 42881, dtype: object
0           LG1
1         52490
2             A
3            10
4    .,........
5    ?JIJ?JIGFI
Name: 42881, dtype: object
0           LG1
1         52490
2             A
3            10
4    .,........
5    ?JIJ?JIGFI
Name: 42881, dtype: object
0           LG1
1         52490
2             A
3            10
4    .,........
5    ?JIJ?JIGFI
Name: 42881, dtype: object
0           LG1
1         52490
2             A
3            10
4    .,........
5    ?JIJ?JIGFI
Name: 42881, dtype: object
0           LG1
1         52490
2             A
3            10
4    .,........
5    ?JIJ?JIGFI
Name: 42881, dtype: object
0           LG1
1         52490
2             A
3            10
4    .,........
5    ?JIJ?JIGFI
Name: 42881, dtype: object
0           LG1
1         52495
2             G
3            10
4    .aA.A..A..
5    CJHIHIJJJD
Name: 42886, dtype: object
0           LG1
1         52495
2             G
3            10
4    .aA.A..A..
5    CJHIHIJJJD
Name: 42886, dtype: object
0           LG1
1         52495
2             G
3            10
4    .aA.A..A..
5    CJHIHIJJJD
Name: 42886, dtype: object
0           LG1
1         52495
2             G
3            10
4    .aA.A..A..
5    CJHIHIJJJD
Name: 42886, dtype: object
0           LG1
1         52495
2             G
3            10
4    .aA.A..A..
5    CJHIHIJJJD
Name: 42886, dtype: object
0           LG1
1         52495
2             G
3            10
4    .aA.A..A..
5    CJHIHIJJJD
Name: 42886, dtype: object
0           LG1
1         52495
2             G
3            10
4    .aA.A..A..
5    CJHIHIJJJD
Name: 42886, dtype: object
0           LG1
1         52495
2             G
3            10
4    .aA.A..A..
5    CJHIHIJJJD
Name: 42886, dtype: object
0           LG1
1         52495
2             G
3            10
4    .aA.A..A..
5    CJHIHIJJJD
Name: 42886, dtype: object
0           LG1
1         52495
2             G
3            10
4    .aA.A..A..
5    CJHIHIJJJD
Name: 42886, dtype: object
0           LG1
1         52510
2             C
3            10
4    ,........,
5    BD2BIJJJI@
Name: 42901, dtype: object
0           LG1
1         52510
2             C
3            10
4    ,........,
5    BD2BIJJJI@
Name: 42901, dtype: object
0           LG1
1         52510
2             C
3            10
4    ,........,
5    BD2BIJJJI@
Name: 42901, dtype: object
0           LG1
1         52510
2             C
3            10
4    ,........,
5    BD2BIJJJI@
Name: 42901, dtype: object
0           LG1
1         52510
2             C
3            10
4    ,........,
5    BD2BIJJJI@
Name: 42901, dtype: object
0           LG1
1         52510
2             C
3            10
4    ,........,
5    BD2BIJJJI@
Name: 42901, dtype: object
0           LG1
1         52510
2             C
3            10
4    ,........,
5    BD2BIJJJI@
Name: 42901, dtype: object
0           LG1
1         52510
2             C
3            10
4    ,........,
5    BD2BIJJJI@
Name: 42901, dtype: object
0           LG1
1         52510
2             C
3            10
4    ,........,
5    BD2BIJJJI@
Name: 42901, dtype: object
0           LG1
1         52512
2             C
3            10
4    ...,.T...,
5    CC@9JJJJID
Name: 42903, dtype: object
0           LG1
1         52512
2             C
3            10
4    ...,.T...,
5    CC@9JJJJID
Name: 42903, dtype: object
0           LG1
1         52512
2             C
3            10
4    ...,.T...,
5    CC@9JJJJID
Name: 42903, dtype: object
0           LG1
1         52512
2             C
3            10
4    ...,.T...,
5    CC@9JJJJID
Name: 42903, dtype: object
0           LG1
1         52512
2             C
3            10
4    ...,.T...,
5    CC@9JJJJID
Name: 42903, dtype: object
0           LG1
1         52512
2             C
3            10
4    ...,.T...,
5    CC@9JJJJID
Name: 42903, dtype: object
0           LG1
1         52512
2             C
3            10
4    ...,.T...,
5    CC@9JJJJID
Name: 42903, dtype: object
0           LG1
1         52512
2             C
3            10
4    ...,.T...,
5    CC@9JJJJID
Name: 42903, dtype: object
0           LG1
1         52512
2             C
3            10
4    ...,.T...,
5    CC@9JJJJID
Name: 42903, dtype: object
0           LG1
1         52513
2             C
3            10
4    ...,.....,
5    DCC4JHJJJE
Name: 42904, dtype: object
0           LG1
1         52513
2             C
3            10
4    ...,.....,
5    DCC4JHJJJE
Name: 42904, dtype: object
0           LG1
1         52513
2             C
3            10
4    ...,.....,
5    DCC4JHJJJE
Name: 42904, dtype: object
0           LG1
1         52513
2             C
3            10
4    ...,.....,
5    DCC4JHJJJE
Name: 42904, dtype: object
0           LG1
1         52513
2             C
3            10
4    ...,.....,
5    DCC4JHJJJE
Name: 42904, dtype: object
0           LG1
1         52513
2             C
3            10
4    ...,.....,
5    DCC4JHJJJE
Name: 42904, dtype: object
0           LG1
1         52513
2             C
3            10
4    ...,.....,
5    DCC4JHJJJE
Name: 42904, dtype: object
0           LG1
1         52513
2             C
3            10
4    ...,.....,
5    DCC4JHJJJE
Name: 42904, dtype: object
0           LG1
1         52513
2             C
3            10
4    ...,.....,
5    DCC4JHJJJE
Name: 42904, dtype: object
0           LG1
1         52538
2             T
3            10
4    ,.....,,..
5    FDDFFGI3HJ
Name: 42929, dtype: object
0           LG1
1         52538
2             T
3            10
4    ,.....,,..
5    FDDFFGI3HJ
Name: 42929, dtype: object
0           LG1
1         52538
2             T
3            10
4    ,.....,,..
5    FDDFFGI3HJ
Name: 42929, dtype: object
0           LG1
1         52538
2             T
3            10
4    ,.....,,..
5    FDDFFGI3HJ
Name: 42929, dtype: object
0           LG1
1         52538
2             T
3            10
4    ,.....,,..
5    FDDFFGI3HJ
Name: 42929, dtype: object
0           LG1
1         52538
2             T
3            10
4    ,.....,,..
5    FDDFFGI3HJ
Name: 42929, dtype: object
0           LG1
1         52538
2             T
3            10
4    ,.....,,..
5    FDDFFGI3HJ
Name: 42929, dtype: object
0           LG1
1         52538
2             T
3            10
4    ,.....,,..
5    FDDFFGI3HJ
Name: 42929, dtype: object
0           LG1
1         52538
2             T
3            10
4    ,.....,,..
5    FDDFFGI3HJ
Name: 42929, dtype: object
0           LG1
1         52539
2             G
3            10
4    ,.....,,..
5    ADDFFHIBGG
Name: 42930, dtype: object
0           LG1
1         52539
2             G
3            10
4    ,.....,,..
5    ADDFFHIBGG
Name: 42930, dtype: object
0           LG1
1         52539
2             G
3            10
4    ,.....,,..
5    ADDFFHIBGG
Name: 42930, dtype: object
0           LG1
1         52539
2             G
3            10
4    ,.....,,..
5    ADDFFHIBGG
Name: 42930, dtype: object
0           LG1
1         52539
2             G
3            10
4    ,.....,,..
5    ADDFFHIBGG
Name: 42930, dtype: object
0           LG1
1         52539
2             G
3            10
4    ,.....,,..
5    ADDFFHIBGG
Name: 42930, dtype: object
0           LG1
1         52539
2             G
3            10
4    ,.....,,..
5    ADDFFHIBGG
Name: 42930, dtype: object
0           LG1
1         52539
2             G
3            10
4    ,.....,,..
5    ADDFFHIBGG
Name: 42930, dtype: object
0           LG1
1         52539
2             G
3            10
4    ,.....,,..
5    ADDFFHIBGG
Name: 42930, dtype: object
0           LG1
1         52539
2             G
3            10
4    ,.....,,..
5    ADDFFHIBGG
Name: 42930, dtype: object
0           LG1
1         52540
2             A
3            10
4    ,.....,,..
5    DDDFFEG?DI
Name: 42931, dtype: object
0           LG1
1         52540
2             A
3            10
4    ,.....,,..
5    DDDFFEG?DI
Name: 42931, dtype: object
0           LG1
1         52540
2             A
3            10
4    ,.....,,..
5    DDDFFEG?DI
Name: 42931, dtype: object
0           LG1
1         52540
2             A
3            10
4    ,.....,,..
5    DDDFFEG?DI
Name: 42931, dtype: object
0           LG1
1         52540
2             A
3            10
4    ,.....,,..
5    DDDFFEG?DI
Name: 42931, dtype: object
0           LG1
1         52540
2             A
3            10
4    ,.....,,..
5    DDDFFEG?DI
Name: 42931, dtype: object
0           LG1
1         52540
2             A
3            10
4    ,.....,,..
5    DDDFFEG?DI
Name: 42931, dtype: object
0           LG1
1         52540
2             A
3            10
4    ,.....,,..
5    DDDFFEG?DI
Name: 42931, dtype: object
0           LG1
1         52540
2             A
3            10
4    ,.....,,..
5    DDDFFEG?DI
Name: 42931, dtype: object
0           LG1
1         52540
2             A
3            10
4    ,.....,,..
5    DDDFFEG?DI
Name: 42931, dtype: object
0           LG1
1         52541
2             T
3            10
4    ,.....,,..
5    DEEFFHHDDJ
Name: 42932, dtype: object
0           LG1
1         52541
2             T
3            10
4    ,.....,,..
5    DEEFFHHDDJ
Name: 42932, dtype: object
0           LG1
1         52541
2             T
3            10
4    ,.....,,..
5    DEEFFHHDDJ
Name: 42932, dtype: object
0           LG1
1         52541
2             T
3            10
4    ,.....,,..
5    DEEFFHHDDJ
Name: 42932, dtype: object
0           LG1
1         52541
2             T
3            10
4    ,.....,,..
5    DEEFFHHDDJ
Name: 42932, dtype: object
0           LG1
1         52541
2             T
3            10
4    ,.....,,..
5    DEEFFHHDDJ
Name: 42932, dtype: object
0           LG1
1         52541
2             T
3            10
4    ,.....,,..
5    DEEFFHHDDJ
Name: 42932, dtype: object
0           LG1
1         52541
2             T
3            10
4    ,.....,,..
5    DEEFFHHDDJ
Name: 42932, dtype: object
0           LG1
1         52541
2             T
3            10
4    ,.....,,..
5    DEEFFHHDDJ
Name: 42932, dtype: object
0           LG1
1         52541
2             T
3            10
4    ,.....,,..
5    DEEFFHHDDJ
Name: 42932, dtype: object
0           LG1
1         52548
2             A
3            10
4    .....,,..,
5    DDDEFIDIJ;
Name: 42939, dtype: object
0           LG1
1         52548
2             A
3            10
4    .....,,..,
5    DDDEFIDIJ;
Name: 42939, dtype: object
0           LG1
1         52548
2             A
3            10
4    .....,,..,
5    DDDEFIDIJ;
Name: 42939, dtype: object
0           LG1
1         52548
2             A
3            10
4    .....,,..,
5    DDDEFIDIJ;
Name: 42939, dtype: object
0           LG1
1         52548
2             A
3            10
4    .....,,..,
5    DDDEFIDIJ;
Name: 42939, dtype: object
0           LG1
1         52548
2             A
3            10
4    .....,,..,
5    DDDEFIDIJ;
Name: 42939, dtype: object
0           LG1
1         52548
2             A
3            10
4    .....,,..,
5    DDDEFIDIJ;
Name: 42939, dtype: object
0           LG1
1         52548
2             A
3            10
4    .....,,..,
5    DDDEFIDIJ;
Name: 42939, dtype: object
0           LG1
1         52548
2             A
3            10
4    .....,,..,
5    DDDEFIDIJ;
Name: 42939, dtype: object
0           LG1
1         52549
2             A
3            10
4    .....,,..,
5    DDDDDIAGJ@
Name: 42940, dtype: object
0           LG1
1         52549
2             A
3            10
4    .....,,..,
5    DDDDDIAGJ@
Name: 42940, dtype: object
0           LG1
1         52549
2             A
3            10
4    .....,,..,
5    DDDDDIAGJ@
Name: 42940, dtype: object
0           LG1
1         52549
2             A
3            10
4    .....,,..,
5    DDDDDIAGJ@
Name: 42940, dtype: object
0           LG1
1         52549
2             A
3            10
4    .....,,..,
5    DDDDDIAGJ@
Name: 42940, dtype: object
0           LG1
1         52549
2             A
3            10
4    .....,,..,
5    DDDDDIAGJ@
Name: 42940, dtype: object
0           LG1
1         52549
2             A
3            10
4    .....,,..,
5    DDDDDIAGJ@
Name: 42940, dtype: object
0           LG1
1         52549
2             A
3            10
4    .....,,..,
5    DDDDDIAGJ@
Name: 42940, dtype: object
0           LG1
1         52549
2             A
3            10
4    .....,,..,
5    DDDDDIAGJ@
Name: 42940, dtype: object
0           LG1
1         52549
2             A
3            10
4    .....,,..,
5    DDDDDIAGJ@
Name: 42940, dtype: object
0           LG1
1         52550
2             T
3            10
4    .....,,..,
5    CDDEEJDHJC
Name: 42941, dtype: object
0           LG1
1         52550
2             T
3            10
4    .....,,..,
5    CDDEEJDHJC
Name: 42941, dtype: object
0           LG1
1         52550
2             T
3            10
4    .....,,..,
5    CDDEEJDHJC
Name: 42941, dtype: object
0           LG1
1         52550
2             T
3            10
4    .....,,..,
5    CDDEEJDHJC

Name: 42941, dtype: object
0           LG1
1         52550
2             T
3            10
4    .....,,..,
5    CDDEEJDHJC
Name: 42941, dtype: object
0           LG1
1         52550
2             T
3            10
4    .....,,..,
5    CDDEEJDHJC
Name: 42941, dtype: object
0           LG1
1         52550
2             T
3            10
4    .....,,..,
5    CDDEEJDHJC
Name: 42941, dtype: object
0           LG1
1         52550
2             T
3            10
4    .....,,..,
5    CDDEEJDHJC
Name: 42941, dtype: object
0           LG1
1         52550
2             T
3            10
4    .....,,..,
5    CDDEEJDHJC
Name: 42941, dtype: object
0           LG1
1         52550
2             T
3            10
4    .....,,..,
5    CDDEEJDHJC
Name: 42941, dtype: object
0           LG1
1         52551
2             A
3            10
4    .....,,..,
5    DDDDEIDHI>
Name: 42942, dtype: object
0           LG1
1         52551
2             A
3            10
4    .....,,..,
5    DDDDEIDHI>
Name: 42942, dtype: object
0           LG1
1         52551
2             A
3            10
4    .....,,..,
5    DDDDEIDHI>
Name: 42942, dtype: object
0           LG1
1         52551
2             A
3            10
4    .....,,..,
5    DDDDEIDHI>
Name: 42942, dtype: object
0           LG1
1         52551
2             A
3            10
4    .....,,..,
5    DDDDEIDHI>
Name: 42942, dtype: object
0           LG1
1         52551
2             A
3            10
4    .....,,..,
5    DDDDEIDHI>
Name: 42942, dtype: object
0           LG1
1         52551
2             A
3            10
4    .....,,..,
5    DDDDEIDHI>
Name: 42942, dtype: object
0           LG1
1         52551
2             A
3            10
4    .....,,..,
5    DDDDEIDHI>
Name: 42942, dtype: object
0           LG1
1         52551
2             A
3            10
4    .....,,..,
5    DDDDEIDHI>
Name: 42942, dtype: object
0           LG1
1         52552
2             T
3            10
4    .....,,..,
5    DDDDEIDIJC
Name: 42943, dtype: object
0           LG1
1         52552
2             T
3            10
4    .....,,..,
5    DDDDEIDIJC
Name: 42943, dtype: object
0           LG1
1         52552
2             T
3            10
4    .....,,..,
5    DDDDEIDIJC
Name: 42943, dtype: object
0           LG1
1         52552
2             T
3            10
4    .....,,..,
5    DDDDEIDIJC
Name: 42943, dtype: object
0           LG1
1         52552
2             T
3            10
4    .....,,..,
5    DDDDEIDIJC
Name: 42943, dtype: object
0           LG1
1         52552
2             T
3            10
4    .....,,..,
5    DDDDEIDIJC
Name: 42943, dtype: object
0           LG1
1         52552
2             T
3            10
4    .....,,..,
5    DDDDEIDIJC
Name: 42943, dtype: object
0           LG1
1         52552
2             T
3            10
4    .....,,..,
5    DDDDEIDIJC
Name: 42943, dtype: object
0           LG1
1         52552
2             T
3            10
4    .....,,..,
5    DDDDEIDIJC
Name: 42943, dtype: object
0           LG1
1         52552
2             T
3            10
4    .....,,..,
5    DDDDEIDIJC
Name: 42943, dtype: object
0           LG1
1         52559
2             G
3            10
4    ...,,.....
5    DDDG1@H?C@
Name: 42950, dtype: object
0           LG1
1         52559
2             G
3            10
4    ...,,.....
5    DDDG1@H?C@
Name: 42950, dtype: object
0           LG1
1         52559
2             G
3            10
4    ...,,.....
5    DDDG1@H?C@
Name: 42950, dtype: object
0           LG1
1         52559
2             G
3            10
4    ...,,.....
5    DDDG1@H?C@
Name: 42950, dtype: object
0           LG1
1         52559
2             G
3            10
4    ...,,.....
5    DDDG1@H?C@
Name: 42950, dtype: object
0           LG1
1         52559
2             G
3            10
4    ...,,.....
5    DDDG1@H?C@
Name: 42950, dtype: object
0           LG1
1         52559
2             G
3            10
4    ...,,.....
5    DDDG1@H?C@
Name: 42950, dtype: object
0           LG1
1         52559
2             G
3            10
4    ...,,.....
5    DDDG1@H?C@
Name: 42950, dtype: object
0           LG1
1         52559
2             G
3            10
4    ...,,.....
5    DDDG1@H?C@
Name: 42950, dtype: object
0           LG1
1         53246
2             T
3            10
4    ,,,,,,,,,,
5    FGJJI@JIJD
Name: 43637, dtype: object
0           LG1
1         53246
2             T
3            10
4    ,,,,,,,,,,
5    FGJJI@JIJD
Name: 43637, dtype: object
0           LG1
1         53246
2             T
3            10
4    ,,,,,,,,,,
5    FGJJI@JIJD
Name: 43637, dtype: object
0           LG1
1         53246
2             T
3            10
4    ,,,,,,,,,,
5    FGJJI@JIJD
Name: 43637, dtype: object
0           LG1
1         53246
2             T
3            10
4    ,,,,,,,,,,
5    FGJJI@JIJD
Name: 43637, dtype: object
0           LG1
1         53246
2             T
3            10
4    ,,,,,,,,,,
5    FGJJI@JIJD
Name: 43637, dtype: object
0           LG1
1         53246
2             T
3            10
4    ,,,,,,,,,,
5    FGJJI@JIJD
Name: 43637, dtype: object
0           LG1
1         53246
2             T
3            10
4    ,,,,,,,,,,
5    FGJJI@JIJD
Name: 43637, dtype: object
0           LG1
1         53246
2             T
3            10
4    ,,,,,,,,,,
5    FGJJI@JIJD
Name: 43637, dtype: object
0           LG1
1         53246
2             T
3            10
4    ,,,,,,,,,,
5    FGJJI@JIJD
Name: 43637, dtype: object
0           LG1
1         53247
2             T
3            10
4    ,,,,,,,,,,
5    FIJIHEIIIF
Name: 43638, dtype: object
0           LG1
1         53247
2             T
3            10
4    ,,,,,,,,,,
5    FIJIHEIIIF
Name: 43638, dtype: object
0           LG1
1         53247
2             T
3            10
4    ,,,,,,,,,,
5    FIJIHEIIIF
Name: 43638, dtype: object
0           LG1
1         53247
2             T
3            10
4    ,,,,,,,,,,
5    FIJIHEIIIF
Name: 43638, dtype: object
0           LG1
1         53247
2             T
3            10
4    ,,,,,,,,,,
5    FIJIHEIIIF
Name: 43638, dtype: object
0           LG1
1         53247
2             T
3            10
4    ,,,,,,,,,,
5    FIJIHEIIIF
Name: 43638, dtype: object
0           LG1
1         53247
2             T
3            10
4    ,,,,,,,,,,
5    FIJIHEIIIF
Name: 43638, dtype: object
0           LG1
1         53247
2             T
3            10
4    ,,,,,,,,,,
5    FIJIHEIIIF
Name: 43638, dtype: object
0           LG1
1         53247
2             T
3            10
4    ,,,,,,,,,,
5    FIJIHEIIIF
Name: 43638, dtype: object
0           LG1
1         53247
2             T
3            10
4    ,,,,,,,,,,
5    FIJIHEIIIF
Name: 43638, dtype: object
0           LG1
1         53248
2             G
3            10
4    ,,,,,,,,,,
5    FIJJFEHJHD
Name: 43639, dtype: object
0           LG1
1         53248
2             G
3            10
4    ,,,,,,,,,,
5    FIJJFEHJHD
Name: 43639, dtype: object
0           LG1
1         53248
2             G
3            10
4    ,,,,,,,,,,
5    FIJJFEHJHD
Name: 43639, dtype: object
0           LG1
1         53248
2             G
3            10
4    ,,,,,,,,,,
5    FIJJFEHJHD
Name: 43639, dtype: object
0           LG1
1         53248
2             G
3            10
4    ,,,,,,,,,,
5    FIJJFEHJHD
Name: 43639, dtype: object
0           LG1
1         53248
2             G
3            10
4    ,,,,,,,,,,
5    FIJJFEHJHD
Name: 43639, dtype: object
0           LG1
1         53248
2             G
3            10
4    ,,,,,,,,,,
5    FIJJFEHJHD
Name: 43639, dtype: object
0           LG1
1         53248
2             G
3            10
4    ,,,,,,,,,,
5    FIJJFEHJHD
Name: 43639, dtype: object
0           LG1
1         53248
2             G
3            10
4    ,,,,,,,,,,
5    FIJJFEHJHD
Name: 43639, dtype: object
0           LG1
1         53248
2             G
3            10
4    ,,,,,,,,,,
5    FIJJFEHJHD
Name: 43639, dtype: object
0           LG1
1         53249
2             G
3            10
4    ,,,,,,,,,,
5    FIJIHBIIIH
Name: 43640, dtype: object
0           LG1
1         53249
2             G
3            10
4    ,,,,,,,,,,
5    FIJIHBIIIH
Name: 43640, dtype: object
0           LG1
1         53249
2             G
3            10
4    ,,,,,,,,,,
5    FIJIHBIIIH
Name: 43640, dtype: object
0           LG1
1         53249
2             G
3            10
4    ,,,,,,,,,,
5    FIJIHBIIIH
Name: 43640, dtype: object
0           LG1
1         53249
2             G
3            10
4    ,,,,,,,,,,
5    FIJIHBIIIH
Name: 43640, dtype: object
0           LG1
1         53249
2             G
3            10
4    ,,,,,,,,,,
5    FIJIHBIIIH
Name: 43640, dtype: object
0           LG1
1         53249
2             G
3            10
4    ,,,,,,,,,,
5    FIJIHBIIIH
Name: 43640, dtype: object
0           LG1
1         53249
2             G
3            10
4    ,,,,,,,,,,
5    FIJIHBIIIH
Name: 43640, dtype: object
0           LG1
1         53249
2             G
3            10
4    ,,,,,,,,,,
5    FIJIHBIIIH
Name: 43640, dtype: object
0           LG1
1         53249
2             G
3            10
4    ,,,,,,,,,,
5    FIJIHBIIIH
Name: 43640, dtype: object
0           LG1
1         53250
2             C
3            10
4    ,,,,,,,,,,
5    CDJJGGGIHG
Name: 43641, dtype: object
0           LG1
1         53250
2             C
3            10
4    ,,,,,,,,,,
5    CDJJGGGIHG
Name: 43641, dtype: object
0           LG1
1         53250
2             C
3            10
4    ,,,,,,,,,,
5    CDJJGGGIHG
Name: 43641, dtype: object
0           LG1
1         53250
2             C
3            10
4    ,,,,,,,,,,
5    CDJJGGGIHG
Name: 43641, dtype: object
0           LG1
1         53250
2             C
3            10
4    ,,,,,,,,,,
5    CDJJGGGIHG
Name: 43641, dtype: object
0           LG1
1         53250
2             C
3            10
4    ,,,,,,,,,,
5    CDJJGGGIHG
Name: 43641, dtype: object
0           LG1
1         53250
2             C
3            10
4    ,,,,,,,,,,
5    CDJJGGGIHG
Name: 43641, dtype: object
0           LG1
1         53250
2             C
3            10
4    ,,,,,,,,,,
5    CDJJGGGIHG
Name: 43641, dtype: object
0           LG1
1         53250
2             C
3            10
4    ,,,,,,,,,,
5    CDJJGGGIHG
Name: 43641, dtype: object
0           LG1
1         53250
2             C
3            10
4    ,,,,,,,,,,
5    CDJJGGGIHG
Name: 43641, dtype: object
0           LG1
1         53253
2             A
3            10
4    ,,,,,,,,,,
5    HJJJCIIIHC
Name: 43644, dtype: object
0           LG1
1         53253
2             A
3            10
4    ,,,,,,,,,,
5    HJJJCIIIHC
Name: 43644, dtype: object
0           LG1
1         53253
2             A
3            10
4    ,,,,,,,,,,
5    HJJJCIIIHC
Name: 43644, dtype: object
0           LG1
1         53253
2             A
3            10
4    ,,,,,,,,,,
5    HJJJCIIIHC
Name: 43644, dtype: object
0           LG1
1         53253
2             A
3            10
4    ,,,,,,,,,,
5    HJJJCIIIHC
Name: 43644, dtype: object
0           LG1
1         53253
2             A
3            10
4    ,,,,,,,,,,
5    HJJJCIIIHC
Name: 43644, dtype: object
0           LG1
1         53253
2             A
3            10
4    ,,,,,,,,,,
5    HJJJCIIIHC
Name: 43644, dtype: object
0           LG1
1         53253
2             A
3            10
4    ,,,,,,,,,,
5    HJJJCIIIHC
Name: 43644, dtype: object
0           LG1
1         53253
2             A
3            10
4    ,,,,,,,,,,
5    HJJJCIIIHC
Name: 43644, dtype: object
0           LG1
1         53253
2             A
3            10
4    ,,,,,,,,,,
5    HJJJCIIIHC
Name: 43644, dtype: object
0           LG1
1         53254
2             A
3            10
4    ,,,,,,,,,,
5    DJJJ:HIGH@
Name: 43645, dtype: object
0           LG1
1         53254
2             A
3            10
4    ,,,,,,,,,,
5    DJJJ:HIGH@
Name: 43645, dtype: object
0           LG1
1         53254
2             A
3            10
4    ,,,,,,,,,,
5    DJJJ:HIGH@
Name: 43645, dtype: object
0           LG1
1         53254
2             A
3            10
4    ,,,,,,,,,,
5    DJJJ:HIGH@
Name: 43645, dtype: object
0           LG1
1         53254
2             A
3            10
4    ,,,,,,,,,,
5    DJJJ:HIGH@
Name: 43645, dtype: object
0           LG1
1         53254
2             A
3            10
4    ,,,,,,,,,,
5    DJJJ:HIGH@
Name: 43645, dtype: object
0           LG1
1         53254
2             A
3            10
4    ,,,,,,,,,,
5    DJJJ:HIGH@
Name: 43645, dtype: object
0           LG1
1         53254
2             A
3            10
4    ,,,,,,,,,,
5    DJJJ:HIGH@
Name: 43645, dtype: object
0           LG1
1         53254
2             A
3            10
4    ,,,,,,,,,,
5    DJJJ:HIGH@
Name: 43645, dtype: object
0           LG1
1         53265
2             G
3            10
4    ,,,,,,,,,,
5    FHEFHJJC>>
Name: 43656, dtype: object
0           LG1
1         53265
2             G
3            10
4    ,,,,,,,,,,
5    FHEFHJJC>>
Name: 43656, dtype: object
0           LG1
1         53265
2             G
3            10
4    ,,,,,,,,,,
5    FHEFHJJC>>
Name: 43656, dtype: object
0           LG1
1         53265
2             G
3            10
4    ,,,,,,,,,,
5    FHEFHJJC>>
Name: 43656, dtype: object
0           LG1
1         53265
2             G
3            10
4    ,,,,,,,,,,
5    FHEFHJJC>>
Name: 43656, dtype: object
0           LG1
1         53265
2             G
3            10
4    ,,,,,,,,,,
5    FHEFHJJC>>
Name: 43656, dtype: object
0           LG1
1         53265
2             G
3            10
4    ,,,,,,,,,,
5    FHEFHJJC>>
Name: 43656, dtype: object
0           LG1
1         53265
2             G
3            10
4    ,,,,,,,,,,
5    FHEFHJJC>>
Name: 43656, dtype: object
0           LG1
1         53281
2             G
3            10
4    a,,a,a,,,,
5    JIIJGE8HFF
Name: 43672, dtype: object
0           LG1
1         53281
2             G
3            10
4    a,,a,a,,,,
5    JIIJGE8HFF
Name: 43672, dtype: object
0           LG1
1         53281
2             G
3            10
4    a,,a,a,,,,
5    JIIJGE8HFF
Name: 43672, dtype: object
0           LG1
1         53281
2             G
3            10
4    a,,a,a,,,,
5    JIIJGE8HFF
Name: 43672, dtype: object
0           LG1
1         53281
2             G
3            10
4    a,,a,a,,,,
5    JIIJGE8HFF
Name: 43672, dtype: object
0           LG1
1         53281
2             G
3            10
4    a,,a,a,,,,
5    JIIJGE8HFF
Name: 43672, dtype: object
0           LG1
1         53281
2             G
3            10
4    a,,a,a,,,,
5    JIIJGE8HFF
Name: 43672, dtype: object
0           LG1
1         53281
2             G
3            10
4    a,,a,a,,,,
5    JIIJGE8HFF
Name: 43672, dtype: object
0           LG1
1         53281
2             G
3            10
4    a,,a,a,,,,
5    JIIJGE8HFF
Name: 43672, dtype: object
0           LG1
1         53285
2             C
3            10
4    t,,tt,,,,,
5    JJJGJEBHFC
Name: 43676, dtype: object
0           LG1
1         53285
2             C
3            10
4    t,,tt,,,,,
5    JJJGJEBHFC
Name: 43676, dtype: object
0           LG1
1         53285
2             C
3            10
4    t,,tt,,,,,
5    JJJGJEBHFC
Name: 43676, dtype: object
0           LG1
1         53285
2             C
3            10
4    t,,tt,,,,,
5    JJJGJEBHFC
Name: 43676, dtype: object
0           LG1
1         53285
2             C
3            10
4    t,,tt,,,,,
5    JJJGJEBHFC
Name: 43676, dtype: object
0           LG1
1         53285
2             C
3            10
4    t,,tt,,,,,
5    JJJGJEBHFC
Name: 43676, dtype: object
0           LG1
1         53285
2             C
3            10
4    t,,tt,,,,,
5    JJJGJEBHFC
Name: 43676, dtype: object
0           LG1
1         53285
2             C
3            10
4    t,,tt,,,,,
5    JJJGJEBHFC
Name: 43676, dtype: object
0           LG1
1         53285
2             C
3            10
4    t,,tt,,,,,
5    JJJGJEBHFC
Name: 43676, dtype: object

0           LG1
1         53285
2             C
3            10
4    t,,tt,,,,,
5    JJJGJEBHFC
Name: 43676, dtype: object
0           LG1
1         53286
2             T
3            10
4    ,,,,,,,,,,
5    JJIJIFFEFD
Name: 43677, dtype: object
0           LG1
1         53286
2             T
3            10
4    ,,,,,,,,,,
5    JJIJIFFEFD
Name: 43677, dtype: object
0           LG1
1         53286
2             T
3            10
4    ,,,,,,,,,,
5    JJIJIFFEFD
Name: 43677, dtype: object
0           LG1
1         53286
2             T
3            10
4    ,,,,,,,,,,
5    JJIJIFFEFD
Name: 43677, dtype: object
0           LG1
1         53286
2             T
3            10
4    ,,,,,,,,,,
5    JJIJIFFEFD
Name: 43677, dtype: object
0           LG1
1         53286
2             T
3            10
4    ,,,,,,,,,,
5    JJIJIFFEFD
Name: 43677, dtype: object
0           LG1
1         53286
2             T
3            10
4    ,,,,,,,,,,
5    JJIJIFFEFD
Name: 43677, dtype: object
0           LG1
1         53286
2             T
3            10
4    ,,,,,,,,,,
5    JJIJIFFEFD
Name: 43677, dtype: object
0           LG1
1         53286
2             T
3            10
4    ,,,,,,,,,,
5    JJIJIFFEFD
Name: 43677, dtype: object
0           LG1
1         53286
2             T
3            10
4    ,,,,,,,,,,
5    JJIJIFFEFD
Name: 43677, dtype: object
0           LG1
1         53291
2             A
3            10
4    ,,,,,,,,,,
5    HGCI@HCC>C
Name: 43682, dtype: object
0           LG1
1         53291
2             A
3            10
4    ,,,,,,,,,,
5    HGCI@HCC>C
Name: 43682, dtype: object
0           LG1
1         53291
2             A
3            10
4    ,,,,,,,,,,
5    HGCI@HCC>C
Name: 43682, dtype: object
0           LG1
1         53291
2             A
3            10
4    ,,,,,,,,,,
5    HGCI@HCC>C
Name: 43682, dtype: object
0           LG1
1         53291
2             A
3            10
4    ,,,,,,,,,,
5    HGCI@HCC>C
Name: 43682, dtype: object
0           LG1
1         53291
2             A
3            10
4    ,,,,,,,,,,
5    HGCI@HCC>C
Name: 43682, dtype: object
0           LG1
1         53291
2             A
3            10
4    ,,,,,,,,,,
5    HGCI@HCC>C
Name: 43682, dtype: object
0           LG1
1         53291
2             A
3            10
4    ,,,,,,,,,,
5    HGCI@HCC>C
Name: 43682, dtype: object
0           LG1
1         53291
2             A
3            10
4    ,,,,,,,,,,
5    HGCI@HCC>C
Name: 43682, dtype: object
0           LG1
1         53376
2             A
3            10
4    ,,,,,,,,,,
5    HH?CG?IJC@
Name: 43767, dtype: object
0           LG1
1         53376
2             A
3            10
4    ,,,,,,,,,,
5    HH?CG?IJC@
Name: 43767, dtype: object
0           LG1
1         53376
2             A
3            10
4    ,,,,,,,,,,
5    HH?CG?IJC@
Name: 43767, dtype: object
0           LG1
1         53376
2             A
3            10
4    ,,,,,,,,,,
5    HH?CG?IJC@
Name: 43767, dtype: object
0           LG1
1         53376
2             A
3            10
4    ,,,,,,,,,,
5    HH?CG?IJC@
Name: 43767, dtype: object
0           LG1
1         53376
2             A
3            10
4    ,,,,,,,,,,
5    HH?CG?IJC@
Name: 43767, dtype: object
0           LG1
1         53376
2             A
3            10
4    ,,,,,,,,,,
5    HH?CG?IJC@
Name: 43767, dtype: object
0           LG1
1         53376
2             A
3            10
4    ,,,,,,,,,,
5    HH?CG?IJC@
Name: 43767, dtype: object
0           LG1
1         53376
2             A
3            10
4    ,,,,,,,,,,
5    HH?CG?IJC@
Name: 43767, dtype: object
0           LG1
1         53376
2             A
3            10
4    ,,,,,,,,,,
5    HH?CG?IJC@
Name: 43767, dtype: object
0           LG1
1         53377
2             C
3            10
4    a,,,,,,,,g
5    FHFGJIEJC@
Name: 43768, dtype: object
0           LG1
1         53377
2             C
3            10
4    a,,,,,,,,g
5    FHFGJIEJC@
Name: 43768, dtype: object
0           LG1
1         53377
2             C
3            10
4    a,,,,,,,,g
5    FHFGJIEJC@
Name: 43768, dtype: object
0           LG1
1         53377
2             C
3            10
4    a,,,,,,,,g
5    FHFGJIEJC@
Name: 43768, dtype: object
0           LG1
1         53377
2             C
3            10
4    a,,,,,,,,g
5    FHFGJIEJC@
Name: 43768, dtype: object
0           LG1
1         53377
2             C
3            10
4    a,,,,,,,,g
5    FHFGJIEJC@
Name: 43768, dtype: object
0           LG1
1         53377
2             C
3            10
4    a,,,,,,,,g
5    FHFGJIEJC@
Name: 43768, dtype: object
0           LG1
1         53377
2             C
3            10
4    a,,,,,,,,g
5    FHFGJIEJC@
Name: 43768, dtype: object
0           LG1
1         53377
2             C
3            10
4    a,,,,,,,,g
5    FHFGJIEJC@
Name: 43768, dtype: object
0           LG1
1         53377
2             C
3            10
4    a,,,,,,,,g
5    FHFGJIEJC@
Name: 43768, dtype: object
0           LG1
1         53378
2             C
3            10
4    ,aa,,,tt,,
5    FHFJJGIJD@
Name: 43769, dtype: object
0           LG1
1         53378
2             C
3            10
4    ,aa,,,tt,,
5    FHFJJGIJD@
Name: 43769, dtype: object
0           LG1
1         53378
2             C
3            10
4    ,aa,,,tt,,
5    FHFJJGIJD@
Name: 43769, dtype: object
0           LG1
1         53378
2             C
3            10
4    ,aa,,,tt,,
5    FHFJJGIJD@
Name: 43769, dtype: object
0           LG1
1         53378
2             C
3            10
4    ,aa,,,tt,,
5    FHFJJGIJD@
Name: 43769, dtype: object
0           LG1
1         53378
2             C
3            10
4    ,aa,,,tt,,
5    FHFJJGIJD@
Name: 43769, dtype: object
0           LG1
1         53378
2             C
3            10
4    ,aa,,,tt,,
5    FHFJJGIJD@
Name: 43769, dtype: object
0           LG1
1         53378
2             C
3            10
4    ,aa,,,tt,,
5    FHFJJGIJD@
Name: 43769, dtype: object
0           LG1
1         53378
2             C
3            10
4    ,aa,,,tt,,
5    FHFJJGIJD@
Name: 43769, dtype: object
0           LG1
1         53378
2             C
3            10
4    ,aa,,,tt,,
5    FHFJJGIJD@
Name: 43769, dtype: object
0           LG1
1         53379
2             T
3            10
4    ,,,,,,a,ga
5    FHFJJGJJ<@
Name: 43770, dtype: object
0           LG1
1         53379
2             T
3            10
4    ,,,,,,a,ga
5    FHFJJGJJ<@
Name: 43770, dtype: object
0           LG1
1         53379
2             T
3            10
4    ,,,,,,a,ga
5    FHFJJGJJ<@
Name: 43770, dtype: object
0           LG1
1         53379
2             T
3            10
4    ,,,,,,a,ga
5    FHFJJGJJ<@
Name: 43770, dtype: object
0           LG1
1         53379
2             T
3            10
4    ,,,,,,a,ga
5    FHFJJGJJ<@
Name: 43770, dtype: object
0           LG1
1         53379
2             T
3            10
4    ,,,,,,a,ga
5    FHFJJGJJ<@
Name: 43770, dtype: object
0           LG1
1         53379
2             T
3            10
4    ,,,,,,a,ga
5    FHFJJGJJ<@
Name: 43770, dtype: object
0           LG1
1         53379
2             T
3            10
4    ,,,,,,a,ga
5    FHFJJGJJ<@
Name: 43770, dtype: object
0           LG1
1         53379
2             T
3            10
4    ,,,,,,a,ga
5    FHFJJGJJ<@
Name: 43770, dtype: object
0           LG1
1         53380
2             G
3            10
4    ,,,tt,,,,,
5    FFDJJHJJE@
Name: 43771, dtype: object
0           LG1
1         53380
2             G
3            10
4    ,,,tt,,,,,
5    FFDJJHJJE@
Name: 43771, dtype: object
0           LG1
1         53380
2             G
3            10
4    ,,,tt,,,,,
5    FFDJJHJJE@
Name: 43771, dtype: object
0           LG1
1         53380
2             G
3            10
4    ,,,tt,,,,,
5    FFDJJHJJE@
Name: 43771, dtype: object
0           LG1
1         53380
2             G
3            10
4    ,,,tt,,,,,
5    FFDJJHJJE@
Name: 43771, dtype: object
0           LG1
1         53380
2             G
3            10
4    ,,,tt,,,,,
5    FFDJJHJJE@
Name: 43771, dtype: object
0           LG1
1         53380
2             G
3            10
4    ,,,tt,,,,,
5    FFDJJHJJE@
Name: 43771, dtype: object
0           LG1
1         53380
2             G
3            10
4    ,,,tt,,,,,
5    FFDJJHJJE@
Name: 43771, dtype: object
0           LG1
1         53380
2             G
3            10
4    ,,,tt,,,,,
5    FFDJJHJJE@
Name: 43771, dtype: object
0           LG1
1         53380
2             G
3            10
4    ,,,tt,,,,,
5    FFDJJHJJE@
Name: 43771, dtype: object
0           LG1
1         53381
2             A
3            10
4    ,,,,,,,,,,
5    FFFHIGJJ<@
Name: 43772, dtype: object
0           LG1
1         53381
2             A
3            10
4    ,,,,,,,,,,
5    FFFHIGJJ<@
Name: 43772, dtype: object
0           LG1
1         53381
2             A
3            10
4    ,,,,,,,,,,
5    FFFHIGJJ<@
Name: 43772, dtype: object
0           LG1
1         53381
2             A
3            10
4    ,,,,,,,,,,
5    FFFHIGJJ<@
Name: 43772, dtype: object
0           LG1
1         53381
2             A
3            10
4    ,,,,,,,,,,
5    FFFHIGJJ<@
Name: 43772, dtype: object
0           LG1
1         53381
2             A
3            10
4    ,,,,,,,,,,
5    FFFHIGJJ<@
Name: 43772, dtype: object
0           LG1
1         53381
2             A
3            10
4    ,,,,,,,,,,
5    FFFHIGJJ<@
Name: 43772, dtype: object
0           LG1
1         53381
2             A
3            10
4    ,,,,,,,,,,
5    FFFHIGJJ<@
Name: 43772, dtype: object
0           LG1
1         53381
2             A
3            10
4    ,,,,,,,,,,
5    FFFHIGJJ<@
Name: 43772, dtype: object
0           LG1
1         54119
2             T
3             9
4    ,$,,.,,,,.
5     @?IHJACDF
Name: 44369, dtype: object
0           LG1
1         54119
2             T
3             9
4    ,$,,.,,,,.
5     @?IHJACDF
Name: 44369, dtype: object
0           LG1
1         54119
2             T
3             9
4    ,$,,.,,,,.
5     @?IHJACDF
Name: 44369, dtype: object
0           LG1
1         54119
2             T
3             9
4    ,$,,.,,,,.
5     @?IHJACDF
Name: 44369, dtype: object
0           LG1
1         54119
2             T
3             9
4    ,$,,.,,,,.
5     @?IHJACDF
Name: 44369, dtype: object
0           LG1
1         54119
2             T
3             9
4    ,$,,.,,,,.
5     @?IHJACDF
Name: 44369, dtype: object
0           LG1
1         54119
2             T
3             9
4    ,$,,.,,,,.
5     @?IHJACDF
Name: 44369, dtype: object
0           LG1
1         54119
2             T
3             9
4    ,$,,.,,,,.
5     @?IHJACDF
Name: 44369, dtype: object
0           LG1
1         54119
2             T
3             9
4    ,$,,.,,,,.
5     @?IHJACDF
Name: 44369, dtype: object
0           LG1
1         54132
2             C
3             8
4    ,,,,,.,^:,
5      JJHDH@B<
Name: 44382, dtype: object
0           LG1
1         54132
2             C
3             8
4    ,,,,,.,^:,
5      JJHDH@B<
Name: 44382, dtype: object
0           LG1
1         54132
2             C
3             8
4    ,,,,,.,^:,
5      JJHDH@B<
Name: 44382, dtype: object
0           LG1
1         54132
2             C
3             8
4    ,,,,,.,^:,
5      JJHDH@B<
Name: 44382, dtype: object
0           LG1
1         54132
2             C
3             8
4    ,,,,,.,^:,
5      JJHDH@B<
Name: 44382, dtype: object
0           LG1
1         54132
2             C
3             8
4    ,,,,,.,^:,
5      JJHDH@B<
Name: 44382, dtype: object
0           LG1
1         54132
2             C
3             8
4    ,,,,,.,^:,
5      JJHDH@B<
Name: 44382, dtype: object
0           LG1
1         54158
2             A
3            10
4    ,,,,,,,,,,
5    HHHD<;DCCD
Name: 44408, dtype: object
0           LG1
1         54158
2             A
3            10
4    ,,,,,,,,,,
5    HHHD<;DCCD
Name: 44408, dtype: object
0           LG1
1         54158
2             A
3            10
4    ,,,,,,,,,,
5    HHHD<;DCCD
Name: 44408, dtype: object
0           LG1
1         54158
2             A
3            10
4    ,,,,,,,,,,
5    HHHD<;DCCD
Name: 44408, dtype: object
0           LG1
1         54158
2             A
3            10
4    ,,,,,,,,,,
5    HHHD<;DCCD
Name: 44408, dtype: object
0           LG1
1         54158
2             A
3            10
4    ,,,,,,,,,,
5    HHHD<;DCCD
Name: 44408, dtype: object
0           LG1
1         54158
2             A
3            10
4    ,,,,,,,,,,
5    HHHD<;DCCD
Name: 44408, dtype: object
0           LG1
1         54158
2             A
3            10
4    ,,,,,,,,,,
5    HHHD<;DCCD
Name: 44408, dtype: object
0           LG1
1         54165
2             A
3            10
4    ,,,,,,,,,,
5    CJJD@BFFDD
Name: 44415, dtype: object
0           LG1
1         54165
2             A
3            10
4    ,,,,,,,,,,
5    CJJD@BFFDD
Name: 44415, dtype: object
0           LG1
1         54165
2             A
3            10
4    ,,,,,,,,,,
5    CJJD@BFFDD
Name: 44415, dtype: object
0           LG1
1         54165
2             A
3            10
4    ,,,,,,,,,,
5    CJJD@BFFDD
Name: 44415, dtype: object
0           LG1
1         54165
2             A
3            10
4    ,,,,,,,,,,
5    CJJD@BFFDD
Name: 44415, dtype: object
0           LG1
1         54165
2             A
3            10
4    ,,,,,,,,,,
5    CJJD@BFFDD
Name: 44415, dtype: object
0           LG1
1         54165
2             A
3            10
4    ,,,,,,,,,,
5    CJJD@BFFDD
Name: 44415, dtype: object
0           LG1
1         54165
2             A
3            10
4    ,,,,,,,,,,
5    CJJD@BFFDD
Name: 44415, dtype: object
0           LG1
1         54165
2             A
3            10
4    ,,,,,,,,,,
5    CJJD@BFFDD
Name: 44415, dtype: object
0           LG1
1         54165
2             A
3            10
4    ,,,,,,,,,,
5    CJJD@BFFDD
Name: 44415, dtype: object
0           LG1
1         54166
2             G
3            10
4    ,,,,,,t,,,
5    CJIDDEDHDC

Name: 44416, dtype: object
0           LG1
1         54166
2             G
3            10
4    ,,,,,,t,,,
5    CJIDDEDHDC
Name: 44416, dtype: object
0           LG1
1         54166
2             G
3            10
4    ,,,,,,t,,,
5    CJIDDEDHDC
Name: 44416, dtype: object
0           LG1
1         54166
2             G
3            10
4    ,,,,,,t,,,
5    CJIDDEDHDC
Name: 44416, dtype: object
0           LG1
1         54166
2             G
3            10
4    ,,,,,,t,,,
5    CJIDDEDHDC
Name: 44416, dtype: object
0           LG1
1         54166
2             G
3            10
4    ,,,,,,t,,,
5    CJIDDEDHDC
Name: 44416, dtype: object
0           LG1
1         54166
2             G
3            10
4    ,,,,,,t,,,
5    CJIDDEDHDC
Name: 44416, dtype: object
0           LG1
1         54166
2             G
3            10
4    ,,,,,,t,,,
5    CJIDDEDHDC
Name: 44416, dtype: object
0           LG1
1         54166
2             G
3            10
4    ,,,,,,t,,,
5    CJIDDEDHDC
Name: 44416, dtype: object
0           LG1
1         54166
2             G
3            10
4    ,,,,,,t,,,
5    CJIDDEDHDC
Name: 44416, dtype: object
0           LG1
1         54918
2             A
3             8
4    .......^!.
5      EFIJJIGC
Name: 44751, dtype: object
0           LG1
1         54918
2             A
3             8
4    .......^!.
5      EFIJJIGC
Name: 44751, dtype: object
0           LG1
1         54918
2             A
3             8
4    .......^!.
5      EFIJJIGC
Name: 44751, dtype: object
0           LG1
1         54918
2             A
3             8
4    .......^!.
5      EFIJJIGC
Name: 44751, dtype: object
0           LG1
1         54918
2             A
3             8
4    .......^!.
5      EFIJJIGC
Name: 44751, dtype: object
0           LG1
1         54918
2             A
3             8
4    .......^!.
5      EFIJJIGC
Name: 44751, dtype: object
0           LG1
1         54918
2             A
3             8
4    .......^!.
5      EFIJJIGC
Name: 44751, dtype: object
0           LG1
1         54918
2             A
3             8
4    .......^!.
5      EFIJJIGC
Name: 44751, dtype: object
0           LG1
1         54923
2             A
3             9
4    .$........
5     C?IJJEEFC
Name: 44756, dtype: object
0           LG1
1         54923
2             A
3             9
4    .$........
5     C?IJJEEFC
Name: 44756, dtype: object
0           LG1
1         54923
2             A
3             9
4    .$........
5     C?IJJEEFC
Name: 44756, dtype: object
0           LG1
1         54923
2             A
3             9
4    .$........
5     C?IJJEEFC
Name: 44756, dtype: object
0           LG1
1         54923
2             A
3             9
4    .$........
5     C?IJJEEFC
Name: 44756, dtype: object
0           LG1
1         54923
2             A
3             9
4    .$........
5     C?IJJEEFC
Name: 44756, dtype: object
0           LG1
1         54923
2             A
3             9
4    .$........
5     C?IJJEEFC
Name: 44756, dtype: object
0           LG1
1         54923
2             A
3             9
4    .$........
5     C?IJJEEFC
Name: 44756, dtype: object
0           LG1
1         54923
2             A
3             9
4    .$........
5     C?IJJEEFC
Name: 44756, dtype: object
0           LG1
1         54930
2             A
3            10
4    ..........
5    BJJJIAHH=@
Name: 44763, dtype: object
0           LG1
1         54930
2             A
3            10
4    ..........
5    BJJJIAHH=@
Name: 44763, dtype: object
0           LG1
1         54930
2             A
3            10
4    ..........
5    BJJJIAHH=@
Name: 44763, dtype: object
0           LG1
1         54930
2             A
3            10
4    ..........
5    BJJJIAHH=@
Name: 44763, dtype: object
0           LG1
1         54930
2             A
3            10
4    ..........
5    BJJJIAHH=@
Name: 44763, dtype: object
0           LG1
1         54930
2             A
3            10
4    ..........
5    BJJJIAHH=@
Name: 44763, dtype: object
0           LG1
1         54930
2             A
3            10
4    ..........
5    BJJJIAHH=@
Name: 44763, dtype: object
0           LG1
1         54930
2             A
3            10
4    ..........
5    BJJJIAHH=@
Name: 44763, dtype: object
0           LG1
1         54930
2             A
3            10
4    ..........
5    BJJJIAHH=@
Name: 44763, dtype: object
0           LG1
1         55099
2             G
3            10
4    .,........
5    DHDFHDEIJJ
Name: 44932, dtype: object
0           LG1
1         55099
2             G
3            10
4    .,........
5    DHDFHDEIJJ
Name: 44932, dtype: object
0           LG1
1         55099
2             G
3            10
4    .,........
5    DHDFHDEIJJ
Name: 44932, dtype: object
0           LG1
1         55099
2             G
3            10
4    .,........
5    DHDFHDEIJJ
Name: 44932, dtype: object
0           LG1
1         55099
2             G
3            10
4    .,........
5    DHDFHDEIJJ
Name: 44932, dtype: object
0           LG1
1         55099
2             G
3            10
4    .,........
5    DHDFHDEIJJ
Name: 44932, dtype: object
0           LG1
1         55099
2             G
3            10
4    .,........
5    DHDFHDEIJJ
Name: 44932, dtype: object
0           LG1
1         55099
2             G
3            10
4    .,........
5    DHDFHDEIJJ
Name: 44932, dtype: object
0           LG1
1         55099
2             G
3            10
4    .,........
5    DHDFHDEIJJ
Name: 44932, dtype: object
0           LG1
1         55099
2             G
3            10
4    .,........
5    DHDFHDEIJJ
Name: 44932, dtype: object
0           LG1
1         55100
2             A
3            10
4    .,........
5    DHDFHDHGIG
Name: 44933, dtype: object
0           LG1
1         55100
2             A
3            10
4    .,........
5    DHDFHDHGIG
Name: 44933, dtype: object
0           LG1
1         55100
2             A
3            10
4    .,........
5    DHDFHDHGIG
Name: 44933, dtype: object
0           LG1
1         55100
2             A
3            10
4    .,........
5    DHDFHDHGIG
Name: 44933, dtype: object
0           LG1
1         55100
2             A
3            10
4    .,........
5    DHDFHDHGIG
Name: 44933, dtype: object
0           LG1
1         55100
2             A
3            10
4    .,........
5    DHDFHDHGIG
Name: 44933, dtype: object
0           LG1
1         55100
2             A
3            10
4    .,........
5    DHDFHDHGIG
Name: 44933, dtype: object
0           LG1
1         55100
2             A
3            10
4    .,........
5    DHDFHDHGIG
Name: 44933, dtype: object
0           LG1
1         55100
2             A
3            10
4    .,........
5    DHDFHDHGIG
Name: 44933, dtype: object
0           LG1
1         55100
2             A
3            10
4    .,........
5    DHDFHDHGIG
Name: 44933, dtype: object
0           LG1
1         55101
2             G
3            10
4    .,........
5    CFDFFDHIJI
Name: 44934, dtype: object
0           LG1
1         55101
2             G
3            10
4    .,........
5    CFDFFDHIJI
Name: 44934, dtype: object
0           LG1
1         55101
2             G
3            10
4    .,........
5    CFDFFDHIJI
Name: 44934, dtype: object
0           LG1
1         55101
2             G
3            10
4    .,........
5    CFDFFDHIJI
Name: 44934, dtype: object
0           LG1
1         55101
2             G
3            10
4    .,........
5    CFDFFDHIJI
Name: 44934, dtype: object
0           LG1
1         55101
2             G
3            10
4    .,........
5    CFDFFDHIJI
Name: 44934, dtype: object
0           LG1
1         55101
2             G
3            10
4    .,........
5    CFDFFDHIJI
Name: 44934, dtype: object
0           LG1
1         55101
2             G
3            10
4    .,........
5    CFDFFDHIJI
Name: 44934, dtype: object
0           LG1
1         55101
2             G
3            10
4    .,........
5    CFDFFDHIJI
Name: 44934, dtype: object
0           LG1
1         55101
2             G
3            10
4    .,........
5    CFDFFDHIJI
Name: 44934, dtype: object
0           LG1
1         55102
2             A
3            10
4    .,........
5    DFBFFDHFJG
Name: 44935, dtype: object
0           LG1
1         55102
2             A
3            10
4    .,........
5    DFBFFDHFJG
Name: 44935, dtype: object
0           LG1
1         55102
2             A
3            10
4    .,........
5    DFBFFDHFJG
Name: 44935, dtype: object
0           LG1
1         55102
2             A
3            10
4    .,........
5    DFBFFDHFJG
Name: 44935, dtype: object
0           LG1
1         55102
2             A
3            10
4    .,........
5    DFBFFDHFJG
Name: 44935, dtype: object
0           LG1
1         55102
2             A
3            10
4    .,........
5    DFBFFDHFJG
Name: 44935, dtype: object
0           LG1
1         55102
2             A
3            10
4    .,........
5    DFBFFDHFJG
Name: 44935, dtype: object
0           LG1
1         55102
2             A
3            10
4    .,........
5    DFBFFDHFJG
Name: 44935, dtype: object
0           LG1
1         55102
2             A
3            10
4    .,........
5    DFBFFDHFJG
Name: 44935, dtype: object
0           LG1
1         55102
2             A
3            10
4    .,........
5    DFBFFDHFJG
Name: 44935, dtype: object
0           LG1
1         55103
2             T
3            10
4    .,........
5    CFDFFCHFII
Name: 44936, dtype: object
0           LG1
1         55103
2             T
3            10
4    .,........
5    CFDFFCHFII
Name: 44936, dtype: object
0           LG1
1         55103
2             T
3            10
4    .,........
5    CFDFFCHFII
Name: 44936, dtype: object
0           LG1
1         55103
2             T
3            10
4    .,........
5    CFDFFCHFII
Name: 44936, dtype: object
0           LG1
1         55103
2             T
3            10
4    .,........
5    CFDFFCHFII
Name: 44936, dtype: object
0           LG1
1         55103
2             T
3            10
4    .,........
5    CFDFFCHFII
Name: 44936, dtype: object
0           LG1
1         55103
2             T
3            10
4    .,........
5    CFDFFCHFII
Name: 44936, dtype: object
0           LG1
1         55103
2             T
3            10
4    .,........
5    CFDFFCHFII
Name: 44936, dtype: object
0           LG1
1         55103
2             T
3            10
4    .,........
5    CFDFFCHFII
Name: 44936, dtype: object
0           LG1
1         55103
2             T
3            10
4    .,........
5    CFDFFCHFII
Name: 44936, dtype: object
0           LG1
1         55106
2             T
3            10
4    ,.........
5    CDFFEFHJJ@
Name: 44939, dtype: object
0           LG1
1         55106
2             T
3            10
4    ,.........
5    CDFFEFHJJ@
Name: 44939, dtype: object
0           LG1
1         55106
2             T
3            10
4    ,.........
5    CDFFEFHJJ@
Name: 44939, dtype: object
0           LG1
1         55106
2             T
3            10
4    ,.........
5    CDFFEFHJJ@
Name: 44939, dtype: object
0           LG1
1         55106
2             T
3            10
4    ,.........
5    CDFFEFHJJ@
Name: 44939, dtype: object
0           LG1
1         55106
2             T
3            10
4    ,.........
5    CDFFEFHJJ@
Name: 44939, dtype: object
0           LG1
1         55106
2             T
3            10
4    ,.........
5    CDFFEFHJJ@
Name: 44939, dtype: object
0           LG1
1         55106
2             T
3            10
4    ,.........
5    CDFFEFHJJ@
Name: 44939, dtype: object
0           LG1
1         55106
2             T
3            10
4    ,.........
5    CDFFEFHJJ@
Name: 44939, dtype: object
0           LG1
1         55106
2             T
3            10
4    ,.........
5    CDFFEFHJJ@
Name: 44939, dtype: object
0           LG1
1         55107
2             A
3            10
4    ,.........
5    CDEEEDFJH@
Name: 44940, dtype: object
0           LG1
1         55107
2             A
3            10
4    ,.........
5    CDEEEDFJH@
Name: 44940, dtype: object
0           LG1
1         55107
2             A
3            10
4    ,.........
5    CDEEEDFJH@
Name: 44940, dtype: object
0           LG1
1         55107
2             A
3            10
4    ,.........
5    CDEEEDFJH@
Name: 44940, dtype: object
0           LG1
1         55107
2             A
3            10
4    ,.........
5    CDEEEDFJH@
Name: 44940, dtype: object
0           LG1
1         55107
2             A
3            10
4    ,.........
5    CDEEEDFJH@
Name: 44940, dtype: object
0           LG1
1         55107
2             A
3            10
4    ,.........
5    CDEEEDFJH@
Name: 44940, dtype: object
0           LG1
1         55107
2             A
3            10
4    ,.........
5    CDEEEDFJH@
Name: 44940, dtype: object
0           LG1
1         55107
2             A
3            10
4    ,.........
5    CDEEEDFJH@
Name: 44940, dtype: object
0           LG1
1         55107
2             A
3            10
4    ,.........
5    CDEEEDFJH@
Name: 44940, dtype: object
0           LG1
1         55113
2             C
3            10
4    .......T.,
5    CDDDECHJHD
Name: 44946, dtype: object
0           LG1
1         55113
2             C
3            10
4    .......T.,
5    CDDDECHJHD
Name: 44946, dtype: object
0           LG1
1         55113
2             C
3            10
4    .......T.,
5    CDDDECHJHD
Name: 44946, dtype: object
0           LG1
1         55113
2             C
3            10
4    .......T.,
5    CDDDECHJHD
Name: 44946, dtype: object
0           LG1
1         55113
2             C
3            10
4    .......T.,
5    CDDDECHJHD
Name: 44946, dtype: object
0           LG1
1         55113
2             C
3            10
4    .......T.,
5    CDDDECHJHD
Name: 44946, dtype: object
0           LG1
1         55113
2             C
3            10
4    .......T.,
5    CDDDECHJHD
Name: 44946, dtype: object
0           LG1
1         55113
2             C
3            10
4    .......T.,
5    CDDDECHJHD
Name: 44946, dtype: object
0           LG1
1         55113
2             C
3            10
4    .......T.,
5    CDDDECHJHD

Name: 44946, dtype: object
0           LG1
1         55113
2             C
3            10
4    .......T.,
5    CDDDECHJHD
Name: 44946, dtype: object
0           LG1
1         55581
2             G
3             9
4    ,$,c,,,,,,
5     CFH5HHJJE
Name: 45414, dtype: object
0           LG1
1         55581
2             G
3             9
4    ,$,c,,,,,,
5     CFH5HHJJE
Name: 45414, dtype: object
0           LG1
1         55581
2             G
3             9
4    ,$,c,,,,,,
5     CFH5HHJJE
Name: 45414, dtype: object
0           LG1
1         55581
2             G
3             9
4    ,$,c,,,,,,
5     CFH5HHJJE
Name: 45414, dtype: object
0           LG1
1         55581
2             G
3             9
4    ,$,c,,,,,,
5     CFH5HHJJE
Name: 45414, dtype: object
0           LG1
1         55581
2             G
3             9
4    ,$,c,,,,,,
5     CFH5HHJJE
Name: 45414, dtype: object
0           LG1
1         55581
2             G
3             9
4    ,$,c,,,,,,
5     CFH5HHJJE
Name: 45414, dtype: object
0           LG1
1         55581
2             G
3             9
4    ,$,c,,,,,,
5     CFH5HHJJE
Name: 45414, dtype: object
0           LG1
1         55973
2             G
3            10
4    ...,,.,,,,
5    DDJ?FF>ECD
Name: 45687, dtype: object
0           LG1
1         55973
2             G
3            10
4    ...,,.,,,,
5    DDJ?FF>ECD
Name: 45687, dtype: object
0           LG1
1         55973
2             G
3            10
4    ...,,.,,,,
5    DDJ?FF>ECD
Name: 45687, dtype: object
0           LG1
1         55973
2             G
3            10
4    ...,,.,,,,
5    DDJ?FF>ECD
Name: 45687, dtype: object
0           LG1
1         55973
2             G
3            10
4    ...,,.,,,,
5    DDJ?FF>ECD
Name: 45687, dtype: object
0           LG1
1         55973
2             G
3            10
4    ...,,.,,,,
5    DDJ?FF>ECD
Name: 45687, dtype: object
0           LG1
1         55973
2             G
3            10
4    ...,,.,,,,
5    DDJ?FF>ECD
Name: 45687, dtype: object
0           LG1
1         55973
2             G
3            10
4    ...,,.,,,,
5    DDJ?FF>ECD
Name: 45687, dtype: object
0           LG1
1         55973
2             G
3            10
4    ...,,.,,,,
5    DDJ?FF>ECD
Name: 45687, dtype: object
0           LG1
1         56957
2             A
3            10
4    ,t,,,,.,,,
5    FJEJCJ??DD
Name: 46671, dtype: object
0           LG1
1         56957
2             A
3            10
4    ,t,,,,.,,,
5    FJEJCJ??DD
Name: 46671, dtype: object
0           LG1
1         56957
2             A
3            10
4    ,t,,,,.,,,
5    FJEJCJ??DD
Name: 46671, dtype: object
0           LG1
1         56957
2             A
3            10
4    ,t,,,,.,,,
5    FJEJCJ??DD
Name: 46671, dtype: object
0           LG1
1         56957
2             A
3            10
4    ,t,,,,.,,,
5    FJEJCJ??DD
Name: 46671, dtype: object
0           LG1
1         56957
2             A
3            10
4    ,t,,,,.,,,
5    FJEJCJ??DD
Name: 46671, dtype: object
0           LG1
1         56957
2             A
3            10
4    ,t,,,,.,,,
5    FJEJCJ??DD
Name: 46671, dtype: object
0           LG1
1         56957
2             A
3            10
4    ,t,,,,.,,,
5    FJEJCJ??DD
Name: 46671, dtype: object
0           LG1
1         56957
2             A
3            10
4    ,t,,,,.,,,
5    FJEJCJ??DD
Name: 46671, dtype: object
0           LG1
1         56957
2             A
3            10
4    ,t,,,,.,,,
5    FJEJCJ??DD
Name: 46671, dtype: object
0           LG1
1         56963
2             A
3            10
4    ,,,,,,.,,,
5    DHGJCHDED@
Name: 46677, dtype: object
0           LG1
1         56963
2             A
3            10
4    ,,,,,,.,,,
5    DHGJCHDED@
Name: 46677, dtype: object
0           LG1
1         56963
2             A
3            10
4    ,,,,,,.,,,
5    DHGJCHDED@
Name: 46677, dtype: object
0           LG1
1         56963
2             A
3            10
4    ,,,,,,.,,,
5    DHGJCHDED@
Name: 46677, dtype: object
0           LG1
1         56963
2             A
3            10
4    ,,,,,,.,,,
5    DHGJCHDED@
Name: 46677, dtype: object
0           LG1
1         56963
2             A
3            10
4    ,,,,,,.,,,
5    DHGJCHDED@
Name: 46677, dtype: object
0           LG1
1         56963
2             A
3            10
4    ,,,,,,.,,,
5    DHGJCHDED@
Name: 46677, dtype: object
0           LG1
1         56963
2             A
3            10
4    ,,,,,,.,,,
5    DHGJCHDED@
Name: 46677, dtype: object
0           LG1
1         56963
2             A
3            10
4    ,,,,,,.,,,
5    DHGJCHDED@
Name: 46677, dtype: object
0           LG1
1         56963
2             A
3            10
4    ,,,,,,.,,,
5    DHGJCHDED@
Name: 46677, dtype: object
0           LG1
1         56966
2             T
3            10
4    ,,,,,,.,,,
5    BFGJCH?<D8
Name: 46680, dtype: object
0           LG1
1         56966
2             T
3            10
4    ,,,,,,.,,,
5    BFGJCH?<D8
Name: 46680, dtype: object
0           LG1
1         56966
2             T
3            10
4    ,,,,,,.,,,
5    BFGJCH?<D8
Name: 46680, dtype: object
0           LG1
1         56966
2             T
3            10
4    ,,,,,,.,,,
5    BFGJCH?<D8
Name: 46680, dtype: object
0           LG1
1         56966
2             T
3            10
4    ,,,,,,.,,,
5    BFGJCH?<D8
Name: 46680, dtype: object
0           LG1
1         56966
2             T
3            10
4    ,,,,,,.,,,
5    BFGJCH?<D8
Name: 46680, dtype: object
0           LG1
1         56966
2             T
3            10
4    ,,,,,,.,,,
5    BFGJCH?<D8
Name: 46680, dtype: object
0           LG1
1         56966
2             T
3            10
4    ,,,,,,.,,,
5    BFGJCH?<D8
Name: 46680, dtype: object
0           LG1
1         57143
2             T
3            10
4    ,,.....,,.
5    DC<D<<DG>H
Name: 46857, dtype: object
0           LG1
1         57143
2             T
3            10
4    ,,.....,,.
5    DC<D<<DG>H
Name: 46857, dtype: object
0           LG1
1         57143
2             T
3            10
4    ,,.....,,.
5    DC<D<<DG>H
Name: 46857, dtype: object
0           LG1
1         57143
2             T
3            10
4    ,,.....,,.
5    DC<D<<DG>H
Name: 46857, dtype: object
0           LG1
1         57143
2             T
3            10
4    ,,.....,,.
5    DC<D<<DG>H
Name: 46857, dtype: object
0           LG1
1         57143
2             T
3            10
4    ,,.....,,.
5    DC<D<<DG>H
Name: 46857, dtype: object
0           LG1
1         57144
2             T
3             9
4    ,,....,,$.
5     @@ADBDI;H
Name: 46858, dtype: object
0           LG1
1         57144
2             T
3             9
4    ,,....,,$.
5     @@ADBDI;H
Name: 46858, dtype: object
0           LG1
1         57144
2             T
3             9
4    ,,....,,$.
5     @@ADBDI;H
Name: 46858, dtype: object
0           LG1
1         57144
2             T
3             9
4    ,,....,,$.
5     @@ADBDI;H
Name: 46858, dtype: object
0           LG1
1         57144
2             T
3             9
4    ,,....,,$.
5     @@ADBDI;H
Name: 46858, dtype: object
0           LG1
1         57144
2             T
3             9
4    ,,....,,$.
5     @@ADBDI;H
Name: 46858, dtype: object
0           LG1
1         57144
2             T
3             9
4    ,,....,,$.
5     @@ADBDI;H
Name: 46858, dtype: object
0           LG1
1         57144
2             T
3             9
4    ,,....,,$.
5     @@ADBDI;H
Name: 46858, dtype: object
0           LG1
1         57145
2             T
3             9
4    ,,$.....,.
5     <@CCD<DJH
Name: 46859, dtype: object
0           LG1
1         57145
2             T
3             9
4    ,,$.....,.
5     <@CCD<DJH
Name: 46859, dtype: object
0           LG1
1         57145
2             T
3             9
4    ,,$.....,.
5     <@CCD<DJH
Name: 46859, dtype: object
0           LG1
1         57145
2             T
3             9
4    ,,$.....,.
5     <@CCD<DJH
Name: 46859, dtype: object
0           LG1
1         57145
2             T
3             9
4    ,,$.....,.
5     <@CCD<DJH
Name: 46859, dtype: object
0           LG1
1         57145
2             T
3             9
4    ,,$.....,.
5     <@CCD<DJH
Name: 46859, dtype: object
0           LG1
1         57145
2             T
3             9
4    ,,$.....,.
5     <@CCD<DJH
Name: 46859, dtype: object
0           LG1
1         57181
2             C
3            10
4    ..,....,,.
5    JJDHFFFCD;
Name: 46895, dtype: object
0           LG1
1         57181
2             C
3            10
4    ..,....,,.
5    JJDHFFFCD;
Name: 46895, dtype: object
0           LG1
1         57181
2             C
3            10
4    ..,....,,.
5    JJDHFFFCD;
Name: 46895, dtype: object
0           LG1
1         57181
2             C
3            10
4    ..,....,,.
5    JJDHFFFCD;
Name: 46895, dtype: object
0           LG1
1         57181
2             C
3            10
4    ..,....,,.
5    JJDHFFFCD;
Name: 46895, dtype: object
0           LG1
1         57181
2             C
3            10
4    ..,....,,.
5    JJDHFFFCD;
Name: 46895, dtype: object
0           LG1
1         57181
2             C
3            10
4    ..,....,,.
5    JJDHFFFCD;
Name: 46895, dtype: object
0           LG1
1         57181
2             C
3            10
4    ..,....,,.
5    JJDHFFFCD;
Name: 46895, dtype: object
0           LG1
1         57181
2             C
3            10
4    ..,....,,.
5    JJDHFFFCD;
Name: 46895, dtype: object
0           LG1
1         57182
2             A
3            10
4    ..,....,,.
5    IJDDFFFDD;
Name: 46896, dtype: object
0           LG1
1         57182
2             A
3            10
4    ..,....,,.
5    IJDDFFFDD;
Name: 46896, dtype: object
0           LG1
1         57182
2             A
3            10
4    ..,....,,.
5    IJDDFFFDD;
Name: 46896, dtype: object
0           LG1
1         57182
2             A
3            10
4    ..,....,,.
5    IJDDFFFDD;
Name: 46896, dtype: object
0           LG1
1         57182
2             A
3            10
4    ..,....,,.
5    IJDDFFFDD;
Name: 46896, dtype: object
0           LG1
1         57182
2             A
3            10
4    ..,....,,.
5    IJDDFFFDD;
Name: 46896, dtype: object
0           LG1
1         57182
2             A
3            10
4    ..,....,,.
5    IJDDFFFDD;
Name: 46896, dtype: object
0           LG1
1         57182
2             A
3            10
4    ..,....,,.
5    IJDDFFFDD;
Name: 46896, dtype: object
0           LG1
1         57182
2             A
3            10
4    ..,....,,.
5    IJDDFFFDD;
Name: 46896, dtype: object
0           LG1
1         57183
2             T
3            10
4    ..,....,,.
5    IJDDHFFDDD
Name: 46897, dtype: object
0           LG1
1         57183
2             T
3            10
4    ..,....,,.
5    IJDDHFFDDD
Name: 46897, dtype: object
0           LG1
1         57183
2             T
3            10
4    ..,....,,.
5    IJDDHFFDDD
Name: 46897, dtype: object
0           LG1
1         57183
2             T
3            10
4    ..,....,,.
5    IJDDHFFDDD
Name: 46897, dtype: object
0           LG1
1         57183
2             T
3            10
4    ..,....,,.
5    IJDDHFFDDD
Name: 46897, dtype: object
0           LG1
1         57183
2             T
3            10
4    ..,....,,.
5    IJDDHFFDDD
Name: 46897, dtype: object
0           LG1
1         57183
2             T
3            10
4    ..,....,,.
5    IJDDHFFDDD
Name: 46897, dtype: object
0           LG1
1         57183
2             T
3            10
4    ..,....,,.
5    IJDDHFFDDD
Name: 46897, dtype: object
0           LG1
1         57183
2             T
3            10
4    ..,....,,.
5    IJDDHFFDDD
Name: 46897, dtype: object
0           LG1
1         57183
2             T
3            10
4    ..,....,,.
5    IJDDHFFDDD
Name: 46897, dtype: object
0           LG1
1         57184
2             C
3            10
4    ..,....,,.
5    IJDFHHFDDA
Name: 46898, dtype: object
0           LG1
1         57184
2             C
3            10
4    ..,....,,.
5    IJDFHHFDDA
Name: 46898, dtype: object
0           LG1
1         57184
2             C
3            10
4    ..,....,,.
5    IJDFHHFDDA
Name: 46898, dtype: object
0           LG1
1         57184
2             C
3            10
4    ..,....,,.
5    IJDFHHFDDA
Name: 46898, dtype: object
0           LG1
1         57184
2             C
3            10
4    ..,....,,.
5    IJDFHHFDDA
Name: 46898, dtype: object
0           LG1
1         57184
2             C
3            10
4    ..,....,,.
5    IJDFHHFDDA
Name: 46898, dtype: object
0           LG1
1         57184
2             C
3            10
4    ..,....,,.
5    IJDFHHFDDA
Name: 46898, dtype: object
0           LG1
1         57184
2             C
3            10
4    ..,....,,.
5    IJDFHHFDDA
Name: 46898, dtype: object
0           LG1
1         57184
2             C
3            10
4    ..,....,,.
5    IJDFHHFDDA
Name: 46898, dtype: object
0           LG1
1         57184
2             C
3            10
4    ..,....,,.
5    IJDFHHFDDA
Name: 46898, dtype: object
0           LG1
1         57186
2             A
3            10
4    ..,....,,.
5    GJDAHHHDDA
Name: 46900, dtype: object
0           LG1
1         57186
2             A
3            10
4    ..,....,,.
5    GJDAHHHDDA
Name: 46900, dtype: object
0           LG1
1         57186
2             A
3            10
4    ..,....,,.
5    GJDAHHHDDA
Name: 46900, dtype: object
0           LG1
1         57186
2             A
3            10
4    ..,....,,.
5    GJDAHHHDDA
Name: 46900, dtype: object
0           LG1
1         57186
2             A
3            10
4    ..,....,,.
5    GJDAHHHDDA
Name: 46900, dtype: object
0           LG1
1         57186
2             A
3            10
4    ..,....,,.
5    GJDAHHHDDA
Name: 46900, dtype: object
0           LG1
1         57186
2             A
3            10
4    ..,....,,.
5    GJDAHHHDDA
Name: 46900, dtype: object
0           LG1
1         57186
2             A
3            10
4    ..,....,,.
5    GJDAHHHDDA
Name: 46900, dtype: object
0           LG1
1         57186
2             A
3            10
4    ..,....,,.
5    GJDAHHHDDA
Name: 46900, dtype: object
0           LG1
1         57186
2             A
3            10
4    ..,....,,.
5    GJDAHHHDDA

Name: 46900, dtype: object
0           LG1
1         57187
2             A
3            10
4    ..,....,,G
5    JIDHHHHDD2
Name: 46901, dtype: object
0           LG1
1         57187
2             A
3            10
4    ..,....,,G
5    JIDHHHHDD2
Name: 46901, dtype: object
0           LG1
1         57187
2             A
3            10
4    ..,....,,G
5    JIDHHHHDD2
Name: 46901, dtype: object
0           LG1
1         57187
2             A
3            10
4    ..,....,,G
5    JIDHHHHDD2
Name: 46901, dtype: object
0           LG1
1         57187
2             A
3            10
4    ..,....,,G
5    JIDHHHHDD2
Name: 46901, dtype: object
0           LG1
1         57187
2             A
3            10
4    ..,....,,G
5    JIDHHHHDD2
Name: 46901, dtype: object
0           LG1
1         57187
2             A
3            10
4    ..,....,,G
5    JIDHHHHDD2
Name: 46901, dtype: object
0           LG1
1         57187
2             A
3            10
4    ..,....,,G
5    JIDHHHHDD2
Name: 46901, dtype: object
0           LG1
1         57187
2             A
3            10
4    ..,....,,G
5    JIDHHHHDD2
Name: 46901, dtype: object
0           LG1
1         57190
2             G
3            10
4    ..,....,,.
5    JHE@GGHDD?
Name: 46904, dtype: object
0           LG1
1         57190
2             G
3            10
4    ..,....,,.
5    JHE@GGHDD?
Name: 46904, dtype: object
0           LG1
1         57190
2             G
3            10
4    ..,....,,.
5    JHE@GGHDD?
Name: 46904, dtype: object
0           LG1
1         57190
2             G
3            10
4    ..,....,,.
5    JHE@GGHDD?
Name: 46904, dtype: object
0           LG1
1         57190
2             G
3            10
4    ..,....,,.
5    JHE@GGHDD?
Name: 46904, dtype: object
0           LG1
1         57190
2             G
3            10
4    ..,....,,.
5    JHE@GGHDD?
Name: 46904, dtype: object
0           LG1
1         57190
2             G
3            10
4    ..,....,,.
5    JHE@GGHDD?
Name: 46904, dtype: object
0           LG1
1         57190
2             G
3            10
4    ..,....,,.
5    JHE@GGHDD?
Name: 46904, dtype: object
0           LG1
1         57190
2             G
3            10
4    ..,....,,.
5    JHE@GGHDD?
Name: 46904, dtype: object
0           LG1
1         57190
2             G
3            10
4    ..,....,,.
5    JHE@GGHDD?
Name: 46904, dtype: object
0           LG1
1         58226
2             G
3            10
4    ,,,,,,,,,,
5    HJCCJJJJJD
Name: 47940, dtype: object
0           LG1
1         58226
2             G
3            10
4    ,,,,,,,,,,
5    HJCCJJJJJD
Name: 47940, dtype: object
0           LG1
1         58226
2             G
3            10
4    ,,,,,,,,,,
5    HJCCJJJJJD
Name: 47940, dtype: object
0           LG1
1         58226
2             G
3            10
4    ,,,,,,,,,,
5    HJCCJJJJJD
Name: 47940, dtype: object
0           LG1
1         58226
2             G
3            10
4    ,,,,,,,,,,
5    HJCCJJJJJD
Name: 47940, dtype: object
0           LG1
1         58226
2             G
3            10
4    ,,,,,,,,,,
5    HJCCJJJJJD
Name: 47940, dtype: object
0           LG1
1         58226
2             G
3            10
4    ,,,,,,,,,,
5    HJCCJJJJJD
Name: 47940, dtype: object
0           LG1
1         58226
2             G
3            10
4    ,,,,,,,,,,
5    HJCCJJJJJD
Name: 47940, dtype: object
0           LG1
1         58226
2             G
3            10
4    ,,,,,,,,,,
5    HJCCJJJJJD
Name: 47940, dtype: object
0           LG1
1         58226
2             G
3            10
4    ,,,,,,,,,,
5    HJCCJJJJJD
Name: 47940, dtype: object
0           LG1
1         58227
2             T
3            10
4    ,,,,,,,,,,
5    HIE9IJJIJD
Name: 47941, dtype: object
0           LG1
1         58227
2             T
3            10
4    ,,,,,,,,,,
5    HIE9IJJIJD
Name: 47941, dtype: object
0           LG1
1         58227
2             T
3            10
4    ,,,,,,,,,,
5    HIE9IJJIJD
Name: 47941, dtype: object
0           LG1
1         58227
2             T
3            10
4    ,,,,,,,,,,
5    HIE9IJJIJD
Name: 47941, dtype: object
0           LG1
1         58227
2             T
3            10
4    ,,,,,,,,,,
5    HIE9IJJIJD
Name: 47941, dtype: object
0           LG1
1         58227
2             T
3            10
4    ,,,,,,,,,,
5    HIE9IJJIJD
Name: 47941, dtype: object
0           LG1
1         58227
2             T
3            10
4    ,,,,,,,,,,
5    HIE9IJJIJD
Name: 47941, dtype: object
0           LG1
1         58227
2             T
3            10
4    ,,,,,,,,,,
5    HIE9IJJIJD
Name: 47941, dtype: object
0           LG1
1         58227
2             T
3            10
4    ,,,,,,,,,,
5    HIE9IJJIJD
Name: 47941, dtype: object
0           LG1
1         58228
2             A
3            10
4    ,,,,,,,,,,
5    HJHEJJJJJD
Name: 47942, dtype: object
0           LG1
1         58228
2             A
3            10
4    ,,,,,,,,,,
5    HJHEJJJJJD
Name: 47942, dtype: object
0           LG1
1         58228
2             A
3            10
4    ,,,,,,,,,,
5    HJHEJJJJJD
Name: 47942, dtype: object
0           LG1
1         58228
2             A
3            10
4    ,,,,,,,,,,
5    HJHEJJJJJD
Name: 47942, dtype: object
0           LG1
1         58228
2             A
3            10
4    ,,,,,,,,,,
5    HJHEJJJJJD
Name: 47942, dtype: object
0           LG1
1         58228
2             A
3            10
4    ,,,,,,,,,,
5    HJHEJJJJJD
Name: 47942, dtype: object
0           LG1
1         58228
2             A
3            10
4    ,,,,,,,,,,
5    HJHEJJJJJD
Name: 47942, dtype: object
0           LG1
1         58228
2             A
3            10
4    ,,,,,,,,,,
5    HJHEJJJJJD
Name: 47942, dtype: object
0           LG1
1         58228
2             A
3            10
4    ,,,,,,,,,,
5    HJHEJJJJJD
Name: 47942, dtype: object
0           LG1
1         58228
2             A
3            10
4    ,,,,,,,,,,
5    HJHEJJJJJD
Name: 47942, dtype: object
0           LG1
1         58229
2             T
3            10
4    ,,,,,,,,,,
5    FJGFIJJJJD
Name: 47943, dtype: object
0           LG1
1         58229
2             T
3            10
4    ,,,,,,,,,,
5    FJGFIJJJJD
Name: 47943, dtype: object
0           LG1
1         58229
2             T
3            10
4    ,,,,,,,,,,
5    FJGFIJJJJD
Name: 47943, dtype: object
0           LG1
1         58229
2             T
3            10
4    ,,,,,,,,,,
5    FJGFIJJJJD
Name: 47943, dtype: object
0           LG1
1         58229
2             T
3            10
4    ,,,,,,,,,,
5    FJGFIJJJJD
Name: 47943, dtype: object
0           LG1
1         58229
2             T
3            10
4    ,,,,,,,,,,
5    FJGFIJJJJD
Name: 47943, dtype: object
0           LG1
1         58229
2             T
3            10
4    ,,,,,,,,,,
5    FJGFIJJJJD
Name: 47943, dtype: object
0           LG1
1         58229
2             T
3            10
4    ,,,,,,,,,,
5    FJGFIJJJJD
Name: 47943, dtype: object
0           LG1
1         58229
2             T
3            10
4    ,,,,,,,,,,
5    FJGFIJJJJD
Name: 47943, dtype: object
0           LG1
1         58229
2             T
3            10
4    ,,,,,,,,,,
5    FJGFIJJJJD
Name: 47943, dtype: object
0           LG1
1         58230
2             G
3            10
4    ,,,,,,,,,,
5    FJJFJJJJJD
Name: 47944, dtype: object
0           LG1
1         58230
2             G
3            10
4    ,,,,,,,,,,
5    FJJFJJJJJD
Name: 47944, dtype: object
0           LG1
1         58230
2             G
3            10
4    ,,,,,,,,,,
5    FJJFJJJJJD
Name: 47944, dtype: object
0           LG1
1         58230
2             G
3            10
4    ,,,,,,,,,,
5    FJJFJJJJJD
Name: 47944, dtype: object
0           LG1
1         58230
2             G
3            10
4    ,,,,,,,,,,
5    FJJFJJJJJD
Name: 47944, dtype: object
0           LG1
1         58230
2             G
3            10
4    ,,,,,,,,,,
5    FJJFJJJJJD
Name: 47944, dtype: object
0           LG1
1         58230
2             G
3            10
4    ,,,,,,,,,,
5    FJJFJJJJJD
Name: 47944, dtype: object
0           LG1
1         58230
2             G
3            10
4    ,,,,,,,,,,
5    FJJFJJJJJD
Name: 47944, dtype: object
0           LG1
1         58230
2             G
3            10
4    ,,,,,,,,,,
5    FJJFJJJJJD
Name: 47944, dtype: object
0           LG1
1         58230
2             G
3            10
4    ,,,,,,,,,,
5    FJJFJJJJJD
Name: 47944, dtype: object
0           LG1
1         58231
2             A
3            10
4    ,,,,,,,,,,
5    FJG4JJIJJD
Name: 47945, dtype: object
0           LG1
1         58231
2             A
3            10
4    ,,,,,,,,,,
5    FJG4JJIJJD
Name: 47945, dtype: object
0           LG1
1         58231
2             A
3            10
4    ,,,,,,,,,,
5    FJG4JJIJJD
Name: 47945, dtype: object
0           LG1
1         58231
2             A
3            10
4    ,,,,,,,,,,
5    FJG4JJIJJD
Name: 47945, dtype: object
0           LG1
1         58231
2             A
3            10
4    ,,,,,,,,,,
5    FJG4JJIJJD
Name: 47945, dtype: object
0           LG1
1         58231
2             A
3            10
4    ,,,,,,,,,,
5    FJG4JJIJJD
Name: 47945, dtype: object
0           LG1
1         58231
2             A
3            10
4    ,,,,,,,,,,
5    FJG4JJIJJD
Name: 47945, dtype: object
0           LG1
1         58231
2             A
3            10
4    ,,,,,,,,,,
5    FJG4JJIJJD
Name: 47945, dtype: object
0           LG1
1         58231
2             A
3            10
4    ,,,,,,,,,,
5    FJG4JJIJJD
Name: 47945, dtype: object
0           LG1
1         58232
2             G
3            10
4    ,,,,,,,,,,
5    FHHEJJIJJC
Name: 47946, dtype: object
0           LG1
1         58232
2             G
3            10
4    ,,,,,,,,,,
5    FHHEJJIJJC
Name: 47946, dtype: object
0           LG1
1         58232
2             G
3            10
4    ,,,,,,,,,,
5    FHHEJJIJJC
Name: 47946, dtype: object
0           LG1
1         58232
2             G
3            10
4    ,,,,,,,,,,
5    FHHEJJIJJC
Name: 47946, dtype: object
0           LG1
1         58232
2             G
3            10
4    ,,,,,,,,,,
5    FHHEJJIJJC
Name: 47946, dtype: object
0           LG1
1         58232
2             G
3            10
4    ,,,,,,,,,,
5    FHHEJJIJJC
Name: 47946, dtype: object
0           LG1
1         58232
2             G
3            10
4    ,,,,,,,,,,
5    FHHEJJIJJC
Name: 47946, dtype: object
0           LG1
1         58232
2             G
3            10
4    ,,,,,,,,,,
5    FHHEJJIJJC
Name: 47946, dtype: object
0           LG1
1         58232
2             G
3            10
4    ,,,,,,,,,,
5    FHHEJJIJJC
Name: 47946, dtype: object
0           LG1
1         58232
2             G
3            10
4    ,,,,,,,,,,
5    FHHEJJIJJC
Name: 47946, dtype: object
0           LG1
1         58233
2             T
3            10
4    ,,,,,,,,,,
5    FH@FIJJIJC
Name: 47947, dtype: object
0           LG1
1         58233
2             T
3            10
4    ,,,,,,,,,,
5    FH@FIJJIJC
Name: 47947, dtype: object
0           LG1
1         58233
2             T
3            10
4    ,,,,,,,,,,
5    FH@FIJJIJC
Name: 47947, dtype: object
0           LG1
1         58233
2             T
3            10
4    ,,,,,,,,,,
5    FH@FIJJIJC
Name: 47947, dtype: object
0           LG1
1         58233
2             T
3            10
4    ,,,,,,,,,,
5    FH@FIJJIJC
Name: 47947, dtype: object
0           LG1
1         58233
2             T
3            10
4    ,,,,,,,,,,
5    FH@FIJJIJC
Name: 47947, dtype: object
0           LG1
1         58233
2             T
3            10
4    ,,,,,,,,,,
5    FH@FIJJIJC
Name: 47947, dtype: object
0           LG1
1         58233
2             T
3            10
4    ,,,,,,,,,,
5    FH@FIJJIJC
Name: 47947, dtype: object
0           LG1
1         58233
2             T
3            10
4    ,,,,,,,,,,
5    FH@FIJJIJC
Name: 47947, dtype: object
0           LG1
1         58233
2             T
3            10
4    ,,,,,,,,,,
5    FH@FIJJIJC
Name: 47947, dtype: object
0           LG1
1         58234
2             C
3            10
4    ,,,,,,,,,,
5    >HGFIJJJJD
Name: 47948, dtype: object
0           LG1
1         58234
2             C
3            10
4    ,,,,,,,,,,
5    >HGFIJJJJD
Name: 47948, dtype: object
0           LG1
1         58234
2             C
3            10
4    ,,,,,,,,,,
5    >HGFIJJJJD
Name: 47948, dtype: object
0           LG1
1         58234
2             C
3            10
4    ,,,,,,,,,,
5    >HGFIJJJJD
Name: 47948, dtype: object
0           LG1
1         58234
2             C
3            10
4    ,,,,,,,,,,
5    >HGFIJJJJD
Name: 47948, dtype: object
0           LG1
1         58234
2             C
3            10
4    ,,,,,,,,,,
5    >HGFIJJJJD
Name: 47948, dtype: object
0           LG1
1         58234
2             C
3            10
4    ,,,,,,,,,,
5    >HGFIJJJJD
Name: 47948, dtype: object
0           LG1
1         58234
2             C
3            10
4    ,,,,,,,,,,
5    >HGFIJJJJD
Name: 47948, dtype: object
0           LG1
1         58234
2             C
3            10
4    ,,,,,,,,,,
5    >HGFIJJJJD
Name: 47948, dtype: object
0           LG1
1         58235
2             A
3            10
4    g,,,,,,,,,
5    .HIDJJIJJE
Name: 47949, dtype: object
0           LG1
1         58235
2             A
3            10
4    g,,,,,,,,,
5    .HIDJJIJJE
Name: 47949, dtype: object
0           LG1
1         58235
2             A
3            10
4    g,,,,,,,,,
5    .HIDJJIJJE
Name: 47949, dtype: object
0           LG1
1         58235
2             A
3            10
4    g,,,,,,,,,
5    .HIDJJIJJE
Name: 47949, dtype: object
0           LG1
1         58235
2             A
3            10
4    g,,,,,,,,,
5    .HIDJJIJJE
Name: 47949, dtype: object
0           LG1
1         58235
2             A
3            10
4    g,,,,,,,,,
5    .HIDJJIJJE
Name: 47949, dtype: object
0           LG1
1         58235
2             A
3            10
4    g,,,,,,,,,
5    .HIDJJIJJE
Name: 47949, dtype: object
0           LG1
1         58235
2             A
3            10
4    g,,,,,,,,,
5    .HIDJJIJJE
Name: 47949, dtype: object
0           LG1
1         58235
2             A
3            10
4    g,,,,,,,,,
5    .HIDJJIJJE
Name: 47949, dtype: object
0           LG1
1         58925
2             C
3             8
4    .......^!.
5      I2H8FCCB
Name: 48043, dtype: object
0           LG1
1         58925
2             C
3             8
4    .......^!.
5      I2H8FCCB

Name: 48043, dtype: object
0           LG1
1         58925
2             C
3             8
4    .......^!.
5      I2H8FCCB
Name: 48043, dtype: object
0           LG1
1         58925
2             C
3             8
4    .......^!.
5      I2H8FCCB
Name: 48043, dtype: object
0           LG1
1         58925
2             C
3             8
4    .......^!.
5      I2H8FCCB
Name: 48043, dtype: object
0           LG1
1         58925
2             C
3             8
4    .......^!.
5      I2H8FCCB
Name: 48043, dtype: object
0           LG1
1         58933
2             G
3            10
4    ..........
5    IJ/HHHHFFC
Name: 48051, dtype: object
0           LG1
1         58933
2             G
3            10
4    ..........
5    IJ/HHHHFFC
Name: 48051, dtype: object
0           LG1
1         58933
2             G
3            10
4    ..........
5    IJ/HHHHFFC
Name: 48051, dtype: object
0           LG1
1         58933
2             G
3            10
4    ..........
5    IJ/HHHHFFC
Name: 48051, dtype: object
0           LG1
1         58933
2             G
3            10
4    ..........
5    IJ/HHHHFFC
Name: 48051, dtype: object
0           LG1
1         58933
2             G
3            10
4    ..........
5    IJ/HHHHFFC
Name: 48051, dtype: object
0           LG1
1         58933
2             G
3            10
4    ..........
5    IJ/HHHHFFC
Name: 48051, dtype: object
0           LG1
1         58933
2             G
3            10
4    ..........
5    IJ/HHHHFFC
Name: 48051, dtype: object
0           LG1
1         58933
2             G
3            10
4    ..........
5    IJ/HHHHFFC
Name: 48051, dtype: object
0           LG1
1         59480
2             T
3            10
4    c,cc,Ccc.,
5    IIIIIJAJCJ
Name: 48598, dtype: object
0           LG1
1         59480
2             T
3            10
4    c,cc,Ccc.,
5    IIIIIJAJCJ
Name: 48598, dtype: object
0           LG1
1         59480
2             T
3            10
4    c,cc,Ccc.,
5    IIIIIJAJCJ
Name: 48598, dtype: object
0           LG1
1         59480
2             T
3            10
4    c,cc,Ccc.,
5    IIIIIJAJCJ
Name: 48598, dtype: object
0           LG1
1         59480
2             T
3            10
4    c,cc,Ccc.,
5    IIIIIJAJCJ
Name: 48598, dtype: object
0           LG1
1         59480
2             T
3            10
4    c,cc,Ccc.,
5    IIIIIJAJCJ
Name: 48598, dtype: object
0           LG1
1         59480
2             T
3            10
4    c,cc,Ccc.,
5    IIIIIJAJCJ
Name: 48598, dtype: object
0           LG1
1         59480
2             T
3            10
4    c,cc,Ccc.,
5    IIIIIJAJCJ
Name: 48598, dtype: object
0           LG1
1         59480
2             T
3            10
4    c,cc,Ccc.,
5    IIIIIJAJCJ
Name: 48598, dtype: object
0           LG1
1         59480
2             T
3            10
4    c,cc,Ccc.,
5    IIIIIJAJCJ
Name: 48598, dtype: object
0           LG1
1         59481
2             G
3            10
4    ,,,,,,.,,,
5    JJGJJAJAJI
Name: 48599, dtype: object
0           LG1
1         59481
2             G
3            10
4    ,,,,,,.,,,
5    JJGJJAJAJI
Name: 48599, dtype: object
0           LG1
1         59481
2             G
3            10
4    ,,,,,,.,,,
5    JJGJJAJAJI
Name: 48599, dtype: object
0           LG1
1         59481
2             G
3            10
4    ,,,,,,.,,,
5    JJGJJAJAJI
Name: 48599, dtype: object
0           LG1
1         59481
2             G
3            10
4    ,,,,,,.,,,
5    JJGJJAJAJI
Name: 48599, dtype: object
0           LG1
1         59481
2             G
3            10
4    ,,,,,,.,,,
5    JJGJJAJAJI
Name: 48599, dtype: object
0           LG1
1         59481
2             G
3            10
4    ,,,,,,.,,,
5    JJGJJAJAJI
Name: 48599, dtype: object
0           LG1
1         59481
2             G
3            10
4    ,,,,,,.,,,
5    JJGJJAJAJI
Name: 48599, dtype: object
0           LG1
1         59481
2             G
3            10
4    ,,,,,,.,,,
5    JJGJJAJAJI
Name: 48599, dtype: object
0           LG1
1         59481
2             G
3            10
4    ,,,,,,.,,,
5    JJGJJAJAJI
Name: 48599, dtype: object
0           LG1
1         59482
2             C
3            10
4    ,,,,,.,,.,
5    JJGIIJ@JAI
Name: 48600, dtype: object
0           LG1
1         59482
2             C
3            10
4    ,,,,,.,,.,
5    JJGIIJ@JAI
Name: 48600, dtype: object
0           LG1
1         59482
2             C
3            10
4    ,,,,,.,,.,
5    JJGIIJ@JAI
Name: 48600, dtype: object
0           LG1
1         59482
2             C
3            10
4    ,,,,,.,,.,
5    JJGIIJ@JAI
Name: 48600, dtype: object
0           LG1
1         59482
2             C
3            10
4    ,,,,,.,,.,
5    JJGIIJ@JAI
Name: 48600, dtype: object
0           LG1
1         59482
2             C
3            10
4    ,,,,,.,,.,
5    JJGIIJ@JAI
Name: 48600, dtype: object
0           LG1
1         59482
2             C
3            10
4    ,,,,,.,,.,
5    JJGIIJ@JAI
Name: 48600, dtype: object
0           LG1
1         59482
2             C
3            10
4    ,,,,,.,,.,
5    JJGIIJ@JAI
Name: 48600, dtype: object
0           LG1
1         59482
2             C
3            10
4    ,,,,,.,,.,
5    JJGIIJ@JAI
Name: 48600, dtype: object
0           LG1
1         59482
2             C
3            10
4    ,,,,,.,,.,
5    JJGIIJ@JAI
Name: 48600, dtype: object
0           LG1
1         59485
2             A
3            10
4    ,,,,,,.,,,
5    JJJJIBJBJI
Name: 48603, dtype: object
0           LG1
1         59485
2             A
3            10
4    ,,,,,,.,,,
5    JJJJIBJBJI
Name: 48603, dtype: object
0           LG1
1         59485
2             A
3            10
4    ,,,,,,.,,,
5    JJJJIBJBJI
Name: 48603, dtype: object
0           LG1
1         59485
2             A
3            10
4    ,,,,,,.,,,
5    JJJJIBJBJI
Name: 48603, dtype: object
0           LG1
1         59485
2             A
3            10
4    ,,,,,,.,,,
5    JJJJIBJBJI
Name: 48603, dtype: object
0           LG1
1         59485
2             A
3            10
4    ,,,,,,.,,,
5    JJJJIBJBJI
Name: 48603, dtype: object
0           LG1
1         59485
2             A
3            10
4    ,,,,,,.,,,
5    JJJJIBJBJI
Name: 48603, dtype: object
0           LG1
1         59485
2             A
3            10
4    ,,,,,,.,,,
5    JJJJIBJBJI
Name: 48603, dtype: object
0           LG1
1         59485
2             A
3            10
4    ,,,,,,.,,,
5    JJJJIBJBJI
Name: 48603, dtype: object
0           LG1
1         59485
2             A
3            10
4    ,,,,,,.,,,
5    JJJJIBJBJI
Name: 48603, dtype: object
0           LG1
1         59503
2             C
3            10
4    ,,,,.,,,.,
5    HIJ:H;JDGB
Name: 48621, dtype: object
0           LG1
1         59503
2             C
3            10
4    ,,,,.,,,.,
5    HIJ:H;JDGB
Name: 48621, dtype: object
0           LG1
1         59503
2             C
3            10
4    ,,,,.,,,.,
5    HIJ:H;JDGB
Name: 48621, dtype: object
0           LG1
1         59503
2             C
3            10
4    ,,,,.,,,.,
5    HIJ:H;JDGB
Name: 48621, dtype: object
0           LG1
1         59503
2             C
3            10
4    ,,,,.,,,.,
5    HIJ:H;JDGB
Name: 48621, dtype: object
0           LG1
1         59503
2             C
3            10
4    ,,,,.,,,.,
5    HIJ:H;JDGB
Name: 48621, dtype: object
0           LG1
1         59503
2             C
3            10
4    ,,,,.,,,.,
5    HIJ:H;JDGB
Name: 48621, dtype: object
0           LG1
1         59503
2             C
3            10
4    ,,,,.,,,.,
5    HIJ:H;JDGB
Name: 48621, dtype: object
0           LG1
1         59504
2             T
3            10
4    ,,,,.,,,.,
5    HHJ=G=IGGD
Name: 48622, dtype: object
0           LG1
1         59504
2             T
3            10
4    ,,,,.,,,.,
5    HHJ=G=IGGD
Name: 48622, dtype: object
0           LG1
1         59504
2             T
3            10
4    ,,,,.,,,.,
5    HHJ=G=IGGD
Name: 48622, dtype: object
0           LG1
1         59504
2             T
3            10
4    ,,,,.,,,.,
5    HHJ=G=IGGD
Name: 48622, dtype: object
0           LG1
1         59504
2             T
3            10
4    ,,,,.,,,.,
5    HHJ=G=IGGD
Name: 48622, dtype: object
0           LG1
1         59504
2             T
3            10
4    ,,,,.,,,.,
5    HHJ=G=IGGD
Name: 48622, dtype: object
0           LG1
1         59504
2             T
3            10
4    ,,,,.,,,.,
5    HHJ=G=IGGD
Name: 48622, dtype: object
0           LG1
1         59504
2             T
3            10
4    ,,,,.,,,.,
5    HHJ=G=IGGD
Name: 48622, dtype: object
0           LG1
1         59617
2             A
3            10
4    ,,,,,,,...
5    CHJJJJEFBH
Name: 48735, dtype: object
0           LG1
1         59617
2             A
3            10
4    ,,,,,,,...
5    CHJJJJEFBH
Name: 48735, dtype: object
0           LG1
1         59617
2             A
3            10
4    ,,,,,,,...
5    CHJJJJEFBH
Name: 48735, dtype: object
0           LG1
1         59617
2             A
3            10
4    ,,,,,,,...
5    CHJJJJEFBH
Name: 48735, dtype: object
0           LG1
1         59617
2             A
3            10
4    ,,,,,,,...
5    CHJJJJEFBH
Name: 48735, dtype: object
0           LG1
1         59617
2             A
3            10
4    ,,,,,,,...
5    CHJJJJEFBH
Name: 48735, dtype: object
0           LG1
1         59617
2             A
3            10
4    ,,,,,,,...
5    CHJJJJEFBH
Name: 48735, dtype: object
0           LG1
1         59617
2             A
3            10
4    ,,,,,,,...
5    CHJJJJEFBH
Name: 48735, dtype: object
0           LG1
1         59617
2             A
3            10
4    ,,,,,,,...
5    CHJJJJEFBH
Name: 48735, dtype: object
0           LG1
1         59617
2             A
3            10
4    ,,,,,,,...
5    CHJJJJEFBH
Name: 48735, dtype: object
0           LG1
1         59620
2             T
3            10
4    ,,,,,,....
5    FJJJJHFAJC
Name: 48738, dtype: object
0           LG1
1         59620
2             T
3            10
4    ,,,,,,....
5    FJJJJHFAJC
Name: 48738, dtype: object
0           LG1
1         59620
2             T
3            10
4    ,,,,,,....
5    FJJJJHFAJC
Name: 48738, dtype: object
0           LG1
1         59620
2             T
3            10
4    ,,,,,,....
5    FJJJJHFAJC
Name: 48738, dtype: object
0           LG1
1         59620
2             T
3            10
4    ,,,,,,....
5    FJJJJHFAJC
Name: 48738, dtype: object
0           LG1
1         59620
2             T
3            10
4    ,,,,,,....
5    FJJJJHFAJC
Name: 48738, dtype: object
0           LG1
1         59620
2             T
3            10
4    ,,,,,,....
5    FJJJJHFAJC
Name: 48738, dtype: object
0           LG1
1         59620
2             T
3            10
4    ,,,,,,....
5    FJJJJHFAJC
Name: 48738, dtype: object
0           LG1
1         59620
2             T
3            10
4    ,,,,,,....
5    FJJJJHFAJC
Name: 48738, dtype: object
0           LG1
1         59620
2             T
3            10
4    ,,,,,,....
5    FJJJJHFAJC
Name: 48738, dtype: object
0           LG1
1         59622
2             A
3            10
4    ,,,,,,T...
5    FJJJJ<D?JF
Name: 48740, dtype: object
0           LG1
1         59622
2             A
3            10
4    ,,,,,,T...
5    FJJJJ<D?JF
Name: 48740, dtype: object
0           LG1
1         59622
2             A
3            10
4    ,,,,,,T...
5    FJJJJ<D?JF
Name: 48740, dtype: object
0           LG1
1         59622
2             A
3            10
4    ,,,,,,T...
5    FJJJJ<D?JF
Name: 48740, dtype: object
0           LG1
1         59622
2             A
3            10
4    ,,,,,,T...
5    FJJJJ<D?JF
Name: 48740, dtype: object
0           LG1
1         59622
2             A
3            10
4    ,,,,,,T...
5    FJJJJ<D?JF
Name: 48740, dtype: object
0           LG1
1         59622
2             A
3            10
4    ,,,,,,T...
5    FJJJJ<D?JF
Name: 48740, dtype: object
0           LG1
1         59622
2             A
3            10
4    ,,,,,,T...
5    FJJJJ<D?JF
Name: 48740, dtype: object
0           LG1
1         59622
2             A
3            10
4    ,,,,,,T...
5    FJJJJ<D?JF
Name: 48740, dtype: object
0           LG1
1         59625
2             C
3             9
4    ,$,,,,,...
5     @HGIJ<EIF
Name: 48743, dtype: object
0           LG1
1         59625
2             C
3             9
4    ,$,,,,,...
5     @HGIJ<EIF
Name: 48743, dtype: object
0           LG1
1         59625
2             C
3             9
4    ,$,,,,,...
5     @HGIJ<EIF
Name: 48743, dtype: object
0           LG1
1         59625
2             C
3             9
4    ,$,,,,,...
5     @HGIJ<EIF
Name: 48743, dtype: object
0           LG1
1         59625
2             C
3             9
4    ,$,,,,,...
5     @HGIJ<EIF
Name: 48743, dtype: object
0           LG1
1         59625
2             C
3             9
4    ,$,,,,,...
5     @HGIJ<EIF
Name: 48743, dtype: object
0           LG1
1         59625
2             C
3             9
4    ,$,,,,,...
5     @HGIJ<EIF
Name: 48743, dtype: object
0           LG1
1         59625
2             C
3             9
4    ,$,,,,,...
5     @HGIJ<EIF
Name: 48743, dtype: object
0           LG1
1         59664
2             C
3            10
4    G.....,.,.
5    CIJHGFCCDC
Name: 48782, dtype: object
0           LG1
1         59664
2             C
3            10
4    G.....,.,.
5    CIJHGFCCDC
Name: 48782, dtype: object
0           LG1
1         59664
2             C
3            10
4    G.....,.,.
5    CIJHGFCCDC
Name: 48782, dtype: object
0           LG1
1         59664
2             C
3            10
4    G.....,.,.
5    CIJHGFCCDC
Name: 48782, dtype: object
0           LG1
1         59664
2             C
3            10
4    G.....,.,.
5    CIJHGFCCDC
Name: 48782, dtype: object
0           LG1
1         59664
2             C
3            10
4    G.....,.,.
5    CIJHGFCCDC
Name: 48782, dtype: object
0           LG1
1         59664
2             C
3            10
4    G.....,.,.
5    CIJHGFCCDC
Name: 48782, dtype: object
0           LG1
1         59664
2             C
3            10
4    G.....,.,.
5    CIJHGFCCDC
Name: 48782, dtype: object
0           LG1
1         59664
2             C
3            10
4    G.....,.,.
5    CIJHGFCCDC
Name: 48782, dtype: object
0           LG1
1         59664
2             C
3            10
4    G.....,.,.
5    CIJHGFCCDC
Name: 48782, dtype: object
0           LG1
1         59665
2             A
3            10
4    ......,.,.
5    HIJHHFDFEC
Name: 48783, dtype: object
0           LG1
1         59665
2             A
3            10
4    ......,.,.
5    HIJHHFDFEC
Name: 48783, dtype: object
0           LG1
1         59665
2             A
3            10
4    ......,.,.
5    HIJHHFDFEC
Name: 48783, dtype: object
0           LG1
1         59665
2             A
3            10
4    ......,.,.
5    HIJHHFDFEC
Name: 48783, dtype: object
0           LG1
1         59665
2             A
3            10
4    ......,.,.
5    HIJHHFDFEC
Name: 48783, dtype: object
0           LG1
1         59665
2             A
3            10
4    ......,.,.
5    HIJHHFDFEC
Name: 48783, dtype: object
0           LG1
1         59665
2             A
3            10
4    ......,.,.
5    HIJHHFDFEC
Name: 48783, dtype: object
0           LG1
1         59665
2             A
3            10
4    ......,.,.
5    HIJHHFDFEC
Name: 48783, dtype: object
0           LG1
1         59665
2             A
3            10
4    ......,.,.
5    HIJHHFDFEC
Name: 48783, dtype: object
0           LG1
1         59665
2             A
3            10
4    ......,.,.
5    HIJHHFDFEC

Name: 48783, dtype: object
0           LG1
1         59666
2             T
3            10
4    ......,.,.
5    HJJJHFDFDF
Name: 48784, dtype: object
0           LG1
1         59666
2             T
3            10
4    ......,.,.
5    HJJJHFDFDF
Name: 48784, dtype: object
0           LG1
1         59666
2             T
3            10
4    ......,.,.
5    HJJJHFDFDF
Name: 48784, dtype: object
0           LG1
1         59666
2             T
3            10
4    ......,.,.
5    HJJJHFDFDF
Name: 48784, dtype: object
0           LG1
1         59666
2             T
3            10
4    ......,.,.
5    HJJJHFDFDF
Name: 48784, dtype: object
0           LG1
1         59666
2             T
3            10
4    ......,.,.
5    HJJJHFDFDF
Name: 48784, dtype: object
0           LG1
1         59666
2             T
3            10
4    ......,.,.
5    HJJJHFDFDF
Name: 48784, dtype: object
0           LG1
1         59666
2             T
3            10
4    ......,.,.
5    HJJJHFDFDF
Name: 48784, dtype: object
0           LG1
1         59666
2             T
3            10
4    ......,.,.
5    HJJJHFDFDF
Name: 48784, dtype: object
0           LG1
1         59666
2             T
3            10
4    ......,.,.
5    HJJJHFDFDF
Name: 48784, dtype: object
0           LG1
1         59764
2             A
3            10
4    .,..,,..g,
5    DJDCFJFD3C
Name: 48882, dtype: object
0           LG1
1         59764
2             A
3            10
4    .,..,,..g,
5    DJDCFJFD3C
Name: 48882, dtype: object
0           LG1
1         59764
2             A
3            10
4    .,..,,..g,
5    DJDCFJFD3C
Name: 48882, dtype: object
0           LG1
1         59764
2             A
3            10
4    .,..,,..g,
5    DJDCFJFD3C
Name: 48882, dtype: object
0           LG1
1         59764
2             A
3            10
4    .,..,,..g,
5    DJDCFJFD3C
Name: 48882, dtype: object
0           LG1
1         59764
2             A
3            10
4    .,..,,..g,
5    DJDCFJFD3C
Name: 48882, dtype: object
0           LG1
1         59764
2             A
3            10
4    .,..,,..g,
5    DJDCFJFD3C
Name: 48882, dtype: object
0           LG1
1         59764
2             A
3            10
4    .,..,,..g,
5    DJDCFJFD3C
Name: 48882, dtype: object
0           LG1
1         59764
2             A
3            10
4    .,..,,..g,
5    DJDCFJFD3C
Name: 48882, dtype: object
0           LG1
1         59765
2             G
3            10
4    .,..,,..a,
5    DJDCFIF?FC
Name: 48883, dtype: object
0           LG1
1         59765
2             G
3            10
4    .,..,,..a,
5    DJDCFIF?FC
Name: 48883, dtype: object
0           LG1
1         59765
2             G
3            10
4    .,..,,..a,
5    DJDCFIF?FC
Name: 48883, dtype: object
0           LG1
1         59765
2             G
3            10
4    .,..,,..a,
5    DJDCFIF?FC
Name: 48883, dtype: object
0           LG1
1         59765
2             G
3            10
4    .,..,,..a,
5    DJDCFIF?FC
Name: 48883, dtype: object
0           LG1
1         59765
2             G
3            10
4    .,..,,..a,
5    DJDCFIF?FC
Name: 48883, dtype: object
0           LG1
1         59765
2             G
3            10
4    .,..,,..a,
5    DJDCFIF?FC
Name: 48883, dtype: object
0           LG1
1         59765
2             G
3            10
4    .,..,,..a,
5    DJDCFIF?FC
Name: 48883, dtype: object
0           LG1
1         59765
2             G
3            10
4    .,..,,..a,
5    DJDCFIF?FC
Name: 48883, dtype: object
0           LG1
1         59765
2             G
3            10
4    .,..,,..a,
5    DJDCFIF?FC
Name: 48883, dtype: object
0           LG1
1         59766
2             A
3            10
4    .,..,,..,,
5    DJD@AIFCFC
Name: 48884, dtype: object
0           LG1
1         59766
2             A
3            10
4    .,..,,..,,
5    DJD@AIFCFC
Name: 48884, dtype: object
0           LG1
1         59766
2             A
3            10
4    .,..,,..,,
5    DJD@AIFCFC
Name: 48884, dtype: object
0           LG1
1         59766
2             A
3            10
4    .,..,,..,,
5    DJD@AIFCFC
Name: 48884, dtype: object
0           LG1
1         59766
2             A
3            10
4    .,..,,..,,
5    DJD@AIFCFC
Name: 48884, dtype: object
0           LG1
1         59766
2             A
3            10
4    .,..,,..,,
5    DJD@AIFCFC
Name: 48884, dtype: object
0           LG1
1         59766
2             A
3            10
4    .,..,,..,,
5    DJD@AIFCFC
Name: 48884, dtype: object
0           LG1
1         59766
2             A
3            10
4    .,..,,..,,
5    DJD@AIFCFC
Name: 48884, dtype: object
0           LG1
1         59766
2             A
3            10
4    .,..,,..,,
5    DJD@AIFCFC
Name: 48884, dtype: object
0           LG1
1         59766
2             A
3            10
4    .,..,,..,,
5    DJD@AIFCFC
Name: 48884, dtype: object
0           LG1
1         59778
2             T
3            10
4    ,..,,..,,.
5    4D@FHDCBF;
Name: 48896, dtype: object
0           LG1
1         59778
2             T
3            10
4    ,..,,..,,.
5    4D@FHDCBF;
Name: 48896, dtype: object
0           LG1
1         59778
2             T
3            10
4    ,..,,..,,.
5    4D@FHDCBF;
Name: 48896, dtype: object
0           LG1
1         59778
2             T
3            10
4    ,..,,..,,.
5    4D@FHDCBF;
Name: 48896, dtype: object
0           LG1
1         59778
2             T
3            10
4    ,..,,..,,.
5    4D@FHDCBF;
Name: 48896, dtype: object
0           LG1
1         59778
2             T
3            10
4    ,..,,..,,.
5    4D@FHDCBF;
Name: 48896, dtype: object
0           LG1
1         59778
2             T
3            10
4    ,..,,..,,.
5    4D@FHDCBF;
Name: 48896, dtype: object
0           LG1
1         59778
2             T
3            10
4    ,..,,..,,.
5    4D@FHDCBF;
Name: 48896, dtype: object
0           LG1
1         59862
2             G
3             8
4    .,.,,..^!,
5      DDFDDF@=
Name: 48980, dtype: object
0           LG1
1         59862
2             G
3             8
4    .,.,,..^!,
5      DDFDDF@=
Name: 48980, dtype: object
0           LG1
1         59862
2             G
3             8
4    .,.,,..^!,
5      DDFDDF@=
Name: 48980, dtype: object
0           LG1
1         59862
2             G
3             8
4    .,.,,..^!,
5      DDFDDF@=
Name: 48980, dtype: object
0           LG1
1         59862
2             G
3             8
4    .,.,,..^!,
5      DDFDDF@=
Name: 48980, dtype: object
0           LG1
1         59862
2             G
3             8
4    .,.,,..^!,
5      DDFDDF@=
Name: 48980, dtype: object
0           LG1
1         59862
2             G
3             8
4    .,.,,..^!,
5      DDFDDF@=
Name: 48980, dtype: object
0           LG1
1         59876
2             G
3            10
4    ..,.,,..,,
5    DDCDDDJI9C
Name: 48994, dtype: object
0           LG1
1         59876
2             G
3            10
4    ..,.,,..,,
5    DDCDDDJI9C
Name: 48994, dtype: object
0           LG1
1         59876
2             G
3            10
4    ..,.,,..,,
5    DDCDDDJI9C
Name: 48994, dtype: object
0           LG1
1         59876
2             G
3            10
4    ..,.,,..,,
5    DDCDDDJI9C
Name: 48994, dtype: object
0           LG1
1         59876
2             G
3            10
4    ..,.,,..,,
5    DDCDDDJI9C
Name: 48994, dtype: object
0           LG1
1         59876
2             G
3            10
4    ..,.,,..,,
5    DDCDDDJI9C
Name: 48994, dtype: object
0           LG1
1         59876
2             G
3            10
4    ..,.,,..,,
5    DDCDDDJI9C
Name: 48994, dtype: object
0           LG1
1         59876
2             G
3            10
4    ..,.,,..,,
5    DDCDDDJI9C
Name: 48994, dtype: object
0           LG1
1         59876
2             G
3            10
4    ..,.,,..,,
5    DDCDDDJI9C
Name: 48994, dtype: object
0           LG1
1         59877
2             T
3            10
4    ..,.,,..,,
5    95E5DDHFDD
Name: 48995, dtype: object
0           LG1
1         59877
2             T
3            10
4    ..,.,,..,,
5    95E5DDHFDD
Name: 48995, dtype: object
0           LG1
1         59877
2             T
3            10
4    ..,.,,..,,
5    95E5DDHFDD
Name: 48995, dtype: object
0           LG1
1         59877
2             T
3            10
4    ..,.,,..,,
5    95E5DDHFDD
Name: 48995, dtype: object
0           LG1
1         59877
2             T
3            10
4    ..,.,,..,,
5    95E5DDHFDD
Name: 48995, dtype: object
0           LG1
1         59877
2             T
3            10
4    ..,.,,..,,
5    95E5DDHFDD
Name: 48995, dtype: object
0           LG1
1         59877
2             T
3            10
4    ..,.,,..,,
5    95E5DDHFDD
Name: 48995, dtype: object
0           LG1
1         60006
2             T
3            10
4    ,,......,.
5    CFf>FIJjCF
Name: 49124, dtype: object
0           LG1
1         60006
2             T
3            10
4    ,,......,.
5    CFf>FIJjCF
Name: 49124, dtype: object
0           LG1
1         60006
2             T
3            10
4    ,,......,.
5    CFf>FIJjCF
Name: 49124, dtype: object
0           LG1
1         60006
2             T
3            10
4    ,,......,.
5    CFf>FIJjCF
Name: 49124, dtype: object
0           LG1
1         60006
2             T
3            10
4    ,,......,.
5    CFf>FIJjCF
Name: 49124, dtype: object
0           LG1
1         60006
2             T
3            10
4    ,,......,.
5    CFf>FIJjCF
Name: 49124, dtype: object
0           LG1
1         60006
2             T
3            10
4    ,,......,.
5    CFf>FIJjCF
Name: 49124, dtype: object
0           LG1
1         60006
2             T
3            10
4    ,,......,.
5    CFf>FIJjCF
Name: 49124, dtype: object
0           LG1
1         60006
2             T
3            10
4    ,,......,.
5    CFf>FIJjCF
Name: 49124, dtype: object
0           LG1
1         60008
2             T
3            10
4    ,......,..
5    Cf>HJIh@2H
Name: 49126, dtype: object
0           LG1
1         60008
2             T
3            10
4    ,......,..
5    Cf>HJIh@2H
Name: 49126, dtype: object
0           LG1
1         60008
2             T
3            10
4    ,......,..
5    Cf>HJIh@2H
Name: 49126, dtype: object
0           LG1
1         60008
2             T
3            10
4    ,......,..
5    Cf>HJIh@2H
Name: 49126, dtype: object
0           LG1
1         60008
2             T
3            10
4    ,......,..
5    Cf>HJIh@2H
Name: 49126, dtype: object
0           LG1
1         60008
2             T
3            10
4    ,......,..
5    Cf>HJIh@2H
Name: 49126, dtype: object
0           LG1
1         60008
2             T
3            10
4    ,......,..
5    Cf>HJIh@2H
Name: 49126, dtype: object
0           LG1
1         60008
2             T
3            10
4    ,......,..
5    Cf>HJIh@2H
Name: 49126, dtype: object
0           LG1
1         60012
2             T
3            10
4    ......,..,
5    fADJJfDCJC
Name: 49130, dtype: object
0           LG1
1         60012
2             T
3            10
4    ......,..,
5    fADJJfDCJC
Name: 49130, dtype: object
0           LG1
1         60012
2             T
3            10
4    ......,..,
5    fADJJfDCJC
Name: 49130, dtype: object
0           LG1
1         60012
2             T
3            10
4    ......,..,
5    fADJJfDCJC
Name: 49130, dtype: object
0           LG1
1         60012
2             T
3            10
4    ......,..,
5    fADJJfDCJC
Name: 49130, dtype: object
0           LG1
1         60012
2             T
3            10
4    ......,..,
5    fADJJfDCJC
Name: 49130, dtype: object
0           LG1
1         60012
2             T
3            10
4    ......,..,
5    fADJJfDCJC
Name: 49130, dtype: object
0           LG1
1         60012
2             T
3            10
4    ......,..,
5    fADJJfDCJC
Name: 49130, dtype: object
0           LG1
1         60012
2             T
3            10
4    ......,..,
5    fADJJfDCJC
Name: 49130, dtype: object
0           LG1
1         60012
2             T
3            10
4    ......,..,
5    fADJJfDCJC
Name: 49130, dtype: object
0           LG1
1         60013
2             C
3            10
4    ......,..,
5    fCFHJbBAJD
Name: 49131, dtype: object
0           LG1
1         60013
2             C
3            10
4    ......,..,
5    fCFHJbBAJD
Name: 49131, dtype: object
0           LG1
1         60013
2             C
3            10
4    ......,..,
5    fCFHJbBAJD
Name: 49131, dtype: object
0           LG1
1         60013
2             C
3            10
4    ......,..,
5    fCFHJbBAJD
Name: 49131, dtype: object
0           LG1
1         60013
2             C
3            10
4    ......,..,
5    fCFHJbBAJD
Name: 49131, dtype: object
0           LG1
1         60013
2             C
3            10
4    ......,..,
5    fCFHJbBAJD
Name: 49131, dtype: object
0           LG1
1         60013
2             C
3            10
4    ......,..,
5    fCFHJbBAJD
Name: 49131, dtype: object
0           LG1
1         60013
2             C
3            10
4    ......,..,
5    fCFHJbBAJD
Name: 49131, dtype: object
0           LG1
1         60013
2             C
3            10
4    ......,..,
5    fCFHJbBAJD
Name: 49131, dtype: object
0           LG1
1         60013
2             C
3            10
4    ......,..,
5    fCFHJbBAJD
Name: 49131, dtype: object
0           LG1
1         60016
2             G
3            10
4    ......,T.,
5    g:FJJfA<JD
Name: 49134, dtype: object
0           LG1
1         60016
2             G
3            10
4    ......,T.,
5    g:FJJfA<JD
Name: 49134, dtype: object
0           LG1
1         60016
2             G
3            10
4    ......,T.,
5    g:FJJfA<JD
Name: 49134, dtype: object

0           LG1
1         60016
2             G
3            10
4    ......,T.,
5    g:FJJfA<JD
Name: 49134, dtype: object
0           LG1
1         60016
2             G
3            10
4    ......,T.,
5    g:FJJfA<JD
Name: 49134, dtype: object
0           LG1
1         60016
2             G
3            10
4    ......,T.,
5    g:FJJfA<JD
Name: 49134, dtype: object
0           LG1
1         60016
2             G
3            10
4    ......,T.,
5    g:FJJfA<JD
Name: 49134, dtype: object
0           LG1
1         60016
2             G
3            10
4    ......,T.,
5    g:FJJfA<JD
Name: 49134, dtype: object
0           LG1
1         60017
2             T
3            10
4    ......,..,
5    f4EHFcH:JD
Name: 49135, dtype: object
0           LG1
1         60017
2             T
3            10
4    ......,..,
5    f4EHFcH:JD
Name: 49135, dtype: object
0           LG1
1         60017
2             T
3            10
4    ......,..,
5    f4EHFcH:JD
Name: 49135, dtype: object
0           LG1
1         60017
2             T
3            10
4    ......,..,
5    f4EHFcH:JD
Name: 49135, dtype: object
0           LG1
1         60017
2             T
3            10
4    ......,..,
5    f4EHFcH:JD
Name: 49135, dtype: object
0           LG1
1         60017
2             T
3            10
4    ......,..,
5    f4EHFcH:JD
Name: 49135, dtype: object
0           LG1
1         60017
2             T
3            10
4    ......,..,
5    f4EHFcH:JD
Name: 49135, dtype: object
0           LG1
1         60017
2             T
3            10
4    ......,..,
5    f4EHFcH:JD
Name: 49135, dtype: object
0           LG1
1         60018
2             T
3            10
4    ......,..,
5    g4CIHfHEJD
Name: 49136, dtype: object
0           LG1
1         60018
2             T
3            10
4    ......,..,
5    g4CIHfHEJD
Name: 49136, dtype: object
0           LG1
1         60018
2             T
3            10
4    ......,..,
5    g4CIHfHEJD
Name: 49136, dtype: object
0           LG1
1         60018
2             T
3            10
4    ......,..,
5    g4CIHfHEJD
Name: 49136, dtype: object
0           LG1
1         60018
2             T
3            10
4    ......,..,
5    g4CIHfHEJD
Name: 49136, dtype: object
0           LG1
1         60018
2             T
3            10
4    ......,..,
5    g4CIHfHEJD
Name: 49136, dtype: object
0           LG1
1         60018
2             T
3            10
4    ......,..,
5    g4CIHfHEJD
Name: 49136, dtype: object
0           LG1
1         60018
2             T
3            10
4    ......,..,
5    g4CIHfHEJD
Name: 49136, dtype: object
0           LG1
1         60018
2             T
3            10
4    ......,..,
5    g4CIHfHEJD
Name: 49136, dtype: object
0           LG1
1         60019
2             G
3            10
4    ......,..,
5    g:CJHdABJD
Name: 49137, dtype: object
0           LG1
1         60019
2             G
3            10
4    ......,..,
5    g:CJHdABJD
Name: 49137, dtype: object
0           LG1
1         60019
2             G
3            10
4    ......,..,
5    g:CJHdABJD
Name: 49137, dtype: object
0           LG1
1         60019
2             G
3            10
4    ......,..,
5    g:CJHdABJD
Name: 49137, dtype: object
0           LG1
1         60019
2             G
3            10
4    ......,..,
5    g:CJHdABJD
Name: 49137, dtype: object
0           LG1
1         60019
2             G
3            10
4    ......,..,
5    g:CJHdABJD
Name: 49137, dtype: object
0           LG1
1         60019
2             G
3            10
4    ......,..,
5    g:CJHdABJD
Name: 49137, dtype: object
0           LG1
1         60019
2             G
3            10
4    ......,..,
5    g:CJHdABJD
Name: 49137, dtype: object
0           LG1
1         60019
2             G
3            10
4    ......,..,
5    g:CJHdABJD
Name: 49137, dtype: object
0           LG1
1         60022
2             A
3            10
4    GG...,..,,
5    :EJIhEAJDD
Name: 49140, dtype: object
0           LG1
1         60022
2             A
3            10
4    GG...,..,,
5    :EJIhEAJDD
Name: 49140, dtype: object
0           LG1
1         60022
2             A
3            10
4    GG...,..,,
5    :EJIhEAJDD
Name: 49140, dtype: object
0           LG1
1         60022
2             A
3            10
4    GG...,..,,
5    :EJIhEAJDD
Name: 49140, dtype: object
0           LG1
1         60022
2             A
3            10
4    GG...,..,,
5    :EJIhEAJDD
Name: 49140, dtype: object
0           LG1
1         60022
2             A
3            10
4    GG...,..,,
5    :EJIhEAJDD
Name: 49140, dtype: object
0           LG1
1         60022
2             A
3            10
4    GG...,..,,
5    :EJIhEAJDD
Name: 49140, dtype: object
0           LG1
1         60022
2             A
3            10
4    GG...,..,,
5    :EJIhEAJDD
Name: 49140, dtype: object
0           LG1
1         60022
2             A
3            10
4    GG...,..,,
5    :EJIhEAJDD
Name: 49140, dtype: object
0           LG1
1         60082
2             G
3            10
4    ,.,,.,.,,.
5    GDIJHJJJJJ
Name: 49200, dtype: object
0           LG1
1         60082
2             G
3            10
4    ,.,,.,.,,.
5    GDIJHJJJJJ
Name: 49200, dtype: object
0           LG1
1         60082
2             G
3            10
4    ,.,,.,.,,.
5    GDIJHJJJJJ
Name: 49200, dtype: object
0           LG1
1         60082
2             G
3            10
4    ,.,,.,.,,.
5    GDIJHJJJJJ
Name: 49200, dtype: object
0           LG1
1         60082
2             G
3            10
4    ,.,,.,.,,.
5    GDIJHJJJJJ
Name: 49200, dtype: object
0           LG1
1         60082
2             G
3            10
4    ,.,,.,.,,.
5    GDIJHJJJJJ
Name: 49200, dtype: object
0           LG1
1         60082
2             G
3            10
4    ,.,,.,.,,.
5    GDIJHJJJJJ
Name: 49200, dtype: object
0           LG1
1         60082
2             G
3            10
4    ,.,,.,.,,.
5    GDIJHJJJJJ
Name: 49200, dtype: object
0           LG1
1         60082
2             G
3            10
4    ,.,,.,.,,.
5    GDIJHJJJJJ
Name: 49200, dtype: object
0           LG1
1         60082
2             G
3            10
4    ,.,,.,.,,.
5    GDIJHJJJJJ
Name: 49200, dtype: object
0           LG1
1         60083
2             A
3            10
4    ,.,,.,.,,.
5    FCJJHJJIJJ
Name: 49201, dtype: object
0           LG1
1         60083
2             A
3            10
4    ,.,,.,.,,.
5    FCJJHJJIJJ
Name: 49201, dtype: object
0           LG1
1         60083
2             A
3            10
4    ,.,,.,.,,.
5    FCJJHJJIJJ
Name: 49201, dtype: object
0           LG1
1         60083
2             A
3            10
4    ,.,,.,.,,.
5    FCJJHJJIJJ
Name: 49201, dtype: object
0           LG1
1         60083
2             A
3            10
4    ,.,,.,.,,.
5    FCJJHJJIJJ
Name: 49201, dtype: object
0           LG1
1         60083
2             A
3            10
4    ,.,,.,.,,.
5    FCJJHJJIJJ
Name: 49201, dtype: object
0           LG1
1         60083
2             A
3            10
4    ,.,,.,.,,.
5    FCJJHJJIJJ
Name: 49201, dtype: object
0           LG1
1         60083
2             A
3            10
4    ,.,,.,.,,.
5    FCJJHJJIJJ
Name: 49201, dtype: object
0           LG1
1         60083
2             A
3            10
4    ,.,,.,.,,.
5    FCJJHJJIJJ
Name: 49201, dtype: object
0           LG1
1         60083
2             A
3            10
4    ,.,,.,.,,.
5    FCJJHJJIJJ
Name: 49201, dtype: object
0           LG1
1         60084
2             T
3            10
4    ,.,,.,.,,.
5    FDJJIJIJJJ
Name: 49202, dtype: object
0           LG1
1         60084
2             T
3            10
4    ,.,,.,.,,.
5    FDJJIJIJJJ
Name: 49202, dtype: object
0           LG1
1         60084
2             T
3            10
4    ,.,,.,.,,.
5    FDJJIJIJJJ
Name: 49202, dtype: object
0           LG1
1         60084
2             T
3            10
4    ,.,,.,.,,.
5    FDJJIJIJJJ
Name: 49202, dtype: object
0           LG1
1         60084
2             T
3            10
4    ,.,,.,.,,.
5    FDJJIJIJJJ
Name: 49202, dtype: object
0           LG1
1         60084
2             T
3            10
4    ,.,,.,.,,.
5    FDJJIJIJJJ
Name: 49202, dtype: object
0           LG1
1         60084
2             T
3            10
4    ,.,,.,.,,.
5    FDJJIJIJJJ
Name: 49202, dtype: object
0           LG1
1         60084
2             T
3            10
4    ,.,,.,.,,.
5    FDJJIJIJJJ
Name: 49202, dtype: object
0           LG1
1         60084
2             T
3            10
4    ,.,,.,.,,.
5    FDJJIJIJJJ
Name: 49202, dtype: object
0           LG1
1         60084
2             T
3            10
4    ,.,,.,.,,.
5    FDJJIJIJJJ
Name: 49202, dtype: object
0           LG1
1         60085
2             C
3            10
4    ,.,,.,.,,.
5    DCJJIJGJJJ
Name: 49203, dtype: object
0           LG1
1         60085
2             C
3            10
4    ,.,,.,.,,.
5    DCJJIJGJJJ
Name: 49203, dtype: object
0           LG1
1         60085
2             C
3            10
4    ,.,,.,.,,.
5    DCJJIJGJJJ
Name: 49203, dtype: object
0           LG1
1         60085
2             C
3            10
4    ,.,,.,.,,.
5    DCJJIJGJJJ
Name: 49203, dtype: object
0           LG1
1         60085
2             C
3            10
4    ,.,,.,.,,.
5    DCJJIJGJJJ
Name: 49203, dtype: object
0           LG1
1         60085
2             C
3            10
4    ,.,,.,.,,.
5    DCJJIJGJJJ
Name: 49203, dtype: object
0           LG1
1         60085
2             C
3            10
4    ,.,,.,.,,.
5    DCJJIJGJJJ
Name: 49203, dtype: object
0           LG1
1         60085
2             C
3            10
4    ,.,,.,.,,.
5    DCJJIJGJJJ
Name: 49203, dtype: object
0           LG1
1         60085
2             C
3            10
4    ,.,,.,.,,.
5    DCJJIJGJJJ
Name: 49203, dtype: object
0           LG1
1         60085
2             C
3            10
4    ,.,,.,.,,.
5    DCJJIJGJJJ
Name: 49203, dtype: object
0           LG1
1         60086
2             A
3            10
4    ,.,,.,.,,.
5    DDJJIJHJJJ
Name: 49204, dtype: object
0           LG1
1         60086
2             A
3            10
4    ,.,,.,.,,.
5    DDJJIJHJJJ
Name: 49204, dtype: object
0           LG1
1         60086
2             A
3            10
4    ,.,,.,.,,.
5    DDJJIJHJJJ
Name: 49204, dtype: object
0           LG1
1         60086
2             A
3            10
4    ,.,,.,.,,.
5    DDJJIJHJJJ
Name: 49204, dtype: object
0           LG1
1         60086
2             A
3            10
4    ,.,,.,.,,.
5    DDJJIJHJJJ
Name: 49204, dtype: object
0           LG1
1         60086
2             A
3            10
4    ,.,,.,.,,.
5    DDJJIJHJJJ
Name: 49204, dtype: object
0           LG1
1         60086
2             A
3            10
4    ,.,,.,.,,.
5    DDJJIJHJJJ
Name: 49204, dtype: object
0           LG1
1         60086
2             A
3            10
4    ,.,,.,.,,.
5    DDJJIJHJJJ
Name: 49204, dtype: object
0           LG1
1         60086
2             A
3            10
4    ,.,,.,.,,.
5    DDJJIJHJJJ
Name: 49204, dtype: object
0           LG1
1         60086
2             A
3            10
4    ,.,,.,.,,.
5    DDJJIJHJJJ
Name: 49204, dtype: object
0           LG1
1         60087
2             T
3            10
4    ,.,,.,.,,.
5    >DJJEJHJJI
Name: 49205, dtype: object
0           LG1
1         60087
2             T
3            10
4    ,.,,.,.,,.
5    >DJJEJHJJI
Name: 49205, dtype: object
0           LG1
1         60087
2             T
3            10
4    ,.,,.,.,,.
5    >DJJEJHJJI
Name: 49205, dtype: object
0           LG1
1         60087
2             T
3            10
4    ,.,,.,.,,.
5    >DJJEJHJJI
Name: 49205, dtype: object
0           LG1
1         60087
2             T
3            10
4    ,.,,.,.,,.
5    >DJJEJHJJI
Name: 49205, dtype: object
0           LG1
1         60087
2             T
3            10
4    ,.,,.,.,,.
5    >DJJEJHJJI
Name: 49205, dtype: object
0           LG1
1         60087
2             T
3            10
4    ,.,,.,.,,.
5    >DJJEJHJJI
Name: 49205, dtype: object
0           LG1
1         60087
2             T
3            10
4    ,.,,.,.,,.
5    >DJJEJHJJI
Name: 49205, dtype: object
0           LG1
1         60087
2             T
3            10
4    ,.,,.,.,,.
5    >DJJEJHJJI
Name: 49205, dtype: object
0           LG1
1         60088
2             A
3            10
4    gGgg.gGg,G
5    :DJJ@JHJJJ
Name: 49206, dtype: object
0           LG1
1         60088
2             A
3            10
4    gGgg.gGg,G
5    :DJJ@JHJJJ
Name: 49206, dtype: object
0           LG1
1         60088
2             A
3            10
4    gGgg.gGg,G
5    :DJJ@JHJJJ
Name: 49206, dtype: object
0           LG1
1         60088
2             A
3            10
4    gGgg.gGg,G
5    :DJJ@JHJJJ
Name: 49206, dtype: object
0           LG1
1         60088
2             A
3            10
4    gGgg.gGg,G
5    :DJJ@JHJJJ
Name: 49206, dtype: object
0           LG1
1         60088
2             A
3            10
4    gGgg.gGg,G
5    :DJJ@JHJJJ
Name: 49206, dtype: object
0           LG1
1         60088
2             A
3            10
4    gGgg.gGg,G
5    :DJJ@JHJJJ
Name: 49206, dtype: object
0           LG1
1         60088
2             A
3            10
4    gGgg.gGg,G
5    :DJJ@JHJJJ
Name: 49206, dtype: object
0           LG1
1         60088
2             A
3            10
4    gGgg.gGg,G
5    :DJJ@JHJJJ
Name: 49206, dtype: object
0           LG1
1         60089
2             T
3            10
4    ,.,,.,.,,.
5    :EHJ@JHIJJ
Name: 49207, dtype: object
0           LG1
1         60089
2             T
3            10
4    ,.,,.,.,,.
5    :EHJ@JHIJJ
Name: 49207, dtype: object
0           LG1
1         60089
2             T
3            10
4    ,.,,.,.,,.
5    :EHJ@JHIJJ
Name: 49207, dtype: object
0           LG1
1         60089
2             T
3            10
4    ,.,,.,.,,.
5    :EHJ@JHIJJ
Name: 49207, dtype: object
0           LG1
1         60089
2             T
3            10
4    ,.,,.,.,,.
5    :EHJ@JHIJJ
Name: 49207, dtype: object
0           LG1
1         60089
2             T
3            10
4    ,.,,.,.,,.
5    :EHJ@JHIJJ
Name: 49207, dtype: object
0           LG1
1         60089
2             T
3            10
4    ,.,,.,.,,.
5    :EHJ@JHIJJ
Name: 49207, dtype: object
0           LG1
1         60089
2             T
3            10
4    ,.,,.,.,,.
5    :EHJ@JHIJJ
Name: 49207, dtype: object
0           LG1
1         60089
2             T
3            10
4    ,.,,.,.,,.
5    :EHJ@JHIJJ
Name: 49207, dtype: object
0           LG1
1         60098
2             T
3            10
4    .,,.,.,,..
5    CFHAJEJIJ>
Name: 49216, dtype: object
0           LG1
1         60098
2             T
3            10
4    .,,.,.,,..
5    CFHAJEJIJ>
Name: 49216, dtype: object
0           LG1
1         60098
2             T
3            10
4    .,,.,.,,..
5    CFHAJEJIJ>
Name: 49216, dtype: object
0           LG1
1         60098
2             T
3            10
4    .,,.,.,,..
5    CFHAJEJIJ>
Name: 49216, dtype: object
0           LG1
1         60098
2             T
3            10
4    .,,.,.,,..
5    CFHAJEJIJ>
Name: 49216, dtype: object
0           LG1
1         60098
2             T
3            10
4    .,,.,.,,..
5    CFHAJEJIJ>
Name: 49216, dtype: object
0           LG1
1         60098
2             T
3            10
4    .,,.,.,,..
5    CFHAJEJIJ>
Name: 49216, dtype: object
0           LG1
1         60098
2             T
3            10
4    .,,.,.,,..
5    CFHAJEJIJ>
Name: 49216, dtype: object
0           LG1
1         60098
2             T
3            10
4    .,,.,.,,..
5    CFHAJEJIJ>
Name: 49216, dtype: object
0           LG1
1         60101
2             T
3             9
4    ,$,.,.,,..
5     @H@JEIJJF
Name: 49219, dtype: object
0           LG1
1         60101
2             T
3             9
4    ,$,.,.,,..
5     @H@JEIJJF
Name: 49219, dtype: object
0           LG1
1         60101
2             T
3             9
4    ,$,.,.,,..
5     @H@JEIJJF

Name: 49219, dtype: object
0           LG1
1         60101
2             T
3             9
4    ,$,.,.,,..
5     @H@JEIJJF
Name: 49219, dtype: object
0           LG1
1         60101
2             T
3             9
4    ,$,.,.,,..
5     @H@JEIJJF
Name: 49219, dtype: object
0           LG1
1         60101
2             T
3             9
4    ,$,.,.,,..
5     @H@JEIJJF
Name: 49219, dtype: object
0           LG1
1         60101
2             T
3             9
4    ,$,.,.,,..
5     @H@JEIJJF
Name: 49219, dtype: object
0           LG1
1         60101
2             T
3             9
4    ,$,.,.,,..
5     @H@JEIJJF
Name: 49219, dtype: object
0           LG1
1         60101
2             T
3             9
4    ,$,.,.,,..
5     @H@JEIJJF
Name: 49219, dtype: object
0           LG1
1         60110
2             A
3             9
4    ,$.,.,,..,
5     C>HDIGHHA
Name: 49228, dtype: object
0           LG1
1         60110
2             A
3             9
4    ,$.,.,,..,
5     C>HDIGHHA
Name: 49228, dtype: object
0           LG1
1         60110
2             A
3             9
4    ,$.,.,,..,
5     C>HDIGHHA
Name: 49228, dtype: object
0           LG1
1         60110
2             A
3             9
4    ,$.,.,,..,
5     C>HDIGHHA
Name: 49228, dtype: object
0           LG1
1         60110
2             A
3             9
4    ,$.,.,,..,
5     C>HDIGHHA
Name: 49228, dtype: object
0           LG1
1         60110
2             A
3             9
4    ,$.,.,,..,
5     C>HDIGHHA
Name: 49228, dtype: object
0           LG1
1         60110
2             A
3             9
4    ,$.,.,,..,
5     C>HDIGHHA
Name: 49228, dtype: object
0           LG1
1         60110
2             A
3             9
4    ,$.,.,,..,
5     C>HDIGHHA
Name: 49228, dtype: object
0           LG1
1         60188
2             G
3             8
4    .,.,...^#,
5      CJJFJC1C
Name: 49306, dtype: object
0           LG1
1         60188
2             G
3             8
4    .,.,...^#,
5      CJJFJC1C
Name: 49306, dtype: object
0           LG1
1         60188
2             G
3             8
4    .,.,...^#,
5      CJJFJC1C
Name: 49306, dtype: object
0           LG1
1         60188
2             G
3             8
4    .,.,...^#,
5      CJJFJC1C
Name: 49306, dtype: object
0           LG1
1         60188
2             G
3             8
4    .,.,...^#,
5      CJJFJC1C
Name: 49306, dtype: object
0           LG1
1         60188
2             G
3             8
4    .,.,...^#,
5      CJJFJC1C
Name: 49306, dtype: object
0           LG1
1         60188
2             G
3             8
4    .,.,...^#,
5      CJJFJC1C
Name: 49306, dtype: object
0           LG1
1         60195
2             A
3            10
4    .,.,...,,,
5    CJHHBJ7DD?
Name: 49313, dtype: object
0           LG1
1         60195
2             A
3            10
4    .,.,...,,,
5    CJHHBJ7DD?
Name: 49313, dtype: object
0           LG1
1         60195
2             A
3            10
4    .,.,...,,,
5    CJHHBJ7DD?
Name: 49313, dtype: object
0           LG1
1         60195
2             A
3            10
4    .,.,...,,,
5    CJHHBJ7DD?
Name: 49313, dtype: object
0           LG1
1         60195
2             A
3            10
4    .,.,...,,,
5    CJHHBJ7DD?
Name: 49313, dtype: object
0           LG1
1         60195
2             A
3            10
4    .,.,...,,,
5    CJHHBJ7DD?
Name: 49313, dtype: object
0           LG1
1         60195
2             A
3            10
4    .,.,...,,,
5    CJHHBJ7DD?
Name: 49313, dtype: object
0           LG1
1         60195
2             A
3            10
4    .,.,...,,,
5    CJHHBJ7DD?
Name: 49313, dtype: object
0           LG1
1         60195
2             A
3            10
4    .,.,...,,,
5    CJHHBJ7DD?
Name: 49313, dtype: object
0           LG1
1         60196
2             A
3            10
4    .,.,...,,,
5    @IIJ@J7DD?
Name: 49314, dtype: object
0           LG1
1         60196
2             A
3            10
4    .,.,...,,,
5    @IIJ@J7DD?
Name: 49314, dtype: object
0           LG1
1         60196
2             A
3            10
4    .,.,...,,,
5    @IIJ@J7DD?
Name: 49314, dtype: object
0           LG1
1         60196
2             A
3            10
4    .,.,...,,,
5    @IIJ@J7DD?
Name: 49314, dtype: object
0           LG1
1         60196
2             A
3            10
4    .,.,...,,,
5    @IIJ@J7DD?
Name: 49314, dtype: object
0           LG1
1         60196
2             A
3            10
4    .,.,...,,,
5    @IIJ@J7DD?
Name: 49314, dtype: object
0           LG1
1         60196
2             A
3            10
4    .,.,...,,,
5    @IIJ@J7DD?
Name: 49314, dtype: object
0           LG1
1         60196
2             A
3            10
4    .,.,...,,,
5    @IIJ@J7DD?
Name: 49314, dtype: object
0           LG1
1         60196
2             A
3            10
4    .,.,...,,,
5    @IIJ@J7DD?
Name: 49314, dtype: object
0           LG1
1         60209
2             A
3             8
4    ,.,..,,^2,
5      JDJ=JDDA
Name: 49327, dtype: object
0           LG1
1         60209
2             A
3             8
4    ,.,..,,^2,
5      JDJ=JDDA
Name: 49327, dtype: object
0           LG1
1         60209
2             A
3             8
4    ,.,..,,^2,
5      JDJ=JDDA
Name: 49327, dtype: object
0           LG1
1         60209
2             A
3             8
4    ,.,..,,^2,
5      JDJ=JDDA
Name: 49327, dtype: object
0           LG1
1         60209
2             A
3             8
4    ,.,..,,^2,
5      JDJ=JDDA
Name: 49327, dtype: object
0           LG1
1         60209
2             A
3             8
4    ,.,..,,^2,
5      JDJ=JDDA
Name: 49327, dtype: object
0           LG1
1         60209
2             A
3             8
4    ,.,..,,^2,
5      JDJ=JDDA
Name: 49327, dtype: object
0           LG1
1         60210
2             A
3            10
4    ,.,...,,,,
5    JGJ@J0ED;B
Name: 49328, dtype: object
0           LG1
1         60210
2             A
3            10
4    ,.,...,,,,
5    JGJ@J0ED;B
Name: 49328, dtype: object
0           LG1
1         60210
2             A
3            10
4    ,.,...,,,,
5    JGJ@J0ED;B
Name: 49328, dtype: object
0           LG1
1         60210
2             A
3            10
4    ,.,...,,,,
5    JGJ@J0ED;B
Name: 49328, dtype: object
0           LG1
1         60210
2             A
3            10
4    ,.,...,,,,
5    JGJ@J0ED;B
Name: 49328, dtype: object
0           LG1
1         60210
2             A
3            10
4    ,.,...,,,,
5    JGJ@J0ED;B
Name: 49328, dtype: object
0           LG1
1         60210
2             A
3            10
4    ,.,...,,,,
5    JGJ@J0ED;B
Name: 49328, dtype: object
0           LG1
1         60210
2             A
3            10
4    ,.,...,,,,
5    JGJ@J0ED;B
Name: 49328, dtype: object
0           LG1
1         60213
2             T
3            10
4    ,.,...,,,,
5    JEJ?D?CD5D
Name: 49331, dtype: object
0           LG1
1         60213
2             T
3            10
4    ,.,...,,,,
5    JEJ?D?CD5D
Name: 49331, dtype: object
0           LG1
1         60213
2             T
3            10
4    ,.,...,,,,
5    JEJ?D?CD5D
Name: 49331, dtype: object
0           LG1
1         60213
2             T
3            10
4    ,.,...,,,,
5    JEJ?D?CD5D
Name: 49331, dtype: object
0           LG1
1         60213
2             T
3            10
4    ,.,...,,,,
5    JEJ?D?CD5D
Name: 49331, dtype: object
0           LG1
1         60213
2             T
3            10
4    ,.,...,,,,
5    JEJ?D?CD5D
Name: 49331, dtype: object
0           LG1
1         60213
2             T
3            10
4    ,.,...,,,,
5    JEJ?D?CD5D
Name: 49331, dtype: object
0           LG1
1         60213
2             T
3            10
4    ,.,...,,,,
5    JEJ?D?CD5D
Name: 49331, dtype: object
0           LG1
1         60213
2             T
3            10
4    ,.,...,,,,
5    JEJ?D?CD5D
Name: 49331, dtype: object
0           LG1
1         60214
2             C
3            10
4    ,.,A.,,,,,
5    JHI<HDD/D3
Name: 49332, dtype: object
0           LG1
1         60214
2             C
3            10
4    ,.,A.,,,,,
5    JHI<HDD/D3
Name: 49332, dtype: object
0           LG1
1         60214
2             C
3            10
4    ,.,A.,,,,,
5    JHI<HDD/D3
Name: 49332, dtype: object
0           LG1
1         60214
2             C
3            10
4    ,.,A.,,,,,
5    JHI<HDD/D3
Name: 49332, dtype: object
0           LG1
1         60214
2             C
3            10
4    ,.,A.,,,,,
5    JHI<HDD/D3
Name: 49332, dtype: object
0           LG1
1         60214
2             C
3            10
4    ,.,A.,,,,,
5    JHI<HDD/D3
Name: 49332, dtype: object
0           LG1
1         60214
2             C
3            10
4    ,.,A.,,,,,
5    JHI<HDD/D3
Name: 49332, dtype: object
0           LG1
1         60222
2             T
3            10
4    ,.,...,,,,
5    HHJGJ7EF@D
Name: 49340, dtype: object
0           LG1
1         60222
2             T
3            10
4    ,.,...,,,,
5    HHJGJ7EF@D
Name: 49340, dtype: object
0           LG1
1         60222
2             T
3            10
4    ,.,...,,,,
5    HHJGJ7EF@D
Name: 49340, dtype: object
0           LG1
1         60222
2             T
3            10
4    ,.,...,,,,
5    HHJGJ7EF@D
Name: 49340, dtype: object
0           LG1
1         60222
2             T
3            10
4    ,.,...,,,,
5    HHJGJ7EF@D
Name: 49340, dtype: object
0           LG1
1         60222
2             T
3            10
4    ,.,...,,,,
5    HHJGJ7EF@D
Name: 49340, dtype: object
0           LG1
1         60222
2             T
3            10
4    ,.,...,,,,
5    HHJGJ7EF@D
Name: 49340, dtype: object
0           LG1
1         60222
2             T
3            10
4    ,.,...,,,,
5    HHJGJ7EF@D
Name: 49340, dtype: object
0           LG1
1         60222
2             T
3            10
4    ,.,...,,,,
5    HHJGJ7EF@D
Name: 49340, dtype: object
0           LG1
1         60230
2             G
3            10
4    .,..,,,,.,
5    DJ5IJJ8HF>
Name: 49348, dtype: object
0           LG1
1         60230
2             G
3            10
4    .,..,,,,.,
5    DJ5IJJ8HF>
Name: 49348, dtype: object
0           LG1
1         60230
2             G
3            10
4    .,..,,,,.,
5    DJ5IJJ8HF>
Name: 49348, dtype: object
0           LG1
1         60230
2             G
3            10
4    .,..,,,,.,
5    DJ5IJJ8HF>
Name: 49348, dtype: object
0           LG1
1         60230
2             G
3            10
4    .,..,,,,.,
5    DJ5IJJ8HF>
Name: 49348, dtype: object
0           LG1
1         60230
2             G
3            10
4    .,..,,,,.,
5    DJ5IJJ8HF>
Name: 49348, dtype: object
0           LG1
1         60230
2             G
3            10
4    .,..,,,,.,
5    DJ5IJJ8HF>
Name: 49348, dtype: object
0           LG1
1         60232
2             A
3            10
4    .,..,,,,.,
5    BG<GHIHBF>
Name: 49350, dtype: object
0           LG1
1         60232
2             A
3            10
4    .,..,,,,.,
5    BG<GHIHBF>
Name: 49350, dtype: object
0           LG1
1         60232
2             A
3            10
4    .,..,,,,.,
5    BG<GHIHBF>
Name: 49350, dtype: object
0           LG1
1         60232
2             A
3            10
4    .,..,,,,.,
5    BG<GHIHBF>
Name: 49350, dtype: object
0           LG1
1         60232
2             A
3            10
4    .,..,,,,.,
5    BG<GHIHBF>
Name: 49350, dtype: object
0           LG1
1         60232
2             A
3            10
4    .,..,,,,.,
5    BG<GHIHBF>
Name: 49350, dtype: object
0           LG1
1         60232
2             A
3            10
4    .,..,,,,.,
5    BG<GHIHBF>
Name: 49350, dtype: object
0           LG1
1         60232
2             A
3            10
4    .,..,,,,.,
5    BG<GHIHBF>
Name: 49350, dtype: object
0           LG1
1         60235
2             A
3            10
4    .,..,,,,.,
5    DEAE?8D0G9
Name: 49353, dtype: object
0           LG1
1         60235
2             A
3            10
4    .,..,,,,.,
5    DEAE?8D0G9
Name: 49353, dtype: object
0           LG1
1         60235
2             A
3            10
4    .,..,,,,.,
5    DEAE?8D0G9
Name: 49353, dtype: object
0           LG1
1         60235
2             A
3            10
4    .,..,,,,.,
5    DEAE?8D0G9
Name: 49353, dtype: object
0           LG1
1         60235
2             A
3            10
4    .,..,,,,.,
5    DEAE?8D0G9
Name: 49353, dtype: object
0           LG1
1         60235
2             A
3            10
4    .,..,,,,.,
5    DEAE?8D0G9
Name: 49353, dtype: object
0           LG1
1         60235
2             A
3            10
4    .,..,,,,.,
5    DEAE?8D0G9
Name: 49353, dtype: object
0           LG1
1         60236
2             C
3            10
4    .,..,,,,.,
5    DJ@FII?JF=
Name: 49354, dtype: object
0           LG1
1         60236
2             C
3            10
4    .,..,,,,.,
5    DJ@FII?JF=
Name: 49354, dtype: object
0           LG1
1         60236
2             C
3            10
4    .,..,,,,.,
5    DJ@FII?JF=
Name: 49354, dtype: object
0           LG1
1         60236
2             C
3            10
4    .,..,,,,.,
5    DJ@FII?JF=
Name: 49354, dtype: object
0           LG1
1         60236
2             C
3            10
4    .,..,,,,.,
5    DJ@FII?JF=
Name: 49354, dtype: object
0           LG1
1         60236
2             C
3            10
4    .,..,,,,.,
5    DJ@FII?JF=
Name: 49354, dtype: object
0           LG1
1         60236
2             C
3            10
4    .,..,,,,.,
5    DJ@FII?JF=
Name: 49354, dtype: object
0           LG1
1         60236
2             C
3            10
4    .,..,,,,.,
5    DJ@FII?JF=
Name: 49354, dtype: object
0           LG1
1         60236
2             C
3            10
4    .,..,,,,.,
5    DJ@FII?JF=
Name: 49354, dtype: object
0           LG1
1         60239
2             T
3            10
4    .,..,,,,.,
5    CH>FJIJ0I?
Name: 49357, dtype: object
0           LG1
1         60239
2             T
3            10
4    .,..,,,,.,
5    CH>FJIJ0I?
Name: 49357, dtype: object
0           LG1
1         60239
2             T
3            10
4    .,..,,,,.,
5    CH>FJIJ0I?
Name: 49357, dtype: object
0           LG1
1         60239
2             T
3            10
4    .,..,,,,.,
5    CH>FJIJ0I?
Name: 49357, dtype: object
0           LG1
1         60239
2             T
3            10
4    .,..,,,,.,
5    CH>FJIJ0I?
Name: 49357, dtype: object
0           LG1
1         60239
2             T
3            10
4    .,..,,,,.,
5    CH>FJIJ0I?

Name: 49357, dtype: object
0           LG1
1         60239
2             T
3            10
4    .,..,,,,.,
5    CH>FJIJ0I?
Name: 49357, dtype: object
0           LG1
1         60239
2             T
3            10
4    .,..,,,,.,
5    CH>FJIJ0I?
Name: 49357, dtype: object
0           LG1
1         60244
2             G
3            10
4    .,..,,,.,.
5    BE?DIIHIAC
Name: 49362, dtype: object
0           LG1
1         60244
2             G
3            10
4    .,..,,,.,.
5    BE?DIIHIAC
Name: 49362, dtype: object
0           LG1
1         60244
2             G
3            10
4    .,..,,,.,.
5    BE?DIIHIAC
Name: 49362, dtype: object
0           LG1
1         60244
2             G
3            10
4    .,..,,,.,.
5    BE?DIIHIAC
Name: 49362, dtype: object
0           LG1
1         60244
2             G
3            10
4    .,..,,,.,.
5    BE?DIIHIAC
Name: 49362, dtype: object
0           LG1
1         60244
2             G
3            10
4    .,..,,,.,.
5    BE?DIIHIAC
Name: 49362, dtype: object
0           LG1
1         60244
2             G
3            10
4    .,..,,,.,.
5    BE?DIIHIAC
Name: 49362, dtype: object
0           LG1
1         60244
2             G
3            10
4    .,..,,,.,.
5    BE?DIIHIAC
Name: 49362, dtype: object
0           LG1
1         60244
2             G
3            10
4    .,..,,,.,.
5    BE?DIIHIAC
Name: 49362, dtype: object
0           LG1
1         60244
2             G
3            10
4    .,..,,,.,.
5    BE?DIIHIAC
Name: 49362, dtype: object
0           LG1
1         60252
2             A
3            10
4    ...,,,.,..
5    <;DJJJIDHF
Name: 49370, dtype: object
0           LG1
1         60252
2             A
3            10
4    ...,,,.,..
5    <;DJJJIDHF
Name: 49370, dtype: object
0           LG1
1         60252
2             A
3            10
4    ...,,,.,..
5    <;DJJJIDHF
Name: 49370, dtype: object
0           LG1
1         60252
2             A
3            10
4    ...,,,.,..
5    <;DJJJIDHF
Name: 49370, dtype: object
0           LG1
1         60252
2             A
3            10
4    ...,,,.,..
5    <;DJJJIDHF
Name: 49370, dtype: object
0           LG1
1         60252
2             A
3            10
4    ...,,,.,..
5    <;DJJJIDHF
Name: 49370, dtype: object
0           LG1
1         60252
2             A
3            10
4    ...,,,.,..
5    <;DJJJIDHF
Name: 49370, dtype: object
0           LG1
1         60252
2             A
3            10
4    ...,,,.,..
5    <;DJJJIDHF
Name: 49370, dtype: object
0           LG1
1         60253
2             A
3            10
4    TTTttt.t..
5    ./DJJIIDHF
Name: 49371, dtype: object
0           LG1
1         60253
2             A
3            10
4    TTTttt.t..
5    ./DJJIIDHF
Name: 49371, dtype: object
0           LG1
1         60253
2             A
3            10
4    TTTttt.t..
5    ./DJJIIDHF
Name: 49371, dtype: object
0           LG1
1         60253
2             A
3            10
4    TTTttt.t..
5    ./DJJIIDHF
Name: 49371, dtype: object
0           LG1
1         60253
2             A
3            10
4    TTTttt.t..
5    ./DJJIIDHF
Name: 49371, dtype: object
0           LG1
1         60253
2             A
3            10
4    TTTttt.t..
5    ./DJJIIDHF
Name: 49371, dtype: object
0           LG1
1         60253
2             A
3            10
4    TTTttt.t..
5    ./DJJIIDHF
Name: 49371, dtype: object
0           LG1
1         60253
2             A
3            10
4    TTTttt.t..
5    ./DJJIIDHF
Name: 49371, dtype: object
0           LG1
1         60254
2             G
3            10
4    ...,,,,,..
5    ./DJJIC@HH
Name: 49372, dtype: object
0           LG1
1         60254
2             G
3            10
4    ...,,,,,..
5    ./DJJIC@HH
Name: 49372, dtype: object
0           LG1
1         60254
2             G
3            10
4    ...,,,,,..
5    ./DJJIC@HH
Name: 49372, dtype: object
0           LG1
1         60254
2             G
3            10
4    ...,,,,,..
5    ./DJJIC@HH
Name: 49372, dtype: object
0           LG1
1         60254
2             G
3            10
4    ...,,,,,..
5    ./DJJIC@HH
Name: 49372, dtype: object
0           LG1
1         60254
2             G
3            10
4    ...,,,,,..
5    ./DJJIC@HH
Name: 49372, dtype: object
0           LG1
1         60254
2             G
3            10
4    ...,,,,,..
5    ./DJJIC@HH
Name: 49372, dtype: object
0           LG1
1         60254
2             G
3            10
4    ...,,,,,..
5    ./DJJIC@HH
Name: 49372, dtype: object
0           LG1
1         60265
2             A
3            10
4    .,,,.,...,
5    CJJJG:JJFD
Name: 49383, dtype: object
0           LG1
1         60265
2             A
3            10
4    .,,,.,...,
5    CJJJG:JJFD
Name: 49383, dtype: object
0           LG1
1         60265
2             A
3            10
4    .,,,.,...,
5    CJJJG:JJFD
Name: 49383, dtype: object
0           LG1
1         60265
2             A
3            10
4    .,,,.,...,
5    CJJJG:JJFD
Name: 49383, dtype: object
0           LG1
1         60265
2             A
3            10
4    .,,,.,...,
5    CJJJG:JJFD
Name: 49383, dtype: object
0           LG1
1         60265
2             A
3            10
4    .,,,.,...,
5    CJJJG:JJFD
Name: 49383, dtype: object
0           LG1
1         60265
2             A
3            10
4    .,,,.,...,
5    CJJJG:JJFD
Name: 49383, dtype: object
0           LG1
1         60265
2             A
3            10
4    .,,,.,...,
5    CJJJG:JJFD
Name: 49383, dtype: object
0           LG1
1         60265
2             A
3            10
4    .,,,.,...,
5    CJJJG:JJFD
Name: 49383, dtype: object
0           LG1
1         60266
2             G
3            10
4    .,,,.,...,
5    DJJJGDJJFD
Name: 49384, dtype: object
0           LG1
1         60266
2             G
3            10
4    .,,,.,...,
5    DJJJGDJJFD
Name: 49384, dtype: object
0           LG1
1         60266
2             G
3            10
4    .,,,.,...,
5    DJJJGDJJFD
Name: 49384, dtype: object
0           LG1
1         60266
2             G
3            10
4    .,,,.,...,
5    DJJJGDJJFD
Name: 49384, dtype: object
0           LG1
1         60266
2             G
3            10
4    .,,,.,...,
5    DJJJGDJJFD
Name: 49384, dtype: object
0           LG1
1         60266
2             G
3            10
4    .,,,.,...,
5    DJJJGDJJFD
Name: 49384, dtype: object
0           LG1
1         60266
2             G
3            10
4    .,,,.,...,
5    DJJJGDJJFD
Name: 49384, dtype: object
0           LG1
1         60266
2             G
3            10
4    .,,,.,...,
5    DJJJGDJJFD
Name: 49384, dtype: object
0           LG1
1         60266
2             G
3            10
4    .,,,.,...,
5    DJJJGDJJFD
Name: 49384, dtype: object
0           LG1
1         60266
2             G
3            10
4    .,,,.,...,
5    DJJJGDJJFD
Name: 49384, dtype: object
0           LG1
1         60808
2             A
3            10
4    ,.,..,,,,,
5    @AHDHJ@HEE
Name: 49926, dtype: object
0           LG1
1         60808
2             A
3            10
4    ,.,..,,,,,
5    @AHDHJ@HEE
Name: 49926, dtype: object
0           LG1
1         60808
2             A
3            10
4    ,.,..,,,,,
5    @AHDHJ@HEE
Name: 49926, dtype: object
0           LG1
1         60808
2             A
3            10
4    ,.,..,,,,,
5    @AHDHJ@HEE
Name: 49926, dtype: object
0           LG1
1         60808
2             A
3            10
4    ,.,..,,,,,
5    @AHDHJ@HEE
Name: 49926, dtype: object
0           LG1
1         60808
2             A
3            10
4    ,.,..,,,,,
5    @AHDHJ@HEE
Name: 49926, dtype: object
0           LG1
1         60808
2             A
3            10
4    ,.,..,,,,,
5    @AHDHJ@HEE
Name: 49926, dtype: object
0           LG1
1         60808
2             A
3            10
4    ,.,..,,,,,
5    @AHDHJ@HEE
Name: 49926, dtype: object
0           LG1
1         60808
2             A
3            10
4    ,.,..,,,,,
5    @AHDHJ@HEE
Name: 49926, dtype: object
0           LG1
1         60808
2             A
3            10
4    ,.,..,,,,,
5    @AHDHJ@HEE
Name: 49926, dtype: object
0           LG1
1         60810
2             A
3            10
4    G,..,,,,,,
5    BEDHG@C?C4
Name: 49928, dtype: object
0           LG1
1         60810
2             A
3            10
4    G,..,,,,,,
5    BEDHG@C?C4
Name: 49928, dtype: object
0           LG1
1         60810
2             A
3            10
4    G,..,,,,,,
5    BEDHG@C?C4
Name: 49928, dtype: object
0           LG1
1         60810
2             A
3            10
4    G,..,,,,,,
5    BEDHG@C?C4
Name: 49928, dtype: object
0           LG1
1         60810
2             A
3            10
4    G,..,,,,,,
5    BEDHG@C?C4
Name: 49928, dtype: object
0           LG1
1         60810
2             A
3            10
4    G,..,,,,,,
5    BEDHG@C?C4
Name: 49928, dtype: object
0           LG1
1         60810
2             A
3            10
4    G,..,,,,,,
5    BEDHG@C?C4
Name: 49928, dtype: object
0           LG1
1         60810
2             A
3            10
4    G,..,,,,,,
5    BEDHG@C?C4
Name: 49928, dtype: object
0           LG1
1         60810
2             A
3            10
4    G,..,,,,,,
5    BEDHG@C?C4
Name: 49928, dtype: object
0           LG1
1         60811
2             C
3            10
4    .,..,,,,,,
5    BHDDGHJHF>
Name: 49929, dtype: object
0           LG1
1         60811
2             C
3            10
4    .,..,,,,,,
5    BHDDGHJHF>
Name: 49929, dtype: object
0           LG1
1         60811
2             C
3            10
4    .,..,,,,,,
5    BHDDGHJHF>
Name: 49929, dtype: object
0           LG1
1         60811
2             C
3            10
4    .,..,,,,,,
5    BHDDGHJHF>
Name: 49929, dtype: object
0           LG1
1         60811
2             C
3            10
4    .,..,,,,,,
5    BHDDGHJHF>
Name: 49929, dtype: object
0           LG1
1         60811
2             C
3            10
4    .,..,,,,,,
5    BHDDGHJHF>
Name: 49929, dtype: object
0           LG1
1         60811
2             C
3            10
4    .,..,,,,,,
5    BHDDGHJHF>
Name: 49929, dtype: object
0           LG1
1         60811
2             C
3            10
4    .,..,,,,,,
5    BHDDGHJHF>
Name: 49929, dtype: object
0           LG1
1         60811
2             C
3            10
4    .,..,,,,,,
5    BHDDGHJHF>
Name: 49929, dtype: object
0           LG1
1         60812
2             C
3            10
4    .,..,,,,,,
5    DHBFGEIJF:
Name: 49930, dtype: object
0           LG1
1         60812
2             C
3            10
4    .,..,,,,,,
5    DHBFGEIJF:
Name: 49930, dtype: object
0           LG1
1         60812
2             C
3            10
4    .,..,,,,,,
5    DHBFGEIJF:
Name: 49930, dtype: object
0           LG1
1         60812
2             C
3            10
4    .,..,,,,,,
5    DHBFGEIJF:
Name: 49930, dtype: object
0           LG1
1         60812
2             C
3            10
4    .,..,,,,,,
5    DHBFGEIJF:
Name: 49930, dtype: object
0           LG1
1         60812
2             C
3            10
4    .,..,,,,,,
5    DHBFGEIJF:
Name: 49930, dtype: object
0           LG1
1         60812
2             C
3            10
4    .,..,,,,,,
5    DHBFGEIJF:
Name: 49930, dtype: object
0           LG1
1         60812
2             C
3            10
4    .,..,,,,,,
5    DHBFGEIJF:
Name: 49930, dtype: object
0           LG1
1         60812
2             C
3            10
4    .,..,,,,,,
5    DHBFGEIJF:
Name: 49930, dtype: object

In [ ]:
###Call SNP if
    #>3 of same variant
    #calculate frequency of variant

In [ ]:
#write snip to file