In [1]:
import pandas as pd
import matplotlib

In [13]:
raw_corn = pd.read_csv('corn.csv',)
raw_corn.head(30)

,"Genetically engineered (GE) corn varieties by State and United States, 2000-17",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40
0,,Insect-resistant (Bt) only ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,State,2000,2001,2002,2003,2004.0,2005.0,2006.0,2007.0,2008.0,...,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,NaN,NaN,NaN,NaN
2,,Percent of all corn planted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Illinois,13,12,18,23,26.0,25.0,24.0,19.0,13.0,...,18.0,7.0,5.0,4.0,4.0,4.0,NaN,NaN,NaN,NaN
4,Indiana,7,6,7,8,11.0,11.0,13.0,12.0,7.0,...,15.0,10.0,8.0,8.0,9.0,9.0,NaN,NaN,NaN,NaN
5,Iowa,23,25,31,33,36.0,35.0,32.0,22.0,16.0,...,15.0,14.0,8.0,8.0,9.0,8.0,NaN,NaN,NaN,NaN
6,Kansas,25,26,25,25,25.0,23.0,23.0,25.0,25.0,...,19.0,15.0,18.0,12.0,12.0,15.0,NaN,NaN,NaN,NaN
7,Michigan,8,8,12,18,15.0,15.0,16.0,19.0,15.0,...,26.0,15.0,15.0,16.0,18.0,15.0,NaN,NaN,NaN,NaN
8,Minnesota,28,25,29,31,35.0,33.0,28.0,26.0,19.0,...,22.0,10.0,10.0,13.0,10.0,10.0,NaN,NaN,NaN,NaN
9,Missouri,20,23,27,32,32.0,37.0,38.0,30.0,27.0,...,20.0,16.0,10.0,9.0,8.0,8.0,NaN,NaN,NaN,NaN
10,Nebraska,24,24,34,36,41.0,39.0,37.0,31.0,27.0,...,20.0,13.0,15.0,10.0,15.0,12.0,NaN,NaN,NaN,NaN
11,North Dakota 2/,NaN,NaN,NaN,NaN,NaN,21.0,29.0,29.0,24.0,...,36.0,20.0,22.0,21.0,25.0,21.0,NaN,NaN,NaN,NaN
12,Ohio,6,7,6,6,8.0,9.0,8.0,9.0,12.0,...,20.0,16.0,14.0,14.0,18.0,14.0,NaN,NaN,NaN,NaN
13,South Dakota,35,30,33,34,28.0,30.0,20.0,16.0,7.0,...,23.0,12.0,14.0,13.0,16.0,17.0,NaN,NaN,NaN,NaN
14,Texas 2/,NaN,NaN,NaN,NaN,NaN,21.0,27.0,22.0,20.0,...,21.0,20.0,17.0,12.0,11.0,13.0,NaN,NaN,NaN,NaN
15,Wisconsin,13,11,15,21,22.0,22.0,22.0,19.0,14.0,...,23.0,18.0,17.0,19.0,17.0,14.0,NaN,NaN,NaN,NaN
16,Other States 1/,10,11,14,17,19.0,19.0,20.0,20.0,20.0,...,26.0,21.0,19.0,18.0,18.0,17.0,NaN,NaN,NaN,NaN
17,U.S.,18,18,22,25,27.0,26.0,25.0,21.0,17.0,...,21.0,14.0,13.0,12.0,13.0,12.0,NaN,NaN,NaN,NaN
18,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,Stacked gene varieties,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,State,2000,2001,2002,2003,2004.0,2005.0,2006.0,2007.0,2008.0,...,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,NaN,NaN,NaN,NaN
21,,Percent of all corn planted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Illinois,1,1,1,1,2.0,5.0,19.0,40.0,52.0,...,85.0,89.0,91.0,93.0,93.0,92.0,NaN,NaN,NaN,NaN
23,Indiana,*,*,*,1,2.0,4.0,12.0,30.0,55.0,...,84.0,85.0,88.0,88.0,86.0,87.0,NaN,NaN,NaN,NaN
24,Iowa,2,1,3,4,8.0,11.0,18.0,37.0,53.0,...,91.0,91.0,95.0,93.0,92.0,93.0,NaN,NaN,NaN,NaN
25,Kansas,1,1,2,5,5.0,10.0,12.0,21.0,35.0,...,90.0,91.0,95.0,95.0,95.0,95.0,NaN,NaN,NaN,NaN
26,Michigan,*,2,2,3,4.0,5.0,10.0,19.0,33.0,...,86.0,90.0,93.0,92.0,91.0,87.0,NaN,NaN,NaN,NaN
27,Minnesota,2,4,4,7,11.0,11.0,16.0,28.0,40.0,...,88.0,91.0,93.0,93.0,93.0,94.0,NaN,NaN,NaN,NaN
28,Missouri,2,1,2,1,4.0,6.0,7.0,13.0,22.0,...,86.0,92.0,93.0,89.0,93.0,91.0,NaN,NaN,NaN,NaN
29,Nebraska,2,2,4,5,6.0,12.0,15.0,25.0,35.0,...,91.0,93.0,96.0,96.0,95.0,96.0,NaN,NaN,NaN,NaN

In [5]:
corn_bt = raw_corn.iloc[3:17, :19]
corn_bt.head()

,"Genetically engineered (GE) corn varieties by State and United States, 2000-17",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
3,Illinois,13,12,18,23,26.0,25.0,24.0,19.0,13.0,10.0,15.0,14.0,14.0,4.0,3.0,1.0,2.0,3.0
4,Indiana,7,6,7,8,11.0,11.0,13.0,12.0,7.0,7.0,7.0,7.0,9.0,2.0,2.0,4.0,2.0,3.0
5,Iowa,23,25,31,33,36.0,35.0,32.0,22.0,16.0,14.0,15.0,13.0,12.0,5.0,4.0,5.0,3.0,5.0
6,Kansas,25,26,25,25,25.0,23.0,23.0,25.0,25.0,24.0,22.0,28.0,20.0,7.0,5.0,4.0,4.0,3.0
7,Michigan,8,8,12,18,15.0,15.0,16.0,19.0,15.0,13.0,11.0,11.0,8.0,4.0,2.0,2.0,3.0,1.0

In [6]:
corn_bt.columns = raw_corn.iloc[1,0:19]
corn_bt.head()

1,State,2000,2001,2002,2003,2004.0,2005.0,2006.0,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0
3,Illinois,13,12,18,23,26.0,25.0,24.0,19.0,13.0,10.0,15.0,14.0,14.0,4.0,3.0,1.0,2.0,3.0
4,Indiana,7,6,7,8,11.0,11.0,13.0,12.0,7.0,7.0,7.0,7.0,9.0,2.0,2.0,4.0,2.0,3.0
5,Iowa,23,25,31,33,36.0,35.0,32.0,22.0,16.0,14.0,15.0,13.0,12.0,5.0,4.0,5.0,3.0,5.0
6,Kansas,25,26,25,25,25.0,23.0,23.0,25.0,25.0,24.0,22.0,28.0,20.0,7.0,5.0,4.0,4.0,3.0
7,Michigan,8,8,12,18,15.0,15.0,16.0,19.0,15.0,13.0,11.0,11.0,8.0,4.0,2.0,2.0,3.0,1.0

In [7]:
melted_corn_bt = corn_bt.melt(id_vars = "State")
melted_corn_bt.head(5)

      State     1 value
0  Illinois  2000    13
1   Indiana  2000     7
2      Iowa  2000    23
3    Kansas  2000    25
4  Michigan  2000     8

In [9]:
melted_corn_bt.columns = ['State','Year','Value']
melted_corn_bt.head()

      State  Year Value
0  Illinois  2000    13
1   Indiana  2000     7
2      Iowa  2000    23
3    Kansas  2000    25
4  Michigan  2000     8

In [12]:
melted_corn_bt['Crop'] = 'Corn'
melted_corn_bt['Crop Title'] = 'Genetically Engineered (GE) corn'
melted_corn_bt['Variety'] ='Insect-resistant (Bt) only'
melted_corn_bt['Unit'] ='Percentage of all corn planted'
melted_corn_bt = melted_corn_bt[['State','Crop','Crop Title','Variety','Unit','Value']]
melted_corn_bt.head()

,State,Crop,Crop Title,Variety,Unit,Value
0,Illinois,Corn,Genetically Engineered (GE) corn,Insect-resistant (Bt) only,Percentage of all corn planted,13
1,Indiana,Corn,Genetically Engineered (GE) corn,Insect-resistant (Bt) only,Percentage of all corn planted,7
2,Iowa,Corn,Genetically Engineered (GE) corn,Insect-resistant (Bt) only,Percentage of all corn planted,23
3,Kansas,Corn,Genetically Engineered (GE) corn,Insect-resistant (Bt) only,Percentage of all corn planted,25
4,Michigan,Corn,Genetically Engineered (GE) corn,Insect-resistant (Bt) only,Percentage of all corn planted,8

In [37]:
corn_herb = raw_corn.iloc[3:17, 19:37]
corn_herb.columns = raw_corn.iloc[1,19:37]
corn_herb['State'] =raw_corn.iloc[3:17,:1] 


melted_corn_herb = corn_herb.melt(id_vars = "State")
melted_corn_herb.columns = ['State','Year','Value']
melted_corn_herb['Crop'] = 'Corn'
melted_corn_herb['Crop Title'] = 'Genetically Engineered (GE) corn'
melted_corn_herb['Variety'] ='Herbicide-tolerant only'
melted_corn_herb['Unit'] ='Percentage of all corn planted'
melted_corn_herb = melted_corn_herb[['State','Crop','Crop Title','Variety','Unit','Value']]
melted_corn_herb.head()

,State,Crop,Crop Title,Variety,Unit,Value
0,Illinois,Corn,Genetically Engineered (GE) corn,Herbicide-tolerant only,Percentage of all corn planted,3
1,Indiana,Corn,Genetically Engineered (GE) corn,Herbicide-tolerant only,Percentage of all corn planted,4
2,Iowa,Corn,Genetically Engineered (GE) corn,Herbicide-tolerant only,Percentage of all corn planted,5
3,Kansas,Corn,Genetically Engineered (GE) corn,Herbicide-tolerant only,Percentage of all corn planted,7
4,Michigan,Corn,Genetically Engineered (GE) corn,Herbicide-tolerant only,Percentage of all corn planted,4

In [69]:
merged_corn = pd.concat([melted_corn_bt, melted_corn_herb])
merged_corn.head()

,State,Crop,Crop Title,Variety,Unit,Value
0,Illinois,Corn,Genetically Engineered (GE) corn,Insect-resistant (Bt) only,Percentage of all corn planted,13
1,Indiana,Corn,Genetically Engineered (GE) corn,Insect-resistant (Bt) only,Percentage of all corn planted,7
2,Iowa,Corn,Genetically Engineered (GE) corn,Insect-resistant (Bt) only,Percentage of all corn planted,23
3,Kansas,Corn,Genetically Engineered (GE) corn,Insect-resistant (Bt) only,Percentage of all corn planted,25
4,Michigan,Corn,Genetically Engineered (GE) corn,Insect-resistant (Bt) only,Percentage of all corn planted,8

In [74]:
import matplotlib as plt


merged_corn[(merged_corn['State'] == "Iowa") & \
            (merged_corn['Variety'] == "Insect-resistant (Bt) only")]


# merged_corn.iloc[merged_corn['S]= 'Iowa',]

,State,Crop,Crop Title,Variety,Unit,Value
2,Iowa,Corn,Genetically Engineered (GE) corn,Insect-resistant (Bt) only,Percentage of all corn planted,23
16,Iowa,Corn,Genetically Engineered (GE) corn,Insect-resistant (Bt) only,Percentage of all corn planted,25
30,Iowa,Corn,Genetically Engineered (GE) corn,Insect-resistant (Bt) only,Percentage of all corn planted,31
44,Iowa,Corn,Genetically Engineered (GE) corn,Insect-resistant (Bt) only,Percentage of all corn planted,33
58,Iowa,Corn,Genetically Engineered (GE) corn,Insect-resistant (Bt) only,Percentage of all corn planted,36
72,Iowa,Corn,Genetically Engineered (GE) corn,Insect-resistant (Bt) only,Percentage of all corn planted,35
86,Iowa,Corn,Genetically Engineered (GE) corn,Insect-resistant (Bt) only,Percentage of all corn planted,32
100,Iowa,Corn,Genetically Engineered (GE) corn,Insect-resistant (Bt) only,Percentage of all corn planted,22
114,Iowa,Corn,Genetically Engineered (GE) corn,Insect-resistant (Bt) only,Percentage of all corn planted,16
128,Iowa,Corn,Genetically Engineered (GE) corn,Insect-resistant (Bt) only,Percentage of all corn planted,14
142,Iowa,Corn,Genetically Engineered (GE) corn,Insect-resistant (Bt) only,Percentage of all corn planted,15
156,Iowa,Corn,Genetically Engineered (GE) corn,Insect-resistant (Bt) only,Percentage of all corn planted,13
170,Iowa,Corn,Genetically Engineered (GE) corn,Insect-resistant (Bt) only,Percentage of all corn planted,12
184,Iowa,Corn,Genetically Engineered (GE) corn,Insect-resistant (Bt) only,Percentage of all corn planted,5
198,Iowa,Corn,Genetically Engineered (GE) corn,Insect-resistant (Bt) only,Percentage of all corn planted,4
212,Iowa,Corn,Genetically Engineered (GE) corn,Insect-resistant (Bt) only,Percentage of all corn planted,5
226,Iowa,Corn,Genetically Engineered (GE) corn,Insect-resistant (Bt) only,Percentage of all corn planted,3
240,Iowa,Corn,Genetically Engineered (GE) corn,Insect-resistant (Bt) only,Percentage of all corn planted,5